<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Rezwan Islam &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/rezwan/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Rezwan Islam &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</title>
		<link>https://coconet.social/2021/statement-indonesia-mr5/</link>
					<comments>https://coconet.social/2021/statement-indonesia-mr5/#respond</comments>
		
		<dc:creator><![CDATA[Rezwan Islam]]></dc:creator>
		<pubDate>Fri, 11 Jun 2021 07:00:15 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Internet Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=6136</guid>

					<description><![CDATA[<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a statement calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<figure><a href="https://pixabay.com/photos/map-atlas-land-geography-3798132/"><br />
<img src="http://coconet.social/wp-content/uploads/2021/06/image1-1024x683.jpg" sizes="(max-width: 1024px) 100vw, 1024px" alt="" width="1024" height="683" /> </a><figcaption>Image by Michael Gaida from Pixabay. Used under a Pixabay License.</figcaption></figure>
<p>&nbsp;</p>
<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a <a href="https://www.accessnow.org/indonesia-intermediary-liabilities/">statement</a> calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The <a href="https://www.hrw.org/news/2021/05/21/indonesia-suspend-revise-new-internet-regulation">law</a> requires private electronic systems operators (ESOs), which include social media platforms like Facebook, Twitter, and TikTok, to monitor and remove “prohibited content”, as flagged by the Indonesian government. ESOs must also be registered in Indonesia. Failure to <a href="https://www.ifj.org/media-centre/news/detail/category/press-releases/article/indonesia-global-media-organisations-condemn-government-internet-regulation.html">acquire a license</a> from the ministry by December 2021 will lead to the platform being blocked in the country.</p>
<p>“This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship”, the statement reads. The law, which came into effect on December 2 last year with little consultation, is also not clear about what constitutes prohibited content.</p>
<p>Read the full statement below:</p>
<p>&nbsp;</p>
<blockquote><p>May 28, 2021</p>
<p><strong>Dear H.E. Johnny G. Plate,<br />
</strong><strong>Minister of Communication and Information Technology<br />
</strong><strong>Ministry of Communication and Information Technology, Indonesia</strong></p>
<p>We, the undersigned, urge you to repeal Ministerial Regulation 5/2020 (MR5) that is deeply problematic, granting government authorities overly broad powers to regulate online content, access user data, and penalize companies that fail to comply.</p>
<p>MR5 governs all private “electronic systems operators” that are accessible in Indonesia, broadly defined to include social media and other content-sharing platforms, digital marketplaces, search engines, financial services, data processing services, and communications services providing messaging, video calls, or games. This new regulation will affect national and regional digital services and platforms, as well as multinational companies like Google, Facebook, Twitter, and TikTok.</p>
<p>These companies are required to “ensure” that their platform does not contain or facilitate the distribution of “prohibited content”, which implies that they have an obligation to monitor content. Failure to do so can lead to blocking of the entire platform. This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship.</p>
<p>The regulation’s definition of prohibited content is extremely broad, including not only content in violation of Indonesia’s already overly broad laws restricting speech, but also any material “causing public unrest or public disorder” or information on how to provide access to, or actually providing access to, prohibited material. The latter includes Virtual Private Networks (VPNs), which allow a user to access blocked content and are routinely used by businesses and individuals to ensure privacy for lawful activities.</p>
<p>For “urgent” requests, MR5 requires the company to take down content within four hours. For all other prohibited content, they must do so within 24 hours of being notified by the Ministry. If they fail to do so, regulators can block the service or, in the case of service providers that facilitate user-generated content, impose substantial fines.</p>
<p>MR5 obliges every “Private Electronic System Operator” (Private ESO) to register and obtain an ID certificate issued by the Ministry before people in Indonesia start accessing its services or content.</p>
<p>Previously, registration must take place by May 24th, 2021, but later was postponed, based on a press conference held by Samuel Pangerapan as General Director APTIKA (Directorate of Application and Informatics) of Indonesia MICT, to 6 months until the Single Sign-On (SSO) is ready to be implemented.</p>
<p>Under MR5, Kominfo will sanction non-registrants by blocking their services. Those Private ESOs who decide to register must provide information granting access to their “system” and data to ensure effectiveness in the “monitoring and law enforcement process”. If a registered Private ESO disobeyed the MR5 requirements, for example, by failing to provide “direct access” to their systems (Article 7 (c)), it can be punished in various ways, ranging from a first warning, to temporary blocking, to full blocking and a final revocation of its registration.</p>
<p>Based on our analysis, MR5 does not comply with standards, legal theory or principles, but also does not uphold freedom of expression and other human rights.</p>
<p>The substance of MR5 includes the regulation of digital rights, including restrictions. Considering the right to privacy, it is clear that MR5 exceeds the limits given in Law 12/2011, because it is limited to the framework of “administering certain functions in the government”.  MR5 therefore has the potential to violate freedom of expression and other human rights.</p>
<p>The provisions in MR5 are potentially contrary to Article 12 of the Universal Declaration of Human Rights (UDHR) and Article 17 of the International Covenant on Civil and Political Rights (ICCPR), especially the provisions enabling authorities to obtain personal data from Private ESOs. These concerns are compounded by the absence of independent supervision in obtaining access to personal data, and the fact that in practice, personal data is often misused, especially by law enforcement officials.</p>
<p>The three-part test has not been strictly regulated in the legal mechanism in MR5, so practically, this arrangement opens up space for violations of human rights, particularly the right to privacy.</p>
<p>In MR5, the term “Access Termination”, interpreted as meaning both blocking access to the internet and takedown of an account or a social media post, is used 65 times. This has the potential to limit rights and freedoms, and is very likely to interfere with the interests of Private ESOs. Further, the standard of limitation for the termination of access to the internet is not clearly stipulated within MR5, leaving the powers to terminate access open to abuse and disproportionate application. The failure to include an adequate complaints mechanism further compounds concerns that termination of access will be utilised by authorities arbitrarily and excessively.</p>
<p>The phrase “prohibited” in Article 9 paragraphs (3) and (4) actually has a very wide range and its interpretation opens up space for debate, especially if there is a conflict of interest of State Institutions or law enforcement officials. For example, what is meant by “public disturbance”, what is the standard or measure, who has the authority to determine it, and what if the public feels that it is not part of what is called “disturbing the society”?</p>
<p>With regard to Chapter IV, Article 14, regarding requests for termination of access, it is necessary to consider the restriction standards stipulated in Article 19 paragraph (3) of the ICCPR, including considerations of the Human Rights Committee’s General Comment No. 34.</p>
<p>MR5 requires Private ESOs, including social media platforms and other online-based service providers to comply with domestic jurisdiction, both for content and the use of content in daily practice. The legal framework for such obligations weakens the protection of all social media platforms, applications, and other online service providers, especially to accept domestic jurisdiction over user data content and policies and practices. Such a legal framework becomes a repressive instrument that would contradict or even violate human rights.</p>
<p>We call on you to immediately repeal MR5.</p>
<p>Regards,</p>
<p>Access Now (International)</p>
<p>Amnesty International Indonesia (Indonesia)</p>
<p>Alliance of Independent Journalists (Indonesia)</p>
<p>ARTICLE 19</p>
<p>Digital Reach (Thailand)</p>
<p>Electronic Frontier Foundation (International)</p>
<p>EngageMedia (Australia)</p>
<p>ELSAM (Indonesia)</p>
<p>Free Expression Myanmar (Myanmar)</p>
<p>Foundation for Media Alternatives (Philippines)</p>
<p>Greenpeace Indonesia (Indonesia)</p>
<p>Human Rights Watch (International)</p>
<p>Indonesia Corruption Watch (Indonesia)</p>
<p>Indonesia Legal Aid Foundation (Indonesia)</p>
<p>Institute for Criminal Justice Reform (Indonesia)</p>
<p>Komite Perlindungan Jurnalis dan Kebebasan Berekspresi (Indonesia)</p>
<p>LBH Jakarta (Indonesia)</p>
<p>LBH Pers Jakarta (Indonesia)</p>
<p>Manushya Foundation (Thailand)</p>
<p>Open Net Association (South Korea)</p>
<p>Oxen Privacy Tech Foundation (OPTF) (Australia)</p>
<p>Perkumpulan Lintas Feminis Jakarta (Indonesia)</p>
<p>Southeast Asia Freedom of Expression Network (SAFEnet) (Indonesia)</p>
<p>TAPOL (United Kingdom)</p>
<p>Unit Kajian Gender dan Seksualitas LPPSP FISIP UI (Indonesia)</p></blockquote>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/statement-indonesia-mr5/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>The State of the Philippine Digital Nation</title>
		<link>https://coconet.social/2021/philippines-digital-nation/</link>
					<comments>https://coconet.social/2021/philippines-digital-nation/#respond</comments>
		
		<dc:creator><![CDATA[Rezwan Islam]]></dc:creator>
		<pubDate>Fri, 16 Apr 2021 02:33:50 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Nation]]></category>
		<category><![CDATA[Philippines]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5493</guid>

					<description><![CDATA[<p>The Foundation for Media Alternatives, a Coconet community member, has published a new report, “State of the Digital Nation: The Digital Rights Report 2020”, that documents how human rights were impacted by technology and digital innovations in the country. The report is based on findings from January to December 2020.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/philippines-digital-nation/">The State of the Philippine Digital Nation</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><img class="aligncenter size-large wp-image-5494" src="wp-content/uploads/2021/04/State-of-the-digital-nation-1024x719.jpg" alt="State of the Digital Nation: The Digital Rights Report 2020" width="1024" height="719" sizes="(max-width: 1024px) 100vw, 1024px" /></p>
<p>&nbsp;</p>
<p>In the Philippines, activists, students, journalists, and independent media who criticise the government have been increasingly targeted by threats to their human and digital rights.</p>
<p>The Foundation for Media Alternatives, a Coconet community member, has published a new report, “<a href="https://fma.ph/2021/03/31/state-of-the-digital-nation-the-digital-rights-report-2020/">State of the Digital Nation: The Digital Rights Report 2020</a>”, that documents how human rights were impacted by technology and digital innovations in the country. The report is based on findings from January to December 2020.</p>
<p>One of the findings of the report is the &#8220;twin pandemic&#8221;, where the rise of the &#8220;<a href="https://coconet.social/2020/covid-infodemic-asia-pacific/">infodemic</a>&#8220;, or mis- and disinformation about the virus, spreads faster than the virus itself. The Philippine government also censored social media posts critical of its pandemic response.</p>
<p>Other digital rights challenges last year were digital and social media surveillance under the guise of health, the increase of phishing and hacking, and the infringement of minor’s privacy due to the switch to online learning.</p>
<p>The report is divided into the following key thematic areas:</p>
<ul>
<li>Internet Access</li>
<li>Gender and Information and Communications Technologies</li>
<li>Privacy and Data Protection</li>
<li>Freedom of Expression</li>
</ul>
<p>The report also provides a forecast of emerging events and challenges due to technology in 2021.</p>
<p>Download the full report <a href="https://drive.google.com/drive/folders/118xPXx6xtSG7ygPBzYuLshpYx1zSCv-O?usp=sharing">here</a>.</p>
<p>&nbsp;</p>
<p><em>The <a href="https://fma.ph/">Foundation for Media Alternatives</a> assists citizens and communities, especially civil society organisations and other disadvantaged sectors, in the strategic and appropriate use of information and communications technologies for democratisation and popular empowerment.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/philippines-digital-nation/">The State of the Philippine Digital Nation</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/philippines-digital-nation/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
