<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Indonesia Inklusi &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/indonesia-inklusi/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 12 Jun 2020 10:36:58 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Indonesia Inklusi &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Singing about global issues – and COVID-19 – with the Marapu community</title>
		<link>https://coconet.social/2020/indonesia-marapu-song/</link>
					<comments>https://coconet.social/2020/indonesia-marapu-song/#comments</comments>
		
		<dc:creator><![CDATA[Fendi Widianto]]></dc:creator>
		<pubDate>Thu, 21 May 2020 08:18:06 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[#VOICE]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Indonesia Inklusi]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1417</guid>

					<description><![CDATA[<p>Songs in the local language of the Marapu community in East Sumba, Indonesia, have become a bridge for the Marapu community to directly communicate and receive information and relevant health recommendations from the World Health Organisation and national and local governments in a culturally familiar and appropriate context.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-marapu-song/">Singing about global issues – and COVID-19 – with the Marapu community</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><a href="https://indonesiainklusi.id/komunitas/bernyanyi-bersama-marapu"><em><strong>Baca artikel ini dalam bahasa Indonesia</strong></em></a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Amid the current COVID-19 pandemic, health recommendations need to be conveyed to communities in remote areas that are separated both by distance and by the minority languages they speak. One medium that can be used to convey public messages is through <a href="http://www.p2ptm.kemkes.go.id/video-p2ptm/jingle-cerdik-germas">song</a>. If dissemination takes into account local culture, language and context, it is more likely the message will reach the target audience.</p>
<p>Using songs as a communication platform to raise people’s awareness about issues has been a method often employed by the Indonesian government. For instance, songs about <a href="http://promkes.kemkes.go.id/video-animasi---ayo-cuci-tangan-pakai-sabun">the importance of personal hygiene and health</a>, songs about the importance of vaccinations and the danger of illegal drugs have been effectively disseminated to the public in the past.</p>
<p>Indonesia is one of the most multi-lingual nations in the world, with over 700 languages (almost half of which are now considered endangered). Songs sung in the national Indonesian language (Bahasa Indonesia) are not effective in reaching communities where it is not the first language or commonly spoken or understood by the community<em>.</em> Songs that convey a message from the government need to be able to speak to each community in their own local language with consideration to their own local cultural context, using a bottom-up culturally appropriate approach, rather than a top-down blanket nationalistic approach.</p>
<p>This bottom-up strategy can have other positive effects, such as finding contemporary contexts for existing traditional local cultural forms of expression. If this method is supported by central governments it can encourage, facilitate and empower local traditional cultures to be adaptive and rapidly respond to current national/global issues according to their own language and unique cultural context.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-70 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="Jekshon &quot;Rimanya na wiki nda&quot; English subtitles" width="1060" height="596" src="https://www.youtube.com/embed/JusotChD5BU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the COVID-19 pandemic, it has been challenging to widely disseminate health recommendations, particularly to very remote areas. However, this has become an opportunity for Jekshon, a young Marapu man, to meet the challenge by using Sumbanese traditional songs in the Kambera language. Jekshon is not only a singer-songwriter, but also a ritual speaker (<em>wunang</em>), a crafter of traditional musical instruments, and a builder and farmer from Kamanggih in East Sumba, East Nusa Tenggara, Indonesia.</p>
<p>Jekshon thus created a song called <a href="https://www.youtube.com/watch?v=JusotChD5BU"><em>“Rimanya na wiki nda”</em></a> to encourage people, especially in East Sumba, to fight against COVID-19 collectively, by avoiding large crowds, staying home, and practicing personal hygiene. As a result, Jekshon has been invited by local government leaders to perform the song at several official government events and also at local health clinics/hospitals.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: left;">Here are some lyrics from Jekshon&#8217;s song:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style="background-color: #a2d67e;"></div>
<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>Ai kupanawa yia kata ana mbawa mangganya ni na ana nduma lurinda a ai</em></p>
<p style="text-align: center;"><em>E ngiara ningu angu nama wandata lamambabu angu dedi dangunggu a ai</em></p>
<p style="text-align: center;"><em>A ai ambu eti nu katundu njarangu angu ta ana mangganya na nduma luri kinda angu kana rehi napa hangganda a ai</em></p>
<p style="text-align: center;"><em>Kata nguduwa la umakinda angu</em></p>
<p style="text-align: center;"><em>Kata maranawa lapa baha lima kinda angu kata mangganya ni na anna nduma luri a ai</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;">I sing to this song so we all will take care, to protect our lives</p>
<p style="text-align: center;">If someone invites us to an event with a large gathering of people, my brothers and sisters</p>
<p style="text-align: center;">It is a mistake to attend, because we need to protect each other’s lives during this time</p>
<p style="text-align: center;">Let’s just stay at home</p>
<p style="text-align: center;">Let’s diligently wash our hands to protect our health and lives</p>

		</div> 
	</div> </div></div></div></div></div><div class="separator  normal   " style="background-color: #a2d67e;"></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Cultural sustainability through songs</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Supporting and sustaining local cultures in a country as diverse as Indonesia is vital for many reasons including, but not limited to, the following examples: It can renew confidence in marginalised minority communities, it can create opportunities for culturally responsible and sustainable tourism, and it can be readily integrated into educational programs to encourage the inter-generational transmission of cultural knowledge.</p>
<p><a href="https://www.sid-sumba.org/">Sumba Integrated Development (SIDe)</a> is one of the organisations in the <a href="https://indonesiainklusi.id/">Indonesia Inklusi Learning Network</a>, which has initiated a <a href="https://voice.global/grantees/revitalising-traditional-marapu-cultural-assets/">VOICE Empowerment</a> project for the Marapu community in East Sumba. Their project aims to work in collaboration with the Marapu community to organise workshops and local performance events. Their aim is to:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class='q_list circle'></p>
<ul>
<li>Showcase and celebrate the talents and cultural richness of East Sumba</li>
<li>Create initiatives to revitalise endangered forms of music</li>
<li>Facilitate the inter-generational transmission of cultural knowledge</li>
<li>Commission performances for film/audio documentation of songs now only known by the oldest generation</li>
<li>Publish songbooks</li>
<li>Build community-run archives</li>
<li>Commission and distribute traditional music instruments</li>
</ul>
<p></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="661" height="441" src="wp-content/uploads/2020/05/b3b8e084c92bc37c-ATARATUMAINWEBFOTO.jpg" class="vc_single_image-img attachment-full" alt="Indonesia Rimanya na widi nda song" /></div>
			<figcaption class="vc_figure-caption">Jungga, a traditional Sumbanese musical instrument. Photo by Joseph Lamont for SIDe.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Women’s representation is one of the priorities of SIDe’s Marapu community project. This project requires equal participation from women, in a field of traditional music which is generally male-dominated, under the guidance of <a href="https://www.youtube.com/channel/UChO6q6ZANyGT7j6P6RyU6aw">Ata Ratu</a>. Ata Ratu is one of East Sumba’s most beloved female role models and most talented singer-songwriters, and as such, has been appointed by VOICE as a community facilitator for the areas in East Sumba supported by the program.</p>
<p>Younger Marapu girls are supported and guided by Ata Ratu and the female Marapu elders to transfer knowledge about song and dance in order to sustain Marapu traditions. Women’s participation, as an embodiment of gender equity, and inclusivity is critical to the community</p>
<p>Aligning with the vision of Indonesia Inklusi network, SIDe holds the ethical principle of “first voice” to ensure the cultural bearers are empowered and actively collaborate or guide the activities of the program. All the Marapu songs recorded are published using the local language (Kambera) along with Indonesia and English language translations. This is to help to amplify the voices, stories, songs, and the rich culture of the East Sumbanese Marapu community to many other places in the Indonesian and English speaking world.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Like Jekshon, Ata Ratu has also written a song about another important aspect of this pandemic: the inability of stranded populations of migrant workers to return to their home villages because of the travel restrictions due to COVID-19. Ata Ratu directs her song <a href="https://www.youtube.com/watch?v=R38A09-mm8c"><em>“Mbawa Rimangu na annanduma luri mu</em>”</a> to the diaspora of Sumbanese people who have left Sumba to look for work or study opportunities in Bali, Jakarta and Jogjakarta, but can no longer return to Sumba because of the travel restrictions. Many of these Sumbanese people have lost their jobs and are experiencing economic hardship and psychological stress from this situation.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-70 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="Mbawa Rimangu na annanduma luri mu_Ata Ratu_English translation" width="1060" height="596" src="https://www.youtube.com/embed/R38A09-mm8c?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Here are some lyrics from Ata Ratu&#8217;s song:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style="background-color: #a2d67e;"></div>
<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>Aiha dama ni dunjaka angu la kota bali a ai.e angu la jakarta angu ni</em></p>
<p style="text-align: center;"><em>Ai hali nggunya nu mi ana mbawa rimangu nu ha ba ninggai ha la tana tau ma aka nu</em></p>
<p style="text-align: center;"><em>Ai ninda la hidu eti biaka nu bata pamalirungu nu ha rimanya na nduma luri amu ka</em></p>
<p style="text-align: center;"><em>Ai ambu mbawa luangga mai dupa nu ha jiaka ningu nu lambabu ndapngu</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;">My friends who are in Bali and in Jakarta</p>
<p style="text-align: center;">I remember you all and urge that you be careful when travelling, as you are in the land of another people where there is a dangerous situation my friends</p>
<p style="text-align: center;">We are in a state of heartache because we are far apart, please take care of yourself</p>
<p style="text-align: center;">Don&#8217;t go back and forth in a place where there is a large crowd</p>

		</div> 
	</div> </div></div></div></div></div><div class="separator  normal   " style="background-color: #a2d67e;"></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Songs as bridges in the time of COVID-19</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In the East Sumbanese Marapu community, songs are written in traditional poetic couplets called <em>Lawiti.</em> <em>Lawiti </em>comes from the fast-paced ritual speech spoken by priests and ritual speakers (<em>wunang</em>) that accompany all Marapu ritual in Sumba. Sumbanese songwriters, like Jekshon and Ata Ratu, improvise by stringing together appropriate successions of <em>Lawiti</em> spontaneously in line with the specific purpose of a song.</p>
<p>Songs are a common and appropriate medium to disseminate information in the Marapu community. By presenting the current COVID-19 issue to the local community through the medium of the traditional folk song, both Ata Ratu and Jekshon have created a new contemporary context for the traditional songs that is relevant to protecting the health and wellbeing of the East Sumbanese Marapu community and diaspora during this pandemic.</p>
<p>Jekshon’s song was released through his <a href="https://www.youtube.com/channel/UCjpI6JkX01raNuXqxSKA1lg">YouTube channel</a> with help from SIDe. Since then, his video has been viewed more than 700 times in both English and Indonesian translations. Ata Ratu’s song has been viewed over 400 times in 24 hours on her YouTube Channel. These songs have both been distributed from handphone to handphone via Bluetooth sharing, or ‘share it’  (a filesharing application). The audio has been downloaded from YouTube and is being played on the public address systems of local markets around East Sumba. SIDe are also distributing the song via mini SD cards (for handphones)  and flash disks at local market hubs.</p>
<p><a href="https://www.youtube.com/watch?v=JusotChD5BU"><em>“Rimanya na widi nda</em></a><em>” </em>and “<a href="https://www.youtube.com/watch?v=R38A09-mm8c"><em>Mbawa Rimangu na annanduma luri mu</em></a>” have both become a bridge for the Marapu community to directly communicate and receive information and relevant health recommendations from the World Health Organisation and national and local governments in a culturally familiar and appropriate context. These songs show that traditional local culture is an effective medium to communicate current global and domestic issues to minority language communities or any marginalised groups.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Authors</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Fendi Widianto of EngageMedia is a communication enthusiast who is motivated and dedicated to community development, creative participatory development for vulnerable groups (including disability groups and disadvantage children), and youth empowerment.</em></p>
<p><em>Joseph Lamont is an Australian producer, composer and film documenter. Joseph has recently assisted projects supported by the Ciptamedia/Ford Foundation and Voice concerned with supporting female traditional musicians and documenting and sustaining Marapu traditional music in East Sumba, Indonesia.</em></p>
<p><em>This article is inspired by stories and knowledge from Jekshon and Kahi Ata Ratu.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-marapu-song/">Singing about global issues – and COVID-19 – with the Marapu community</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/indonesia-marapu-song/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
	</channel>
</rss>
