<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Mob from Home &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/mob-from-home/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 18 Jun 2020 04:33:42 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Mob from Home &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/</link>
					<comments>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/#comments</comments>
		
		<dc:creator><![CDATA[Chonthicha Jangrew]]></dc:creator>
		<pubDate>Thu, 18 Jun 2020 01:42:58 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Mob from Home]]></category>
		<category><![CDATA[Online Activism]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1524</guid>

					<description><![CDATA[<p>ความหวังที่จะเห็นการเปลี่ยนแปลงทางการเมืองของไทยเริ่มเกิดขึ้นอีกครั้งในช่วงต้นปี 2563 จากการเคลื่อนไหวของคนรุ่นใหม่หลังศาลรัฐธรรมนูญวินิจฉัยยุบพรรคอนาคตใหม่เมื่อวันที่ 21 กุมภาพันธ์ ได้จุดไฟกระแสความไม่พอใจที่มีต่อรัฐบาลของ พล.อ.ประยุทธ์ จันทร์โอชา ที่ดำรงตำแหน่งนายกรัฐมนตรีมาตั้งแต่เหตุการณ์รัฐประหารปี 2557 จนนำไปสู่กระแสกิจกรรมแฟลชม็อบ (Flash mob) ที่ดำเนินไปเป็นไฟลามทุ่งโดยกลุ่มนักศึกษาในหลายสถาบันทั่วประเทศ จากสถิติของศูนย์ทนายความเพื่อสิทธิมนุษยชนที่บันทึกเหตุการณ์ช่วงระหว่างวันที่ 21 กุมภาพันธ์จนถึง 14 มีนาคม 2563 พบว่า มีการจัดกิจกรรมชุมนุมในลักษณะแฟลชม็อบ เพื่อเรียกร้องประชาธิปไตยและต่อต้านเผด็จการอย่างน้อย 79 ครั้งที่เกิดในพื้นที่มหาวิทยาลัยจากทั่วประเทศ</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome/">วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Read this article in <a href="https://coconet.social/2020/thailand-student-online-activism-covid">English</a> | อ่านบทความนี้ใน <a href="https://coconet.social/2020/thailand-student-online-activism-covid">ภาษาอังกฤษ</a></em></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1668" src="wp-content/uploads/2020/06/Thai_1.0-scaled.jpeg" class="vc_single_image-img attachment-full" alt="Thailand Online Protest" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>นักศึกษาจากหลายมหาวิทยาลัยและประชาชนออกมาชุมนุมแสดงความไม่พอใจต่อรัฐบาลที่มหาวิทยาลัยเกษตรศาสตร์ เมื่อวันที่ 29 ก.พ. 2563               </em><em>ภาพถ่ายโดย: ชลธิชา แจ้งเร็ว<br />
</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ความหวังที่จะเห็นการเปลี่ยนแปลงทางการเมืองของไทยเริ่มเกิดขึ้นอีกครั้งในช่วงต้นปี 2563 <a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">จากการเคลื่อนไหวของคนรุ่นใหม่</a>หลังศาลรัฐธรรมนูญวินิจฉัย<a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">ยุบพรรคอนาคตใหม่</a>เมื่อวันที่ 21 กุมภาพันธ์ ได้จุดไฟแห่งความไม่พอใจที่มีต่อรัฐบาลของ พล.อ.ประยุทธ์ จันทร์โอชา ที่ดำรงตำแหน่งนายกรัฐมนตรีมาตั้งแต่เหตุการณ์รัฐประหารปี 2557 จนนำไปสู่กระแสกิจกรรม<a href="https://freedom.ilaw.or.th/node/801">แฟลชม็อบ</a> (Flash mob) ที่ดำเนินไปเป็นไฟลามทุ่งโดยกลุ่มนักศึกษาในหลายสถาบันทั่วประเทศ จาก<a href="https://www.tlhr2014.com/?p=16521">สถิติของศูนย์ทนายความเพื่อสิทธิมนุษยชน</a>ที่บันทึกเหตุการณ์ช่วงระหว่างวันที่ 21 กุมภาพันธ์จนถึง 14 มีนาคม 2563 พบว่า มีการจัดกิจกรรมชุมนุมในลักษณะแฟลชม็อบ เพื่อเรียกร้องประชาธิปไตยและต่อต้านเผด็จการอย่างน้อย 79 ครั้งที่เกิดในพื้นที่มหาวิทยาลัยจากทั่วประเทศ</p>
<p>“คลื่นแห่งการชุมนุมทางการเมือง” ฉายให้เห็นความตื่นตัวทางการเมืองของคนรุ่นใหม่ จนอาจเรียกได้ว่าน่าจะเป็นปรากฏการณ์ “Youthquake” ครั้งใหม่อีกครั้งหนึ่งของการเมืองไทยในรอบหลายปีที่ผ่านมา ทำให้กลุ่มผู้ที่สนับสนุนประชาธิปไตยเริ่มมีหวังว่ากระแสครั้งนี้อาจจะยกระดับไปสู่การชุมนุมประท้วงขับไล่รัฐบาล – ก็เป็นได้</p>
<p>แต่แล้วการเกิดขึ้นของการแพร่ระบาดของโคโรนาไวรัส หรือโควิด-19 ก็ทำให้หลายกิจกรรมต้องหยุดชะงักเพื่อรักษาระยะห่างทางสังคม รวมไปถึงการชุมนุมประท้วงในโลกออฟไลน์ด้วย</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ปรากฏการณ์ new normal กลายเป็นเงื่อนไขใหม่ให้ขบวนการเคลื่อนไหวทางสังคม (social movement) และภาคประชาสังคมไทยจำเป็นต้องปรับตัวให้ทัน เมื่อรัฐบาลไทยเลือกใช้กฎหมาย “ท่าไม้ตาย” ด้วยการประกาศใช้ <a href="https://www.bbc.com/thai/thailand-52014435">พ.ร.ก.ฉุกเฉินฯ</a> ทำให้การชุมนุมสาธารณะกลายเป็นสิ่งต้องห้าม และการเคลื่อนไหวบนโลกออนไลน์จึงกลายเป็นทางเลือกที่สำคัญของการเคลื่อนไหวของนักศึกษา แต่ขณะเดียวกันมาตรการควบคุมกิจกรรมบนโลกออนไลน์ของรัฐบาลก็เข้มข้นขึ้นภายใต้เงื่อนไขการควบคุมการแพร่ระบาดของโควิดด้วยเช่นกัน ส่งผลต่อการจำกัดเสรีภาพในการแสดงออกบนโลกออนไลน์ และล่าสุดกับความคืบหน้าของการตั้งกองบัญชาการปราบปรามการกระทำความผิดเกี่ยวกับอาชญากรรมทางเทคโนโลยี สังกัดสำนักงานตำรวจแห่งชาติ หรือเรียกว่า “<a href="https://prachatai.com/journal/2020/05/87863">ตำรวจไซเบอร์</a>” ซึ่งอาจกลายเป็น “ตำรวจทางความคิด” ที่คอยสอดส่องประชาชนบนโลกออนไลน์</p>
<p>หนึ่งในเครื่องมือของรัฐคือ การทำงานของ “<a href="https://www.antifakenewscenter.com/">ศูนย์ต่อต้านข่าวปลอม</a>” และการบังคับใช้กฎหมาย <a href="https://ilaw.or.th/node/4901">พ.ร.บ.คอมพิวเตอร์ฯ</a> ซึ่งมักถูกนำมาใช้เป็นเครื่องมือปิดปากประชาชนที่มีความเห็นต่างจากรัฐ และใช้ควบคุมการเผยแพร่ข้อมูลข่าวสารของประชาชนในช่วงสถานการณ์โควิด เช่นในเมื่อเดือนมีนาคม 2563 <a href="https://www.tlhr2014.com/?p=16625">นายดนัย อุศมา</a> ศิลปินชาวภูเก็ตซึ่งถูกเจ้าหน้าที่ตำรวจจับกุมแจ้งข้อกล่าวหาว่ามีการกระทำความผิด โดยการนำเข้าข้อมูลอันเป็นเท็จตาม พ.ร.บ.คอมพิวเตอร์ฯ หลังจากที่เขาโพสต์ข้อความว่าตนเองได้เดินทางกลับจากประเทศสเปนเข้าสู่ประเทศไทยผ่านทางสนามบินสุวรรณภูมิซึ่งไม่มีการคัดกรองตรวจผู้โดยสารที่มีโอกาสติดเชื้อไวรัสโควิด-19</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;Mainland Southeast Asia is now creating a zone where no activist or dissident can feel safe. For many leaving the region entirely might now be the only safe option.&quot; For <a href="https://twitter.com/Diplomat_APAC?ref_src=twsrc%5Etfw">@Diplomat_APAC</a> on disappearance of Wanchalearm Satsaksit in Cambodia <a href="https://twitter.com/hashtag/SaveWanchalearm?src=hash&amp;ref_src=twsrc%5Etfw">#SaveWanchalearm</a> <a href="https://t.co/tOSNSatqud">https://t.co/tOSNSatqud</a></p>&mdash; David Hutt (@davidhuttjourno) <a href="https://twitter.com/davidhuttjourno/status/1271032765228765185?ref_src=twsrc%5Etfw">June 11, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>กระแสความไม่พอใจต่อรัฐบาลกลายเป็นกระแสไฟที่โหมหนักต่อเนื่อง หลังจากเกิดเหตุ<a href="https://www.hrw.org/news/2020/06/05/cambodia-thai-activist-abducted-phnom-penh">การอุ้มหายของนายวันเฉลิม สัตย์ศักดิ์สิทธิ์</a> ผู้ลี้ภัยไทยในกัมพูชาเมื่อวันที่ 4 มิถุนายนที่ผ่านมา ทำให้ <a href="https://www.prachachat.net/politics/news-473712">#SaveWanchalearm</a> มีการ<a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">รีทวีตกว่า </a><a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">400,000</a> ครั้งภายหลังการหายตัวไปของเขา ขณะที่ผู้คนที่ออกมาร่วมการแสดงสัญลักษณ์เรียกร้องความเป็นธรรมในโลกออฟไลน์กลับได้รับหมายเรียกจากเจ้าหน้าที่ตำรวจให้เข้ารับทราบ<a href="https://prachatai.com/english/node/8590">ข้อกล่าวหาฝ่าฝืน พ.ร.ก.ฉุกเฉินฯ</a></p>
<p>แต่ไม่ว่าต้องเผชิญความท้าทายในการเคลื่อนไหวทางการเมืองอย่างไร นั่นก็ไม่ได้ทำให้การแสดงออกความไม่พอใจที่มีต่อรัฐบาลจะเงียบหายไปในยุคโควิค เมื่อการชุมนุมบนท้องถนนยังถูกจำกัด “การประท้วงออนไลน์” จึงส่งเสียงดังขึ้นและร้อนแรงกว่าที่เคยเป็นมา</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3># แฮชแท็กการเมือง: กระแส “แฟลชม็อบออนไลน์” ในทวิตภพ</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ที่ผ่านมา หากเราพูดถึงการชุมนุม ก็มักจะเห็นภาพการมารวมตัวกันของผู้คนในสถานที่ต่างๆ แต่เมื่อเข้าสู่ยุคที่มีการแพร่ระบาดของโควิด รูปแบบการประท้วงแบบแฟลชม็อบจึงย้ายมาอยู่ในแพลตฟอร์มออนไลน์แทน</p>
<p><a href="https://www.bangkokpost.com/thailand/politics/1817299/from-tweet-to-street-new-thai-generation-joins-protest">ทวิตเตอร์</a> กลายเป็นพื้นที่สำคัญแห่งการใช้เสรีภาพในการแสดงออกของกลุ่มคนรุ่นใหม่ เพื่อสะท้อนความคิดเห็นที่มีต่อประเด็นทางการเมืองในวันที่พื้นที่สาธารณะอื่นถูกปิดกั้น ด้วยลักษณะเฉพาะตัวของแพลตฟอร์มทวิตเตอร์ที่ผู้ใช้สามารถเป็นเจ้าของได้หลายแอคเค้าท์ ต้นทุนในการใช้ต่ำ และให้ความรู้สึกของการเป็น “นิรนาม” มากกว่าแพลตฟอร์มกระแสหลักอื่นในประเทศไทย ทำให้ตอบโจทย์กลุ่มคนรุ่นใหม่ที่ต้องการ<a href="https://www.reuters.com/article/us-health-coronavirus-thailand-monarchy/coronavirus-pandemic-prompts-rare-questioning-of-thai-monarchy-idUSKBN21918F">แสดงออกความคิดเห็นในประเด็นอ่อนไหวและสุ่มเสี่ยง</a>ที่จะพูดได้ในบริบทประเทศไทย</p>
<p>&#8220;ทวิตภพ&#8221; จึงกลายเป็นพื้นที่ใหม่ของการต่อสู้ทางความคิดที่เปิดโอกาสให้กลุ่มผู้ใช้งานได้แสดงความคิดเห็นในหลายประเด็นและบางประเด็นแทบจะไม่เคยได้ปรากฏหรือพูดถึงในพื้นที่สาธารณะอื่นมาก่อนในเมืองไทย</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="th" dir="ltr">&quot;โควิดหายมาไล่รัฐบาลกันไหม?&quot;<br><br>สหภาพนักเรียน นิสิต นักศึกษาแห่งประเทศไทย - Student Union of Thailand ได้โพสต์ภาพพร้อมข้อความ ระบุว่า สนท. ขอเชิญชวนชาวไทยทุกคนร่วมประท้วงออนไลน์โดยการถ่ายรูปถือป้ายแสดงความรู้สึกต่อรัฐบาลพร้อมติด <a href="https://twitter.com/hashtag/MobFromHome?src=hash&amp;ref_src=twsrc%5Etfw">#MobFromHome</a> <a href="https://t.co/n0MKKlSz6O">https://t.co/n0MKKlSz6O</a></p>&mdash; 𝙣𝙤𝙞𝙧 . (@noirisaesthetic) <a href="https://twitter.com/noirisaesthetic/status/1253722418788438017?ref_src=twsrc%5Etfw">April 24, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>การใช้แฮชแท็ก # เป็นหนึ่งในฟังก์ชั่นสำคัญที่ถูกนำมาใช้สร้างพื้นที่การชุมนุมออนไลน์ เพราะช่วยให้การแลกเปลี่ยนความคิดเห็นทางการเมืองและการรวมตัวของกลุ่มคนที่คิดเห็นคล้ายกันนั้นเป็นไปได้ง่ายขึ้น หนึ่งในข้อสังเกตที่พบคือ สิ่งที่เปลี่ยนแปลงไปในยุคแห่งความขัดแย้งทางการเมืองไทยในรอบสิบปีที่ผ่านมา คือการพูดคุยประเด็นทางการเมืองกลายเป็นเรื่องกระแสหลักในปัจจุบัน กลุ่มคนรุ่นใหม่ออกมาแสดงออกทางการเมืองมากขึ้น และแฮชแท็กว่าด้วยประเด็นการเมืองและความเป็นไม่ธรรมในสังคมพุ่งติดเทรนด์ยอดนิยมอันดับหนึ่งหลายเรื่องในช่วงปีที่ผ่านมา</p>
<p>หนึ่งในกระแสแฮชแท็กที่สำคัญในช่วงสถานการณ์โควิด-19 คือ กระแส <a href="https://www.bbc.com/thai/thailand-52265031">#nnevvy</a> ที่ติดเทรนด์ทวิตเตอร์อันดับหนึ่งของไทยและกลายเป็นกระแสดราม่าระหว่างประเทศไปแล้ว หลังจากนักแสดงหนุ่มไทย วชิรวิชญ์ ชีวอารี หรือ “ไบร์ท” จากซีรีส์เพราะเราคู่กัน 2gether The Series ที่กำลังโด่งดังในประเทศจีนได้รีทวีตโพสต์หนึ่ง พร้อมแคปชันที่เรียกฮ่องกงว่า “ประเทศ” ส่งผลให้แฟนคลับจีนรุมแสดงความคิดเห็นโจมตีไบร์ท แต่กระแสโต้กลับโดยชาวทวิตเตอร์ไทยได้ออกมาปกป้องและโต้เถียงกับคนจีน จนขยายไปสู่กลุ่มผู้ใช้ทวิตเตอร์ชาวฮ่องกงและไต้หวัน จนกลายเป็นวลี &#8220;<a href="https://www.telegraph.co.uk/news/2020/05/03/milkteaalliance-new-asian-youth-movement-battles-chinese-trolls/">พันธมิตรชานม</a>&#8221; #MilkTeaAlliance #ชานมเข้มข้นกว่าเลือด ขยายประเด็นสู่การถกเถียงเรื่องการเมืองการปกครองภายในประเทศ</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://www.reuters.com/article/us-thailand-china-internet/insta-star-wars-china-tensions-in-southeast-asia-flare-online-idUSKCN21W11P">Reuters</a> ระบุถึงประเด็นแฮชแท็กนี้ทำให้กลุ่มสนับสนุนประชาธิปไตยจับมือกันร่วมต่อต้านนักรบไซเบอร์ที่สนับสนุนรัฐบาลจีน ขณะที่ทาง “<a href="https://twitter.com/joshuawongcf/status/1249254158538072064">โจชัว หว่อง</a>” นักเคลื่อนไหวเพื่อประชาธิปไตยชาวฮ่องกง โพสต์ภาพถ่ายซีรีย์ของนักแสดงหนุ่มพร้อมข้อความว่า<em> ฮ่องกงยืนเคียงข้างเพื่อนชาวไทยผู้รักในเสรีภาพ ต่อต้านการรังแกจากจีน และตั้งความหวังถึงขั้นสร้างพันธมิตรในเอเชียเพื่อต่อต้านลัทธิเผด็จการ</em></p>
<p>ในช่วงสถานการณ์การแพร่ระบาดโควิดและอำนาจของ พ.ร.ก.ฉุกเฉิน ได้จำกัดการจัดกิจกรรมต่างๆ และบรรยากาศการรวมตัวชุมนุมของนักศึกษาจึงได้ชะลอตัวไป ทำให้ทางฝั่ง<a href="https://www.facebook.com/studentunion.thailand/">สหภาพนักเรียน นิสิต นักศึกษาแห่งประเทศไทย (สนท.)</a> เสนอไอเดียแคมเปญออนไลน์เชิญชวนคนไทยให้ร่วมกัน <em>“ประท้วงจากบ้าน”</em> ด้วยการแชร์ภาพหรือถือป้ายข้อความแสดงความรู้สึกไม่พอใจที่มีต่อการทำงานของรัฐบาล พร้อมติดแฮชแท็ก <a href="https://www.dailynews.co.th/regional/771073">#MobFromHome</a> จนแฮชแท็กนี้ขึ้นติดเทรนด์อันดับหนึ่งในทวิตเตอร์ประเทศไทย</p>
<p>จากการชวนตั้งแฮชแท็กเพื่อสื่อสารถึงประะเด็นทางการเมืองและรวมไปถึงบางประเด็นที่อ่อนไหวได้กลายเป็นกระแสหลักเพื่อแสดงพลังการแสดงออกแบบรวมหมู่ (collective action) และบางแฮชแท็กในทวิตเตอร์ใด้กลายเป็นประเด็นถกเถียงอย่างร้อนแรงในแบบที่ไม่เคยเกิดขึ้นมาก่อนในประเทศไทย</p>
<p>นอกจากการใช้ # ในการสร้างพื้นที่ชุมนุมออนไลน์แล้วนั้น อีกวิธีการหนึ่งที่สังเกตเห็นจากปรากฏการณ์ของคำว่า <em>“ทัวร์ลง” </em>มักจะถูกหยิบยกมาอธิบายรูปแบบกิจกรรมออนไลน์ที่เชิญชวนผู้ติดตามในแอคเค้าท์ของตน เข้าไปรุมแสดงความคิดเห็นหรือวิพากษ์วิจารณ์โพสต์นั้นๆ เพราะเมื่อฝ่ายรัฐบาลมีทีม<a href="https://www.bbc.com/thai/thailand-51633675">หน่วยปฏิบัติการข่าวสาร</a> หรือ Information Operation (IO) คอยจับตาและมุ่งแสดงความคิดเห็นโจมตีกลุ่มผู้ที่เห็นต่างจากรัฐบาล ฝ่ายนักกิจกรรมประชาธิปไตยก็จำเป็นต้องพยายามหายุทธวิธีต่างๆ ในลักษณะ “ทัวร์ลง” เพื่อเรียกระดมแนวร่วมสาธารณะให้ไปช่วยกันโต้กลับด้วยข้อมูลในโพสต์นั้นๆ</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1920" src="wp-content/uploads/2020/06/Thai-Protest-2-scaled.jpeg" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>นิสิตจากมหาวิทยาลัยศรีนครินทรวิโรฒ ประสานมิตร จัดกิจกรรมแฟลชม็อบแสดงออกทางการเมืองเมื่อวันที่ 26 ก.พ. 2563 ภาพถ่ายโดย: ชลธิชา แจ้งเร็ว</p>
<p style="text-align: center;"><em> </em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>เมื่อ &#8216;ความเป็นส่วนตัว&#8217; เป็นเทรนด์ของคนรุ่นใหม่ แพลตฟอร์มไหนจะตอบโจทย์ขบวนการเคลื่อนไหว</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เมื่อทวิตเตอร์กลายเป็นพื้นที่ทำกิจกรรมทางสังคมออนไลน์ที่ได้รับความนิยมมากขึ้นในประเทศไทย และได้มีความเคลื่อนไหวสำคัญเกิดขึ้นคือเมื่อวันที่ 13 พฤษภาคมที่ผ่านมา หลังจากการประกาศเปิดตัวบัญชีทางการของ &#8220;ทวิตเตอร์ประจำประเทศไทย&#8221; หรือ @TwitterThailand ด้วยข้อความ &#8220;สวัสดีครับ ประเทศไทย!&#8221; ต่อมาไม่นานเมื่อทวิตเตอร์ได้ประกาศเปลี่ยนแปลง<a href="https://www.bbc.com/thai/52663959">นโยบายความเป็นส่วนตัว</a>เมื่อวันที่ 19 พฤษภาคม เพื่อแจ้งเรื่องการแชร์ข้อมูลของผู้ใช้งานให้กับ &#8220;พาร์ทเนอร์&#8221; โดยจะมีการแชร์ข้อมูลระดับอุปกรณ์ของผู้ใช้ คือ IP address เพื่อปรับปรุงพัฒนาโฆษณาให้เหมาะกับผู้ใช้มากขึ้น</p>
<p>จากความเคลื่อนไหวดังกล่าว จึงตามมาด้วยกระแสต่อต้านผ่านแฮชแท็ก #ไม่เอาทวิตเตอร์ไทยแลนด์ (<a href="https://twitter.com/search?q=%23NoTwitterThailand&amp;src=typed_query">#NoTwitterThailand</a>) ขึ้นเทรนด์อันดับหนึ่ง เพราะชาวทวิตเตอร์ไทยได้ตั้งข้อสังเกตว่า นี่อาจเป็นส่วนหนึ่งของการสอดส่องพฤติกรรมประชาชนและควบคุมเสรีภาพในการแสดงออกของประชาชนบนโลกออนไลน์โดยรัฐบาลไทย หลังจาก<a href="https://twitter.com/BeePunnakanta/status/1227457580299096064?s=20">นายพุทธิพงษ์ ปุณณกันต์</a> รมว.กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม ได้ทวีตข้อความว่า ตนเพิ่งได้หารือกับผู้บริหารของทวิตเตอร์ประจำสิงคโปร์ ในประเด็นการต่อต้านข่าวปลอมและเนื้อหาที่มีความรุนแรง เป็นเหตุให้กลุ่มผู้ใช้งานส่วนหนึ่งแสดงความไม่ไว้ใจต่อการทำงานของทวิตเตอร์ที่อาจจะไม่ได้ให้หลักประกันทั้งเรื่อง “ความเป็นส่วนตัว&#8221; และ &#8220;ความปลอดภัย&#8221; แก่ผู้ใช้งานในประเทศไทยได้</p>
<p>ประเด็นดังกล่าวได้เป็นเหตุให้ผู้ใช้งานทวิตเตอร์บางกลุ่มเริ่มชักชวนกันย้ายไปใช้งาน “แพลตฟอร์มทางเลือก” ที่เป็นโอเพนซอร์ซอย่างเช่น “<a href="http://www.voicetv.co.th/read/QFFOiCT73">Minds</a>” ที่เน้นเรื่องความเป็นส่วนตัวและและเสรีภาพบนโลกอินเตอร์เน็ต เช่นเดียวกับ<a href="https://twitter.com/Fringer/status/1263260715474808833?s=20">สฤณี อาชวานันทกุล</a> ได้ทวีตข้อความ <em>“ลาก่อนทวิตเตอร์ ไปเจอกันที่ </em><em>Minds” </em>ล่าสุดทางแพลตฟอร์ม <a href="https://www.minds.com/newsfeed/1111398298334855168">Minds</a> ได้ออกมาประกาศว่า ตอนนี้ได้รองรับการใช้งานภาษาไทยเรียบร้อยแล้ว</p>
<p>เมื่อเกิดกระแสความไม่ไว้ใจทวิตเตอร์ จึงชวนให้คิดต่อว่า แล้วรูปแบบของการเคลื่อนไหวทางสังคมผ่านแพลตฟอร์มออนไลน์ในอนาคตจะเป็นอย่างไร เมื่อกลุ่มคนรุ่นใหม่เริ่มให้ความสำคัญกับความเป็นส่วนตัวและความปลอดภัยของการใช้งานแพลตฟอร์ม ขณะเดียวกันเงื่อนไขของการขับเคลื่อนทางสังคมจำเป็นต้องอาศัยโซเชียลเน็ตเวิร์คที่มีผู้ใช้จำนวนมากพอจะส่งเสียงให้เกิดการเปลี่ยนแปลงขึ้น และคำถามที่เป็นโจทย์ใหญ่กว่านั้นคือ รูปแบบการจัดกิจกรรมแฟลชม็อบ หรือลักษณะการชุมนุมแบบไม่ยืดเยื้อ ทั้งในโลกออฟไลน์และออนไลน์ จะนำไปสู่การขับเคลื่อนประเด็นทางสังคมที่มีอยู่อย่างหลากหลายได้อย่างไร เพื่อผลักดันไปสู่ความเปลี่ยนแปลงที่พวกเราฝันไว้</p>
<p>อาจจะเป็นคำถามที่ตอบยากด้วยคนเพียงกลุ่มเดียวในสังคม แต่คำตอบที่เห็นชัดแล้วคือ <em>“กลุ่มคนรุ่นใหม่ได้ตื่นตัวทางการเมืองแล้ว”</em> ในฐานะพลังสำคัญที่น่าจับตามอง อยู่ที่ว่าหลังจากนี้ เราจะกำหนดทิศทางการเคลื่อนไหวเพื่อผลักดันความตื่นตัวในรูปแบบที่เป็นอยู่ จนนำไปสู่การเปลี่ยนแปลงทางการเมืองเชิงโครงสร้างโดยรวมให้สำเร็จได้อย่างไร</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>ชลธิชา แจ้งเร็ว (ลูกเกด) ผู้ร่วมก่อตั้งกลุ่มฟื้นฟูประชาธิปไตย (DRG) เธอเป็นนักกิจกรรมด้านประชาธิปไตยและสิทธิมนุษยชน โดยเริ่มทำงานเพื่อส่งเสริมเสรีภาพในการแสดงออกและเสรีภาพในการชุมนุมในประเทศไทยตั้งแต่ภายหลังการทำรัฐประหารของคณะรักษาความสงบแห่งชาติ (คสช.) 2557</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome/">วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
