<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>coconetadmin &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/coconetadmin/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 10 Sep 2020 08:04:18 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>coconetadmin &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Drop charges against students protesting the Myanmar internet shutdown</title>
		<link>https://coconet.social/2020/myanmar-statement-students/</link>
					<comments>https://coconet.social/2020/myanmar-statement-students/#respond</comments>
		
		<dc:creator><![CDATA[coconetadmin]]></dc:creator>
		<pubDate>Thu, 03 Sep 2020 05:34:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Freedom of Expression]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3122</guid>

					<description><![CDATA[<p>Maung Saungkha and Kyaw Lynn are members of the Coconet community. Prior to his July 27 sentencing, Kyaw Lynn had published on Coconet.social articles on how the Myanmar internet shutdown is contributing to the COVID-19 pandemic and the government’s attempts to censor information on the Arakan (Rakhine) conflicts. Both members were arrested for participating in protests against the internet shutdown in Rakhine and Chin states, currently the longest shutdown in the world.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-students/">Statement: Drop charges against students protesting the Myanmar internet shutdown</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><i>The following article is a republication of the September 2, 2020 </i><a href="https://www.hrw.org/news/2020/09/02/myanmar-drop-charge-against-activist-poet"><i>joint statement</i></a><i> from seven international human rights organisations calling to drop the charges against activist Maung Saungkha, who is expecting a court verdict tomorrow, September 4.</i></p>
<p><i>Maung Saungkha and Kyaw Lynn are members of the Coconet community. Prior to his July 27 sentencing, Kyaw Lynn had published on Coconet.social articles on </i><a href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/"><i>how the Myanmar internet shutdown is contributing to the COVID-19 pandemic</i></a><i> and </i><a href="https://coconet.social/2020/myanmar-internet-media-censorship/"><i>the government’s attempts to censor information on the Arakan (Rakhine) conflicts</i></a><i>. Both members were arrested for participating in protests against the internet shutdown in Rakhine and Chin states, currently the </i><a href="https://coconet.social/2020/anniversary-myanmar-internet-shutdown/"><i>longest shutdown</i></a><i> in the world.</i></p>
<p><i>The statement was originally posted on the Human Rights Watch website and is being shared under the </i><a href="https://www.hrw.org/permissions#2"><i>Creative Commons BY-NC-ND 3.0 US license</i></a><i>. </i></p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p>The <a href="https://www.hrw.org/asia/myanmar-burma">Myanmar</a> authorities should immediately drop the charge against the free-speech activist and poet Maung Saungkha, seven international human rights organizations said today. Police in Yangon charged him on July 7, 2020 with organizing a protest demanding an end to internet restrictions in conflict-affected Rakhine and Chin States. A court verdict is expected on September 4.</p>
<p>The authorities accused Maung Saungkha of hanging a banner reading, “Is the internet being shut down to hide war crimes and killing people?” from an overpass in downtown Yangon on June 21. He faces up to three months in jail and a fine for unauthorized protests under section 19 of the Peaceful Assembly and Peaceful Procession Law. June 21 was the one-year anniversary of mobile internet shutdowns in parts of Rakhine and Chin States.</p>
<p>“The charges against Maung Saungkha are just the latest example of the Myanmar government’s intolerance of critical speech and peaceful protest,” said Shamini Darshni Kaliemuthu, executive director at FORUM-ASIA. “Instead of prosecuting those peacefully protesting the year-long internet shutdown in Rakhine and Chin States, the authorities should uphold free expression rights by ending the shutdown.”</p>
<p>The international human rights groups are Access Now, Amnesty International, Article 19, Asian Forum for Human Rights and Development (FORUM-ASIA), Civil Rights Defenders, Fortify Rights, and Human Rights Watch.</p>
<p>The current National League for Democracy-led government, which took office in April 2016, has increasingly restricted the rights to freedom of expression and peaceful protest.</p>
<p>On July 27, a court sentenced two student leaders, Myat Hein Tun and Kyaw Lin, to one month each in Yangon’s Insein Prison for failing to give advance notice of a protest on February 23 in Kamaryut township in Yangon. During the protest, the students demanded that the government immediately lift internet restrictions in Rakhine and Chin States and called for accountability of those responsible for the Myanmar military’s alleged shelling of a primary school in Buthidaung township in Rakhine State that had injured 21 students.</p>
<p>On March 25, the court had sentenced seven other students who participated in the protest to one month in prison each with hard labor. All nine students were sentenced under the Peaceful Assembly and Peaceful Procession Law.</p>
<p>The Peaceful Procession and Peaceful Assembly Law imposes criminal penalties for failing to provide advance notice for an assembly or to comply with broadly worded restrictions on speech and actions at assemblies. The restrictions are contrary to <a href="https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftbinternet.ohchr.org%2F_layouts%2F15%2Ftreatybodyexternal%2FDownload.aspx%3Fsymbolno%3DCCPR%252fC%252fGC%252f37%26Lang%3Den&amp;data=02%7C01%7Cmaungm%40hrw.org%7Cc535c6ba3d0a44a9748f08d84a174022%7C2eb79de4d8044273a6e64b3188855f66%7C1%7C0%7C637340811024659838&amp;sdata=kUqwfb3BPQlS9T6XWBrfMs2LH4fLOWAQ0H5bbzuLKF8%3D&amp;reserved=0">international human rights</a> law, which prohibits criminal penalties for organizing or participating in a peaceful assembly. Imposing prison sentences is particularly harsh in the context of the <a href="https://www.hrw.org/tag/coronavirus">Covid-19</a> pandemic, when overcrowded and unsanitary prison conditions could facilitate its transmission.</p>
<p>The ongoing mobile internet shutdown in seven townships in Rakhine State and one township in Chin State also <a href="https://ap.ohchr.org/documents/dpage_e.aspx?si=A/HRC/RES/38/7">violates</a> international<a href="https://www.ohchr.org/EN/NewsEvents/Pages/DisplayNews.aspx?NewsID=25572&amp;LangID=E"> human rights law,</a> which requires any internet-based restrictions on communities to be <a href="https://www2.ohchr.org/english/bodies/hrc/docs/gc34.pdf">necessary and proportionate</a>. The government first imposed restrictions in nine townships in June 2019, only permitting voice calls and text messages, also known as SMS. The restrictions were temporarily lifted in some areas on September 1, 2019, but the government re-imposed the restrictions on February 3. They were removed in Maungdaw township on May 2, leaving eight townships still under restrictions.</p>
<p>The shutdown enters its second year amid heightened fighting between the Arakan Army, an ethnic Rakhine armed group, and the Myanmar military. Although the Ministry of Transport and Communications announced on June 23 that internet restrictions were <a href="https://www.mmtimes.com/news/myanmar-govt-may-end-rakhine-internet-blackout-august.html">provisionally extended only through August 1</a>, 3G and 4G services remain blocked, with only 2G data networks available. The 2G speed is drastically slower and does not allow services such as videocalls, emails, or access to webpages with photos or videos. Restoring full internet access has taken on even more urgency ever since a fresh outbreak of local Covid-19 transmission cases in the State since mid-August.</p>
<p>On August 1, the Norwegian mobile telecommunications provider, Telenor, issued a <a href="https://www.telenor.com/network-restrictions-in-myanmar-1-august-2020/?fbclid=IwAR39NCGBJzscOrFhqgMutccRH7v1vVMmJa7GEI9TfpGRYyAazq0aY4Bf0ZY">media release</a> stating that the Ministry of Transport and Communications had directed all mobile operators to extend internet restrictions on 3G and 4G mobile data services in the eight townships until October 31. Telenor expressed deep concern regarding the lack of “meaningful internet services, and for the impact on civilians.”</p>
<p>The Myanmar authorities have also ordered websites of independent and ethnic news media blocked, along with many other sites. The internet restrictions were imposed under section 77 of the Telecommunications Law, which grants the Myanmar authorities broad and arbitrary powers to suspend telecommunications networks. The government had <a href="https://www.hrw.org/node/338861/printable/print">cited</a> a “security requirement and public interest” in its order to telecom companies to reimpose the restrictions, and later <a href="https://www.mofa.gov.mm/statement-on-the-temporary-internet-suspension-in-rakhine-and-southern-chin-states/">cited</a> an escalation in fighting to continue them. The government also offered other rationales including concerns about <a href="https://www.rfa.org/english/news/myanmar/ban-06232020164951.html">hate speech</a>, nationalist sentiment, <a href="https://www.irrawaddy.com/news/burma/myanmar-military-rakhine-internet-blackout-still-required-protect-military-secrets.html">disinformation</a>, the Arakan Army using mobile internet to detonate IEDs and landmines, and “military secrets” online.</p>
<p>The Myanmar authorities should drop the charges against Maung Saungkha and quash the convictions against the nine student activists, the groups said. The government should repeal or amend all repressive laws, including the Telecommunications Law and the Peaceful Assembly and Peaceful Procession Law, which violate the rights to freedom of expression and peaceful assembly.</p>
<p>“Myanmar’s government should restore full internet to the eight townships in Rakhine and Chin States,” said Matthew Bugher, head of Asia Programme, at Article 19. “The lack of meaningful communications or information-sharing capabilities poses further threats to people trapped by fighting amid the Covid-19 pandemic.”</p>
<p>This joint statement is endorsed by:</p>
<ol>
<li>Access Now</li>
<li>Amnesty International</li>
<li>Article 19</li>
<li>Asian Forum for Human Rights and Development (FORUM-ASIA)</li>
<li>Civil Rights Defenders</li>
<li>Fortify Rights</li>
<li>Human Rights Watch</li>
</ol>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-students/">Statement: Drop charges against students protesting the Myanmar internet shutdown</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-statement-students/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>World Press Freedom Day: How can civil society support journalists?</title>
		<link>https://coconet.social/2020/press-freedom-civil-society/</link>
					<comments>https://coconet.social/2020/press-freedom-civil-society/#respond</comments>
		
		<dc:creator><![CDATA[coconetadmin]]></dc:creator>
		<pubDate>Sun, 03 May 2020 07:34:42 +0000</pubDate>
				<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Disinformation]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<category><![CDATA[Censorship]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1323</guid>

					<description><![CDATA[<p>May 3 marks World Press Freedom Day, a day to commemorate the importance of freedom of the press. This year's theme, "journalism without fear or favour", is particularly apt considering the world today, when reporting on the coronavirus has become "the new scapegoat for media censorship".</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/press-freedom-civil-society/">World Press Freedom Day: How can civil society support journalists?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>May 3 marks <em><strong><a href="https://en.unesco.org/sites/default/files/unesco_covid_brief_en.pdf">World Press Freedom Day</a></strong></em>, a day to commemorate the importance of freedom of the press.</p>
<p>This year&#8217;s theme, &#8220;<em><strong>journalism without fear or favour</strong></em>&#8220;, is particularly apt considering the world today, when reporting on the coronavirus has become &#8220;<a href="https://www.voanews.com/press-freedom/coronavirus-new-scapegoat-media-censorship-rights-groups-say">the new scapegoat for media censorship</a>&#8220;. Around the world, journalists <a href="https://www.theguardian.com/world/2020/mar/01/li-zehuajournalist-wouldnt-stay-quiet-covid-19-coronavirus">have gone missing</a> or <a href="https://www.amnesty.org.uk/urgent-actions/journalist-reporting-covid-19-jailed">have been arrested</a> for reporting on COVID-19 and government responses to the pandemic. On top of these events, journalists are also combatting the equally contagious <a href="https://coconet.social/2020/covid-infodemic-asia-pacific/">infodemic</a> and governments&#8217; strategy of <a href="https://en.unesco.org/sites/default/files/unesco_infocus_mediaindependence.pdf">media capture</a> to stifle editorial independence.</p>
<p>Despite new challenges in covering issues of public interest during the pandemic, journalists continue to persevere in reporting news that matters, without fear or favour, by adapting to the &#8220;new normal&#8221; through using more digital means to pursue leads and stories. They press on despite attacks on press freedom, harassment, scarce access to government information, and other challenges. With this, support and advocacy related to journalists and media freedom should be sustained during and after the pandemic.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In celebration of World Press Freedom Day, we shine the spotlight on the Coconet community&#8217;s journalists and media workers who are working in the Asia-Pacific.  We asked them to respond to one question, so that we in civil society can help them continue their work without fear or favour.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><strong>How can civil society support journalists to continue reporting without fear or favour, especially in the time of COVID-19?</strong></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Vicheika Kann</strong>, a journalist with <a href="https://www.voacambodia.com/">Voice of America Cambodia</a> and vice president of <a href="https://cambojanews.com/about/">Cambodian Journalists Alliance</a>, stresses the importance of advocating for journalists. &#8220;Civil society is a group of people who always stay behind journalists to report the sensitive stories without fear or favour. They have advocated for journalists rights and the truth for society. Especially the truth about COVID-19 epidemic.&#8221;</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Zevonia Vieira</strong>, a journalist with <a href="http://tafara.tl/">Tafara.tl</a> and president of the Timor-Leste Journalist Association, echoes Vicheika&#8217;s sentiments. Civil society, she says, should be &#8220;fighting against false or fake information about COVID-19 and defending human rights, especially the people affected by the coronavirus and during the lockdown.&#8221; In a separate interview, Zevonia also talks about her <a href="https://un.org.tl/en/media-center/blogs/from-the-frontlines-as-a-journalist-and-working-parent-in-the-time-of-crisis">experience on the frontlines as a journalist and working parent.</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Sanjib Chaudhary</strong>, editor of <a href="https://community.globalvoices.org/2019/08/meet-sanjib-chaudhary-the-host-of-the-asialangsonline-twitter-account-for-august-13-19/">Global Voices Nepali Lingua</a>: &#8220;Moral support from civil society, both offline and online, matters a lot to journalists to continue reporting without fear or favour. And especially support through social media channels like Twitter makes a difference.&#8221;</p>
<p>To illustrate his point, Sanjib points to the <a href="https://kathmandupost.com/valley/2020/04/27/former-secretary-bhim-upadhyay-released-on-bail">public outcry against the arrest of a Nepali official</a> who was critical of the country&#8217;s prime minister. &#8220;Recently, during the lockdown imposed by the government due to COVID-19, I’ve noticed people supporting journalists, writers and opinion. Former secretary Bhim Upadhyay got a lot of support in social media users from all walks of life. His arrest caused an uproar throughout the country and he is now more vocal than ever.&#8221;</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Thu Bui</strong>, a journalist with <a href="https://www.bbc.com/vietnamese">BBC News Vietnam</a> : &#8220;In the time of critical crisis, like this pandemic, autocratic governments tend to issue more laws and regulations to control information, to restrict journalists’ activities in the name of national interest and saving lives. When a state of emergency is declared anywhere, it’s even harder for journalists to continue their cause of telling the truth.&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://unesco.exposure.co/cartoons-for-freedom-of-expression-during-covid19" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1000" height="1000" src="wp-content/uploads/2020/05/ZACH.gif" class="vc_single_image-img attachment-large" alt="Unesco World Press Freedom Day Cartoon Zach" /></div></a>
			<figcaption class="vc_figure-caption">UNESCO partnered with Cartooning for Peace to create and share cartoons for World Press Freedom Day 2020. This cartoon is by Zach from the Philippines.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>With COVID-19, such <a href="https://ipi.media/covid-19-abuse-of-emergency-powers-to-stifle-media-grows/">use of emergency powers to silence media</a> is not uncommon. One such state of emergency is in <a href="https://apnews.com/1356badfaf42132422a1b9317bb44a64">Thailand</a>, which critics say has resulted in a <a href="https://www.hrw.org/news/2020/03/25/thailand-covid-19-clampdown-free-speech">clamping down of free speech</a>. Similar decrees have been used to arrest critics in <a href="https://www.rfa.org/english/news/vietnam/facebook-04132020154643.html">Vietnam and Laos</a>.</p>
<p>&#8220;One of the most important things that civil society can do to help journalists to fulfil their mission is to monitor the governments’ decisions, to question and challenge any ill intent from governments in keeping journalist from information, from the truth,&#8221; she adds.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Aie Balagtas See</strong>, an <a href="https://pcij.org/article/3979/philippine-jails-are-a-covid-19-time-bomb">investigative journalist</a> from the Philippines, echoes Bui&#8217;s call for civil society to &#8220;oppose moves that muzzle free press and free speech&#8221;. She adds: &#8220;Defend the press, stand with them. Especially each time fake news peddlers or autocrats attack them. A society is not free unless the press is truly free.&#8221;</p>
<p>Aie also says civil society can &#8220;donate or subscribe to newspapers or media outlets. Don’t let lack of advertisers kill legitimate media firms, and if you can, pay for the news you consume&#8221;. Because the internet allows us to access information without payment, particularly on social media, newsrooms around the world have been struggling with <a href="https://www.cjr.org/the_media_today/if-readers-pay-for-your-news-youre-one-of-the-lucky-ones.php">getting audiences to pay for their content</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Kathryn Raymundo</strong>, media specialist with <a href="https://internews.org">Internews Philippines</a>, also stresses the need to validate journalists, whether through protecting them or paying for the news. She writes: &#8220;The best way to support journalism is to validate their good work — share the stories that made an impact, news that mattered to me and my community. I value independent, quality reporting. I subscribe to news organizations and promote their innovation, especially those of the local news’.&#8221;</p>
<p>The COVID-19 pandemic has seen journalists around the globe collaborate on <a href="https://b.engagemedia.org/2020/world-health-day-covid-19/">collective resources</a> to better their coverage of the pandemic.</p>
<p>She adds: &#8220;Finally, I advocate for free expression and press freedom. Our journalists are the most curious, hardworking, and passionate people I know. I hope people realize how important journalism is in our society. Media help make sense of what is happening around us.</p>
<p>&#8220;For keeping us informed, thank you.&#8221;</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 30px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Reporters Without Borders (RSF) ranked the degree of freedom available to journalists in 180 countries through the <a href="https://rsf.org/en/detailed-methodology">2020 World Press Freedom Index</a>. You may check out the rankings <a href="https://rsf.org/en/ranking_table">here</a>. Learn more about World Press Freedom Day <a href="https://en.unesco.org/commemorations/worldpressfreedomday">here</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Coconet Community</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><i>Coconet is a community of changemakers in the Asia-Pacific dedicated to digital rights movement building in the region. Among the members of the network are journalists from the region who continue reporting with fear or favour.</i></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/press-freedom-civil-society/">World Press Freedom Day: How can civil society support journalists?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/press-freedom-civil-society/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Use of Memes In Activism</title>
		<link>https://coconet.social/2020/memes-activism/</link>
					<comments>https://coconet.social/2020/memes-activism/#respond</comments>
		
		<dc:creator><![CDATA[coconetadmin]]></dc:creator>
		<pubDate>Mon, 02 Mar 2020 09:21:17 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=851</guid>

					<description><![CDATA[<p>By utilising humour and the shareability of memes, it becomes clear that memes can be used for the diffusion of information across the Internet because of their speed and capillarity on social media.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/memes-activism/">Use of Memes In Activism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://en.wikipedia.org/wiki/Meme">Memes</a> have become a fundamental aspect of Internet culture and the native language of social media. With their ability to easily convey a message and to be easily shared, they have been adopted by many movements, especially in the Asia-Pacific. Meme creation is driven by remixing and recontextualizing popular images to create interesting ways of distributing messages. Memes within the context of movements tend to be inherently political. Using political humour on the Internet can contribute to the creation and consolidation of a network of shared meanings which then reframes content from mainstream culture. Humour is a means for politics to be explored and understood. </p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Memes incorporate elements of mainstream popular culture  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Memes incorporate elements of mainstream popular culture, which encourages the ordinary citizen to participate in movements. The Internet provides a space for image and language play that is absurd and full of juxtaposition and insider jokes. By utilizing humour and the shareability of memes, it becomes clear that memes can be used for the diffusion of information across the Internet because of their speed and capillarity on social media.</p>

		</div> 
	</div> </div></div></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Memes are a cultural product based on social relations, memories, historic, geographic and economic references as well as specific conjectural aspects. Memes that Internet users post, share, and like best are what they find interesting and humorous, reflect their impression of a topic and affect or sensitize them to a topic. Memes can allow non-elite Internet users to yield influence and make their voices heard. Through this, memes can become a tool for grassroots action in human rights movements as memes can be utilized to spread messages quickly.</p>
<p>To demonstrate this, eight political memes from Southeast Asia will be reflected on.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme1.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme1-600x450.jpg" width="600" height="450" alt="Duterte meme" title="Duterte meme" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The meme above utilizes the popular Drake meme format known is <a href="https://knowyourmeme.com/memes/drakeposting">Drakeposting</a>. This meme typically has two images of the rapper Drake with one representing that he doesn’t approve of something and the other representing that he does approve. The Drakeposting meme is utilized here to criticize Philippine President <a href="https://en.wikipedia.org/wiki/Rodrigo_Duterte">Rodrigo Roa Duterte</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme2.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme2-600x450.jpg" width="600" height="450" alt="meme2" title="meme2" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme has remixed the Drakeposting format by removing the second image of Drake. This was done to convey a particular message. The absence of the second image of Drake is meant to imply that when one was critical of Indonesian brutal military dictator <a href="https://en.wikipedia.org/wiki/Suharto">General Suharto</a>, who was in power from 1967 until 1998, they would disappear in some manner. </p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme3.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme3-600x550.jpg" width="600" height="550" alt="Cat Drake meme" title="meme3" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This is an example of the <a href="https://knowyourmeme.com/memes/drakeposting">Cat Drake</a> meme format which has become a popular remixing of the original Drake meme. This meme is criticizing Indonesians for the ongoing conflict in West Papua where the people of West Papua are fighting for their independence from Indonesia. This meme is conveying that though Indonesians are against colonization such as the Dutch colonization of Indonesia, they reject the idea of the Indonesian colonization of West Papua.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme4.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme4-600x450.jpg" width="600" height="450" alt="(English: &quot;Respect your elders, even when they&#039;re your competitor&quot;)" title="meme4" /></div></a>
			<figcaption class="vc_figure-caption">(English: &quot;Respect your elders, even when they&#039;re your competitor&quot;)</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme takes on a popular format of utilizing a topical cultural image with an overlaid humorous text to make a political statement. This image is of former vice presidential candidate Sandiaga Uno with the current vice president, <a href="https://en.wikipedia.org/wiki/Ma%27ruf_Amin">Ma&#8217;ruf Amin,</a> before a national debate showing him paying respect to his elder as culturally dictated by kissing his hand even though he is his competitor.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme5.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme5-600x450.jpg" width="600" height="450" alt="English: Will your shoes fit for the night shift? - Bong Go" title="meme5" /></div></a>
			<figcaption class="vc_figure-caption">English: Will your shoes fit for the night shift? - Bong Go</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme also uses a culturally relevant image overlaid with text to make a political point. This image, however, has been photoshopped to add different shoes and a communist bandana utilizing the ‘ugly aesthetic’ often used in memes. This meme is commenting on <a href="https://en.wikipedia.org/wiki/Bong_Go">Bong Go</a> – a Filipino politician – stating that students go up into the mountains in the night to work for the communist party.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme6.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme6-600x450.jpg" width="600" height="450" alt="meme6" title="meme6" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme is less focused on criticizing Duterte and more focused on making fun of him. Using humour this way is a common aspect of political meme culture. This meme was posted in a meme Facebook group soon after a report was released that Duterte had fallen from his motorcycle. Though some might see this meme and think it is supporting Duterte, this meme, in fact, does nothing of the sort.  A reading of or direct knowledge of <a href="https://en.wikipedia.org/wiki/Psalm_109#Verse_8">Psalm 109:8</a> &#8211; &#8220;May his days be few; may another take his place of leadership&#8221; &#8211; is required to fully understand the humour within the multiple layers of context used in this meme.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme7.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme7-600x550.jpg" width="600" height="550" alt="Prayut: I am the senate" title="meme7" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This is a remixed version of the popular <a href="https://knowyourmeme.com/memes/i-am-the-senate">I Am The Senate</a> meme. This meme was remixed to criticize Thailand Prime Minister <a href="https://en.wikipedia.org/wiki/Prayut_Chan-o-cha">Prayut Chan-o-cha</a>. Prayut is not only the Prime Minister but he also serves as Thailand&#8217;s Defence Minister and head of the Royal Thai Police. Therefore, by repurposing this meme, it is able to criticize Prayut’s overarching control of the government that goes against the will of the people.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme8.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme8-600x450.jpg" width="600" height="450" alt="(English: us citizens)" title="meme8" /></div></a>
			<figcaption class="vc_figure-caption">(English: us citizens)</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme comments on the Thai election and a secret parliament vote that resulted in the former Prime Minister Abhisit Vejjajiva quitting parliament after his party – the Democrat Party – voted to join the junta-aligned coalition backing Prayuth Chan-o-cha’s bid to become Prime Minister. The <a href="https://knowyourmeme.com/memes/distracted-boyfriend">Distracted Boyfriend</a> meme was remixed with photoshopped images to represent the feelings of the citizens. Here, the distracted boyfriend has the Democrat party logo photoshopped on him. He is looking back at another girl with the photoshopped face of Prayuth Chan-o-cha while his upset girlfriend has text over her that reads ‘us citizens’. Through this, a message of feeling ignored by the Democrat party is conveyed.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://www.apc.org/en/users/carmen"><span style="font-weight: 400;">Carmen Ferri</span></a><span style="font-weight: 400;"> is the Asia policy and countering hate speech intern at the Association For Progressive Communications (APC) and is currently based in the Philippines. </span><span style="font-weight: 400;">Carmen holds an MA in New Media and Digital Culture from the University of Amsterdam and an undergraduate in Liberal Arts: Cultural Studies and Sociology from Maastricht University. Her areas of interest include subculture construction in online spaces, online community building, issue mapping, and online political movements.</span></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/memes-activism/">Use of Memes In Activism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/memes-activism/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
