<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Thai student protesters in the time of COVID-19: New generation, new forms of resistance online	</title>
	<atom:link href="https://coconet.social/2020/thailand-student-online-activism-covid/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/thailand-student-online-activism-covid/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 04 Nov 2020 03:46:46 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Pretty Good Podcast Episode 6: Youth and Online Activism at Thailand Protests - EngageMedia		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-48</link>

		<dc:creator><![CDATA[Pretty Good Podcast Episode 6: Youth and Online Activism at Thailand Protests - EngageMedia]]></dc:creator>
		<pubDate>Wed, 04 Nov 2020 03:46:46 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-48</guid>

					<description><![CDATA[[&#8230;] Check out our post explaining the situation, as well as this article that details how young activists have been using social media and the Internet for protests, especially in light of the COVID-19 [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Check out our post explaining the situation, as well as this article that details how young activists have been using social media and the Internet for protests, especially in light of the COVID-19 [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Silencing the Media Won&#039;t Stop the Thailand Protests - Coconet		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-47</link>

		<dc:creator><![CDATA[Silencing the Media Won&#039;t Stop the Thailand Protests - Coconet]]></dc:creator>
		<pubDate>Tue, 03 Nov 2020 09:59:39 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-47</guid>

					<description><![CDATA[[&#8230;] Thailand, the youth-led pro-democracy movement is showing no signs of retreat despite the latest state of emergency decree banning public [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Thailand, the youth-led pro-democracy movement is showing no signs of retreat despite the latest state of emergency decree banning public [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: #WhatsHappeningInThailand? Thai youth activists rally to protect democracy, freedom of speech - EngageMedia		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-45</link>

		<dc:creator><![CDATA[#WhatsHappeningInThailand? Thai youth activists rally to protect democracy, freedom of speech - EngageMedia]]></dc:creator>
		<pubDate>Thu, 17 Sep 2020 03:38:22 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-45</guid>

					<description><![CDATA[[&#8230;] new generation of Thais are also harnessing technology to organise “flash” protests, bridging the gap between online and offline activism. Partly inspired by the Hong Kong movement, the movement is largely leaderless, with participants [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] new generation of Thais are also harnessing technology to organise “flash” protests, bridging the gap between online and offline activism. Partly inspired by the Hong Kong movement, the movement is largely leaderless, with participants [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: What&#8217;s happening in Thailand? Youth activists rally to protect democracy, freedom of speech &#124; iamanonymous.com		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-44</link>

		<dc:creator><![CDATA[What&#8217;s happening in Thailand? Youth activists rally to protect democracy, freedom of speech &#124; iamanonymous.com]]></dc:creator>
		<pubDate>Thu, 10 Sep 2020 10:29:04 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-44</guid>

					<description><![CDATA[[&#8230;] new generation of Thais are also harnessing technology to organize “flash” protests, bridging the gap between online and offline activism. Partly inspired by the Hong Kong movement, the Thai movement [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] new generation of Thais are also harnessing technology to organize “flash” protests, bridging the gap between online and offline activism. Partly inspired by the Hong Kong movement, the Thai movement [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Comment la Thaïlande utilise des « lois numériques » pour criminaliser l’opposition		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-41</link>

		<dc:creator><![CDATA[Comment la Thaïlande utilise des « lois numériques » pour criminaliser l’opposition]]></dc:creator>
		<pubDate>Wed, 08 Jul 2020 08:53:57 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-41</guid>

					<description><![CDATA[[&#8230;] vague de contestation inédite sur les réseaux sociaux thaïlandais. Plusieurs hashtags, comme #SaveWanchalearm, ont émergé devenant les mots-clés les plus utilisés en Thaïlande sur Twitter pendant [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] vague de contestation inédite sur les réseaux sociaux thaïlandais. Plusieurs hashtags, comme #SaveWanchalearm, ont émergé devenant les mots-clés les plus utilisés en Thaïlande sur Twitter pendant [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Thailand&#8217;s ‘youthquake&#8217;: Activism in the time of COVID-19 &#8211; RADIO E		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-40</link>

		<dc:creator><![CDATA[Thailand&#8217;s ‘youthquake&#8217;: Activism in the time of COVID-19 &#8211; RADIO E]]></dc:creator>
		<pubDate>Thu, 25 Jun 2020 16:49:20 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-40</guid>

					<description><![CDATA[[&#8230;] article by Chonthicha Jangrew is from Coconet, a platform for digital rights movement-building in the [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] article by Chonthicha Jangrew is from Coconet, a platform for digital rights movement-building in the [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; #SaveRome: Call for Solidarity from Thailand		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-39</link>

		<dc:creator><![CDATA[Coconet &#124; #SaveRome: Call for Solidarity from Thailand]]></dc:creator>
		<pubDate>Sun, 21 Jun 2020 04:28:59 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-39</guid>

					<description><![CDATA[[&#8230;] You can find out more about this campaign through the following hashtags: #EnoughisEnough #SaveRome #SaveWanchalearm #ไม่ถอยไม่ทน. You can also read more about the recent waves of protest in Thailand on Coconet.social. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] You can find out more about this campaign through the following hashtags: #EnoughisEnough #SaveRome #SaveWanchalearm #ไม่ถอยไม่ทน. You can also read more about the recent waves of protest in Thailand on Coconet.social. [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางเมือง		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/#comment-37</link>

		<dc:creator><![CDATA[Coconet &#124; วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางเมือง]]></dc:creator>
		<pubDate>Thu, 18 Jun 2020 02:02:52 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1516#comment-37</guid>

					<description><![CDATA[[&#8230;] this article in English &#124; อ่านบทความนี้ใน [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] this article in English | อ่านบทความนี้ใน [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
