<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: The Myanmar government is hiding the truth of Arakan conflicts	</title>
	<atom:link href="https://coconet.social/2020/myanmar-internet-media-censorship/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/myanmar-internet-media-censorship/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 24 Nov 2020 06:04:17 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/myanmar-internet-media-censorship/#comment-50</link>

		<dc:creator><![CDATA[Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Tue, 24 Nov 2020 06:04:17 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1387#comment-50</guid>

					<description><![CDATA[[&#8230;] internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: EngageMedia &#124; The conviction of Maria Ressa: weaponising cyber libel to suppress freedom of speech		</title>
		<link>https://coconet.social/2020/myanmar-internet-media-censorship/#comment-36</link>

		<dc:creator><![CDATA[EngageMedia &#124; The conviction of Maria Ressa: weaponising cyber libel to suppress freedom of speech]]></dc:creator>
		<pubDate>Tue, 16 Jun 2020 08:16:07 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1387#comment-36</guid>

					<description><![CDATA[[&#8230;] the Philippine government and elite. It’s already happening in other countries in the region like Myanmar and [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] the Philippine government and elite. It’s already happening in other countries in the region like Myanmar and [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
