<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Chit Hnin Yu &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/yu/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 24 Jun 2020 02:52:20 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Chit Hnin Yu &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>#StopInternetShutdownMM: Civil society marks 1 year of world’s longest internet shutdown</title>
		<link>https://coconet.social/2020/anniversary-myanmar-internet-shutdown/</link>
					<comments>https://coconet.social/2020/anniversary-myanmar-internet-shutdown/#comments</comments>
		
		<dc:creator><![CDATA[Chit Hnin Yu]]></dc:creator>
		<pubDate>Wed, 24 Jun 2020 01:00:05 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1607</guid>

					<description><![CDATA[<p>This article is a republication of the June 21, 2020 statement of civil society organisations in Myanmar on the year-long internet shutdown in Rakhine and Chin states. Chit Hnin Yu from Free Expression Myanmar writes about her thoughts on the internet shutdown and the joint statement.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/anniversary-myanmar-internet-shutdown/">#StopInternetShutdownMM: Civil society marks 1 year of world’s longest internet shutdown</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>This article is a republication of the <a href="http://freeexpressionmyanmar.org/civil-society-marks-1-year-of-worlds-longest-internet-shutdown/">June 21, 2020 statement of civil society organisations in Myanmar</a> on the <a href="https://www.hrw.org/news/2020/06/19/myanmar-end-worlds-longest-internet-shutdown">year-long internet shutdown in Rakhine and Chin states</a>. Chit Hnin Yu from Free Expression Myanmar writes about her thoughts on the internet shutdown and the joint statement:</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Last Sunday (June 21, 2020) marked one year since the government shut down the internet in Rakhine and Chin states in Myanmar. Over 1.4 million people still have no access to the internet. They cannot communicate, learn, run their businesses, or get information about COVID-19 in this time. Even though these people are living in conflict areas, they absolutely have the right to access the internet. But the Myanmar government is still extending this shutdown, citing national security as their reason even though they know well this shutdown is a violation on human rights.</p>
<p>Because of this, we from civil society organisations, including local and international organisations and institutions, urge the Myanmar Government to lift internet shutdown in Rakhine and Chin States immediately.</p>
<p>Thank you, everyone, for being our strength. I hope we can stand together and show our solidarity on similar and further human rights issues in future.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style=""></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">Statement: Civil society marks 1-year of world’s longest internet shutdown</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Today, 21 June, is the first anniversary of the shutdown of all mobile internet access in Myanmar’s Rakhine and Chin States. This is the longest internet shutdown in the world. Approximately 1.4 million people in eight townships in those States are suffering from the ongoing violation of their economic, social, cultural, developmental, political, and civil rights.</p>
<p>The Myanmar government has claimed the shutdown is for national security. However, there has been no evidence that the decision has reduced the ongoing conflict. Instead, it has caused significant harm to civilians in one of the least developed regions of Myanmar, during the global COVID-19 pandemic. It has been internationally condemned as disproportionate, including by the UN.</p>
<p>We condemn the continued shutdown and call on the government to immediately lift all restrictions on internet access and to restore telecommunications unconditionally to full capacity. We also call on the government to:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class='q_list circle'></p>
<ul>
<li>Immediately reinstate access to the internet in the remaining eight townships in Rakhine and Chin States</li>
<li>Review Articles 77 and 78 and other Articles of the 2013 Telecommunication Law, and amend them to be in line with human rights standards</li>
<li>Refrain from restricting internet access and bandwidth restrictions in the future, either in these currently affected areas or elsewhere in Myanmar, including in other conflict areas, and during periods of elections.</li>
</ul>
<p></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ယနေ့ ဇွန်လ (၂၁) ရက်နေ့သည် ရခိုင်နှင့် ချင်းပြည်နယ်တို့တွင် မိုဘိုင်းအင်တာနက်ဆက်သွယ်မှု စတင် ဖြတ်တောက်ခံရမှုသည် တစ်နှစ်ပြည့် နှစ်ပတ်လည် အထိရောက်ရှိလာပြီဖြစ်သည်။ ဤအင်တာနက် ဖြတ်တောက်ခံရမှုသည် လက်ရှိတွင် ကမ္ဘာ့အရှည်ကြာဆုံးသော အင်တာနက်ဖြတ်တောက်မှုဖြစ်ကာ အဆိုပါပြည်နယ်များရှိ မြို့နယ် (၈) မြို့နယ်မှ ၁.၄ သန်းခန့်သော ဒေသခံပြည်သူတို့သည် ၎င်းတို့၏ စီးပွားရေး၊ လူမှုရေး၊ ယဉ်ကျေးမှု၊ ဖွံ့ဖြိုးတိုးတက်မှု၊ နိုင်ငံရေး နှင့် နိုင်ငံသား အခွင့်အရေးများအား ချိုးဖောက်ခံရခြင်းကို ကြုံတွေ့ခံစားနေကြရသည်။</p>
<p>မြန်မာအစိုးရသည် အင်တာနက်ဖြတ်တောက်မှုအား နိုင်ငံတော်လုံခြုံရေးအတွက်လုပ် ဆောင်ခြင်းဖြစ်သည်ဟု ဆိုခဲ့ပါသည်။ သို့ရာတွင်မူ ထိုသို့လုပ်ဆောင်ခြင်းသည် ယခုဖြစ်ပွားလျက်ရှိသော ပဋိပက္ခအား လျော့ပါးသွားစေသည်ဟူသော အထောက်အထား မတွေ့ရှိရပေ။ ထိုဖြတ်တောက်မှုသည် မြန်မာနိုင်ငံ၏ ဖွံ့ဖြိုးတိုးတက်မှုနောက်အကျဆုံးသော ဒေသများတွင်ရှိသော ဒေသခံလူထုအား ယခုဖြစ်ပွားနေသော COVID-19 ကမ္ဘာ့ကပ်ရောဂါကာလအတွင်းတွင် ဆိုးရွားသောထိခိုက်မှုများကို ကြုံတွေ့စေသည်။ ထိုသို့ လုပ်ဆောင်ခြင်းသည် သင့်လျော်မှုမရှိကြောင်း ကုလသမဂ္ဂအပါအဝင် နိုင်ငံတကာမှ ရှုံ့ချခဲ့ကြသည်။</p>
<p>သို့ဖြစ်ပါ၍ ကျွန်ုပ်တို့သည် ဆက်လက်ဖြစ်ပွားနေသော အင်တာနက်ဖြတ်တောက်မှုအား ရှုံ့ချလိုက်ကာ အစိုးရအား ကန့်သတ်ပိတ်ဆို့မှုများအား ချက်ချင်းရုတ်သိမ်းပြီး စွမ်းရည်ပြည့်ဝသော ဆက်သွယ်ရေးလိုင်း များအား အကန့်အသတ်မရှိ ပြန်လည်တည်ဆောက်ပေးရန် တိုက်တွန်းတောင်းဆိုလိုက်သည်။ ထို့အပြင် ကျွန်ုပ်တို့သည် အစိုးရအား အောက်ပါအချက်များကိုလည်း တောင်းဆိုပါသည်။</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class='q_list circle'></p>
<ul>
<li>အဆိုပါ မြို့နယ် ၈ မြို့နယ်ရှိ မိုဘိုင်းအင်တာနက်လိုင်းများကို ခြွင်းချက်မရှိ စွမ်းအားပြည့် ချက်ခြင်းပြန်ဖွင့်ပေးရန်</li>
<li>၂၀၁၃ခုနှစ် ဆက်သွယ်ရေးဥပဒေ၏ ပုဒ်မ ၇၇ နှင့် ၇၈ တို့အား ပြန်လည်သုံးသပ်ရန်နှင့် ၎င်းတို့အား လူ့အခွင့်အရေးစံနှုန်းများနှင့်အညီ အမြန်ဆုံး ပြင်ဆင်ရန်။</li>
<li>အနာဂတ်တွင်နှင့် လာမည့်ရွေးကောက်ပွဲကာလများတွင်လည်း ယခုအင်တာနက် ဖြတ်တောက်ခံ ထားရသော ဒေသများတွင် သော်လည်းကောင်း၊ မြန်မာတစ်နိုင်ငံလုံးရှိ လက်နက်ကိုင်ပ ဋိပက္ခဖြစ်ပွားသည့် အခြားဒေသများ အပါအဝင် ကျန်ဒေသများတွင်သော်လည်းကောင်း ယခုကဲ့သို့ အင်တာနက်ဆက်သွယ်ရေးစနစ်ဖြတ်တောက်ခြင်းများနှင့် အင်တာနက်နှုန်းလျော့ချခြင်းများ အား(လုံးဝ) မပြုလုပ်ရန်။</li>
</ul>
<p></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Signed:</p>
<ol>
<li>Access Now (International)</li>
<li>Action Committee for Democracy Development (ACDD)</li>
<li>Action For Dignity and Development(ADD)</li>
<li>Action Labour Rights</li>
<li>Advocacy Initiative for Development (AID)</li>
<li>AfroLeadership (International)</li>
<li>African Freedom of Expression Exchange (International)</li>
<li>Africa Open Data and Internet Research Foundation (International)</li>
<li>All Arakan Students’ and Youths’ Congress (AASYC)</li>
<li>Araken CSO Network</li>
<li>Arakan League for Democracy (KyaukPyu)</li>
<li>Arakan Rivers Network (ARN)</li>
<li>Association of Human Rights Defenders and Promoters (HRDP)</li>
<li>Association for Progressive Communications (APC &#8211; International)</li>
<li>Athan &#8211; Freedom of Expression Activist Organization</li>
<li>Blue Moose Publications (UK)</li>
<li>Burma News International (BNI)</li>
<li>C.A.N-MYANMAR and PFLAG-MYANMAR</li>
<li>Campaign for Human Rights and Development International (CHRDI &#8211; Sierra Leone)</li>
<li>Center for Environment and Resources Development in Arakan (CERDA)</li>
<li>Centre for Law and Democracy (International)</li>
<li>Center for Media Studies and Peacebuilding (CEMESP &#8211; Liberia)</li>
<li>Charity Youths Organization</li>
<li>Chin CSOs Forum</li>
<li>Chin Youth Network</li>
<li>Chinland Heritage</li>
<li>Citizen Right Action Group &#8211; CRAG</li>
<li>Committee to Protect Journalists (CPJ)</li>
<li>Myanmar Consumers Union (MCU)</li>
<li>Dr. Saw Mra Aung Foundation</li>
<li>Electronic Frontier Foundation (International)</li>
<li>Equality Myanmar</li>
<li>Ethnic Concern</li>
<li>Free Expression Myanmar (FEM)</li>
<li>Free Media Movement (FMM &#8211; Sri Lanka)</li>
<li>Future Young Pioneer Organization (FYPO)</li>
<li>Gender and Development Advocates (GANDA &#8211; Philippines)</li>
<li>Genuine People’s Servants (GPS)</li>
<li>Hyogo Framework for Action (HFA)</li>
<li>Human Rights Foundation of Monland</li>
<li>Human Rights Watch (International)</li>
<li>Kadu Youth Development Association (KYDA)</li>
<li>Impact Terra</li>
<li>Ingyinmay Hindu Women Association</li>
<li>Internet Freedom Foundation (India)</li>
<li>International Federation of Journalists (IFJ &#8211; international)</li>
<li>Internet Protection Society (Russia)</li>
<li>Internet Sans Frontières (International)</li>
<li>Justice Base</li>
<li>Kadu Youth Development Association</li>
<li>Kenya ICT Action Network (KICTANet)</li>
<li>MATA Chin</li>
<li>Media Foundation for West Africa (International)</li>
<li>Mi Organization</li>
<li>Mong Pan Youth Association</li>
<li>Mon Women’s Organization</li>
<li>Myanmar ICT for Development Organization (MIDO)</li>
<li>Myanmar Centre for Responsible Business (MCRB)</li>
<li>Myanmar Consumers Union</li>
<li>Myanmar Journalist Network</li>
<li>Nam Khone Alumni Network</li>
<li>Open Net Korea (South Korea)</li>
<li>Oway Education and Youth Institution</li>
<li>Pakokku Youth Development Council (PYDC)</li>
<li>PEN America (International)</li>
<li>PEN Myanmar</li>
<li>Phandeeyar</li>
<li>Project Lockdown</li>
<li>Rain Maker</li>
<li>Rakhine Lives Matter</li>
<li>Rakhine Youth New Generation Network</li>
<li>Right 2 Know Campaign (South Africa)</li>
<li>ROAD ( Remove Obstructions Against Democratization)</li>
<li>Search for Common Ground (SFCG &#8211; International)</li>
<li>SKY-Youth(KyaukPhyu)</li>
<li>Social, Education and Development Association &#8211; SEDA</li>
<li>Software Freedom Law Center (SFLC &#8211; India)</li>
<li>Southeast Asia Freedom of Expression Network (SAFEnet &#8211; Indonesia)</li>
<li>Swe Tha Har Organization</li>
<li>Tampadipa Institute</li>
<li>Tara Foundation</li>
<li>Theikkhar Myanmar Institute</li>
<li>Thint Myat Lo Thu Myar ( Peace Seekers and Multiculturalist Movement)</li>
<li>Thuriya Sandra Environmental Watch Group</li>
<li>Twel Let Myanmar</li>
<li>Union of Karenni State Youth (UKSY)</li>
<li>Unwanted Witness (Uganda)</li>
<li>Utopia Association</li>
<li>Witness (International)</li>
<li>World Bank (international)</li>
<li>Yangon Film School</li>
<li>Yaung Chi Thit (YCT)</li>
<li>Yed</li>
<li>Yemeni Organization for Development and Exchange of Technology (YODET &#8211; Yemen)</li>
<li>ကျောင်းသားသမဂ္ဂ တောင်ကုတ်ဒီဂရီကောလိပ်</li>
<li>ကမ်းထောင်းကြီး လူငယ်မျိုးဆက်သစ်</li>
<li>စာပေဥယျာဉ် ဘူးသီးတောင်</li>
<li>ပေါင်းစည်းအားမာန်ဖွံ့ဖြိုးရေးအသင်း</li>
<li>တောင်ကုတ်လူငယ်ကွန်ရက်</li>
<li>မရာမာကြီးလူငယ်များ ကွန်ရက်</li>
<li>မြိုလူငယ်များ ဖွံ့ဖြိုးတိုးတက်ရေးအဖွဲ့</li>
<li>မြောက်ဦးလူငယ်များ အစည်းအရုံး</li>
<li>ဘဝအားမာန် အသင်း</li>
<li>ရခိုင့်မျိုးဆက်သစ် အမျိုးသမီးများ အဖွဲ့</li>
<li>ရခိုင်လူငယ်များစွမ်းရည်မြှင့်တင်ရေးအဖွဲ့</li>
<li>ရခိုင်လူငယ်မျိုးဆက်သစ်အဖွဲ့</li>
<li>ရမ်းဗြဲမြို့နယ် လူငယ်များကွန်ရက်</li>
<li>ရသေ့တောင်မြို့နယ် လူငယ်ကွန်ရက်</li>
<li>သန္တာရင်သွီး လူငယ်ပရဟိတ အသင်း</li>
<li>သက်လူငယ်များကွန်ရက်</li>
<li>အစိမ်းရောင်ဘဝများ</li>
<li>အုန်းတော ပရဟိတ ဖောင်ဒေးရှင်း</li>
<li>အမ်းလူငယ်မျိုးဆက်သစ်</li>
<li>အနောက်တံခါး လူငယ်အဖွဲ့</li>
<li>မဂျူလိုင်မိုး (တစ်ဦးချင်း)</li>
<li>ကိုညီညီလှိုင် (တစ်ဦးချင်း)</li>
</ol>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FFreeExpressionMyanmar%2Fposts%2F3000538840059685&show_text=true&width=552&appId=260743380626718&height=779" width="552" height="779" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Today marks 1 year anniversary of internet shutdown in Myanmar’s Rakhine and Chin States. We condemn the shutdown and call on the government to immediately lift all restrictions on internet access in those areas. <a href="https://twitter.com/hashtag/StopInternetShutdownMM?src=hash&amp;ref_src=twsrc%5Etfw">#StopInternetShutdownMM</a> <a href="https://twitter.com/hashtag/keepiton?src=hash&amp;ref_src=twsrc%5Etfw">#keepiton</a> <a href="https://twitter.com/hashtag/365DaysWithoutInternet?src=hash&amp;ref_src=twsrc%5Etfw">#365DaysWithoutInternet</a> <a href="https://t.co/sPqXDfmjYt">pic.twitter.com/sPqXDfmjYt</a></p>&mdash; MIDO (@myanmarido) <a href="https://twitter.com/myanmarido/status/1274614741588033536?ref_src=twsrc%5Etfw">June 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Today, 21 June, is the first anniversary of the shutdown of all mobile internet access in Myanmar’s Rakhine and Chin States. This is the longest internet shutdown in the world.<a href="https://twitter.com/hashtag/%E1%80%A1%E1%80%84%E1%80%BA%E1%80%90%E1%80%AC%E1%80%94%E1%80%80%E1%80%BA%E1%80%96%E1%80%AD%E1%80%94%E1%80%BE%E1%80%AD%E1%80%95%E1%80%BA%E1%80%99%E1%80%BE%E1%80%AF%E1%80%86%E1%80%94%E1%80%B7%E1%80%BA%E1%80%80%E1%80%BB%E1%80%84%E1%80%BA%E1%80%80%E1%80%BC?src=hash&amp;ref_src=twsrc%5Etfw">#အင်တာနက်ဖိနှိပ်မှုဆန့်ကျင်ကြ</a> <a href="https://twitter.com/hashtag/StopInternetShutdownMM?src=hash&amp;ref_src=twsrc%5Etfw">#StopInternetShutdownMM</a> <a href="https://twitter.com/hashtag/KeepItOn?src=hash&amp;ref_src=twsrc%5Etfw">#KeepItOn</a> <a href="https://twitter.com/hashtag/365dayswithoutinternet?src=hash&amp;ref_src=twsrc%5Etfw">#365dayswithoutinternet</a> <a href="https://t.co/RxB7hzwfVf">pic.twitter.com/RxB7hzwfVf</a></p>&mdash; Yatanar (AYaungYint) (@YatanarHtun) <a href="https://twitter.com/YatanarHtun/status/1274630684598927361?ref_src=twsrc%5Etfw">June 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Myanmar?src=hash&amp;ref_src=twsrc%5Etfw">#Myanmar</a>’s internet shutdown enters its second year. Lawyers, businesses and CSOs are calling on the govt to reform Article 77, the legal basis of the shutdown order.<a href="https://twitter.com/hashtag/%E1%80%A1%E1%80%84%E1%80%BA%E1%80%90%E1%80%AC%E1%80%94%E1%80%80%E1%80%BA%E1%80%96%E1%80%AD%E1%80%94%E1%80%BE%E1%80%AD%E1%80%95%E1%80%BA%E1%80%99%E1%80%BE%E1%80%AF%E1%80%86%E1%80%94%E1%80%B7%E1%80%BA%E1%80%80%E1%80%BB%E1%80%84%E1%80%BA%E1%80%80%E1%80%BC?src=hash&amp;ref_src=twsrc%5Etfw">#အင်တာနက်ဖိနှိပ်မှုဆန့်ကျင်ကြ</a> <a href="https://twitter.com/hashtag/StopInternetShutdownMM?src=hash&amp;ref_src=twsrc%5Etfw">#StopInternetShutdownMM</a> <a href="https://twitter.com/hashtag/KeepItOn?src=hash&amp;ref_src=twsrc%5Etfw">#KeepItOn</a> <a href="https://twitter.com/hashtag/365dayswithoutinternet?src=hash&amp;ref_src=twsrc%5Etfw">#365dayswithoutinternet</a> <a href="https://t.co/085HbxiYfJ">https://t.co/085HbxiYfJ</a></p>&mdash; Thompson Chau (@thompson_chau) <a href="https://twitter.com/thompson_chau/status/1274742438691659779?ref_src=twsrc%5Etfw">June 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author/s</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><a href="yu@freeExpressionMyanmar.org">Chit Hnin Yu</a> is the digital rights officer of Free Expression Myanmar and one of the contact persons for further information on this joint statement. Aside from Yu, you may also contact <a href="svetlana.zens@myanmar-responsiblebusiness.org">Svetlana Zens</a> of the Myanmar Centre for Responsible Business, <a href="htaike@mido.ngo">Htaike Htaike Aung</a> of MIDO, and <a href="waiphyo@phandeeyar.org">Wai Phyo Myint</a> of Phandeeyar.</em></p>
<p><em>For more information on the internet shutdown and what is being done to combat it, visit the <a href="http://freeexpressionmyanmar.org/civil-society-marks-1-year-of-worlds-longest-internet-shutdown/">Free Expression Myanmar</a> website. You can also check out <a href="https://coconet.social/author/kyawlynn/">previous Coconet.social blog posts</a> on the topic of Myanmar by student leader Kyaw Lynn. </em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/anniversary-myanmar-internet-shutdown/">#StopInternetShutdownMM: Civil society marks 1 year of world’s longest internet shutdown</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/anniversary-myanmar-internet-shutdown/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
