<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Apa itu Hak Digital?	</title>
	<atom:link href="https://coconet.social/2020/apa-itu-hak-digital/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/apa-itu-hak-digital/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 22 Dec 2020 08:05:04 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Human Rights Day 2020: &#039;Recover Better&#039; in Physical and Digital Spaces - Coconet		</title>
		<link>https://coconet.social/2020/apa-itu-hak-digital/#comment-58</link>

		<dc:creator><![CDATA[Human Rights Day 2020: &#039;Recover Better&#039; in Physical and Digital Spaces - Coconet]]></dc:creator>
		<pubDate>Tue, 22 Dec 2020 08:05:04 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=4351#comment-58</guid>

					<description><![CDATA[[&#8230;] from the English version, this article is now also available in Thai and Indonesian. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian version was [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] from the English version, this article is now also available in Thai and Indonesian. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian version was [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
