<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Fighting the COVID-19 &#8216;Infodemic&#8217; in the Asia-Pacific	</title>
	<atom:link href="https://coconet.social/2020/covid-infodemic-asia-pacific/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/covid-infodemic-asia-pacific/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 20 May 2020 10:51:34 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; World Press Freedom Day: How can civil society support journalists?		</title>
		<link>https://coconet.social/2020/covid-infodemic-asia-pacific/#comment-32</link>

		<dc:creator><![CDATA[Coconet &#124; World Press Freedom Day: How can civil society support journalists?]]></dc:creator>
		<pubDate>Wed, 20 May 2020 10:51:34 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1015#comment-32</guid>

					<description><![CDATA[[&#8230;] to the pandemic. On top of these events, journalists are also combatting the equally contagious infodemic and governments&#8217; strategy of media capture to stifle editorial [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] to the pandemic. On top of these events, journalists are also combatting the equally contagious infodemic and governments&#8217; strategy of media capture to stifle editorial [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Coconet Digital Rights		</title>
		<link>https://coconet.social/2020/covid-infodemic-asia-pacific/#comment-22</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet Digital Rights]]></dc:creator>
		<pubDate>Wed, 22 Apr 2020 02:02:48 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1015#comment-22</guid>

					<description><![CDATA[[&#8230;] For civil society in the Asia-Pacific, the internet has increasingly become a crucial space for human rights, democracy, and dissent. But this space is now under pressure – in many places, shrinking – due to government intervention and corporate misconduct. Globally, the COVID-19 pandemic has deepened concerns regarding government surveillance and the price of digital privacy. It has also unleashed a disturbing rise in disinformation. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] For civil society in the Asia-Pacific, the internet has increasingly become a crucial space for human rights, democracy, and dissent. But this space is now under pressure – in many places, shrinking – due to government intervention and corporate misconduct. Globally, the COVID-19 pandemic has deepened concerns regarding government surveillance and the price of digital privacy. It has also unleashed a disturbing rise in disinformation. [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Fighting the COVID-19 &#039;Infodemic&#039; in the Asia-Pacific - Global Voices Advox		</title>
		<link>https://coconet.social/2020/covid-infodemic-asia-pacific/#comment-19</link>

		<dc:creator><![CDATA[Fighting the COVID-19 &#039;Infodemic&#039; in the Asia-Pacific - Global Voices Advox]]></dc:creator>
		<pubDate>Fri, 17 Apr 2020 16:19:19 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1015#comment-19</guid>

					<description><![CDATA[[&#8230;] article by Sara Pacia is from EngageMedia, a non-profit media, technology and culture organization. This is [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] article by Sara Pacia is from EngageMedia, a non-profit media, technology and culture organization. This is [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: EngageMedia Blog &#124; World Health Day Digital Rights COVID-19		</title>
		<link>https://coconet.social/2020/covid-infodemic-asia-pacific/#comment-17</link>

		<dc:creator><![CDATA[EngageMedia Blog &#124; World Health Day Digital Rights COVID-19]]></dc:creator>
		<pubDate>Thu, 16 Apr 2020 03:02:40 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1015#comment-17</guid>

					<description><![CDATA[[&#8230;] Fighting the COVID-19 ‘infodemic’ in the Asia-Pacific on Coconet.social [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Fighting the COVID-19 ‘infodemic’ in the Asia-Pacific on Coconet.social [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
