<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Infodemic &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/infodemic/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 20 Apr 2020 02:12:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Infodemic &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Fighting the COVID-19 &#8216;Infodemic&#8217; in the Asia-Pacific</title>
		<link>https://coconet.social/2020/covid-infodemic-asia-pacific/</link>
					<comments>https://coconet.social/2020/covid-infodemic-asia-pacific/#comments</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Wed, 01 Apr 2020 03:49:21 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Disinformation]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Infodemic]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1015</guid>

					<description><![CDATA[<p>While governments and health workers worldwide are focused on combatting the COVID-19 pandemic, they are also busy fighting another related pandemic that cuts across all sectors of society: a massive “infodemic” equally as wide-reaching and harmful.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/covid-infodemic-asia-pacific/">Fighting the COVID-19 &#8216;Infodemic&#8217; in the Asia-Pacific</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://unsplash.com/photos/FMJAYeRwtDY" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1920" height="1281" src="wp-content/uploads/2020/04/claudio-schwarz-purzlbaum-FMJAYeRwtDY-unsplash.jpg" class="vc_single_image-img attachment-full" alt="Photo by &#x1f1e8;&#x1f1ed; Claudio Schwarz | @purzlbaum on Unsplash." sizes="(max-width: 1920px) 100vw, 1920px" /></div></a>
			<figcaption class="vc_figure-caption">Photo by <img src="https://s.w.org/images/core/emoji/13.1.0/72x72/1f1e8-1f1ed.png" alt="🇨🇭" class="wp-smiley" style="height: 1em; max-height: 1em;" /> Claudio Schwarz | @purzlbaum on Unsplash. Used under a Unsplash license.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>While governments and health workers worldwide are focused on combatting the <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">COVID-19 pandemic</a>, they are also busy fighting another related pandemic that cuts across all sectors of society: a massive &#8220;infodemic&#8221; equally as wide-reaching and harmful.</p>
<p>The World Health Organisation (WHO) <a href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200202-sitrep-13-ncov-v3.pdf">describes</a> this infodemic as &#8220;an over-abundance of information – some accurate and some not – that makes it hard for people to find trustworthy sources and reliable guidance when they need it&#8221;.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Verified and timely information is more important than ever – but is also more challenging to come by. The global frontliners in this fight against mis- and disinformation on the coronavirus include:</p>

		</div> 
	</div> <div class='q_list circle'></p>
<ul>
<li>International health organisations like WHO, which has a <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for- public/myth-busters">dedicated page for busting COVID- related myths</a></li>
<li><a href="https://techcrunch.com/2020/03/16/facebook-reddit-google-linkedin- microsoft-twitter-and-youtube-issue-joint-statement-on-misinformation/">Social media platforms</a> which have released a collective statement promising to crack down on questionable content</li>
<li><a href="https://firstdraftnews.org/long-form-article/coronavirus-resources-for- reporters/)">Journalists and reporters</a>, who are sharing COVID-19 resources in multiple languages</li>
<li>The International Fact-Checking Network behind the <a href="https://twitter.com/search?q=list:factchecknet/coronavirusfacts%20%23coronavirusfacts&amp;src=typed_query&amp;f=live">#CoronaVirusFacts</a>/ #DatosCoronaVirus alliance</li>
<li>Continent-specific fact-checkers like <a href="https://euvsdisinfo.eu/disinformation-cases/">EU vs Disinfo</a></li>
<li>Fake news debunkers such as <a href="https://www.scmp.com/tech/apps-social/article/2183124/tencents-fake-news-debunkers-reached-nearly-300-million-wechat">Tencent for WeChat</a></li>
<li>Technologists who are providing <a href="https://www.osintessentials.com/">fact-checking tools</a></li>
</ul>
<p></div><div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Similar efforts are taking place in the Asia-Pacific, where region- and country-specific groups are relying on constant, collective fact-checking to combat the infodemic. We want to highlight some of them in this post.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In the Philippines, for example, journalists are <a href="https://earthjournalism.net/stories/reporting-the-unknown-how-reporters-in-the-philippines-cover-covid-19">sharing their best practices</a> on how to accurately report on the pandemic. Internews also funded a <a href="https://internews.org/updates/internews-expands-efforts-addresses-global-info-demic-covid-19">3-part video series</a> on how Philippine fact-checking organisation <a href="https://verafiles.org/">VERA Files</a> is combatting the COVID-19 infodemic. You can watch the three short videos below or on Engagemedia.org.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<Center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coronavirus-infodemic/embed_view' frameborder='0' width='800' height='500' allowfullscreen></iframe></Center>

The Coronavirus infodemic flooded our screens as the epidemic amassed victims, spreading fear and misunderstanding among people all over the world.  
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coronavirus-disinformation/embed_view' frameborder='0' width='800' height='500' allowfullscreen></iframe></center>

What sort of disinformation contributed to the COVID-19 infodemic? VERA Files Fact Check debunks inaccurate claims about bats and a false report about an alleged positive coronavirus case in Cebu in this video.
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coronavirus-protecting/embed_view' frameborder='0' width='800' height='500' allowfullscreen></iframe></center>

Do face masks work? VERA Files Fact Check explains how to protect yourself from COVID-19 in this video. This is the last of VERA's three-part video series.
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A similar Internews <a href="https://internews.org/updates/newscheck-fight-against-misinformation-empowering-citizens-india-through-news-literacy">project</a> is present in India, where partners are continuously conducting fact checks on rumours related to COVID-19.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://pixabay.com/illustrations/social-media-media-board-networking-1989152/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1920" height="1285" src="wp-content/uploads/2020/04/social-media-1989152_1920.jpg" class="vc_single_image-img attachment-full" alt="Image by Gerd Altmann from Pixabay. Used under a Pixabay license." sizes="(max-width: 1920px) 100vw, 1920px" /></div></a>
			<figcaption class="vc_figure-caption">Image by Gerd Altmann from Pixabay. Used under a Pixabay license.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In Malaysia, there is ample misinformation being shared online &#8211; such as one viral video claiming that coronavirus <a href="https://www.thestar.com.my/news/regional/2020/02/02/oh-please---coronavirus-won039t-turn-you-into-a-039zombie039-says-malaysia">would make people behave like zombies</a>. Malaysian media organisation The Star <a href="https://www.thestar.com.my/news/true-or-not/">regularly</a> debunks such false information on the pandemic.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In Indonesia, <a href="http://cekfakta.com/">CekFakta</a> is also at the forefront of debunking false information on the virus, including <a href="https://www.thejakartapost.com/news/2020/02/03/indonesia-wages-war-against-coronavirus-misinformation-as-hoaxes-spread-online.html">myths</a> that drinking garlic boiled in water can cure you. The collective fact-checking and verification project is in collaboration with the Indonesian Cyber Media Association, the Indonesian Anti-Slander Society, and the Alliance of Independent Journalists.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In Taiwan, <a href="https://tfc-taiwan.org.tw/articles/2366">Taiwan Fact-Check Center</a> has a dedicated project for COVID-related mis- and dis-information.</p>
<p>In Myanmar, the Ministry of Health and Sports (MOHS) is providing the latest information on COVID-19 on <a href="http://mohs.gov.mm/Main/content/page/electronic-health-management-information-system">its website</a> to combat countless fake news stories and hoaxes spreading in Myanmar. The MOHS is <a href="http://mohs.gov.mm/Main/content/publication/2019-ncov">also raising public awareness through videos</a> on how the medical staff and the general public can stay safe.</p>
<p>The BBC is also <a href="https://www.bbc.co.uk/mediaaction/where-we-work/asia/bangladesh/H2H- covid-19">teaching citizens</a> in Myanmar how to fight the infodemic through Thangyat or traditional folk music. It is also supporting similar efforts in Indonesia, India, Cambodia, and Nepal.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> BBC is teaching citizens in Myanmar how to fight the infodemic through Thangyat or traditional folk music.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div></div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>As this infodemic – arguably the first true <a href="https://www.technologyreview.com/s/615184/the-coronavirus-is-the-first-true-social-media-infodemic/">social media infodemic</a> of our time – continues with no clear end in sight, more and more initiatives will surely start and grow. It is up to us to stay informed and do our part to sustain these initiatives, else we ultimately lose in the broader fight against disinformation.</p>

		</div> 
	</div> <div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Sara Pacia is the Communications and Engagement Coordinator of EngageMedia. A journalist by training and multimedia storyteller at heart, she is passionate about utilising and appropriating today’s digital technologies for the empowerment of the public and the improvement of media and data literacy.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/covid-infodemic-asia-pacific/">Fighting the COVID-19 &#8216;Infodemic&#8217; in the Asia-Pacific</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/covid-infodemic-asia-pacific/feed/</wfw:commentRss>
			<slash:comments>4</slash:comments>
		
		
			</item>
	</channel>
</rss>
