<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Ellen Kusuma &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/ellenkusuma/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:13 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Ellen Kusuma &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>An Indonesian Guide to Choosing a Privacy-oriented Messaging App</title>
		<link>https://coconet.social/2021/indonesia-privacy-conversation-app/</link>
					<comments>https://coconet.social/2021/indonesia-privacy-conversation-app/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Thu, 20 May 2021 10:52:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Messaging Apps]]></category>
		<category><![CDATA[Privacy]]></category>
		<category><![CDATA[WhatsApp]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5849</guid>

					<description><![CDATA[<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. To help Indonesians better understand which messaging apps protect their users the most, Coconet member Southeast Asia Freedom of Expression Network (SAFEnet) has published a “Guide to Choosing a Privacy-Protecting Conversation App”.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="mceTemp"></div>
<div id="attachment_5860" style="width: 761px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-5860" class="wp-image-5860 size-large" src="wp-content/uploads/2021/05/SAFEnet-751x1024.jpeg" alt="" width="751" height="1024" sizes="(max-width: 751px) 100vw, 751px" /><p id="caption-attachment-5860" class="wp-caption-text">Graphic from SAFEnet, reposted with permission.</p></div>
<p>&nbsp;</p>
<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. Facebook, for example, is implementing changes that will force the users of WhatsApp, one of the most widely used messaging apps, to accept its new controversial privacy policy that will allow the harvesting of users&#8217; metadata for marketing purposes.</p>
<p>Speaking up against the implementation of this policy are 28 organisations from around the world, among them Coconet members Southeast Asia Freedom of Expression Network (<a href="https://safenet.or.id/">SAFEnet</a>), <a href="https://fma.ph/">Foundation for Media Alternatives</a>, and EngageMedia. The campaign also involves the urging of authorities to defend the rights of WhatsApp users. For additional reading, we also recommend checking out <a href="https://engagemedia.us1.list-manage.com/track/click?u=d9dee6898a6443ce6f94eb51a&amp;id=8515fb102b&amp;e=7e3eca7af8">this article from Session</a> discussing the app&#8217;s new privacy policy and why you should &#8220;steer clear&#8221; of the app if privacy is a concern for you.</p>
<p>Even before the start of the campaign, SAFEnet had already published a “<a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">Guide to Choosing a Privacy-Protecting Conversation App</a>” to help Indonesians better understand which messaging apps protect their users the most.</p>
<p>The guide ranks the apps, from WhatsApp to Signal, using seven ideal criteria a safe communication app should have. For an app to claim that it is secure, it must be:</p>
<ol>
<li>Freedom from dependence on large technology companies</li>
<li>Fully encrypted (E2EE)</li>
<li>Multi-platform support</li>
<li>Multi-mode communication (voice, text, video, and more)</li>
<li>Additional features that help users.</li>
</ol>
<p>Download the full guide in Bahasa Indonesia from <a href="https://coconet.social/wp-content/uploads/2021/05/Modul-SAFENet-versi-ebook-final.pdf">here</a>. Read the article in Bahasa Indonesia <a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">here</a>.</p>
<p>&nbsp;</p>
<p><em>Ellen Kusuma is a member of SAFEnet’s Security and Safety Division.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/indonesia-privacy-conversation-app/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Resources: Indonesian Guides to Combat Online Gender-based Violence</title>
		<link>https://coconet.social/2021/indonesia-online-gender-violence-resource/</link>
					<comments>https://coconet.social/2021/indonesia-online-gender-violence-resource/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Wed, 31 Mar 2021 15:54:18 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Online Gender-based Violence]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5373</guid>

					<description><![CDATA[<p>While the 2021 celebrations for International Women's Month are ending, it's important that digital rights advocates continue to share and amplify efforts surrounding online gender-based violence (OGBV). In Indonesia, Coconet community member SAFEnet recently published "Aspek Hukum untuk Jerat Pelaku" (Legal Aspects for Perpetrator's Snare), a guide that deals with the legal implications and actions for individuals whose intimate content are disseminated online and without their consent.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-online-gender-violence-resource/">Resources: Indonesian Guides to Combat Online Gender-based Violence</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>While the 2021 celebrations for International Women&#8217;s Month are ending, it&#8217;s important that digital rights advocates continue to share and amplify efforts surrounding online gender-based violence (OGBV). In Indonesia, the term is also referred to as KBGO, short for &#8220;kekerasan berbasis gender online&#8221;.</p>
<p>Coconet community member SAFEnet recently published &#8220;<a href="https://awaskbgo.id/ncii2">Aspek Hukum untuk Jerat Pelaku</a>&#8221; (Legal Aspects for Perpetrator&#8217;s Snare), a guide that deals with the legal implications and actions for individuals whose intimate content are disseminated online and without their consent. The guide follows an <a href="https://awaskbgo.id/ncii">earlier publication</a> that enumerates immediate actions to take even before legal action can happen.</p>
<div id="attachment_5376" style="width: 595px" class="wp-caption aligncenter"><a href="https://awaskbgo.id/ncii2"><img aria-describedby="caption-attachment-5376" class="wp-image-5376 size-full" src="wp-content/uploads/2021/03/Layout-Buku-Safenet-2_page-0001-585x830-1.jpg" alt="" width="585" height="830" sizes="(max-width: 585px) 100vw, 585px" /></a><p id="caption-attachment-5376" class="wp-caption-text">Click the image to read the report.</p></div>
<p>SAFEnet will also be publishing more guides in the coming months. Stay updated on their releases by following their <a href="https://awaskbgo.id/publikasi/">publications page</a> and social media.</p>
<p>&nbsp;</p>
<p><em>Ellen Kusuma is a member of SAFEnet’s Security and Safety Division.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-online-gender-violence-resource/">Resources: Indonesian Guides to Combat Online Gender-based Violence</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/indonesia-online-gender-violence-resource/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism</title>
		<link>https://coconet.social/2020/indonesia-digital-rights-safenet/</link>
					<comments>https://coconet.social/2020/indonesia-digital-rights-safenet/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Thu, 12 Nov 2020 02:00:55 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital Authoritarianism]]></category>
		<category><![CDATA[Indonesia]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3907</guid>

					<description><![CDATA[<p>In the Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism, SAFEnet documents the digital rights violations in the country and how these tie to the local, regional, and global contexts. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-digital-rights-safenet/">Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3907" class="elementor elementor-3907" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-3d5920c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="3d5920c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1802464" data-id="1802464" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3f77583 elementor-widget elementor-widget-text-editor" data-id="3f77583" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Disputes during the 2019 presidential elections have become one of the important records of the digital rights situation in Indonesia over the past year. Nevertheless, violation of digital rights in Indonesia also happened because of other reasons, like social environment conflict, especially in the regional area. Citizens are either criminalised or their right to security is violated because of their vigilance over public services.</p><p>The increasing of criminalisation of citizens due to their activities on the Internet in 2019 has become one of the situations that continue to repeat every year. It is the same with the silencing of critical voices of citizens who express their thoughts and argue over the Internet, especially on social media. Most of the victims are activists and journalists, but new victims have emerged, particularly academics.</p><p>The <a href="https://safenet.or.id/" target="_blank" rel="noopener">Southeast Asia Freedom of Expression Network</a> (SAFEnet) has been paying attention to the issue of digital rights since 2018, five years after the network was founded, which initially only advocated for freedom of expression online. In general, these digital rights include the right to access the Internet, the right to express using digital media, and the right to feel secure in digital media.</p><p>This report is an attempt to not only record the various violations of digital rights that happened during 2019, but also place them in a bigger context as to how they impact democracy. As new terminology, digital rights have not received serious attention, including how these rights are closely related to more fundamental rights, human rights.</p><p>Aside from being a tool to introduce digital rights issues, we hope this digital rights situation report can be our advocacy in pushing the country to create fulfilment and protection of digital rights. Happy reading.</p><p>The 2019 Indonesian Digital Rights Situation Report can be downloaded <a href="https://s.id/reportsafenet2019">here</a> or by clicking the image below.</p><p>The report by SAFEnet will be formally launched during a webinar on November 13, 2020, 14:00 Jakarta time (UTC+7). <a href="https://t.co/oGbscl8HCQ?amp=1" target="_blank" rel="noopener">Click here to register to the webinar</a>, and follow SAFEnet on Twitter for more details on the event.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4c27dea elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="4c27dea" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-80f520c" data-id="80f520c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-84ef5cd elementor-widget elementor-widget-spacer" data-id="84ef5cd" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6f99ad4 elementor-widget elementor-widget-image" data-id="6f99ad4" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
											<a href="https://s.id/reportsafenet2019">
							<img width="495" height="700" src="wp-content/uploads/2020/10/Indonesia-Digital-Right-Situation-2019-495x700.jpg" class="attachment-medium size-medium" alt="" sizes="(max-width: 495px) 100vw, 495px" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Click the image above to access the report.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-a30cb79 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="a30cb79" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-195bc19" data-id="195bc19" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2f13f07 elementor-widget elementor-widget-spacer" data-id="2f13f07" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1e92903 elementor-widget-divider--view-line_text elementor-widget-divider--element-align-center elementor-widget elementor-widget-divider" data-id="1e92903" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
							<span class="elementor-divider__text elementor-divider__element">
				ABOUT THE AUTHOR				</span>
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1f076f4 elementor-widget elementor-widget-text-editor" data-id="1f076f4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em>Ellen Kusuma is a member of SAFEnet&#8217;s Security and Safety Division. </em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-digital-rights-safenet/">Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/indonesia-digital-rights-safenet/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
