<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Call for Solidarity &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/call-for-solidarity/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 29 Jun 2020 02:29:37 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Call for Solidarity &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>#SaveRome: Call for Solidarity from Thailand</title>
		<link>https://coconet.social/2020/solidarity-thailand-save-rome/</link>
					<comments>https://coconet.social/2020/solidarity-thailand-save-rome/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Sun, 21 Jun 2020 02:58:16 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Call for Solidarity]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1589</guid>

					<description><![CDATA[<p>Note from the editor: After recent news related to human rights and freedom of expression in their country, Coconet members from Thailand shared the following call for solidarity addressed to the international community. We would like to share it here in full, with some links...</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/solidarity-thailand-save-rome/">#SaveRome: Call for Solidarity from Thailand</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><em>Note from the editor: After recent news related to human rights and freedom of expression in their country, Coconet members from Thailand shared the following call for solidarity addressed to the international community. We would like to share it here in full, with some links related to the issue.</em></strong></p>
<p>After the <a href="https://www.hrw.org/news/2020/06/05/cambodia-thai-activist-abducted-phnom-penh">abduction of Thai activist Wanchalearm Satsaksit</a> in <a href="https://www.bangkokpost.com/thailand/general/1929988/exiled-thai-activist-abducted-in-cambodia">Cambodia on 4 June 2020</a>, Rangsiman Rome, a member of the House of Representatives from the Move Forward Party, <a href="https://www.khaosodenglish.com/politics/2020/06/10/opposition-grills-govt-over-dissidents-abduction/">raised the issue of enforced disappearance to the parliamentary session</a>. Rome <a href="https://www.bangkokpost.com/thailand/politics/1933272/house-set-to-quiz-mfa-over-wanchalearm">questioned the investigation and the legal processes</a> in the disappearance of Wanchalearm, as well as various activists who have been missing since the 2014 military regime. He questioned the government&#8217;s responsibility in ensuring the safety of its people. The party is also proposing a bill to <a href="https://www.bangkokpost.com/thailand/general/1937148/move-forward-seeks-changes-to-emergency-law">amend the 2005 state of emergency decree</a>, requiring that government actions during emergency be checked by the legislative and judicial branches.</p>
<p>Through the Law, Justice and Human Rights Commission, Rome is also pushing for the ratification of the bill on the Prevention and Suppression of Torture and Enforced Disappearances. Although this is a risky move, the parliament has the responsibility to represent the public interest and protect the people from human rights violations.</p>
<div id="fb-root"></div>
<p><script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&amp;version=v7.0" nonce="gI1dNlRe"></script></p>
<div class="fb-post" data-href="https://www.facebook.com/rangsimanrome/posts/499733670783285" data-width="750">
<blockquote cite="https://www.facebook.com/rangsimanrome/posts/499733670783285" class="fb-xfbml-parse-ignore">
<p>[ผลการประชุม พิจารณาเรื่องร้องเรียนกรณีอุ้มหาย &quot;วันเฉลิม&quot;].ช่วงเช้าวันนี้ (17 มิถุนายน 2563) คณะกรรมาธิการการกฎหมาย&#8230;</p>
<p>Geplaatst door <a href="https://www.facebook.com/rangsimanrome/">Rangsiman Rome &#8211; รังสิมันต์ โรม</a> op&nbsp;<a href="https://www.facebook.com/rangsimanrome/posts/499733670783285">Woensdag 17 juni 2020</a></p></blockquote>
</div>
<p>&nbsp;</p>
<p>On Friday, June 19, 2020, rumors began to circulate on <a href="https://www.thaienquirer.com/14662/saverome-trends-on-thai-twitter-after-rumours-spread-online-of-campaign-against-move-forward-mp/?fbclid=IwAR2h7TcB_os_sb2Zf501-M9YmWNkDsT9oct2Q9jux3ExfF16t7s2bBxKSa0">Thai social media</a> that Rome was under serious threat from the authorities who were not happy with his move in the parliament.</p>
<p>Let&#8217;s build international solidarity to fight intimidation and suppression to the freedom of expression, demand justice for victims of forced disappearance, and say: enough is enough, no more cases of human rights violations!</p>
<p>You can find out more about this campaign through the following hashtags: #EnoughisEnough #SaveRome #SaveWanchalearm #ไม่ถอยไม่ทน. You can also read more about <a href="https://coconet.social/2020/thailand-student-online-activism-covid/">the recent waves of protest in Thailand on Coconet.social</a>.</p>
<p>&nbsp;</p>
<pre class="prettyprint _3t10 prettyprinted"><span class="tag"> </span></pre>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/solidarity-thailand-save-rome/">#SaveRome: Call for Solidarity from Thailand</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/solidarity-thailand-save-rome/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
