<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: An Indonesian Guide to Choosing a Privacy-oriented Messaging App	</title>
	<atom:link href="https://coconet.social/2021/indonesia-privacy-conversation-app/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2021/indonesia-privacy-conversation-app/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:13 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
</channel>
</rss>
