<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: #StopInternetShutdownMM: Civil society marks 1 year of world’s longest internet shutdown	</title>
	<atom:link href="https://coconet.social/2020/anniversary-myanmar-internet-shutdown/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/anniversary-myanmar-internet-shutdown/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 24 Nov 2020 06:06:18 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/anniversary-myanmar-internet-shutdown/#comment-51</link>

		<dc:creator><![CDATA[Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Tue, 24 Nov 2020 06:06:18 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1607#comment-51</guid>

					<description><![CDATA[[&#8230;] shutdown in Rakhine and Chin states. The internet shutdown, which has been ongoing since June 2019, continues to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] shutdown in Rakhine and Chin states. The internet shutdown, which has been ongoing since June 2019, continues to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
