<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Taiwan &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/taiwan/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 26 Jan 2021 00:22:15 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Taiwan &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</title>
		<link>https://coconet.social/2021/digital-identity-asia/</link>
					<comments>https://coconet.social/2021/digital-identity-asia/#respond</comments>
		
		<dc:creator><![CDATA[Open Culture Foundation]]></dc:creator>
		<pubDate>Tue, 12 Jan 2021 01:00:15 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital ID]]></category>
		<category><![CDATA[Digital Identity]]></category>
		<category><![CDATA[Japan]]></category>
		<category><![CDATA[Malaysia]]></category>
		<category><![CDATA[Singapore]]></category>
		<category><![CDATA[South Korea]]></category>
		<category><![CDATA[Taiwan]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4534</guid>

					<description><![CDATA[<p>Digital identification, or digital IDs, have become more common in Asia, with some countries even mandating its use for their citizens. Ho Ming-hsuan writes about the digital ID experiences of Taiwan, Japan, Malaysia, Singapore, and South Korea – and lists various issues that need to be tackled before digital IDs can be adopted more thoroughly in the region.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/digital-identity-asia/">Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="4534" class="elementor elementor-4534" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-5b68734f elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="5b68734f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-76a8c65" data-id="76a8c65" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4f657b6d elementor-widget elementor-widget-text-editor" data-id="4f657b6d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div id="attachment_4535" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4535" class="wp-image-4535 size-large" src="wp-content/uploads/2021/01/Coconet-OCF-Lab-Digital-ID-1024x536.png" alt="" width="1024" height="536" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4535" class="wp-caption-text">Photo from OCF, credited to 內政部釋出圖片</p></div>
<p>&nbsp;</p>
<p>Digital identification, or digital IDs, have become more common in Asia, with some countries even mandating its use for their citizens. Coconet community member&nbsp;<a href="https://ocf.tw/en/">Open Culture Foundation</a> (OCF) has published a series of articles on the digital ID experiences of five countries in Asia – Taiwan, Japan, Malaysia, Singapore, and South Korea – and listed various issues that need to be tackled before digital IDs can be adopted more thoroughly in the region.</p>
<p>The three-part series&nbsp;is available in <a href="https://lab.ocf.tw/2020/12/23/dititalid-taiwan-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-1/">Chinese</a>. Below are excerpts from each of the three articles.</p>
<h3>Part 1: Digital ID in Taiwan</h3>
<p>&#8220;Taiwan once again launched its comprehensive digital ID project in 2015, which made the third attempt to officially launch a project related to digital ID by the government, preceded by its previous efforts in 1998 and 2005 respectively.</p>
<p>This policy of producing digital ID has undergone numerous revisions since its launch in 2015. The latest version is the government to combine the existing National ID Card and the Citizen Digital Certificate into a new digital ID card with a chip (i.e. New eID), which is expected to go for a trial run in certain municipalities in January 2021 before a total rollout in July 2021.</p>
<p>In Taiwan, all citizens are required to have an ID card. The cards at present are paper-based in hardcopy. Yet, should citizens want to be digitally authenticated with their IDs, they can &#8216;voluntarily&#8217; apply for a &#8216;Citizen Digital Certificate&#8217; from the Ministry of the Interior. It is a system that has been operated for years prior to this rollout of New eID.&#8221;</p>
<p><strong><em>Read Part 1 in <a href="https://lab.ocf.tw/2020/12/23/dititalid-taiwan-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-1/">Chinese</a>.</em></strong></p>
<h3>Part 2: Digital ID in Taiwan</h3>
<p>&#8220;Malaysia’s National Digital ID Study Task Force organised a study from November 2019 to July 2020, to gauge public opinion through a survey posted on the Malaysian Communications and Multimedia Commission’s website.</p>
<p>Data security remains a real concern for some Malaysians, however, as the Personal Data Protection Act 2010 (PDPA) is seemingly inadequate in providing well-rounded data security. While the PDPA is able to regulate the use of personal data in the private sector, it cannot be enforced in the public sector. In other words, the use of personal data by the Malaysian government or by government organizations is not regulated by the PDPA, which might pose a data security risk.</p>
<p>Lawyer Louis Liaw from the Rosli Dahlan Saravana Partnership agrees that the National Digital Identity Initiative will bring more convenience to the lives of Malaysians, especially since internet and smartphone penetration rates in Malaysia are already rather high. However, he also believes that there should be legislation in place to regulate and legalise the National Digital Identity framework, so as to strengthen the people’s confidence in the government’s ability to protect their personal data. &#8216;Something is needed to regulate the government,&#8217; the lawyer quipped while maintaining a positive outlook on the benefits the National Digital Identity Initiative would bring to Malaysia.&#8221;</p>
<p><em><strong>Read Part 2 in <a href="https://lab.ocf.tw/2020/12/23/dititalid-jp-my-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-2/">Chinese</a>.&nbsp;</strong></em></p>
<h3>Part 3: Digital Identity in Singapore &amp; South Korea</h3>
<p>&#8220;The digital ID experiences of these five countries reveal that many people still have reservations regarding the use of digital ID as they lack confidence in the law and the government’s ability to protect their personal data. Data breach still poses a very real threat despite the severe punishment meted out in Singapore, the existence of a law protecting personal data in Malaysia and the change in legislation in South Korea.&#8221;</p>
<p><em><strong>Read Part 3 in <a href="https://lab.ocf.tw/2020/12/23/digitalid-sg-kr-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/30/eid-series-3/">Chinese</a>.</strong></em></p>
<p>&nbsp;</p>
<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>The Open Culture Foundation is a nonpartisan, nonprofit organization, founded in 2014 by several members of Taiwan&#8217;s open source community.</em></p>

		</div> 
	</div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2021/digital-identity-asia/">Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/digital-identity-asia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
