<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Censorship &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/censorship/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 18 Aug 2020 09:06:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Censorship &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Finas Act must be reformed to protect freedom of expression</title>
		<link>https://coconet.social/2020/malaysia-finas-act-freedom-expression/</link>
					<comments>https://coconet.social/2020/malaysia-finas-act-freedom-expression/#respond</comments>
		
		<dc:creator><![CDATA[Huey Shin Choo]]></dc:creator>
		<pubDate>Thu, 13 Aug 2020 00:00:37 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2220</guid>

					<description><![CDATA[<p>We appeal to Finas to stay true to its role of “uplifting, nurturing and facilitating” the development of the Malaysian film industry, as stated in Section 6 (1) of the Finas Act, and not function against the interest of filmmakers. If Finas enforces regulations under the law to censor and penalise filmmakers, it will go against its own objective and purpose.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/malaysia-finas-act-freedom-expression/">Statement: Finas Act must be reformed to protect freedom of expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>The following statement is a republication of the June 27, 2020, statement by Malaysian civil society organisations (namely the <a href="https://freedomfilm.my/">Freedom Film Network</a> and the <a href="https://cijmalaysia.net/">Centre for Independent Journalism</a>) on why the National Film Development Corporation Malaysia Act 1981 (also known as the <a href="http://www.agc.gov.my/agcportal/uploads/files/Publications/LOM/EN/Act%20244%20-%20Perbadanan%20Kemajuan%20Filem%20Nasional%20Malaysia%20Act%201981.pdf">Finas Act</a>) must urgently be reformed to protect the rights to freedom of opinion and expression in the country.</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style=""></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">Finas Act must be reformed to protect freedom of expression</h3>
<h4 style="text-align: center;">24 July 2020</h4>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We, the undersigned organisations and individuals, welcome Communication and Multimedia Minister Saifuddin Abdullah’s <a href="https://twitter.com/bernamadotcom/status/1286265813503115265?s=20">pledge</a> that the government will not be using the National Film Development Corporation Malaysia Act 1981 (Finas Act or Akta 244) to infringe on personal freedom on social media. This comes after his shocking <a href="https://www.malaysiakini.com/news/535700">statement</a> in Parliament yesterday that all film production in Malaysia, be it by mainstream media broadcasting or personal social media, must have a filming license.</p>
<p>The minister has since <a href="https://twitter.com/saifuddinabd/status/1286549684547289088?s=20">affirmed</a> that social media users will be free to produce and upload videos online without needing a license or being in fear of prosecution from the National Film Development Corporation Malaysia (Finas), the central government authority for the development of the local film industry. He iterated that there is a need for many of the laws under the purview of his ministry, including the Finas Act, to be reviewed and updated. He has also pledged to amend the Finas Act to keep with the times.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In that spirit, we would like to highlight some pertinent issues and related suggestions:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><strong>1. The licensing jurisdiction in the Finas Act needs to be clearly defined.</strong></em> Currently, the law could be interpreted to cover all forms of “film productions”; its definition of “films” includes feature films, short films, trailers, documentaries, moving images, films that have sound or do not and films that are meant for public viewing or otherwise. It is also silent on platforms so it could cover cinema, digital, public or private film production and screening. This means that “film production” could technically refer to a home-made video shot on a handphone to a multi-million ringgit movie production for cinema screening. The definition of “film production” will have to be amended and clearly defined to prevent the risk of the Finas Act being used arbitrarily depending on the “intentions” of the government.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Spotlight on Al Jazeera’s ‘filming licence’ may open a Pandora’s Box <a href="https://t.co/ftwqASzYAy">https://t.co/ftwqASzYAy</a> <a href="https://t.co/yIgCjs8r6a">pic.twitter.com/yIgCjs8r6a</a></p>&mdash; malaysiakini.com (@malaysiakini) <a href="https://twitter.com/malaysiakini/status/1285548468979687424?ref_src=twsrc%5Etfw">July 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><strong>2. There needs to be a clear justification of the purpose of licensing</strong></em> – for instance, for collecting data, planning or filmmaker funding purposes. These requirements should also be matched and limited to stated needs. The Finas Act’s current requirement for companies to have at least RM50,000 paid-up capital in order to qualify for a film or video production license has long caused anxiety and dissatisfaction among young and independent filmmakers making non-commercial films who do not have the financial requirements. This requirement will have to be removed from the law. Otherwise, it will result in a drop in the number and quality of films, including documentaries, and severely impact the growth of the film industry in Malaysia.</p>
<p><em><strong>3. News production companies such as Al Jazeera should not fall under the purview of the Finas Act if they are already accredited as media by the Information Department.</strong></em> It is also noteworthy that any decision on the case of the Al Jazeera “Locked Up In Malaysia’s Lockdown” documentary will act as a precedent and has the potential for misuse as it could be used arbitrarily on any production, including those screened online, as long as it is deemed as questioning or being critical of the State. Furthermore, it has the potential to create a climate of fear and censorship among filmmakers and drive away international production and film companies from investing and setting up operations in Malaysia.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">JUST IN: Minister Datuk <a href="https://twitter.com/saifuddinabd?ref_src=twsrc%5Etfw">@saifuddinabd</a> clarifies that the ministry has no intention of suppressing one’s freedom on social media. He notes that Finas Act 1981 needs improvement and that the ministry is open for suggestions. <a href="https://t.co/S7IkR2yeR5">pic.twitter.com/S7IkR2yeR5</a></p>&mdash; TheMalaysianReserve (@TMReserve) <a href="https://twitter.com/TMReserve/status/1286255605728960513?ref_src=twsrc%5Etfw">July 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><strong>4. The licensing of films by Finas must not be used as a form of control and censorship.</strong></em> The recent reported remark by Zakaria Abdul Hamid, the chairperson of Finas, that all video recordings must have a license from his agency to ensure said video recordings do not “incite unrest or cause a public nuisance” is very telling of how Finas perceives its role. This is also clearly indicative of: (i) an overlap of roles between Finas, the Malaysian Communications and Multimedia Commission and the Film Censorship Board; (ii) a breach of the covenant of industry self-regulation under the Communications and Multimedia Act, and; (iii) a double layer of censorship and film content control.</p>
<p>We appeal to Finas to stay true to its role of “uplifting, nurturing and facilitating” the development of the Malaysian film industry, as stated in Section 6 (1) of the Finas Act, and not function against the interest of filmmakers. If Finas enforces regulations under the law to censor and penalise filmmakers, it will go against its own objective and purpose. It is imperative that Finas not allow itself to be used as a tool by the current regime to silence dissent and target media companies like Al Jazeera simply because their documentary places the State in an unfavourable light.</p>
<p>On the other hand, the Communications and Multimedia Minister must immediately uphold his pledge to amend the Finas Act to protect freedom of expression and media freedom. As key and invested stakeholders and allies, we are willing to engage in a dialogue with the minister in order to seek a sustainable roadmap to align our laws to protect the right of freedom of expression and public interest.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Issued by the Centre for Independent Journalism (CIJ) and Freedom Film Network (FFN)</strong></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Endorsed by the following organisations:</p>
<ol>
<li>EMPOWER Malaysia</li>
<li>Gerakan Media Merdeka (Geramm)</li>
<li>Global Bersih</li>
<li>ENGAGE</li>
<li>Engage Media</li>
<li>Justice for Sisters</li>
<li>Komuniti Filem Titiwangsa (Komfit)</li>
<li>KRYSS Network</li>
<li>Malaysian Documentary Association (MYDOCS)</li>
<li>North-South Initiative (NSI)</li>
<li>Our Journey</li>
<li>Pangrok Sulap</li>
<li>Persatuan Sahabat Wanita Selangor (PSWS)</li>
<li>Pusat Komas</li>
<li>ReformARTsi (An arts coalition comprising 117 members, of which 55 are from art groups or companies)</li>
<li>Sabah Reform Initiative (SARI)</li>
<li>Sisters in Islam (SIS)</li>
<li>SUARA Community Filmmaking</li>
<li>Taskforce Against Kaiduan Dam (TaKaD)</li>
<li>The Instant Cafe Theatre Company</li>
</ol>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Endorsed by the following individuals:</p>
<ol>
<li>Amir Muhammad [Kuman Pictures Sdn Bhd]</li>
<li>Azmyl Yunor [Artist and academician]</li>
<li>Bea Tanaka [Producer]</li>
<li>Hariati Azizan [Journalist]</li>
<li>Iskander Azizuddin [Feisk Productions]</li>
<li>Jerome Kugan</li>
<li>Loo Hong Chuang [Academician]</li>
<li>Nadira Ilana [Telan Bulan Films]</li>
<li>Nandhita Solomon [Creative producer]</li>
<li>Susan Lankester [Actor, producer and director, BWC Pictures]</li>
<li>Yow Chong Lee [Filmmaker and academician]</li>
</ol>

		</div> 
	</div> </div></div></div></div></div></div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author/s</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Huey Shin is a member of the Freedom Film Network in Malaysia. For media inquiries regarding the statement, contact Vinodh Pillai at media_comms@cijmalaysia.net.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/malaysia-finas-act-freedom-expression/">Statement: Finas Act must be reformed to protect freedom of expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/malaysia-finas-act-freedom-expression/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>The Myanmar government is hiding the truth of Arakan conflicts</title>
		<link>https://coconet.social/2020/myanmar-internet-media-censorship/</link>
					<comments>https://coconet.social/2020/myanmar-internet-media-censorship/#comments</comments>
		
		<dc:creator><![CDATA[Kyaw Lynn]]></dc:creator>
		<pubDate>Tue, 19 May 2020 09:36:23 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Disinformation]]></category>
		<category><![CDATA[Myanmar]]></category>
		<category><![CDATA[Press]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1387</guid>

					<description><![CDATA[<p>The military strategy to fight the AA and other rebel groups in the country can be summarized into cutting off four key areas: recruitment, food, budget, and information. The fourth part, information, means to censor news and media about the Arakan conflicts.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-internet-media-censorship/">The Myanmar government is hiding the truth of Arakan conflicts</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1280" height="800" src="wp-content/uploads/2020/05/95278020_1673689189438959_6368142275997859840_o.jpg" class="vc_single_image-img attachment-full" alt="Rakhine Myanmar World Food Programme" sizes="(max-width: 1280px) 100vw, 1280px" /></div>
			<figcaption class="vc_figure-caption">In conflict-stricken Arakan, Myanmar, news and information are often censored by the state, such as in the case of the April 29 shooting of a World Food Programme truck. Photo by Development Media Group, used with permission.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On May 3, 2020, the Myanmar government <a href="https://www.mmtimes.com/news/govt-eases-internet-black-out-rakhine.html">restored internet access in Maungdaw township</a>, one of Myanmar’s nine townships in Arakan (formally known as Rakhine State) and Chin State without internet access for almost a year. The reason, they reported, was due to more stability in the area. But in reality, the grounds for reinstalling the internet are different from the reported reason. In fact, the government and military are using the <a href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/">internet shutdown</a> to monopolize information, thereby robbing people of the truth on Arakan conflicts.</p>
<p class="western">For the government of Myanmar, there are two burning political issues in Arakan: the question of armed revolution by the <a href="https://www.arakanarmy.net/">Arakan Army</a> (AA), which the government has declared a <a href="https://www.mmtimes.com/news/myanmar-govt-declares-arakan-army-terrorist-group.html">terrorist group</a>, and the case of ethnic <a href="https://www.icj-cij.org/en/case/178">Rohingya Muslims</a>, who the <a href="https://www.hrw.org/news/2020/01/27/international-court-justice-orders-burmese-authorities-protect-rohingya-muslims">UN International Court of Justice</a> said should be protected from <a href="https://www.facebook.com/407570359384477/posts/1814273642047468/">genocide and military violence</a>. The two issues are related to each other – the self-determination of the Arakan region must consider the group rights of Rohingya Muslims, while the group rights of Rohingya Muslims must also be compatible with the autonomy of the Arakan community.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 class="western">Countering AA through information and media</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The military strategy to fight the AA and other rebel groups in the country can be summarised into cutting them off in four key areas: recruitment, food, budget, and information. The first three parts of this strategy have resulted in tens of thousands of innocent civilians displaced and moved to internal refugee camps. A number of villages have also been burned down in order to separate rebels and local supporters. From December 2019 to mid-April 2020, the nongovernment organization <a href="https://www.facebook.com/BurmaMonitor/posts/518519182162858">Burma Monitor</a> reported over 163,000 displacements, 366 deaths, 406 injuries, and 45 arrests in Arakan and Chin State alone.</p>
<p>The fourth part, information, means to censor news and media about the Arakan conflicts. To do this, the government <a href="https://www.aljazeera.com/news/2020/04/myanmar-military-steps-attacks-coronavirus-spreads-200416060255091.html">has sued</a> and continues to sue <a href="https://www.ifj.org/media-centre/news/detail/category/asia-pacific/article/myanmar-military-drops-irrawaddy-and-reuters-lawsuits.html">local and international media</a> under different laws such as counter-terrorism and unlawful association. Among the media outfits sued were national organisations <a href="https://www.ifj.org/media-centre/news/detail/category/press-releases/article/myanmar-editor-arrested-over-interview-with-ethnic-armed-group.html">Voice of Myanmar</a> and <a href="https://www.khitthitnews.com/">Khit-Thit Media</a>, as well as local media like <a href="https://www.irrawaddy.com/in-person/interview/myanmar-govts-crackdown-on-journalists-angers-media-and-legal-insiders.html">Narinjara</a> and <a href="https://www.facebook.com/dmgenglishversion/posts/2641845436053122">Development Media Group</a> (DMG). On top of this, websites by the AA and local media remain blocked in the country, meaning audiences cannot access information on them through locally operated telecommunication channels.</p>
<p>Due to the lawsuits, domestic media no longer interview the AA to get their side of the story, which in turn has led to one-sided or biased news, and even <a href="https://www.arakanarmy.net/post/two-staffs-of-the-who-shot-by-the-checkpoint-of-the-myanmar-army-at-the-front-of-ra-maung-bridge">government and military propaganda</a>. Here are four prominent examples of this, all within April 2020.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1438" height="795" src="wp-content/uploads/2020/05/Screen-Shot-2020-05-14-at-5.53.28-PM.png" class="vc_single_image-img attachment-full" alt="Myanmar Media DMG Paletwa" sizes="(max-width: 1438px) 100vw, 1438px" /></div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1439" height="792" src="wp-content/uploads/2020/05/Screen-Shot-2020-05-14-at-5.53.15-PM.png" class="vc_single_image-img attachment-full" alt="Myanmar Media Global Light of Myanmar Paletwa" sizes="(max-width: 1439px) 100vw, 1439px" /></div>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 15px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center; font-size: 75%;">The April 29 shooting of a World Food Programme truck in Paletwa Town, Chin State was reported differently by national media (left) and state media. Whatever the truth is, it is alarming that the Arakan Army is automatically blamed without prior investigation, and the people in the conflict-stricken area not consulted.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On the morning of April 13, 2020, artillery shelling from the military&#8217;s Battalion No. 550 hit the Yangon-Sittwe Highway near the village of Kyauk-Sike, Ponnagyun township. Eight innocent civilians were killed and seven more were injured. This story was covered by a number of regional and international media like <a href="https://www.reuters.com/article/us-myanmar-rakhine/officials-say-eight-killed-in-myanmars-rakhine-state-army-says-reports-fabricated-idUSKCN21V1LD">Reuters</a>, <a href="https://www.aljazeera.com/news/2020/04/killed-myanmar-troubled-western-state-rakhine-200414020254435.html">Aljazeera</a>, <a href="https://youtu.be/4T32teP6USs">Radio Free Asia</a> (RFA), and <a href="https://www.dmediag.com/news/1390-png-vcm-8d">The Irrawaddy</a>, which highlighted the event while also interviewing family members of the deceased. There was also evidence showing that the artillery and weapon marks were from Myanmar military products. However, the state media, especially military-owned ones like <a href="https://en.wikipedia.org/wiki/Myawaddy_TV">Myawaddy TV</a>, reported there was no such event that day and that all news and information on it were fake and fabricated.</p>
<p>The second most prominent example is the <a href="https://www.aljazeera.com/news/2020/04/attack-vehicle-killed-myanmar-driver-condemned-200422011858564.html">April 20 killing</a> of the World Health Organization (WHO) driver in Min-Bra Township, one of the conflict areas with no internet access, while carrying COVID-19 samples to be tested in Yangon. Both the government and the AA <a href="https://www.mmtimes.com/news/myanmar-govt-forms-panel-probe-who-vehicle-attack.html">denied being behind the attack</a>. Whatever the truth is, international media remained neutral in their coverage of the attack. But state media coverage and messaging to the local community concluded it was an AA attack, citing only statements from the government and military. The one-sided nature of the story has reportedly made the local people in Arakan angry and disappointed. Weeks later, the Myanmar government formed a committee to <a href="https://www.irrawaddy.com/specials/myanmar-covid-19/myanmar-begins-investigation-drivers-fatal-shooting.html">investigate the attack</a>. The investigation is <a href="https://www.aljazeera.com/news/2020/04/rapporteur-urges-probe-myanmar-war-crimes-200428072927948.html">still ongoing</a>, but based on previous statements, it is clear the commission will say it is an AA attack. In fact, presidential spokesperson U Zaw Htay already said even before the end of the investigation: “It (WHO car) was attacked by AA and we formed a committee to investigate it <a href="https://www.facebook.com/myanmarnownews/videos/265957091210266/?t=702">in order to fulfil the international demand</a>”.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The third striking incident of the government’s monopolization of the truth is the April 21 killing of Arakan youth Kyaw Min Chey in May Lwan village, Min-Bra township. Government media like Global New Light of Myanmar and Myawaddy reported that an AA member (not a civilian), while on his motorbike, was killed after being caught with a Chinese-made grenade and a knife in a toolbox. But reports from <a href="https://www.rfa.org/english/news/myanmar/villager-shot-04222020175624.html">RFA</a> told the truth: After coming back from fishing, Kyaw Min Chay was killed by military soldiers at the entrance of his village, his mother a witness. After his death, the soldiers gave his family 150,000 MMK (or USD 104) as compensation, saying, “We are so sorry, and it is just usual thing happened in the time of war.” The family accepted the money because they were afraid of the soldiers.</p>
<p>The final and newest occurrence happened on April 29, when <a href="https://www.wfp.org/news/wfp-food-reaches-communities-affected-conflict-and-hunger-remote-paletwa-chin-state">World Food Programme trucks were attacked</a> while transporting food to Paletwa Town in Chin State. As usual, <a href="https://www.globalnewlightofmyanmar.com/aa-attack-wfps-relief-aid-convoy-for-locals-in-paletwa/">the government accused the AA</a>, while the latter <a href="https://www.dmediag.com/news/1444-wfp-plw">denied the claims</a>. Paletwa is a mountainous and conflict-stricken area with no internet and media accessibility. Thus, only news by government media can reach it. As there remains a huge question of who to believe in this situation, it is all the more essential that non-government and international media be allowed to reach the area.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h5 class="qode-simple-quote-text-title"> The arrest of the Nay Myo Lin (from Voice of Myanmar) shows that the Myanmar government has failed to take into account calls from various media freedom groups to protect journalists’ safety andfreedom of the press. IFJ urges the authorities to drop the case against Nay Myo Lin as the VOM was conducting a legitimate interview in response to a recently introduced ruling.  </h5>
				</div>
				<div class="qode-simple-quote-author-holder">
					<h4 class="qode-simple-quote-author-title"> International Federation of Journalists  </h4>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 class="western">Monopolizing the news</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>These four examples have shown us how the government and military <a href="https://www.dmediag.com/news/1448-hr-athan">manipulate and monopolize news</a> and information on conflicts in Arakan. Continuing to do so, however, can potentially escalate this conflict in the future. After all, the real motive of restoring the internet is less about the armed conflict or stability, and more about addressing international pressure, such as <a href="https://www.dhakatribune.com/bangladesh/rohingya-crisis/2020/05/11/myanmar-unhcr-undp-extend-mou-on-rohingya-repatriation">allowing the Rohingya Muslims’ voluntary repatriation</a>. These efforts have since been suspended due to COVID-19 and the increasing number of cases in neighbouring Bangladesh. On top of that, the armed conflict in Arakan <a href="https://www.aljazeera.com/programmes/insidestory/2020/04/myanmar-stepping-attacks-ethnic-rebel-groups-200418180109734.html">shows no sign of ceasing or reducing</a> despite the AA’s declaration of a unilateral ceasefire till the end of May 2020 due to the pandemic. These recent decisions have led to <a href="https://www.irrawaddy.com/news/burma/suu-kyis-backing-myanmar-military-rakhine-state-conflict-draws-criticism.html">criticism of Myanmar State Counselor Aung San Suu Kyi</a>, thought by most democratic Burmese and non-Burmese ethnic people to be a moderator or mediator between the two sides of the armed conflict. It is also clear that these events have led to more identity-based politics, like Burmese vs non-Burmese people.</p>
<p>Let me highlight three sentences from the book 1984 by English novelist George Orwell: “War is Peace”, “Freedom is Slavery”, and “Ignorance is Strength”. The Myanmar government and military, like the book’s Ministry of Truth, are trying to rob the truth in Arakan conflicts, thus making people “more fearful” and “less knowing”. As the local people in Arakan become more fearful, they become mute. As the people in Myanmar become less knowing, they become blind and deaf.</p>
<p>Covering up these atrocities in Arakan makes “Wrong into Right” and “Right into Wrong”.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Kyaw Lynn is a postgraduate student majoring in Political Science at the University of Yangon in Myanmar. He is also the chairperson of his university&#8217;s Political Science Association and one of the founders of <a href="https://www.facebook.com/amnestyarakanteam/">Amnesty Arakan Team</a>.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-internet-media-censorship/">The Myanmar government is hiding the truth of Arakan conflicts</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-internet-media-censorship/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>World Press Freedom Day: How can civil society support journalists?</title>
		<link>https://coconet.social/2020/press-freedom-civil-society/</link>
					<comments>https://coconet.social/2020/press-freedom-civil-society/#respond</comments>
		
		<dc:creator><![CDATA[coconetadmin]]></dc:creator>
		<pubDate>Sun, 03 May 2020 07:34:42 +0000</pubDate>
				<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Disinformation]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<category><![CDATA[Censorship]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1323</guid>

					<description><![CDATA[<p>May 3 marks World Press Freedom Day, a day to commemorate the importance of freedom of the press. This year's theme, "journalism without fear or favour", is particularly apt considering the world today, when reporting on the coronavirus has become "the new scapegoat for media censorship".</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/press-freedom-civil-society/">World Press Freedom Day: How can civil society support journalists?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>May 3 marks <em><strong><a href="https://en.unesco.org/sites/default/files/unesco_covid_brief_en.pdf">World Press Freedom Day</a></strong></em>, a day to commemorate the importance of freedom of the press.</p>
<p>This year&#8217;s theme, &#8220;<em><strong>journalism without fear or favour</strong></em>&#8220;, is particularly apt considering the world today, when reporting on the coronavirus has become &#8220;<a href="https://www.voanews.com/press-freedom/coronavirus-new-scapegoat-media-censorship-rights-groups-say">the new scapegoat for media censorship</a>&#8220;. Around the world, journalists <a href="https://www.theguardian.com/world/2020/mar/01/li-zehuajournalist-wouldnt-stay-quiet-covid-19-coronavirus">have gone missing</a> or <a href="https://www.amnesty.org.uk/urgent-actions/journalist-reporting-covid-19-jailed">have been arrested</a> for reporting on COVID-19 and government responses to the pandemic. On top of these events, journalists are also combatting the equally contagious <a href="https://coconet.social/2020/covid-infodemic-asia-pacific/">infodemic</a> and governments&#8217; strategy of <a href="https://en.unesco.org/sites/default/files/unesco_infocus_mediaindependence.pdf">media capture</a> to stifle editorial independence.</p>
<p>Despite new challenges in covering issues of public interest during the pandemic, journalists continue to persevere in reporting news that matters, without fear or favour, by adapting to the &#8220;new normal&#8221; through using more digital means to pursue leads and stories. They press on despite attacks on press freedom, harassment, scarce access to government information, and other challenges. With this, support and advocacy related to journalists and media freedom should be sustained during and after the pandemic.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In celebration of World Press Freedom Day, we shine the spotlight on the Coconet community&#8217;s journalists and media workers who are working in the Asia-Pacific.  We asked them to respond to one question, so that we in civil society can help them continue their work without fear or favour.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><strong>How can civil society support journalists to continue reporting without fear or favour, especially in the time of COVID-19?</strong></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Vicheika Kann</strong>, a journalist with <a href="https://www.voacambodia.com/">Voice of America Cambodia</a> and vice president of <a href="https://cambojanews.com/about/">Cambodian Journalists Alliance</a>, stresses the importance of advocating for journalists. &#8220;Civil society is a group of people who always stay behind journalists to report the sensitive stories without fear or favour. They have advocated for journalists rights and the truth for society. Especially the truth about COVID-19 epidemic.&#8221;</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Zevonia Vieira</strong>, a journalist with <a href="http://tafara.tl/">Tafara.tl</a> and president of the Timor-Leste Journalist Association, echoes Vicheika&#8217;s sentiments. Civil society, she says, should be &#8220;fighting against false or fake information about COVID-19 and defending human rights, especially the people affected by the coronavirus and during the lockdown.&#8221; In a separate interview, Zevonia also talks about her <a href="https://un.org.tl/en/media-center/blogs/from-the-frontlines-as-a-journalist-and-working-parent-in-the-time-of-crisis">experience on the frontlines as a journalist and working parent.</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Sanjib Chaudhary</strong>, editor of <a href="https://community.globalvoices.org/2019/08/meet-sanjib-chaudhary-the-host-of-the-asialangsonline-twitter-account-for-august-13-19/">Global Voices Nepali Lingua</a>: &#8220;Moral support from civil society, both offline and online, matters a lot to journalists to continue reporting without fear or favour. And especially support through social media channels like Twitter makes a difference.&#8221;</p>
<p>To illustrate his point, Sanjib points to the <a href="https://kathmandupost.com/valley/2020/04/27/former-secretary-bhim-upadhyay-released-on-bail">public outcry against the arrest of a Nepali official</a> who was critical of the country&#8217;s prime minister. &#8220;Recently, during the lockdown imposed by the government due to COVID-19, I’ve noticed people supporting journalists, writers and opinion. Former secretary Bhim Upadhyay got a lot of support in social media users from all walks of life. His arrest caused an uproar throughout the country and he is now more vocal than ever.&#8221;</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Thu Bui</strong>, a journalist with <a href="https://www.bbc.com/vietnamese">BBC News Vietnam</a> : &#8220;In the time of critical crisis, like this pandemic, autocratic governments tend to issue more laws and regulations to control information, to restrict journalists’ activities in the name of national interest and saving lives. When a state of emergency is declared anywhere, it’s even harder for journalists to continue their cause of telling the truth.&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://unesco.exposure.co/cartoons-for-freedom-of-expression-during-covid19" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1000" height="1000" src="wp-content/uploads/2020/05/ZACH.gif" class="vc_single_image-img attachment-large" alt="Unesco World Press Freedom Day Cartoon Zach" /></div></a>
			<figcaption class="vc_figure-caption">UNESCO partnered with Cartooning for Peace to create and share cartoons for World Press Freedom Day 2020. This cartoon is by Zach from the Philippines.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>With COVID-19, such <a href="https://ipi.media/covid-19-abuse-of-emergency-powers-to-stifle-media-grows/">use of emergency powers to silence media</a> is not uncommon. One such state of emergency is in <a href="https://apnews.com/1356badfaf42132422a1b9317bb44a64">Thailand</a>, which critics say has resulted in a <a href="https://www.hrw.org/news/2020/03/25/thailand-covid-19-clampdown-free-speech">clamping down of free speech</a>. Similar decrees have been used to arrest critics in <a href="https://www.rfa.org/english/news/vietnam/facebook-04132020154643.html">Vietnam and Laos</a>.</p>
<p>&#8220;One of the most important things that civil society can do to help journalists to fulfil their mission is to monitor the governments’ decisions, to question and challenge any ill intent from governments in keeping journalist from information, from the truth,&#8221; she adds.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Aie Balagtas See</strong>, an <a href="https://pcij.org/article/3979/philippine-jails-are-a-covid-19-time-bomb">investigative journalist</a> from the Philippines, echoes Bui&#8217;s call for civil society to &#8220;oppose moves that muzzle free press and free speech&#8221;. She adds: &#8220;Defend the press, stand with them. Especially each time fake news peddlers or autocrats attack them. A society is not free unless the press is truly free.&#8221;</p>
<p>Aie also says civil society can &#8220;donate or subscribe to newspapers or media outlets. Don’t let lack of advertisers kill legitimate media firms, and if you can, pay for the news you consume&#8221;. Because the internet allows us to access information without payment, particularly on social media, newsrooms around the world have been struggling with <a href="https://www.cjr.org/the_media_today/if-readers-pay-for-your-news-youre-one-of-the-lucky-ones.php">getting audiences to pay for their content</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Kathryn Raymundo</strong>, media specialist with <a href="https://internews.org">Internews Philippines</a>, also stresses the need to validate journalists, whether through protecting them or paying for the news. She writes: &#8220;The best way to support journalism is to validate their good work — share the stories that made an impact, news that mattered to me and my community. I value independent, quality reporting. I subscribe to news organizations and promote their innovation, especially those of the local news’.&#8221;</p>
<p>The COVID-19 pandemic has seen journalists around the globe collaborate on <a href="https://b.engagemedia.org/2020/world-health-day-covid-19/">collective resources</a> to better their coverage of the pandemic.</p>
<p>She adds: &#8220;Finally, I advocate for free expression and press freedom. Our journalists are the most curious, hardworking, and passionate people I know. I hope people realize how important journalism is in our society. Media help make sense of what is happening around us.</p>
<p>&#8220;For keeping us informed, thank you.&#8221;</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 30px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Reporters Without Borders (RSF) ranked the degree of freedom available to journalists in 180 countries through the <a href="https://rsf.org/en/detailed-methodology">2020 World Press Freedom Index</a>. You may check out the rankings <a href="https://rsf.org/en/ranking_table">here</a>. Learn more about World Press Freedom Day <a href="https://en.unesco.org/commemorations/worldpressfreedomday">here</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Coconet Community</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><i>Coconet is a community of changemakers in the Asia-Pacific dedicated to digital rights movement building in the region. Among the members of the network are journalists from the region who continue reporting with fear or favour.</i></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/press-freedom-civil-society/">World Press Freedom Day: How can civil society support journalists?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/press-freedom-civil-society/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</title>
		<link>https://coconet.social/2020/bebaskan-ravio-patra-privacy/</link>
					<comments>https://coconet.social/2020/bebaskan-ravio-patra-privacy/#comments</comments>
		
		<dc:creator><![CDATA[Pitra Hutomo]]></dc:creator>
		<pubDate>Fri, 24 Apr 2020 05:12:04 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Campaign]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Privacy]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1184</guid>

					<description><![CDATA[<p>On the evening of April 22, 2020, researcher Ravio Patra was arrested in Jakarta, Indonesia, not long after an attempt to protect his safety due to a WhatsApp privacy breach. His work has captured the interest of many, notably his most recent critique on the sparse handling of COVID-19 by the Jokowi administration.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/bebaskan-ravio-patra-privacy/">#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>There’s nothing new with the fact that <a href="https://www.forbes.com/sites/zakdoffman/2019/10/03/new-whatsapp-warning-security-flaw-confirmed1-billion-users-told-update-apps-now/#4d36b9322582">WhatsApp is not a secure messaging platform</a>. What is increasingly alarming, however, is the number of people who are exposed to the threat both virtually and physically because of the app. Despite these risks, Indonesians are not able to remove themselves from WhatsApp due to direct endorsement from Chinese phone manufacturers, as well as having the app pre-installed in affordable Android phones. Asking people to move to more secure platforms can feel like converting people&#8217;s belief.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>But on the evening of April 22, 2020, researcher Ravio Patra was arrested in Jakarta, Indonesia, not long after an attempt to protect his safety due to a WhatsApp privacy breach. His work has captured the interest of many, notably his <a href="https://tirto.id/kenapa-penyajian-data-rasio-kematian-covid-19-dari-bnpb-menyesatkan-eP1k">most recent critique</a> on the sparse handling of COVID-19 by the Jokowi administration.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500" height="500" src="wp-content/uploads/2020/04/signal-attachment-2020-04-23-133345_001-500x500.jpeg" class="vc_single_image-img attachment-thumbnail" alt="Bebaskan Ravio Patra" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Following Ravio&#8217;s arrest, a <a href="https://www.change.org/p/presiden-joko-widodo-jokowi-kepolisian-ri-bebaskanravio-ungkap-pelaku-peretasan">petition</a> was launched by his colleagues urging for his immediate release. Also demanding his release was a coalition comprised of <a href="https://id.safenet.or.id/">SAFEnet</a> (Southeast Asia Freedom of Expression Network), <a href="https://ylbhi.or.id/">YLBHI</a> (Yayasan Lembaga Bantuan Hukum Indonesia), <a href="https://www.bantuanhukum.or.id/web/">LBH Jakarta</a> (Lembaga Bantuan Hukum Jakarta), <a href="http://lbhpers.org/">LBH Press</a>, <a href="https://kontras.org/">KontraS</a> (Komisi Untuk Orang Hilang dan Korban Tindak Kekerasan), AMAR law firm, <a href="https://antikorupsi.org/">ICW</a> (Indonesia Corruption Watch), <a href="https://lokataru.id/">Lokataru Law and Human Rights Office</a>, <a href="https://asia-ajar.org/">AJAR</a> (Asia Justice and Rights), <a href="https://www.amnesty.id/">Amnesty International Indonesia</a>, and <a href="http://icjr.or.id/">ICJR</a> (Institute of Criminal Justice Reform). Read the coalition&#8217;s full statement <a href="https://cloud.engagemedia.org/s/ZLyBxHNepp7Jyi9#pdfviewer">here</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Ravio was released the next day at 8 a.m. UTC+7. However, he still remains a suspect.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Sampai sekarang <a href="https://twitter.com/hashtag/RavioHilang?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#RavioHilang</a>, kita nggak tau Ravio ditahan dimana dan karena apa<br><br>Bantu saya desak Kapolri untuk segera <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#BebaskanRavio</a>, ungkap dan tahan peretas WhatsAppnya dengan tanda tangani petisi <a href="https://t.co/v1oaYOcYQw" data-width="300">https://t.co/v1oaYOcYQw</a><a href="https://twitter.com/hashtag/RavioHilang?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#RavioHilang</a> <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#BebaskanRavio</a> <a href="https://twitter.com/hashtag/AtasiVirusCabutOmnibus?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#AtasiVirusCabutOmnibus</a></p>&mdash; Atasi Virus Cabut Omnibus (@FraksiRakyat_ID) <a href="https://twitter.com/FraksiRakyat_ID/status/1253222310615543808?ref_src=twsrc%5Etfw" data-width="300">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Kami menduga motif penyebaran itu adalah untuk menempatkan Ravio sebagai salah satu pihak yang dijebak dengan seolah-olah akan membuat kerusuhan. <a href="https://twitter.com/safenetvoice?ref_src=twsrc%5Etfw">@safenetvoice</a> menyampaikan agar Ravio bisa mengumpulkan dan mendokumentasikan semua bukti. <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw">#BebaskanRavio</a></p>&mdash; Amnesty International Indonesia (@amnestyindo) <a href="https://twitter.com/amnestyindo/status/1253208095754317824?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">SEGERA LEPASKAN RAVIO PATRA, HENTIKAN KRIMINALISASI, UNGKAP PELAKU PERETASAN! <a href="https://t.co/ePATThJYdp">pic.twitter.com/ePATThJYdp</a></p>&mdash; KONTRAS (@KontraS) <a href="https://twitter.com/KontraS/status/1253200679960748032?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Kemarin siang Ravio beritahu saya, selain WA dihijack, dia juga menerima panggilan telpon dari nomor2 yang tidak ia kenal. <br>Kita lihat saja sebentar lagi, pertunjukan drama apa yang akan digelar aparat<a href="https://twitter.com/hashtag/bebaskanravio?src=hash&amp;ref_src=twsrc%5Etfw">#bebaskanravio</a> <a href="https://t.co/0RIezzK4IL">pic.twitter.com/0RIezzK4IL</a></p>&mdash; Tunggal Pawestri (@tunggalp) <a href="https://twitter.com/tunggalp/status/1253161937094901760?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Ravio Patra adalah seorang peneliti dan penggiat media sosial.<br><br>Kemarin (23/04), Ravio mengeluh akun WhatsApp-nya error dan kemungkinan diretas pihak lain. Ia juga dan meminta supaya dia tidak dihubungi dulu. <a href="https://t.co/AOqvkTDF6E">pic.twitter.com/AOqvkTDF6E</a></p>&mdash; Asumsi (@asumsico) <a href="https://twitter.com/asumsico/status/1253160793937330176?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Ravio&#8217;s arrest prompts us to once again recognise how well-developed state oppression has become. It implies that ordinary citizens should appraise the necessary safety and security measures, and this is not simply about COVID-19. The stakes of physical threats following a critical attitude, even if virtually, remain high, especially considering arrests and interrogations are not taking place in the virtual world (yet).</p>
<p>For now, the coalition is now concerned with updating the petition to expand the scope of the privacy breach. No matter how remote we are now from each other, fixing our digital security itself will not suffice to deflect from the mechanics of authoritarian regimes.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><i>Pitra Hutomo is EngageMedia&#8217;s Project Manager (Indonesia). </i></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/bebaskan-ravio-patra-privacy/">#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/bebaskan-ravio-patra-privacy/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
