<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Southeast Asia &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/southeast-asia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 12 Aug 2021 04:30:39 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Southeast Asia &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</title>
		<link>https://coconet.social/2020/artificial-intelligence-thai-translation-th/</link>
					<comments>https://coconet.social/2020/artificial-intelligence-thai-translation-th/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Tue, 18 Aug 2020 09:04:22 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Southeast Asia]]></category>
		<category><![CDATA[Thailand]]></category>
		<category><![CDATA[ปัญญาประดิษฐ์]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5533</guid>

					<description><![CDATA[<p>ด้วยประโยชน์ของการแปลงานในประเด็นที่เกี่ยวข้องกับเทคโนโลยีเช่นนี้ย่อมช่วยเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเรา ซึ่งมีความหลากหลายทั้งทางภาษาและวัฒนธรรม จึงได้เลือกแปลบทความทั้งสามชิ้นของ Jun-E Tan ที่เกี่ยวกับสถานการณ์ของปัญญาประดิษฐ์ (Artificial Intelligence: AI) ในภูมิภาคเอเชียตะวันออกเฉียงใต้เป็นภาษาไทย โดยธีรดา ณ จัตุรัส ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><em>Read this article in</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation/">English</a> /<em> อ่านบทความนี้ใน</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation/">ภาษาอังกฤษ</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>บ่อยครั้งการแปลภาษาอังกฤษจากแหล่งความรู้ต่างๆ มักไม่ง่ายนักและไม่สามารถแปลได้แบบตรงๆ โดยเฉพาะเมื่อศัพท์เทคนิคเหล่านั้นเกี่ยวกับทางด้านเทคโนโลยีดิจิทัล ความหมายของศัพท์นั้นๆ จึงแปลแบบตรงตัวตามที่ปรากฏในภาษาอื่นๆ ไม่ได้ อย่างไรก็ดี ได้ปรากฏว่ามีความต้องการงานแปลงานทางเทคนิคเช่นนี้เพื่อเป็นประโยชน์ในการเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเราซึ่งมีความหลากหลายทั้งภาษาและวัฒนธรรม</p>
<p>จากที่ได้มีการแปลบทความ <a href="/?page_id=1191">“วิธีรักษาความปลอดภัยในโลกออนไลน์ 101”</a> ใน<a href="/?page_id=1296">หลายๆ ภาษา</a> รวมทั้ง<a href="https://lab.ocf.tw/2020/05/22/digitalhygiene101-zh/">การแปลเป็นภาษาจีน</a>มาแล้วในอดีต ซึ่งจริงๆแล้วการแปลบทความนี้เป็นผลงานของมูลนิธิ Open Culture Foundation (OCF) ในประเทศไต้หวันซึ่งเป็นส่วนหนี่งของชุมชน Coconet ของเรา</p>
<p>หลังจากนั้นเราได้เลือกแปลบทความทั้งสามชิ้นที่เกี่ยวกับ<a href="/?page_id=847">สถานการณ์ของ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้</a>ที่เขียนโดย Jun-E Tan และแปลเป็นภาษาไทย โดย <a href="https://www.ukfiet.org/author/teerada-na-jatturas/">ธีรดา ณ จัตุรัส</a> ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>ข้อความด้านล่างนี้เป็นความเห็นจากธีรดา เกี่ยวกับประสบการณ์ในการแปลจากไทยเป็นอังกฤษของบทความ AI ชุดนี้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8220;จากประสบการณ์ในการทำวิจัยทางด้านเศรษฐศาสตร์การเมืองในการสื่อสาร ทำให้ได้เห็นถึงความคล้ายคลึงหลายประการที่ปรากฏในบทความ AI และในงานวิทยานิพนธ์ของตนเอง ด้วยเหตุนี้ตนเองจึงมีความคุ้นเคยกับคำศัพท์เทคนิคเหล่านี้อยู่แล้วจึงทำให้แปลบทความได้เร็วขึ้น แถมยังช่วยให้ตนเองได้เรียนรู้ศัพท์เทคนิคใหม่ๆอีกด้วย ทั้งนี้บทความ AI ชุดนี้ยังได้สะท้อนถึงผลการวิจัยของงานวิทยานิพนธ์ของตนเองในหลายๆ ด้านที่เกี่ยวกับการเพิ่มการควบคุมอินเตอร์เน็ตที่มาจากความร่วมมือของรัฐเผด็จการและบริษัททางเทคโนโลยีต่างๆ ซึ่งตนเห็นว่ามีความจำเป็นในการให้ความสำคัญเรื่องความปลอดภัยทางไซเบอร์และความเป็นส่วนตัวบนโลกออนไลน์ผ่านทางหลักสูตรของโรงเรียน สถาบันการศึกษา และการสร้างทางเลือกอื่นๆ ในการสื่อสารที่ไม่ใช่แค่จากแพลตฟอร์มโซเชียลมีเดียกระแสหลัก เพื่อการรักษาความเป็นนิรนามในการปกปิดอัตลักษณ์ของคนใช้อินเตอร์เน็ตเอง พร้อมทั้งยังช่วยปกป้องข้อมูลส่วนตัวของผู้ใช้เอง&#8221;</p>
<p>&#8220;ซึ่งการที่ได้อาสาแปลบทความครั้งนี้ช่วยให้ตนเองได้ทำความเข้าใจประเด็นใหม่ๆเกี่ยวกับ AI ที่มีผลต่อการพัฒนาทางสังคม และยังทำให้ตนเองได้รับรู้เกี่ยวกับการพัฒนาใหม่ๆที่เกี่ยวกับการประยุกต์ใช้ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้ ซึ่งมีผลกระทบต่อสิทธิทางพลเมือง สิทธิทางการเมือง และสิทธิทางสังคมและวัฒนธรรมต่างๆของผู้คน โดยเฉพาะผู้ที่เห็นต่างจากรัฐ ผู้หญิง และเยาวชน นั่นทำให้ได้ไอเดียใหม่ๆที่ช่วยพัฒนาทั้งทางวิชาการและการทำงานของตนเองในอนาคต&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1080" height="720" src="wp-content/uploads/2020/02/artificial-intelligence-4111582_1920.jpg" class="vc_single_image-img attachment-full" alt="Artificial Intelligence. Image by Gerd Altmann from Pixabay" sizes="(max-width: 1080px) 100vw, 1080px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>สามารถอ่านซีรีย์บทความเกี่ยวกับ AI เป็นภาษาไทยได้ที่</p>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Part 1: <a href="https://coconet.social/th/2020/%e0%b8%9b%e0%b8%b1%e0%b8%8d%e0%b8%8d%e0%b8%b2%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%94%e0%b8%b4%e0%b8%a9%e0%b8%90%e0%b9%8c-artificial-intelligence-ai-%e0%b8%81%e0%b8%b1%e0%b8%9a%e0%b8%82%e0%b9%89/">ปัญญาประดิษฐ์ (Artificial Intelligence: AI) กับข้อกังวลด้านสิทธิมนุษยชนในสังคมเอเชียตะวันออกเฉียงใต้: ภาพรวม</a></li>
<li>Part 2: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%ad%e0%b8%a2%e0%b8%b9%e0%b9%88%e0%b8%a3%e0%b9%88%e0%b8%a7%e0%b8%a1%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b9%84%e0%b8%94%e0%b9%89%e0%b8%ab%e0%b8%a3/">เราจะอยู่ร่วมกับ AI ได้หรือไม่: ปัญญาประดิษฐ์ (Artificial Intelligence) กับผลกระทบต่อสิทธิทางเศรษฐกิจ สังคม และวัฒนธรรม</a></li>
<li>Part 3: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a1%e0%b8%b7%e0%b9%88%e0%b8%ad-ai-%e0%b8%81%e0%b8%a5%e0%b8%b2%e0%b8%a2%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%ad%e0%b8%b2%e0%b8%a7%e0%b8%b8%e0%b8%98%e0%b8%97%e0%b8%b5%e0%b9%88/">เมื่อ AI กลายเป็นอาวุธที่มีผลกระทบต่อสิทธิพลเมืองและสิทธิทางการเมือง</a></li>
</ol>
</li>
</ol>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ธีรดา ยังได้อธิบายเพิ่มเติมถึงความจำเป็นในการเพิ่มแหล่งความรู้ที่เกี่ยวกับ AI และ Machine Learning ในภาษาอื่นๆ ที่นอกเหนือไปจากภาษาอังกฤษเพื่อการเผยแพร่ความรู้ในภูมิภาคนี้ &#8220;ไม่ว่าจะเป็นผู้ที่คิดต่างทางการเมือง ผู้ลี้ภัย บุคคลที่มีความต้องการช่วยเหลืออย่างเป็นพิเศษ เด็กผู้หญิง ผู้หญิง และชนกลุ่มน้อยต่างๆ ที่ขาดความชำนาญทางภาษาอังกฤษควรที่จะได้เข้าถึงข้อมูลที่เกี่ยวกับความสำคัญในการรักษาความเป็นส่วนตัวบนโลกออนไลน์ และสิทธิทางดิจิทัล (digital rights) ในภาษาของตน ซึ่งการรู้สิทธิต่างๆ เหล่านี้ก็จะช่วยให้พวกเราสามารถลุกขึ้นปกป้องสิทธิของตนเองจากการละเมิดสิทธิโดยรัฐ และบริษัทเทคโนโลยีทั้งหลาย&#8221;</p>
<p>ขอบคุณธีรดาที่อาสาช่วยแปลงานเป็นภาษาไทย และสำหรับผู้ที่สนใจเป็นอาสาสมัครแปลบทความเป็นภาษาต่างๆ สามารถ<a href="/?page_id=248">ติดต่อทีมงานเรา</a> เพื่อสอบถามข้อมูลเพิ่มเติมได้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/artificial-intelligence-thai-translation-th/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Series on AI and Southeast Asia now available in Thai</title>
		<link>https://coconet.social/2020/artificial-intelligence-thai-translation/</link>
					<comments>https://coconet.social/2020/artificial-intelligence-thai-translation/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Thu, 13 Aug 2020 04:15:34 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Artificial Intelligence]]></category>
		<category><![CDATA[Southeast Asia]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2476</guid>

					<description><![CDATA[<p>The need for accurate translations for English resources on technology continues to be necessary in order to reach a wider audience in our diverse region. In line with that thrust, the three-part series on artificial intelligence (AI) in the context of Southeast Asia by Jun-E Tan is now available in Thai. This AI series was voluntarily translated by Teerada Na Jatturas, a consultant with UNESCO with a postgraduate degree in Digital Communications from the University of Westminster.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation/">Series on AI and Southeast Asia now available in Thai</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><em>Read this Article in</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">Thai</a> / <em>อ่านบทความนี้ใน</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">ภาษาไทย</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Providing accurate translations for English resources is often difficult and tricky, most especially when many technical terms in the field of technology and the digital do not necessarily have corresponding or literal translations in other languages. The need for such translations, however, continues to be necessary in order to reach a wider audience in our diverse region.</p>
<p>Our <a href="https://coconet.social/digital-hygiene-safety-security/">resource on practicing digital hygiene</a>, for example, is available in <a href="https://coconet.social/resources/">multiple languages</a>. The <a href="https://lab.ocf.tw/2020/05/22/digitalhygiene101-zh/">Chinese translation</a>, in fact, was worked on by the OCF Lab in Taiwan, which is part of the Coconet community.</p>
<p>In line with that thrust, the three-part series on <a href="https://coconet.social/AI">artificial intelligence (AI)</a> in the context of Southeast Asia by Jun-E Tan is now available in Thai. This AI series was voluntarily translated by <a href="https://www.ukfiet.org/author/teerada-na-jatturas/">Teerada Na Jatturas</a>, a consultant with UNESCO with a postgraduate degree in Digital Communications from the University of Westminster.</p>
<p>Here&#8217;s what she had to say about her experience in translating the series from English to Thai:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8220;Trained as a social scientist in the political economy of communication, I see several similar points in the AI series and my thesis. This helps speed up the translation, as I&#8217;ve already learned many technical terms while expanding my ICT vocabularies at the same time. The AI series echoes my thesis&#8217;s findings on the increased control of the internet orchestrated by authoritarian states (in Asia in particular) and neoliberal media and technology companies. There is a need to lay out the foundation of cybersecurity and online privacy in scholarly curricula and create alternatives to mainstream platforms to maintain anonymity and the ownership of end-user data.</p>
<p>&#8220;This project was a great way for me to delve into a new topic such as AI and society. I know that working on the project provided me with an insight into the current development of AI uses in the Southeast Asian region, which has affected cultural, political and civil rights of the people (particularly dissidents, girls, and women). It also gives me new ideas on potential projects either in my academic and professional endeavors in the future.&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1080" height="720" src="wp-content/uploads/2020/02/artificial-intelligence-4111582_1920.jpg" class="vc_single_image-img attachment-full" alt="Artificial Intelligence. Image by Gerd Altmann from Pixabay" sizes="(max-width: 1080px) 100vw, 1080px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Check out the Thai translation of the AI series below:</p>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Part 1: <a href="https://coconet.social/th/2020/%e0%b8%9b%e0%b8%b1%e0%b8%8d%e0%b8%8d%e0%b8%b2%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%94%e0%b8%b4%e0%b8%a9%e0%b8%90%e0%b9%8c-artificial-intelligence-ai-%e0%b8%81%e0%b8%b1%e0%b8%9a%e0%b8%82%e0%b9%89/">ปัญญาประดิษฐ์ (Artificial Intelligence: AI) กับข้อกังวลด้านสิทธิมนุษยชนในสังคมเอเชียตะวันออกเฉียงใต้: ภาพรวม</a></li>
<li>Part 2: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%ad%e0%b8%a2%e0%b8%b9%e0%b9%88%e0%b8%a3%e0%b9%88%e0%b8%a7%e0%b8%a1%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b9%84%e0%b8%94%e0%b9%89%e0%b8%ab%e0%b8%a3/">เราจะอยู่ร่วมกับ AI ได้หรือไม่: ปัญญาประดิษฐ์ (Artificial Intelligence) กับผลกระทบต่อสิทธิทางเศรษฐกิจ สังคม และวัฒนธรรม</a></li>
<li>Part 3: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a1%e0%b8%b7%e0%b9%88%e0%b8%ad-ai-%e0%b8%81%e0%b8%a5%e0%b8%b2%e0%b8%a2%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%ad%e0%b8%b2%e0%b8%a7%e0%b8%b8%e0%b8%98%e0%b8%97%e0%b8%b5%e0%b9%88/">เมื่อ AI กลายเป็นอาวุธที่มีผลกระทบต่อสิทธิพลเมืองและสิทธิทางการเมือง</a></li>
</ol>
</li>
</ol>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Teerada elaborates further on the need for resources to be available in more languages other than English in order to educate more in the region about AI and machine learning. &#8220;Dissidents, refugees, people with special needs, girls, women and other minorities, who unfortunately still lack English language skills, should learn about online privacy and digital rights in their own languages, so that we and they can defend their rights from being exploited by states and corporations,&#8221; she said.</p>
<p>Thank you to Teerada for your work! If you are also interested in helping to translate our resources from English to a regional language, please don&#8217;t hesitate to <a href="https://coconet.social/contact">contact us</a> for more information.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation/">Series on AI and Southeast Asia now available in Thai</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/artificial-intelligence-thai-translation/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
