<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Vino Lucero &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/vinolucero/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 11 May 2020 12:52:07 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Vino Lucero &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>How a youth group organised a fully online conference</title>
		<link>https://coconet.social/2020/online-youth-conference-remote/</link>
					<comments>https://coconet.social/2020/online-youth-conference-remote/#respond</comments>
		
		<dc:creator><![CDATA[Vino Lucero]]></dc:creator>
		<pubDate>Thu, 23 Apr 2020 05:40:10 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Remote Work]]></category>
		<category><![CDATA[Online Conferencing]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1142</guid>

					<description><![CDATA[<p>The pandemic has impacted how civil society organisations do advocacy work, derailing weeks (or months, in our case) of planning. However, we knew we had to adapt and innovate. Instead of a physical conference, we decided to execute a fully online youth conference for April 4, 2020. And, despite less than a month of planning, we did it.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/online-youth-conference-remote/">How a youth group organised a fully online conference</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2048" height="1536" src="wp-content/uploads/2020/04/93665876_243363000403837_972176984299798528_n.jpg" class="vc_single_image-img attachment-full" alt="Screenshot of an online Youth Conference" sizes="(max-width: 2048px) 100vw, 2048px" /></div></a>
			<figcaption class="vc_figure-caption">A peek at the Virtual Room used for the Digital Youth Conference 2020 held on April 4. Screenshot from the International Youth United.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The new normal under the COVID-19 pandemic came in extremely unexpected forms for most of us in the Philippines. This time last month, people in Metro Manila and neighbouring provinces were adjusting to life under the enhanced community quarantine by the government. <a href="https://coconuts.co/singapore/news/covid19-anxious-southeast-asia-reels-from-fresh-quarantines-lockdowns-infections/">Lockdowns in neighboring Southeast Asia countries </a> also soon followed after. </p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Lucky for me, I did not have much trouble adjusting at work. EngageMedia <a href="https://b.engagemedia.org/2020/a-day-in-engagemedia-remote-work-how-to-not-be-socially-distant-online/">has been working</a> remotely since it was founded, making my transition smoother compared to most. But for nonprofit and civil society organisations in the Philippines, some were more prepared for remote work than others.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>However, the new normal hit my youth advocacy organisation <a href="https://www.facebook.com/IntlYouthUnited/">International Youth United</a> really hard, as we had a planned youth conference lined up for the end of March. I believe I speak for most of the Philippine youth empowerment and advocacy organisations when I say that the pandemic has impacted how we do advocacy work, derailing weeks (or months, in our case) of planning. The Luzon-wide lockdowns mean many are now playing catch-up in terms of how to implement campaigns and execute events originally planned before the pandemic started.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On March 12, 2020, unofficial reports were coming in about a possible Metro Manila-wide lockdown. I abruptly left Metro Manila for my province in case the reports turned out to be true. While on the way there, I thought deeply about the youth conference we spent weeks planning and preparing for. Before the end of the two-hour ride and after a few calls with the core team behind the conference, we knew we had to adapt and innovate. </p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Instead of a physical conference, we decided to execute a fully online youth conference for April 4, 2020. And, despite less than a month of planning, we did it.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Conceptualising a fully online youth conference</h3>
<p>Three days later, the lockdown was already in full swing in the whole Luzon island. Because of this, the core team and volunteers could not meet in person anymore to quickly come up with full concepts for the online youth conference. So when we say that we were executing a fully online youth conference, we mean from the start of conceptualisation to the end of post-event documentation. We did not have an existing model on how to actually execute this, so we needed to craft processes and systems for the event preparations as we go.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Changing the angle of the conference theme was also deemed appropriate. From having a theme focused on peace and international relations, we decided to execute a conference on peace, public health, and digital rights to cover the current health crisis and the reality that most of us are spending more time online.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The first conversation we had as a team was on which platform we should use to plan, communicate, and co-work for the event. The leadership of the organisation, by default, proposed more secure platforms like Jitsi for video meetings, Protonmail for emails, and Redmine for file storage and project management. I personally voiced out my preference for using <a href="https://www.techopedia.com/definition/24181/free-and-open-source-software--foss">free and open-source software (FOSS)</a>, as advocated by EngageMedia. However, most of the volunteers had never heard of these platforms at the time of planning.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Tip: When planning an online conference, opt for a messaging app with end-to-end encryption like Signal to ensure sensitive conversations are secure.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>That meant using Facebook Messenger (and, later on, Zoom, which we learned as the platform of choice for online classes by some university professors) for team meetings, Google Drive for file sharing and real-time file co-working and editing, and Signal for extremely sensitive discussions with key people in the core team. I introduced <a href="https://www.signal.org/">Signal</a> to the organisation back when I was a full-time investigative reporter due to its state-of-the-art end-to-end encryption and top-notch data security. That paid off big time for this instance.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>That reality spelled out that launching a fully online youth conference meant we needed to use communication and collaboration platforms most of our volunteers were already familiar with. With all the changes happening at all fronts due to the public health crisis, we did not want to subject them to additional change by introducing new alternatives to the ones they currently use, even if these were safer. I just added a mental note that in the future, I should introduce FOSS alternatives to the youth organisation members.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1640" height="859" src="wp-content/uploads/2020/04/digital-youth-conference.jpg" class="vc_single_image-img attachment-full" alt="Banner of digital youth conference" sizes="(max-width: 1640px) 100vw, 1640px" /></div></a>
			<figcaption class="vc_figure-caption">Photo from International Youth United</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Logistical challenges</h3>
<p>Early into planning, we learned that some of our volunteers did not have stable Internet connections. Not only was it hard for them to attend the online classes set by their universities, it was also hard for them to attend the online meetings we have to prepare for the conference. I acknowledge it is a privilege to have a stable and fast Internet connection, and had to accept the reality that we would be relying on fewer people now that we are doing the conference online.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We sorted our volunteers into committees, just like when executing in-person conferences – secretariat, publicity, logistics, programs, and marketing. Some of these committees proved to have more work for an online conference compared to when executing actual conferences. For example, the publicity committee needed to produce more content, as we do not have the luxury of doing on-ground promotions, while the work of logistics mostly centered on scoping for the most cost-efficient online meeting platforms that can host 500 participants at once.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This capacity requirement meant my preferred meeting platforms of choice were no longer in the running. We were left with few choices, and eventually, put more focus on capacity than security. Despite <a href="https://citizenlab.ca/2020/04/move-fast-roll-your-own-crypto-a-quick-look-at-the-confidentiality-of-zoom-meetings/">possible security risks</a>, we ended up using Zoom, the most cost-efficient option given that we had limited funds for the event. To compensate, we set up additional security for the virtual room we were going to use. We spent USD 65 in total for a premium subscription and the large meeting add-on that can accommodate 500 participants.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The conference quickly gathered interest from youth leaders across the country and worldwide. We started receiving applications from neighbouring countries – we ended up having participants from 15 countries. The conference addressed a specific information gap – youth from across the world wanted an outlet to sort out the COVID-19 infodemic and have clear action points on what they can do to help address current issues.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Tip: Adjust the number of people you will assign to committees. In our experience, the distribution of work for online conferences is different than in-person events.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Despite limited publicity run and short preparation time, we ended up getting 450 viable applications, higher than our expected attendees for the original in-person conference of 350 to 400 people. Making the event online encouraged more participants in general, but only the privileged ones who had a stable Internet connection at home could attend using this format.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Executing the conference</h3>
<p>The early hours of April 4 were crucial for the smooth execution of the three-hour conference. We spent the whole morning doing technical dry-runs with our resource speakers, and building response teams in case unforeseen events happened during the conference.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Some resource speakers had a bit more difficulty in using the platform compared to others, probably because not all are digital natives. We could just imagine how much adjusting some professors needed to do when they were instructed to do online classes. The team spent time with each of the resource speakers to orient them with all the functionalities that they could use for the conference.</p>
<p>We created a virtual waiting room on Zoom as part of our additional security measures on Zoom. All participants were screened before gaining access to the actual conference room. We also sent a password only hours before the meeting.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Tip: Create a virtual waiting room where you can screen all participants before allowing them access to the main room.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We wish there were more security measures we could do, but at that point, we were just hoping for the best. Thankfully, the conference went on quite smoothly. While several participants needed to reconnect themselves to the virtual conference room from time to time, most stayed on consistently throughout the programme.</p>
<p>Discussions on peace and international relations under the current global health crisis, unpacking the COVID-19 pandemic and infodemic, and observing digital rights during political and public health crises were successfully done. Participants were able to submit their questions to resource speakers via <a href="https://www.sli.do/">Slido</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Based on participants’ feedback from the conference, the goal of the online conference was fully satisfied, and offshoot events were requested to supplement new learnings of the participants. One of the most requested follow-up events is on free, open-source, and more secure alternatives to mainstream communications platforms, as discussed in the digital rights session by Dr. Jun-E Tan, an independent researcher based in Malaysia, and Red Tani, EngageMedia’s advocacy and communications senior manager.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1440" height="960" src="wp-content/uploads/2020/04/freedom-of-youth.jpg" class="vc_single_image-img attachment-full" alt="freedom of youth" sizes="(max-width: 1440px) 100vw, 1440px" /></div></a>
			<figcaption class="vc_figure-caption">Our organisation&#039;s last in-person event was in December 2019. Our fully online youth conference was definitely different, but not any less successful. Photo from International Youth United.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Learnings, moving forward</h3>
<p>This attempt at executing a fully online conference seemed to be a success, but not one without extensive adjustments. The new normal under COVID-19 pushed us to be much more creative in rolling out youth empowerment campaigns and programs. This resonates with participants from other sectors of civil society, which had to make complex but necessary changes to continue with their work and advocacy.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The challenge for civil society now is to continue working on their advocacy under the new realities for a much longer period than the initial length of declared lockdowns. In the Philippines, for example, the lockdown has extended at least once since it was initially announced.</p>
<p>The challenge now seems more of a marathon than a sprint, and civil society needs to gear up for that to keep the advocacy work continuous until we reach the end of the pandemic. I list here my recommended tools for executing online conferences.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1587620227551">
		<div class="wpb_wrapper">
			<h4>Recommended tools for organising online conferences and webinars:</h4>
<ul>
<li><a href="https://www.signal.org/">Signal</a> for one-on-one calls and private messaging</li>
<li><a href="https://app.wire.com/">Wire</a> for small group voice calls and private messaging</li>
<li><a href="https://meet.jit.si/">Jitsi</a> for video meetings</li>
<li><a href="https://www.redmine.org/">Redmine</a> for project management</li>
<li><a href="https://airtable.com/">Airtable</a> for data sharing, document co-working, communication logs, and process monitoring</li>
</ul>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Now that the fully online youth conference is done, we hope that we can continue our advocacy work while making the conscious choice of using safer and more secure platforms to co-work and communicate with people. The ideal setup for civil society organisations is to explore FOSS alternatives to the ones they are currently using and making it the standard for advocacy work. In this new normal, why not throw in some good change in the mix and opt to be more secure and choose open-source by default? I know my youth organisation definitely will.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Vino Lucero is a Project and Communications Officer at EngageMedia. He is a journalist based in Manila. He is also the Chief Global Executive Director of International Youth United, a youth organisation aiming to improve youth participation in issues related to freedom of information, digital rights, peace, justice, and human rights.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/online-youth-conference-remote/">How a youth group organised a fully online conference</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/online-youth-conference-remote/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Reading up on AI in Southeast Asia</title>
		<link>https://coconet.social/2020/reading-ai-in-sea/</link>
					<comments>https://coconet.social/2020/reading-ai-in-sea/#respond</comments>
		
		<dc:creator><![CDATA[Vino Lucero]]></dc:creator>
		<pubDate>Tue, 21 Apr 2020 05:02:32 +0000</pubDate>
				<category><![CDATA[Artificial Intelligence]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1103</guid>

					<description><![CDATA[<p>EngageMedia and Dr. Jun-E Tan, an independent researcher based in Malaysia, collaborated to produce an annotated bibliography for those who want to deepen their knowledge on AI and the Southeast Asia context.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/reading-ai-in-sea/">Reading up on AI in Southeast Asia</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1205" height="648" src="wp-content/uploads/2020/03/ai.png" class="vc_single_image-img attachment-full" alt="&quot;Branding Artificial Intelligence&quot; by Dan Sherratt is licensed under CC BY-NC-ND 4.0" sizes="(max-width: 1205px) 100vw, 1205px" /></div></a>
			<figcaption class="vc_figure-caption">&quot;Branding Artificial Intelligence&quot; by Dan Sherratt is licensed under CC BY-NC-ND 4.0</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>With the rise in the use of artificial intelligence in solving public-interest and public service issues on one side and the use of AI by the government for monitoring and surveillance on the other, it is urgent now more than ever to learn more about AI. The need to increase the level of awareness among citizens about issues related to AI and their communities can now be seen as essential.</p>
<p>The increased interest can already be seen in sectors outside of civil society. A Philippine youth group, for example, <a href="https://www.facebook.com/IntlYouthUnited/photos/p.2635934926674782/2635934926674782/?type=1&amp;theater">hosted</a> digital rights discussions during times of public health crises like the current COVID-19 pandemic through a fully online conference.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Online discussions on AI and digital rights have also significantly increased, especially now that several countries in Southeast Asia have already declared lockdowns and people are tied to their laptops and mobile devices than before. These discussions include how civil society organizations can use AI for COVID-19 relief efforts, to how governments use AI to monitor dissent and bad statements on recent government efforts (or the lack of it) to respond to the ongoing health crisis.</p>
<p>With this, EngageMedia and Dr. Jun-E Tan, an independent researcher based in Malaysia, collaborated to produce an annotated bibliography for those who want to deepen their knowledge on AI and the Southeast Asia context.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This <a href="https://docs.google.com/document/d/1HjJbkuH_k9R2lyI1aeRW2rQUEg0PQKy5jArA_HieS9k/edit#heading=h.b1dyr87owrpa">self-quarantine reading list</a> contains a growing roster of bibliography links you can check out to learn more about general and conceptual aspects of AI, including AI ethics, its impact on human rights, and some policy recommendations related to AI.</p>
<p>Brief annotations of the linked papers are also included so that you can have a better idea of the content of the resource before actually clicking and checking it out. Links are also provided if you want to read up more about AI and surveillance, and if you want to have a more area-focused view of the situation, there are also dedicated resource links on that as well.</p>
<p>Do take note, however, that this annotated bibliography is still an ongoing project, and may, later on, include more links and readings, so be sure to check it out once in a while if you want an updated reading resource on AI.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">AI Annotated Bibliography</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><strong>Updated as of April 10, 2020</strong></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src="https://docs.google.com/document/d/e/2PACX-1vR-A8wU-alpnG8V9vzweCc2DrJGiBIGHAcKPpZiHIEYac4pixe2HVt7kqKjKWKUrdSgf64TjqNC2pEb/pub?embedded=true" width="1000" height="500"></iframe></center>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Now more than ever, it is important for citizens to equip themselves with the knowledge and the tools to protect themselves from being subjects of AI surveillance and other attacks. While reading more about the situation would be a big help, constant vigilance and multi-sector action are also important.</p>
<p>Civil society needs to sustain and, in some cases, intensify their advocacy against AI-related human rights attacks while pushing for better citizen engagement and education on AI, human rights, and digital rights.</p>
<p>With the public being distracted on the current public health crisis and with more and more ordinary citizens falling prey to AI-related surveillance and attacks, civil society needs to rise above the fray and put forward this issue as an urgent concern, or else more will be subjected to similar attacks and human rights abuses.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Vino Lucero is a Project and Communications Officer at EngageMedia. He is a journalist based in Manila.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/reading-ai-in-sea/">Reading up on AI in Southeast Asia</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/reading-ai-in-sea/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Mapping AI in Southeast Asia</title>
		<link>https://coconet.social/2020/mapping-ai-in-southeast-asia/</link>
					<comments>https://coconet.social/2020/mapping-ai-in-southeast-asia/#respond</comments>
		
		<dc:creator><![CDATA[Vino Lucero]]></dc:creator>
		<pubDate>Tue, 21 Apr 2020 04:58:36 +0000</pubDate>
				<category><![CDATA[Artificial Intelligence]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1106</guid>

					<description><![CDATA[<p>EngageMedia and Dr. Jun-E Tan, an independent researcher based in Malaysia, collaborated to produce a country mapping of AI initiatives for those who want to deepen their knowledge on AI and the Southeast Asia context.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/mapping-ai-in-southeast-asia/">Mapping AI in Southeast Asia</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://pixabay.com/illustrations/web-network-information-technology-4864044/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1920" height="1280" src="wp-content/uploads/2020/04/web-4864044_1920.jpg" class="vc_single_image-img attachment-full" alt="Image by Gerd Altmann from Pixabay. Used under a Pixabay License." sizes="(max-width: 1920px) 100vw, 1920px" /></div></a>
			<figcaption class="vc_figure-caption">Image by Gerd Altmann from Pixabay. Used under a Pixabay License.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>With the rise in the use of artificial intelligence in solving public-interest and public service issues on one side and the use of AI by the government for monitoring and surveillance on the other, it is urgent now more than ever to learn more about AI. The need to increase the level of awareness among citizens about issues related to AI and their communities can now be seen as essential.The increased interest can already be seen in sectors outside of civil society. A Philippine youth group, for example, <a href="https://www.facebook.com/IntlYouthUnited/photos/p.2635934926674782/2635934926674782/?type=1&amp;theater">hosted</a> digital rights discussions during times of public health crises like the current COVID-19 pandemic through a fully online conference.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Online discussions on AI and digital rights have also significantly increased, especially now that several countries in Southeast Asia have already declared lockdowns and people are tied to their laptops and mobile devices than before. These discussions include how civil society organizations can use AI for COVID-19 relief efforts, to how governments use AI to monitor dissent and bad statements on recent government efforts (or the lack of it) to respond to the ongoing health crisis.</p>
<p>With this, EngageMedia and Dr. Jun-E Tan, an independent researcher based in Malaysia, collaborated to produce a country mapping of AI initiatives for those who want to deepen their knowledge on AI and the Southeast Asia context.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>For those looking for a resource that is more centered on the Southeast Asia context, this mapping of SEA AI government and corporate initiatives, as well as a snapshot of the regional situation through indexes and studies, is an informative read as well.</p>
<p>The mapping document starts with a regional perspective &#8212; an important context-setting before moving to a country-level view of AI. This includes annotations and links on the AI Government Readiness Index, AI Government Surveillance Index, Asia-Pacific AI Readiness Index, and other studies and links that can help paint a picture of the overall situation in Southeast Asia.</p>
<p>The document then zooms in on a country-level AI perspective. The mapping at this point focuses on three aspects: government policies and initiatives, companies and products, and civil society initiatives.</p>
<p>Mapping of government policies and initiatives also include short descriptions, notes written by the researchers as either comments or guides to provided materials, and links to sources used for the research which readers can countercheck and visit as they prefer.</p>
<p>Corporate and product mapping, meanwhile, breaks it down by sector and supplements the list with notes about the business or the product, as well as relevant links to the items enumerated.</p>
<p>Lastly, civil society mapping includes the names and purpose of the initiatives, as well as links and researchers’ comments.</p>
<p>This mapping document is still a work in progress. This version is a result of an initial effort on mapping and exploration and is a by-product of a much larger research project.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">AI Country Mapping</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><strong>Updated as of April 10, 2020</strong></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src="https://docs.google.com/document/d/e/2PACX-1vRVhChDLfYXBbWqjBI-QQ8GrHoBSr7WU3YQ6F-IoxIsLLKw6dWCHvVljCZs5hfsLvPeAEPguGDSxA8y/pub?embedded=true" width='1000' height='700'></iframe></center>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Now more than ever, it is important for citizens to equip themselves with the knowledge and the tools to protect themselves from being subjects of AI surveillance and other attacks. While reading more about the situation would be a big help, constant vigilance and multi-sector action are also important.</p>
<p>Civil society needs to sustain and, in some cases, intensify their advocacy against AI-related human rights attacks while pushing for better citizen engagement and education on AI, human rights, and digital rights.</p>
<p>With the public being distracted on the current public health crisis and with more and more ordinary citizens falling prey to AI-related surveillance and attacks, civil society needs to rise above the fray and put forward this issue as an urgent concern, or else more will be subjected to similar attacks and human rights abuses.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Vino Lucero is a Project and Communications Officer at EngageMedia. He is a journalist based in Manila.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/mapping-ai-in-southeast-asia/">Mapping AI in Southeast Asia</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/mapping-ai-in-southeast-asia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Artificial Intelligence and Human Rights in Southeast Asia: An Overview</title>
		<link>https://coconet.social/2020/ai-hr-sea-overview/</link>
					<comments>https://coconet.social/2020/ai-hr-sea-overview/#respond</comments>
		
		<dc:creator><![CDATA[Vino Lucero]]></dc:creator>
		<pubDate>Wed, 25 Mar 2020 12:23:13 +0000</pubDate>
				<category><![CDATA[Artificial Intelligence]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Human Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=930</guid>

					<description><![CDATA[<p>EngageMedia worked with Dr. Jun-E Tan, an independent researcher and digital rights expert, to produce a blog post, a three-part series on Artificial Intelligence (AI) and human rights in Southeast Asia, and a video wrapping up the discourse for the whole engagement.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/ai-hr-sea-overview/">Artificial Intelligence and Human Rights in Southeast Asia: An Overview</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src="https://player.vimeo.com/video/400173734" width="800" height="450" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/400173734">Artificial Intelligence and Human Rights: The Southeast Asia Context</a> from <a href="https://vimeo.com/user95097044">EngageMedia</a> on <a href="https://vimeo.com">Vimeo</a>.</p></center>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The context of how artificial intelligence (AI) affects our rights as digital natives is worth unpacking, especially during political and public health crises, where online communication is a lifeline for many, and citizens are possibly being subjected to government surveillance and manipulation.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This is especially important when the crisis is of life-and-death importance, like the ongoing <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">Covid-19 pandemic</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>With this, EngageMedia worked with Dr. Jun-E Tan, an independent researcher and digital rights expert based in Kuala Lumpur, to unpack how AI plays out for the good &#8212; through improving public services and quality of life &#8212; and how it can be used by bad actors: to attack political, economic, and cultural rights of citizens, sometimes without them even knowing.</p>
<p>The collaboration resulted in several outputs: a <a href="https://coconet.social/2019/artificial-intelligence-human-rights-coconet/">blog post</a> about how AI is tackled during <a href="https://coconet.social/about/">Coconet II</a>: Southeast Asia Digital Rights Camp, a three-part series on AI and human rights in Southeast Asia, and a video wrapping up the discourse for the whole engagement.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://pixabay.com/photos/robot-mech-machine-technology-2301646/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1280" height="720" src="wp-content/uploads/2020/03/robot-by-computerizer.jpg" class="vc_single_image-img attachment-full" alt="Image by Computerizer from Pixabay" sizes="(max-width: 1280px) 100vw, 1280px" /></div></a>
			<figcaption class="vc_figure-caption">Image by Computerizer from Pixabay </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>AI and Human Rights Video</h3>
<p>Produced by <a href="https://www.engagemedia.org/">EngageMedia</a>, the video athe the top provides an overarching feature of issues on AI, human rights, and its Southeast Asia context, summarizing the issues raised by this series on AI and Human Rights.</p>
<p>Featuring interviews from Dr. Jun-E Tan and Red Tani of EngageMedia, it was shown during the Myanmar Digital Rights Forum on Feb. 28 and 29, 2020, an event attended by more than 350 participants from government, business, and civil society. You can read our blog about the forum <a href="https://coconet.social/2020/myanmar-digital-rights-forum-2020/">here</a>.</p>
<p>The video highlights how AI issues relate to the context of Southeast Asia, particularly recent political movements against authoritarian regimes, as well as other social issues that are susceptible to online hijacking, through manipulation of online narratives and surveillance of dissenters.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>AI and Human Rights in Coconet II</h3>
<p>Prior to the production of the AI and Human Rights video, discussions about AI and its human rights implications actually started at Coconet II.</p>
<p>After the weeklong camp, Dr. Tan <a href="https://coconet.social/2019/artificial-intelligence-human-rights-coconet/">wrote about</a> the learnings from the event, encapsulating how she started the camp with the assessment that AI is a subject of concern for digital rights activists, but is something that they want to learn on a much deeper level, to how Coconet II provided focus on AI and human rights.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>“The sessions were very helpful for me, as a participant and a session organiser, to formulate and articulate the problems associated with machine learning from a digital rights perspective. They were also useful to form an initial community concerned about AI, continued through the AI channel in the Coconet Mattermost platform, which is one of its biggest channels with 48 members so far,” she said.</p>
<p>She also concluded that the conversations on AI and digital rights needed to extend beyond the digital rights camp, as the topic “will only increase in importance with time, as more people get connected digitally and more governments adopt these technologies.”</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> The importance of AI will only increase with time, as more people get connected digitally and more governments adopt these technologies.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> - Dr. June-E Tan  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This also served as the prelude for the three-part article series on AI and human rights in Southeast Asia, which she briefly mentioned in the blog as well.</p>
<p>You can read the full <a href="https://coconet.social/2019/artificial-intelligence-human-rights-coconet/">blog here</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://pixabay.com/illustrations/eye-cyborg-digitization-labyrinth-2286601/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1920" height="1004" src="wp-content/uploads/2020/03/eye-by-PIRO4D.jpg" class="vc_single_image-img attachment-full" alt="Image by PIRO4D from Pixabay" sizes="(max-width: 1920px) 100vw, 1920px" /></div></a>
			<figcaption class="vc_figure-caption">Image by PIRO4D from Pixabay </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>3-part series about AI and Human Rights in Southeast Asia</h3>
<p>Next up in the collaboration is the three-part article series on AI and its implications to civil, social, economic, cultural, and political rights in Southeast Asia.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> This is a series of articles on the human rights implications of AI in the context of Southeast Asia  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> - Dr. Jun-E Tan  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>“This is a series of articles on the human rights implications of AI in the context of our region, targeted at raising awareness and engagement of civil society actors who work with marginalised communities, on rights advocacy, and on developmental issues, such as public health, poverty, and environmental causes,” Dr. Tan explained.</p>
<p>The series started its release towards the end of 2019, with an overview of the basic concepts and terms related to AI, as well as an introduction to the human rights context in AI and the Southeast Asia landscape.</p>

		</div> 
	</div> </div></div></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>It unpacked topics like digital authoritarianism through AI, underrepresentation in AI datasets, socioeconomic impacts of AI, and participation in AI governance through careful curation of recent related studies and publications.</p>
<p>You can check the first part of the series published in the Coconet social website <a href="https://coconet.social/2019/human-rights-artificial-intelligence-southeast-asia/">here</a>. The article was picked up for syndication by a <a href="https://dailyguardian.com.ph/human-rights-concerns-on-ai-in-southeast-asia-an-overview/">Philippine news website</a> and network sharing by Coconet members.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The second part of the series then zoomed in on the impact of AI in the economic, social, and cultural rights (ESCR) of citizens from Southeast Asia.</p>
<p>It first presented the possible benefits of AI in the development sector. “AI, when used strategically and appropriately, can provide immense developmental benefits. Economic growth is a much-touted benefit, but possibilities of AI to improve lives extend much further,” wrote Dr. Tan. This includes benefits in education, healthcare, traffic, and food security.</p>
<p>The article then elaborates the possible abuse of AI to interfere with economic, social, and cultural rights, especially on possibly worsening and even optimising inequality through undue bias in AI data and the system itself.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Read the second article in full via the Coconet social website <a href="https://coconet.social/2020/ai-impacts-economic-social-cultural-rights/">here</a>, and feel free to check out the <a href="https://dailyguardian.com.ph/cant-live-with-it-cant-live-without-it-ai-impacts-on-economic-social-and-cultural-rightsx/">republished article</a> via Daily Guardian Philippines as well.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/DailyGuardian-682x1024.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="466" height="700" src="wp-content/uploads/2020/03/DailyGuardian-466x700.jpg" class="vc_single_image-img attachment-medium" alt="June-E Tan&#039;s article at the Daily Guardian Philippines." sizes="(max-width: 466px) 100vw, 466px" /></div></a>
			<figcaption class="vc_figure-caption">June-E Tan&#039;s article at the Daily Guardian Philippines.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>And lastly, the third article of the series focused on AI as a weapon against civil and political rights, which takes “a closer look on what can happen when AI is weaponised and used against civil and political rights (CPR) such as the right to life and self-determination, as well as individual freedoms of expression, religion, association, assembly, and so on.”</p>
<p>It tackled the use of AI for government surveillance, microtargeting to change voter behaviour, and the use of AI-generated content to fuel disinformation campaigns.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The series then focused on a note on civil society’s role on the AI and human rights issues presented: “AI can be, and has been, weaponised to achieve ends that are incompatible with civil and political rights. At the very least, the civil society within the region should invest energy and resources into following technological trends and new applications of AI so that it will not be taken by surprise by innovations from malicious actors. As is the nature of machine learning and AI, it is expected that the efficacy of the technologies will only get better.”</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>“Civil society and human rights defenders will need to participate in the discussions of AI governance and push for tech companies to be more accountable towards the possible weaponisation of the technologies that they have created, in order to safeguard human rights globally,” Dr. Tan wrote to conclude the series.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Civil society and human rights defenders will need to participate in the discussions of AI governance and push for tech companies to be more accountable  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> - Dr. Jun-E Tan  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>And lastly, the third article of the series focused on AI as a weapon against civil and political rights, which takes “a closer look on what can happen when AI is weaponised and used against civil and political rights (CPR) such as the right to life and self-determination, as well as individual freedoms of expression, religion, association, assembly, and so on.”</p>
<p>It tackled the use of AI for government surveillance, microtargeting to change voter behaviour, and the use of AI-generated content to fuel disinformation campaigns.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Daily Guardian Philippines syndicated the last part of the series and published it during their Mar. 6, 2020 print edition, and <a href="https://dailyguardian.com.ph/ai-as-a-weapon-against-civil-and-political-rights/">republished it online</a> as well. You may also check the version published on the Coconet social website <a href="https://coconet.social/2020/ai-weapon-civil-political-rights/">here</a>.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> The engagement was able to open the possibility for more mainstream discussion of a seemingly technical issue through presenting its implications  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Overall, the collaboration on AI and its Southeast Asia Human Rights implications contributed to bridging the knowledge gap on the issue not just among digital rights activists who needed it for their advocacy &#8212; distribution in mainstream news sites and social platforms more broadly increased awareness among civil society.</p>
<p>The engagement was able to open the possibility for more mainstream discussion of a seemingly technical issue through presenting its implications, especially to those who should have guaranteed protections under their laws.</p>
<p>Although it’s relevant for everyone, it posed a challenge especially for civil society &#8212; acknowledge AI and its human rights implications as valid and actionable issues, educate yourselves and others about these, and do informed advocacy work in response to the current challenges and threats.</p>

		</div> 
	</div> </div></div></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>More AI resources in development</h3>
<p>Through collaboration with the Coconet community, Dr. Tan has complied two helpful resources: a mapping of AI issues across the region, and a list of relevant resources for those who want to learn more about such issues. We will update this post once these pages are ready.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Vino Lucero is a Project and Communications Officer at EngageMedia. He is a journalist based in Manila.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/ai-hr-sea-overview/">Artificial Intelligence and Human Rights in Southeast Asia: An Overview</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/ai-hr-sea-overview/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
