<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Coconet	</title>
	<atom:link href="https://coconet.social/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 12 Aug 2021 03:47:36 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		Comment on To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan by Democracy and digital rights derailed in Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comment-61</link>

		<dc:creator><![CDATA[Democracy and digital rights derailed in Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Thu, 11 Feb 2021 02:23:05 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1124#comment-61</guid>

					<description><![CDATA[[&#8230;] expression online. These freedoms are especially important in light of the COVID-19 pandemic, where lack of information can only worsen the situation. As expressed by Felicia Anthonio, Access Now campaigner and lead of [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] expression online. These freedoms are especially important in light of the COVID-19 pandemic, where lack of information can only worsen the situation. As expressed by Felicia Anthonio, Access Now campaigner and lead of [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด by คู่มือความปลอดภัยทางดิจิทัลในการชุมนุม - EngageMedia		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/#comment-60</link>

		<dc:creator><![CDATA[คู่มือความปลอดภัยทางดิจิทัลในการชุมนุม - EngageMedia]]></dc:creator>
		<pubDate>Wed, 06 Jan 2021 21:14:47 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1524#comment-60</guid>

					<description><![CDATA[[&#8230;] นับตั้งแต่ช่วงต้นปี 2563 เป็นต้นมา ปรากฏการณ์ของนักเรียน นิสิต นักศึกษาและประชาชนที่ได้ออกมารวมตัวกันชุมนุม เพื่อแสดงออกถึงความไม่พอใจต่อการบริหารประเทศของรัฐบาลได้ขยายกลายเป็นกระแสการชุมนุมขับไล่รัฐบาลที่กระจายไปในหลายพื้นที่ทั่วประเทศไทยอย่างที่ไม่เคยมีมาก่อน กลุ่มคนรุ่นใหม่ที่ส่วนใหญ่เป็นนักเรียนนักศึกษาได้เข้ามามีบทบาทในฐานะแกนนำจัดการชุมนุมมากขึ้น หนึ่งในข้อสังเกตต่อการชุมนุมของประชาชนในครั้งนี้ คือบทบาทของโซเชียลมีเดียในการช่วยขับเคลื่อนขบวนการทางสังคม (mobilisation) ให้เกิดการชุมนุมขนาดใหญ่ รวมไปถึงการใช้แฮชแท็ก (#) ในทวิตเตอร์ได้กลายเป็นตัวช่วยสำคัญในการกระจายข้อมูลข่าวสาร และเครื่องมือทางดิจิทัลได้ช่วยให้การจัดชุมนุมเกิดขึ้นง่ายขึ้น แต่นักกิจกรรมยังคงเผชิญหน้ากับอุปสรรคหลายประการ เช่น การถูกดำเนินคดี การถูกปิดกั้นและขัดขวางการจัดกิจกรรม การดำเนินคดีต่อแอดมินเพจเช่นเดียวกับนักกิจกรรมที่เชียงใหม่ การล่าแม่มดที่มุ่งโจมตีนักกิจกรรม (Online harassment) รวมถึงการทิ้งรอยเท้าดิจิทัล (Digital footprints) นั่นทำให้การติดตามตัวจากพื้นที่ดิจิทัลสู่ความปลอดภัยในโลกออฟไลน์ก็ไม่ใช่เรื่องยาก  [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] นับตั้งแต่ช่วงต้นปี 2563 เป็นต้นมา ปรากฏการณ์ของนักเรียน นิสิต นักศึกษาและประชาชนที่ได้ออกมารวมตัวกันชุมนุม เพื่อแสดงออกถึงความไม่พอใจต่อการบริหารประเทศของรัฐบาลได้ขยายกลายเป็นกระแสการชุมนุมขับไล่รัฐบาลที่กระจายไปในหลายพื้นที่ทั่วประเทศไทยอย่างที่ไม่เคยมีมาก่อน กลุ่มคนรุ่นใหม่ที่ส่วนใหญ่เป็นนักเรียนนักศึกษาได้เข้ามามีบทบาทในฐานะแกนนำจัดการชุมนุมมากขึ้น หนึ่งในข้อสังเกตต่อการชุมนุมของประชาชนในครั้งนี้ คือบทบาทของโซเชียลมีเดียในการช่วยขับเคลื่อนขบวนการทางสังคม (mobilisation) ให้เกิดการชุมนุมขนาดใหญ่ รวมไปถึงการใช้แฮชแท็ก (#) ในทวิตเตอร์ได้กลายเป็นตัวช่วยสำคัญในการกระจายข้อมูลข่าวสาร และเครื่องมือทางดิจิทัลได้ช่วยให้การจัดชุมนุมเกิดขึ้นง่ายขึ้น แต่นักกิจกรรมยังคงเผชิญหน้ากับอุปสรรคหลายประการ เช่น การถูกดำเนินคดี การถูกปิดกั้นและขัดขวางการจัดกิจกรรม การดำเนินคดีต่อแอดมินเพจเช่นเดียวกับนักกิจกรรมที่เชียงใหม่ การล่าแม่มดที่มุ่งโจมตีนักกิจกรรม (Online harassment) รวมถึงการทิ้งรอยเท้าดิจิทัล (Digital footprints) นั่นทำให้การติดตามตัวจากพื้นที่ดิจิทัลสู่ความปลอดภัยในโลกออฟไลน์ก็ไม่ใช่เรื่องยาก  [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan by Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comment-59</link>

		<dc:creator><![CDATA[Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Wed, 23 Dec 2020 10:39:00 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1124#comment-59</guid>

					<description><![CDATA[[&#8230;] to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Apa itu Hak Digital? by Human Rights Day 2020: &#039;Recover Better&#039; in Physical and Digital Spaces - Coconet		</title>
		<link>https://coconet.social/2020/apa-itu-hak-digital/#comment-58</link>

		<dc:creator><![CDATA[Human Rights Day 2020: &#039;Recover Better&#039; in Physical and Digital Spaces - Coconet]]></dc:creator>
		<pubDate>Tue, 22 Dec 2020 08:05:04 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=4351#comment-58</guid>

					<description><![CDATA[[&#8230;] from the English version, this article is now also available in Thai and Indonesian. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian version was [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] from the English version, this article is now also available in Thai and Indonesian. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian version was [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on “สิทธิดิจิทัล” คืออะไร? by Human Rights Day 2020: &#039;Recover Better&#039; in Physical and Digital Spaces - Coconet		</title>
		<link>https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/#comment-57</link>

		<dc:creator><![CDATA[Human Rights Day 2020: &#039;Recover Better&#039; in Physical and Digital Spaces - Coconet]]></dc:creator>
		<pubDate>Tue, 22 Dec 2020 08:04:27 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/#comment-57</guid>

					<description><![CDATA[[&#8230;] from the English version, this article is now also available in Thai and Indonesian. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] from the English version, this article is now also available in Thai and Indonesian. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on What are digital rights? by Human Rights Day 2020: &#039;Recover Better&#039; in physical and digital spaces - Coconet		</title>
		<link>https://coconet.social/2020/digital-rights-exploring-definitions/#comment-54</link>

		<dc:creator><![CDATA[Human Rights Day 2020: &#039;Recover Better&#039; in physical and digital spaces - Coconet]]></dc:creator>
		<pubDate>Fri, 11 Dec 2020 06:53:09 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=2259#comment-54</guid>

					<description><![CDATA[[&#8230;] this year, EngageMedia Digital Rights Program Manager Kathleen Azali wrote a blog post exploring the definitions of digital rights according to members of the Coconet community and other regional and international [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] this year, EngageMedia Digital Rights Program Manager Kathleen Azali wrote a blog post exploring the definitions of digital rights according to members of the Coconet community and other regional and international [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Singing about global issues – and COVID-19 – with the Marapu community by COVID-19 Tune Educates, Empowers Indonesia’s Remote Marapu Community by Fendi Widianto &#38; Joseph Lamont - SEA Junction		</title>
		<link>https://coconet.social/2020/indonesia-marapu-song/#comment-53</link>

		<dc:creator><![CDATA[COVID-19 Tune Educates, Empowers Indonesia’s Remote Marapu Community by Fendi Widianto &#38; Joseph Lamont - SEA Junction]]></dc:creator>
		<pubDate>Sun, 06 Dec 2020 02:20:40 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1417#comment-53</guid>

					<description><![CDATA[[&#8230;] story is a shortened adapted version of the article by Fendi Widianto and Joseph Lamont from EngageMedia, a non-profit media, technology and culture [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] story is a shortened adapted version of the article by Fendi Widianto and Joseph Lamont from EngageMedia, a non-profit media, technology and culture [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Silencing the Media Won&#8217;t Stop the Thailand Protests by Coconet Virtual Reunion: Reaffirming solidarity amid COVID-19 - Coconet		</title>
		<link>https://coconet.social/2020/thailand-protests-media-ban/#comment-52</link>

		<dc:creator><![CDATA[Coconet Virtual Reunion: Reaffirming solidarity amid COVID-19 - Coconet]]></dc:creator>
		<pubDate>Thu, 03 Dec 2020 09:01:34 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=3824#comment-52</guid>

					<description><![CDATA[[&#8230;] Thailand, the government had also attempted to ban four independent media outlets and a Facebook page from broadcasting, claiming that they “threaten national security”. The ban has since been [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Thailand, the government had also attempted to ban four independent media outlets and a Facebook page from broadcasting, claiming that they “threaten national security”. The ban has since been [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on #StopInternetShutdownMM: Civil society marks 1 year of world’s longest internet shutdown by Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/anniversary-myanmar-internet-shutdown/#comment-51</link>

		<dc:creator><![CDATA[Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Tue, 24 Nov 2020 06:06:18 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1607#comment-51</guid>

					<description><![CDATA[[&#8230;] shutdown in Rakhine and Chin states. The internet shutdown, which has been ongoing since June 2019, continues to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] shutdown in Rakhine and Chin states. The internet shutdown, which has been ongoing since June 2019, continues to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Myanmar government is hiding the truth of Arakan conflicts by Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/myanmar-internet-media-censorship/#comment-50</link>

		<dc:creator><![CDATA[Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Tue, 24 Nov 2020 06:04:17 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1387#comment-50</guid>

					<description><![CDATA[[&#8230;] internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
