<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>WhatsApp &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/whatsapp/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:13 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>WhatsApp &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>An Indonesian Guide to Choosing a Privacy-oriented Messaging App</title>
		<link>https://coconet.social/2021/indonesia-privacy-conversation-app/</link>
					<comments>https://coconet.social/2021/indonesia-privacy-conversation-app/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Thu, 20 May 2021 10:52:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Messaging Apps]]></category>
		<category><![CDATA[Privacy]]></category>
		<category><![CDATA[WhatsApp]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5849</guid>

					<description><![CDATA[<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. To help Indonesians better understand which messaging apps protect their users the most, Coconet member Southeast Asia Freedom of Expression Network (SAFEnet) has published a “Guide to Choosing a Privacy-Protecting Conversation App”.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="mceTemp"></div>
<div id="attachment_5860" style="width: 761px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-5860" class="wp-image-5860 size-large" src="wp-content/uploads/2021/05/SAFEnet-751x1024.jpeg" alt="" width="751" height="1024" sizes="(max-width: 751px) 100vw, 751px" /><p id="caption-attachment-5860" class="wp-caption-text">Graphic from SAFEnet, reposted with permission.</p></div>
<p>&nbsp;</p>
<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. Facebook, for example, is implementing changes that will force the users of WhatsApp, one of the most widely used messaging apps, to accept its new controversial privacy policy that will allow the harvesting of users&#8217; metadata for marketing purposes.</p>
<p>Speaking up against the implementation of this policy are 28 organisations from around the world, among them Coconet members Southeast Asia Freedom of Expression Network (<a href="https://safenet.or.id/">SAFEnet</a>), <a href="https://fma.ph/">Foundation for Media Alternatives</a>, and EngageMedia. The campaign also involves the urging of authorities to defend the rights of WhatsApp users. For additional reading, we also recommend checking out <a href="https://engagemedia.us1.list-manage.com/track/click?u=d9dee6898a6443ce6f94eb51a&amp;id=8515fb102b&amp;e=7e3eca7af8">this article from Session</a> discussing the app&#8217;s new privacy policy and why you should &#8220;steer clear&#8221; of the app if privacy is a concern for you.</p>
<p>Even before the start of the campaign, SAFEnet had already published a “<a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">Guide to Choosing a Privacy-Protecting Conversation App</a>” to help Indonesians better understand which messaging apps protect their users the most.</p>
<p>The guide ranks the apps, from WhatsApp to Signal, using seven ideal criteria a safe communication app should have. For an app to claim that it is secure, it must be:</p>
<ol>
<li>Freedom from dependence on large technology companies</li>
<li>Fully encrypted (E2EE)</li>
<li>Multi-platform support</li>
<li>Multi-mode communication (voice, text, video, and more)</li>
<li>Additional features that help users.</li>
</ol>
<p>Download the full guide in Bahasa Indonesia from <a href="https://coconet.social/wp-content/uploads/2021/05/Modul-SAFENet-versi-ebook-final.pdf">here</a>. Read the article in Bahasa Indonesia <a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">here</a>.</p>
<p>&nbsp;</p>
<p><em>Ellen Kusuma is a member of SAFEnet’s Security and Safety Division.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/indonesia-privacy-conversation-app/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
