<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Chonthicha Jangrew &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/cj/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 22 Jun 2020 01:53:47 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Chonthicha Jangrew &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/</link>
					<comments>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/#comments</comments>
		
		<dc:creator><![CDATA[Chonthicha Jangrew]]></dc:creator>
		<pubDate>Thu, 18 Jun 2020 01:42:58 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Mob from Home]]></category>
		<category><![CDATA[Online Activism]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1524</guid>

					<description><![CDATA[<p>ความหวังที่จะเห็นการเปลี่ยนแปลงทางการเมืองของไทยเริ่มเกิดขึ้นอีกครั้งในช่วงต้นปี 2563 จากการเคลื่อนไหวของคนรุ่นใหม่หลังศาลรัฐธรรมนูญวินิจฉัยยุบพรรคอนาคตใหม่เมื่อวันที่ 21 กุมภาพันธ์ ได้จุดไฟกระแสความไม่พอใจที่มีต่อรัฐบาลของ พล.อ.ประยุทธ์ จันทร์โอชา ที่ดำรงตำแหน่งนายกรัฐมนตรีมาตั้งแต่เหตุการณ์รัฐประหารปี 2557 จนนำไปสู่กระแสกิจกรรมแฟลชม็อบ (Flash mob) ที่ดำเนินไปเป็นไฟลามทุ่งโดยกลุ่มนักศึกษาในหลายสถาบันทั่วประเทศ จากสถิติของศูนย์ทนายความเพื่อสิทธิมนุษยชนที่บันทึกเหตุการณ์ช่วงระหว่างวันที่ 21 กุมภาพันธ์จนถึง 14 มีนาคม 2563 พบว่า มีการจัดกิจกรรมชุมนุมในลักษณะแฟลชม็อบ เพื่อเรียกร้องประชาธิปไตยและต่อต้านเผด็จการอย่างน้อย 79 ครั้งที่เกิดในพื้นที่มหาวิทยาลัยจากทั่วประเทศ</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome/">วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Read this article in <a href="https://coconet.social/2020/thailand-student-online-activism-covid">English</a> | อ่านบทความนี้ใน <a href="https://coconet.social/2020/thailand-student-online-activism-covid">ภาษาอังกฤษ</a></em></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1668" src="wp-content/uploads/2020/06/Thai_1.0-scaled.jpeg" class="vc_single_image-img attachment-full" alt="Thailand Online Protest" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>นักศึกษาจากหลายมหาวิทยาลัยและประชาชนออกมาชุมนุมแสดงความไม่พอใจต่อรัฐบาลที่มหาวิทยาลัยเกษตรศาสตร์ เมื่อวันที่ 29 ก.พ. 2563               </em><em>ภาพถ่ายโดย: ชลธิชา แจ้งเร็ว<br />
</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ความหวังที่จะเห็นการเปลี่ยนแปลงทางการเมืองของไทยเริ่มเกิดขึ้นอีกครั้งในช่วงต้นปี 2563 <a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">จากการเคลื่อนไหวของคนรุ่นใหม่</a>หลังศาลรัฐธรรมนูญวินิจฉัย<a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">ยุบพรรคอนาคตใหม่</a>เมื่อวันที่ 21 กุมภาพันธ์ ได้จุดไฟแห่งความไม่พอใจที่มีต่อรัฐบาลของ พล.อ.ประยุทธ์ จันทร์โอชา ที่ดำรงตำแหน่งนายกรัฐมนตรีมาตั้งแต่เหตุการณ์รัฐประหารปี 2557 จนนำไปสู่กระแสกิจกรรม<a href="https://freedom.ilaw.or.th/node/801">แฟลชม็อบ</a> (Flash mob) ที่ดำเนินไปเป็นไฟลามทุ่งโดยกลุ่มนักศึกษาในหลายสถาบันทั่วประเทศ จาก<a href="https://www.tlhr2014.com/?p=16521">สถิติของศูนย์ทนายความเพื่อสิทธิมนุษยชน</a>ที่บันทึกเหตุการณ์ช่วงระหว่างวันที่ 21 กุมภาพันธ์จนถึง 14 มีนาคม 2563 พบว่า มีการจัดกิจกรรมชุมนุมในลักษณะแฟลชม็อบ เพื่อเรียกร้องประชาธิปไตยและต่อต้านเผด็จการอย่างน้อย 79 ครั้งที่เกิดในพื้นที่มหาวิทยาลัยจากทั่วประเทศ</p>
<p>“คลื่นแห่งการชุมนุมทางการเมือง” ฉายให้เห็นความตื่นตัวทางการเมืองของคนรุ่นใหม่ จนอาจเรียกได้ว่าน่าจะเป็นปรากฏการณ์ “Youthquake” ครั้งใหม่อีกครั้งหนึ่งของการเมืองไทยในรอบหลายปีที่ผ่านมา ทำให้กลุ่มผู้ที่สนับสนุนประชาธิปไตยเริ่มมีหวังว่ากระแสครั้งนี้อาจจะยกระดับไปสู่การชุมนุมประท้วงขับไล่รัฐบาล – ก็เป็นได้</p>
<p>แต่แล้วการเกิดขึ้นของการแพร่ระบาดของโคโรนาไวรัส หรือโควิด-19 ก็ทำให้หลายกิจกรรมต้องหยุดชะงักเพื่อรักษาระยะห่างทางสังคม รวมไปถึงการชุมนุมประท้วงในโลกออฟไลน์ด้วย</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ปรากฏการณ์ new normal กลายเป็นเงื่อนไขใหม่ให้ขบวนการเคลื่อนไหวทางสังคม (social movement) และภาคประชาสังคมไทยจำเป็นต้องปรับตัวให้ทัน เมื่อรัฐบาลไทยเลือกใช้กฎหมาย “ท่าไม้ตาย” ด้วยการประกาศใช้ <a href="https://www.bbc.com/thai/thailand-52014435">พ.ร.ก.ฉุกเฉินฯ</a> ทำให้การชุมนุมสาธารณะกลายเป็นสิ่งต้องห้าม และการเคลื่อนไหวบนโลกออนไลน์จึงกลายเป็นทางเลือกที่สำคัญของการเคลื่อนไหวของนักศึกษา แต่ขณะเดียวกันมาตรการควบคุมกิจกรรมบนโลกออนไลน์ของรัฐบาลก็เข้มข้นขึ้นภายใต้เงื่อนไขการควบคุมการแพร่ระบาดของโควิดด้วยเช่นกัน ส่งผลต่อการจำกัดเสรีภาพในการแสดงออกบนโลกออนไลน์ และล่าสุดกับความคืบหน้าของการตั้งกองบัญชาการปราบปรามการกระทำความผิดเกี่ยวกับอาชญากรรมทางเทคโนโลยี สังกัดสำนักงานตำรวจแห่งชาติ หรือเรียกว่า “<a href="https://prachatai.com/journal/2020/05/87863">ตำรวจไซเบอร์</a>” ซึ่งอาจกลายเป็น “ตำรวจทางความคิด” ที่คอยสอดส่องประชาชนบนโลกออนไลน์</p>
<p>หนึ่งในเครื่องมือของรัฐคือ การทำงานของ “<a href="https://www.antifakenewscenter.com/">ศูนย์ต่อต้านข่าวปลอม</a>” และการบังคับใช้กฎหมาย <a href="https://ilaw.or.th/node/4901">พ.ร.บ.คอมพิวเตอร์ฯ</a> ซึ่งมักถูกนำมาใช้เป็นเครื่องมือปิดปากประชาชนที่มีความเห็นต่างจากรัฐ และใช้ควบคุมการเผยแพร่ข้อมูลข่าวสารของประชาชนในช่วงสถานการณ์โควิด เช่นในเมื่อเดือนมีนาคม 2563 <a href="https://www.tlhr2014.com/?p=16625">นายดนัย อุศมา</a> ศิลปินชาวภูเก็ตซึ่งถูกเจ้าหน้าที่ตำรวจจับกุมแจ้งข้อกล่าวหาว่ามีการกระทำความผิด โดยการนำเข้าข้อมูลอันเป็นเท็จตาม พ.ร.บ.คอมพิวเตอร์ฯ หลังจากที่เขาโพสต์ข้อความว่าตนเองได้เดินทางกลับจากประเทศสเปนเข้าสู่ประเทศไทยผ่านทางสนามบินสุวรรณภูมิซึ่งไม่มีการคัดกรองตรวจผู้โดยสารที่มีโอกาสติดเชื้อไวรัสโควิด-19</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;Mainland Southeast Asia is now creating a zone where no activist or dissident can feel safe. For many leaving the region entirely might now be the only safe option.&quot; For <a href="https://twitter.com/Diplomat_APAC?ref_src=twsrc%5Etfw">@Diplomat_APAC</a> on disappearance of Wanchalearm Satsaksit in Cambodia <a href="https://twitter.com/hashtag/SaveWanchalearm?src=hash&amp;ref_src=twsrc%5Etfw">#SaveWanchalearm</a> <a href="https://t.co/tOSNSatqud">https://t.co/tOSNSatqud</a></p>&mdash; David Hutt (@davidhuttjourno) <a href="https://twitter.com/davidhuttjourno/status/1271032765228765185?ref_src=twsrc%5Etfw">June 11, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>กระแสความไม่พอใจต่อรัฐบาลกลายเป็นกระแสไฟที่โหมหนักต่อเนื่อง หลังจากเกิดเหตุ<a href="https://www.hrw.org/news/2020/06/05/cambodia-thai-activist-abducted-phnom-penh">การอุ้มหายของนายวันเฉลิม สัตย์ศักดิ์สิทธิ์</a> ผู้ลี้ภัยไทยในกัมพูชาเมื่อวันที่ 4 มิถุนายนที่ผ่านมา ทำให้ <a href="https://www.prachachat.net/politics/news-473712">#SaveWanchalearm</a> มีการ<a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">รีทวีตกว่า </a><a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">400,000</a> ครั้งภายหลังการหายตัวไปของเขา ขณะที่ผู้คนที่ออกมาร่วมการแสดงสัญลักษณ์เรียกร้องความเป็นธรรมในโลกออฟไลน์กลับได้รับหมายเรียกจากเจ้าหน้าที่ตำรวจให้เข้ารับทราบ<a href="https://prachatai.com/english/node/8590">ข้อกล่าวหาฝ่าฝืน พ.ร.ก.ฉุกเฉินฯ</a></p>
<p>แต่ไม่ว่าต้องเผชิญความท้าทายในการเคลื่อนไหวทางการเมืองอย่างไร นั่นก็ไม่ได้ทำให้การแสดงออกความไม่พอใจที่มีต่อรัฐบาลจะเงียบหายไปในยุคโควิค เมื่อการชุมนุมบนท้องถนนยังถูกจำกัด “การประท้วงออนไลน์” จึงส่งเสียงดังขึ้นและร้อนแรงกว่าที่เคยเป็นมา</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3># แฮชแท็กการเมือง: กระแส “แฟลชม็อบออนไลน์” ในทวิตภพ</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ที่ผ่านมา หากเราพูดถึงการชุมนุม ก็มักจะเห็นภาพการมารวมตัวกันของผู้คนในสถานที่ต่างๆ แต่เมื่อเข้าสู่ยุคที่มีการแพร่ระบาดของโควิด รูปแบบการประท้วงแบบแฟลชม็อบจึงย้ายมาอยู่ในแพลตฟอร์มออนไลน์แทน</p>
<p><a href="https://www.bangkokpost.com/thailand/politics/1817299/from-tweet-to-street-new-thai-generation-joins-protest">ทวิตเตอร์</a> กลายเป็นพื้นที่สำคัญแห่งการใช้เสรีภาพในการแสดงออกของกลุ่มคนรุ่นใหม่ เพื่อสะท้อนความคิดเห็นที่มีต่อประเด็นทางการเมืองในวันที่พื้นที่สาธารณะอื่นถูกปิดกั้น ด้วยลักษณะเฉพาะตัวของแพลตฟอร์มทวิตเตอร์ที่ผู้ใช้สามารถเป็นเจ้าของได้หลายแอคเค้าท์ ต้นทุนในการใช้ต่ำ และให้ความรู้สึกของการเป็น “นิรนาม” มากกว่าแพลตฟอร์มกระแสหลักอื่นในประเทศไทย ทำให้ตอบโจทย์กลุ่มคนรุ่นใหม่ที่ต้องการ<a href="https://www.reuters.com/article/us-health-coronavirus-thailand-monarchy/coronavirus-pandemic-prompts-rare-questioning-of-thai-monarchy-idUSKBN21918F">แสดงออกความคิดเห็นในประเด็นอ่อนไหวและสุ่มเสี่ยง</a>ที่จะพูดได้ในบริบทประเทศไทย</p>
<p>&#8220;ทวิตภพ&#8221; จึงกลายเป็นพื้นที่ใหม่ของการต่อสู้ทางความคิดที่เปิดโอกาสให้กลุ่มผู้ใช้งานได้แสดงความคิดเห็นในหลายประเด็นและบางประเด็นแทบจะไม่เคยได้ปรากฏหรือพูดถึงในพื้นที่สาธารณะอื่นมาก่อนในเมืองไทย</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="th" dir="ltr">&quot;โควิดหายมาไล่รัฐบาลกันไหม?&quot;<br><br>สหภาพนักเรียน นิสิต นักศึกษาแห่งประเทศไทย - Student Union of Thailand ได้โพสต์ภาพพร้อมข้อความ ระบุว่า สนท. ขอเชิญชวนชาวไทยทุกคนร่วมประท้วงออนไลน์โดยการถ่ายรูปถือป้ายแสดงความรู้สึกต่อรัฐบาลพร้อมติด <a href="https://twitter.com/hashtag/MobFromHome?src=hash&amp;ref_src=twsrc%5Etfw">#MobFromHome</a> <a href="https://t.co/n0MKKlSz6O">https://t.co/n0MKKlSz6O</a></p>&mdash; 𝙣𝙤𝙞𝙧 . (@noirisaesthetic) <a href="https://twitter.com/noirisaesthetic/status/1253722418788438017?ref_src=twsrc%5Etfw">April 24, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>การใช้แฮชแท็ก # เป็นหนึ่งในฟังก์ชั่นสำคัญที่ถูกนำมาใช้สร้างพื้นที่การชุมนุมออนไลน์ เพราะช่วยให้การแลกเปลี่ยนความคิดเห็นทางการเมืองและการรวมตัวของกลุ่มคนที่คิดเห็นคล้ายกันนั้นเป็นไปได้ง่ายขึ้น หนึ่งในข้อสังเกตที่พบคือ สิ่งที่เปลี่ยนแปลงไปในยุคแห่งความขัดแย้งทางการเมืองไทยในรอบสิบปีที่ผ่านมา คือการพูดคุยประเด็นทางการเมืองกลายเป็นเรื่องกระแสหลักในปัจจุบัน กลุ่มคนรุ่นใหม่ออกมาแสดงออกทางการเมืองมากขึ้น และแฮชแท็กว่าด้วยประเด็นการเมืองและความเป็นไม่ธรรมในสังคมพุ่งติดเทรนด์ยอดนิยมอันดับหนึ่งหลายเรื่องในช่วงปีที่ผ่านมา</p>
<p>หนึ่งในกระแสแฮชแท็กที่สำคัญในช่วงสถานการณ์โควิด-19 คือ กระแส <a href="https://www.bbc.com/thai/thailand-52265031">#nnevvy</a> ที่ติดเทรนด์ทวิตเตอร์อันดับหนึ่งของไทยและกลายเป็นกระแสดราม่าระหว่างประเทศไปแล้ว หลังจากนักแสดงหนุ่มไทย วชิรวิชญ์ ชีวอารี หรือ “ไบร์ท” จากซีรีส์เพราะเราคู่กัน 2gether The Series ที่กำลังโด่งดังในประเทศจีนได้รีทวีตโพสต์หนึ่ง พร้อมแคปชันที่เรียกฮ่องกงว่า “ประเทศ” ส่งผลให้แฟนคลับจีนรุมแสดงความคิดเห็นโจมตีไบร์ท แต่กระแสโต้กลับโดยชาวทวิตเตอร์ไทยได้ออกมาปกป้องและโต้เถียงกับคนจีน จนขยายไปสู่กลุ่มผู้ใช้ทวิตเตอร์ชาวฮ่องกงและไต้หวัน จนกลายเป็นวลี &#8220;<a href="https://www.telegraph.co.uk/news/2020/05/03/milkteaalliance-new-asian-youth-movement-battles-chinese-trolls/">พันธมิตรชานม</a>&#8221; #MilkTeaAlliance #ชานมเข้มข้นกว่าเลือด ขยายประเด็นสู่การถกเถียงเรื่องการเมืองการปกครองภายในประเทศ</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://www.reuters.com/article/us-thailand-china-internet/insta-star-wars-china-tensions-in-southeast-asia-flare-online-idUSKCN21W11P">Reuters</a> ระบุถึงประเด็นแฮชแท็กนี้ทำให้กลุ่มสนับสนุนประชาธิปไตยจับมือกันร่วมต่อต้านนักรบไซเบอร์ที่สนับสนุนรัฐบาลจีน ขณะที่ทาง “<a href="https://twitter.com/joshuawongcf/status/1249254158538072064">โจชัว หว่อง</a>” นักเคลื่อนไหวเพื่อประชาธิปไตยชาวฮ่องกง โพสต์ภาพถ่ายซีรีย์ของนักแสดงหนุ่มพร้อมข้อความว่า<em> ฮ่องกงยืนเคียงข้างเพื่อนชาวไทยผู้รักในเสรีภาพ ต่อต้านการรังแกจากจีน และตั้งความหวังถึงขั้นสร้างพันธมิตรในเอเชียเพื่อต่อต้านลัทธิเผด็จการ</em></p>
<p>ในช่วงสถานการณ์การแพร่ระบาดโควิดและอำนาจของ พ.ร.ก.ฉุกเฉิน ได้จำกัดการจัดกิจกรรมต่างๆ และบรรยากาศการรวมตัวชุมนุมของนักศึกษาจึงได้ชะลอตัวไป ทำให้ทางฝั่ง<a href="https://www.facebook.com/studentunion.thailand/">สหภาพนักเรียน นิสิต นักศึกษาแห่งประเทศไทย (สนท.)</a> เสนอไอเดียแคมเปญออนไลน์เชิญชวนคนไทยให้ร่วมกัน <em>“ประท้วงจากบ้าน”</em> ด้วยการแชร์ภาพหรือถือป้ายข้อความแสดงความรู้สึกไม่พอใจที่มีต่อการทำงานของรัฐบาล พร้อมติดแฮชแท็ก <a href="https://www.dailynews.co.th/regional/771073">#MobFromHome</a> จนแฮชแท็กนี้ขึ้นติดเทรนด์อันดับหนึ่งในทวิตเตอร์ประเทศไทย</p>
<p>จากการชวนตั้งแฮชแท็กเพื่อสื่อสารถึงประะเด็นทางการเมืองและรวมไปถึงบางประเด็นที่อ่อนไหวได้กลายเป็นกระแสหลักเพื่อแสดงพลังการแสดงออกแบบรวมหมู่ (collective action) และบางแฮชแท็กในทวิตเตอร์ใด้กลายเป็นประเด็นถกเถียงอย่างร้อนแรงในแบบที่ไม่เคยเกิดขึ้นมาก่อนในประเทศไทย</p>
<p>นอกจากการใช้ # ในการสร้างพื้นที่ชุมนุมออนไลน์แล้วนั้น อีกวิธีการหนึ่งที่สังเกตเห็นจากปรากฏการณ์ของคำว่า <em>“ทัวร์ลง” </em>มักจะถูกหยิบยกมาอธิบายรูปแบบกิจกรรมออนไลน์ที่เชิญชวนผู้ติดตามในแอคเค้าท์ของตน เข้าไปรุมแสดงความคิดเห็นหรือวิพากษ์วิจารณ์โพสต์นั้นๆ เพราะเมื่อฝ่ายรัฐบาลมีทีม<a href="https://www.bbc.com/thai/thailand-51633675">หน่วยปฏิบัติการข่าวสาร</a> หรือ Information Operation (IO) คอยจับตาและมุ่งแสดงความคิดเห็นโจมตีกลุ่มผู้ที่เห็นต่างจากรัฐบาล ฝ่ายนักกิจกรรมประชาธิปไตยก็จำเป็นต้องพยายามหายุทธวิธีต่างๆ ในลักษณะ “ทัวร์ลง” เพื่อเรียกระดมแนวร่วมสาธารณะให้ไปช่วยกันโต้กลับด้วยข้อมูลในโพสต์นั้นๆ</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1920" src="wp-content/uploads/2020/06/Thai-Protest-2-scaled.jpeg" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>นิสิตจากมหาวิทยาลัยศรีนครินทรวิโรฒ ประสานมิตร จัดกิจกรรมแฟลชม็อบแสดงออกทางการเมืองเมื่อวันที่ 26 ก.พ. 2563 ภาพถ่ายโดย: ชลธิชา แจ้งเร็ว</p>
<p style="text-align: center;"><em> </em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>เมื่อ &#8216;ความเป็นส่วนตัว&#8217; เป็นเทรนด์ของคนรุ่นใหม่ แพลตฟอร์มไหนจะตอบโจทย์ขบวนการเคลื่อนไหว</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เมื่อทวิตเตอร์กลายเป็นพื้นที่ทำกิจกรรมทางสังคมออนไลน์ที่ได้รับความนิยมมากขึ้นในประเทศไทย และได้มีความเคลื่อนไหวสำคัญเกิดขึ้นคือเมื่อวันที่ 13 พฤษภาคมที่ผ่านมา หลังจากการประกาศเปิดตัวบัญชีทางการของ &#8220;ทวิตเตอร์ประจำประเทศไทย&#8221; หรือ @TwitterThailand ด้วยข้อความ &#8220;สวัสดีครับ ประเทศไทย!&#8221; ต่อมาไม่นานเมื่อทวิตเตอร์ได้ประกาศเปลี่ยนแปลง<a href="https://www.bbc.com/thai/52663959">นโยบายความเป็นส่วนตัว</a>เมื่อวันที่ 19 พฤษภาคม เพื่อแจ้งเรื่องการแชร์ข้อมูลของผู้ใช้งานให้กับ &#8220;พาร์ทเนอร์&#8221; โดยจะมีการแชร์ข้อมูลระดับอุปกรณ์ของผู้ใช้ คือ IP address เพื่อปรับปรุงพัฒนาโฆษณาให้เหมาะกับผู้ใช้มากขึ้น</p>
<p>จากความเคลื่อนไหวดังกล่าว จึงตามมาด้วยกระแสต่อต้านผ่านแฮชแท็ก #ไม่เอาทวิตเตอร์ไทยแลนด์ (<a href="https://twitter.com/search?q=%23NoTwitterThailand&amp;src=typed_query">#NoTwitterThailand</a>) ขึ้นเทรนด์อันดับหนึ่ง เพราะชาวทวิตเตอร์ไทยได้ตั้งข้อสังเกตว่า นี่อาจเป็นส่วนหนึ่งของการสอดส่องพฤติกรรมประชาชนและควบคุมเสรีภาพในการแสดงออกของประชาชนบนโลกออนไลน์โดยรัฐบาลไทย หลังจาก<a href="https://twitter.com/BeePunnakanta/status/1227457580299096064?s=20">นายพุทธิพงษ์ ปุณณกันต์</a> รมว.กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม ได้ทวีตข้อความว่า ตนเพิ่งได้หารือกับผู้บริหารของทวิตเตอร์ประจำสิงคโปร์ ในประเด็นการต่อต้านข่าวปลอมและเนื้อหาที่มีความรุนแรง เป็นเหตุให้กลุ่มผู้ใช้งานส่วนหนึ่งแสดงความไม่ไว้ใจต่อการทำงานของทวิตเตอร์ที่อาจจะไม่ได้ให้หลักประกันทั้งเรื่อง “ความเป็นส่วนตัว&#8221; และ &#8220;ความปลอดภัย&#8221; แก่ผู้ใช้งานในประเทศไทยได้</p>
<p>ประเด็นดังกล่าวได้เป็นเหตุให้ผู้ใช้งานทวิตเตอร์บางกลุ่มเริ่มชักชวนกันย้ายไปใช้งาน “แพลตฟอร์มทางเลือก” ที่เป็นโอเพนซอร์ซอย่างเช่น “<a href="http://www.voicetv.co.th/read/QFFOiCT73">Minds</a>” ที่เน้นเรื่องความเป็นส่วนตัวและและเสรีภาพบนโลกอินเตอร์เน็ต เช่นเดียวกับ<a href="https://twitter.com/Fringer/status/1263260715474808833?s=20">สฤณี อาชวานันทกุล</a> ได้ทวีตข้อความ <em>“ลาก่อนทวิตเตอร์ ไปเจอกันที่ </em><em>Minds” </em>ล่าสุดทางแพลตฟอร์ม <a href="https://www.minds.com/newsfeed/1111398298334855168">Minds</a> ได้ออกมาประกาศว่า ตอนนี้ได้รองรับการใช้งานภาษาไทยเรียบร้อยแล้ว</p>
<p>เมื่อเกิดกระแสความไม่ไว้ใจทวิตเตอร์ จึงชวนให้คิดต่อว่า แล้วรูปแบบของการเคลื่อนไหวทางสังคมผ่านแพลตฟอร์มออนไลน์ในอนาคตจะเป็นอย่างไร เมื่อกลุ่มคนรุ่นใหม่เริ่มให้ความสำคัญกับความเป็นส่วนตัวและความปลอดภัยของการใช้งานแพลตฟอร์ม ขณะเดียวกันเงื่อนไขของการขับเคลื่อนทางสังคมจำเป็นต้องอาศัยโซเชียลเน็ตเวิร์คที่มีผู้ใช้จำนวนมากพอจะส่งเสียงให้เกิดการเปลี่ยนแปลงขึ้น และคำถามที่เป็นโจทย์ใหญ่กว่านั้นคือ รูปแบบการจัดกิจกรรมแฟลชม็อบ หรือลักษณะการชุมนุมแบบไม่ยืดเยื้อ ทั้งในโลกออฟไลน์และออนไลน์ จะนำไปสู่การขับเคลื่อนประเด็นทางสังคมที่มีอยู่อย่างหลากหลายได้อย่างไร เพื่อผลักดันไปสู่ความเปลี่ยนแปลงที่พวกเราฝันไว้</p>
<p>อาจจะเป็นคำถามที่ตอบยากด้วยคนเพียงกลุ่มเดียวในสังคม แต่คำตอบที่เห็นชัดแล้วคือ <em>“กลุ่มคนรุ่นใหม่ได้ตื่นตัวทางการเมืองแล้ว”</em> ในฐานะพลังสำคัญที่น่าจับตามอง อยู่ที่ว่าหลังจากนี้ เราจะกำหนดทิศทางการเคลื่อนไหวเพื่อผลักดันความตื่นตัวในรูปแบบที่เป็นอยู่ จนนำไปสู่การเปลี่ยนแปลงทางการเมืองเชิงโครงสร้างโดยรวมให้สำเร็จได้อย่างไร</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>ชลธิชา แจ้งเร็ว (ลูกเกด) ผู้ร่วมก่อตั้งกลุ่มฟื้นฟูประชาธิปไตย (DRG) เธอเป็นนักกิจกรรมด้านประชาธิปไตยและสิทธิมนุษยชน โดยเริ่มทำงานเพื่อส่งเสริมเสรีภาพในการแสดงออกและเสรีภาพในการชุมนุมในประเทศไทยตั้งแต่ภายหลังการทำรัฐประหารของคณะรักษาความสงบแห่งชาติ (คสช.) 2557</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome/">วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Thai student protesters in the time of COVID-19: New generation, new forms of resistance online</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/</link>
					<comments>https://coconet.social/2020/thailand-student-online-activism-covid/#comments</comments>
		
		<dc:creator><![CDATA[Chonthicha Jangrew]]></dc:creator>
		<pubDate>Wed, 17 Jun 2020 11:35:53 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Online Activism]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1516</guid>

					<description><![CDATA[<p>Hope for political change in Thailand has grown stronger in 2020 after a wave of student protests across the country followed the constitutional court’s dissolution of the opposition Future Forward Party. This wave of protests, dubbed the “youthquake” phenomenon, is reflective of the political awareness among the Thai youth. Despite the ban on public assembly, the youth have taken to platforms online and offline to vent out their frustrations. Online, however, the Thai youth continue to protest, using social media to voice out their criticisms against the government. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-covid/">Thai student protesters in the time of COVID-19: New generation, new forms of resistance online</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Read this article in <a href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome">Thai</a> | </em>อ่านบทความนี้ใน <a href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome">ภาษาไทย</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1668" src="wp-content/uploads/2020/06/Thai_1.0-scaled.jpeg" class="vc_single_image-img attachment-full" alt="Thailand Online Protest" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
			<figcaption class="vc_figure-caption">Students light their mobile phones during a protest against the government at Kasetsart University on February 29, 2020. Photo by Chonthicha Jangrew.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Hope for political change in Thailand has grown stronger in 2020 after <a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">a wave of student protests</a> across the country followed the constitutional court’s <a href="https://www.bangkokpost.com/thailand/politics/1862769/ffp-dissolved-executives-banned-for-10-years">dissolution of the opposition Future Forward Party</a>. This decision sparked flash mobs against the long tenure of Thai Prime Minister Prayut Chan-o-cha and his authoritarian regime, which has been in power since 2014. Between February 21 to March 14, 2020, there were at least 79 flash mobs in universities, according to the <a href="https://www.tlhr2014.com/?p=16521">Thai Lawyers for Human Rights (TLHR)</a>.</p>
<p>This wave of protests, dubbed the “<a href="https://www.iseas.edu.sg/media/commentaries/thailand-ample-fuel-for-the-flash-mobs/">youthquake</a>” phenomenon, is reflective of the political awareness among the Thai youth. With the youth on their side, pro-democracy groups saw the possibility that the pro-military government could be ousted.</p>
<p>But then came <a href="https://ddc.moph.go.th/viralpneumonia/eng/index.php">COVID-19</a>. Student movements and physical protests were forced to suspend. The new normal became a condition that impedes social movements<span lang="en-US">. Thai civil society was only starting to adapt when the Thai government hit the movement with more damning blows: <a href="https://www.reuters.com/article/us-health-coronavirus-thailand/thailand-extends-virus-emergency-powers-amid-opposition-suspicion-idUSKBN2320FS">the emergency decree</a> that prohibits public assembly, meaning activism had to be practiced online instead. Thai authorities have also been taking an active role in monitoring online activities with using <a href="https://www.hrw.org/news/2020/03/25/thailand-covid-19-clampdown-free-speech">other measures</a> amid the COVID-19 crisis that hamper freedom of expression online.</span></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On top of these measures, the government’s <a href="https://www.antifakenewscenter.com/">Anti-Fake News Center</a> (or, as critics call it, the “Fake News Center”) has also been criticised for its <a href="https://coconuts.co/bangkok/news/with-the-anti-fake-news-center-thailand-gets-its-ministry-of-truth/">restrictions on rights to freedom of expression</a> rather than dealing with disinformation. In the time of COVID-19, the centre is known to censor information and criticism against the government’s management of the pandemic. It has even pressed charges against citizens critical of the government; <a href="https://www.tlhr2014.com/?p=16636&amp;lang=en">Danai Ussama</a>, an artist from Phuket, was arrested by police under the <a href="https://www.article19.org/data/files/medialibrary/38615/Analysis-Thailand-Computer-Crime-Act-31-Jan-17.pdf">Computer Crimes Act</a> after he posted on an online platform that there was no screening of COVID-19 at the Suvarnabhumi airport after he got back from Spain in March 2020.</p>
<p>These measures are just some of the challenges for social movement in the time of COVID-19, especially on disseminating information to citizens. But dissent against the pro-military government does not and has not stopped in the time of COVID-19. In fact, the June 4<a href="https://www.hrw.org/news/2020/06/05/cambodia-thai-activist-abducted-phnom-penh"> disappearance of political exile Wanchalerm Satsaksit in Cambodia</a> reignited protests against the pro-military government, with more than <a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">400,000 retweets of the hashtag #SaveWanchalearm</a> just one day later.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;Mainland Southeast Asia is now creating a zone where no activist or dissident can feel safe. For many leaving the region entirely might now be the only safe option.&quot; For <a href="https://twitter.com/Diplomat_APAC?ref_src=twsrc%5Etfw">@Diplomat_APAC</a> on disappearance of Wanchalearm Satsaksit in Cambodia <a href="https://twitter.com/hashtag/SaveWanchalearm?src=hash&amp;ref_src=twsrc%5Etfw">#SaveWanchalearm</a> <a href="https://t.co/tOSNSatqud">https://t.co/tOSNSatqud</a></p>&mdash; David Hutt (@davidhuttjourno) <a href="https://twitter.com/davidhuttjourno/status/1271032765228765185?ref_src=twsrc%5Etfw">June 11, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Despite the ban on public assembly, the youth have taken to platforms online and offline to vent out their frustrations, even if those who participated in protests <a href="https://prachatai.com/english/node/8590">have been summoned</a> by the police on Emergency Decree charges. Online, however, the Thai youth continue to protest, using social media to voice out their criticisms against the government.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Hashtag activism and flash mobs on Twitter</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Previously, a protest consisted of people gathering in physical, public places. But when this became an impossibility in the time of coronavirus, the flash mobs assembled instead on online platforms.</p>
<p><a href="https://www.bangkokpost.com/thailand/politics/1817299/from-tweet-to-street-new-thai-generation-joins-protest">Twitter</a> has become the space for freedom of expression in Thailand. It has become a platform for blooming political awareness while other spaces are restricted. On Twitter, a user can have many accounts and is afforded a sense of “anonymity” as compared to other social media platforms. Twitter responds to the needs of new Thai generation who want to discuss <a href="https://www.reuters.com/article/us-health-coronavirus-thailand-monarchy/coronavirus-pandemic-prompts-rare-questioning-of-thai-monarchy-idUSKBN21918F">sensitive political issues</a> and has opened up a space for political disparagement of issues that have been rare to be discussed and have never publicly manifested in any public space in Thailand before.</p>
<p>The use of hashtags (#) is a meaningful function used to rally together people because it allows users to gather and exchange issues on their interests. Over the past ten years of <a href="https://www.reuters.com/article/us-thailand-election-timeline/timeline-thailands-turbulent-politics-over-two-decades-idUSKCN1R30HR">Thailand’s political conflict,</a> the exchange of political opinions – especially online – has only increased. The youth consider political expression as the norm, and in the past year, <a href="https://www.khaosodenglish.com/politics/2020/02/25/mobilized-by-hashtags-more-verdict-protests-planned-at-universities/">many hashtags</a> on politics and injustice issues were among the top trending topics on Twitter in Thailand.</p>
<p>One of the viral hashtags during COVID-19 is the hashtag <a href="https://thediplomat.com/2020/04/in-milk-tea-we-trust-how-a-thai-chinese-meme-war-led-to-a-new-online-pan-asia-alliance/">#nnevy</a>, when Thai Twitter users <a href="https://www.vice.com/en_asia/article/xgqjkw/twitter-war-thailand-china-nationalism-trolls-memes?utm_campaign=sharebutton">sparked a war</a> against Chinese nationalist trolls and created “a new pan-Asian solidarity”. This happened after Chinese fans of Thai actor, Vachirawit Chivaaree, or “Bright” from the 2gether the Series, retweeted a tweet that called Hong Kong a “country.” Thai Twitter users retaliated against the online attacks on Chivaaree. Soon after, Twitter users from Hong Kong and Taiwan also defended the actor and the tweet, which led to the popular hashtags <a href="https://www.telegraph.co.uk/news/2020/05/03/milkteaalliance-new-asian-youth-movement-battles-chinese-trolls/">#MilkTeaAlliance</a> and a Thai equivalent that translates to #MilkTeaIsThickerThanBlood. <a href="https://www.reuters.com/article/us-thailand-china-internet/insta-star-wars-china-tensions-in-southeast-asia-flare-online-idUSKCN21W11P">Reuters</a> called this hashtag incident as an alliance between the pro-democracy camps against the pro-China cyber fighters. Even <a href="https://twitter.com/joshuawongcf/status/1249254158538072064">Joshua Wong</a>, the Hong Kong pro-democracy activist, posted a photo of the actor with a message that Hong Kong was standing with the Thais who loved liberty and standing against the persecution by China. He even hoped for the building of an Asian alliance against dictatorship.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">“For the young generation, China has an image of a profit seeker with a large population as a weapon. It is a very economy-focused image, so it is not appealing to the young,” Netiwit said.<a href="https://twitter.com/hashtag/MilkTeaAlliance?src=hash&amp;ref_src=twsrc%5Etfw">#MilkTeaAlliance</a> <a href="https://t.co/32oXLzbXq8">https://t.co/32oXLzbXq8</a></p>&mdash; Netiwit Chotiphatphaisal (@NetiwitC) <a href="https://twitter.com/NetiwitC/status/1272107823237746688?ref_src=twsrc%5Etfw">June 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the pandemic, together with the authority of the emergency decree, activities are restricted, and the student protests are postponed. <a href="https://www.facebook.com/studentunion.thailand/">The Student Union of Thailand</a> then came up with an online campaign to “<a href="https://thaienews.blogspot.com/2020/04/workfromhome-mobfromhome-mobfromhome.html">protest from home</a>” by sharing photos or placards commenting on the government’s administration, with the hashtag <a href="https://twitter.com/hashtag/mobfromhome">#MobFromHome</a>. And the hashtag topped the Twitter trend in Thailand. Recent twitter hashtags have also been employed to express sensitive political opinions. As a result, sensitive political issues have become something publicly discussed on Twitter. Hashtags, therefore, have become a form of collective action.</p>
<p>Apart from using hashtags, pro-democracy activists online have also adapted a strategy called “bombardment”, or “<a href="https://twitter.com/hashtag/%E0%B8%97%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B9%8C%E0%B8%A5%E0%B8%87">ทัวร์ลง</a>”, in which a user asks other users to collectively criticise a problematic post. In Thailand, this kind of online public mobilisation has been used against <a href="https://www.tlhr2014.com/?p=16303&amp;lang=en">the government’s Information Operation (IO)</a> that continue to monitor dissidents and critics.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1920" src="wp-content/uploads/2020/06/Thai-Protest-2-scaled.jpeg" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
			<figcaption class="vc_figure-caption">Students gathered at a pro-democracy rally against at Srinakharinwirot University in Bangkok on February 26, 2020. Photo by Chonthicha Jangrew.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Achieving ‘critical mass’ on alternative online platforms</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Twitter, as previously mentioned, was the platform of choice for critics of the current regime to voice out their dissent. But on May 13, 2020, the official Thailand Twitter account<span lang="en-US"> <a href="https://twitter.com/TwitterThailand/status/1260382447386021888?s=20">@TwitterThailand</a> was created with tweeting its first message, “Sawasdee khrap, Thailand” (Hello, Thailand!). On May 19, Twitter announced <a href="https://privacy.twitter.com/en/blog/2020/update_terms_and_privacy_policy">the update of its privacy policy</a> to share users’ activities and IP addresses with “partners” to enhance its targeted advertisement.</span></p>
<p>Following these updates, <a href="https://twitter.com/search?q=%23NoTwitterThailand%20&amp;src=typed_query">#NoTwitterThailand</a> topped the country’s trending page because Thais saw this as part of the government’s surveillance and the restriction of freedom of expression online. More users also began to doubt the security and privacy of the platform after <a href="https://twitter.com/BeePunnakanta/status/1227457580299096064?s=20">Buddhipongse Punnakanta</a>, the Minister of Digital Economy and Society tweeted about his recent discussion with Singapore&#8217;s Twitter executive on fake and violent news.</p>
<p>Aside from the trending hashtag, Thai Twitter users also encouraged others to stop using Twitter and move to “<a href="https://www.thaienquirer.com/13354/thai-netizens-flock-to-alternative-social-media-platform-following-the-creation-of-twitters-official-thailand-account/">alternative platforms</a>” that are open-source and decentralised. One popular alternative platform is “Minds”, especially after a co-founder of Thai Netizen, <a href="https://twitter.com/Fringer/status/1263260715474808833?s=20">Sarinee Achavanuntakul</a> tweeted, “Say goodbye to Twitter and meet at Minds<span lang="en-US">.” <a href="https://www.minds.com/newsfeed/1111398298334855168">Minds</a> has also already installed the Thai language to accommodate Thai users.</span></p>
<p>This newer distrust of Twitter also poses open questions for the future and effectivity of online activism. Will enough Thai users flock to social media alternatives to reach critical mass, and therefore enact concrete social change? How do we continue to talk about diverse issues in online social movements? And, how do we transform awareness into the change we dream to see?</p>
<p>There are no easy answers to these questions. But in the case of Thailand, we have and continue to witness “youthquake” and increased political awareness among Thai students, seen as the new hope for political change. We also continue to witness how the open spaces online have led to more critical discourse against the government – and even more people who have changed their minds after seeing how the government has treated disinformation during the pandemic. What happens next, however, is up to us, the new generation, to determine.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Chonthicha Jangrew (Lookkate) is a co-founder of the Democracy Restoration Group (DRG), a Thai pro-democracy and human rights activist. She has been advocating for freedom of expression and freedom of public assembly in Thailand since the 2014 coup. </em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-covid/">Thai student protesters in the time of COVID-19: New generation, new forms of resistance online</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-student-online-activism-covid/feed/</wfw:commentRss>
			<slash:comments>8</slash:comments>
		
		
			</item>
	</channel>
</rss>
