<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Why Do We Need A Digital Rights Movement in Southeast Asia?	</title>
	<atom:link href="https://coconet.social/2019/why-digital-rights-southeast-asia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2019/why-digital-rights-southeast-asia/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 01 May 2020 06:39:44 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Coconet II Public Report: Growing the digital rights movement		</title>
		<link>https://coconet.social/2019/why-digital-rights-southeast-asia/#comment-29</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet II Public Report: Growing the digital rights movement]]></dc:creator>
		<pubDate>Fri, 01 May 2020 06:39:44 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=674#comment-29</guid>

					<description><![CDATA[[&#8230;] Why do we need a digital rights movement in Southeast Asia? [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Why do we need a digital rights movement in Southeast Asia? [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Coconet Digital Rights		</title>
		<link>https://coconet.social/2019/why-digital-rights-southeast-asia/#comment-28</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet Digital Rights]]></dc:creator>
		<pubDate>Fri, 01 May 2020 06:39:14 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=674#comment-28</guid>

					<description><![CDATA[[&#8230;] Why do we need a digital rights movement in Southeast Asia? [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Why do we need a digital rights movement in Southeast Asia? [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
