<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Huey Shin Choo &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/hueyshin/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 18 Aug 2020 09:06:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Huey Shin Choo &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Finas Act must be reformed to protect freedom of expression</title>
		<link>https://coconet.social/2020/malaysia-finas-act-freedom-expression/</link>
					<comments>https://coconet.social/2020/malaysia-finas-act-freedom-expression/#respond</comments>
		
		<dc:creator><![CDATA[Huey Shin Choo]]></dc:creator>
		<pubDate>Thu, 13 Aug 2020 00:00:37 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2220</guid>

					<description><![CDATA[<p>We appeal to Finas to stay true to its role of “uplifting, nurturing and facilitating” the development of the Malaysian film industry, as stated in Section 6 (1) of the Finas Act, and not function against the interest of filmmakers. If Finas enforces regulations under the law to censor and penalise filmmakers, it will go against its own objective and purpose.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/malaysia-finas-act-freedom-expression/">Statement: Finas Act must be reformed to protect freedom of expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>The following statement is a republication of the June 27, 2020, statement by Malaysian civil society organisations (namely the <a href="https://freedomfilm.my/">Freedom Film Network</a> and the <a href="https://cijmalaysia.net/">Centre for Independent Journalism</a>) on why the National Film Development Corporation Malaysia Act 1981 (also known as the <a href="http://www.agc.gov.my/agcportal/uploads/files/Publications/LOM/EN/Act%20244%20-%20Perbadanan%20Kemajuan%20Filem%20Nasional%20Malaysia%20Act%201981.pdf">Finas Act</a>) must urgently be reformed to protect the rights to freedom of opinion and expression in the country.</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style=""></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">Finas Act must be reformed to protect freedom of expression</h3>
<h4 style="text-align: center;">24 July 2020</h4>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We, the undersigned organisations and individuals, welcome Communication and Multimedia Minister Saifuddin Abdullah’s <a href="https://twitter.com/bernamadotcom/status/1286265813503115265?s=20">pledge</a> that the government will not be using the National Film Development Corporation Malaysia Act 1981 (Finas Act or Akta 244) to infringe on personal freedom on social media. This comes after his shocking <a href="https://www.malaysiakini.com/news/535700">statement</a> in Parliament yesterday that all film production in Malaysia, be it by mainstream media broadcasting or personal social media, must have a filming license.</p>
<p>The minister has since <a href="https://twitter.com/saifuddinabd/status/1286549684547289088?s=20">affirmed</a> that social media users will be free to produce and upload videos online without needing a license or being in fear of prosecution from the National Film Development Corporation Malaysia (Finas), the central government authority for the development of the local film industry. He iterated that there is a need for many of the laws under the purview of his ministry, including the Finas Act, to be reviewed and updated. He has also pledged to amend the Finas Act to keep with the times.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In that spirit, we would like to highlight some pertinent issues and related suggestions:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><strong>1. The licensing jurisdiction in the Finas Act needs to be clearly defined.</strong></em> Currently, the law could be interpreted to cover all forms of “film productions”; its definition of “films” includes feature films, short films, trailers, documentaries, moving images, films that have sound or do not and films that are meant for public viewing or otherwise. It is also silent on platforms so it could cover cinema, digital, public or private film production and screening. This means that “film production” could technically refer to a home-made video shot on a handphone to a multi-million ringgit movie production for cinema screening. The definition of “film production” will have to be amended and clearly defined to prevent the risk of the Finas Act being used arbitrarily depending on the “intentions” of the government.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Spotlight on Al Jazeera’s ‘filming licence’ may open a Pandora’s Box <a href="https://t.co/ftwqASzYAy">https://t.co/ftwqASzYAy</a> <a href="https://t.co/yIgCjs8r6a">pic.twitter.com/yIgCjs8r6a</a></p>&mdash; malaysiakini.com (@malaysiakini) <a href="https://twitter.com/malaysiakini/status/1285548468979687424?ref_src=twsrc%5Etfw">July 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><strong>2. There needs to be a clear justification of the purpose of licensing</strong></em> – for instance, for collecting data, planning or filmmaker funding purposes. These requirements should also be matched and limited to stated needs. The Finas Act’s current requirement for companies to have at least RM50,000 paid-up capital in order to qualify for a film or video production license has long caused anxiety and dissatisfaction among young and independent filmmakers making non-commercial films who do not have the financial requirements. This requirement will have to be removed from the law. Otherwise, it will result in a drop in the number and quality of films, including documentaries, and severely impact the growth of the film industry in Malaysia.</p>
<p><em><strong>3. News production companies such as Al Jazeera should not fall under the purview of the Finas Act if they are already accredited as media by the Information Department.</strong></em> It is also noteworthy that any decision on the case of the Al Jazeera “Locked Up In Malaysia’s Lockdown” documentary will act as a precedent and has the potential for misuse as it could be used arbitrarily on any production, including those screened online, as long as it is deemed as questioning or being critical of the State. Furthermore, it has the potential to create a climate of fear and censorship among filmmakers and drive away international production and film companies from investing and setting up operations in Malaysia.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">JUST IN: Minister Datuk <a href="https://twitter.com/saifuddinabd?ref_src=twsrc%5Etfw">@saifuddinabd</a> clarifies that the ministry has no intention of suppressing one’s freedom on social media. He notes that Finas Act 1981 needs improvement and that the ministry is open for suggestions. <a href="https://t.co/S7IkR2yeR5">pic.twitter.com/S7IkR2yeR5</a></p>&mdash; TheMalaysianReserve (@TMReserve) <a href="https://twitter.com/TMReserve/status/1286255605728960513?ref_src=twsrc%5Etfw">July 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><strong>4. The licensing of films by Finas must not be used as a form of control and censorship.</strong></em> The recent reported remark by Zakaria Abdul Hamid, the chairperson of Finas, that all video recordings must have a license from his agency to ensure said video recordings do not “incite unrest or cause a public nuisance” is very telling of how Finas perceives its role. This is also clearly indicative of: (i) an overlap of roles between Finas, the Malaysian Communications and Multimedia Commission and the Film Censorship Board; (ii) a breach of the covenant of industry self-regulation under the Communications and Multimedia Act, and; (iii) a double layer of censorship and film content control.</p>
<p>We appeal to Finas to stay true to its role of “uplifting, nurturing and facilitating” the development of the Malaysian film industry, as stated in Section 6 (1) of the Finas Act, and not function against the interest of filmmakers. If Finas enforces regulations under the law to censor and penalise filmmakers, it will go against its own objective and purpose. It is imperative that Finas not allow itself to be used as a tool by the current regime to silence dissent and target media companies like Al Jazeera simply because their documentary places the State in an unfavourable light.</p>
<p>On the other hand, the Communications and Multimedia Minister must immediately uphold his pledge to amend the Finas Act to protect freedom of expression and media freedom. As key and invested stakeholders and allies, we are willing to engage in a dialogue with the minister in order to seek a sustainable roadmap to align our laws to protect the right of freedom of expression and public interest.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>Issued by the Centre for Independent Journalism (CIJ) and Freedom Film Network (FFN)</strong></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Endorsed by the following organisations:</p>
<ol>
<li>EMPOWER Malaysia</li>
<li>Gerakan Media Merdeka (Geramm)</li>
<li>Global Bersih</li>
<li>ENGAGE</li>
<li>Engage Media</li>
<li>Justice for Sisters</li>
<li>Komuniti Filem Titiwangsa (Komfit)</li>
<li>KRYSS Network</li>
<li>Malaysian Documentary Association (MYDOCS)</li>
<li>North-South Initiative (NSI)</li>
<li>Our Journey</li>
<li>Pangrok Sulap</li>
<li>Persatuan Sahabat Wanita Selangor (PSWS)</li>
<li>Pusat Komas</li>
<li>ReformARTsi (An arts coalition comprising 117 members, of which 55 are from art groups or companies)</li>
<li>Sabah Reform Initiative (SARI)</li>
<li>Sisters in Islam (SIS)</li>
<li>SUARA Community Filmmaking</li>
<li>Taskforce Against Kaiduan Dam (TaKaD)</li>
<li>The Instant Cafe Theatre Company</li>
</ol>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Endorsed by the following individuals:</p>
<ol>
<li>Amir Muhammad [Kuman Pictures Sdn Bhd]</li>
<li>Azmyl Yunor [Artist and academician]</li>
<li>Bea Tanaka [Producer]</li>
<li>Hariati Azizan [Journalist]</li>
<li>Iskander Azizuddin [Feisk Productions]</li>
<li>Jerome Kugan</li>
<li>Loo Hong Chuang [Academician]</li>
<li>Nadira Ilana [Telan Bulan Films]</li>
<li>Nandhita Solomon [Creative producer]</li>
<li>Susan Lankester [Actor, producer and director, BWC Pictures]</li>
<li>Yow Chong Lee [Filmmaker and academician]</li>
</ol>

		</div> 
	</div> </div></div></div></div></div></div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author/s</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Huey Shin is a member of the Freedom Film Network in Malaysia. For media inquiries regarding the statement, contact Vinodh Pillai at media_comms@cijmalaysia.net.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/malaysia-finas-act-freedom-expression/">Statement: Finas Act must be reformed to protect freedom of expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/malaysia-finas-act-freedom-expression/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
