<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Blog &#8211; Coconet</title>
	<atom:link href="https://coconet.social/category/blog/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:13 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Blog &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</title>
		<link>https://coconet.social/2021/statement-indonesia-mr5/</link>
					<comments>https://coconet.social/2021/statement-indonesia-mr5/#respond</comments>
		
		<dc:creator><![CDATA[Rezwan Islam]]></dc:creator>
		<pubDate>Fri, 11 Jun 2021 07:00:15 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Internet Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=6136</guid>

					<description><![CDATA[<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a statement calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<figure><a href="https://pixabay.com/photos/map-atlas-land-geography-3798132/"><br />
<img src="http://coconet.social/wp-content/uploads/2021/06/image1-1024x683.jpg" sizes="(max-width: 1024px) 100vw, 1024px" alt="" width="1024" height="683" /> </a><figcaption>Image by Michael Gaida from Pixabay. Used under a Pixabay License.</figcaption></figure>
<p>&nbsp;</p>
<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a <a href="https://www.accessnow.org/indonesia-intermediary-liabilities/">statement</a> calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The <a href="https://www.hrw.org/news/2021/05/21/indonesia-suspend-revise-new-internet-regulation">law</a> requires private electronic systems operators (ESOs), which include social media platforms like Facebook, Twitter, and TikTok, to monitor and remove “prohibited content”, as flagged by the Indonesian government. ESOs must also be registered in Indonesia. Failure to <a href="https://www.ifj.org/media-centre/news/detail/category/press-releases/article/indonesia-global-media-organisations-condemn-government-internet-regulation.html">acquire a license</a> from the ministry by December 2021 will lead to the platform being blocked in the country.</p>
<p>“This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship”, the statement reads. The law, which came into effect on December 2 last year with little consultation, is also not clear about what constitutes prohibited content.</p>
<p>Read the full statement below:</p>
<p>&nbsp;</p>
<blockquote><p>May 28, 2021</p>
<p><strong>Dear H.E. Johnny G. Plate,<br />
</strong><strong>Minister of Communication and Information Technology<br />
</strong><strong>Ministry of Communication and Information Technology, Indonesia</strong></p>
<p>We, the undersigned, urge you to repeal Ministerial Regulation 5/2020 (MR5) that is deeply problematic, granting government authorities overly broad powers to regulate online content, access user data, and penalize companies that fail to comply.</p>
<p>MR5 governs all private “electronic systems operators” that are accessible in Indonesia, broadly defined to include social media and other content-sharing platforms, digital marketplaces, search engines, financial services, data processing services, and communications services providing messaging, video calls, or games. This new regulation will affect national and regional digital services and platforms, as well as multinational companies like Google, Facebook, Twitter, and TikTok.</p>
<p>These companies are required to “ensure” that their platform does not contain or facilitate the distribution of “prohibited content”, which implies that they have an obligation to monitor content. Failure to do so can lead to blocking of the entire platform. This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship.</p>
<p>The regulation’s definition of prohibited content is extremely broad, including not only content in violation of Indonesia’s already overly broad laws restricting speech, but also any material “causing public unrest or public disorder” or information on how to provide access to, or actually providing access to, prohibited material. The latter includes Virtual Private Networks (VPNs), which allow a user to access blocked content and are routinely used by businesses and individuals to ensure privacy for lawful activities.</p>
<p>For “urgent” requests, MR5 requires the company to take down content within four hours. For all other prohibited content, they must do so within 24 hours of being notified by the Ministry. If they fail to do so, regulators can block the service or, in the case of service providers that facilitate user-generated content, impose substantial fines.</p>
<p>MR5 obliges every “Private Electronic System Operator” (Private ESO) to register and obtain an ID certificate issued by the Ministry before people in Indonesia start accessing its services or content.</p>
<p>Previously, registration must take place by May 24th, 2021, but later was postponed, based on a press conference held by Samuel Pangerapan as General Director APTIKA (Directorate of Application and Informatics) of Indonesia MICT, to 6 months until the Single Sign-On (SSO) is ready to be implemented.</p>
<p>Under MR5, Kominfo will sanction non-registrants by blocking their services. Those Private ESOs who decide to register must provide information granting access to their “system” and data to ensure effectiveness in the “monitoring and law enforcement process”. If a registered Private ESO disobeyed the MR5 requirements, for example, by failing to provide “direct access” to their systems (Article 7 (c)), it can be punished in various ways, ranging from a first warning, to temporary blocking, to full blocking and a final revocation of its registration.</p>
<p>Based on our analysis, MR5 does not comply with standards, legal theory or principles, but also does not uphold freedom of expression and other human rights.</p>
<p>The substance of MR5 includes the regulation of digital rights, including restrictions. Considering the right to privacy, it is clear that MR5 exceeds the limits given in Law 12/2011, because it is limited to the framework of “administering certain functions in the government”.  MR5 therefore has the potential to violate freedom of expression and other human rights.</p>
<p>The provisions in MR5 are potentially contrary to Article 12 of the Universal Declaration of Human Rights (UDHR) and Article 17 of the International Covenant on Civil and Political Rights (ICCPR), especially the provisions enabling authorities to obtain personal data from Private ESOs. These concerns are compounded by the absence of independent supervision in obtaining access to personal data, and the fact that in practice, personal data is often misused, especially by law enforcement officials.</p>
<p>The three-part test has not been strictly regulated in the legal mechanism in MR5, so practically, this arrangement opens up space for violations of human rights, particularly the right to privacy.</p>
<p>In MR5, the term “Access Termination”, interpreted as meaning both blocking access to the internet and takedown of an account or a social media post, is used 65 times. This has the potential to limit rights and freedoms, and is very likely to interfere with the interests of Private ESOs. Further, the standard of limitation for the termination of access to the internet is not clearly stipulated within MR5, leaving the powers to terminate access open to abuse and disproportionate application. The failure to include an adequate complaints mechanism further compounds concerns that termination of access will be utilised by authorities arbitrarily and excessively.</p>
<p>The phrase “prohibited” in Article 9 paragraphs (3) and (4) actually has a very wide range and its interpretation opens up space for debate, especially if there is a conflict of interest of State Institutions or law enforcement officials. For example, what is meant by “public disturbance”, what is the standard or measure, who has the authority to determine it, and what if the public feels that it is not part of what is called “disturbing the society”?</p>
<p>With regard to Chapter IV, Article 14, regarding requests for termination of access, it is necessary to consider the restriction standards stipulated in Article 19 paragraph (3) of the ICCPR, including considerations of the Human Rights Committee’s General Comment No. 34.</p>
<p>MR5 requires Private ESOs, including social media platforms and other online-based service providers to comply with domestic jurisdiction, both for content and the use of content in daily practice. The legal framework for such obligations weakens the protection of all social media platforms, applications, and other online service providers, especially to accept domestic jurisdiction over user data content and policies and practices. Such a legal framework becomes a repressive instrument that would contradict or even violate human rights.</p>
<p>We call on you to immediately repeal MR5.</p>
<p>Regards,</p>
<p>Access Now (International)</p>
<p>Amnesty International Indonesia (Indonesia)</p>
<p>Alliance of Independent Journalists (Indonesia)</p>
<p>ARTICLE 19</p>
<p>Digital Reach (Thailand)</p>
<p>Electronic Frontier Foundation (International)</p>
<p>EngageMedia (Australia)</p>
<p>ELSAM (Indonesia)</p>
<p>Free Expression Myanmar (Myanmar)</p>
<p>Foundation for Media Alternatives (Philippines)</p>
<p>Greenpeace Indonesia (Indonesia)</p>
<p>Human Rights Watch (International)</p>
<p>Indonesia Corruption Watch (Indonesia)</p>
<p>Indonesia Legal Aid Foundation (Indonesia)</p>
<p>Institute for Criminal Justice Reform (Indonesia)</p>
<p>Komite Perlindungan Jurnalis dan Kebebasan Berekspresi (Indonesia)</p>
<p>LBH Jakarta (Indonesia)</p>
<p>LBH Pers Jakarta (Indonesia)</p>
<p>Manushya Foundation (Thailand)</p>
<p>Open Net Association (South Korea)</p>
<p>Oxen Privacy Tech Foundation (OPTF) (Australia)</p>
<p>Perkumpulan Lintas Feminis Jakarta (Indonesia)</p>
<p>Southeast Asia Freedom of Expression Network (SAFEnet) (Indonesia)</p>
<p>TAPOL (United Kingdom)</p>
<p>Unit Kajian Gender dan Seksualitas LPPSP FISIP UI (Indonesia)</p></blockquote>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/statement-indonesia-mr5/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>An Indonesian Guide to Choosing a Privacy-oriented Messaging App</title>
		<link>https://coconet.social/2021/indonesia-privacy-conversation-app/</link>
					<comments>https://coconet.social/2021/indonesia-privacy-conversation-app/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Thu, 20 May 2021 10:52:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Messaging Apps]]></category>
		<category><![CDATA[Privacy]]></category>
		<category><![CDATA[WhatsApp]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5849</guid>

					<description><![CDATA[<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. To help Indonesians better understand which messaging apps protect their users the most, Coconet member Southeast Asia Freedom of Expression Network (SAFEnet) has published a “Guide to Choosing a Privacy-Protecting Conversation App”.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="mceTemp"></div>
<div id="attachment_5860" style="width: 761px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-5860" class="wp-image-5860 size-large" src="wp-content/uploads/2021/05/SAFEnet-751x1024.jpeg" alt="" width="751" height="1024" sizes="(max-width: 751px) 100vw, 751px" /><p id="caption-attachment-5860" class="wp-caption-text">Graphic from SAFEnet, reposted with permission.</p></div>
<p>&nbsp;</p>
<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. Facebook, for example, is implementing changes that will force the users of WhatsApp, one of the most widely used messaging apps, to accept its new controversial privacy policy that will allow the harvesting of users&#8217; metadata for marketing purposes.</p>
<p>Speaking up against the implementation of this policy are 28 organisations from around the world, among them Coconet members Southeast Asia Freedom of Expression Network (<a href="https://safenet.or.id/">SAFEnet</a>), <a href="https://fma.ph/">Foundation for Media Alternatives</a>, and EngageMedia. The campaign also involves the urging of authorities to defend the rights of WhatsApp users. For additional reading, we also recommend checking out <a href="https://engagemedia.us1.list-manage.com/track/click?u=d9dee6898a6443ce6f94eb51a&amp;id=8515fb102b&amp;e=7e3eca7af8">this article from Session</a> discussing the app&#8217;s new privacy policy and why you should &#8220;steer clear&#8221; of the app if privacy is a concern for you.</p>
<p>Even before the start of the campaign, SAFEnet had already published a “<a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">Guide to Choosing a Privacy-Protecting Conversation App</a>” to help Indonesians better understand which messaging apps protect their users the most.</p>
<p>The guide ranks the apps, from WhatsApp to Signal, using seven ideal criteria a safe communication app should have. For an app to claim that it is secure, it must be:</p>
<ol>
<li>Freedom from dependence on large technology companies</li>
<li>Fully encrypted (E2EE)</li>
<li>Multi-platform support</li>
<li>Multi-mode communication (voice, text, video, and more)</li>
<li>Additional features that help users.</li>
</ol>
<p>Download the full guide in Bahasa Indonesia from <a href="https://coconet.social/wp-content/uploads/2021/05/Modul-SAFENet-versi-ebook-final.pdf">here</a>. Read the article in Bahasa Indonesia <a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">here</a>.</p>
<p>&nbsp;</p>
<p><em>Ellen Kusuma is a member of SAFEnet’s Security and Safety Division.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/indonesia-privacy-conversation-app/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>The State of the Philippine Digital Nation</title>
		<link>https://coconet.social/2021/philippines-digital-nation/</link>
					<comments>https://coconet.social/2021/philippines-digital-nation/#respond</comments>
		
		<dc:creator><![CDATA[Rezwan Islam]]></dc:creator>
		<pubDate>Fri, 16 Apr 2021 02:33:50 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Nation]]></category>
		<category><![CDATA[Philippines]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5493</guid>

					<description><![CDATA[<p>The Foundation for Media Alternatives, a Coconet community member, has published a new report, “State of the Digital Nation: The Digital Rights Report 2020”, that documents how human rights were impacted by technology and digital innovations in the country. The report is based on findings from January to December 2020.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/philippines-digital-nation/">The State of the Philippine Digital Nation</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><img class="aligncenter size-large wp-image-5494" src="wp-content/uploads/2021/04/State-of-the-digital-nation-1024x719.jpg" alt="State of the Digital Nation: The Digital Rights Report 2020" width="1024" height="719" sizes="(max-width: 1024px) 100vw, 1024px" /></p>
<p>&nbsp;</p>
<p>In the Philippines, activists, students, journalists, and independent media who criticise the government have been increasingly targeted by threats to their human and digital rights.</p>
<p>The Foundation for Media Alternatives, a Coconet community member, has published a new report, “<a href="https://fma.ph/2021/03/31/state-of-the-digital-nation-the-digital-rights-report-2020/">State of the Digital Nation: The Digital Rights Report 2020</a>”, that documents how human rights were impacted by technology and digital innovations in the country. The report is based on findings from January to December 2020.</p>
<p>One of the findings of the report is the &#8220;twin pandemic&#8221;, where the rise of the &#8220;<a href="https://coconet.social/2020/covid-infodemic-asia-pacific/">infodemic</a>&#8220;, or mis- and disinformation about the virus, spreads faster than the virus itself. The Philippine government also censored social media posts critical of its pandemic response.</p>
<p>Other digital rights challenges last year were digital and social media surveillance under the guise of health, the increase of phishing and hacking, and the infringement of minor’s privacy due to the switch to online learning.</p>
<p>The report is divided into the following key thematic areas:</p>
<ul>
<li>Internet Access</li>
<li>Gender and Information and Communications Technologies</li>
<li>Privacy and Data Protection</li>
<li>Freedom of Expression</li>
</ul>
<p>The report also provides a forecast of emerging events and challenges due to technology in 2021.</p>
<p>Download the full report <a href="https://drive.google.com/drive/folders/118xPXx6xtSG7ygPBzYuLshpYx1zSCv-O?usp=sharing">here</a>.</p>
<p>&nbsp;</p>
<p><em>The <a href="https://fma.ph/">Foundation for Media Alternatives</a> assists citizens and communities, especially civil society organisations and other disadvantaged sectors, in the strategic and appropriate use of information and communications technologies for democratisation and popular empowerment.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/philippines-digital-nation/">The State of the Philippine Digital Nation</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/philippines-digital-nation/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>#JournalismIsNotACrime: Stand with New Naratif against harassment of independent journalists</title>
		<link>https://coconet.social/2021/singapore-new-naratif/</link>
					<comments>https://coconet.social/2021/singapore-new-naratif/#respond</comments>
		
		<dc:creator><![CDATA[New Naratif]]></dc:creator>
		<pubDate>Tue, 09 Mar 2021 02:38:38 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<category><![CDATA[Singapore]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5091</guid>

					<description><![CDATA[<p>Since July 2020, the independent news organisation New Naratif has been under attack by the Singaporean government in for allegedly breaking the Parliamentary Elections Act by boosting elections-related Facebook posts containing during the previous Singaporean election. New Naratif has stated that, "the Prime Minister’s Office is abusing the law to attack us as part of a long-standing campaign of intimidation and harassment".</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/singapore-new-naratif/">#JournalismIsNotACrime: Stand with New Naratif against harassment of independent journalists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_5142" style="width: 570px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-5142" class="size-medium wp-image-5142" src="wp-content/uploads/2021/03/NewNaratif_ImWithPJThum_Poster-560x700.jpg" alt="New Naratif" width="560" height="700" sizes="(max-width: 560px) 100vw, 560px" /><p id="caption-attachment-5142" class="wp-caption-text">Poster and featured image by New Naratif.</p></div>
<p>&nbsp;</p>
<p><em>Since July 2020, the independent news organisation <a href="https://newnaratif.com/new-naratif-under-attack/">New Naratif</a> has been under attack by the Singaporean government in for allegedly breaking the Parliamentary Elections Act by boosting elections-related Facebook posts containing during the previous Singaporean election. New Naratif has stated that, &#8220;the Prime Minister’s Office is abusing the law to attack us as part of a long-standing campaign of intimidation and harassment&#8221;.<br />
</em></p>
<p><em>Dr. Thum Ping Tjin, New Naratif founder and managing director, has been detained twice by the police related to this case: the first time on September 21 last year and the second just this March 5. His laptop was confiscated after the first round of questioning, and the government has yet to return it.</em></p>
<p><em>For more information on the case against New Naratif, you can check out their <a href="https://newnaratif.com/new-naratif-under-attack/">website page</a> detailing the timeline of events and its defence against the Singapore government&#8217;s claims. You can also follow New Naratif on their <a href="https://twitter.com/NewNaratif/status/1367661940072325122">social media accounts</a> for more timely updates.</em></p>
<p><em>Additionally, Coconet.social is republishing the statement by international civil society organisations demanding that the government drop the charges against New Naratif. The statement was first published on October 2, 2020. (<a href="https://www.forum-asia.org/?p=33070">Access the original statement here</a>.)</em></p>
<p>&nbsp;</p>
<p style="text-align: center;"><img class="alignnone size-medium wp-image-5089" src="wp-content/uploads/2021/03/New-Naratif-Joint-Statement-logos-750x372-1-700x347.png" alt="" width="700" height="347" sizes="(max-width: 700px) 100vw, 700px" /></p>
<h3 style="text-align: center;"><strong>[Joint Statement] </strong>Singapore: Drop police report against independent media outlet New Naratif</h3>
<p>We, the undersigned civil society organizations, urge the government of Singapore to order the Elections Department (ELD) to immediately withdraw its police report against <em>New Naratif,</em> and to cease abusing the law to harass critical voices and independent journalists.</p>
<p>On 18 September 2020, Singapore’s Elections Department released a <u><a href="https://www.eld.gov.sg/press/2020/Press_Release_-_Police_reports_filed_against_New_Naratif_for_breach_of_Parliamentary_Elections_Act.pdf">press statement</a></u> in which it stated that it had filed a police report against the independent online media outlet <em>New Naratif</em> for “<em>illegal conduct of election activity</em>” for alleged publication of five paid advertisements on the social media platform Facebook, without the written authorization of a candidate or his election agent during the General Election of July 2020.</p>
<p>On 18 September, PJ Thum, <em>New Naratif’s </em>Founder and Managing Director, was notified that he would need to report to the police for questioning, and on 21 September he reported to Clementi Police Station, where he was subjected to questioning for four and a half hours. The police also accompanied him to his home and seized his laptop.</p>
<p>While the Elections Department’s statement does not specify which Facebook posts were allegedly illegally advertised, on 3 July it issued a <u><a href="https://www.eld.gov.sg/press/2020/Press_Release_-_Notice_to_Facebook_to_remove_unauthorised_paid_Internet_Election_Advertising_on_New_Naratif.pdf">statement</a></u> in which it directed Facebook to “<em>remove unauthorised paid Internet Election Advertising</em>.” Following the statement, <em>New Naratif</em> received pro-forma emails from Facebook stating that the following posts did not comply with their advertising policy:</p>
<ul>
<li>a <u><a href="https://www.facebook.com/newnaratif/posts/944255919336359%5C">satirical video</a></u> advertizing a perfume called “<em>Discretion</em>” to denounce the abuse of broadly-worded laws by Singapore’s Prime Minister;</li>
<li>a post <u><a href="https://www.facebook.com/newnaratif/photos/a.351508441944446/943937976034820/">compiling articles</a></u> critical of the ruling People’s Action Party;</li>
<li><u><a href="https://www.facebook.com/newnaratif/photos/a.351508441944446/943156669446284/">a post compiling articles</a></u> about the lack of transparency and accountability in Singapore’s government;</li>
<li>a <u><a href="https://www.facebook.com/watch/?v=272197617442745">video</a></u> explaining how the use of the Protection from Online Falsehoods and Manipulation Act (POFMA) can “<em>have devastating consequences</em>” in times of elections; and</li>
<li>a <u><a href="https://www.facebook.com/newnaratif/photos/a.351508441944446/945943609167590/?type=1&amp;theater">post</a></u> compiling articles about racial discrimination in Singapore.</li>
</ul>
<p>The posts remain online but according to <em>New Naratif</em> they did not re-boost them.</p>
<p>Under Section 83(2) of Singapore’s <u><a href="https://sso.agc.gov.sg/Act/PEA1954">Parliamentary Elections Act</a></u> (PEA), the conduct of any election activity requires prior written authority signed by a candidate or his election agent. Section 83(8) stipulates that “<em>election activity</em>” includes any activity “<em>which is done for the purpose of promoting or procuring the electoral success at any election for one or more identifiable political parties, candidates or groups of candidates; or prejudicing the electoral prospects of other political parties, candidates or groups of candidates at the election</em>.” Any person convicted of such offence may be liable to a fine of up to $2,000 and/or imprisonment for up to 12 months.</p>
<p>Under this provision the scope of what can amount to election activity is extremely broad. Virtually any act of information dissemination or awareness-raising relating to key issues of public interest conducted in the lead-up to or during an election can fall under the overbroad scope of “<em>promoting electoral success</em>” or “<em>prejudicing electoral prospects,</em>” and must therefore receive prior written authorization. The provision is so vague that it does not allow for individuals to be able to adequately predict what activity could fall foul of the law, while allowing the Elections Department to control, censor and potentially criminalize any political speech and discussion during the election period.</p>
<p>According to international human rights law, all restrictions on freedom of expression should be provided for by clear, detailed and well-defined laws; be imposed to serve a legitimate aim, namely to protect the rights and reputation of others, national security, public order, public health or public morals; and restrictions must be both necessary and proportionate to achieve the defined legitimate aim. The PEA does not meet these requirements.</p>
<p>The right to freedom of expression is crucial during elections, which should be guaranteed including through free media, freedom to discuss and debate public affairs, the right to hold peaceful assemblies and freedom of association, and to promulgate, receive and engage in a plurality of  political ideas and viewpoints through free, balanced and fair election campaigning and advertising.</p>
<p>Particularly within the context of Singapore, where the election campaign period often lasts only for days or a couple of weeks this provision allows for censuring of independent media outlets crucial to facilitate information and dialogue on key issues of public interest within a narrow period during which it is most pertinent to people in Singapore prior to the casting of their votes</p>
<p>Furthermore, the law is particularly problematic as the <u><a href="https://aseanmp.org/wp-content/uploads/2020/06/APHR_Briefer_SingaporeElections_2020-06-16-1.pdf">Elections Department is not an independent body </a></u>but is part of the Prime Minister’s Office. This allows for discriminate advantage to be given by the ELD, which answers to the Prime Minister, to information, expression and opinions expressed in line with or favourable to the ruling party, rather than politically opposing viewpoints.</p>
<p>Our organizations are further concerned that the latest police report and police summons received by <em>New Naratif</em> follow a <u><a href="https://www.hrw.org/report/2017/12/12/kill-chicken-scare-monkeys/suppression-free-expression-and-assembly-singapore">well-documented</a></u> pattern of Singaporean authorities using vague and broadly-worded laws to unduly restrict the right to freedom of expression, and harass <u><a href="https://www.hrw.org/news/2020/08/26/singapore-quash-prominent-activists-conviction">human rights defenders</a></u>, independent journalists, members of the political opposition and ordinary individuals with a view towards deterring critical dissent of the government.</p>
<p>We therefore call on the Singapore authorities to:</p>
<ul>
<li>Order the Elections Department to withdraw the police report against <em>New Naratif</em>;</li>
<li>Repeal or substantially amend all repressive laws that curtail the rights to freedom of expression, association and peaceful assembly, and put in place adequate legal mechanisms and procedures to ensure that these rights are enjoyed by all without discrimination and not subject to unlawful restrictions; and</li>
<li>End the intimidation and harassment of human rights defenders, including through the abuse of the legal system, and ensure they can pursue their human rights work without fear of reprisals in accordance with international human rights law.</li>
</ul>
<p>&nbsp;</p>
<p><strong> </strong><strong>Signatories</strong>:</p>
<ol>
<li>Amnesty International</li>
<li>Article 19</li>
<li>ASEAN Parliamentarians for Human Rights</li>
<li>CIVICUS</li>
<li>FORUM-ASIA</li>
<li>Human Rights Watch</li>
<li>Scholars at Risk</li>
</ol>
<p>&nbsp;</p>
<p><em>New Naratif: A movement for democracy, freedom of expression, and freedom of information in Southeast Asia. Learn more at <a href="https://newnaratif.com/hello/">newnaratif.com/hello</a>.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/singapore-new-naratif/">#JournalismIsNotACrime: Stand with New Naratif against harassment of independent journalists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/singapore-new-naratif/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Myanmar Civil Society Statement on the draft Cyber Security Law</title>
		<link>https://coconet.social/2021/myanmar-statement-cyber-security-bill/</link>
					<comments>https://coconet.social/2021/myanmar-statement-cyber-security-bill/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 03 Mar 2021 04:17:29 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Cyber Security Bill]]></category>
		<category><![CDATA[Electronic Transactions Law]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4952</guid>

					<description><![CDATA[<p>This statement by civil society organisations in Myanmar was originally published in Free Expression Myanmar, a Coconet community member, on February 11, 2021. It has been republished here with permission. For more timely updates on #WhatsHappeningInMyanmar, check out and follow the Twitter accounts of Coconet members Free Expression Myanmar and Myanmar ICT for Development Organisation (MIDO).</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-statement-cyber-security-bill/">Myanmar Civil Society Statement on the draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4965" style="width: 1034px" class="wp-caption aligncenter"><a href="https://commons.wikimedia.org/wiki/File:Protesters_participate_in_an_anti-military_rally.jpg"><img aria-describedby="caption-attachment-4965" class="size-large wp-image-4965" src="wp-content/uploads/2021/02/Protesters_participate_in_an_anti-military_rally-1024x605.jpg" alt="Protesters participate in an anti-military rally in downtown Yangon" width="1024" height="605" sizes="(max-width: 1024px) 100vw, 1024px" /></a><p id="caption-attachment-4965" class="wp-caption-text">Protesters participate in an anti-military rally in downtown Yangon. Image by VOA Burmese via Wikimedia Commons. Public Domain.</p></div>
<p>&nbsp;</p>
<p><em>This <a href="http://freeexpressionmyanmar.org/civil-society-statement-on-the-so-called-cyber-security-bill/">statement</a> by civil society organisations in Myanmar was originally published in Free Expression Myanmar, a Coconet community member, on February 11, 2021. It has been republished here with permission.</em></p>
<p><em>For more timely updates on #WhatsHappeningInMyanmar, check out and follow the Twitter accounts of Coconet members <a href="https://twitter.com/FreeExpressMm/">Free Expression Myanmar</a> and <a href="https://twitter.com/myanmarido">Myanmar ICT for Development Organisation</a> (MIDO).</em></p>
<p>&nbsp;</p>
<p><strong>We, the undersigned civil society organizations, reject the so-called “Cyber Security Bill” drafted by the current military regime, which has not been entrusted by the people with legislative power. </strong></p>
<p>On 9 February 2021, the Ministry of Transport and Communications issued a directive enclosing the so-called “Cyber Security Bill” – which violates the principles of digital rights, privacy and other human rights – and circulated these documents to mobile operators and telecommunications license holders for comments.</p>
<p>Firstly, as this “bill” is not issued by an institution that has been entrusted with legislative power by the public to act accordingly, we do not accept this as a legitimate bill.</p>
<p>Secondly, the “bill” includes clauses that violate human rights including the rights to freedom of expression, data protection and privacy, and other democratic principles and human rights in the online space. As the “bill” is drafted by the current military regime to oppress those who are against its rule, and to restrict the mobilization and momentum of online resistance, we strongly condemn this action by the current military regime in accordance with our democratic principles.</p>
<p>The issuance of the “bill” is evidence that the military has not only attempted a coup d’état, but is also exercising undue legislative power unlawfully to oppress the public.</p>
<p>If this unlawful action by the current military regime is not denounced strongly in time, military oppression over the country will be long-lived and we, the undersigned civil society organizations, strongly condemn this action by the current military regime and issue the following statements –</p>
<p>1. We do not accept and strongly condemn the military coup d’état and demand the current military regime to return the power to the public immediately without any exceptions.</p>
<p>2. We do not accept, acknowledge or comply with this “bill” and directive as well as any other future “bills” that may be drafted by the current military regime in an attempt to oppress the people.</p>
<p>3. We strongly demand the current military regime to halt any undemocratic practices.</p>
<p><strong>Signed by:</strong></p>
<ol>
<li>Action Committee for Democratic Development (ACDD)</li>
<li>Action Group for Farmers Affair (AGFA – Mandalay)</li>
<li>Action Group for Farmers Affair (AGFA – Ayeyarwady)</li>
<li>Action Group for Farmers Affair (AGFA – Bago)</li>
<li>Action Group for Farmers Affair (AGFA – Magway)</li>
<li>Action Group for Farmers Affair (AGFA – Sagaing)</li>
<li>All Arakan Students’ and Youths’ Congress-AASYC</li>
<li>Arr Marn Thit Social Development Organization</li>
<li>Arakan CSO Network</li>
<li>Ananda Data</li>
<li>Ahlin Tagar Rural Development Organization</li>
<li>Athan – Freedom of Expression Activist Organisation</li>
<li>Ayyar Pyo May Women Development Organization</li>
<li>AYY Famar Union</li>
<li>Ayeyawady West Development Organization- AWDO (Magway Region)</li>
<li>Bandugavlar Civil Call(BCC)</li>
<li>Bee House</li>
<li>Chin Agency</li>
<li>Child Prevention Network</li>
<li>Citizen Action for Transparency (ပွင့်လင်းမြင်သာလူထုလှုပ်ရှားမှုအဖွဲ့)</li>
<li>Civic Engagement Development Network</li>
<li>Civic Engagement Network for M2</li>
<li>Community Association Development</li>
<li>Community Partners Myanmar (Nae Thit Foundation)</li>
<li>COMREG Community Response Group</li>
<li>Digital Rights Collective</li>
<li>Diversity and Public Truth</li>
<li>Doe Myae Civil Social Development Organization</li>
<li>Doe Myay Community Development Organization (Twantay)</li>
<li>Empower Youth Enlightenment (EYE)</li>
<li>Empowerment Society</li>
<li>Equality Myanmar</li>
<li>Famar Agricultural Network</li>
<li>Farmers Network (ဝမ်းတွင်း)</li>
<li>Farmers and Land Rights Action Group</li>
<li>Farmers Development and Environmental Watch Group</li>
<li>Free Expression Myanmar (FEM)</li>
<li>Free Education Service Organization</li>
<li>Freedom and labor Action Group</li>
<li>FREELAND Organization Lashio</li>
<li>Future Star (မတ္တရာ)</li>
<li>Future Star Youth Organization</li>
<li>Future Light Social Development Organization</li>
<li>Gender Equality Network</li>
<li>Genuine People’s Servants – GPS</li>
<li>GOAL Organization</li>
<li>Golden Future Social Development Organization</li>
<li>Golden Heart Organization</li>
<li>Green Justice Institute (GJI)</li>
<li>Helping Hands (Local Development Organization</li>
<li>Hkumzup Development Committee</li>
<li>Hope For Children  Development Organization</li>
<li>Htum Thit Sa Rural  Development Organization</li>
<li>Htoi Gender and Development Foundation</li>
<li>Human Rights Defenders &amp; Promoters (HRDP)</li>
<li>Human Rights Educators Network</li>
<li>Human Rights Foundation of Monland (HRFOM)</li>
<li>International Bridges to Justice (Myanmar)</li>
<li>Justice For All (လူ့အခွင့်အရေး ကာကွယ်စောင့်ရှောက်ခြင်းနှင့် တရားမျှတမှု့ )</li>
<li>Justice Movement for Community Inlay</li>
<li>Kaung Myat Hnalonethar Health Care Organization</li>
<li>Kan Chay Arr Man Fishery Development Organization</li>
<li>Kaung Rwai</li>
<li>Karenni State Farmer Union</li>
<li>Kayah Earthrights Action Network (KEAN)</li>
<li>Kachin State Women Network</li>
<li>Kachin Women Union</li>
<li>Kachin Women’s Association of Thailand (KWAT)</li>
<li>Kanaung Institute</li>
<li>Kanpetlet Land Development Organization</li>
<li>Karen Peace Support Network</li>
<li>Keng Tung Youth</li>
<li>KESAN Karen Environment and Social Action Network</li>
<li>Kings N Queens</li>
<li>Kyaukse Youth Network</li>
<li>Lamyan Farmers Network</li>
<li>LatButta Famar Union</li>
<li>Legal Knowledge Sharing Group</li>
<li>Let’s Help Each Other</li>
<li>LGBT rights Network</li>
<li>LAIN Technical Support Group</li>
<li>Light Social Development Organization</li>
<li>Lin lake Kyal Social Development Organization</li>
<li>Mandalay Affairs Team</li>
<li>Mandalay Community Center</li>
<li>Mandalay Regional Youth Association (MRYA)</li>
<li>Mandalay Regional Youth Network</li>
<li> Mandalay Women Political Federation (MWPF – မန္တလေး)</li>
<li>Mann Thingaha (Gender GBV Team)</li>
<li>Maramagri Youth Network</li>
<li>MATA(Sagaing)</li>
<li>Matupi Women Association</li>
<li>Meiktila Youth Network</li>
<li>Minhla Youth Center</li>
<li>Muditar Organization</li>
<li>Myanmar Media Lawyers’ Network</li>
<li>Myan ICT for Development Organisation (MIDO)</li>
<li>Myanmar Cultural Research Society (MCRS)</li>
<li>Myanmar Deaf Society</li>
<li>Myanmar Fifth Estate</li>
<li>Myanmar Independent Living Initiative</li>
<li>Myanmar Muslim Youth Association (Kachin State)</li>
<li>Myanmar People Alliance (Shan State)</li>
<li>National Network for Education Reform</li>
<li>Natural Green Alliance (သဘာဝစိမ်း သဘာဝပါတ်ဝန်းကျင်ထိန်းသိမ်းရေး မိတ်ဖက် အင်အားစု)</li>
<li>Never End Tomorrow(NeT)</li>
<li>Network for Human Rights Documentation Burma (ND-Burma)</li>
<li>Ninggawn Institute (NI)</li>
<li>Northern Spectrum Youth Association</li>
<li>Nyan Lynn Thit Analytica</li>
<li>Open Development Foundation</li>
<li>Our Home</li>
<li>Our Lovely World</li>
<li>Olive Organization</li>
<li>P.D.C.E (Peace, Development &amp; Civic Engagement)</li>
<li>Paung Ku</li>
<li>Pa-O Women’s Union</li>
<li>Pan Thi Kyo LGBT Organization</li>
<li>Paungsee Myittar Organization</li>
<li>Peace &amp; Development Center (Meikhtila)</li>
<li>Peace Development Committee (မိတ္ထီလာ)</li>
<li>PEN Myanmar (ပဲန်မြန်မာ)</li>
<li>Phyu Sin Myittar Social Development Organization</li>
<li>Pluralistic Society</li>
<li>Pone Yate Sit Regional Development Organization</li>
<li>Progressive Voice</li>
<li>Pwint Phyu Development Organisation</li>
<li>Pyi Gyi Khin</li>
<li>Rule of law watch group</li>
<li>Rural Social Development Organization</li>
<li>SarPhyu Famar Network</li>
<li>Sarnar Kyi Phyu Social Development Organization</li>
<li>Sandhi Governance Institute</li>
<li>Saytana Shaesaung Youth Organization</li>
<li>Second Tap Root (ဒုတိယရေသောက်မြစ်)</li>
<li>Shan MATA</li>
<li>Shan State Ethnic Youth Federation</li>
<li>Shan State Peace Task Force (သျှမ်းပြည်နယ်ငြိမ်းချမ်းရေးအလုပ်အဖွဲ့)</li>
<li>Shan Women Development Network</li>
<li>Shan Youth Yangon</li>
<li>Shwechinthae Social Service Group (Shwebo)</li>
<li>Shwe Nathar Famar Development Organization</li>
<li>Smile Myanmar</li>
<li>Socio- Economic &amp; Gender Resource Institute</li>
<li>Social Care Volunteer Group (SCVG)</li>
<li>Southern Youth Development Organisation</li>
<li>SPACE</li>
<li>Spectrum Organization</li>
<li>Student Voice</li>
<li>Summer Shelter Library</li>
<li>Swam Su Ti Rural Development Organization</li>
<li>Ta’ang Women’s Organisation</li>
<li>Tai Youth Organization – TYO</li>
<li>TEN, Taunggyi Education Network</li>
<li>Thazi Youth Network</li>
<li>The Seagull: Human Rights, Peace &amp; Development Pluralistic Society</li>
<li>The Khumi Institute (TKI)</li>
<li>TRI STAR</li>
<li>Triangle Women Support Group</li>
<li>TRY Organization</li>
<li>Uakthon Local Social Development Organization</li>
<li>Unity Arch Bridge Organization</li>
<li>Waingmaw CSO Network</li>
<li>White Marker Group</li>
<li>Win Peace</li>
<li>Women &amp; Youth’s Development Organization (WYDO)</li>
<li>Worker Development Organization</li>
<li>Women Development Organization</li>
<li>Women organization Network ( WON )</li>
<li>Yatanar Youngyi Social Development Organization</li>
<li>Yai Ywal Yar Youth Development Organization</li>
<li>Yi Ywal Yar Community Development</li>
<li>Youth Champion Network</li>
<li>Youth/29 Creative Society</li>
<li>Young Ni Oo Women Social Development Organization</li>
<li>Young Ni Oo Social Development Organization</li>
<li>၈၈ငြိမ်းပွင့် စဉ့်ကူး</li>
<li>၈၈ငြိမ်းပွင့် မြစ်သား</li>
<li>၈၈ငြိမ်းပွင့် မိထ္တီလာ</li>
<li>၈၈ငြိမ်းပွင့် သပိတ်ကျင်း</li>
<li>၈၈ငြိမ်းပွင့် သာစည်</li>
<li>ကျောက်ပန်းတောင်း လူငယ်ကွန်ယက်</li>
<li>ခြေလှမ်းသစ်လူမှုဖွံ့ဖြိုးရေးအဖွဲ့</li>
<li>စိမ်းရောင်စို (တံတားဦး)</li>
<li>စိမ်းရောင်စို Activities</li>
<li>တမာရိပ်</li>
<li>တောင်သမန်ကွန်ယက်</li>
<li>ဒို့တိုးတက်ရာ အစည်းအရုံး</li>
<li>ဒို့တောင်သူလယ်သမားအဖွဲ့</li>
<li>ဒို့မြေကွန်ရက်</li>
<li>“ဒို့”တောင်သူလယ်သမားအဖွဲ့အစည်း(ဝမ်းတွင်း)</li>
<li>ပျော်ဘွယ် လူငယ်ကွန်ယက်</li>
<li>ပွင့်ဖြူလယ်ယာမြေကွန်ရက် (မကွေးတိုင်း)</li>
<li>မဇ္စျိမမေတ္တာ ရေလှူအသင်း (မိတ္ထီလာ)</li>
<li>မကွေးတိုင်းဒေသကြီးအရပ်ဘက်လူမှုအဖွဲ့အစည်းများ မဟာမိတ်အဖွဲ့</li>
<li>မင်းလတောင်သူအစုအဖွဲ့။</li>
<li>မတ္တရာ လူငယ်ကွန်ယက်</li>
<li>မန္တလေးတိုင်းဒေသကြီး လူငယ်ရေးရာကော်မတီ ကိုယ်စားလှယ်များ</li>
<li>မကွေးတိုင်းဒေသကြီးလူငယ်ကွန်ယက်</li>
<li>မြစ်ကွေ့ဧရာလူမှုကွန်ရက်(မကွေးမြို့)</li>
<li>မြေလတ်မျိုးဆက်အင်စတီကျု</li>
<li>မြင်းခြံ နိုင်ကျဉ်းအဖွဲ့</li>
<li>မြင့်မြတ်ဧရာဝတီ လူငယ်လူမှု့ကွန်ယက်</li>
<li>မြေလတ်မျိုးဆက်အင်စတီကျု</li>
<li>မေမြို့ တောင်သူကွန်ယက်</li>
<li>ယုံကြည်ရာ အသိပညာပြန့်ပွားရေးအသင့်</li>
<li>ရွှေခြင်္သေ့တောင်သူကွန်ရက်(ရွှေဘိုခရိုင်)</li>
<li>ရွှေခြံအားမာန်အဖွဲ့ မြင်းခြံ</li>
<li>ရွှေမင်းသားဖောင်ဒေးရှင်း</li>
<li>ရွှေမင်းသား မသန်စွမ်း ဖောင်ဒေးရှင်း ( မြန်မာ )</li>
<li>ရှစ်လေးလုံးသွေးသစ် (မိုးညှင်း)</li>
<li>လက်လှမ်းမှီရေးအဖွဲ့</li>
<li>လွတ်လပ်သောအရှိုချင်အမျိုးသားများအင်အားစု</li>
<li>ဝိုင်းမော်မြို့နယ်လုံးဆိုင်ရာ သျှမ်းလူငယ်များစည်းလုံးညီညွတ်ရေးအဖွဲ့</li>
<li>ဝါးစိမ်းတောင်ကာကွယ်စောင့်ကြည့်ရေးကော်မတီ (WPWC)</li>
<li>သင့်မြတ်လိုသူများ ငြိမ်းချမ်းရေးပရဟိတအဖွဲ့</li>
<li>သုခမိန်အင်စတီကျု</li>
<li>သုခုမခရီးသည်အဖွဲ့</li>
<li>အမျိုးသမီးနိုင်ငံရေး အင်အားစု</li>
<li>အိမ်ယာမဲ့ပြည်သူများ အစည်းအရုံး</li>
<li>အောင်သာစည်အဖွဲ့</li>
<li>Gender and Development Institute</li>
<li>Good Shepherd Myanmar Foundation (GSMF)</li>
<li>Kachin Women Peace Network</li>
<li>Muditar Foundation</li>
<li>Myanmar Positive Women Network</li>
<li>Mandalar Yaung Sin</li>
<li>Myanmar Independent Living Initiative- MILI</li>
<li>National Network of Rural Women- May Doe Kabar</li>
<li>Phan Tee Eain (Creative Home)</li>
<li>POINT</li>
<li>Progetto Continenti</li>
<li>Ratana Metta Organization</li>
<li>Sex Worker in Myanmar Network</li>
<li>Spectrum (SDKN)</li>
<li>Socio-Economic &amp; Gender Resource Institute Myanmar</li>
<li>Student Christian Movement Myanmar</li>
<li>Women’s Federation for Peace</li>
<li>Generation Wave</li>
</ol>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-statement-cyber-security-bill/">Myanmar Civil Society Statement on the draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-statement-cyber-security-bill/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</title>
		<link>https://coconet.social/2021/myanmar-cyber-security-law/</link>
					<comments>https://coconet.social/2021/myanmar-cyber-security-law/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 24 Feb 2021 07:15:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Cyber Security Law]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4943</guid>

					<description><![CDATA[<p>Free Expression Myanmar analyses how and why the military's draft Cyber Security Law poses risks to human and digital rights to the people of Myanmar.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><em>This article on Myanmar&#8217;s proposed Cyber Security Law was originally written by and published in <a href="http://freeexpressionmyanmar.org/six-risks-from-myanmars-draft-cyber-security-law/">Free Expression Myanmar</a> (FEM), a Coconet community member, on February 14, 2021. It has been republished here with permission.</em></p>
<p><em>Days after this article&#8217;s original publication, the 2021 Electronic Transactions Law Amendment was enacted. The new amendment &#8220;<a href="http://freeexpressionmyanmar.org/myanmars-new-electronic-transactions-law-amendment/">includes several of the problematic criminal provisions</a>&#8221; proposed in the Cyber Security Law.</em></p>
<p>&nbsp;</p>
<div id="attachment_4955" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4955" class="wp-image-4955 size-large" src="wp-content/uploads/2021/02/Myanmar-Protest-1024x576.jpg" alt="" width="1024" height="576" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4955" class="wp-caption-text">Photo by Htin Linn Aye, taken from Wikimedia Commons and used under the Creative Commons Attribution-Share Alike 4.0 International license</p></div>
<p>&nbsp;</p>
<p>This analysis outlines six serious risks posed by the Myanmar military government’s <a href="https://rsf.org/en/news/myanmars-junta-plans-draconian-cyber-security-law">draft “Cyber Security Law”</a>. It is based upon international standards relating to the right to freedom of expression. It builds upon a statement issued on February 11, 2021, by 250 civil society organisations in Myanmar, and other international statements.</p>
<p>The draft Cyber Security Law was circulated to stakeholders for feedback by February 15. The draft law has been under development for several years, and the circulated version is similar to the version from mid-2020 under the previous government.</p>
<h3>1. The military will have absolute control over Myanmar’s internet</h3>
<p>The draft law establishes a hierarchy of bodies overseen by and formed of representatives chosen by the military under the military’s governing State Administration Council (Arts. 5.a, 7, and 9). These oversight bodies are given absolute control over making internet and communications-related rules (Art. 6.a), implementing those rules (Art. 6.b), and investigating rule-breakers (Art. 12). Furthermore, the draft law also enables the Ministry of Defence to issue rules (Art. 88).</p>
<h3>2. Regulates people, communications, and companies internationally</h3>
<p>The draft law is unusual because it has a wide, extraterritorial reach, giving the military government an international jurisdiction as well as a normal domestic one. It creates international offences (Art. 2.a), applies to Myanmar citizens outside of Myanmar (Art. 1.a) and international organisations (Art. 6.h), and covers any form of international communications (Art. 1.c). This significantly extends the oppressive effect of Myanmar’s already restrictive domestic legal framework.</p>
<h3>3. Increase in criminalisation and long prison terms</h3>
<p>The draft law includes a variety of vague and overlapping crimes with three-year prison terms and fines, many of which do not have legitimate democratic aims. Three-year prison terms for misinformation or “fake” websites that cause “public panic, loss of trust or social division” are likely to be used to punish criticism (Arts. 64 and 65). Sharing “sexually explicit speech” – such as that currently being used by many Generation Z protesters – is also punished with a three-year prison term (Art. 68). Using false names or pseudonyms on Facebook will result in a three-year prison sentence (Art. 65). Several provisions include three-year prison terms for actions commonly done by whistleblowers (Arts. 57, 59, and 60). In addition to these disproportionate three-year prison terms, those convicted may also be charged under the Counter-Terrorism Law (Arts. 70 and 71).</p>
<h3>4. Internet intermediaries criminally liable for the content</h3>
<p>The draft law places both administrative and criminal liability on internet intermediaries such as Facebook, Google, and Telenor, while easing the military’s potential to ban them altogether. It includes a vague list of content that all “online service providers”, defined as “any person or business providing online services used in Myanmar”, must remove when ordered (Art. 29). The vague list includes for example, “verbal statements against any existing law” and is clearly intended to punish criticism. All “online service providers” must prepare in advance to receive orders (Art. 48), which may come from any person or organisation authorised by the military government (Art. 47).</p>
<p>If an intermediary does not comply with an order, the military government can issue a warning, fine, or temporary or permanent ban (Art. 72). Representatives of the intermediary will also face a criminal punishment of up to three years of imprisonment plus a fine (Art. 61).</p>
<h3>5. Eases network control and internet shutdown</h3>
<p>The draft law enables the military government to take direct control over network infrastructure and eases their ability to shut down the internet. It includes provisions for both temporary and permanent bans on any online service such as Facebook (Arts. 51.a and 51.c), and provisions for allowing the military government temporary control of any network devices (Art. 51.b). Bans must be in accordance with a vague “public interest”, presumably as defined by the military (Art. 51). The only so-called “safeguard” is that the military’s governing State Administration Council must approve the military-controlled ministry’s decision (Art. 51).</p>
<h3>6. Private data put under military control</h3>
<p>The draft law gives the military unfettered access to private data. It requires all “online service providers” such as Facebook, Google, and Telenor, to store vast quantities of personal private data including Citizenship Card numbers for at least three years (Art. 30). This data must be stored on servers designated by the military-controlled government (Art. 28.a), and be accessible for “national security” checks (Art. 59). There are no privacy safeguards (Art. 15) and data must be provided when requested (Art. 31). Any computer owned by anybody can be inspected on vague grounds (Art. 45).</p>
<h3>Recommendations</h3>
<p>The only institution in Myanmar with the constitutional mandate to adopt laws is the Union Parliament. Therefore, FEM rejects the draft Cyber Crime Law in its entirety. Nevertheless, FEM calls on all national and international stakeholders to remind the military government of their obligations under international law and Myanmar’s Constitution and to significantly revise any such “law” to address the six serious risks highlighted above.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-cyber-security-law/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Digital security and safety resources in Burmese now available in one database</title>
		<link>https://coconet.social/2021/myanmar-digital-security-safety-resources/</link>
					<comments>https://coconet.social/2021/myanmar-digital-security-safety-resources/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Thu, 18 Feb 2021 03:20:55 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital Safety]]></category>
		<category><![CDATA[Digital Security]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4884</guid>

					<description><![CDATA[<p>In support of the people of Myanmar protesting against the human and digital rights violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a list of digital security and safety resources in the Burmese language.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4886" style="width: 710px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4886" class="size-medium wp-image-4886" src="wp-content/uploads/2021/02/Digital-Tea-House-700x311.png" alt="" width="700" height="311" sizes="(max-width: 700px) 100vw, 700px" /><p id="caption-attachment-4886" class="wp-caption-text">A screenshot from the Digital Tea House campaign by MIDO</p></div>
<p>&nbsp;</p>
<p>In support of the people of Myanmar protesting against the <a href="https://globalvoices.org/2021/02/01/what-happened-in-myanmar-on-the-first-day-of-the-coup/">human</a> and <a href="https://engagemedia.org/2021/myanmar-digital-rights-democracy/">digital rights</a> violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a <em><strong><a href="https://gitlab.com/digisea/myanmar-burmese">list of digital security resources in Burmese</a></strong></em>. Localising digital safety resources are more important than ever, as Myanmar is on the brink of passing a controversial <a href="https://www.article19.org/resources/myanmar-scrap-cyber-security-draft-law-and-restore-full-internet-connectivity/">Cyber Security Bill</a> that will further restrict internet access and freedom of expression online.</p>
<p>Among the contributors to this living Gitlab repository are the following Coconet community members: <a href="https://myanmarido.org/">Myanmar ICT Development Organisation</a> (MIDO), <a href="http://freeexpressionmyanmar.org/">Free Expression Myanmar</a>, and <a href="https://www.facebook.com/witnessasia/">WITNESS Asia</a>.</p>
<p>As of posting, you can access the following resources in the Burmese language.</p>
<ol>
<li><a href="https://digitalteahouse.info/">Digital Tea House</a>, a campaign by MIDO to promote digital safety awareness in Myanmar</li>
<li>A <a href="http://freeexpressionmyanmar.org/wp-content/uploads/2021/02/myanmar-protesters-toolkit.pdf">Myanmar Protesters Toolkit</a> by Free Expression Myanmar</li>
<li>Mini guides by WITNESS on <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/VIDEO%20AS%20EVIDENCE-MINI%20GUIDES%20in%20Burmese.pdf">using video as evidence of human and digital rights abuses</a></li>
<li>A <a href="https://drive.google.com/file/d/1sTuOjE-HUCHEQlcNHMdWicbD0yu9Nzbb/view">risk mitigation and management guide</a> promoted by MIDO that details communication strategies for frontline journalists and others in Myanmar in case of internet disruption</li>
</ol>
<p>Aside from these guides, you can also access another <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/">list of guides and readings from other organisations that have been localised in Burmese</a>. Protestos.org has also translated some of its <a href="https://protestos.org/my.html">guides on protesting</a> to Burmese.</p>
<p>If you would like to contribute a resource to this space, please contact us at <a href="mailto:contribute@coconet.social">contribute@coconet.social</a>. The Gitlab will be updated as more resources are curated and verified.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-digital-security-safety-resources/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</title>
		<link>https://coconet.social/2021/digital-identity-asia/</link>
					<comments>https://coconet.social/2021/digital-identity-asia/#respond</comments>
		
		<dc:creator><![CDATA[Open Culture Foundation]]></dc:creator>
		<pubDate>Tue, 12 Jan 2021 01:00:15 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital ID]]></category>
		<category><![CDATA[Digital Identity]]></category>
		<category><![CDATA[Japan]]></category>
		<category><![CDATA[Malaysia]]></category>
		<category><![CDATA[Singapore]]></category>
		<category><![CDATA[South Korea]]></category>
		<category><![CDATA[Taiwan]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4534</guid>

					<description><![CDATA[<p>Digital identification, or digital IDs, have become more common in Asia, with some countries even mandating its use for their citizens. Ho Ming-hsuan writes about the digital ID experiences of Taiwan, Japan, Malaysia, Singapore, and South Korea – and lists various issues that need to be tackled before digital IDs can be adopted more thoroughly in the region.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/digital-identity-asia/">Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="4534" class="elementor elementor-4534" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-5b68734f elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="5b68734f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-76a8c65" data-id="76a8c65" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4f657b6d elementor-widget elementor-widget-text-editor" data-id="4f657b6d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div id="attachment_4535" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4535" class="wp-image-4535 size-large" src="wp-content/uploads/2021/01/Coconet-OCF-Lab-Digital-ID-1024x536.png" alt="" width="1024" height="536" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4535" class="wp-caption-text">Photo from OCF, credited to 內政部釋出圖片</p></div>
<p>&nbsp;</p>
<p>Digital identification, or digital IDs, have become more common in Asia, with some countries even mandating its use for their citizens. Coconet community member&nbsp;<a href="https://ocf.tw/en/">Open Culture Foundation</a> (OCF) has published a series of articles on the digital ID experiences of five countries in Asia – Taiwan, Japan, Malaysia, Singapore, and South Korea – and listed various issues that need to be tackled before digital IDs can be adopted more thoroughly in the region.</p>
<p>The three-part series&nbsp;is available in <a href="https://lab.ocf.tw/2020/12/23/dititalid-taiwan-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-1/">Chinese</a>. Below are excerpts from each of the three articles.</p>
<h3>Part 1: Digital ID in Taiwan</h3>
<p>&#8220;Taiwan once again launched its comprehensive digital ID project in 2015, which made the third attempt to officially launch a project related to digital ID by the government, preceded by its previous efforts in 1998 and 2005 respectively.</p>
<p>This policy of producing digital ID has undergone numerous revisions since its launch in 2015. The latest version is the government to combine the existing National ID Card and the Citizen Digital Certificate into a new digital ID card with a chip (i.e. New eID), which is expected to go for a trial run in certain municipalities in January 2021 before a total rollout in July 2021.</p>
<p>In Taiwan, all citizens are required to have an ID card. The cards at present are paper-based in hardcopy. Yet, should citizens want to be digitally authenticated with their IDs, they can &#8216;voluntarily&#8217; apply for a &#8216;Citizen Digital Certificate&#8217; from the Ministry of the Interior. It is a system that has been operated for years prior to this rollout of New eID.&#8221;</p>
<p><strong><em>Read Part 1 in <a href="https://lab.ocf.tw/2020/12/23/dititalid-taiwan-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-1/">Chinese</a>.</em></strong></p>
<h3>Part 2: Digital ID in Taiwan</h3>
<p>&#8220;Malaysia’s National Digital ID Study Task Force organised a study from November 2019 to July 2020, to gauge public opinion through a survey posted on the Malaysian Communications and Multimedia Commission’s website.</p>
<p>Data security remains a real concern for some Malaysians, however, as the Personal Data Protection Act 2010 (PDPA) is seemingly inadequate in providing well-rounded data security. While the PDPA is able to regulate the use of personal data in the private sector, it cannot be enforced in the public sector. In other words, the use of personal data by the Malaysian government or by government organizations is not regulated by the PDPA, which might pose a data security risk.</p>
<p>Lawyer Louis Liaw from the Rosli Dahlan Saravana Partnership agrees that the National Digital Identity Initiative will bring more convenience to the lives of Malaysians, especially since internet and smartphone penetration rates in Malaysia are already rather high. However, he also believes that there should be legislation in place to regulate and legalise the National Digital Identity framework, so as to strengthen the people’s confidence in the government’s ability to protect their personal data. &#8216;Something is needed to regulate the government,&#8217; the lawyer quipped while maintaining a positive outlook on the benefits the National Digital Identity Initiative would bring to Malaysia.&#8221;</p>
<p><em><strong>Read Part 2 in <a href="https://lab.ocf.tw/2020/12/23/dititalid-jp-my-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-2/">Chinese</a>.&nbsp;</strong></em></p>
<h3>Part 3: Digital Identity in Singapore &amp; South Korea</h3>
<p>&#8220;The digital ID experiences of these five countries reveal that many people still have reservations regarding the use of digital ID as they lack confidence in the law and the government’s ability to protect their personal data. Data breach still poses a very real threat despite the severe punishment meted out in Singapore, the existence of a law protecting personal data in Malaysia and the change in legislation in South Korea.&#8221;</p>
<p><em><strong>Read Part 3 in <a href="https://lab.ocf.tw/2020/12/23/digitalid-sg-kr-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/30/eid-series-3/">Chinese</a>.</strong></em></p>
<p>&nbsp;</p>
<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>The Open Culture Foundation is a nonpartisan, nonprofit organization, founded in 2014 by several members of Taiwan&#8217;s open source community.</em></p>

		</div> 
	</div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2021/digital-identity-asia/">Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/digital-identity-asia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</title>
		<link>https://coconet.social/2020/tech-tales-digital-rights-films/</link>
					<comments>https://coconet.social/2020/tech-tales-digital-rights-films/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Tue, 22 Dec 2020 08:03:49 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Films]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4445</guid>

					<description><![CDATA[<p>EngageMedia invites filmmakers, video journalists, and animators across the Asia-Pacific to produce short films on important digital rights issues happening in our region, as told with our voices and from our perspectives.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/tech-tales-digital-rights-films/">Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><img class="aligncenter wp-image-4447 size-large" src="wp-content/uploads/2020/12/Call-for-Applications_-Tech-Tales_1920x1080-1024x576.jpg" alt="" width="1024" height="576" sizes="(max-width: 1024px) 100vw, 1024px" /></p>
<p>EngageMedia invites filmmakers, video journalists, and animators across the Asia-Pacific to produce short films on important digital rights issues happening in our region, as told with our voices and from our perspectives. The produced works will be included in <a href="https://engagemedia.org/2020/tech-tales-application/">Tech Tales</a>, a film collection that will be used to further digital rights advocacy and campaigns.</p>
<p>Up to eight filmmakers will each be awarded between USD 3,000 and 5,000 to produce their respective films. Tech Tales accepts documentaries, fiction, animation, and other short narrative video productions.</p>
<p>Apply to Tech Tales by filling out the form at <a href="https://engagemedia.org/2020/tech-tales-application/">EngageMedia.org</a>. The deadline for applications has been extended to <em><strong>20 January 2021, 23:59 Bangkok time (UTC+7)</strong></em>.</p>
<p>If you encounter any errors in the application form, or have any questions about the <a href="https://engagemedia.org/projects/tech-tales/">Tech Tales project</a>, please feel free to <a href="https://engagemedia.org/contact/">reach out</a> via the EngageMedia contact page.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/tech-tales-digital-rights-films/">Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/tech-tales-digital-rights-films/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Human Rights Day 2020: &#8216;Recover Better&#8217; in Physical and Digital Spaces</title>
		<link>https://coconet.social/2020/human-rights-day-digital/</link>
					<comments>https://coconet.social/2020/human-rights-day-digital/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Fri, 11 Dec 2020 06:48:32 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Human Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4375</guid>

					<description><![CDATA[<p>On Human Rights Day 2020, the UN called on the world to "Recover Better - Stand Up for Human Rights". These human rights also extend to the digital space.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/human-rights-day-digital/">Human Rights Day 2020: &#8216;Recover Better&#8217; in Physical and Digital Spaces</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This December 10, the United Nations commemorated <a href="https://www.un.org/en/observances/human-rights-day">Human Rights Day</a> with the theme, &#8220;<a href="https://standup4humanrights.org/en/index.html">Recover Better &#8211; Stand Up for Human Rights</a>.&#8221; The theme this year ensures that human rights are at the centre of the world&#8217;s recovery from the COVID-19 pandemic. These human rights extend beyond the physical and into the digital space, as stated by the UN Office of the High Commissioner for Human Rights in <a href="http://daccess-ods.un.org/access.nsf/Get?Open&amp;DS=A/HRC/RES/20/8&amp;Lang=E">2012</a> and <a href="https://www.ohchr.org/EN/NewsEvents/Pages/DisplayNews.aspx?NewsID=25158&amp;LangID=E">2019</a>.</p>
<p>To add to the conversation on human and digital rights, allow us to share additional resources on digital rights that were published this year.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">The Universal Declaration of Human Rights has helped improve the lives of millions of people and lay the foundations for a more just world.<a href="https://twitter.com/hashtag/StandUp4HumanRights?src=hash&amp;ref_src=twsrc%5Etfw">#StandUp4HumanRights</a> on <a href="https://twitter.com/hashtag/HumanRightsDay?src=hash&amp;ref_src=twsrc%5Etfw">#HumanRightsDay</a> &amp; every day. <a href="https://t.co/2ftXxLBj0g">https://t.co/2ftXxLBj0g</a> <a href="https://t.co/FDd1Nx3IuU">pic.twitter.com/FDd1Nx3IuU</a></p>
— United Nations (@UN) <a href="https://twitter.com/UN/status/1336974437493526530?ref_src=twsrc%5Etfw">December 10, 2020</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Digital Rights Reports from APC</h3>
<p>Gaya Khandhadai, Asia policy regional coordinator with the Association for Progressive Communications (APC), has curated the following 2020 digital rights reports on the Asia-Pacific:</p>
<ol>
<li><em><strong>Dialling in the Law: A comparative assessment of jurisprudence on internet shutdowns </strong></em>is a report that <a href="https://www.apc.org/en/pubs/dialling-law-comparative-assessment-jurisprudence-internet-shutdowns">outlines jurisprudence across the global South on the legality of internet shutdowns</a>. It addresses the growing challenge of<br />
government-mandated disruptions of internet access around the world, often under the guise of safeguarding public order and upholding national security interests.</li>
<li><em><strong>Unshackling Expression</strong><strong> 2020 </strong></em>is a continuation of the 2017 APC report which studied <a href="https://www.giswatch.org/2017-special-report-unshackling-expression-study-law-criminalising-expression-online-asia">laws criminalising expression online in Asia</a>. Here are the latest reports:
<ol>
<li>Philippines: &#8220;<a href="https://www.apc.org/en/pubs/unshackling-expression-philippines-report">Unshackling Expression: The Philippines Report</a>&#8220;, published on September 30, 2020</li>
<li>Indonesia: &#8220;<a href="https://www.apc.org/en/pubs/unshackling-expression-study-online-freedom-expression-indonesia">Unshackling Expression: A study on online freedom of expression in Indonesia</a>&#8220;, published on November 19, 2020</li>
<li>Nepal: &#8220;<a href="https://www.apc.org/en/pubs/unshackling-expression-study-criminalisation-freedom-expression-online-nepal">Unshackling Expression: A study on criminalisation of freedom of expression online in Nepal</a>&#8220;, published on November 25, 2020</li>
</ol>
</li>
</ol>
<p>The above reports are supported by APC through the CYRILLA initiative.</p>

		</div> 
	</div> </div></div></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>&#8216;What are digital rights?&#8217; now in Thai and Indonesian</h3>
<p>Earlier this year, EngageMedia Digital Rights Program Manager Kathleen Azali wrote a blog post <a href="https://coconet.social/2020/digital-rights-exploring-definitions/">exploring the definitions of digital rights</a> according to members of the Coconet community and other regional and international charters.</p>
<p>Aside from the English version, this article is now also available in <a href="https://coconet.social/th/?p=3536">Thai</a> and <a href="https://coconet.social/2020/apa-itu-hak-digital">Indonesian</a>. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian version was translated by EngageMedia.</p>
<p>If you are interested to translate this article in another language, please reach out via the <a href="https://coconet.social/contact/">Contact</a> page.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/human-rights-day-digital/">Human Rights Day 2020: &#8216;Recover Better&#8217; in Physical and Digital Spaces</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/human-rights-day-digital/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
