<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>kathleen azali &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/kat/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 12 Aug 2021 03:47:36 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>kathleen azali &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Apa itu Hak Digital?</title>
		<link>https://coconet.social/2020/apa-itu-hak-digital/</link>
					<comments>https://coconet.social/2020/apa-itu-hak-digital/#comments</comments>
		
		<dc:creator><![CDATA[kathleen azali]]></dc:creator>
		<pubDate>Thu, 10 Dec 2020 07:21:41 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[Human Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4351</guid>

					<description><![CDATA[<p>Seringkali, pertanyaan, “Apa itu hak digital” dijawab dengan “HAM di ruang digital”, atau “HAM yang tercipta melalui penggunaan teknologi dan internet”.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/apa-itu-hak-digital/">Apa itu Hak Digital?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="4351" class="elementor elementor-4351" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-55d43de9 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="55d43de9" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-65251b38" data-id="65251b38" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-8d9b261 elementor-widget elementor-widget-image" data-id="8d9b261" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="1024" height="576" src="wp-content/uploads/2020/12/coconet-digital-rights-1024x576.jpg" class="attachment-large size-large" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />											<figcaption class="widget-image-caption wp-caption-text">Di Coconet II telah berkumpul 120 pembuat film, periset, pendukung HAM, teknologis, pengacara, akademisi, dan jurnalis pembela hak-hak digital, di antaranya tentang disinformasi, berita bohong, keamanan digital, dan hak-hak pengguna.</figcaption>
										</figure>
								</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3fdea883 elementor-widget elementor-widget-text-editor" data-id="3fdea883" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Seringkali, pertanyaan, “Apa itu hak digital” dijawab dengan “HAM di ruang digital”, atau <a href="https://eyeondesign.aiga.org/what-is-designs-role-in-violating-or-upholding-digital-rights/">“HAM yang tercipta melalui penggunaan teknologi dan internet</a>”.</p><p>HAM secara jelas didefinisikan oleh PBB melalui Deklarasi Universal Hak Asasi Manusia atau <a href="https://www.un.org/en/universal-declaration-human-rights/">Universal Declaration of Human Rights</a> (UDHR), dan telah diturunkan ke dalam berbagai peraturan hukum yang mengikat. Namun ikatan-ikatan hukum serupa tidak — atau belum — diterapkan untuk istilah apalagi hak “digital”, “teknologi”, atau “internet”. Karena itu, saat membongkar istilah-istilah ini, kita akan menemukan serangkaian tafsiran yang lebih luas.</p><p>Sebagai contoh, istilah<em> digital</em> seringkali digabungkan dengan <em>online</em> atau <em>internet</em>. Padahal ada banyak objek dan sistem digital yang tidak terhubung internet. Misalnya, data biometrik seperti pengenal wajah (<em>facial recognition</em>) dan pemeriksaan sidik jari (<em>fingerprinting</em>) di pos-pos perbatasan adalah salah satu contoh sistem digital yang tidak mutlak membutuhkan internet (meski mungkin terhubung ke intranet).</p><p>Begitu pula, istilah <em>teknologi</em> atau <em>tech</em>, sepanjang dekade terakhir seringkali disamakan dengan teknologi <em>digital</em>, sementara teknologi <em>analog</em> tidak lagi diperhitungkan sebagai <em>tech</em> karena dianggap tidak mutakhir. (Coba ketik “tech” pada mesin pencari dan lihat betapa mayoritas hasilnya akan merujuk pada “digital tech”.)  Di Indonesia bahkan muncul istilah “gaptek” atau “gagap teknologi” bagi yang dianggap kurang melek literasi digital. Di tengah saturasi digital tech ini, tak ayal muncul pula <a href="https://www.vox.com/2017/5/2/15518900/digital-analog-rediscover-tactile-physical-experiences-vinyl-print">kejenuhan terhadap “digital tech”</a>, yang berdampak pada semacam romantisasi teknologi analog. Sebagai contoh, lempengan rekaman vinyl dan buku cetak sebagai teknologi analog kerap dianggap sebagai lebih “asli”, “otentik” ketimbang produk digital seperti file mp3 atau buku elektronik.</p><h4><strong>Menjelajahi definisi, menantang asumsi</strong></h4><p>Selama <a href="https://coconet.social/camps/">Kamp Coconet II hak-hak digital </a>bulan Oktober tahun 2019 lalu, kami mengajak 120 <em>changemakers</em> untuk mendefinisikan hak-hak digital dalam konteks Asia-Pasifik. Tak mengejutkan, berbagai definisi bermunculan:</p><ul><li>Hak digital adalah pelaksanaan hak asasi manusia di dalam dunia digital.</li><li>Hak digital adalah hak mengekspresikan diri secara aman, privat, terjamin dan berkelanjutan di dunia digital.</li><li>Hak digital adalah hal yang mendasar dan Hak Asasi Manusia yang diwarisi untuk mempromosikan inklusi, kesetaraan, akses ke infrastruktur, dan informasi. Hak digital memastikan kontrol, otonomi, dan agensi manusia sekaligus perlindungan terhadap privatisasi, monopolisasi dan monetisasi kemanusiaan.</li><li>Hak digital adalah Hak Asasi Manusia yang mendasar di dalam lingkup digital. Ia berupa kebebasan berekspresi, berasosiasi dan berkumpul, akses kepada peralatan internet, hak atas informasi, hak mengakses layanan (mulai dari media sosial hingga sistem kependudukan, perbankan, dan lain-lain), hak hidup dalam ruang daring aman (<em>online safe-space</em>) dengan aspek perlindungan keamanan (<em>security</em>) dan kepastian, privasi dan perlindungan data, peka-gender, anti diskriminasi, dan setara.</li><li>Hak digital adalah seperangkat Hak Asasi Manusia universal yang memastikan setiap orang &#8211; terlepas dari jenis kelamin, usia, ras, gender, dan lainnya &#8211; memiliki akses yang sama terhadap internet terbuka yang dikelola secara inklusif, akuntabel, dan transparan, untuk memastikan terjaminnya kebebasan dan hak-hak mendasar milik rakyat.</li><li>Hak digital adalah Hak Asasi Manusia daring yang memungkinkan akses terhadap informasi dan kebebasan berekspresi di tempat yang aman, yang menghormati privasi dan keamanan.</li><li>Hak digital adalah Hak Asasi Manusia yang melekat pada pengguna maupun bukan pengguna TIK (teknologi informasi dan komunikasi). Ia akan memastikan akses ke hak yang sama terhadap informasi, teknologi, dan pengetahuan; bebas dari kekerasan, pengawasan (<em>surveillance</em>), dan diskriminasi; dan menghormati privasi, otonomi dan penentuan nasib sendiri.</li><li>Hak digital adalah HAM daring yang peduli soal akses, partisipasi, keamanan data dan privasi, dengan merengkuh nilai kemanusiaan atas kehormatan, penghargaan, kesetaraan, keadilan, tanggung jawab, kesepakatan (<em>consent</em>) dan keberlangsungan lingkungan hidup.</li><li>Hak digital memberdayakan manusia melawan perusahaan-perusahaan dan mendorong partisipasi yang setara dan adil.</li></ul><p>Jawaban dari Coconet II ini menggemakan jawaban kalimat pendek yang sering kita dengar tentang hak asasi manusia di lingkungan digital di awal artikel ini. Namun jawaban-jawaban ini juga menunjukkan bahwa tidak seperti hak asasi manusia (HAM) yang didefinisikan dengan jelas dan mengikat secara hukum, penafsiran istilah <em>digital</em>, <em>internet</em>, dan <em>teknologi</em> sangatlah beragam, dengan istilah digital terkadang disamakan dengan daring atau terhubung ke internet.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-275272f elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="275272f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-23a74a9" data-id="23a74a9" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-554a039 elementor-widget elementor-widget-text-editor" data-id="554a039" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Istilah lain yang kerap muncul dalam pola dikotomi adalah “nyata (<em>real</em>)” dan “virtual”, yang seolah mengatakan <a href="https://www.journals.uchicago.edu/doi/pdfplus/10.1086/687362">interaksi fisik sebagai lebih “nyata” ketimbang interaksi digital atau “virtual”</a>. Tetapi jika kita membuat asumsi itu, apakah kita mengatakan bahwa semua interaksi digital tidak nyata? Dan apa implikasi dari asumsi ini? Apakah ini menyiratkan bahwa ruang &#8220;virtual&#8221; dan pelecehan daring tidak &#8220;nyata&#8221;? Dan, akibatnya, apakah semua interaksi fisik selalu nyata? Apakah kita bisa menentukan batasan antara daring dan luring dengan tegas, atau apakah keduanya saling memengaruhi, sehingga melibatkan satu sama lain?</p><p>Dari pembahasan singkat di atas, kita dapati muncul berapa istilah terkait yang seringkali dipasangkan sebagai lawan biner. Misalnya: daring &#8211; luring; digital &#8211; analog atau fisik; nyata &#8211; virtual.</p><p>Tentu saja, semua definisi dan asumsi ini terbuka untuk dibahas. Artikel ini tidak bertujuan untuk memberikan jawaban yang definitif atau  komprehensif. Sebaliknya, kita perlu menantang asumsi dan ingin mengajak Anda menjelajahi kompleksitas mendefinisikan hak digital.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f806b9f" data-id="f806b9f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a80a396 elementor-widget elementor-widget-image" data-id="a80a396" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="1024" height="892" src="wp-content/uploads/2020/12/coconet-harun-42-1024x892.jpg" class="attachment-large size-large" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />											<figcaption class="widget-image-caption wp-caption-text">Tengok Coconet.social/Camps untuk menemukan lebih banyak kisah dari sejumlah pendorong perubahan di kawasan Asia Pasifik yang memperjuangkan hak-hak digital.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4f624f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="4f624f2" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e0deaaa" data-id="e0deaaa" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-1c2ae96 elementor-widget elementor-widget-text-editor" data-id="1c2ae96" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h4><strong>Mengenali dan mengonsep kerangka kerja hak digital hak digital</strong></h4><p><a href="https://africaninternetrights.org/articles/">Deklarasi Afrika soal Hak dan Kebebasan Internet</a> merupakan deklarasi berskala luas yang mendalami prinsip-prinsip untuk menegakkan hak-hak rakyat dalam ruang daring, sehingga dapat mempertemukan perkembangan kebutuhan dan tujuan sosial-ekonomi Afrika. Pada 2015, masyarakat sipil Filipina memaklumkan <a href="https://www.fma.ph/ph-declaration-internet-rights-principles/">Deklarasi Prinsip dan Kebebasan Internet Filipina</a>, sebuah deklarasi berkode terbuka yang mencerminkan impian, harapan, dan aspirasi masyarakat Filipina mengenai internet.</p><p>Sementara itu, Organisasi Pendidikan, Ilmu Pengetahuan, dan Kebudayaan PBB (UNESCO) pada 2015 mengidentifikasi <a href="https://unesdoc.unesco.org/ark:/48223/pf0000234435">lebih dari 50 kerangka kerja dan deklarasi khusus Internet</a>. Di tahun yang sama, <a href="https://dash.harvard.edu/handle/1/28552582">Berkman Klein Center for Internet and Society Research</a>, mendapati 30 konstitusi semacam itu beserta 42 daftar hak-hak, yang dikategorisasikan ke dalam tujuh tema. Tiga tema utama yang disoroti karena keluasan cakupannya dalam kerangka kerja tersebut antara lain adalah: kebebasan berekspresi, hak privasi, dan hak untuk mengakses internet. Tema penting lainnya adalah kebebasan informasi, transparansi, dan keterbukaan proses dan jaringan tata kelola internet.</p><h4><strong>Menawarkan empat ruang hak digital</strong></h4><p><a href="https://jun-etan.com/">Jun-E Tan</a>, seorang peneliti independen dan peserta Coconet II dari Malaysia yang telah melakukan penelitian tentang hak digital di sejumlah negara di Asia Tenggara, menunjukkan bagaimana beberapa studi atau dokumen tentang hak digital sebetulnya malah mempersempit ruang lingkup pembahasan menjadi &#8220;dua hingga tiga hak teratas untuk melanjutkan kerja analitis atau advokasi praktis mereka”. Namun tanpa melakukan kerangka konseptualisasi, ujarnya, kita berisiko mengabaikan atau mengorbankan hak-hak asasi yang penting dengan mempedulikan hanya hak-hak yang telah lebih umum dikenal .</p><p>Dalam <a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf">kertas kerja risetnya tahun 2019</a> mengenai hak-hak digital di Asia Tenggara, Jun-E menawarkan untuk memperluas konsep hak digital dengan mempertimbangkan empat ruang cakupan, yakni:</p><ol><li>dengan melihat digital sebagai HAM konvensional di ruang digital;</li><li>dengan melihat digital sebagai representasi data dari entitas fisik, sehingga perlu memfokuskan hak digital pada keamanan dan privasi data;</li><li>akses ke ruang digital dan partisipasi yang bermakna; dan</li><li>partisipasi dalam tata kelola digital atau Internet.</li></ol>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-c40cfbf elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="c40cfbf" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-525d53a" data-id="525d53a" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-78e664a elementor-widget elementor-widget-image" data-id="78e664a" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="602" height="662" src="wp-content/uploads/2020/12/4spheresdigitalrights.png" class="attachment-large size-large" alt="" />											<figcaption class="widget-image-caption wp-caption-text">Sebuah tabel dari tulisan Jun-E tahun 2019 berjudul "Exploring the Nexus Between Technologies and Human Rights: Opportunities and Challenges in Southeast Asia".                      </figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6f43a1d elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="6f43a1d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7b3bbc8" data-id="7b3bbc8" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-41724ea elementor-widget elementor-widget-text-editor" data-id="41724ea" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Tentu saja, kerangka kerja Jun-E bukanlah satu-satunya yang benar, sah, atau <em>valid</em>, namun tawaran kerangka kerjanya baru dibangun dari riset di beberapa negeri Asia Tenggara, khususnya Malaysia, Thailand, dan Filipina. (Untuk mengetahui lebih lanjut tentang seluk-beluk dan tantangan soal konsep hak digital dalam konteks Asia Tenggara, Anda bisa mengakses penelitiannya.)</p><p>Seperti yang telah ditekankan di seluruh artikel ini, ada banyak cara yang bisa digunakan untuk membingkai hak digital, terutama yang berkaitan dengan konteks dan pengalaman yang berbeda di kawasan Asia-Pasifik. Semoga dengan membagikan definisi-definisi di atas dari anggota komunitas Coconet, kami dapat berkontribusi dalam membangun strategi dan gerakan penegakan hak-hak digital — dan memikirkan ulang apa yang mendapat perhatian dan apa yang diabaikan dalam pendefinisian batas-batas hak digital. Jika Anda memiliki ide atau saran, <a href="https://coconet.social/contact/">sudi kiranya mengontak kami</a>.</p><p> </p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-9b066a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="9b066a6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b128aea" data-id="b128aea" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-12a0fe7 elementor-widget elementor-widget-text-editor" data-id="12a0fe7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>Mengenai penulis</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Kathleen Azali adalah Manager Program Hak Digital &#8211; Digital Rights Program Manager of EngageMedia. Dia merupakan periset &amp; aktivis yang melakukan kerja di antara sejumlah bidang informasi, teknologi, desain dan ekonomi politik.</em></p>

		</div> 
	</div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/apa-itu-hak-digital/">Apa itu Hak Digital?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/apa-itu-hak-digital/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>“สิทธิดิจิทัล” คืออะไร?</title>
		<link>https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/</link>
					<comments>https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/#comments</comments>
		
		<dc:creator><![CDATA[kathleen azali]]></dc:creator>
		<pubDate>Thu, 01 Oct 2020 05:24:30 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Uncategorized @th]]></category>
		<category><![CDATA[บล็อก]]></category>
		<category><![CDATA[ไฮไลท์]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[สิทธิทางดิจิทัล]]></category>
		<category><![CDATA[สิทธิมนุษยชน]]></category>
		<guid isPermaLink="false">https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/</guid>

					<description><![CDATA[<p>“สิทธิดิจิทัล” คืออะไร? คำว่า “สิทธิมนุษยชน” มีนิยามที่ชัดเจนตามปฏิญญาสากลว่าด้วยสิทธิมนุษยชน (UDHR) และถูกนำไปประยุกต์ใช้จริงกับกฎหมายจำนวนมาก ขณะที่คำว่า “ดิจิทัล” “เทคโนโลยี” หรือ “อินเทอร์เน็ต” ยังคงเป็นที่ถกเถียง ถูกตีความอย่างกว้างขวางและหลากหลายกว่า</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/">“สิทธิดิจิทัล” คืออะไร?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3536" class="elementor elementor-3536" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-1854fa8c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="1854fa8c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56a5389f" data-id="56a5389f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2cbdb012 elementor-widget elementor-widget-text-editor" data-id="2cbdb012" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="844" src="wp-content/uploads/2020/07/coconet-digital-rights.jpg" class="vc_single_image-img attachment-full" alt="Coconet II Camp Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div>
			<figcaption class="vc_figure-caption">At Coconet II, 120 film-makers, researchers, human rights advocates, technologists, lawyers, academics, and journalists across the region working on issues such as disinformation, fake news, digital security among others. </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เมื่อมีคนถามว่า “อะไรคือสิทธิดิจิทัล?” บ่อยครั้งคำตอบที่ง่ายที่สุดก็คือ “สิทธิมนุษยชนในโลกดิจิทัล” หรือ “<a href="https://eyeondesign.aiga.org/what-is-designs-role-in-violating-or-upholding-digital-rights/">สิทธิมนุษยชนที่เกิดขึ้นผ่านเทคโนโลยีและอินเทอร์เน็ต</a>”</p>
<p>คำว่า “สิทธิมนุษยชน” มีนิยามที่ชัดเจนตาม<a href="https://www.un.org/en/universal-declaration-human-rights/">ปฏิญญาสากลว่าด้วยสิทธิมนุษยชน (UDHR)</a> และถูกนำไปประยุกต์ใช้จริงกับกฎหมายจำนวนมาก ขณะที่คำว่า “ดิจิทัล” “เทคโนโลยี” หรือ “อินเทอร์เน็ต” ยังคงเป็นที่ถกเถียง ถูกตีความอย่างกว้างขวางและหลากหลายกว่า</p>
<p>“ <i>หนังสือ</i>” มักจะใช้ปนกับคำว่า“<i>ออนไลน์</i>” หรือ“ <i>อินเทอร์เน็ต</i>” ทั้งที่จริงๆ ดิจิทัลไม่จำเป็นต้องเชื่อมต่อกับอินเทอร์เน็ตเสมอไป ข้อมูลไบโอเมทริกอย่างการจดจำใบหน้าหรือลายนิ้วมือเป็นหนึ่งในตัวอย่างว่าดิจิทัลไม่ใช่แค่เรื่องที่อยู่บนโลกออนไลน์เท่านั้น</p>
<p>ส่วนคำว่า “<i>เทคโนโลยี</i>” หรือที่เรียกกันสั้นๆ ว่า “เทค” (<i>tech</i>) ในช่วงหลายทศวรรษที่ผ่านมามักหมายถึงเทคโนโลยี<i>ดิจิทัล</i>โดยเฉพาะ ซึ่งดูจะเป็นการมองข้ามคุณค่าและความสำคัญของเทคโนโลย<i>ีอนาล็อก</i>ไป หากคุณลองพิมพ์ค้นหาคำว่า “เทค” ดู ก็จะพบว่าผล การค้นหาเป็นเรื่องดิจิทัลเป็นส่วนใหญ่ แต่ขณะเดียวกัน การถาโถมเข้ามาของเทคโนโลยีดิจิทัลตลอด<a href="https://www.vox.com/2017/5/2/15518900/digital-analog-rediscover-tactile-physical-experiences-vinyl-print">หลายสิบปีที่ผ่านมาก็เริ่มทำให้ใครหลายคนเริ่มโหยหาอดีต</a> เห็นได้จากเทรนด์การกลับมาของสิ่งของตกยุคอย่างแผ่นเสียงและหรือหนังสือกระดาษที่ถูกมองว่าทรงคุณค่า</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>สำรวจนิยาม ความท้าทาย และสมมติฐาน</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ในระหว่าง<a href="/?page_id=1154">ค่ายสิทธิดิจิทัลที่มีชื่อว่า “Coconet II”</a> เมื่อเดือนตุลาคมปี 2562 เราได้ให้ผู้เข้าร่วมทั้ง 120 คนช่วยกันนิยามสิทธิดิจิทัลในบริบทของภูมิภาคเอเชีย-แปซิฟิก แน่นอนว่าคำตอบที่ได้นั้นหลากหลายมาก ดังต่อไปนี้</p>

		</div> 
	</div> <div class='q_list circle'>
<ul>
 	<li>สิทธิดิจิทัลคือการใช้สิทธิมนุษยชนสากลในพื้นที่ดิจิทัล</li>
 	<li>สิทธิดิจิทัลคือสิทธิในการแสดงออกในพื้นที่ดิจิทัลที่เน้นเรื่องความปลอดภัย ความเป็นส่วนตัว มั่นคง และยั่งยืน</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานที่ติดตัวมาตั้งแต่เกิด ซึ่งส่งเสริมการเปิดกว้าง การเข้าถึงสาธารณูปโภคและข้อมูลอย่างเท่าเทียมกัน สิทธิดิจิทัลรับประกันการควบคุม อำนาจเหนือตนเอง ตัวแทนของมนุษย์ และป้องกันการทำให้มนุษยชาติถูกนำมาแปลงเป็นเงินตราหรือถูกผูกขาด</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานในสภาพแวดล้อมแบบดิจิทัล มักเกี่ยวข้องกับทั้งเสรีภาพในการพูด เสรีภาพในการแสดงออก การรวมกลุ่ม การรวมตัว การเข้าถึงอุปกรณ์อินเทอร์เน็ต สิทธิในการเข้าถึงข้อมูลและแพลตฟอร์ม (เช่น เฟซบุ๊ก ทวิตเตอร์ และอื่นๆ) ไปจนถึงการเข้าถึงพื้นที่ปลอดภัยบนสังคมออนไลน์ ความมั่นคง ความปลอดภัย และความเท่าเทียม</li>
 	<li>สิทธิดิจิทัลคือส่วนหนึ่งของสิทธิมนุษยชนที่รับรองว่าทุกคนจะสามารถเข้าถึงอินเทอร์เน็ตที่ถูกจัดการแบบเปิดกว้าง รับผิดชอบ และโปร่งใส เพื่อรับประกันสิทธิเสรีภาพของประชาชน โดยไม่คำนึงถึงเพศ รสนิยมทางเพศ อายุ เชื้อชาติ และอื่นๆ</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนแบบออนไลน์ซึ่งเอื้อให้เกิดการเข้าถึงข้อมูลและเสรีภาพในการแสดงออกในพื้นที่ปลอดภัย เคารพความเป็นส่วนตัวและความปลอดภัย</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนที่มีตามธรรมชาติ ทั้งสำหรับผู้ใช้เทคโนโลยีสารสนเทศ (ICT) และผู้ที่ไม่ได้ใช้ รวมไปถึงการรับรองการเข้าถึงสิทธิที่เท่าเทียมกันในการเข้าถึงข้อมูล เทคโนโลยี และองค์ความรู้ ปราศจากความรุนแรง การสอดแนม และการเลือกปฏิบัติ ตลอดจนเคารพความเป็นส่วนตัว อำนาจเหนือตนเอง และการตัดสินใจด้วยตนเอง</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนออนไลน์ที่เกี่ยวข้องกับการเข้าถึง การมีส่วนร่วม ความปลอดภัยของข้อมูล และความเป็นส่วนตัว ด้วยค่านิยมที่ยึดมนุษย์เป็นศูนย์กลางทั้งเรื่องศักดิ์ศรี ความเคารพ ความเท่าเทียม ความยุติธรรม ความรับผิดชอบ ความยินยอม และความยั่งยืนทางสิ่งแวดล้อม</li>
 	<li>สิทธิดิจิทัลให้ความสำคัญกับมนุษย์มากกว่าบริษัทเอกชน และควรกระตุ้นการมีส่วนร่วมอย่างยุติธรรมและเท่าเทียม</li>
</ul>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>หลากหลายคำตอบจาก Coconet II เหล่านี้ตอกย้ำใจความสำคัญที่เราอ้างไว้ตั้งแต่ต้นว่าสิทธิดิจิทัลคือสิทธิมนุษยชนในโลกดิจิทัล <i>อินเทอร์เน็ต</i> <i>เทคโนโลยี</i> มีความหลากหลายอย่างมากเมื่อเทียบกับการตีความสิทธิมนุษยชน โดย<i>ดิจิทัล</i>ถูกตีความร่วมกับโลกออนไลน์และการเชื่อมต่ออินเทอร์เน็ตอยู่บ่อยครั้ง</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ศัพท์อีกสองคำที่มักถูกใช้ปะปนกันคือ “จริง” และ “เสมือนจริง” ซึ่งมีนัยยะว่า<a href="https://www.journals.uchicago.edu/doi/pdfplus/10.1086/687362">การปฏิสัมพันธ์ทางกายภาพนั้น “จริง” กว่าการปฏิสัมพันธ์แบบ “เสมือนจริง” บนโลกดิจิทัล</a> แต่ถ้าใช้สมมติฐานนี้ แสดงว่าการปฏิสัมพันธ์ดิจิทัลทุกอย่างไม่เป็นเรื่องจริงหรือไม่? นัยยะสำคัญของสมมติฐานนี้คืออะไร? มันจะหมายความว่าการคุกคามออนไลน์ไม่ถือเป็นการคุกคามจริงๆ ได้หรือเปล่า? แล้วถ้าเป็นแบบนั้น การปฏิสัมพันธ์ทางกายภาพถือว่าเป็นจริงทั้งหมดทุกกรณีหรือไม่? โลกออนไลน์และออฟไลน์มีเส้นแบ่งที่ชัดเจนเสมอหรือว่ามันเกี่ยวโยงและมีอิทธิพลต่อกัน?</p>
<p>ยิ่งไปกว่านั้น ยังต้องคำถามอื่นๆ อีกมากมายที่ฟังดูอาจเหมือนง่ายแต่ไม่ง่ายรอให้เราตอบอีกมากมาย มาถึงตรงนี้คุณอาจระบุคำตรงข้ามทางดิจิทัลได้บ้างแล้ว เช่น ออนไลน์-ออฟไลน์ ดิจิทัล-อนาล็อก จริง-เสมือนจริง เป็นต้น แต่ผู้เขียนมองว่าโลกดิจิทัลมีความหลากหลายมากกว่าการตีความแบบขั้วตรงข้ามที่มีแค่สองด้าน</p>
<p>คำนิยามและสมมติฐานเหล่านี้เปิดกว้างต่อการอภิปรายถกเถียง บทความนี้ไม่ได้มีเป้าหมายเพื่อให้คำตอบที่สมบูรณ์ แต่เพื่อท้าทายความคิดของเรา และเพื่อพิจารณาความยุ่งเหยิงซับซ้อนในการตีความด้านสิทธิดิจิทัล ผู้เขียนตระหนักเป็นอย่างดีว่าการให้คำนิยามเรื่องนี้มีความหลากหลายแตกต่างกันออกไปอย่างมาก</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="http://coconet.social/camps" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="1307" src="wp-content/uploads/2019/11/coconet-harun-42.jpg" class="vc_single_image-img attachment-full" alt="Defend Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div></a>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>ศึกษาข้อมูลเพิ่มเติมเกี่ยวกับการต่อสู้ด้านสิทธิดิจิทัลของผู้นำการเปลี่ยนแปลงในเอเชีย-แปซิฟิกได้ที่ <a href="/?page_id=1154">Coconet.social/Camps</a></em></p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ระบุขอบเขตและสร้างกรอบคิด</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่ามีความพยายามมากมายทั้งในระดับโลก ภูมิภาค และท้องถิ่นในการแจกแจงองค์ประกอบต่างๆ ของสิทธิดิจิทัล ยกตัวอย่างเช่น กฎบัตรสิทธิทางอินเทอร์เน็ตของ <a href="https://www.apc.org/en/pubs/about-apc/apc-internet-rights-charter">APC (APC Internet Rights Charter)</a> และกฎบัตรสิทธิมนุษยชนและหลักการอินเทอร์เน็ต (<a href="http://internetrightsandprinciples.org/site/charter/">Charter of Human Rights and Principles for the Internet</a>) โดยภาคีพลวัตสิทธิและหลักการอินเทอร์เน็ต ณ การประชุมธรรมาภิบาลอินเทอร์เน็ตของสหประชาชาติ the UN Internet Governance Forum (IGF) กฎบัตรทั้งสองได้วางโครงสร้างว่ามาตรฐานด้านสิทธิมนุษยชนจะถูกนำมาตีความและประยุกต์ใช้กับโลกออนไลน์อย่างไรบ้าง</p>
<p>ขณะที่ปฏิญญาแอฟริกาว่าด้วยสิทธิและเสรีภาพอินเทอร์เน็ต (<a href="https://africaninternetrights.org/articles/">The African Declaration on Internet Rights and Freedoms</a>) เป็นข้อตกลงระดับภูมิภาคที่อธิบายหลักการที่จำเป็นในการปกป้องเสรีภาพบนอินเทอร์เน็ต ตลอดจนการสร้างสภาพแวดล้อมออนไลน์ที่จะเป็นประโยชน์ต่อการพัฒนาทางสังคมและเศรษฐกิจของทวีปแอฟริกาโดยเฉพาะ ส่วนภาคประชาสังคมในฟิลิปปินส์ก็เคยประกาศ<a href="https://www.fma.ph/ph-declaration-internet-rights-principles/">ปฏิญญาฟิลิปปินส์ว่าด้วยเสรีภาพและหลักการอินเทอร์เน็ต (the Philippine Declaration on Internet Rights and Principles)</a> เมื่อปี 2558 ซึ่งเป็นการระดมกำลังเพื่อสะท้อนความฝันและความหวังถึงอินเทอร์เน็ตที่พวกเขาอยากเห็น</p>
<p>การศึกษาขององค์การการศึกษา วิทยาศาสตร์ และวัฒนธรรมแห่งสหประชาชาติ (UNESCO) เมื่อปี 2015 พบว่า<a href="https://unesdoc.unesco.org/ark:/48223/pf0000234435">มีปฏิญญาและเอกสารแนวทางที่เกี่ยวข้องกับอินเทอร์เน็ตมากกว่า 50 ฉบับด้วยกัน</a> และในปีเดียวกันนั้น <a href="https://dash.harvard.edu/handle/1/28552582">ศูนย์เบิร์กแมนไคลน์เพื่อการวิจัยอินเทอร์เน็ตและสังคม (Berkman Klein Center for Internet and Society Research)</a> ได้วิเคราะห์เอกสารลักษณะนี้รวม 30 ฉบับด้วยกัน โดยพบว่ามีสิทธิที่เกี่ยวข้องในเรื่องนี้อยู่ 42 ประการด้วยกัน สามารถแบ่งออกได้เป็น 7 กลุ่มหลัก ได้แก่ เสรีภาพในการแสดงออก สิทธิความเป็นส่วนตัว และสิทธิการเข้าถึงอินเทอร์เน็ต ซึ่งเป็นสามกลุ่มที่ถูกพูดถึงมากที่สุด นอกจากนี้ ยังมีเรื่องเสรีภาพในการเข้าถึงข้อมูล ความโปร่งใส การเปิดกว้างของระบบธรรมาภิบาลและเครือข่ายอินเทอร์เน็ต</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ข้อเสนอ: สิทธิดิจิทัลสี่ขอบเขต</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://jun-etan.com/">Jun-E Tan</a>ผู้เข้าร่วม Coconet II จากประเทศมาเลเซีย ซึ่งมีประสบการณ์วิจัยด้านสิทธิดิจิทัลในอาเซียน ระบุว่าการศึกษาและงานวิจัยต่างๆ เกี่ยวกับสิทธิดิจิทัลมักจะเลือกหยิบสิทธิแค่ 2-3 ประการที่เป็นประโยชน์มาศึกษา เพื่อประโยชน์ในการวิเคราะห์และงานรณรงค์ของพวกเขาเท่านั้น โดยเธอระบุว่าถ้าปราศจากขอบเขตกรอบคิดเรื่องสิทธิดิจิทัลแล้ว เราอาจจะหลงลืมหรือมองข้ามสิทธิประการอื่นๆ ที่ก็อาจมีความสำคัญไม่แพ้กันไปได้</p>
<p>ใน<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf">งานวิจัยเกี่ยวกับสิทธิดิจิทัลในอาเซียนเมื่อปี 2019</a> Jun-E เสนอให้มีการขยายกรอบคิดเรื่องสิทธิดิจิทัลเป็น 4 ขอบเขตด้วยกัน คือ</p>

		</div> 
	</div> <div class='q_list circle'>
<ol>
 	<li>การมองว่าดิจิทัลเป็นพื้นที่ๆ หนึ่ง ดังนั้น สิทธิดิจิทัลก็คือสิทธิมนุษยชนในพื้นที่ดิจิทัล</li>
 	<li>การมองว่าดิจิทัลเป็นข้อมูลตัวแทนของตัวตนทางกายภาพ ดังนั้น สิทธิดิจิทัลจึงพุ่งเป้าไปที่ความปลอดภัยทางข้อมูลและความเป็นส่วนตัว</li>
 	<li>การเข้าถึงพื้นที่ดิจิทัลและการมีส่วนร่วมอย่างมีความหมาย</li>
 	<li>การมีส่วนร่วมในระบบธรรมาภิบาลดิจิทัลและอินเทอร์เน็ต</li>
</ol>
</div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="602" height="662" src="wp-content/uploads/2020/07/4spheresdigitalrights.png" class="vc_single_image-img attachment-full" alt="" /></div></a>
			<figcaption class="vc_figure-caption">ตารางจากวิจัยของ Jun-E ที่ชื่อว่า &quot;Exploring the Nexus Between Technologies and Human Rights: Opportunities and Challenges in Southeast Asia&quot;</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่าข้อเสนอของ Jun-E ไม่อาจสรุปเป็นกรอบความคิดที่ครอบคลุมทุกประเด็นได้ เพราะต้องคำนึงว่ากรอบคิดของเธอสร้างมาจากการศึกษาวิจัยจากประเทศมาเลเซีย ไทย และฟิลิปปินส์เท่านั้น (คุณสามารถอ่านงานวิจัยของเธอเพื่อศึกษาเพิ่มเติมเกี่ยวกับความซับซ้อนและความท้าทายในการสร้างกรอบคิดเรื่องสิทธิดิจิทัลในบริบทอาเซียนได้)</p>
<p>อย่างที่ผู้เขียนได้กล่าวมาแล้วหลายครั้งข้างต้นว่ามีความพยายามที่จะระบุนิยามและสร้างกรอบคิดเรื่องสิทธิดิจิทัลที่หลากหลายในแต่ละมุมโลก ซึ่งรวมถึงบริบทของภูมิภาคเอเชีย-แปซิฟิกด้วย เราจึงหวังเป็นอย่างยิ่งว่าการแลกเปลี่ยนและร่วมแบ่งปันความคิดเห็นจากผู้เข้าร่วม Coconet จะช่วยกันสร้างกลยุทธ์และขบวนการขับเคลื่อนประเด็นเรื่องสิทธิดิจิทัล ตลอดจนยังได้ทบทวนความคิดเกี่ยวกับขอบเขตของสิทธิดิจิทัลได้มากขึ้นในอนาคต ซึ่งถ้าคุณมีข้อเสนอหรือไอเดียใดที่น่าสนใจ <a href="/?page_id=248">สามารถบอกเราได้เลย</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>เกี่ยวกับผู้เขียน</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Kathleen Azali ปัจจุบันทำงานในตำแหน่ง Digital Rights Program Manager ที่องค์กร EngageMedia เธอเป็นนักวิจัยสายนักกิจกรรมที่ทำงานในประเด็นเกี่ยวข้องกับเทคโนโลยี การออกแบบ และเศรษฐศาสตร์การเมือง</p>

		</div> 
	</div> </div></div></div></div></div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/">“สิทธิดิจิทัล” คืออะไร?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>“สิทธิดิจิทัล” คืออะไร?</title>
		<link>https://coconet.social/2020/digital-rights-exploring-definitions-th/</link>
					<comments>https://coconet.social/2020/digital-rights-exploring-definitions-th/#respond</comments>
		
		<dc:creator><![CDATA[kathleen azali]]></dc:creator>
		<pubDate>Thu, 01 Oct 2020 05:24:25 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[สิทธิทางดิจิทัล]]></category>
		<category><![CDATA[สิทธิมนุษยชน]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5531</guid>

					<description><![CDATA[<p>“สิทธิดิจิทัล” คืออะไร? คำว่า “สิทธิมนุษยชน” มีนิยามที่ชัดเจนตามปฏิญญาสากลว่าด้วยสิทธิมนุษยชน (UDHR) และถูกนำไปประยุกต์ใช้จริงกับกฎหมายจำนวนมาก ขณะที่คำว่า “ดิจิทัล” “เทคโนโลยี” หรือ “อินเทอร์เน็ต” ยังคงเป็นที่ถกเถียง ถูกตีความอย่างกว้างขวางและหลากหลายกว่า</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/digital-rights-exploring-definitions-th/">“สิทธิดิจิทัล” คืออะไร?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="5531" class="elementor elementor-5531" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-5532bd1 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="5532bd1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-01ff14c" data-id="01ff14c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-bd83e7d elementor-widget elementor-widget-text-editor" data-id="bd83e7d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3 style="text-align: center;"><em>Read this Article in</em> <a href="https://coconet.social/2020/digital-rights-exploring-definitions/">English</a> / <em>อ่านบทความนี้ใน <a href="https://coconet.social/2020/digital-rights-exploring-definitions/">ภาษาอังกฤษ</a></em></h3><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="844" src="wp-content/uploads/2020/07/coconet-digital-rights.jpg" class="vc_single_image-img attachment-full" alt="Coconet II Camp Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div>
			<figcaption class="vc_figure-caption">At Coconet II, 120 film-makers, researchers, human rights advocates, technologists, lawyers, academics, and journalists across the region working on issues such as disinformation, fake news, digital security among others. </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div><div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เมื่อมีคนถามว่า “อะไรคือสิทธิดิจิทัล?” บ่อยครั้งคำตอบที่ง่ายที่สุดก็คือ “สิทธิมนุษยชนในโลกดิจิทัล” หรือ “<a href="https://eyeondesign.aiga.org/what-is-designs-role-in-violating-or-upholding-digital-rights/">สิทธิมนุษยชนที่เกิดขึ้นผ่านเทคโนโลยีและอินเทอร์เน็ต</a>”</p>
<p> </p>
<p>คำว่า “สิทธิมนุษยชน” มีนิยามที่ชัดเจนตาม<a href="https://www.un.org/en/universal-declaration-human-rights/">ปฏิญญาสากลว่าด้วยสิทธิมนุษยชน (UDHR)</a> และถูกนำไปประยุกต์ใช้จริงกับกฎหมายจำนวนมาก ขณะที่คำว่า “ดิจิทัล” “เทคโนโลยี” หรือ “อินเทอร์เน็ต” ยังคงเป็นที่ถกเถียง ถูกตีความอย่างกว้างขวางและหลากหลายกว่า</p>
<p>“ <i>หนังสือ</i>” มักจะใช้ปนกับคำว่า“<i>ออนไลน์</i>” หรือ“ <i>อินเทอร์เน็ต</i>” ทั้งที่จริงๆ ดิจิทัลไม่จำเป็นต้องเชื่อมต่อกับอินเทอร์เน็ตเสมอไป ข้อมูลไบโอเมทริกอย่างการจดจำใบหน้าหรือลายนิ้วมือเป็นหนึ่งในตัวอย่างว่าดิจิทัลไม่ใช่แค่เรื่องที่อยู่บนโลกออนไลน์เท่านั้น</p>
<p>ส่วนคำว่า “<i>เทคโนโลยี</i>” หรือที่เรียกกันสั้นๆ ว่า “เทค” (<i>tech</i>) ในช่วงหลายทศวรรษที่ผ่านมามักหมายถึงเทคโนโลยี<i>ดิจิทัล</i>โดยเฉพาะ ซึ่งดูจะเป็นการมองข้ามคุณค่าและความสำคัญของเทคโนโลย<i>ีอนาล็อก</i>ไป หากคุณลองพิมพ์ค้นหาคำว่า “เทค” ดู ก็จะพบว่าผล การค้นหาเป็นเรื่องดิจิทัลเป็นส่วนใหญ่ แต่ขณะเดียวกัน การถาโถมเข้ามาของเทคโนโลยีดิจิทัลตลอด<a href="https://www.vox.com/2017/5/2/15518900/digital-analog-rediscover-tactile-physical-experiences-vinyl-print">หลายสิบปีที่ผ่านมาก็เริ่มทำให้ใครหลายคนเริ่มโหยหาอดีต</a> เห็นได้จากเทรนด์การกลับมาของสิ่งของตกยุคอย่างแผ่นเสียงและหรือหนังสือกระดาษที่ถูกมองว่าทรงคุณค่า</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>สำรวจนิยาม ความท้าทาย และสมมติฐาน</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ในระหว่าง<a href="/?page_id=1154">ค่ายสิทธิดิจิทัลที่มีชื่อว่า “Coconet II”</a> เมื่อเดือนตุลาคมปี 2562 เราได้ให้ผู้เข้าร่วมทั้ง 120 คนช่วยกันนิยามสิทธิดิจิทัลในบริบทของภูมิภาคเอเชีย-แปซิฟิก แน่นอนว่าคำตอบที่ได้นั้นหลากหลายมาก ดังต่อไปนี้</p>

		</div> 
	</div> <div class='q_list circle'></p><ul><li>สิทธิดิจิทัลคือการใช้สิทธิมนุษยชนสากลในพื้นที่ดิจิทัล</li><li>สิทธิดิจิทัลคือสิทธิในการแสดงออกในพื้นที่ดิจิทัลที่เน้นเรื่องความปลอดภัย ความเป็นส่วนตัว มั่นคง และยั่งยืน</li><li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานที่ติดตัวมาตั้งแต่เกิด ซึ่งส่งเสริมการเปิดกว้าง การเข้าถึงสาธารณูปโภคและข้อมูลอย่างเท่าเทียมกัน สิทธิดิจิทัลรับประกันการควบคุม อำนาจเหนือตนเอง ตัวแทนของมนุษย์ และป้องกันการทำให้มนุษยชาติถูกนำมาแปลงเป็นเงินตราหรือถูกผูกขาด</li><li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานในสภาพแวดล้อมแบบดิจิทัล มักเกี่ยวข้องกับทั้งเสรีภาพในการพูด เสรีภาพในการแสดงออก การรวมกลุ่ม การรวมตัว การเข้าถึงอุปกรณ์อินเทอร์เน็ต สิทธิในการเข้าถึงข้อมูลและแพลตฟอร์ม (เช่น เฟซบุ๊ก ทวิตเตอร์ และอื่นๆ) ไปจนถึงการเข้าถึงพื้นที่ปลอดภัยบนสังคมออนไลน์ ความมั่นคง ความปลอดภัย และความเท่าเทียม</li><li>สิทธิดิจิทัลคือส่วนหนึ่งของสิทธิมนุษยชนที่รับรองว่าทุกคนจะสามารถเข้าถึงอินเทอร์เน็ตที่ถูกจัดการแบบเปิดกว้าง รับผิดชอบ และโปร่งใส เพื่อรับประกันสิทธิเสรีภาพของประชาชน โดยไม่คำนึงถึงเพศ รสนิยมทางเพศ อายุ เชื้อชาติ และอื่นๆ</li><li>สิทธิดิจิทัลคือสิทธิมนุษยชนแบบออนไลน์ซึ่งเอื้อให้เกิดการเข้าถึงข้อมูลและเสรีภาพในการแสดงออกในพื้นที่ปลอดภัย เคารพความเป็นส่วนตัวและความปลอดภัย</li><li>สิทธิดิจิทัลคือสิทธิมนุษยชนที่มีตามธรรมชาติ ทั้งสำหรับผู้ใช้เทคโนโลยีสารสนเทศ (ICT) และผู้ที่ไม่ได้ใช้ รวมไปถึงการรับรองการเข้าถึงสิทธิที่เท่าเทียมกันในการเข้าถึงข้อมูล เทคโนโลยี และองค์ความรู้ ปราศจากความรุนแรง การสอดแนม และการเลือกปฏิบัติ ตลอดจนเคารพความเป็นส่วนตัว อำนาจเหนือตนเอง และการตัดสินใจด้วยตนเอง</li><li>สิทธิดิจิทัลคือสิทธิมนุษยชนออนไลน์ที่เกี่ยวข้องกับการเข้าถึง การมีส่วนร่วม ความปลอดภัยของข้อมูล และความเป็นส่วนตัว ด้วยค่านิยมที่ยึดมนุษย์เป็นศูนย์กลางทั้งเรื่องศักดิ์ศรี ความเคารพ ความเท่าเทียม ความยุติธรรม ความรับผิดชอบ ความยินยอม และความยั่งยืนทางสิ่งแวดล้อม</li><li>สิทธิดิจิทัลให้ความสำคัญกับมนุษย์มากกว่าบริษัทเอกชน และควรกระตุ้นการมีส่วนร่วมอย่างยุติธรรมและเท่าเทียม</li></ul><p></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>หลากหลายคำตอบจาก Coconet II เหล่านี้ตอกย้ำใจความสำคัญที่เราอ้างไว้ตั้งแต่ต้นว่าสิทธิดิจิทัลคือสิทธิมนุษยชนในโลกดิจิทัล <i>อินเทอร์เน็ต</i> <i>เทคโนโลยี</i> มีความหลากหลายอย่างมากเมื่อเทียบกับการตีความสิทธิมนุษยชน โดย<i>ดิจิทัล</i>ถูกตีความร่วมกับโลกออนไลน์และการเชื่อมต่ออินเทอร์เน็ตอยู่บ่อยครั้ง</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ศัพท์อีกสองคำที่มักถูกใช้ปะปนกันคือ “จริง” และ “เสมือนจริง” ซึ่งมีนัยยะว่า<a href="https://www.journals.uchicago.edu/doi/pdfplus/10.1086/687362">การปฏิสัมพันธ์ทางกายภาพนั้น “จริง” กว่าการปฏิสัมพันธ์แบบ “เสมือนจริง” บนโลกดิจิทัล</a> แต่ถ้าใช้สมมติฐานนี้ แสดงว่าการปฏิสัมพันธ์ดิจิทัลทุกอย่างไม่เป็นเรื่องจริงหรือไม่? นัยยะสำคัญของสมมติฐานนี้คืออะไร? มันจะหมายความว่าการคุกคามออนไลน์ไม่ถือเป็นการคุกคามจริงๆ ได้หรือเปล่า? แล้วถ้าเป็นแบบนั้น การปฏิสัมพันธ์ทางกายภาพถือว่าเป็นจริงทั้งหมดทุกกรณีหรือไม่? โลกออนไลน์และออฟไลน์มีเส้นแบ่งที่ชัดเจนเสมอหรือว่ามันเกี่ยวโยงและมีอิทธิพลต่อกัน?</p>
<p>ยิ่งไปกว่านั้น ยังต้องคำถามอื่นๆ อีกมากมายที่ฟังดูอาจเหมือนง่ายแต่ไม่ง่ายรอให้เราตอบอีกมากมาย มาถึงตรงนี้คุณอาจระบุคำตรงข้ามทางดิจิทัลได้บ้างแล้ว เช่น ออนไลน์-ออฟไลน์ ดิจิทัล-อนาล็อก จริง-เสมือนจริง เป็นต้น แต่ผู้เขียนมองว่าโลกดิจิทัลมีความหลากหลายมากกว่าการตีความแบบขั้วตรงข้ามที่มีแค่สองด้าน</p>
<p>คำนิยามและสมมติฐานเหล่านี้เปิดกว้างต่อการอภิปรายถกเถียง บทความนี้ไม่ได้มีเป้าหมายเพื่อให้คำตอบที่สมบูรณ์ แต่เพื่อท้าทายความคิดของเรา และเพื่อพิจารณาความยุ่งเหยิงซับซ้อนในการตีความด้านสิทธิดิจิทัล ผู้เขียนตระหนักเป็นอย่างดีว่าการให้คำนิยามเรื่องนี้มีความหลากหลายแตกต่างกันออกไปอย่างมาก</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="http://coconet.social/camps" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="1307" src="wp-content/uploads/2019/11/coconet-harun-42.jpg" class="vc_single_image-img attachment-full" alt="Defend Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div></a>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>ศึกษาข้อมูลเพิ่มเติมเกี่ยวกับการต่อสู้ด้านสิทธิดิจิทัลของผู้นำการเปลี่ยนแปลงในเอเชีย-แปซิฟิกได้ที่ <a href="/?page_id=1154">Coconet.social/Camps</a></em></p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ระบุขอบเขตและสร้างกรอบคิด</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่ามีความพยายามมากมายทั้งในระดับโลก ภูมิภาค และท้องถิ่นในการแจกแจงองค์ประกอบต่างๆ ของสิทธิดิจิทัล ยกตัวอย่างเช่น กฎบัตรสิทธิทางอินเทอร์เน็ตของ <a href="https://www.apc.org/en/pubs/about-apc/apc-internet-rights-charter">APC (APC Internet Rights Charter)</a> และกฎบัตรสิทธิมนุษยชนและหลักการอินเทอร์เน็ต (<a href="http://internetrightsandprinciples.org/site/charter/">Charter of Human Rights and Principles for the Internet</a>) โดยภาคีพลวัตสิทธิและหลักการอินเทอร์เน็ต ณ การประชุมธรรมาภิบาลอินเทอร์เน็ตของสหประชาชาติ the UN Internet Governance Forum (IGF) กฎบัตรทั้งสองได้วางโครงสร้างว่ามาตรฐานด้านสิทธิมนุษยชนจะถูกนำมาตีความและประยุกต์ใช้กับโลกออนไลน์อย่างไรบ้าง</p>
<p>ขณะที่ปฏิญญาแอฟริกาว่าด้วยสิทธิและเสรีภาพอินเทอร์เน็ต (<a href="https://africaninternetrights.org/articles/">The African Declaration on Internet Rights and Freedoms</a>) เป็นข้อตกลงระดับภูมิภาคที่อธิบายหลักการที่จำเป็นในการปกป้องเสรีภาพบนอินเทอร์เน็ต ตลอดจนการสร้างสภาพแวดล้อมออนไลน์ที่จะเป็นประโยชน์ต่อการพัฒนาทางสังคมและเศรษฐกิจของทวีปแอฟริกาโดยเฉพาะ ส่วนภาคประชาสังคมในฟิลิปปินส์ก็เคยประกาศ<a href="https://www.fma.ph/ph-declaration-internet-rights-principles/">ปฏิญญาฟิลิปปินส์ว่าด้วยเสรีภาพและหลักการอินเทอร์เน็ต (the Philippine Declaration on Internet Rights and Principles)</a> เมื่อปี 2558 ซึ่งเป็นการระดมกำลังเพื่อสะท้อนความฝันและความหวังถึงอินเทอร์เน็ตที่พวกเขาอยากเห็น</p>
<p>การศึกษาขององค์การการศึกษา วิทยาศาสตร์ และวัฒนธรรมแห่งสหประชาชาติ (UNESCO) เมื่อปี 2015 พบว่า<a href="https://unesdoc.unesco.org/ark:/48223/pf0000234435">มีปฏิญญาและเอกสารแนวทางที่เกี่ยวข้องกับอินเทอร์เน็ตมากกว่า 50 ฉบับด้วยกัน</a> และในปีเดียวกันนั้น <a href="https://dash.harvard.edu/handle/1/28552582">ศูนย์เบิร์กแมนไคลน์เพื่อการวิจัยอินเทอร์เน็ตและสังคม (Berkman Klein Center for Internet and Society Research)</a> ได้วิเคราะห์เอกสารลักษณะนี้รวม 30 ฉบับด้วยกัน โดยพบว่ามีสิทธิที่เกี่ยวข้องในเรื่องนี้อยู่ 42 ประการด้วยกัน สามารถแบ่งออกได้เป็น 7 กลุ่มหลัก ได้แก่ เสรีภาพในการแสดงออก สิทธิความเป็นส่วนตัว และสิทธิการเข้าถึงอินเทอร์เน็ต ซึ่งเป็นสามกลุ่มที่ถูกพูดถึงมากที่สุด นอกจากนี้ ยังมีเรื่องเสรีภาพในการเข้าถึงข้อมูล ความโปร่งใส การเปิดกว้างของระบบธรรมาภิบาลและเครือข่ายอินเทอร์เน็ต</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ข้อเสนอ: สิทธิดิจิทัลสี่ขอบเขต</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://jun-etan.com/">Jun-E Tan</a>ผู้เข้าร่วม Coconet II จากประเทศมาเลเซีย ซึ่งมีประสบการณ์วิจัยด้านสิทธิดิจิทัลในอาเซียน ระบุว่าการศึกษาและงานวิจัยต่างๆ เกี่ยวกับสิทธิดิจิทัลมักจะเลือกหยิบสิทธิแค่ 2-3 ประการที่เป็นประโยชน์มาศึกษา เพื่อประโยชน์ในการวิเคราะห์และงานรณรงค์ของพวกเขาเท่านั้น โดยเธอระบุว่าถ้าปราศจากขอบเขตกรอบคิดเรื่องสิทธิดิจิทัลแล้ว เราอาจจะหลงลืมหรือมองข้ามสิทธิประการอื่นๆ ที่ก็อาจมีความสำคัญไม่แพ้กันไปได้</p>
<p>ใน<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf">งานวิจัยเกี่ยวกับสิทธิดิจิทัลในอาเซียนเมื่อปี 2019</a> Jun-E เสนอให้มีการขยายกรอบคิดเรื่องสิทธิดิจิทัลเป็น 4 ขอบเขตด้วยกัน คือ</p>

		</div> 
	</div> <div class='q_list circle'></p><ol><li>การมองว่าดิจิทัลเป็นพื้นที่ๆ หนึ่ง ดังนั้น สิทธิดิจิทัลก็คือสิทธิมนุษยชนในพื้นที่ดิจิทัล</li><li>การมองว่าดิจิทัลเป็นข้อมูลตัวแทนของตัวตนทางกายภาพ ดังนั้น สิทธิดิจิทัลจึงพุ่งเป้าไปที่ความปลอดภัยทางข้อมูลและความเป็นส่วนตัว</li><li>การเข้าถึงพื้นที่ดิจิทัลและการมีส่วนร่วมอย่างมีความหมาย</li><li>การมีส่วนร่วมในระบบธรรมาภิบาลดิจิทัลและอินเทอร์เน็ต</li></ol><p></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="602" height="662" src="wp-content/uploads/2020/07/4spheresdigitalrights.png" class="vc_single_image-img attachment-full" alt="" /></div></a>
			<figcaption class="vc_figure-caption">ตารางจากวิจัยของ Jun-E ที่ชื่อว่า &quot;Exploring the Nexus Between Technologies and Human Rights: Opportunities and Challenges in Southeast Asia&quot;</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่าข้อเสนอของ Jun-E ไม่อาจสรุปเป็นกรอบความคิดที่ครอบคลุมทุกประเด็นได้ เพราะต้องคำนึงว่ากรอบคิดของเธอสร้างมาจากการศึกษาวิจัยจากประเทศมาเลเซีย ไทย และฟิลิปปินส์เท่านั้น (คุณสามารถอ่านงานวิจัยของเธอเพื่อศึกษาเพิ่มเติมเกี่ยวกับความซับซ้อนและความท้าทายในการสร้างกรอบคิดเรื่องสิทธิดิจิทัลในบริบทอาเซียนได้)</p>
<p>อย่างที่ผู้เขียนได้กล่าวมาแล้วหลายครั้งข้างต้นว่ามีความพยายามที่จะระบุนิยามและสร้างกรอบคิดเรื่องสิทธิดิจิทัลที่หลากหลายในแต่ละมุมโลก ซึ่งรวมถึงบริบทของภูมิภาคเอเชีย-แปซิฟิกด้วย เราจึงหวังเป็นอย่างยิ่งว่าการแลกเปลี่ยนและร่วมแบ่งปันความคิดเห็นจากผู้เข้าร่วม Coconet จะช่วยกันสร้างกลยุทธ์และขบวนการขับเคลื่อนประเด็นเรื่องสิทธิดิจิทัล ตลอดจนยังได้ทบทวนความคิดเกี่ยวกับขอบเขตของสิทธิดิจิทัลได้มากขึ้นในอนาคต ซึ่งถ้าคุณมีข้อเสนอหรือไอเดียใดที่น่าสนใจ <a href="/?page_id=248">สามารถบอกเราได้เลย</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>เกี่ยวกับผู้เขียน</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Kathleen Azali ปัจจุบันทำงานในตำแหน่ง Digital Rights Program Manager ที่องค์กร EngageMedia เธอเป็นนักวิจัยสายนักกิจกรรมที่ทำงานในประเด็นเกี่ยวข้องกับเทคโนโลยี การออกแบบ และเศรษฐศาสตร์การเมือง</p>

		</div> 
	</div> </div></div></div></div></div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-7c65637 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="7c65637" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4c3c536" data-id="4c3c536" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-bad6091 elementor-widget elementor-widget-text-editor" data-id="bad6091" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="844" src="wp-content/uploads/2020/07/coconet-digital-rights.jpg" class="vc_single_image-img attachment-full" alt="Coconet II Camp Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div>
			<figcaption class="vc_figure-caption">At Coconet II, 120 film-makers, researchers, human rights advocates, technologists, lawyers, academics, and journalists across the region working on issues such as disinformation, fake news, digital security among others. </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เมื่อมีคนถามว่า “อะไรคือสิทธิดิจิทัล?” บ่อยครั้งคำตอบที่ง่ายที่สุดก็คือ “สิทธิมนุษยชนในโลกดิจิทัล” หรือ “<a href="https://eyeondesign.aiga.org/what-is-designs-role-in-violating-or-upholding-digital-rights/">สิทธิมนุษยชนที่เกิดขึ้นผ่านเทคโนโลยีและอินเทอร์เน็ต</a>”</p>
<p>คำว่า “สิทธิมนุษยชน” มีนิยามที่ชัดเจนตาม<a href="https://www.un.org/en/universal-declaration-human-rights/">ปฏิญญาสากลว่าด้วยสิทธิมนุษยชน (UDHR)</a> และถูกนำไปประยุกต์ใช้จริงกับกฎหมายจำนวนมาก ขณะที่คำว่า “ดิจิทัล” “เทคโนโลยี” หรือ “อินเทอร์เน็ต” ยังคงเป็นที่ถกเถียง ถูกตีความอย่างกว้างขวางและหลากหลายกว่า</p>
<p>“ <i>หนังสือ</i>” มักจะใช้ปนกับคำว่า“<i>ออนไลน์</i>” หรือ“ <i>อินเทอร์เน็ต</i>” ทั้งที่จริงๆ ดิจิทัลไม่จำเป็นต้องเชื่อมต่อกับอินเทอร์เน็ตเสมอไป ข้อมูลไบโอเมทริกอย่างการจดจำใบหน้าหรือลายนิ้วมือเป็นหนึ่งในตัวอย่างว่าดิจิทัลไม่ใช่แค่เรื่องที่อยู่บนโลกออนไลน์เท่านั้น</p>
<p>ส่วนคำว่า “<i>เทคโนโลยี</i>” หรือที่เรียกกันสั้นๆ ว่า “เทค” (<i>tech</i>) ในช่วงหลายทศวรรษที่ผ่านมามักหมายถึงเทคโนโลยี<i>ดิจิทัล</i>โดยเฉพาะ ซึ่งดูจะเป็นการมองข้ามคุณค่าและความสำคัญของเทคโนโลย<i>ีอนาล็อก</i>ไป หากคุณลองพิมพ์ค้นหาคำว่า “เทค” ดู ก็จะพบว่าผล การค้นหาเป็นเรื่องดิจิทัลเป็นส่วนใหญ่ แต่ขณะเดียวกัน การถาโถมเข้ามาของเทคโนโลยีดิจิทัลตลอด<a href="https://www.vox.com/2017/5/2/15518900/digital-analog-rediscover-tactile-physical-experiences-vinyl-print">หลายสิบปีที่ผ่านมาก็เริ่มทำให้ใครหลายคนเริ่มโหยหาอดีต</a> เห็นได้จากเทรนด์การกลับมาของสิ่งของตกยุคอย่างแผ่นเสียงและหรือหนังสือกระดาษที่ถูกมองว่าทรงคุณค่า</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>สำรวจนิยาม ความท้าทาย และสมมติฐาน</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ในระหว่าง<a href="/?page_id=1154">ค่ายสิทธิดิจิทัลที่มีชื่อว่า “Coconet II”</a> เมื่อเดือนตุลาคมปี 2562 เราได้ให้ผู้เข้าร่วมทั้ง 120 คนช่วยกันนิยามสิทธิดิจิทัลในบริบทของภูมิภาคเอเชีย-แปซิฟิก แน่นอนว่าคำตอบที่ได้นั้นหลากหลายมาก ดังต่อไปนี้</p>

		</div> 
	</div> <div class='q_list circle'>
<ul>
 	<li>สิทธิดิจิทัลคือการใช้สิทธิมนุษยชนสากลในพื้นที่ดิจิทัล</li>
 	<li>สิทธิดิจิทัลคือสิทธิในการแสดงออกในพื้นที่ดิจิทัลที่เน้นเรื่องความปลอดภัย ความเป็นส่วนตัว มั่นคง และยั่งยืน</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานที่ติดตัวมาตั้งแต่เกิด ซึ่งส่งเสริมการเปิดกว้าง การเข้าถึงสาธารณูปโภคและข้อมูลอย่างเท่าเทียมกัน สิทธิดิจิทัลรับประกันการควบคุม อำนาจเหนือตนเอง ตัวแทนของมนุษย์ และป้องกันการทำให้มนุษยชาติถูกนำมาแปลงเป็นเงินตราหรือถูกผูกขาด</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานในสภาพแวดล้อมแบบดิจิทัล มักเกี่ยวข้องกับทั้งเสรีภาพในการพูด เสรีภาพในการแสดงออก การรวมกลุ่ม การรวมตัว การเข้าถึงอุปกรณ์อินเทอร์เน็ต สิทธิในการเข้าถึงข้อมูลและแพลตฟอร์ม (เช่น เฟซบุ๊ก ทวิตเตอร์ และอื่นๆ) ไปจนถึงการเข้าถึงพื้นที่ปลอดภัยบนสังคมออนไลน์ ความมั่นคง ความปลอดภัย และความเท่าเทียม</li>
 	<li>สิทธิดิจิทัลคือส่วนหนึ่งของสิทธิมนุษยชนที่รับรองว่าทุกคนจะสามารถเข้าถึงอินเทอร์เน็ตที่ถูกจัดการแบบเปิดกว้าง รับผิดชอบ และโปร่งใส เพื่อรับประกันสิทธิเสรีภาพของประชาชน โดยไม่คำนึงถึงเพศ รสนิยมทางเพศ อายุ เชื้อชาติ และอื่นๆ</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนแบบออนไลน์ซึ่งเอื้อให้เกิดการเข้าถึงข้อมูลและเสรีภาพในการแสดงออกในพื้นที่ปลอดภัย เคารพความเป็นส่วนตัวและความปลอดภัย</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนที่มีตามธรรมชาติ ทั้งสำหรับผู้ใช้เทคโนโลยีสารสนเทศ (ICT) และผู้ที่ไม่ได้ใช้ รวมไปถึงการรับรองการเข้าถึงสิทธิที่เท่าเทียมกันในการเข้าถึงข้อมูล เทคโนโลยี และองค์ความรู้ ปราศจากความรุนแรง การสอดแนม และการเลือกปฏิบัติ ตลอดจนเคารพความเป็นส่วนตัว อำนาจเหนือตนเอง และการตัดสินใจด้วยตนเอง</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนออนไลน์ที่เกี่ยวข้องกับการเข้าถึง การมีส่วนร่วม ความปลอดภัยของข้อมูล และความเป็นส่วนตัว ด้วยค่านิยมที่ยึดมนุษย์เป็นศูนย์กลางทั้งเรื่องศักดิ์ศรี ความเคารพ ความเท่าเทียม ความยุติธรรม ความรับผิดชอบ ความยินยอม และความยั่งยืนทางสิ่งแวดล้อม</li>
 	<li>สิทธิดิจิทัลให้ความสำคัญกับมนุษย์มากกว่าบริษัทเอกชน และควรกระตุ้นการมีส่วนร่วมอย่างยุติธรรมและเท่าเทียม</li>
</ul>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>หลากหลายคำตอบจาก Coconet II เหล่านี้ตอกย้ำใจความสำคัญที่เราอ้างไว้ตั้งแต่ต้นว่าสิทธิดิจิทัลคือสิทธิมนุษยชนในโลกดิจิทัล <i>อินเทอร์เน็ต</i> <i>เทคโนโลยี</i> มีความหลากหลายอย่างมากเมื่อเทียบกับการตีความสิทธิมนุษยชน โดย<i>ดิจิทัล</i>ถูกตีความร่วมกับโลกออนไลน์และการเชื่อมต่ออินเทอร์เน็ตอยู่บ่อยครั้ง</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ศัพท์อีกสองคำที่มักถูกใช้ปะปนกันคือ “จริง” และ “เสมือนจริง” ซึ่งมีนัยยะว่า<a href="https://www.journals.uchicago.edu/doi/pdfplus/10.1086/687362">การปฏิสัมพันธ์ทางกายภาพนั้น “จริง” กว่าการปฏิสัมพันธ์แบบ “เสมือนจริง” บนโลกดิจิทัล</a> แต่ถ้าใช้สมมติฐานนี้ แสดงว่าการปฏิสัมพันธ์ดิจิทัลทุกอย่างไม่เป็นเรื่องจริงหรือไม่? นัยยะสำคัญของสมมติฐานนี้คืออะไร? มันจะหมายความว่าการคุกคามออนไลน์ไม่ถือเป็นการคุกคามจริงๆ ได้หรือเปล่า? แล้วถ้าเป็นแบบนั้น การปฏิสัมพันธ์ทางกายภาพถือว่าเป็นจริงทั้งหมดทุกกรณีหรือไม่? โลกออนไลน์และออฟไลน์มีเส้นแบ่งที่ชัดเจนเสมอหรือว่ามันเกี่ยวโยงและมีอิทธิพลต่อกัน?</p>
<p>ยิ่งไปกว่านั้น ยังต้องคำถามอื่นๆ อีกมากมายที่ฟังดูอาจเหมือนง่ายแต่ไม่ง่ายรอให้เราตอบอีกมากมาย มาถึงตรงนี้คุณอาจระบุคำตรงข้ามทางดิจิทัลได้บ้างแล้ว เช่น ออนไลน์-ออฟไลน์ ดิจิทัล-อนาล็อก จริง-เสมือนจริง เป็นต้น แต่ผู้เขียนมองว่าโลกดิจิทัลมีความหลากหลายมากกว่าการตีความแบบขั้วตรงข้ามที่มีแค่สองด้าน</p>
<p>คำนิยามและสมมติฐานเหล่านี้เปิดกว้างต่อการอภิปรายถกเถียง บทความนี้ไม่ได้มีเป้าหมายเพื่อให้คำตอบที่สมบูรณ์ แต่เพื่อท้าทายความคิดของเรา และเพื่อพิจารณาความยุ่งเหยิงซับซ้อนในการตีความด้านสิทธิดิจิทัล ผู้เขียนตระหนักเป็นอย่างดีว่าการให้คำนิยามเรื่องนี้มีความหลากหลายแตกต่างกันออกไปอย่างมาก</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="http://coconet.social/camps" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="1307" src="wp-content/uploads/2019/11/coconet-harun-42.jpg" class="vc_single_image-img attachment-full" alt="Defend Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div></a>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>ศึกษาข้อมูลเพิ่มเติมเกี่ยวกับการต่อสู้ด้านสิทธิดิจิทัลของผู้นำการเปลี่ยนแปลงในเอเชีย-แปซิฟิกได้ที่ <a href="/?page_id=1154">Coconet.social/Camps</a></em></p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ระบุขอบเขตและสร้างกรอบคิด</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่ามีความพยายามมากมายทั้งในระดับโลก ภูมิภาค และท้องถิ่นในการแจกแจงองค์ประกอบต่างๆ ของสิทธิดิจิทัล ยกตัวอย่างเช่น กฎบัตรสิทธิทางอินเทอร์เน็ตของ <a href="https://www.apc.org/en/pubs/about-apc/apc-internet-rights-charter">APC (APC Internet Rights Charter)</a> และกฎบัตรสิทธิมนุษยชนและหลักการอินเทอร์เน็ต (<a href="http://internetrightsandprinciples.org/site/charter/">Charter of Human Rights and Principles for the Internet</a>) โดยภาคีพลวัตสิทธิและหลักการอินเทอร์เน็ต ณ การประชุมธรรมาภิบาลอินเทอร์เน็ตของสหประชาชาติ the UN Internet Governance Forum (IGF) กฎบัตรทั้งสองได้วางโครงสร้างว่ามาตรฐานด้านสิทธิมนุษยชนจะถูกนำมาตีความและประยุกต์ใช้กับโลกออนไลน์อย่างไรบ้าง</p>
<p>ขณะที่ปฏิญญาแอฟริกาว่าด้วยสิทธิและเสรีภาพอินเทอร์เน็ต (<a href="https://africaninternetrights.org/articles/">The African Declaration on Internet Rights and Freedoms</a>) เป็นข้อตกลงระดับภูมิภาคที่อธิบายหลักการที่จำเป็นในการปกป้องเสรีภาพบนอินเทอร์เน็ต ตลอดจนการสร้างสภาพแวดล้อมออนไลน์ที่จะเป็นประโยชน์ต่อการพัฒนาทางสังคมและเศรษฐกิจของทวีปแอฟริกาโดยเฉพาะ ส่วนภาคประชาสังคมในฟิลิปปินส์ก็เคยประกาศ<a href="https://www.fma.ph/ph-declaration-internet-rights-principles/">ปฏิญญาฟิลิปปินส์ว่าด้วยเสรีภาพและหลักการอินเทอร์เน็ต (the Philippine Declaration on Internet Rights and Principles)</a> เมื่อปี 2558 ซึ่งเป็นการระดมกำลังเพื่อสะท้อนความฝันและความหวังถึงอินเทอร์เน็ตที่พวกเขาอยากเห็น</p>
<p>การศึกษาขององค์การการศึกษา วิทยาศาสตร์ และวัฒนธรรมแห่งสหประชาชาติ (UNESCO) เมื่อปี 2015 พบว่า<a href="https://unesdoc.unesco.org/ark:/48223/pf0000234435">มีปฏิญญาและเอกสารแนวทางที่เกี่ยวข้องกับอินเทอร์เน็ตมากกว่า 50 ฉบับด้วยกัน</a> และในปีเดียวกันนั้น <a href="https://dash.harvard.edu/handle/1/28552582">ศูนย์เบิร์กแมนไคลน์เพื่อการวิจัยอินเทอร์เน็ตและสังคม (Berkman Klein Center for Internet and Society Research)</a> ได้วิเคราะห์เอกสารลักษณะนี้รวม 30 ฉบับด้วยกัน โดยพบว่ามีสิทธิที่เกี่ยวข้องในเรื่องนี้อยู่ 42 ประการด้วยกัน สามารถแบ่งออกได้เป็น 7 กลุ่มหลัก ได้แก่ เสรีภาพในการแสดงออก สิทธิความเป็นส่วนตัว และสิทธิการเข้าถึงอินเทอร์เน็ต ซึ่งเป็นสามกลุ่มที่ถูกพูดถึงมากที่สุด นอกจากนี้ ยังมีเรื่องเสรีภาพในการเข้าถึงข้อมูล ความโปร่งใส การเปิดกว้างของระบบธรรมาภิบาลและเครือข่ายอินเทอร์เน็ต</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ข้อเสนอ: สิทธิดิจิทัลสี่ขอบเขต</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://jun-etan.com/">Jun-E Tan</a>ผู้เข้าร่วม Coconet II จากประเทศมาเลเซีย ซึ่งมีประสบการณ์วิจัยด้านสิทธิดิจิทัลในอาเซียน ระบุว่าการศึกษาและงานวิจัยต่างๆ เกี่ยวกับสิทธิดิจิทัลมักจะเลือกหยิบสิทธิแค่ 2-3 ประการที่เป็นประโยชน์มาศึกษา เพื่อประโยชน์ในการวิเคราะห์และงานรณรงค์ของพวกเขาเท่านั้น โดยเธอระบุว่าถ้าปราศจากขอบเขตกรอบคิดเรื่องสิทธิดิจิทัลแล้ว เราอาจจะหลงลืมหรือมองข้ามสิทธิประการอื่นๆ ที่ก็อาจมีความสำคัญไม่แพ้กันไปได้</p>
<p>ใน<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf">งานวิจัยเกี่ยวกับสิทธิดิจิทัลในอาเซียนเมื่อปี 2019</a> Jun-E เสนอให้มีการขยายกรอบคิดเรื่องสิทธิดิจิทัลเป็น 4 ขอบเขตด้วยกัน คือ</p>

		</div> 
	</div> <div class='q_list circle'>
<ol>
 	<li>การมองว่าดิจิทัลเป็นพื้นที่ๆ หนึ่ง ดังนั้น สิทธิดิจิทัลก็คือสิทธิมนุษยชนในพื้นที่ดิจิทัล</li>
 	<li>การมองว่าดิจิทัลเป็นข้อมูลตัวแทนของตัวตนทางกายภาพ ดังนั้น สิทธิดิจิทัลจึงพุ่งเป้าไปที่ความปลอดภัยทางข้อมูลและความเป็นส่วนตัว</li>
 	<li>การเข้าถึงพื้นที่ดิจิทัลและการมีส่วนร่วมอย่างมีความหมาย</li>
 	<li>การมีส่วนร่วมในระบบธรรมาภิบาลดิจิทัลและอินเทอร์เน็ต</li>
</ol>
</div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="602" height="662" src="wp-content/uploads/2020/07/4spheresdigitalrights.png" class="vc_single_image-img attachment-full" alt="" /></div></a>
			<figcaption class="vc_figure-caption">ตารางจากวิจัยของ Jun-E ที่ชื่อว่า &quot;Exploring the Nexus Between Technologies and Human Rights: Opportunities and Challenges in Southeast Asia&quot;</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่าข้อเสนอของ Jun-E ไม่อาจสรุปเป็นกรอบความคิดที่ครอบคลุมทุกประเด็นได้ เพราะต้องคำนึงว่ากรอบคิดของเธอสร้างมาจากการศึกษาวิจัยจากประเทศมาเลเซีย ไทย และฟิลิปปินส์เท่านั้น (คุณสามารถอ่านงานวิจัยของเธอเพื่อศึกษาเพิ่มเติมเกี่ยวกับความซับซ้อนและความท้าทายในการสร้างกรอบคิดเรื่องสิทธิดิจิทัลในบริบทอาเซียนได้)</p>
<p>อย่างที่ผู้เขียนได้กล่าวมาแล้วหลายครั้งข้างต้นว่ามีความพยายามที่จะระบุนิยามและสร้างกรอบคิดเรื่องสิทธิดิจิทัลที่หลากหลายในแต่ละมุมโลก ซึ่งรวมถึงบริบทของภูมิภาคเอเชีย-แปซิฟิกด้วย เราจึงหวังเป็นอย่างยิ่งว่าการแลกเปลี่ยนและร่วมแบ่งปันความคิดเห็นจากผู้เข้าร่วม Coconet จะช่วยกันสร้างกลยุทธ์และขบวนการขับเคลื่อนประเด็นเรื่องสิทธิดิจิทัล ตลอดจนยังได้ทบทวนความคิดเกี่ยวกับขอบเขตของสิทธิดิจิทัลได้มากขึ้นในอนาคต ซึ่งถ้าคุณมีข้อเสนอหรือไอเดียใดที่น่าสนใจ <a href="/?page_id=248">สามารถบอกเราได้เลย</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>เกี่ยวกับผู้เขียน</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Kathleen Azali ปัจจุบันทำงานในตำแหน่ง Digital Rights Program Manager ที่องค์กร EngageMedia เธอเป็นนักวิจัยสายนักกิจกรรมที่ทำงานในประเด็นเกี่ยวข้องกับเทคโนโลยี การออกแบบ และเศรษฐศาสตร์การเมือง</p>

		</div> 
	</div> </div></div></div></div></div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/digital-rights-exploring-definitions-th/">“สิทธิดิจิทัล” คืออะไร?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/digital-rights-exploring-definitions-th/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>What are digital rights?</title>
		<link>https://coconet.social/2020/digital-rights-exploring-definitions/</link>
					<comments>https://coconet.social/2020/digital-rights-exploring-definitions/#comments</comments>
		
		<dc:creator><![CDATA[kathleen azali]]></dc:creator>
		<pubDate>Mon, 03 Aug 2020 02:30:00 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[Human Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2259</guid>

					<description><![CDATA[<p>What are digital rights? While human rights have been more clearly defined through the UN Declaration of Human Rights (UDHR) and translated into various legally-binding laws, the same cannot be said for the terms “digital”, “technology”, or the “internet”. In unpacking these terms, we’ll find the interpretations vary much more widely.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/digital-rights-exploring-definitions/">What are digital rights?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="2259" class="elementor elementor-2259" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-c02e531 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="c02e531" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6804ad2" data-id="6804ad2" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4d028230 elementor-widget elementor-widget-text-editor" data-id="4d028230" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3 style="text-align: center;"><em>Read this Article in</em> <a href="https://coconet.social/2020/digital-rights-exploring-definitions-th/">THAI</a> / <em>อ่านบทความนี้ใน</em> <a href="https://coconet.social/2020/digital-rights-exploring-definitions-th/">ภาษาไทย</a></h3><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="844" src="wp-content/uploads/2020/07/coconet-digital-rights.jpg" class="vc_single_image-img attachment-full" alt="Coconet II Camp Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div>
			<figcaption class="vc_figure-caption">At Coconet II, 120 film-makers, researchers, human rights advocates, technologists, lawyers, academics, and journalists across the region working on issues such as disinformation, fake news, digital security among others. </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Oftentimes, the simplest one-sentence reply to the question, “What are digital rights?”, is “human rights in the digital environment”, or “<a href="https://eyeondesign.aiga.org/what-is-designs-role-in-violating-or-upholding-digital-rights/">human rights that are enabled through technology and the internet</a>”.</p>
<p>While human rights have been more clearly defined through the <a href="https://www.un.org/en/universal-declaration-human-rights/">UN Declaration of Human Rights</a> (UDHR) and translated into various legally binding laws, the same cannot be said for the terms “digital”, “technology”, or the “internet”. In unpacking these terms, we’ll find the interpretations vary much more widely.</p>
<p>For example, the term <i>digital</i> is often conflated with <i>online</i> or the <i>internet</i>. But not everything digital is always connected to the internet. Biometric data, such as facial recognition and fingerprint checking at border crossings, is one example of how the digital may not be online or connected to the internet.</p>
<p>Meanwhile, the term <i>technology</i>, especially the shorthand version <i>tech</i>, in recent decades is often equated to <i>digital</i> technologies, frequently neglecting and undervaluing <i>analogue</i> tech along with their interrelations. (Try typing in “tech” on your search engine, and see how the majority of the results point to digital tech.) Or, sometimes, it’s the other way around, especially after feeling overwhelmed by <a href="https://www.vox.com/2017/5/2/15518900/digital-analog-rediscover-tactile-physical-experiences-vinyl-print">decades of digital deluge</a>. A common example is how vinyl records and printed books are often romanticised as being more genuine and authentic than their digital counterparts.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Exploring definitions, challenging assumptions</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the<a href="https://coconet.social/camps/"> Coconet II digital rights camp</a> in October last year, we asked 120 changemakers to define digital rights in the Asia-Pacific context. Unsurprisingly, they came up with a variety of definitions:</p>

		</div> 
	</div> <div class='q_list circle'></p><ul><li>Digital rights are the exercise of universal human rights in digital spaces.</li><li>Digital rights are the right to express yourself in a safe, private, secure, and sustainable digital space.</li><li>Digital rights are fundamental and inherited human rights that promote inclusion, equality, access to infrastructure, and information. Digital rights ensure control, autonomy, and agency of humans while protecting against the privatisation, monopolisation, and monetisation of humanity.</li><li>Digital rights are fundamental human rights in the digital environment. It is about free speech or expression, association and assembly, access to internet devices, rights and access to information, access to platforms (i.e. Facebook, Twitter, and more), online safe space, security and safety, privacy and data protection, gender-responsiveness and anti-discrimination, and equality.</li><li>Digital rights are a set of universal human rights that ensures everybody – regardless of their gender, age, race, sexuality, and more – has equal access to an open internet that is governed in an inclusive, accountable, and transparent manner to ensure peoples’ fundamental freedoms and rights.</li><li>Digital rights are human rights online which allow access to information and freedom of expression in a safe space that respects privacy and security.</li><li>Digital rights are human rights which are inherent for ICT (information and communications technology) users and non-users. They ensure access to equal rights to information, technology, and knowledge; being free from violence, surveillance and discrimination; and respects privacy, autonomy and self-determination.</li><li>Digital rights are human rights online that concern access, participation, data security, and privacy, with the human-centred values of dignity, respect, equality, justice, responsibility, consent, and environmental sustainability.</li><li>Digital rights empower humans over companies and should encourage equal and just participation.</li></ul><p></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>These answers from Coconet II echo the one-sentence reply that we often hear about human rights in the digital environment mentioned at the beginning of this article. They also show how, unlike the clearly defined and legally binding human rights, the interpretations of the terms <i>digital</i>, <i>internet</i>, and <i>technology</i> vary considerably, with digital sometimes equated with being online or connected to the internet.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Another pair of terms that often get mixed up is “real” and “virtual”, which imply that <a href="https://www.journals.uchicago.edu/doi/pdfplus/10.1086/687362">physical interactions are more “real” than digital, “virtual” interactions</a>. But if we’re making that assumption, are we saying that all digital interactions are not real? And what is the implication of this assumption? Does it imply that “virtual” spaces and online harassment are not “real”? And, consequently, are all physical interactions always real? Is the boundary between online and offline always clearly defined, or do they influence and implicate each other?</p>
<p>These are some seemingly simple but tricky questions to answer. We can already identify some pertinent terms often paired as binary opposites – though I’d prefer to put them at opposite ends of a spectrum. For instance: online – offline; digital – analog or physical; real – virtual.</p>
<p>Of course, all these definitions and assumptions are open for discussion. This article does not aim to give a comprehensive answer. Rather, it aims to challenge our assumptions and explore the complexities and intricacies in defining digital rights, knowing that there is a diversity of definitions that can arise.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="http://coconet.social/camps" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="1307" src="wp-content/uploads/2019/11/coconet-harun-42.jpg" class="vc_single_image-img attachment-full" alt="Defend Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div></a>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>Check out <a href="https://coconet.social/camps">Coconet.social/Camps</a> to find out more about how changemakers in the Asia-Pacific are fighting for digital rights.</em></p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Identifying and conceptualising frameworks</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Indeed, there are various global, regional, and local initiatives that expound on digital rights’ various elements. For example, there are the <a href="https://www.apc.org/en/pubs/about-apc/apc-internet-rights-charter">APC Internet Rights Charter</a> and the<a href="http://internetrightsandprinciples.org/site/charter/"> Charter of Human Rights and Principles for the Internet</a> by the Internet Rights and Principles Dynamic Coalition at the UN Internet Governance Forum (IGF). Both Charters outline how human rights standards should be interpreted to apply to the online environment.</p>
<p><a href="https://africaninternetrights.org/articles/">The African Declaration on Internet Rights and Freedoms</a> is a region-wide declaration that elaborates the principles necessary to uphold people’s rights on the internet, cultivating an online environment that can best meet Africa’s social and economic development needs and goals. In 2015, civil society in the Philippines promulgated the <a href="https://www.fma.ph/ph-declaration-internet-rights-principles/">Philippine Declaration on Internet Rights and Principles</a>, a crowdsourced declaration that reflects the dreams, hopes, and aspirations of Filipinos of what their internet should be.</p>
<p>The United Nations Educational, Scientific and Cultural Organisation (UNESCO) in 2015 in fact identified<a href="https://unesdoc.unesco.org/ark:/48223/pf0000234435"> more than 50 Internet-specific declarations and frameworks</a>. Within the same year, the <a href="https://dash.harvard.edu/handle/1/28552582">Berkman Klein Center for Internet and Society Research</a>, identified 30 such constitutions and a list of 42 rights, categorising them into seven themes. Across these frameworks, freedom of expression, privacy rights, and the right to access the internet were the three prominent themes most often featured. Other important themes were freedom of information, transparency, and openness of internet governance processes and networks.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Proposing four spheres of digital rights</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://jun-etan.com/">Jun-E Tan</a>, a Coconet II participant from Malaysia who has been doing research on digital rights in a number of countries in Southeast Asia, has pointed out how some studies or documents on digital rights have chosen to expediently narrow down their scope to “to the top two to three rights and to move along with their analytical work or practical advocacy”. But without a conceptualising framework, she says, we risk foregoing or excluding important rights at the expense of including only prominent ones.</p>
<p>In a <a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf">2019 research paper</a> about digital rights in Southeast Asia, Jun-E proposed to expand the conceptualisation of digital rights by thinking in four spheres:</p>

		</div> 
	</div> <div class='q_list circle'></p><ol><li>through viewing the digital as a space/spaces and thus digital rights as a translation of conventional rights to digital spaces;</li><li>through viewing the digital as data representation of physical entities, therefore focusing digital rights on data security and privacy;</li><li>access to digital spaces and meaningful participation; and</li><li>participation in the governance of the digital or the Internet.</li></ol><p></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="602" height="662" src="wp-content/uploads/2020/07/4spheresdigitalrights.png" class="vc_single_image-img attachment-full" alt="" /></div></a>
			<figcaption class="vc_figure-caption">Table from Jun-E&#039;s 2019 paper, &quot;Exploring the Nexus Between Technologies and Human Rights: Opportunities and Challenges in Southeast Asia&quot;.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Of course, Jun-E’s framework is not the only valid one, and her proposed framework was built from research in selected countries in Southeast Asia, particularly in Malaysia, Thailand, and the Philippines. (For more on the intricacies and challenges in conceptualising digital rights in the Southeast Asian context, we encourage you to check out her research.)</p>
<p>As has been stressed throughout this article, there are numerous ways by which we can frame digital rights, particularly with respect to different contexts and experiences in the Asia-Pacific region.  Hopefully, by sharing the above definitions from members of the Coconet community, we can contribute to building strategies and movements for digital rights – and rethinking what we’re including and excluding in defining the boundaries of digital rights. If you have more ideas or suggestions, <a href="https://coconet.social/contact/">please get in touch</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><i>Kathleen Azali is the Digital Rights Program Manager of EngageMedia. She is an activist-researcher whose work intersects the fields of information, technology, design, and political economy.</i></p>

		</div> 
	</div> </div></div></div></div></div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/digital-rights-exploring-definitions/">What are digital rights?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/digital-rights-exploring-definitions/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
