<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Security and Well-Being of Activists	</title>
	<atom:link href="https://coconet.social/2019/security-and-well-being-of-activists/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2019/security-and-well-being-of-activists/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 22 Apr 2020 01:59:42 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Coconet Digital Rights		</title>
		<link>https://coconet.social/2019/security-and-well-being-of-activists/#comment-21</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet Digital Rights]]></dc:creator>
		<pubDate>Wed, 22 Apr 2020 01:59:42 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=742#comment-21</guid>

					<description><![CDATA[[&#8230;] Security and well-being of activists [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Security and well-being of activists [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
