<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Singing about global issues – and COVID-19 – with the Marapu community	</title>
	<atom:link href="https://coconet.social/2020/indonesia-marapu-song/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/indonesia-marapu-song/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Sun, 06 Dec 2020 02:20:40 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: COVID-19 Tune Educates, Empowers Indonesia’s Remote Marapu Community by Fendi Widianto &#38; Joseph Lamont - SEA Junction		</title>
		<link>https://coconet.social/2020/indonesia-marapu-song/#comment-53</link>

		<dc:creator><![CDATA[COVID-19 Tune Educates, Empowers Indonesia’s Remote Marapu Community by Fendi Widianto &#38; Joseph Lamont - SEA Junction]]></dc:creator>
		<pubDate>Sun, 06 Dec 2020 02:20:40 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1417#comment-53</guid>

					<description><![CDATA[[&#8230;] story is a shortened adapted version of the article by Fendi Widianto and Joseph Lamont from EngageMedia, a non-profit media, technology and culture [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] story is a shortened adapted version of the article by Fendi Widianto and Joseph Lamont from EngageMedia, a non-profit media, technology and culture [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Rising Voices &#187; COVID-19 tune educates, empowers Indonesia’s remote Marapu community		</title>
		<link>https://coconet.social/2020/indonesia-marapu-song/#comment-34</link>

		<dc:creator><![CDATA[Rising Voices &#187; COVID-19 tune educates, empowers Indonesia’s remote Marapu community]]></dc:creator>
		<pubDate>Fri, 12 Jun 2020 16:27:17 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1417#comment-34</guid>

					<description><![CDATA[[&#8230;] article by Fendi Widianto and Joseph Lamont is from EngageMedia, a non-profit media, technology and culture [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] article by Fendi Widianto and Joseph Lamont is from EngageMedia, a non-profit media, technology and culture [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: COVID-19 tune educates, empowers Indonesia’s remote Marapu community · Global Voices &#8211; BehindMLM: The latest MLM &#38; World News		</title>
		<link>https://coconet.social/2020/indonesia-marapu-song/#comment-33</link>

		<dc:creator><![CDATA[COVID-19 tune educates, empowers Indonesia’s remote Marapu community · Global Voices &#8211; BehindMLM: The latest MLM &#38; World News]]></dc:creator>
		<pubDate>Fri, 29 May 2020 06:19:52 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1417#comment-33</guid>

					<description><![CDATA[[&#8230;] article by Fendi Widianto and Joseph Lamont is from EngageMedia, a non-profit media, technology and culture [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] article by Fendi Widianto and Joseph Lamont is from EngageMedia, a non-profit media, technology and culture [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
