<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Sara Pacia &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/sarapacia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 24 Feb 2021 07:19:54 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Sara Pacia &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Digital security and safety resources in Burmese now available in one database</title>
		<link>https://coconet.social/2021/myanmar-digital-security-safety-resources/</link>
					<comments>https://coconet.social/2021/myanmar-digital-security-safety-resources/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Thu, 18 Feb 2021 03:20:55 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital Safety]]></category>
		<category><![CDATA[Digital Security]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4884</guid>

					<description><![CDATA[<p>In support of the people of Myanmar protesting against the human and digital rights violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a list of digital security and safety resources in the Burmese language.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4886" style="width: 710px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4886" class="size-medium wp-image-4886" src="wp-content/uploads/2021/02/Digital-Tea-House-700x311.png" alt="" width="700" height="311" sizes="(max-width: 700px) 100vw, 700px" /><p id="caption-attachment-4886" class="wp-caption-text">A screenshot from the Digital Tea House campaign by MIDO</p></div>
<p>&nbsp;</p>
<p>In support of the people of Myanmar protesting against the <a href="https://globalvoices.org/2021/02/01/what-happened-in-myanmar-on-the-first-day-of-the-coup/">human</a> and <a href="https://engagemedia.org/2021/myanmar-digital-rights-democracy/">digital rights</a> violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a <em><strong><a href="https://gitlab.com/digisea/myanmar-burmese">list of digital security resources in Burmese</a></strong></em>. Localising digital safety resources are more important than ever, as Myanmar is on the brink of passing a controversial <a href="https://www.article19.org/resources/myanmar-scrap-cyber-security-draft-law-and-restore-full-internet-connectivity/">Cyber Security Bill</a> that will further restrict internet access and freedom of expression online.</p>
<p>Among the contributors to this living Gitlab repository are the following Coconet community members: <a href="https://myanmarido.org/">Myanmar ICT Development Organisation</a> (MIDO), <a href="http://freeexpressionmyanmar.org/">Free Expression Myanmar</a>, and <a href="https://www.facebook.com/witnessasia/">WITNESS Asia</a>.</p>
<p>As of posting, you can access the following resources in the Burmese language.</p>
<ol>
<li><a href="https://digitalteahouse.info/">Digital Tea House</a>, a campaign by MIDO to promote digital safety awareness in Myanmar</li>
<li>A <a href="http://freeexpressionmyanmar.org/wp-content/uploads/2021/02/myanmar-protesters-toolkit.pdf">Myanmar Protesters Toolkit</a> by Free Expression Myanmar</li>
<li>Mini guides by WITNESS on <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/VIDEO%20AS%20EVIDENCE-MINI%20GUIDES%20in%20Burmese.pdf">using video as evidence of human and digital rights abuses</a></li>
<li>A <a href="https://drive.google.com/file/d/1sTuOjE-HUCHEQlcNHMdWicbD0yu9Nzbb/view">risk mitigation and management guide</a> promoted by MIDO that details communication strategies for frontline journalists and others in Myanmar in case of internet disruption</li>
</ol>
<p>Aside from these guides, you can also access another <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/">list of guides and readings from other organisations that have been localised in Burmese</a>. Protestos.org has also translated some of its <a href="https://protestos.org/my.html">guides on protesting</a> to Burmese.</p>
<p>If you would like to contribute a resource to this space, please contact us at <a href="mailto:contribute@coconet.social">contribute@coconet.social</a>. The Gitlab will be updated as more resources are curated and verified.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-digital-security-safety-resources/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</title>
		<link>https://coconet.social/2020/tech-tales-digital-rights-films/</link>
					<comments>https://coconet.social/2020/tech-tales-digital-rights-films/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Tue, 22 Dec 2020 08:03:49 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Films]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4445</guid>

					<description><![CDATA[<p>EngageMedia invites filmmakers, video journalists, and animators across the Asia-Pacific to produce short films on important digital rights issues happening in our region, as told with our voices and from our perspectives.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/tech-tales-digital-rights-films/">Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><img class="aligncenter wp-image-4447 size-large" src="wp-content/uploads/2020/12/Call-for-Applications_-Tech-Tales_1920x1080-1024x576.jpg" alt="" width="1024" height="576" sizes="(max-width: 1024px) 100vw, 1024px" /></p>
<p>EngageMedia invites filmmakers, video journalists, and animators across the Asia-Pacific to produce short films on important digital rights issues happening in our region, as told with our voices and from our perspectives. The produced works will be included in <a href="https://engagemedia.org/2020/tech-tales-application/">Tech Tales</a>, a film collection that will be used to further digital rights advocacy and campaigns.</p>
<p>Up to eight filmmakers will each be awarded between USD 3,000 and 5,000 to produce their respective films. Tech Tales accepts documentaries, fiction, animation, and other short narrative video productions.</p>
<p>Apply to Tech Tales by filling out the form at <a href="https://engagemedia.org/2020/tech-tales-application/">EngageMedia.org</a>. The deadline for applications has been extended to <em><strong>20 January 2021, 23:59 Bangkok time (UTC+7)</strong></em>.</p>
<p>If you encounter any errors in the application form, or have any questions about the <a href="https://engagemedia.org/projects/tech-tales/">Tech Tales project</a>, please feel free to <a href="https://engagemedia.org/contact/">reach out</a> via the EngageMedia contact page.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/tech-tales-digital-rights-films/">Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/tech-tales-digital-rights-films/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Human Rights Day 2020: &#8216;Recover Better&#8217; in Physical and Digital Spaces</title>
		<link>https://coconet.social/2020/human-rights-day-digital/</link>
					<comments>https://coconet.social/2020/human-rights-day-digital/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Fri, 11 Dec 2020 06:48:32 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Human Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4375</guid>

					<description><![CDATA[<p>On Human Rights Day 2020, the UN called on the world to "Recover Better - Stand Up for Human Rights". These human rights also extend to the digital space.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/human-rights-day-digital/">Human Rights Day 2020: &#8216;Recover Better&#8217; in Physical and Digital Spaces</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This December 10, the United Nations commemorated <a href="https://www.un.org/en/observances/human-rights-day">Human Rights Day</a> with the theme, &#8220;<a href="https://standup4humanrights.org/en/index.html">Recover Better &#8211; Stand Up for Human Rights</a>.&#8221; The theme this year ensures that human rights are at the centre of the world&#8217;s recovery from the COVID-19 pandemic. These human rights extend beyond the physical and into the digital space, as stated by the UN Office of the High Commissioner for Human Rights in <a href="http://daccess-ods.un.org/access.nsf/Get?Open&amp;DS=A/HRC/RES/20/8&amp;Lang=E">2012</a> and <a href="https://www.ohchr.org/EN/NewsEvents/Pages/DisplayNews.aspx?NewsID=25158&amp;LangID=E">2019</a>.</p>
<p>To add to the conversation on human and digital rights, allow us to share additional resources on digital rights that were published this year.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">The Universal Declaration of Human Rights has helped improve the lives of millions of people and lay the foundations for a more just world.<a href="https://twitter.com/hashtag/StandUp4HumanRights?src=hash&amp;ref_src=twsrc%5Etfw">#StandUp4HumanRights</a> on <a href="https://twitter.com/hashtag/HumanRightsDay?src=hash&amp;ref_src=twsrc%5Etfw">#HumanRightsDay</a> &amp; every day. <a href="https://t.co/2ftXxLBj0g">https://t.co/2ftXxLBj0g</a> <a href="https://t.co/FDd1Nx3IuU">pic.twitter.com/FDd1Nx3IuU</a></p>
— United Nations (@UN) <a href="https://twitter.com/UN/status/1336974437493526530?ref_src=twsrc%5Etfw">December 10, 2020</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Digital Rights Reports from APC</h3>
<p>Gaya Khandhadai, Asia policy regional coordinator with the Association for Progressive Communications (APC), has curated the following 2020 digital rights reports on the Asia-Pacific:</p>
<ol>
<li><em><strong>Dialling in the Law: A comparative assessment of jurisprudence on internet shutdowns </strong></em>is a report that <a href="https://www.apc.org/en/pubs/dialling-law-comparative-assessment-jurisprudence-internet-shutdowns">outlines jurisprudence across the global South on the legality of internet shutdowns</a>. It addresses the growing challenge of<br />
government-mandated disruptions of internet access around the world, often under the guise of safeguarding public order and upholding national security interests.</li>
<li><em><strong>Unshackling Expression</strong><strong> 2020 </strong></em>is a continuation of the 2017 APC report which studied <a href="https://www.giswatch.org/2017-special-report-unshackling-expression-study-law-criminalising-expression-online-asia">laws criminalising expression online in Asia</a>. Here are the latest reports:
<ol>
<li>Philippines: &#8220;<a href="https://www.apc.org/en/pubs/unshackling-expression-philippines-report">Unshackling Expression: The Philippines Report</a>&#8220;, published on September 30, 2020</li>
<li>Indonesia: &#8220;<a href="https://www.apc.org/en/pubs/unshackling-expression-study-online-freedom-expression-indonesia">Unshackling Expression: A study on online freedom of expression in Indonesia</a>&#8220;, published on November 19, 2020</li>
<li>Nepal: &#8220;<a href="https://www.apc.org/en/pubs/unshackling-expression-study-criminalisation-freedom-expression-online-nepal">Unshackling Expression: A study on criminalisation of freedom of expression online in Nepal</a>&#8220;, published on November 25, 2020</li>
</ol>
</li>
</ol>
<p>The above reports are supported by APC through the CYRILLA initiative.</p>

		</div> 
	</div> </div></div></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>&#8216;What are digital rights?&#8217; now in Thai and Indonesian</h3>
<p>Earlier this year, EngageMedia Digital Rights Program Manager Kathleen Azali wrote a blog post <a href="https://coconet.social/2020/digital-rights-exploring-definitions/">exploring the definitions of digital rights</a> according to members of the Coconet community and other regional and international charters.</p>
<p>Aside from the English version, this article is now also available in <a href="https://coconet.social/th/?p=3536">Thai</a> and <a href="https://coconet.social/2020/apa-itu-hak-digital">Indonesian</a>. The Thai version was translated by volunteer Ben Muangwong, while the Indonesian version was translated by EngageMedia.</p>
<p>If you are interested to translate this article in another language, please reach out via the <a href="https://coconet.social/contact/">Contact</a> page.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/human-rights-day-digital/">Human Rights Day 2020: &#8216;Recover Better&#8217; in Physical and Digital Spaces</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/human-rights-day-digital/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Call for solidarity: How the international community can show support for Thai protesters</title>
		<link>https://coconet.social/2020/thailand-protest-resources-international/</link>
					<comments>https://coconet.social/2020/thailand-protest-resources-international/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Sat, 19 Sep 2020 00:00:45 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3339</guid>

					<description><![CDATA[<p>Today, on the anniversary of the 2006 Thai coup, protesters will once again gather at Thammasat University in Bangkok, Thailand, to call for political changes and democratic reforms. Students as young as 14 years old have been at the forefront of the protests, with some groups demanding ten key reforms, among them the revocation of the lese-majeste law and the pardoning of all those jailed due to this law.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protest-resources-international/">Call for solidarity: How the international community can show support for Thai protesters</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3339" class="elementor elementor-3339" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-9fb1e11 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="9fb1e11" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0c7a1b3" data-id="0c7a1b3" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-093179b elementor-widget elementor-widget-image" data-id="093179b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="1024" height="724" src="wp-content/uploads/2020/09/Thai-Protests-Graphics-1-1024x724.jpeg" class="attachment-large size-large" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-d45c84c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="d45c84c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b3c0d22" data-id="b3c0d22" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-51f1ce6 elementor-widget elementor-widget-text-editor" data-id="51f1ce6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Today, on the anniversary of the <a href="https://thediplomat.com/2020/09/thailands-protests-between-the-old-and-the-new/" data-cke-saved-href="https://thediplomat.com/2020/09/thailands-protests-between-the-old-and-the-new/">2006 Thai coup</a>, protesters will once again gather at Thammasat University in Bangkok, Thailand, to <a href="https://engagemedia.org/2020/thailand-youth-democracy-freedom-speech/" data-cke-saved-href="https://engagemedia.org/2020/thailand-youth-democracy-freedom-speech/">call for political changes and democratic reforms</a>. Students as young as 14 years old have been at the forefront of the protests, with some groups demanding <a href="https://www.newmandala.org/the-ten-demands-that-shook-thailand/" data-cke-saved-href="https://www.newmandala.org/the-ten-demands-that-shook-thailand/">ten key reforms</a>, among them the revocation of the lese-majeste law and the pardoning of all those jailed due to this law.</p><p>With rampant arrests and state harassment, Thai protesters are calling for support from the international community in order to raise awareness of the current situation in Thailand. Members of the Coconet community have compiled a list of ways to show solidarity with Thai protesters online, as well as safety and security guides for those partaking in the protests.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-f5e0fbe elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="f5e0fbe" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c06d125" data-id="c06d125" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3914b9b elementor-widget elementor-widget-spacer" data-id="3914b9b" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e9f9f9e elementor-widget elementor-widget-text-editor" data-id="e9f9f9e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3>ON SOCIAL MEDIA</h3><p>To show your solidarity with Thai protesters, here are things you and your community can post and share on social media platforms.</p><ul><li><strong>Hashtags</strong><ul><li><a href="https://twitter.com/hashtag/whatshappeninginthailand" data-cke-saved-href="https://twitter.com/hashtag/whatshappeninginthailand">#WhatsHappeningInThailand</a></li><li><a href="https://twitter.com/hashtag/%E0%B8%AB%E0%B8%A2%E0%B8%B8%E0%B8%94%E0%B8%84%E0%B8%B8%E0%B8%81%E0%B8%84%E0%B8%B2%E0%B8%A1%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B2%E0%B8%8A%E0%B8%99" data-cke-saved-href="https://twitter.com/hashtag/%E0%B8%AB%E0%B8%A2%E0%B8%B8%E0%B8%94%E0%B8%84%E0%B8%B8%E0%B8%81%E0%B8%84%E0%B8%B2%E0%B8%A1%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B2%E0%B8%8A%E0%B8%99">#หยุดคุกคามประชาชน</a> (which translates to #StopHarassingPeople)</li><li><a href="https://twitter.com/hashtag/19%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B8%A2%E0%B8%B2%E0%B8%97%E0%B8%A7%E0%B8%87%E0%B8%AD%E0%B8%B3%E0%B8%99%E0%B8%B2%E0%B8%88%E0%B8%84%E0%B8%B7%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%8E%E0%B8%A3" data-cke-saved-href="https://twitter.com/hashtag/19%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B8%A2%E0%B8%B2%E0%B8%97%E0%B8%A7%E0%B8%87%E0%B8%AD%E0%B8%B3%E0%B8%99%E0%B8%B2%E0%B8%88%E0%B8%84%E0%B8%B7%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%8E%E0%B8%A3">#19กันยาทวงอำนาจคืนราษฎร</a> (which translates to September 19: Return power to civilians)</li><li><a href="https://twitter.com/search?q=%E0%B9%81%E0%B8%99%E0%B8%A7%E0%B8%A3%E0%B9%88%E0%B8%A7%E0%B8%A1%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%8A%E0%B8%B8%E0%B8%A1%E0%B8%99%E0%B8%B8%E0%B8%A1" data-cke-saved-href="https://twitter.com/search?q=%E0%B9%81%E0%B8%99%E0%B8%A7%E0%B8%A3%E0%B9%88%E0%B8%A7%E0%B8%A1%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%8A%E0%B8%B8%E0%B8%A1%E0%B8%99%E0%B8%B8%E0%B8%A1">#แนวร่วมธรรมศาสตร์และการชุมนุม</a> (which translates to the United Front of Thammasat and Demonstration Group, the main organiser of the September 19 protest)</li><li><a href="https://twitter.com/hashtag/%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B8%AB%E0%B8%8D%E0%B8%B4%E0%B8%87%E0%B8%9B%E0%B8%A5%E0%B8%94%E0%B9%81%E0%B8%AD%E0%B8%81" target="_blank" rel="noopener">#ผู้หญิงปลดแอก</a> <a href="https://twitter.com/search?q=%23%E0%B8%9B%E0%B8%A5%E0%B8%AD%E0%B8%94%E0%B8%A0%E0%B8%B1%E0%B8%A2%E0%B9%83%E0%B8%99%E0%B8%A1%E0%B9%87%E0%B8%AD%E0%B8%9A">#ปลอดภัยในม็อบ</a> (which translates to #womenforfreedomanddemocracy and #protestsafely)</li></ul></li><li><span style="font-weight: bold;">Graphics and social media cards<br /></span><ul style="margin-left: 27.0486px;"><li>These <a href="https://coconet.social/wp-content/uploads/2020/09/Thai-Protests-Graphics-2-scaled.jpeg">graphics</a> <a href="https://coconet.social/wp-content/uploads/2020/09/Thai-Protests-Graphics-3-scaled.jpeg">against dictatorship</a> and on the <a href="https://coconet.social/wp-content/uploads/2020/09/Thai-Protests-Graphics-4-scaled.jpeg">disappearance of Thai human rights activist </a><br />Wanchalearm Satsaksit</li><li>More <a href="https://freedomforthai-en.carrd.co/" data-cke-saved-href="https://freedomforthai-en.carrd.co/">social media cards</a> by Freedom for Thai, available in multiple languages</li></ul></li><li><span style="font-weight: bold;">Articles and statements</span><br /><ul style="margin-left: 27.0486px;"><li>An <a href="https://prachatai.com/aggregator/sources/1" data-cke-saved-href="https://prachatai.com/aggregator/sources/1">English RSS feed by Prachatai</a> that aggregates the latest articles on the Thai protests</li><li>An <a href="https://www.newmandala.org/author/hathairat-phaholtap-and-david-streckfuss/" data-cke-saved-href="https://www.newmandala.org/author/hathairat-phaholtap-and-david-streckfuss/">in-depth article</a> by journalist and Coconet community member Hathairat Phaholtap on the ten key demands by United Front of Thammasat and Demonstration Group, the main organiser of the September 19 protest</li><li>A <a href="http://www.forum-asia.org/?p=32503" data-cke-saved-href="http://www.forum-asia.org/?p=32503">statement</a> by Forum Asia, dated August 13, urging the Thai government to respect free speech and the right to peaceful assembly</li></ul></li></ul><p>You can also post <a href="https://coconet.social/wp-content/uploads/2020/09/SupportFreedomofexpression.pdf">these stickers</a> to show solidarity—and even print them out and distribute to your networks.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3f1a47d elementor-widget elementor-widget-spacer" data-id="3f1a47d" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-02aa1a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="02aa1a0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7859cde" data-id="7859cde" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-926c9af elementor-widget elementor-widget-text-editor" data-id="926c9af" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3><strong>ON THE GROUND</strong></h3><p>Arul Prakkash, WITNESS Senior Manager of Programs for Asia and Pacific as well as a Coconet community member, has written and compiled the following resources for those in Thailand who will be participating in the protests.</p><ul><li>Infographic: <a href="http://bit.ly/2pZEzjS" data-cke-saved-href="http://bit.ly/2pZEzjS">Filming protests and demonstrations</a></li><li>Infographic: <a href="https://wit.to/3hI2Ntm" data-cke-saved-href="https://wit.to/3hI2Ntm">Covering protests in teams</a></li><li><a href="https://wit.to/2JtrCc9" data-cke-saved-href="https://wit.to/2JtrCc9">Filming in teams: Protests, demonstrations, and rallies</a></li><li><a href="https://wit.to/2Di4yMx" data-cke-saved-href="https://wit.to/2Di4yMx">Filming protests, demonstrations, and police conduct</a></li><li><a href="https://blog.witness.org/2020/02/documenting-during-internet-shutdowns/" data-cke-saved-href="https://blog.witness.org/2020/02/documenting-during-internet-shutdowns/">Documenting during Internet shutdowns</a></li></ul><p>Other resources on staying safe while protesting include:</p><ul><li>&#8220;<a href="https://ssd.eff.org/en/module/attending-protest">Attending a Protest</a>&#8221; by Surveillance Self-Defense</li><li>&#8220;<a href="https://www.amnestyusa.org/pdfs/SafeyDuringProtest_F.pdf">Safety During Protest</a>&#8221; by Amnesty International</li><li>&#8220;<a href="https://www.eff.org/deeplinks/2020/06/surveillance-self-defense-attending-protests-age-covid-19">Surveillance Self-Defense: Attending Protests in the Age of COVID-19</a>&#8221; by Electronic Frontier Foundation</li></ul><p>Aside from these tips, you can also read about <a href="https://www.cnvc.org/learn-nvc/articles" data-cke-saved-href="https://www.cnvc.org/learn-nvc/articles">non-violent communications</a> to diffuse potentially violent situations. </p><p>If you have other resources and more that you&#8217;d like to share with Thai protesters and the Coconet community, please don&#8217;t hesitate to <a href="https://coconet.social/contact/" data-cke-saved-href="https://coconet.social/contact/">contact us</a>.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-39b2ec9" data-id="39b2ec9" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-9e36e11 elementor-widget elementor-widget-image" data-id="9e36e11" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="495" height="700" src="wp-content/uploads/2020/09/Thai-Protests-Graphics-4-495x700.jpeg" class="attachment-medium size-medium" alt="" sizes="(max-width: 495px) 100vw, 495px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ef6b3a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="ef6b3a0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6c7495f" data-id="6c7495f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-dbecbc4 elementor-widget elementor-widget-spacer" data-id="dbecbc4" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-8ce7f7a elementor-widget elementor-widget-text-editor" data-id="8ce7f7a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div><p><em>Sara Pacia is the Communications and Engagement Coordinator of EngageMedia. A journalist by training and multimedia storyteller at heart, she is passionate about utilising and appropriating today’s digital technologies for the empowerment of the public and the improvement of media and data literacy.</em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protest-resources-international/">Call for solidarity: How the international community can show support for Thai protesters</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-protest-resources-international/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Fighting the COVID-19 &#8216;Infodemic&#8217; in the Asia-Pacific</title>
		<link>https://coconet.social/2020/covid-infodemic-asia-pacific/</link>
					<comments>https://coconet.social/2020/covid-infodemic-asia-pacific/#comments</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Wed, 01 Apr 2020 03:49:21 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Disinformation]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Infodemic]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1015</guid>

					<description><![CDATA[<p>While governments and health workers worldwide are focused on combatting the COVID-19 pandemic, they are also busy fighting another related pandemic that cuts across all sectors of society: a massive “infodemic” equally as wide-reaching and harmful.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/covid-infodemic-asia-pacific/">Fighting the COVID-19 &#8216;Infodemic&#8217; in the Asia-Pacific</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://unsplash.com/photos/FMJAYeRwtDY" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1920" height="1281" src="wp-content/uploads/2020/04/claudio-schwarz-purzlbaum-FMJAYeRwtDY-unsplash.jpg" class="vc_single_image-img attachment-full" alt="Photo by &#x1f1e8;&#x1f1ed; Claudio Schwarz | @purzlbaum on Unsplash." sizes="(max-width: 1920px) 100vw, 1920px" /></div></a>
			<figcaption class="vc_figure-caption">Photo by <img src="https://s.w.org/images/core/emoji/13.1.0/72x72/1f1e8-1f1ed.png" alt="🇨🇭" class="wp-smiley" style="height: 1em; max-height: 1em;" /> Claudio Schwarz | @purzlbaum on Unsplash. Used under a Unsplash license.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>While governments and health workers worldwide are focused on combatting the <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">COVID-19 pandemic</a>, they are also busy fighting another related pandemic that cuts across all sectors of society: a massive &#8220;infodemic&#8221; equally as wide-reaching and harmful.</p>
<p>The World Health Organisation (WHO) <a href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200202-sitrep-13-ncov-v3.pdf">describes</a> this infodemic as &#8220;an over-abundance of information – some accurate and some not – that makes it hard for people to find trustworthy sources and reliable guidance when they need it&#8221;.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Verified and timely information is more important than ever – but is also more challenging to come by. The global frontliners in this fight against mis- and disinformation on the coronavirus include:</p>

		</div> 
	</div> <div class='q_list circle'></p>
<ul>
<li>International health organisations like WHO, which has a <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for- public/myth-busters">dedicated page for busting COVID- related myths</a></li>
<li><a href="https://techcrunch.com/2020/03/16/facebook-reddit-google-linkedin- microsoft-twitter-and-youtube-issue-joint-statement-on-misinformation/">Social media platforms</a> which have released a collective statement promising to crack down on questionable content</li>
<li><a href="https://firstdraftnews.org/long-form-article/coronavirus-resources-for- reporters/)">Journalists and reporters</a>, who are sharing COVID-19 resources in multiple languages</li>
<li>The International Fact-Checking Network behind the <a href="https://twitter.com/search?q=list:factchecknet/coronavirusfacts%20%23coronavirusfacts&amp;src=typed_query&amp;f=live">#CoronaVirusFacts</a>/ #DatosCoronaVirus alliance</li>
<li>Continent-specific fact-checkers like <a href="https://euvsdisinfo.eu/disinformation-cases/">EU vs Disinfo</a></li>
<li>Fake news debunkers such as <a href="https://www.scmp.com/tech/apps-social/article/2183124/tencents-fake-news-debunkers-reached-nearly-300-million-wechat">Tencent for WeChat</a></li>
<li>Technologists who are providing <a href="https://www.osintessentials.com/">fact-checking tools</a></li>
</ul>
<p></div><div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Similar efforts are taking place in the Asia-Pacific, where region- and country-specific groups are relying on constant, collective fact-checking to combat the infodemic. We want to highlight some of them in this post.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In the Philippines, for example, journalists are <a href="https://earthjournalism.net/stories/reporting-the-unknown-how-reporters-in-the-philippines-cover-covid-19">sharing their best practices</a> on how to accurately report on the pandemic. Internews also funded a <a href="https://internews.org/updates/internews-expands-efforts-addresses-global-info-demic-covid-19">3-part video series</a> on how Philippine fact-checking organisation <a href="https://verafiles.org/">VERA Files</a> is combatting the COVID-19 infodemic. You can watch the three short videos below or on Engagemedia.org.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<Center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coronavirus-infodemic/embed_view' frameborder='0' width='800' height='500' allowfullscreen></iframe></Center>

The Coronavirus infodemic flooded our screens as the epidemic amassed victims, spreading fear and misunderstanding among people all over the world.  
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coronavirus-disinformation/embed_view' frameborder='0' width='800' height='500' allowfullscreen></iframe></center>

What sort of disinformation contributed to the COVID-19 infodemic? VERA Files Fact Check debunks inaccurate claims about bats and a false report about an alleged positive coronavirus case in Cebu in this video.
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coronavirus-protecting/embed_view' frameborder='0' width='800' height='500' allowfullscreen></iframe></center>

Do face masks work? VERA Files Fact Check explains how to protect yourself from COVID-19 in this video. This is the last of VERA's three-part video series.
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A similar Internews <a href="https://internews.org/updates/newscheck-fight-against-misinformation-empowering-citizens-india-through-news-literacy">project</a> is present in India, where partners are continuously conducting fact checks on rumours related to COVID-19.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://pixabay.com/illustrations/social-media-media-board-networking-1989152/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1920" height="1285" src="wp-content/uploads/2020/04/social-media-1989152_1920.jpg" class="vc_single_image-img attachment-full" alt="Image by Gerd Altmann from Pixabay. Used under a Pixabay license." sizes="(max-width: 1920px) 100vw, 1920px" /></div></a>
			<figcaption class="vc_figure-caption">Image by Gerd Altmann from Pixabay. Used under a Pixabay license.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In Malaysia, there is ample misinformation being shared online &#8211; such as one viral video claiming that coronavirus <a href="https://www.thestar.com.my/news/regional/2020/02/02/oh-please---coronavirus-won039t-turn-you-into-a-039zombie039-says-malaysia">would make people behave like zombies</a>. Malaysian media organisation The Star <a href="https://www.thestar.com.my/news/true-or-not/">regularly</a> debunks such false information on the pandemic.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In Indonesia, <a href="http://cekfakta.com/">CekFakta</a> is also at the forefront of debunking false information on the virus, including <a href="https://www.thejakartapost.com/news/2020/02/03/indonesia-wages-war-against-coronavirus-misinformation-as-hoaxes-spread-online.html">myths</a> that drinking garlic boiled in water can cure you. The collective fact-checking and verification project is in collaboration with the Indonesian Cyber Media Association, the Indonesian Anti-Slander Society, and the Alliance of Independent Journalists.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In Taiwan, <a href="https://tfc-taiwan.org.tw/articles/2366">Taiwan Fact-Check Center</a> has a dedicated project for COVID-related mis- and dis-information.</p>
<p>In Myanmar, the Ministry of Health and Sports (MOHS) is providing the latest information on COVID-19 on <a href="http://mohs.gov.mm/Main/content/page/electronic-health-management-information-system">its website</a> to combat countless fake news stories and hoaxes spreading in Myanmar. The MOHS is <a href="http://mohs.gov.mm/Main/content/publication/2019-ncov">also raising public awareness through videos</a> on how the medical staff and the general public can stay safe.</p>
<p>The BBC is also <a href="https://www.bbc.co.uk/mediaaction/where-we-work/asia/bangladesh/H2H- covid-19">teaching citizens</a> in Myanmar how to fight the infodemic through Thangyat or traditional folk music. It is also supporting similar efforts in Indonesia, India, Cambodia, and Nepal.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> BBC is teaching citizens in Myanmar how to fight the infodemic through Thangyat or traditional folk music.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div></div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>As this infodemic – arguably the first true <a href="https://www.technologyreview.com/s/615184/the-coronavirus-is-the-first-true-social-media-infodemic/">social media infodemic</a> of our time – continues with no clear end in sight, more and more initiatives will surely start and grow. It is up to us to stay informed and do our part to sustain these initiatives, else we ultimately lose in the broader fight against disinformation.</p>

		</div> 
	</div> <div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Sara Pacia is the Communications and Engagement Coordinator of EngageMedia. A journalist by training and multimedia storyteller at heart, she is passionate about utilising and appropriating today’s digital technologies for the empowerment of the public and the improvement of media and data literacy.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/covid-infodemic-asia-pacific/">Fighting the COVID-19 &#8216;Infodemic&#8217; in the Asia-Pacific</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/covid-infodemic-asia-pacific/feed/</wfw:commentRss>
			<slash:comments>4</slash:comments>
		
		
			</item>
		<item>
		<title>In Myanmar, Digital Rights Are Integral to Policy and Advocacy</title>
		<link>https://coconet.social/2020/myanmar-digital-rights-forum-2020/</link>
					<comments>https://coconet.social/2020/myanmar-digital-rights-forum-2020/#comments</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Thu, 05 Mar 2020 06:00:09 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[EngageMedia]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=882</guid>

					<description><![CDATA[<p>Members of the Coconet community took part in the fourth Myanmar Digital Rights Forum (MDRF), which focused on the importance of digital rights in the face of disinformation, internet shutdowns, and emerging technologies.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-digital-rights-forum-2020/">In Myanmar, Digital Rights Are Integral to Policy and Advocacy</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/20200304-MDRF_Keynote-1024x576.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1841" height="1036" src="wp-content/uploads/2020/03/20200304-MDRF_Keynote.jpg" class="vc_single_image-img attachment-full" alt="Ambassador of Sweden to Thailand, Myanmar, and Laos PDR Staffan Herrstrom shares in his keynote speech that he is excited to listen and learn more about digital rights in the region at the fourth Myanmar Digital Rights Forum in Yangon." sizes="(max-width: 1841px) 100vw, 1841px" /></div></a>
			<figcaption class="vc_figure-caption">Ambassador of Sweden to Thailand, Myanmar, and Laos PDR Staffan Herrstrom shares in his keynote speech that he is excited to listen and learn more about digital rights in the region at the fourth Myanmar Digital Rights Forum in Yangon.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Members of the Coconet community took part in the fourth <a href="https://www.digitalrightsmm.info/">Myanmar Digital Rights Forum (MDRF)</a>, which focused on the importance of digital rights in the face of disinformation, internet shutdowns, and emerging technologies.</p>
<p>Held on Feb. 28 and 29, 2020, at the Rose Garden Hotel in Yangon, the MDRF was organised by Phandeeyar, Myanmar ICT for Democracy Organisation (a partner during<a href="https://coconet.social/2019/coconet-collaborations-asia/"> Coconet II)</a>, Myanmar Centre for Responsible Business (MCRB), and Free Expression Myanmar. This year&#8217;s conference hosted over 350 attendees and speakers from government, businesses, and civil society, making it the largest digital rights forum in Southeast Asia.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> We cannot afford to assume that digital rights will evolve at the same rate that the internet has.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> - Jes Kaliebe Petersen, CEO of Phandeeyar  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Two important events in Myanmar framed many of the discussions over the two-day forum: the upcoming elections in late 2020 and the internet shutdown in Rakhine and Chin states, which is going on its eighth month and has led to <a href="https://www.reuters.com/article/us-myanmar-internet-idUSKCN20I16X">charges against nine students</a> who organised protests against it.</p>
<p>Sessions that directly tackled these issues attracted the most attendees. Facebook representatives shared what it was doing to curb disinformation in the region.</p>
<p>Digital rights activist and Coconet I participant Daw Ei Myat Noe Khin, in her keynote speech, reiterated the calls to <a href="https://twitter.com/malkhin/status/1233239305411104772">end the government shutdown</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On the first day of MDRF, the Coconet community also joined <a href="https://twitter.com/hashtag/StopInternetShutdownMM">a worldwide social media campaign</a> calling for the lifting of the internet shutdown.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/MDRF_Coconutz-1024x642.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2048" height="1283" src="wp-content/uploads/2020/03/MDRF_Coconutz.jpg" class="vc_single_image-img attachment-full" alt="Coconut I participant Htaike Htaike Aung from the Myanmar ICT for Development Organisation is among the &quot;coconutz&quot; who were at the digital rights forum." sizes="(max-width: 2048px) 100vw, 2048px" /></div></a>
			<figcaption class="vc_figure-caption">Coconut I participant Htaike Htaike Aung from the Myanmar ICT for Development Organisation is among the &quot;coconutz&quot; who were at the digital rights forum.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Other important issues surrounding digital rights that were discussed during the event were:</p>

		</div> 
	</div> <div class=ordered></p>
<ol>
<li>Myanmar&#8217;s digital culture</li>
<li>Threats to freedom of expression online</li>
<li>Claiming ownership over your own data</li>
<li>National security vs right to information</li>
<li>Surveillance and the smart city</li>
<li>Creating a digitally accessible Myanmar</li>
<li>Artificial intelligence (AI)</li>
<li>Deepfakes</li>
<li>Women&#8217;s rights online</li>
<li>Data protection and cybersecurity</li>
<li>Digital content restrictions in Myanmar</li>
<li>Bridging the legal gap in digital rights</li>
</ol>
<p></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/MDRF_Red-1024x683.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2048" height="1365" src="wp-content/uploads/2020/03/MDRF_Red.jpg" class="vc_single_image-img attachment-full" alt="Red Tani of EngageMedia facilitates discussions on the benefits and consequences of using AI to further advocacies such as mental health and women&#039;s rights." sizes="(max-width: 2048px) 100vw, 2048px" /></div></a>
			<figcaption class="vc_figure-caption">Red Tani of EngageMedia facilitates discussions on the benefits and consequences of using AI to further advocacies such as mental health and women&#039;s rights.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Members of the Coconet community who attended either or both Coconet camps also served as speakers and panellists at the conference, sharing personal experiences on topics related to digital rights. Wu Min Hsuan shared examples from Taiwan on the digital risks during elections. Gaya Khandhadai of the Association for Progressive Communications shared how she was targeted online based on her gender and religion. Witness.org, also a Coconet partner, talked about deepfakes and how this affects Southeast Asia.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>EngageMedia&#8217;s Darika Bamrungchok and Red Tani were also among the forum&#8217;s speakers and panellists. On Day One, Red facilitated an open session titled, &#8220;Artificial Intelligence and Digital Rights in Southeast Asia&#8221;. The session began with a short video summarising the research of Dr. Jun-E Tan on <a href="https://coconet.social/2019/human-rights-artificial-intelligence-southeast-asia/">AI and its uses, implications, and consequences in the region</a>. It ended with attendees breaking out into smaller groups to identify how AI can both empower but detract from digital rights and other advocacies. There was also a consensus among participants that whether AI is good in the present and for the future, we need to first understand what exactly AI is in the first place.</p>
<p>Day Two had Darika as a panellist in the session titled, &#8220;Staying Safe: What does Myanmar need to do to put data protection and cybersecurity at the core of the digital revolution?&#8221;. Here she talked about Thailand&#8217;s <a href="https://thainetizen.org/wp-content/uploads/2019/11/thailand-personal-data-protection-act-2019-en.pdf">Personal Data Protection Act</a> and how its implementation can relate to and affect the Myanmar context. She was joined by other panellists from Microsoft, Privacy International, and MCRB, as well as the Ambassador to the Kingdom of Netherlands in Myanmar.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Regulation is not always the solution. When it comes to disinformation, criminalising speech won’t address the issue. We need a rights-respecting way forward.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> - Daw Ei Myat Noe Khin, digital rights activist and Coconet I participant  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/20200304-MDRF_Darika-1024x768.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1821" height="1366" src="wp-content/uploads/2020/03/20200304-MDRF_Darika.jpg" class="vc_single_image-img attachment-full" alt="Darika Bamrungchok of EngageMedia likens Thailand&#039;s Personal Data Protection Bill to the General Data Protection Regulation (GDPR) in the European Union." sizes="(max-width: 1821px) 100vw, 1821px" /></div></a>
			<figcaption class="vc_figure-caption">Darika Bamrungchok of EngageMedia likens Thailand&#039;s Personal Data Protection Bill to the General Data Protection Regulation (GDPR) in the European Union.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Find out more about what transpired at MDRF by following the hashtags #digitalrightsMM and #MDRF2020.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Sara Pacia is the Communications and Engagement Coordinator of EngageMedia. A journalist by training and multimedia storyteller at heart, she is passionate about utilising and appropriating today’s digital technologies for the empowerment of the public and the improvement of media and data literacy.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-digital-rights-forum-2020/">In Myanmar, Digital Rights Are Integral to Policy and Advocacy</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-digital-rights-forum-2020/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
