<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>WITNESS Asia &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/witness-asia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 26 Jan 2021 00:21:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>WITNESS Asia &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Documenting During Internet Shutdowns: A WITNESS Guide in English and Indonesian</title>
		<link>https://coconet.social/2020/guide-internet-shutdown-witness/</link>
					<comments>https://coconet.social/2020/guide-internet-shutdown-witness/#respond</comments>
		
		<dc:creator><![CDATA[WITNESS Asia]]></dc:creator>
		<pubDate>Mon, 19 Oct 2020 14:12:05 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3733</guid>

					<description><![CDATA[<p>Documenting human rights violations is as important as ever during an internet shutdown. WITNESS Asia writes this guide in English and Indonesian on how activists can safely capture and preserve their videos during an internet shutdown, and even share them offline.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/guide-internet-shutdown-witness/">Documenting During Internet Shutdowns: A WITNESS Guide in English and Indonesian</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3733" class="elementor elementor-3733" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-c94880f elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="c94880f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-767e2d7" data-id="767e2d7" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-01cb0d2 elementor-widget elementor-widget-text-editor" data-id="01cb0d2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em>In January 2020, WITNESS published on its blog an English guide to</em><em>&nbsp;<a href="https://blog.witness.org/2020/02/documenting-during-internet-shutdowns/">documenting during internet shutdowns</a>. Almost a year later, all five parts of the guide was made available in Bahasa Indonesia.</em></p>
<p><em>Coconet.social is republishing in both English and Bahasa Indonesian the first article of the series. </em><em>WITNESS Senior Manager of Programs for Asia and Pacific Arul Prakkash, who is also a member of the Coconet community, contributed to the original guide and translation to Bahasa Indonesian.&nbsp;</em></p>
<p><a href="#indonesia"><em>Click here to read the article in Indonesian.</em></a></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-2087f1e elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="2087f1e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-29144bb" data-id="29144bb" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3198615 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="3198615" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-812eecd elementor-widget elementor-widget-heading" data-id="812eecd" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Documenting During Internet Shutdowns</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-7120934 elementor-widget elementor-widget-text-editor" data-id="7120934" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>In June 2019, as human rights abuses and a humanitarian crisis were continuing in Myanmar, the country’s Ministry of Transport and Communication <a href="https://www.telenor.com/network-shutdown-in-myanmar-21-june-2019/">directed telecom companies</a> to shut down their mobile internet service in parts of Rakhine State and neighbouring Chin State. Citing “disturbances of the peace” and “illegal activities,” the Myanmar government claims to have enacted the shutdown “<a href="https://www.nytimes.com/2019/07/02/world/asia/internet-shutdown-myanmar-rakhine.html">for the benefit of the people</a>.” In reality, the blackout cut <a href="https://www.theguardian.com/world/2019/jun/25/myanmar-cuts-internet-to-rakhine-state-amid-unrest">over a million people</a> off from access to essential information and communication and disrupted humanitarian efforts. As Matthew Smith from Fortify Rights has <a href="https://www.fortifyrights.org/mya-inv-2019-07-22/">stated</a>, “This shutdown is happening in a context of ongoing genocide against Rohingya and war crimes against Rakhine, and even if it were intended to target militants, it’s egregiously disproportionate.”</p><p>The shutdown was<a href="https://www.aljazeera.com/news/2019/09/myanmar-partially-lifts-internet-blackout-rakhine-chin-states-190901092319529.html"> partially lifted on five of the townships</a> in September 2019, but is ongoing. During the same month, in neighbouring Bangladesh where many Rohingya have fled, authorities ordered mobile phone operators to <a href="https://www.reuters.com/article/us-bangladesh-rohingya/bangladesh-blocks-internet-services-in-rohingya-refugee-camps-idUSKCN1VO1WQ">block 3G and 4G services</a> in Rohingya refugee camps and to stop selling SIM cards to Rohingya. As we enter 2020, <a href="https://www.mmtimes.com/news/protesters-demand-end-internet-blackout-rakhine.html">four townships in Rakhine</a> continue to be cut off from the world, and Bangladesh <a href="https://www.washingtonpost.com/world/2019/12/11/rohingya-refugees-cut-off-world-got-watch-myanmars-rulers-go-trial/">continues to limit service</a> in the refugee camps.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-dc983a1 elementor-widget elementor-widget-spacer" data-id="dc983a1" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-a2a1e1c elementor-widget elementor-widget-heading" data-id="a2a1e1c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Documenting During Internet Shutdowns</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-edb44d2 elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="edb44d2" data-element_type="widget" data-widget_type="blockquote.default">
				<div class="elementor-widget-container">
					<blockquote class="elementor-blockquote">
			<p class="elementor-blockquote__content">
				“Internet shutdowns and human rights violations go hand in hand."			</p>
							<footer>
											<cite class="elementor-blockquote__author">Berhan Taye, AccessNow</cite>
														</footer>
					</blockquote>
				</div>
				</div>
				<div class="elementor-element elementor-element-f3094b8 elementor-widget elementor-widget-text-editor" data-id="f3094b8" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				Globally, internet shutdowns are on the rise. According to AccessNow’s <a href="https://www.accessnow.org/keepiton/">#KeepItOn campaign</a>, there were 128 intentional shutdowns between January – July 2019, compared to 196 in all of 2018, and up sharply from 106 in 2017, and 75 in 2016. Around the world, governments, with the cooperation of telecom companies, are increasingly turning to internet shutdowns as a strategy to repress communities, prevent mobilization, and stop information about human rights violations from being documented and shared.

Shutdowns can take various forms, including <a href="https://netblocks.org/reports/twitter-facebook-whatsapp-and-instagram-restricted-in-southern-turkey-oy9RzE83">platform-specific blockages that target popular apps and sites</a>, <a href="https://digitalrightsmonitor.pk/partial-network-shutdown-in-different-parts-of-pakistan-owing-to-ashura/">mobile data shutdowns</a>, <a href="https://www.apc.org/en/news/engagemedia-recent-internet-blocking-and-throttling-west-papua">bandwidth throttling</a>, or <a href="https://edition.cnn.com/2019/08/08/tech/kashmir-internet-blackout-india-pakistan-intl-hnk/index.html">total internet blackouts</a>. All of these types of shutdowns are intended to disrupt the ability to communicate information and expose violations in real-time. They often occur during protests, elections, and periods of political instability, and are often accompanied by heightened state repression, military offensives, and violence. While governments may try to justify shutdowns <a href="https://www.accessnow.org/cms/assets/uploads/2019/07/KeepItOn-2018-Report.pdf">in the name of “public safety” or other reasons</a>, shutdowns clearly take place at moments when repressive states fear losing tenuous control over their people, information, or political narrative. Shutdowns violate human rights, severely disrupt people’s<a href="https://www.theguardian.com/world/2020/jan/05/the-personal-and-economic-cost-of-kashmirs-internet-ban"> lives and livelihoods</a>, and also have a global <a href="https://www.top10vpn.com/cost-of-internet-shutdowns/">economic impact</a>.					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-45ae0ce elementor-widget elementor-widget-spacer" data-id="45ae0ce" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-10e9e4c elementor-widget elementor-widget-image" data-id="10e9e4c" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="768" height="282" src="wp-content/uploads/2020/10/app-specific.018-768x282.jpeg" class="attachment-medium_large size-medium_large" alt="" sizes="(max-width: 768px) 100vw, 768px" />											<figcaption class="widget-image-caption wp-caption-text">Types of internet shutdowns. Photo from WITNESS, used with permission.</figcaption>
										</figure>
								</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-a37413c elementor-widget elementor-widget-spacer" data-id="a37413c" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-9ca52e6 elementor-widget elementor-widget-text-editor" data-id="9ca52e6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><b>Documenting human rights violations is as important as ever during an internet shutdown.</b> Even if information cannot be shared in the moment, documentation can be a way to preserve voices that authorities are trying to silence and to secure evidence of abuses that can be used to demand accountability later on. Of course, the repressive context and the technological impediments of an internet shutdown make documenting violations—and maintaining that documentation securely—much more challenging and risky. <b>How can activists capture and preserve their videos during a shutdown, and even share them offline, and do so in safer ways? </b></p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-87fc1d3 elementor-widget elementor-widget-spacer" data-id="87fc1d3" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-4ba00f4 elementor-widget elementor-widget-text-editor" data-id="4ba00f4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3>This series</h3><p>Through our work with activists who have experienced internet shutdowns, we have learned some useful tips and approaches to <b>capturing and preserving video documentation during internet shutdowns</b> that we are sharing in this series. We wrote them with Android devices in mind, but the tips can be applied to iPhones as well. Some of the strategies require planning (and often, internet access), so it’s a good idea to review them and implement any steps <i>before</i> you are in a situation where you do not have internet and you need to document. Save a copy of any of the tutorials so you can refer to them or share them during a shutdown. And finally, start practising the techniques and methods in your everyday work so that they become second-nature before you’re in a crisis.</p><ul><li><strong>Prepare</strong><ul><li><strong><a href="https://wp.me/p4j1y7-77I">Setting up a phone for offline documentation</a></strong></li></ul></li><li><strong>Capture</strong><ul><li><strong><a href="https://wp.me/p4j1y7-789">Should I use this documentation app?</a></strong></li></ul></li><li><strong>Maintain</strong><ul><li><strong><a href="https://wp.me/p4j1y7-78l">Maintaining verifiable media during an internet shutdown</a> </strong></li><li><strong><a href="https://wp.me/p4j1y7-78A">Backing up phone media without the internet or a computer</a> </strong></li></ul></li><li><strong>Share and Communicate</strong><ul><li><strong><a href="https://wp.me/p4j1y7-78C">File sharing and communication during an internet shutdown</a></strong></li></ul></li></ul>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-98a1dab elementor-widget elementor-widget-spacer" data-id="98a1dab" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-514a4dd elementor-widget elementor-widget-image" data-id="514a4dd" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="768" height="256" src="wp-content/uploads/2020/10/KeepItOn_Twitter_Banner-768x256.jpg" class="attachment-medium_large size-medium_large" alt="" sizes="(max-width: 768px) 100vw, 768px" />											<figcaption class="widget-image-caption wp-caption-text">Photo from original guide, used with permission.</figcaption>
										</figure>
								</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-8cb6c79 elementor-widget elementor-widget-spacer" data-id="8cb6c79" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-725b998 elementor-widget elementor-widget-text-editor" data-id="725b998" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<figure id="attachment_27444" class="wp-caption aligncenter"><p>One final note: While these tips can help you continue documenting in the face of a shutdown, we want to emphasize that the ultimate solution must be to restore internet access and successfully defend people’s <a href="https://lab.witness.org/projects/right-to-record/">right to record</a>, and freedom of expression, information, and assembly. Fortunately, there is a global movement led by organizations like <a href="https://netblocks.org/">NetBlocks</a>, <a href="https://www.accessnow.org/">AccessNow</a>, and many others who are actively monitoring and sharing information about shutdowns. Advocates globally are engaging in <a href="https://docs.google.com/spreadsheets/d/1_wopraAToTzg6TSMggae8hZ1fLFZu5OCY3IjgvVnqxA/edit?pli=1#gid=0">strategic litigation against shutdowns</a>. We stand in solidarity with their work to uphold human rights.</p></figure>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4806458 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="4806458" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e0cd645" data-id="e0cd645" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-347b013 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="347b013" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-be5a10b elementor-widget elementor-widget-menu-anchor" data-id="be5a10b" data-element_type="widget" data-widget_type="menu-anchor.default">
				<div class="elementor-widget-container">
					<div id="Indonesia" class="elementor-menu-anchor"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e7de746 elementor-widget elementor-widget-heading" data-id="e7de746" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Cara Pendokumentasian Selama Pemadaman Internet</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a0ea30e elementor-widget elementor-widget-text-editor" data-id="a0ea30e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Pada bulan Juni 2019, saat pelanggaran HAM dan krisis kemanusiaan terus berlangsung di Myanmar, Menteri Perhubungan dan Komunikasi negara tersebut <a href="https://www.telenor.com/network-shutdown-in-myanmar-21-june-2019/">memerintahkan perusahaan telekomunikasi</a> untuk memadamkan layanan internet seluler di wilayah Rakhine dan tetangganya Chin. Pemerintah Myanmar mengklaim melakukan pemadaman (shutdown) “<a href="https://www.nytimes.com/2019/07/02/world/asia/internet-shutdown-myanmar-rakhine.html">untuk kepentingan umum</a>”, menyebutnya sebagai “gangguan pada perdamaian” dan “aktivitas ilegal”. Pada kenyataannya, pemadaman internet terhadap sejuta orang itu memotong akses ke informasi dan komunikasi mendasar  serta mengganggu upaya kemanusiaan. Seperti <a href="https://www.fortifyrights.org/mya-inv-2019-07-22/">pernyataan</a> yang disampaikan Matthew Smith dari Fortify Rights, “Shutdown ini terjadi dalam konteks berlangsungnya genosida atas etnis Rohingya dan kejahatan perang terhadap Rakhine, dan bahkan jika ini ditujukan untuk menarget militan, tindakan ini jelas-jelas tidak sesuai proporsi.”</p><p>Pemadaman ini <a href="https://www.aljazeera.com/news/2019/09/myanmar-partially-lifts-internet-blackout-rakhine-chin-states-190901092319529.html">dipulihkan sebagian di 5 kota kecil</a> pada September 2019, tapi masih terus berlangsung. Di bulan yang sama, di negeri tetangga Bangladesh di mana banyak suku Rohingya mengungsi, pemangku kekuasaan memerintahkan operator ponsel untuk <a href="https://www.reuters.com/article/us-bangladesh-rohingya/bangladesh-blocks-internet-services-in-rohingya-refugee-camps-idUSKCN1VO1WQ">memblokir layanan 3G dan 4G</a> di kamp pengungsian Rohingya dan berhenti menjual kartu SIM kepada suku Rohingya. Memasuki tahun 2020, <a href="https://www.mmtimes.com/news/protesters-demand-end-internet-blackout-rakhine.html">4 kota kecil di Rakhine</a> terus mengalami pemotongan akses dari dunia, dan Bangladesh <a href="https://www.washingtonpost.com/world/2019/12/11/rohingya-refugees-cut-off-world-got-watch-myanmars-rulers-go-trial/">terus membatasi layanan servis</a> di kamp-kamp pengungsian.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-1c0dfab elementor-widget elementor-widget-spacer" data-id="1c0dfab" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6a22d3a elementor-widget elementor-widget-heading" data-id="6a22d3a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Pendokumentasian Selama Pemadaman Internet</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9e47d7d elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="9e47d7d" data-element_type="widget" data-widget_type="blockquote.default">
				<div class="elementor-widget-container">
					<blockquote class="elementor-blockquote">
			<p class="elementor-blockquote__content">
				“Pemadaman internet dan pelanggaran hak asasi manusia berjalan beriringan.”			</p>
							<footer>
											<cite class="elementor-blockquote__author">Berhan Taye, AccessNow</cite>
														</footer>
					</blockquote>
				</div>
				</div>
				<div class="elementor-element elementor-element-94299cc elementor-widget elementor-widget-text-editor" data-id="94299cc" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Secara global, pemadaman internet terus meningkat. Berdasarkan <a href="https://www.accessnow.org/keepiton/">kampanye #KeepItOn</a> AccessNow, ada 128 pemadaman yang disengaja selama bulan Januari-Juli 2019, dibandingkan dengan total 196 pada 2018, dan meningkat tajam dari tahun 2017 sebanyak 106 pemadaman, dan 75 pada tahun 2016. Di seluruh dunia, pemerintah bersama perusahaan telekomunikasi, melakukan pemadaman internet sebagai strategi untuk menekan masyarakat, mencegah mobilisasi, serta menghentikan penyebaran dan pendokumentasian informasi terkait pelanggaran hak asasi manusia.</p><p>Pemadaman internet bisa dilakukan dalam berbagai bentuk, termasuk pemblokiran terhadap <a href="https://netblocks.org/reports/twitter-facebook-whatsapp-and-instagram-restricted-in-southern-turkey-oy9RzE83">platform spesifik yang menargetkan aplikasi dan situs populer</a>, <a href="https://digitalrightsmonitor.pk/partial-network-shutdown-in-different-parts-of-pakistan-owing-to-ashura/">pemadaman data seluler</a>, <a href="https://www.apc.org/en/news/engagemedia-recent-internet-blocking-and-throttling-west-papua">pembatasan bandwidth</a>, atau <a href="https://edition.cnn.com/2019/08/08/tech/kashmir-internet-blackout-india-pakistan-intl-hnk/index.html">pemadaman total internet</a>. Semua jenis <i>shutdown</i> ini bertujuan untuk mengganggu  penyampaian informasi dan pengungkapan berbagai pelanggaran secara <i>real-time</i>. Hal ini sering terjadi selama unjuk rasa, pemilihan umum, dan periode ketidakstabilan politik, serta seringkali disertai dengan meningkatnya penindasan oleh negara, serangan militer dan kekerasan. Walaupun pemerintah mencoba untuk membenarkan <i>shutdown</i> <a href="https://www.accessnow.org/cms/assets/uploads/2019/07/KeepItOn-2018-Report.pdf">atas nama keamanan publik atau alasan lainnya</a>, <i>shutdown </i>jelas dilakukan pada saat negara takut kehilangan kendali atas masyarakat, informasi, atau narasi politik. <i>Shutdowns</i> melanggar hak asasi manusia, sangat mengganggu <a href="https://www.theguardian.com/world/2020/jan/05/the-personal-and-economic-cost-of-kashmirs-internet-ban">kehidupan dan mata pencaharian</a>, serta berdampak pada <a href="https://www.top10vpn.com/cost-of-internet-shutdowns/">ekonomi global</a>.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3c929a6 elementor-widget elementor-widget-spacer" data-id="3c929a6" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-ef9cc88 elementor-widget elementor-widget-image" data-id="ef9cc88" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="768" height="282" src="wp-content/uploads/2020/10/app-specific.018-768x282.jpeg" class="attachment-medium_large size-medium_large" alt="" sizes="(max-width: 768px) 100vw, 768px" />											<figcaption class="widget-image-caption wp-caption-text">Types of internet shutdowns. Photo from WITNESS, used with permission.</figcaption>
										</figure>
								</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-12d3fb8 elementor-widget elementor-widget-spacer" data-id="12d3fb8" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-187e83c elementor-widget elementor-widget-text-editor" data-id="187e83c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><b>Mendokumentasikan pelanggaran HAM sama pentingnya selama pemadaman internet. </b>Bahkan jika informasi tidak dapat disebarkan pada saat itu, dokumentasi dapat menjadi cara untuk menjaga suara-suara yang berusaha dibungkam pihak berwenang, serta untuk mengamankan bukti pelanggaran yang dapat digunakan untuk menuntut pertanggungjawaban di kemudian hari. Proses pendokumentasian pelanggaran dan upaya menjaga dokumentasi ini tentu saja menjadi lebih menantang dan berisiko karena represi dan hambatan teknologi selama <i>internet shutdown</i>. <b>Bagaimana para aktivis bisa mengambil dan menyimpan video mereka selama </b><b><i>shutdown</i></b><b>, membagikannya secara </b><b><i>offline</i></b><b> dan melakukannya dengan lebih aman?</b></p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-c9a8a58 elementor-widget elementor-widget-spacer" data-id="c9a8a58" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1a76699 elementor-widget elementor-widget-text-editor" data-id="1a76699" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3>Dalam Seri Ini</h3><p>Melalui kerja sama dengan para aktivis yang telah mengalami pemadaman internet, kami mempelajari beberapa tips dan pendekatan yang berguna untuk <b>mengambil dan menyimpan dokumentasi video selama </b><b><i>internet shutdown</i></b> yang akan dibagikan melalui seri ini. Kami menulis tips ini untuk gawait Android, tetapi tips tersebut juga bisa diterapkan untuk iPhone. Beberapa strategi membutuhkan perencanaan terlebih dulu (dan seringkali, akses internet). Jadi sebaiknya baca, coba, dan terapkan dulu sebelum berada dalam situasi di mana sulit mendapatkan akses internet padahal harus melakukan pendokumentasian. Simpan salinan dari setiap tutorial sehingga bisa dirujuk dan dibagikan selama <i>shutdown</i>. Terakhir, mulailah mempraktikkan teknik dan metode berikut dalam kegiatan sehari-hari, sehingga menjadi kebiasaan sebelum berada dalam krisis.</p><ul><li><b>Persiapan</b><ul><li><a href="https://blog.witness.org/?p=28146&amp;preview=true"><strong>Menyiapkan ponsel untuk dokumentasi </strong><em><strong>offline</strong></em></a></li></ul></li><li><b>Pendokumentasian</b><ul><li><a href="https://blog.witness.org/?p=28157&amp;preview=true"><b>Haruskah menggunakan aplikasi dokumentasi ini?</b></a></li></ul></li><li><b>Pemeliharaan</b><ul><li><a href="https://blog.witness.org/?p=28160&amp;preview=true"><b>Menjaga media yang dapat diverifikasi selama <em>internet shutdown</em></b></a></li><li><a href="https://blog.witness.org/?p=28163&amp;preview=true"><b>Mencadangkan media ponsel tanpa internet atau komputer</b></a></li></ul></li><li><strong><em>Share</em> dan Komunikasi</strong><ul><li><a href="https://blog.witness.org/?p=28168&amp;preview=true" target="_blank" rel="noopener"><b>Berbagi file dan komunikasi selama <em>internet shutdown</em></b></a></li></ul></li></ul>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-68f0297 elementor-widget elementor-widget-spacer" data-id="68f0297" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-fc03391 elementor-widget elementor-widget-image" data-id="fc03391" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="768" height="256" src="wp-content/uploads/2020/10/KeepItOn_Twitter_Banner-768x256.jpg" class="attachment-medium_large size-medium_large" alt="" sizes="(max-width: 768px) 100vw, 768px" />											<figcaption class="widget-image-caption wp-caption-text">Photo from original guide, used with permission.</figcaption>
										</figure>
								</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-b971ba5 elementor-widget elementor-widget-spacer" data-id="b971ba5" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-41cf820 elementor-widget elementor-widget-text-editor" data-id="41cf820" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<figure id="attachment_27444" class="wp-caption aligncenter"><p>Catatan akhir: Meskipun tips tersebut dapat membantu pendokumetasian selama pemadaman internet, kami menekankan bahwa solusi akhir adalah harus memulihkan akses internet dan berhasil membela <a href="https://lab.witness.org/projects/right-to-record/">hak masyarakat untuk merekam</a>, serta kebebasan berekspresi, informasi dan berkumpul. Untungnya, ada gerakan global yang dipimpin oleh organisasi seperti <a href="https://netblocks.org/">NetBlocks</a>, <a href="https://www.accessnow.org/">AccessNow</a> dan lainnya yang secara aktif memantau dan berbagi informasi terkait <i>shutdown</i>. Para advokat secara global juga terlibat dalam <a href="https://docs.google.com/spreadsheets/d/1_wopraAToTzg6TSMggae8hZ1fLFZu5OCY3IjgvVnqxA/edit?pli=1#gid=0">litigasi strategis terhadap shutdown</a>. Kami berdiri dalam solidaritas dengan kerja-kerja mereka untuk menegakkan hak asasi manusia.</p></figure>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6c24b67 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="6c24b67" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bf6bf8f" data-id="bf6bf8f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-368b82f elementor-widget-divider--view-line_text elementor-widget-divider--element-align-center elementor-widget elementor-widget-divider" data-id="368b82f" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
							<span class="elementor-divider__text elementor-divider__element">
				ABOUT THE AUTHORS				</span>
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-d17d7e0 elementor-widget elementor-widget-text-editor" data-id="d17d7e0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em><a href="https://twitter.com/WITNESS_Asia" target="_blank" rel="noopener">WITNESS Asia</a> is the Asia-Pacific branch of WITNESS, an international organisation that supports people using video in their fight for human rights. Access more guides on the <a class="external" href="https://blog.witness.org/" target="_blank" rel="noopener">WITNESS blog</a>.</em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/guide-internet-shutdown-witness/">Documenting During Internet Shutdowns: A WITNESS Guide in English and Indonesian</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/guide-internet-shutdown-witness/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
