<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Philippines &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/philippines/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 20 May 2021 10:53:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Philippines &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>The State of the Philippine Digital Nation</title>
		<link>https://coconet.social/2021/philippines-digital-nation/</link>
					<comments>https://coconet.social/2021/philippines-digital-nation/#respond</comments>
		
		<dc:creator><![CDATA[Rezwan Islam]]></dc:creator>
		<pubDate>Fri, 16 Apr 2021 02:33:50 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Nation]]></category>
		<category><![CDATA[Philippines]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5493</guid>

					<description><![CDATA[<p>The Foundation for Media Alternatives, a Coconet community member, has published a new report, “State of the Digital Nation: The Digital Rights Report 2020”, that documents how human rights were impacted by technology and digital innovations in the country. The report is based on findings from January to December 2020.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/philippines-digital-nation/">The State of the Philippine Digital Nation</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><img class="aligncenter size-large wp-image-5494" src="wp-content/uploads/2021/04/State-of-the-digital-nation-1024x719.jpg" alt="State of the Digital Nation: The Digital Rights Report 2020" width="1024" height="719" sizes="(max-width: 1024px) 100vw, 1024px" /></p>
<p>&nbsp;</p>
<p>In the Philippines, activists, students, journalists, and independent media who criticise the government have been increasingly targeted by threats to their human and digital rights.</p>
<p>The Foundation for Media Alternatives, a Coconet community member, has published a new report, “<a href="https://fma.ph/2021/03/31/state-of-the-digital-nation-the-digital-rights-report-2020/">State of the Digital Nation: The Digital Rights Report 2020</a>”, that documents how human rights were impacted by technology and digital innovations in the country. The report is based on findings from January to December 2020.</p>
<p>One of the findings of the report is the &#8220;twin pandemic&#8221;, where the rise of the &#8220;<a href="https://coconet.social/2020/covid-infodemic-asia-pacific/">infodemic</a>&#8220;, or mis- and disinformation about the virus, spreads faster than the virus itself. The Philippine government also censored social media posts critical of its pandemic response.</p>
<p>Other digital rights challenges last year were digital and social media surveillance under the guise of health, the increase of phishing and hacking, and the infringement of minor’s privacy due to the switch to online learning.</p>
<p>The report is divided into the following key thematic areas:</p>
<ul>
<li>Internet Access</li>
<li>Gender and Information and Communications Technologies</li>
<li>Privacy and Data Protection</li>
<li>Freedom of Expression</li>
</ul>
<p>The report also provides a forecast of emerging events and challenges due to technology in 2021.</p>
<p>Download the full report <a href="https://drive.google.com/drive/folders/118xPXx6xtSG7ygPBzYuLshpYx1zSCv-O?usp=sharing">here</a>.</p>
<p>&nbsp;</p>
<p><em>The <a href="https://fma.ph/">Foundation for Media Alternatives</a> assists citizens and communities, especially civil society organisations and other disadvantaged sectors, in the strategic and appropriate use of information and communications technologies for democratisation and popular empowerment.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/philippines-digital-nation/">The State of the Philippine Digital Nation</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/philippines-digital-nation/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
