<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Freedom of Expression &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/freedom-of-expression/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 10 Sep 2020 08:04:18 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Freedom of Expression &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Drop charges against students protesting the Myanmar internet shutdown</title>
		<link>https://coconet.social/2020/myanmar-statement-students/</link>
					<comments>https://coconet.social/2020/myanmar-statement-students/#respond</comments>
		
		<dc:creator><![CDATA[coconetadmin]]></dc:creator>
		<pubDate>Thu, 03 Sep 2020 05:34:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Freedom of Expression]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3122</guid>

					<description><![CDATA[<p>Maung Saungkha and Kyaw Lynn are members of the Coconet community. Prior to his July 27 sentencing, Kyaw Lynn had published on Coconet.social articles on how the Myanmar internet shutdown is contributing to the COVID-19 pandemic and the government’s attempts to censor information on the Arakan (Rakhine) conflicts. Both members were arrested for participating in protests against the internet shutdown in Rakhine and Chin states, currently the longest shutdown in the world.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-students/">Statement: Drop charges against students protesting the Myanmar internet shutdown</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><i>The following article is a republication of the September 2, 2020 </i><a href="https://www.hrw.org/news/2020/09/02/myanmar-drop-charge-against-activist-poet"><i>joint statement</i></a><i> from seven international human rights organisations calling to drop the charges against activist Maung Saungkha, who is expecting a court verdict tomorrow, September 4.</i></p>
<p><i>Maung Saungkha and Kyaw Lynn are members of the Coconet community. Prior to his July 27 sentencing, Kyaw Lynn had published on Coconet.social articles on </i><a href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/"><i>how the Myanmar internet shutdown is contributing to the COVID-19 pandemic</i></a><i> and </i><a href="https://coconet.social/2020/myanmar-internet-media-censorship/"><i>the government’s attempts to censor information on the Arakan (Rakhine) conflicts</i></a><i>. Both members were arrested for participating in protests against the internet shutdown in Rakhine and Chin states, currently the </i><a href="https://coconet.social/2020/anniversary-myanmar-internet-shutdown/"><i>longest shutdown</i></a><i> in the world.</i></p>
<p><i>The statement was originally posted on the Human Rights Watch website and is being shared under the </i><a href="https://www.hrw.org/permissions#2"><i>Creative Commons BY-NC-ND 3.0 US license</i></a><i>. </i></p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p>The <a href="https://www.hrw.org/asia/myanmar-burma">Myanmar</a> authorities should immediately drop the charge against the free-speech activist and poet Maung Saungkha, seven international human rights organizations said today. Police in Yangon charged him on July 7, 2020 with organizing a protest demanding an end to internet restrictions in conflict-affected Rakhine and Chin States. A court verdict is expected on September 4.</p>
<p>The authorities accused Maung Saungkha of hanging a banner reading, “Is the internet being shut down to hide war crimes and killing people?” from an overpass in downtown Yangon on June 21. He faces up to three months in jail and a fine for unauthorized protests under section 19 of the Peaceful Assembly and Peaceful Procession Law. June 21 was the one-year anniversary of mobile internet shutdowns in parts of Rakhine and Chin States.</p>
<p>“The charges against Maung Saungkha are just the latest example of the Myanmar government’s intolerance of critical speech and peaceful protest,” said Shamini Darshni Kaliemuthu, executive director at FORUM-ASIA. “Instead of prosecuting those peacefully protesting the year-long internet shutdown in Rakhine and Chin States, the authorities should uphold free expression rights by ending the shutdown.”</p>
<p>The international human rights groups are Access Now, Amnesty International, Article 19, Asian Forum for Human Rights and Development (FORUM-ASIA), Civil Rights Defenders, Fortify Rights, and Human Rights Watch.</p>
<p>The current National League for Democracy-led government, which took office in April 2016, has increasingly restricted the rights to freedom of expression and peaceful protest.</p>
<p>On July 27, a court sentenced two student leaders, Myat Hein Tun and Kyaw Lin, to one month each in Yangon’s Insein Prison for failing to give advance notice of a protest on February 23 in Kamaryut township in Yangon. During the protest, the students demanded that the government immediately lift internet restrictions in Rakhine and Chin States and called for accountability of those responsible for the Myanmar military’s alleged shelling of a primary school in Buthidaung township in Rakhine State that had injured 21 students.</p>
<p>On March 25, the court had sentenced seven other students who participated in the protest to one month in prison each with hard labor. All nine students were sentenced under the Peaceful Assembly and Peaceful Procession Law.</p>
<p>The Peaceful Procession and Peaceful Assembly Law imposes criminal penalties for failing to provide advance notice for an assembly or to comply with broadly worded restrictions on speech and actions at assemblies. The restrictions are contrary to <a href="https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftbinternet.ohchr.org%2F_layouts%2F15%2Ftreatybodyexternal%2FDownload.aspx%3Fsymbolno%3DCCPR%252fC%252fGC%252f37%26Lang%3Den&amp;data=02%7C01%7Cmaungm%40hrw.org%7Cc535c6ba3d0a44a9748f08d84a174022%7C2eb79de4d8044273a6e64b3188855f66%7C1%7C0%7C637340811024659838&amp;sdata=kUqwfb3BPQlS9T6XWBrfMs2LH4fLOWAQ0H5bbzuLKF8%3D&amp;reserved=0">international human rights</a> law, which prohibits criminal penalties for organizing or participating in a peaceful assembly. Imposing prison sentences is particularly harsh in the context of the <a href="https://www.hrw.org/tag/coronavirus">Covid-19</a> pandemic, when overcrowded and unsanitary prison conditions could facilitate its transmission.</p>
<p>The ongoing mobile internet shutdown in seven townships in Rakhine State and one township in Chin State also <a href="https://ap.ohchr.org/documents/dpage_e.aspx?si=A/HRC/RES/38/7">violates</a> international<a href="https://www.ohchr.org/EN/NewsEvents/Pages/DisplayNews.aspx?NewsID=25572&amp;LangID=E"> human rights law,</a> which requires any internet-based restrictions on communities to be <a href="https://www2.ohchr.org/english/bodies/hrc/docs/gc34.pdf">necessary and proportionate</a>. The government first imposed restrictions in nine townships in June 2019, only permitting voice calls and text messages, also known as SMS. The restrictions were temporarily lifted in some areas on September 1, 2019, but the government re-imposed the restrictions on February 3. They were removed in Maungdaw township on May 2, leaving eight townships still under restrictions.</p>
<p>The shutdown enters its second year amid heightened fighting between the Arakan Army, an ethnic Rakhine armed group, and the Myanmar military. Although the Ministry of Transport and Communications announced on June 23 that internet restrictions were <a href="https://www.mmtimes.com/news/myanmar-govt-may-end-rakhine-internet-blackout-august.html">provisionally extended only through August 1</a>, 3G and 4G services remain blocked, with only 2G data networks available. The 2G speed is drastically slower and does not allow services such as videocalls, emails, or access to webpages with photos or videos. Restoring full internet access has taken on even more urgency ever since a fresh outbreak of local Covid-19 transmission cases in the State since mid-August.</p>
<p>On August 1, the Norwegian mobile telecommunications provider, Telenor, issued a <a href="https://www.telenor.com/network-restrictions-in-myanmar-1-august-2020/?fbclid=IwAR39NCGBJzscOrFhqgMutccRH7v1vVMmJa7GEI9TfpGRYyAazq0aY4Bf0ZY">media release</a> stating that the Ministry of Transport and Communications had directed all mobile operators to extend internet restrictions on 3G and 4G mobile data services in the eight townships until October 31. Telenor expressed deep concern regarding the lack of “meaningful internet services, and for the impact on civilians.”</p>
<p>The Myanmar authorities have also ordered websites of independent and ethnic news media blocked, along with many other sites. The internet restrictions were imposed under section 77 of the Telecommunications Law, which grants the Myanmar authorities broad and arbitrary powers to suspend telecommunications networks. The government had <a href="https://www.hrw.org/node/338861/printable/print">cited</a> a “security requirement and public interest” in its order to telecom companies to reimpose the restrictions, and later <a href="https://www.mofa.gov.mm/statement-on-the-temporary-internet-suspension-in-rakhine-and-southern-chin-states/">cited</a> an escalation in fighting to continue them. The government also offered other rationales including concerns about <a href="https://www.rfa.org/english/news/myanmar/ban-06232020164951.html">hate speech</a>, nationalist sentiment, <a href="https://www.irrawaddy.com/news/burma/myanmar-military-rakhine-internet-blackout-still-required-protect-military-secrets.html">disinformation</a>, the Arakan Army using mobile internet to detonate IEDs and landmines, and “military secrets” online.</p>
<p>The Myanmar authorities should drop the charges against Maung Saungkha and quash the convictions against the nine student activists, the groups said. The government should repeal or amend all repressive laws, including the Telecommunications Law and the Peaceful Assembly and Peaceful Procession Law, which violate the rights to freedom of expression and peaceful assembly.</p>
<p>“Myanmar’s government should restore full internet to the eight townships in Rakhine and Chin States,” said Matthew Bugher, head of Asia Programme, at Article 19. “The lack of meaningful communications or information-sharing capabilities poses further threats to people trapped by fighting amid the Covid-19 pandemic.”</p>
<p>This joint statement is endorsed by:</p>
<ol>
<li>Access Now</li>
<li>Amnesty International</li>
<li>Article 19</li>
<li>Asian Forum for Human Rights and Development (FORUM-ASIA)</li>
<li>Civil Rights Defenders</li>
<li>Fortify Rights</li>
<li>Human Rights Watch</li>
</ol>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-students/">Statement: Drop charges against students protesting the Myanmar internet shutdown</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-statement-students/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
