<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Kyaw Lynn &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/kyawlynn/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 18 Jun 2020 01:48:15 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Kyaw Lynn &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>The Myanmar government is hiding the truth of Arakan conflicts</title>
		<link>https://coconet.social/2020/myanmar-internet-media-censorship/</link>
					<comments>https://coconet.social/2020/myanmar-internet-media-censorship/#comments</comments>
		
		<dc:creator><![CDATA[Kyaw Lynn]]></dc:creator>
		<pubDate>Tue, 19 May 2020 09:36:23 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Disinformation]]></category>
		<category><![CDATA[Myanmar]]></category>
		<category><![CDATA[Press]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1387</guid>

					<description><![CDATA[<p>The military strategy to fight the AA and other rebel groups in the country can be summarized into cutting off four key areas: recruitment, food, budget, and information. The fourth part, information, means to censor news and media about the Arakan conflicts.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-internet-media-censorship/">The Myanmar government is hiding the truth of Arakan conflicts</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1280" height="800" src="wp-content/uploads/2020/05/95278020_1673689189438959_6368142275997859840_o.jpg" class="vc_single_image-img attachment-full" alt="Rakhine Myanmar World Food Programme" sizes="(max-width: 1280px) 100vw, 1280px" /></div>
			<figcaption class="vc_figure-caption">In conflict-stricken Arakan, Myanmar, news and information are often censored by the state, such as in the case of the April 29 shooting of a World Food Programme truck. Photo by Development Media Group, used with permission.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On May 3, 2020, the Myanmar government <a href="https://www.mmtimes.com/news/govt-eases-internet-black-out-rakhine.html">restored internet access in Maungdaw township</a>, one of Myanmar’s nine townships in Arakan (formally known as Rakhine State) and Chin State without internet access for almost a year. The reason, they reported, was due to more stability in the area. But in reality, the grounds for reinstalling the internet are different from the reported reason. In fact, the government and military are using the <a href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/">internet shutdown</a> to monopolize information, thereby robbing people of the truth on Arakan conflicts.</p>
<p class="western">For the government of Myanmar, there are two burning political issues in Arakan: the question of armed revolution by the <a href="https://www.arakanarmy.net/">Arakan Army</a> (AA), which the government has declared a <a href="https://www.mmtimes.com/news/myanmar-govt-declares-arakan-army-terrorist-group.html">terrorist group</a>, and the case of ethnic <a href="https://www.icj-cij.org/en/case/178">Rohingya Muslims</a>, who the <a href="https://www.hrw.org/news/2020/01/27/international-court-justice-orders-burmese-authorities-protect-rohingya-muslims">UN International Court of Justice</a> said should be protected from <a href="https://www.facebook.com/407570359384477/posts/1814273642047468/">genocide and military violence</a>. The two issues are related to each other – the self-determination of the Arakan region must consider the group rights of Rohingya Muslims, while the group rights of Rohingya Muslims must also be compatible with the autonomy of the Arakan community.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 class="western">Countering AA through information and media</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The military strategy to fight the AA and other rebel groups in the country can be summarised into cutting them off in four key areas: recruitment, food, budget, and information. The first three parts of this strategy have resulted in tens of thousands of innocent civilians displaced and moved to internal refugee camps. A number of villages have also been burned down in order to separate rebels and local supporters. From December 2019 to mid-April 2020, the nongovernment organization <a href="https://www.facebook.com/BurmaMonitor/posts/518519182162858">Burma Monitor</a> reported over 163,000 displacements, 366 deaths, 406 injuries, and 45 arrests in Arakan and Chin State alone.</p>
<p>The fourth part, information, means to censor news and media about the Arakan conflicts. To do this, the government <a href="https://www.aljazeera.com/news/2020/04/myanmar-military-steps-attacks-coronavirus-spreads-200416060255091.html">has sued</a> and continues to sue <a href="https://www.ifj.org/media-centre/news/detail/category/asia-pacific/article/myanmar-military-drops-irrawaddy-and-reuters-lawsuits.html">local and international media</a> under different laws such as counter-terrorism and unlawful association. Among the media outfits sued were national organisations <a href="https://www.ifj.org/media-centre/news/detail/category/press-releases/article/myanmar-editor-arrested-over-interview-with-ethnic-armed-group.html">Voice of Myanmar</a> and <a href="https://www.khitthitnews.com/">Khit-Thit Media</a>, as well as local media like <a href="https://www.irrawaddy.com/in-person/interview/myanmar-govts-crackdown-on-journalists-angers-media-and-legal-insiders.html">Narinjara</a> and <a href="https://www.facebook.com/dmgenglishversion/posts/2641845436053122">Development Media Group</a> (DMG). On top of this, websites by the AA and local media remain blocked in the country, meaning audiences cannot access information on them through locally operated telecommunication channels.</p>
<p>Due to the lawsuits, domestic media no longer interview the AA to get their side of the story, which in turn has led to one-sided or biased news, and even <a href="https://www.arakanarmy.net/post/two-staffs-of-the-who-shot-by-the-checkpoint-of-the-myanmar-army-at-the-front-of-ra-maung-bridge">government and military propaganda</a>. Here are four prominent examples of this, all within April 2020.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1438" height="795" src="wp-content/uploads/2020/05/Screen-Shot-2020-05-14-at-5.53.28-PM.png" class="vc_single_image-img attachment-full" alt="Myanmar Media DMG Paletwa" sizes="(max-width: 1438px) 100vw, 1438px" /></div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1439" height="792" src="wp-content/uploads/2020/05/Screen-Shot-2020-05-14-at-5.53.15-PM.png" class="vc_single_image-img attachment-full" alt="Myanmar Media Global Light of Myanmar Paletwa" sizes="(max-width: 1439px) 100vw, 1439px" /></div>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 15px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center; font-size: 75%;">The April 29 shooting of a World Food Programme truck in Paletwa Town, Chin State was reported differently by national media (left) and state media. Whatever the truth is, it is alarming that the Arakan Army is automatically blamed without prior investigation, and the people in the conflict-stricken area not consulted.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On the morning of April 13, 2020, artillery shelling from the military&#8217;s Battalion No. 550 hit the Yangon-Sittwe Highway near the village of Kyauk-Sike, Ponnagyun township. Eight innocent civilians were killed and seven more were injured. This story was covered by a number of regional and international media like <a href="https://www.reuters.com/article/us-myanmar-rakhine/officials-say-eight-killed-in-myanmars-rakhine-state-army-says-reports-fabricated-idUSKCN21V1LD">Reuters</a>, <a href="https://www.aljazeera.com/news/2020/04/killed-myanmar-troubled-western-state-rakhine-200414020254435.html">Aljazeera</a>, <a href="https://youtu.be/4T32teP6USs">Radio Free Asia</a> (RFA), and <a href="https://www.dmediag.com/news/1390-png-vcm-8d">The Irrawaddy</a>, which highlighted the event while also interviewing family members of the deceased. There was also evidence showing that the artillery and weapon marks were from Myanmar military products. However, the state media, especially military-owned ones like <a href="https://en.wikipedia.org/wiki/Myawaddy_TV">Myawaddy TV</a>, reported there was no such event that day and that all news and information on it were fake and fabricated.</p>
<p>The second most prominent example is the <a href="https://www.aljazeera.com/news/2020/04/attack-vehicle-killed-myanmar-driver-condemned-200422011858564.html">April 20 killing</a> of the World Health Organization (WHO) driver in Min-Bra Township, one of the conflict areas with no internet access, while carrying COVID-19 samples to be tested in Yangon. Both the government and the AA <a href="https://www.mmtimes.com/news/myanmar-govt-forms-panel-probe-who-vehicle-attack.html">denied being behind the attack</a>. Whatever the truth is, international media remained neutral in their coverage of the attack. But state media coverage and messaging to the local community concluded it was an AA attack, citing only statements from the government and military. The one-sided nature of the story has reportedly made the local people in Arakan angry and disappointed. Weeks later, the Myanmar government formed a committee to <a href="https://www.irrawaddy.com/specials/myanmar-covid-19/myanmar-begins-investigation-drivers-fatal-shooting.html">investigate the attack</a>. The investigation is <a href="https://www.aljazeera.com/news/2020/04/rapporteur-urges-probe-myanmar-war-crimes-200428072927948.html">still ongoing</a>, but based on previous statements, it is clear the commission will say it is an AA attack. In fact, presidential spokesperson U Zaw Htay already said even before the end of the investigation: “It (WHO car) was attacked by AA and we formed a committee to investigate it <a href="https://www.facebook.com/myanmarnownews/videos/265957091210266/?t=702">in order to fulfil the international demand</a>”.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The third striking incident of the government’s monopolization of the truth is the April 21 killing of Arakan youth Kyaw Min Chey in May Lwan village, Min-Bra township. Government media like Global New Light of Myanmar and Myawaddy reported that an AA member (not a civilian), while on his motorbike, was killed after being caught with a Chinese-made grenade and a knife in a toolbox. But reports from <a href="https://www.rfa.org/english/news/myanmar/villager-shot-04222020175624.html">RFA</a> told the truth: After coming back from fishing, Kyaw Min Chay was killed by military soldiers at the entrance of his village, his mother a witness. After his death, the soldiers gave his family 150,000 MMK (or USD 104) as compensation, saying, “We are so sorry, and it is just usual thing happened in the time of war.” The family accepted the money because they were afraid of the soldiers.</p>
<p>The final and newest occurrence happened on April 29, when <a href="https://www.wfp.org/news/wfp-food-reaches-communities-affected-conflict-and-hunger-remote-paletwa-chin-state">World Food Programme trucks were attacked</a> while transporting food to Paletwa Town in Chin State. As usual, <a href="https://www.globalnewlightofmyanmar.com/aa-attack-wfps-relief-aid-convoy-for-locals-in-paletwa/">the government accused the AA</a>, while the latter <a href="https://www.dmediag.com/news/1444-wfp-plw">denied the claims</a>. Paletwa is a mountainous and conflict-stricken area with no internet and media accessibility. Thus, only news by government media can reach it. As there remains a huge question of who to believe in this situation, it is all the more essential that non-government and international media be allowed to reach the area.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h5 class="qode-simple-quote-text-title"> The arrest of the Nay Myo Lin (from Voice of Myanmar) shows that the Myanmar government has failed to take into account calls from various media freedom groups to protect journalists’ safety andfreedom of the press. IFJ urges the authorities to drop the case against Nay Myo Lin as the VOM was conducting a legitimate interview in response to a recently introduced ruling.  </h5>
				</div>
				<div class="qode-simple-quote-author-holder">
					<h4 class="qode-simple-quote-author-title"> International Federation of Journalists  </h4>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 class="western">Monopolizing the news</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>These four examples have shown us how the government and military <a href="https://www.dmediag.com/news/1448-hr-athan">manipulate and monopolize news</a> and information on conflicts in Arakan. Continuing to do so, however, can potentially escalate this conflict in the future. After all, the real motive of restoring the internet is less about the armed conflict or stability, and more about addressing international pressure, such as <a href="https://www.dhakatribune.com/bangladesh/rohingya-crisis/2020/05/11/myanmar-unhcr-undp-extend-mou-on-rohingya-repatriation">allowing the Rohingya Muslims’ voluntary repatriation</a>. These efforts have since been suspended due to COVID-19 and the increasing number of cases in neighbouring Bangladesh. On top of that, the armed conflict in Arakan <a href="https://www.aljazeera.com/programmes/insidestory/2020/04/myanmar-stepping-attacks-ethnic-rebel-groups-200418180109734.html">shows no sign of ceasing or reducing</a> despite the AA’s declaration of a unilateral ceasefire till the end of May 2020 due to the pandemic. These recent decisions have led to <a href="https://www.irrawaddy.com/news/burma/suu-kyis-backing-myanmar-military-rakhine-state-conflict-draws-criticism.html">criticism of Myanmar State Counselor Aung San Suu Kyi</a>, thought by most democratic Burmese and non-Burmese ethnic people to be a moderator or mediator between the two sides of the armed conflict. It is also clear that these events have led to more identity-based politics, like Burmese vs non-Burmese people.</p>
<p>Let me highlight three sentences from the book 1984 by English novelist George Orwell: “War is Peace”, “Freedom is Slavery”, and “Ignorance is Strength”. The Myanmar government and military, like the book’s Ministry of Truth, are trying to rob the truth in Arakan conflicts, thus making people “more fearful” and “less knowing”. As the local people in Arakan become more fearful, they become mute. As the people in Myanmar become less knowing, they become blind and deaf.</p>
<p>Covering up these atrocities in Arakan makes “Wrong into Right” and “Right into Wrong”.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Kyaw Lynn is a postgraduate student majoring in Political Science at the University of Yangon in Myanmar. He is also the chairperson of his university&#8217;s Political Science Association and one of the founders of <a href="https://www.facebook.com/amnestyarakanteam/">Amnesty Arakan Team</a>.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-internet-media-censorship/">The Myanmar government is hiding the truth of Arakan conflicts</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-internet-media-censorship/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/</link>
					<comments>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comments</comments>
		
		<dc:creator><![CDATA[Kyaw Lynn]]></dc:creator>
		<pubDate>Wed, 22 Apr 2020 01:00:03 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1124</guid>

					<description><![CDATA[<p>The internet is a primary source of information on the global COVID-19 pandemic. But Arakan (formally known as Rakhine State) in western Myanmar is now experiencing the longest internet shutdown in the world. The internet blockage has also caused a lack of information and knowledge concerning COVID-19. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/">To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The internet is a primary source of information on the <a href="https://covid19.who.int/">global COVID-19 pandemic</a>. But Arakan (formally known as Rakhine State) in western Myanmar is now experiencing the <a href="https://www.digitalrightsmm.info/news.html">longest internet shutdown in the world</a>. Arakan is the second poorest area in Myanmar, with very weak health infrastructure in place. The internet blockage has also caused a lack of information and knowledge concerning COVID-19.</p>
<p>The first <a href="https://www.reuters.com/article/us-myanmar-rakhine-idUSKBN1ZZ0LC">internet shutdown</a> started in June 21, 2019, in four townships in northern Arakan. Another five townships (one in neighboring Chin State) followed in February 3, 2020. This coming April 21, it will be approximately 330 days since the first four areas have been without internet, while it will be nearly 100 days for the latter townships.</p>
<p>The government has given different reasons for the shutdown, such as the stopping of the hate speech, disinformation, and instability due to conflict in the area. <a href="https://www.digitalrightsmm.info/news.html">None of these are justifiable.</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>The situation in Rakhine</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Although the world is now fighting against COVID-19, over one million people in northern Arakan are still being neglected by the government action plan. As of April 19, Myanmar now has <a href="https://doph.maps.arcgis.com/apps/opsdashboard/index.html#/f8fb4ccc3d2d42c7ab0590dbb3fc26b8">107 positive cases and five deaths</a> attributed to the coronavirus. The Myanmar government has not announced any case from Arakan. But this number is in danger of ballooning. Arakan is very close to Bangladesh, where there are a reported <a href="https://covid19.who.int/region/searo/country/bd">2,456 positive cases and 91 deaths</a> as of the same date. But if not addressed, Arakan will remain very prone to local transmissions in the border area.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> The internet blockage has caused a lack of information and knowledge concerning COVID-19.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>But different from most other parts of the world, the armed conflict is still ongoing in the region between the government’s Myanmar Army and the Arakan Army, despite the latter’s announced unilateral ceasefire until the end of April upon the recommendation of a <a href="https://www.un.org/sg/en/content/sg/statement/2020-03-23/secretary-generals-appeal-for-global-ceasefire">global ceasefire</a> by the UN Secretary-General. Instead, according to most analysts, the Myanmar Army is trying to take military advantage in Arakan by imposing more offensive military operations and leading to more innocent civilian deaths. Since the beginning of January to April 15 of this year, the Arakan Information Center reports that 377 civilians have died, injured, and disappeared. Most of them are women and children.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The conflict has resulted in about 200,000 internally displaced persons (IDP) in the region are also living in camps without any well-built shelter and well-managed food distribution. The lack of social distancing in the IDP camps, the lack of water availability, and the lack of information on COVID-19 make it impossible to prevent a coronavirus outbreak in the area.</p>
<p>Unfortunately, what makes the people to be more fearful is the military attack on the civilian target rather than COVID-19. It seems the Myanmar government and military are more enthusiastic to fight against the Arakan Army than COVID-19 in the region. But under these three situations – internet shutdown, IDP camps, and ongoing armed conflict – it is unimaginable how the situation could be worse in the future if COVID-19 were to hit Arakan.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Stop war and internet shutdown</h3>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the global pandemic period, we need to stop the war and internet shutdown to fight COVID-19 in Arakan.</p>
<p>I am one of those people speaking out, even if I am currently now hiding from police search. On February 23, 2020, in Yangon, I led the Students’ Unions’ <a href="https://www.reuters.com/article/us-myanmar-internet-idUSKCN20I16X">protest and demonstration</a> against the internet shutdown and human rights violations in the conflict-affected areas of Arakan. I could be prisoned for one month with hard labor if I face the trial.</p>
<p>But it is just my case. The more important thing to focus on is to fight against the COVID-19. Over one million people in Arakan are vulnerable to the disease if we do not stop the war and internet shutdown.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2530" height="1619" src="wp-content/uploads/2020/04/Mrauk_U_Rakhine_State_01.jpg" class="vc_single_image-img attachment-full" alt="Mrauk_U,_Rakhine_State_01" sizes="(max-width: 2530px) 100vw, 2530px" /></div></a>
			<figcaption class="vc_figure-caption">Mrauk U township in Rakhine State (Arakan) is one of the nine townships in Myanmar that still do not have internet access to this day. This file is licensed under the Creative Commons Attribution-Share Alike 3.0 Unported license.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Thus, let us say: Stop the war and internet shutdown to fight against the COVID-19 in Arakan. Your participation is our power. Your concentration is our courage. Your word is our want.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Kyaw Lynn is currently a postgraduate student taking his master&#8217;s degree in political science at the University of Yangon, Myanmar. He is the chairperson of Political Science Association (University of Yangon) as well as the principal officer at Arakan Students Union (Universities-Rangoon). </em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/">To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/feed/</wfw:commentRss>
			<slash:comments>4</slash:comments>
		
		
			</item>
	</channel>
</rss>
