<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Maung Saungkha &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/maungsaungkha/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 24 Nov 2020 05:43:28 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Maung Saungkha &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Condemning the arrests of the students for protesting against the civil war in Rakhine state</title>
		<link>https://coconet.social/2020/myanmar-statement-student-arrests/</link>
					<comments>https://coconet.social/2020/myanmar-statement-student-arrests/#respond</comments>
		
		<dc:creator><![CDATA[Maung Saungkha]]></dc:creator>
		<pubDate>Tue, 03 Nov 2020 07:41:46 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Human Rights]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3881</guid>

					<description><![CDATA[<p>Civil society organisations in Myanmar condemn the unjust arrests of the students, and we demand to immediately release them and urgently drop all the charges made against them.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-student-arrests/">Statement: Condemning the arrests of the students for protesting against the civil war in Rakhine state</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3881" class="elementor elementor-3881" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-db340a3 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="db340a3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6fce4f" data-id="e6fce4f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a6bcb81 elementor-widget elementor-widget-text-editor" data-id="a6bcb81" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em>Coconet.social is republishing this statement signed by over 180 civil society organisations from Myanmar. The statement is available in English and Burmese. If you would like to sign, whether as an individual or on behalf of an organisation, please fill out the form at the end of this post. </em><em><em>Signatures are updated in real-time in the table below.</em>  You can also access the form via <a href="https://airtable.com/shrE6ewO5mIsCKiNp" target="_blank" rel="noopener">this link</a>.</em></p><p><em>Aside from signing this statement, you can also read up on <a href="https://coconet.social/tag/myanmar/">previous statements and articles</a> on Myanmar and Rakhine state, also known as Arakan.</em></p><p><em>(Featured photo from the <a href="https://twitter.com/athan_info/">Athan Twitter account</a>.)</em></p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-71d51fa elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="71d51fa" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-7788e23 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="7788e23" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ef7c69b" data-id="ef7c69b" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-351eeb5 elementor-widget elementor-widget-text-editor" data-id="351eeb5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>From early 2019, civil war has been raging in Northern Rakhine state and Chin state in Myanmar. Based on Radio Free Asia (RFA) records, between December 2018 to 2<sup>nd</sup> October 2020, a total of 292 civilian deaths and 654 casualties due to war have been reported in those areas.</p><p>Over 200,000 local civilians have to abandon their homes and villages due to the ongoing armed conflicts in Rakhine state. Myanmar military has continued to attack the civilian villages with heavy artillery and arrest local civilians for interrogation even during the COVID-19 pandemic.</p><p>The Government has shut down the internet in Rakhine State for over a year and even at this time has only allowed 2G internet connection. As a result, the public has been facing challenges to obtain essential information and health education during the pandemic.</p><p>On 10<sup>th</sup> September 2020, Rakhine Student Union led a protest against the human rights violations and prolonged humanitarian crisis suffered by the Rakhine people in Sittwe. To show solidarity with the Rakhine students, the All Burma Federation of Student Unions (ABFSU) started to mobilize in Yangon, Meikhtila, Mandalay, Monywa, Hsiphaw, Loikaw, and Pyay through similar demonstrations and poster campaigns. In response, the Government started to arrest the student activists under different charges to clamp down on the widely spreading student mobilizations.</p><p>The charges made against the students were based on the Peaceful Assembly Law as well as article 505 (a) (b) of the Penal Code and the Natural Disaster Management Law. Students were arrested in their homes and at their present locations (university compounds and monasteries) by a large contingent of police and plainclothes people, as if the latter were raiding organized criminal activities, without any warrant nor any regard to the law. Moreover, Kyaw Thiha Ye Kyaw and Soe Hla Naing, who are ABFSU Central Working Committee members, were arrested on 25<sup>th</sup> September. They were sentenced to a two-year prison sentence by the Maha Aung Myay township court, a one-year sentence by the Aung Myay Thar Zan township court, and a two-year sentence by the Chan Aye Thar Zan township court. In total, they were sentenced to five years in prison, according to Athan’s record. They still have to face charges prosecuted under the Natural Disaster Management Law and the Peaceful Assembly Law.</p><p>On the other hand, although there have been election campaigns and massive mobilizations involving over a thousand people organized by supporters of the current ruling party, military-backed political parties, and other political parties, the Government has not prosecuted any of these actions and even publicly stated that it would be difficult to make charges against the supporters, which is extremely disappointing.</p><p>It is an outright basic human rights violation by the Government to unjustly arrest and detain the students and to raid their homes and universities even though all they did was carry out peaceful demonstrations to stop the ongoing civil wars, which have caused immense suffering to the public.</p><ol><li>We civil society organizations condemn the unjust arrests of the students and we demand that they be immediately released and that all charges made against them be dropped urgently.</li><li>We urge the Government and the military to announce a nation-wide ceasefire, including Rakhine state, without any exception, and we strongly urge to solve political conflicts only through political dialogues.</li></ol><h5> </h5><h5><strong>To contact &#8211; </strong></h5><p>Maung Saungkha (Athan) – 09773937273</p><p>Mon Yee Kyaw (Nyan Lynn Thit Analytica) – 09784043478</p><p>Moe Thway (Generation Wave) – 09979238220</p><p>Thinzar Shunlei Yi (ACDD) – 09795574775</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-68cf4ce elementor-widget elementor-widget-spacer" data-id="68cf4ce" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-c0e9e07 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="c0e9e07" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ba526c9" data-id="ba526c9" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-485a006 elementor-widget elementor-widget-text-editor" data-id="485a006" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<iframe src="wp-content/uploads/2020/11/Statement-on-arrests-of-students-and-civil-war-in-rakkhine-1.pdf" height="500"></iframe>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-fad42d3 elementor-widget elementor-widget-spacer" data-id="fad42d3" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-b6bd787 elementor-widget elementor-widget-html" data-id="b6bd787" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<iframe class="airtable-embed" src="https://airtable.com/embed/shrD6DGiKbcDHov2Z?backgroundColor=cyan&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>		</div>
				</div>
				<div class="elementor-element elementor-element-3c1e0ee elementor-widget elementor-widget-text-editor" data-id="3c1e0ee" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
									</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-111dce1 elementor-widget elementor-widget-html" data-id="111dce1" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<iframe class="airtable-embed" src="https://airtable.com/embed/shrE6ewO5mIsCKiNp?backgroundColor=cyan" frameborder="0" onmousewheel="" width="100%" height="1050" style="background: transparent; border: 1px solid #ccc;"></iframe>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6a2d392 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="6a2d392" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-142699f" data-id="142699f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-894089e elementor-widget-divider--view-line_text elementor-widget-divider--element-align-center elementor-widget elementor-widget-divider" data-id="894089e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
							<span class="elementor-divider__text elementor-divider__element">
				ABOUT THE AUTHOR				</span>
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5c6c3a9 elementor-widget elementor-widget-text-editor" data-id="5c6c3a9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em>Maung Saungkha is a poet, activist, and the Executive Director of <a href="https://www.athanmyanmar.org/about/">Athan</a>.</em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-b17c589 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="b17c589" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9cf25ad" data-id="9cf25ad" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-5f7b3ae elementor-widget elementor-widget-text-editor" data-id="5f7b3ae" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
									</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-student-arrests/">Statement: Condemning the arrests of the students for protesting against the civil war in Rakhine state</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-statement-student-arrests/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
