<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Online Gender-based Violence &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/online-gender-based-violence/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 16 Apr 2021 02:36:55 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Online Gender-based Violence &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Resources: Indonesian Guides to Combat Online Gender-based Violence</title>
		<link>https://coconet.social/2021/indonesia-online-gender-violence-resource/</link>
					<comments>https://coconet.social/2021/indonesia-online-gender-violence-resource/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Wed, 31 Mar 2021 15:54:18 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Online Gender-based Violence]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5373</guid>

					<description><![CDATA[<p>While the 2021 celebrations for International Women's Month are ending, it's important that digital rights advocates continue to share and amplify efforts surrounding online gender-based violence (OGBV). In Indonesia, Coconet community member SAFEnet recently published "Aspek Hukum untuk Jerat Pelaku" (Legal Aspects for Perpetrator's Snare), a guide that deals with the legal implications and actions for individuals whose intimate content are disseminated online and without their consent.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-online-gender-violence-resource/">Resources: Indonesian Guides to Combat Online Gender-based Violence</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>While the 2021 celebrations for International Women&#8217;s Month are ending, it&#8217;s important that digital rights advocates continue to share and amplify efforts surrounding online gender-based violence (OGBV). In Indonesia, the term is also referred to as KBGO, short for &#8220;kekerasan berbasis gender online&#8221;.</p>
<p>Coconet community member SAFEnet recently published &#8220;<a href="https://awaskbgo.id/ncii2">Aspek Hukum untuk Jerat Pelaku</a>&#8221; (Legal Aspects for Perpetrator&#8217;s Snare), a guide that deals with the legal implications and actions for individuals whose intimate content are disseminated online and without their consent. The guide follows an <a href="https://awaskbgo.id/ncii">earlier publication</a> that enumerates immediate actions to take even before legal action can happen.</p>
<div id="attachment_5376" style="width: 595px" class="wp-caption aligncenter"><a href="https://awaskbgo.id/ncii2"><img aria-describedby="caption-attachment-5376" class="wp-image-5376 size-full" src="wp-content/uploads/2021/03/Layout-Buku-Safenet-2_page-0001-585x830-1.jpg" alt="" width="585" height="830" sizes="(max-width: 585px) 100vw, 585px" /></a><p id="caption-attachment-5376" class="wp-caption-text">Click the image to read the report.</p></div>
<p>SAFEnet will also be publishing more guides in the coming months. Stay updated on their releases by following their <a href="https://awaskbgo.id/publikasi/">publications page</a> and social media.</p>
<p>&nbsp;</p>
<p><em>Ellen Kusuma is a member of SAFEnet’s Security and Safety Division.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-online-gender-violence-resource/">Resources: Indonesian Guides to Combat Online Gender-based Violence</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/indonesia-online-gender-violence-resource/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
