<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan	</title>
	<atom:link href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 11 Feb 2021 02:23:05 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Democracy and digital rights derailed in Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comment-61</link>

		<dc:creator><![CDATA[Democracy and digital rights derailed in Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Thu, 11 Feb 2021 02:23:05 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1124#comment-61</guid>

					<description><![CDATA[[&#8230;] expression online. These freedoms are especially important in light of the COVID-19 pandemic, where lack of information can only worsen the situation. As expressed by Felicia Anthonio, Access Now campaigner and lead of [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] expression online. These freedoms are especially important in light of the COVID-19 pandemic, where lack of information can only worsen the situation. As expressed by Felicia Anthonio, Access Now campaigner and lead of [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia		</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comment-59</link>

		<dc:creator><![CDATA[Pretty Good Podcast Episode 8: How Digital Rights Challenges Reflect Democratic Ones In Myanmar - EngageMedia]]></dc:creator>
		<pubDate>Wed, 23 Dec 2020 10:39:00 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1124#comment-59</guid>

					<description><![CDATA[[&#8230;] to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] to be criticised locally and internationally. The internet shutdown can also be linked to COVID-19 cases in the country and the censorship of local media when reporting on what is happening in [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; The Myanmar government is hiding the truth of Arakan conflicts		</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comment-31</link>

		<dc:creator><![CDATA[Coconet &#124; The Myanmar government is hiding the truth of Arakan conflicts]]></dc:creator>
		<pubDate>Wed, 20 May 2020 10:50:42 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1124#comment-31</guid>

					<description><![CDATA[[&#8230;] internet are different from the reported reason. In fact, the government and military are using the internet shutdown to monopolize information, thereby robbing people of the truth on Arakan [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] internet are different from the reported reason. In fact, the government and military are using the internet shutdown to monopolize information, thereby robbing people of the truth on Arakan [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: To fight COVID-19 in Myanmar, a call to end the war and internet shutdown in Arakan region - Global Voices Advox		</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comment-27</link>

		<dc:creator><![CDATA[To fight COVID-19 in Myanmar, a call to end the war and internet shutdown in Arakan region - Global Voices Advox]]></dc:creator>
		<pubDate>Wed, 29 Apr 2020 14:52:08 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1124#comment-27</guid>

					<description><![CDATA[[&#8230;] edited article by Kyaw Lynn is from EngageMedia, a non-profit media, technology and culture organization. This [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] edited article by Kyaw Lynn is from EngageMedia, a non-profit media, technology and culture organization. This [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
