<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: #BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers	</title>
	<atom:link href="https://coconet.social/2020/bebaskan-ravio-patra-privacy/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/bebaskan-ravio-patra-privacy/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 14 Oct 2020 03:35:23 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Online critics of Indonesia&#039;s Omnibus Law face arrests, harassment, and more - EngageMedia		</title>
		<link>https://coconet.social/2020/bebaskan-ravio-patra-privacy/#comment-46</link>

		<dc:creator><![CDATA[Online critics of Indonesia&#039;s Omnibus Law face arrests, harassment, and more - EngageMedia]]></dc:creator>
		<pubDate>Wed, 14 Oct 2020 03:35:23 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1184#comment-46</guid>

					<description><![CDATA[[&#8230;] and social media such as Twitter and Instagram account takeovers. A famous example is the case of Ravio Patra, whose WhatApp was hacked and later used to frame and arrest him due to broadcasted messages [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] and social media such as Twitter and Instagram account takeovers. A famous example is the case of Ravio Patra, whose WhatApp was hacked and later used to frame and arrest him due to broadcasted messages [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
