<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Coconet II: Firing Up Digital Rights Collaborations Across Asia (and Beyond)	</title>
	<atom:link href="https://coconet.social/2019/coconet-collaborations-asia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2019/coconet-collaborations-asia/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 22 Apr 2020 01:59:26 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Coconet Digital Rights		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-20</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet Digital Rights]]></dc:creator>
		<pubDate>Wed, 22 Apr 2020 01:59:26 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-20</guid>

					<description><![CDATA[[&#8230;] Coconet II: Firing up digital rights collaborations across asia (and beyond) [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Coconet II: Firing up digital rights collaborations across asia (and beyond) [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: EngageMedia Blog &#124; Responding to COVID-19		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-12</link>

		<dc:creator><![CDATA[EngageMedia Blog &#124; Responding to COVID-19]]></dc:creator>
		<pubDate>Fri, 20 Mar 2020 10:07:27 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-12</guid>

					<description><![CDATA[[&#8230;] week, EngageMedia has been rapidly adjusting how we do our work. After several large in-person events last year, we are lucky most of our projects this year are focused online. Still, significant [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] week, EngageMedia has been rapidly adjusting how we do our work. After several large in-person events last year, we are lucky most of our projects this year are focused online. Still, significant [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; In Myanmar, Digital Rights Are Integral to Policy and Advocacy		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-11</link>

		<dc:creator><![CDATA[Coconet &#124; In Myanmar, Digital Rights Are Integral to Policy and Advocacy]]></dc:creator>
		<pubDate>Thu, 05 Mar 2020 06:00:42 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-11</guid>

					<description><![CDATA[[&#8230;] the MDRF was organised by Phandeeyar, Myanmar ICT for Democracy Organisation (a partner during Coconet II), Myanmar Centre for Responsible Business (MCRB), and Free Expression Myanmar. This year&#8217;s [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] the MDRF was organised by Phandeeyar, Myanmar ICT for Democracy Organisation (a partner during Coconet II), Myanmar Centre for Responsible Business (MCRB), and Free Expression Myanmar. This year&#8217;s [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Security and Well-Being of Activists		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-7</link>

		<dc:creator><![CDATA[Coconet &#124; Security and Well-Being of Activists]]></dc:creator>
		<pubDate>Wed, 18 Dec 2019 04:05:12 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-7</guid>

					<description><![CDATA[[&#8230;] Read more here. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Read more here. [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Stories of Resistance and Resilience at Coconet II		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-6</link>

		<dc:creator><![CDATA[Coconet &#124; Stories of Resistance and Resilience at Coconet II]]></dc:creator>
		<pubDate>Tue, 26 Nov 2019 03:16:10 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-6</guid>

					<description><![CDATA[[&#8230;] Read more here. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Read more here. [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Community and Collaboration at Coconet II		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-5</link>

		<dc:creator><![CDATA[Coconet &#124; Community and Collaboration at Coconet II]]></dc:creator>
		<pubDate>Thu, 21 Nov 2019 08:11:00 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-5</guid>

					<description><![CDATA[[&#8230;] Read more here. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Read more here. [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Why Do We Need A Digital Rights Movement in Southeast Asia?		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-4</link>

		<dc:creator><![CDATA[Coconet &#124; Why Do We Need A Digital Rights Movement in Southeast Asia?]]></dc:creator>
		<pubDate>Thu, 21 Nov 2019 07:50:23 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-4</guid>

					<description><![CDATA[[&#8230;] Read more here. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Read more here. [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Solidarity is what makes the movement go on		</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/#comment-3</link>

		<dc:creator><![CDATA[Coconet &#124; Solidarity is what makes the movement go on]]></dc:creator>
		<pubDate>Mon, 18 Nov 2019 06:34:25 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=575#comment-3</guid>

					<description><![CDATA[[&#8230;] told her story about the recent student protests in Indonesia during the recently concluded Coconet II in the [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] told her story about the recent student protests in Indonesia during the recently concluded Coconet II in the [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
