<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Coconet Voices &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/coconet-voices/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 03 Aug 2020 03:13:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Coconet Voices &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Excerpt: The Case for Technological Solutions to Digital Rights</title>
		<link>https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/</link>
					<comments>https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/#respond</comments>
		
		<dc:creator><![CDATA[Maryam Lee]]></dc:creator>
		<pubDate>Mon, 29 Jun 2020 01:00:18 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Human Rights]]></category>
		<category><![CDATA[Internet Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1612</guid>

					<description><![CDATA[<p>What does it mean when technologists say “you can code anything”? In her inaugural article for The IO Foundation, Maryam Lee shares her thoughts on why human rights perspectives have the potential to move technological innovation to greater heights. She also argues that people do not need to choose between enjoying the latest technologies and human rights, and how they both could co-exist in our lives.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/">Excerpt: The Case for Technological Solutions to Digital Rights</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>What does it mean when technologists say &#8220;you can code anything&#8221;? In her inaugural article for <a href="https://www.theiofoundation.org/">The IO Foundation</a>, <a href="http://linkedin.com/in/maryamlee">Maryam Lee</a> shares her thoughts on why human rights perspectives have the potential to move technological innovation to greater heights. She also argues that people do not need to choose between enjoying the latest technologies and human rights, and how they both could co-exist in our lives.</p>
<p>Maryam writes:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>&#8220;Principles of human rights as the ones stipulated in the <a href="https://www.un.org/en/universal-declaration-human-rights/">Universal Declaration of Human Rights</a> may be misunderstood as limiters to technological innovation. In reality, we do not have to give up our fundamental rights to enjoy advances in tech. It is more than possible to imagine a world where human rights and technological innovations co-exist, it is in fact already happening.&#8221;</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Read the full article <a href="https://docs.google.com/document/d/1ZVFcoeDvjO6eJDHVSxyH5FbvER02sCrQF7TW7O8Q_6U/edit#heading=h.s8nq2fjc6bdc">here</a>. For more articles on data-centric digital rights, you may also visit <a href="https://www.theiofoundation.org/publications/">TheIOFoundation.org/publications</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>(Note: The preview thumbnail of this article is an image by WOC in Tech Chat, used under the <a href="https://www.flickr.com/photos/wocintechchat/25926572291/in/photolist-Fv3sF6-GtB2c7-265qwzw-d1uCHu-uegRLR-KYWBHJ-29pkXpt-EFQzxR-2gLMjAm-HCGERb-2cQJrKK-33JykW-21mTczP-irVU66-8mYKQ2-a7XzWj-Fv3TbP-EFvQgs-AapZzD-qAqQUv-2bCLWXH-EFREKx-EFQvHX-QVqAGd-ac78vG-Fv4LyD-EFvNyQ-FbT2X3-EFvCK1-NE6KTU-2hmmcG7-GBtzjx-FbRZU7-2hp8gt8-dgLNXi-2c6makB-8rXf2N-2bWHddS-QPCuA7-2fn4ZHj-uK3V3b-Fv3zVg-EFQz3n-EFvSN1-FsLfCy-ch8t4W-brB5Qr-2epgcvw-2goWnzL-RvQEN7">Flickr Attribution 2.0 Generic (CC BY 2.0) license</a>.)</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="574" height="818" src="wp-content/uploads/2020/06/TIOF-Maryam.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 574px) 100vw, 574px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Maryam Lee is Strategic Program Manager at The IO Foundation. She oversees projects and activities designed to prepare technologists in the next step of technological innovation, which inevitably means building technologies that protect and respect human rights by design. With over a decade of experience in human rights work and advocacy, she brings in the perspectives of a human rights worker to the technology sector, applied thoughtfully by considering the multifaceted aspects of digital realities. Her work is evidence that the future is indeed multidisciplinary.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/">Excerpt: The Case for Technological Solutions to Digital Rights</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/</link>
					<comments>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/#comments</comments>
		
		<dc:creator><![CDATA[Chonthicha Jangrew]]></dc:creator>
		<pubDate>Thu, 18 Jun 2020 01:42:58 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Mob from Home]]></category>
		<category><![CDATA[Online Activism]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1524</guid>

					<description><![CDATA[<p>ความหวังที่จะเห็นการเปลี่ยนแปลงทางการเมืองของไทยเริ่มเกิดขึ้นอีกครั้งในช่วงต้นปี 2563 จากการเคลื่อนไหวของคนรุ่นใหม่หลังศาลรัฐธรรมนูญวินิจฉัยยุบพรรคอนาคตใหม่เมื่อวันที่ 21 กุมภาพันธ์ ได้จุดไฟกระแสความไม่พอใจที่มีต่อรัฐบาลของ พล.อ.ประยุทธ์ จันทร์โอชา ที่ดำรงตำแหน่งนายกรัฐมนตรีมาตั้งแต่เหตุการณ์รัฐประหารปี 2557 จนนำไปสู่กระแสกิจกรรมแฟลชม็อบ (Flash mob) ที่ดำเนินไปเป็นไฟลามทุ่งโดยกลุ่มนักศึกษาในหลายสถาบันทั่วประเทศ จากสถิติของศูนย์ทนายความเพื่อสิทธิมนุษยชนที่บันทึกเหตุการณ์ช่วงระหว่างวันที่ 21 กุมภาพันธ์จนถึง 14 มีนาคม 2563 พบว่า มีการจัดกิจกรรมชุมนุมในลักษณะแฟลชม็อบ เพื่อเรียกร้องประชาธิปไตยและต่อต้านเผด็จการอย่างน้อย 79 ครั้งที่เกิดในพื้นที่มหาวิทยาลัยจากทั่วประเทศ</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome/">วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Read this article in <a href="https://coconet.social/2020/thailand-student-online-activism-covid">English</a> | อ่านบทความนี้ใน <a href="https://coconet.social/2020/thailand-student-online-activism-covid">ภาษาอังกฤษ</a></em></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1668" src="wp-content/uploads/2020/06/Thai_1.0-scaled.jpeg" class="vc_single_image-img attachment-full" alt="Thailand Online Protest" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>นักศึกษาจากหลายมหาวิทยาลัยและประชาชนออกมาชุมนุมแสดงความไม่พอใจต่อรัฐบาลที่มหาวิทยาลัยเกษตรศาสตร์ เมื่อวันที่ 29 ก.พ. 2563               </em><em>ภาพถ่ายโดย: ชลธิชา แจ้งเร็ว<br />
</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ความหวังที่จะเห็นการเปลี่ยนแปลงทางการเมืองของไทยเริ่มเกิดขึ้นอีกครั้งในช่วงต้นปี 2563 <a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">จากการเคลื่อนไหวของคนรุ่นใหม่</a>หลังศาลรัฐธรรมนูญวินิจฉัย<a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">ยุบพรรคอนาคตใหม่</a>เมื่อวันที่ 21 กุมภาพันธ์ ได้จุดไฟแห่งความไม่พอใจที่มีต่อรัฐบาลของ พล.อ.ประยุทธ์ จันทร์โอชา ที่ดำรงตำแหน่งนายกรัฐมนตรีมาตั้งแต่เหตุการณ์รัฐประหารปี 2557 จนนำไปสู่กระแสกิจกรรม<a href="https://freedom.ilaw.or.th/node/801">แฟลชม็อบ</a> (Flash mob) ที่ดำเนินไปเป็นไฟลามทุ่งโดยกลุ่มนักศึกษาในหลายสถาบันทั่วประเทศ จาก<a href="https://www.tlhr2014.com/?p=16521">สถิติของศูนย์ทนายความเพื่อสิทธิมนุษยชน</a>ที่บันทึกเหตุการณ์ช่วงระหว่างวันที่ 21 กุมภาพันธ์จนถึง 14 มีนาคม 2563 พบว่า มีการจัดกิจกรรมชุมนุมในลักษณะแฟลชม็อบ เพื่อเรียกร้องประชาธิปไตยและต่อต้านเผด็จการอย่างน้อย 79 ครั้งที่เกิดในพื้นที่มหาวิทยาลัยจากทั่วประเทศ</p>
<p>“คลื่นแห่งการชุมนุมทางการเมือง” ฉายให้เห็นความตื่นตัวทางการเมืองของคนรุ่นใหม่ จนอาจเรียกได้ว่าน่าจะเป็นปรากฏการณ์ “Youthquake” ครั้งใหม่อีกครั้งหนึ่งของการเมืองไทยในรอบหลายปีที่ผ่านมา ทำให้กลุ่มผู้ที่สนับสนุนประชาธิปไตยเริ่มมีหวังว่ากระแสครั้งนี้อาจจะยกระดับไปสู่การชุมนุมประท้วงขับไล่รัฐบาล – ก็เป็นได้</p>
<p>แต่แล้วการเกิดขึ้นของการแพร่ระบาดของโคโรนาไวรัส หรือโควิด-19 ก็ทำให้หลายกิจกรรมต้องหยุดชะงักเพื่อรักษาระยะห่างทางสังคม รวมไปถึงการชุมนุมประท้วงในโลกออฟไลน์ด้วย</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ปรากฏการณ์ new normal กลายเป็นเงื่อนไขใหม่ให้ขบวนการเคลื่อนไหวทางสังคม (social movement) และภาคประชาสังคมไทยจำเป็นต้องปรับตัวให้ทัน เมื่อรัฐบาลไทยเลือกใช้กฎหมาย “ท่าไม้ตาย” ด้วยการประกาศใช้ <a href="https://www.bbc.com/thai/thailand-52014435">พ.ร.ก.ฉุกเฉินฯ</a> ทำให้การชุมนุมสาธารณะกลายเป็นสิ่งต้องห้าม และการเคลื่อนไหวบนโลกออนไลน์จึงกลายเป็นทางเลือกที่สำคัญของการเคลื่อนไหวของนักศึกษา แต่ขณะเดียวกันมาตรการควบคุมกิจกรรมบนโลกออนไลน์ของรัฐบาลก็เข้มข้นขึ้นภายใต้เงื่อนไขการควบคุมการแพร่ระบาดของโควิดด้วยเช่นกัน ส่งผลต่อการจำกัดเสรีภาพในการแสดงออกบนโลกออนไลน์ และล่าสุดกับความคืบหน้าของการตั้งกองบัญชาการปราบปรามการกระทำความผิดเกี่ยวกับอาชญากรรมทางเทคโนโลยี สังกัดสำนักงานตำรวจแห่งชาติ หรือเรียกว่า “<a href="https://prachatai.com/journal/2020/05/87863">ตำรวจไซเบอร์</a>” ซึ่งอาจกลายเป็น “ตำรวจทางความคิด” ที่คอยสอดส่องประชาชนบนโลกออนไลน์</p>
<p>หนึ่งในเครื่องมือของรัฐคือ การทำงานของ “<a href="https://www.antifakenewscenter.com/">ศูนย์ต่อต้านข่าวปลอม</a>” และการบังคับใช้กฎหมาย <a href="https://ilaw.or.th/node/4901">พ.ร.บ.คอมพิวเตอร์ฯ</a> ซึ่งมักถูกนำมาใช้เป็นเครื่องมือปิดปากประชาชนที่มีความเห็นต่างจากรัฐ และใช้ควบคุมการเผยแพร่ข้อมูลข่าวสารของประชาชนในช่วงสถานการณ์โควิด เช่นในเมื่อเดือนมีนาคม 2563 <a href="https://www.tlhr2014.com/?p=16625">นายดนัย อุศมา</a> ศิลปินชาวภูเก็ตซึ่งถูกเจ้าหน้าที่ตำรวจจับกุมแจ้งข้อกล่าวหาว่ามีการกระทำความผิด โดยการนำเข้าข้อมูลอันเป็นเท็จตาม พ.ร.บ.คอมพิวเตอร์ฯ หลังจากที่เขาโพสต์ข้อความว่าตนเองได้เดินทางกลับจากประเทศสเปนเข้าสู่ประเทศไทยผ่านทางสนามบินสุวรรณภูมิซึ่งไม่มีการคัดกรองตรวจผู้โดยสารที่มีโอกาสติดเชื้อไวรัสโควิด-19</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;Mainland Southeast Asia is now creating a zone where no activist or dissident can feel safe. For many leaving the region entirely might now be the only safe option.&quot; For <a href="https://twitter.com/Diplomat_APAC?ref_src=twsrc%5Etfw">@Diplomat_APAC</a> on disappearance of Wanchalearm Satsaksit in Cambodia <a href="https://twitter.com/hashtag/SaveWanchalearm?src=hash&amp;ref_src=twsrc%5Etfw">#SaveWanchalearm</a> <a href="https://t.co/tOSNSatqud">https://t.co/tOSNSatqud</a></p>&mdash; David Hutt (@davidhuttjourno) <a href="https://twitter.com/davidhuttjourno/status/1271032765228765185?ref_src=twsrc%5Etfw">June 11, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>กระแสความไม่พอใจต่อรัฐบาลกลายเป็นกระแสไฟที่โหมหนักต่อเนื่อง หลังจากเกิดเหตุ<a href="https://www.hrw.org/news/2020/06/05/cambodia-thai-activist-abducted-phnom-penh">การอุ้มหายของนายวันเฉลิม สัตย์ศักดิ์สิทธิ์</a> ผู้ลี้ภัยไทยในกัมพูชาเมื่อวันที่ 4 มิถุนายนที่ผ่านมา ทำให้ <a href="https://www.prachachat.net/politics/news-473712">#SaveWanchalearm</a> มีการ<a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">รีทวีตกว่า </a><a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">400,000</a> ครั้งภายหลังการหายตัวไปของเขา ขณะที่ผู้คนที่ออกมาร่วมการแสดงสัญลักษณ์เรียกร้องความเป็นธรรมในโลกออฟไลน์กลับได้รับหมายเรียกจากเจ้าหน้าที่ตำรวจให้เข้ารับทราบ<a href="https://prachatai.com/english/node/8590">ข้อกล่าวหาฝ่าฝืน พ.ร.ก.ฉุกเฉินฯ</a></p>
<p>แต่ไม่ว่าต้องเผชิญความท้าทายในการเคลื่อนไหวทางการเมืองอย่างไร นั่นก็ไม่ได้ทำให้การแสดงออกความไม่พอใจที่มีต่อรัฐบาลจะเงียบหายไปในยุคโควิค เมื่อการชุมนุมบนท้องถนนยังถูกจำกัด “การประท้วงออนไลน์” จึงส่งเสียงดังขึ้นและร้อนแรงกว่าที่เคยเป็นมา</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3># แฮชแท็กการเมือง: กระแส “แฟลชม็อบออนไลน์” ในทวิตภพ</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ที่ผ่านมา หากเราพูดถึงการชุมนุม ก็มักจะเห็นภาพการมารวมตัวกันของผู้คนในสถานที่ต่างๆ แต่เมื่อเข้าสู่ยุคที่มีการแพร่ระบาดของโควิด รูปแบบการประท้วงแบบแฟลชม็อบจึงย้ายมาอยู่ในแพลตฟอร์มออนไลน์แทน</p>
<p><a href="https://www.bangkokpost.com/thailand/politics/1817299/from-tweet-to-street-new-thai-generation-joins-protest">ทวิตเตอร์</a> กลายเป็นพื้นที่สำคัญแห่งการใช้เสรีภาพในการแสดงออกของกลุ่มคนรุ่นใหม่ เพื่อสะท้อนความคิดเห็นที่มีต่อประเด็นทางการเมืองในวันที่พื้นที่สาธารณะอื่นถูกปิดกั้น ด้วยลักษณะเฉพาะตัวของแพลตฟอร์มทวิตเตอร์ที่ผู้ใช้สามารถเป็นเจ้าของได้หลายแอคเค้าท์ ต้นทุนในการใช้ต่ำ และให้ความรู้สึกของการเป็น “นิรนาม” มากกว่าแพลตฟอร์มกระแสหลักอื่นในประเทศไทย ทำให้ตอบโจทย์กลุ่มคนรุ่นใหม่ที่ต้องการ<a href="https://www.reuters.com/article/us-health-coronavirus-thailand-monarchy/coronavirus-pandemic-prompts-rare-questioning-of-thai-monarchy-idUSKBN21918F">แสดงออกความคิดเห็นในประเด็นอ่อนไหวและสุ่มเสี่ยง</a>ที่จะพูดได้ในบริบทประเทศไทย</p>
<p>&#8220;ทวิตภพ&#8221; จึงกลายเป็นพื้นที่ใหม่ของการต่อสู้ทางความคิดที่เปิดโอกาสให้กลุ่มผู้ใช้งานได้แสดงความคิดเห็นในหลายประเด็นและบางประเด็นแทบจะไม่เคยได้ปรากฏหรือพูดถึงในพื้นที่สาธารณะอื่นมาก่อนในเมืองไทย</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="th" dir="ltr">&quot;โควิดหายมาไล่รัฐบาลกันไหม?&quot;<br><br>สหภาพนักเรียน นิสิต นักศึกษาแห่งประเทศไทย - Student Union of Thailand ได้โพสต์ภาพพร้อมข้อความ ระบุว่า สนท. ขอเชิญชวนชาวไทยทุกคนร่วมประท้วงออนไลน์โดยการถ่ายรูปถือป้ายแสดงความรู้สึกต่อรัฐบาลพร้อมติด <a href="https://twitter.com/hashtag/MobFromHome?src=hash&amp;ref_src=twsrc%5Etfw">#MobFromHome</a> <a href="https://t.co/n0MKKlSz6O">https://t.co/n0MKKlSz6O</a></p>&mdash; 𝙣𝙤𝙞𝙧 . (@noirisaesthetic) <a href="https://twitter.com/noirisaesthetic/status/1253722418788438017?ref_src=twsrc%5Etfw">April 24, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>การใช้แฮชแท็ก # เป็นหนึ่งในฟังก์ชั่นสำคัญที่ถูกนำมาใช้สร้างพื้นที่การชุมนุมออนไลน์ เพราะช่วยให้การแลกเปลี่ยนความคิดเห็นทางการเมืองและการรวมตัวของกลุ่มคนที่คิดเห็นคล้ายกันนั้นเป็นไปได้ง่ายขึ้น หนึ่งในข้อสังเกตที่พบคือ สิ่งที่เปลี่ยนแปลงไปในยุคแห่งความขัดแย้งทางการเมืองไทยในรอบสิบปีที่ผ่านมา คือการพูดคุยประเด็นทางการเมืองกลายเป็นเรื่องกระแสหลักในปัจจุบัน กลุ่มคนรุ่นใหม่ออกมาแสดงออกทางการเมืองมากขึ้น และแฮชแท็กว่าด้วยประเด็นการเมืองและความเป็นไม่ธรรมในสังคมพุ่งติดเทรนด์ยอดนิยมอันดับหนึ่งหลายเรื่องในช่วงปีที่ผ่านมา</p>
<p>หนึ่งในกระแสแฮชแท็กที่สำคัญในช่วงสถานการณ์โควิด-19 คือ กระแส <a href="https://www.bbc.com/thai/thailand-52265031">#nnevvy</a> ที่ติดเทรนด์ทวิตเตอร์อันดับหนึ่งของไทยและกลายเป็นกระแสดราม่าระหว่างประเทศไปแล้ว หลังจากนักแสดงหนุ่มไทย วชิรวิชญ์ ชีวอารี หรือ “ไบร์ท” จากซีรีส์เพราะเราคู่กัน 2gether The Series ที่กำลังโด่งดังในประเทศจีนได้รีทวีตโพสต์หนึ่ง พร้อมแคปชันที่เรียกฮ่องกงว่า “ประเทศ” ส่งผลให้แฟนคลับจีนรุมแสดงความคิดเห็นโจมตีไบร์ท แต่กระแสโต้กลับโดยชาวทวิตเตอร์ไทยได้ออกมาปกป้องและโต้เถียงกับคนจีน จนขยายไปสู่กลุ่มผู้ใช้ทวิตเตอร์ชาวฮ่องกงและไต้หวัน จนกลายเป็นวลี &#8220;<a href="https://www.telegraph.co.uk/news/2020/05/03/milkteaalliance-new-asian-youth-movement-battles-chinese-trolls/">พันธมิตรชานม</a>&#8221; #MilkTeaAlliance #ชานมเข้มข้นกว่าเลือด ขยายประเด็นสู่การถกเถียงเรื่องการเมืองการปกครองภายในประเทศ</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://www.reuters.com/article/us-thailand-china-internet/insta-star-wars-china-tensions-in-southeast-asia-flare-online-idUSKCN21W11P">Reuters</a> ระบุถึงประเด็นแฮชแท็กนี้ทำให้กลุ่มสนับสนุนประชาธิปไตยจับมือกันร่วมต่อต้านนักรบไซเบอร์ที่สนับสนุนรัฐบาลจีน ขณะที่ทาง “<a href="https://twitter.com/joshuawongcf/status/1249254158538072064">โจชัว หว่อง</a>” นักเคลื่อนไหวเพื่อประชาธิปไตยชาวฮ่องกง โพสต์ภาพถ่ายซีรีย์ของนักแสดงหนุ่มพร้อมข้อความว่า<em> ฮ่องกงยืนเคียงข้างเพื่อนชาวไทยผู้รักในเสรีภาพ ต่อต้านการรังแกจากจีน และตั้งความหวังถึงขั้นสร้างพันธมิตรในเอเชียเพื่อต่อต้านลัทธิเผด็จการ</em></p>
<p>ในช่วงสถานการณ์การแพร่ระบาดโควิดและอำนาจของ พ.ร.ก.ฉุกเฉิน ได้จำกัดการจัดกิจกรรมต่างๆ และบรรยากาศการรวมตัวชุมนุมของนักศึกษาจึงได้ชะลอตัวไป ทำให้ทางฝั่ง<a href="https://www.facebook.com/studentunion.thailand/">สหภาพนักเรียน นิสิต นักศึกษาแห่งประเทศไทย (สนท.)</a> เสนอไอเดียแคมเปญออนไลน์เชิญชวนคนไทยให้ร่วมกัน <em>“ประท้วงจากบ้าน”</em> ด้วยการแชร์ภาพหรือถือป้ายข้อความแสดงความรู้สึกไม่พอใจที่มีต่อการทำงานของรัฐบาล พร้อมติดแฮชแท็ก <a href="https://www.dailynews.co.th/regional/771073">#MobFromHome</a> จนแฮชแท็กนี้ขึ้นติดเทรนด์อันดับหนึ่งในทวิตเตอร์ประเทศไทย</p>
<p>จากการชวนตั้งแฮชแท็กเพื่อสื่อสารถึงประะเด็นทางการเมืองและรวมไปถึงบางประเด็นที่อ่อนไหวได้กลายเป็นกระแสหลักเพื่อแสดงพลังการแสดงออกแบบรวมหมู่ (collective action) และบางแฮชแท็กในทวิตเตอร์ใด้กลายเป็นประเด็นถกเถียงอย่างร้อนแรงในแบบที่ไม่เคยเกิดขึ้นมาก่อนในประเทศไทย</p>
<p>นอกจากการใช้ # ในการสร้างพื้นที่ชุมนุมออนไลน์แล้วนั้น อีกวิธีการหนึ่งที่สังเกตเห็นจากปรากฏการณ์ของคำว่า <em>“ทัวร์ลง” </em>มักจะถูกหยิบยกมาอธิบายรูปแบบกิจกรรมออนไลน์ที่เชิญชวนผู้ติดตามในแอคเค้าท์ของตน เข้าไปรุมแสดงความคิดเห็นหรือวิพากษ์วิจารณ์โพสต์นั้นๆ เพราะเมื่อฝ่ายรัฐบาลมีทีม<a href="https://www.bbc.com/thai/thailand-51633675">หน่วยปฏิบัติการข่าวสาร</a> หรือ Information Operation (IO) คอยจับตาและมุ่งแสดงความคิดเห็นโจมตีกลุ่มผู้ที่เห็นต่างจากรัฐบาล ฝ่ายนักกิจกรรมประชาธิปไตยก็จำเป็นต้องพยายามหายุทธวิธีต่างๆ ในลักษณะ “ทัวร์ลง” เพื่อเรียกระดมแนวร่วมสาธารณะให้ไปช่วยกันโต้กลับด้วยข้อมูลในโพสต์นั้นๆ</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1920" src="wp-content/uploads/2020/06/Thai-Protest-2-scaled.jpeg" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>นิสิตจากมหาวิทยาลัยศรีนครินทรวิโรฒ ประสานมิตร จัดกิจกรรมแฟลชม็อบแสดงออกทางการเมืองเมื่อวันที่ 26 ก.พ. 2563 ภาพถ่ายโดย: ชลธิชา แจ้งเร็ว</p>
<p style="text-align: center;"><em> </em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>เมื่อ &#8216;ความเป็นส่วนตัว&#8217; เป็นเทรนด์ของคนรุ่นใหม่ แพลตฟอร์มไหนจะตอบโจทย์ขบวนการเคลื่อนไหว</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เมื่อทวิตเตอร์กลายเป็นพื้นที่ทำกิจกรรมทางสังคมออนไลน์ที่ได้รับความนิยมมากขึ้นในประเทศไทย และได้มีความเคลื่อนไหวสำคัญเกิดขึ้นคือเมื่อวันที่ 13 พฤษภาคมที่ผ่านมา หลังจากการประกาศเปิดตัวบัญชีทางการของ &#8220;ทวิตเตอร์ประจำประเทศไทย&#8221; หรือ @TwitterThailand ด้วยข้อความ &#8220;สวัสดีครับ ประเทศไทย!&#8221; ต่อมาไม่นานเมื่อทวิตเตอร์ได้ประกาศเปลี่ยนแปลง<a href="https://www.bbc.com/thai/52663959">นโยบายความเป็นส่วนตัว</a>เมื่อวันที่ 19 พฤษภาคม เพื่อแจ้งเรื่องการแชร์ข้อมูลของผู้ใช้งานให้กับ &#8220;พาร์ทเนอร์&#8221; โดยจะมีการแชร์ข้อมูลระดับอุปกรณ์ของผู้ใช้ คือ IP address เพื่อปรับปรุงพัฒนาโฆษณาให้เหมาะกับผู้ใช้มากขึ้น</p>
<p>จากความเคลื่อนไหวดังกล่าว จึงตามมาด้วยกระแสต่อต้านผ่านแฮชแท็ก #ไม่เอาทวิตเตอร์ไทยแลนด์ (<a href="https://twitter.com/search?q=%23NoTwitterThailand&amp;src=typed_query">#NoTwitterThailand</a>) ขึ้นเทรนด์อันดับหนึ่ง เพราะชาวทวิตเตอร์ไทยได้ตั้งข้อสังเกตว่า นี่อาจเป็นส่วนหนึ่งของการสอดส่องพฤติกรรมประชาชนและควบคุมเสรีภาพในการแสดงออกของประชาชนบนโลกออนไลน์โดยรัฐบาลไทย หลังจาก<a href="https://twitter.com/BeePunnakanta/status/1227457580299096064?s=20">นายพุทธิพงษ์ ปุณณกันต์</a> รมว.กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม ได้ทวีตข้อความว่า ตนเพิ่งได้หารือกับผู้บริหารของทวิตเตอร์ประจำสิงคโปร์ ในประเด็นการต่อต้านข่าวปลอมและเนื้อหาที่มีความรุนแรง เป็นเหตุให้กลุ่มผู้ใช้งานส่วนหนึ่งแสดงความไม่ไว้ใจต่อการทำงานของทวิตเตอร์ที่อาจจะไม่ได้ให้หลักประกันทั้งเรื่อง “ความเป็นส่วนตัว&#8221; และ &#8220;ความปลอดภัย&#8221; แก่ผู้ใช้งานในประเทศไทยได้</p>
<p>ประเด็นดังกล่าวได้เป็นเหตุให้ผู้ใช้งานทวิตเตอร์บางกลุ่มเริ่มชักชวนกันย้ายไปใช้งาน “แพลตฟอร์มทางเลือก” ที่เป็นโอเพนซอร์ซอย่างเช่น “<a href="http://www.voicetv.co.th/read/QFFOiCT73">Minds</a>” ที่เน้นเรื่องความเป็นส่วนตัวและและเสรีภาพบนโลกอินเตอร์เน็ต เช่นเดียวกับ<a href="https://twitter.com/Fringer/status/1263260715474808833?s=20">สฤณี อาชวานันทกุล</a> ได้ทวีตข้อความ <em>“ลาก่อนทวิตเตอร์ ไปเจอกันที่ </em><em>Minds” </em>ล่าสุดทางแพลตฟอร์ม <a href="https://www.minds.com/newsfeed/1111398298334855168">Minds</a> ได้ออกมาประกาศว่า ตอนนี้ได้รองรับการใช้งานภาษาไทยเรียบร้อยแล้ว</p>
<p>เมื่อเกิดกระแสความไม่ไว้ใจทวิตเตอร์ จึงชวนให้คิดต่อว่า แล้วรูปแบบของการเคลื่อนไหวทางสังคมผ่านแพลตฟอร์มออนไลน์ในอนาคตจะเป็นอย่างไร เมื่อกลุ่มคนรุ่นใหม่เริ่มให้ความสำคัญกับความเป็นส่วนตัวและความปลอดภัยของการใช้งานแพลตฟอร์ม ขณะเดียวกันเงื่อนไขของการขับเคลื่อนทางสังคมจำเป็นต้องอาศัยโซเชียลเน็ตเวิร์คที่มีผู้ใช้จำนวนมากพอจะส่งเสียงให้เกิดการเปลี่ยนแปลงขึ้น และคำถามที่เป็นโจทย์ใหญ่กว่านั้นคือ รูปแบบการจัดกิจกรรมแฟลชม็อบ หรือลักษณะการชุมนุมแบบไม่ยืดเยื้อ ทั้งในโลกออฟไลน์และออนไลน์ จะนำไปสู่การขับเคลื่อนประเด็นทางสังคมที่มีอยู่อย่างหลากหลายได้อย่างไร เพื่อผลักดันไปสู่ความเปลี่ยนแปลงที่พวกเราฝันไว้</p>
<p>อาจจะเป็นคำถามที่ตอบยากด้วยคนเพียงกลุ่มเดียวในสังคม แต่คำตอบที่เห็นชัดแล้วคือ <em>“กลุ่มคนรุ่นใหม่ได้ตื่นตัวทางการเมืองแล้ว”</em> ในฐานะพลังสำคัญที่น่าจับตามอง อยู่ที่ว่าหลังจากนี้ เราจะกำหนดทิศทางการเคลื่อนไหวเพื่อผลักดันความตื่นตัวในรูปแบบที่เป็นอยู่ จนนำไปสู่การเปลี่ยนแปลงทางการเมืองเชิงโครงสร้างโดยรวมให้สำเร็จได้อย่างไร</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>ชลธิชา แจ้งเร็ว (ลูกเกด) ผู้ร่วมก่อตั้งกลุ่มฟื้นฟูประชาธิปไตย (DRG) เธอเป็นนักกิจกรรมด้านประชาธิปไตยและสิทธิมนุษยชน โดยเริ่มทำงานเพื่อส่งเสริมเสรีภาพในการแสดงออกและเสรีภาพในการชุมนุมในประเทศไทยตั้งแต่ภายหลังการทำรัฐประหารของคณะรักษาความสงบแห่งชาติ (คสช.) 2557</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome/">วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Thai student protesters in the time of COVID-19: New generation, new forms of resistance online</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-covid/</link>
					<comments>https://coconet.social/2020/thailand-student-online-activism-covid/#comments</comments>
		
		<dc:creator><![CDATA[Chonthicha Jangrew]]></dc:creator>
		<pubDate>Wed, 17 Jun 2020 11:35:53 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Online Activism]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1516</guid>

					<description><![CDATA[<p>Hope for political change in Thailand has grown stronger in 2020 after a wave of student protests across the country followed the constitutional court’s dissolution of the opposition Future Forward Party. This wave of protests, dubbed the “youthquake” phenomenon, is reflective of the political awareness among the Thai youth. Despite the ban on public assembly, the youth have taken to platforms online and offline to vent out their frustrations. Online, however, the Thai youth continue to protest, using social media to voice out their criticisms against the government. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-covid/">Thai student protesters in the time of COVID-19: New generation, new forms of resistance online</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Read this article in <a href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome">Thai</a> | </em>อ่านบทความนี้ใน <a href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome">ภาษาไทย</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1668" src="wp-content/uploads/2020/06/Thai_1.0-scaled.jpeg" class="vc_single_image-img attachment-full" alt="Thailand Online Protest" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
			<figcaption class="vc_figure-caption">Students light their mobile phones during a protest against the government at Kasetsart University on February 29, 2020. Photo by Chonthicha Jangrew.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Hope for political change in Thailand has grown stronger in 2020 after <a href="https://www.bloomberg.com/news/articles/2020-02-27/students-step-up-protests-against-thailand-s-army-backed-premier">a wave of student protests</a> across the country followed the constitutional court’s <a href="https://www.bangkokpost.com/thailand/politics/1862769/ffp-dissolved-executives-banned-for-10-years">dissolution of the opposition Future Forward Party</a>. This decision sparked flash mobs against the long tenure of Thai Prime Minister Prayut Chan-o-cha and his authoritarian regime, which has been in power since 2014. Between February 21 to March 14, 2020, there were at least 79 flash mobs in universities, according to the <a href="https://www.tlhr2014.com/?p=16521">Thai Lawyers for Human Rights (TLHR)</a>.</p>
<p>This wave of protests, dubbed the “<a href="https://www.iseas.edu.sg/media/commentaries/thailand-ample-fuel-for-the-flash-mobs/">youthquake</a>” phenomenon, is reflective of the political awareness among the Thai youth. With the youth on their side, pro-democracy groups saw the possibility that the pro-military government could be ousted.</p>
<p>But then came <a href="https://ddc.moph.go.th/viralpneumonia/eng/index.php">COVID-19</a>. Student movements and physical protests were forced to suspend. The new normal became a condition that impedes social movements<span lang="en-US">. Thai civil society was only starting to adapt when the Thai government hit the movement with more damning blows: <a href="https://www.reuters.com/article/us-health-coronavirus-thailand/thailand-extends-virus-emergency-powers-amid-opposition-suspicion-idUSKBN2320FS">the emergency decree</a> that prohibits public assembly, meaning activism had to be practiced online instead. Thai authorities have also been taking an active role in monitoring online activities with using <a href="https://www.hrw.org/news/2020/03/25/thailand-covid-19-clampdown-free-speech">other measures</a> amid the COVID-19 crisis that hamper freedom of expression online.</span></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On top of these measures, the government’s <a href="https://www.antifakenewscenter.com/">Anti-Fake News Center</a> (or, as critics call it, the “Fake News Center”) has also been criticised for its <a href="https://coconuts.co/bangkok/news/with-the-anti-fake-news-center-thailand-gets-its-ministry-of-truth/">restrictions on rights to freedom of expression</a> rather than dealing with disinformation. In the time of COVID-19, the centre is known to censor information and criticism against the government’s management of the pandemic. It has even pressed charges against citizens critical of the government; <a href="https://www.tlhr2014.com/?p=16636&amp;lang=en">Danai Ussama</a>, an artist from Phuket, was arrested by police under the <a href="https://www.article19.org/data/files/medialibrary/38615/Analysis-Thailand-Computer-Crime-Act-31-Jan-17.pdf">Computer Crimes Act</a> after he posted on an online platform that there was no screening of COVID-19 at the Suvarnabhumi airport after he got back from Spain in March 2020.</p>
<p>These measures are just some of the challenges for social movement in the time of COVID-19, especially on disseminating information to citizens. But dissent against the pro-military government does not and has not stopped in the time of COVID-19. In fact, the June 4<a href="https://www.hrw.org/news/2020/06/05/cambodia-thai-activist-abducted-phnom-penh"> disappearance of political exile Wanchalerm Satsaksit in Cambodia</a> reignited protests against the pro-military government, with more than <a href="https://www.bangkokpost.com/thailand/general/1929988/thai-exiled-activist-abducted-in-cambodia-rights-group-says">400,000 retweets of the hashtag #SaveWanchalearm</a> just one day later.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;Mainland Southeast Asia is now creating a zone where no activist or dissident can feel safe. For many leaving the region entirely might now be the only safe option.&quot; For <a href="https://twitter.com/Diplomat_APAC?ref_src=twsrc%5Etfw">@Diplomat_APAC</a> on disappearance of Wanchalearm Satsaksit in Cambodia <a href="https://twitter.com/hashtag/SaveWanchalearm?src=hash&amp;ref_src=twsrc%5Etfw">#SaveWanchalearm</a> <a href="https://t.co/tOSNSatqud">https://t.co/tOSNSatqud</a></p>&mdash; David Hutt (@davidhuttjourno) <a href="https://twitter.com/davidhuttjourno/status/1271032765228765185?ref_src=twsrc%5Etfw">June 11, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Despite the ban on public assembly, the youth have taken to platforms online and offline to vent out their frustrations, even if those who participated in protests <a href="https://prachatai.com/english/node/8590">have been summoned</a> by the police on Emergency Decree charges. Online, however, the Thai youth continue to protest, using social media to voice out their criticisms against the government.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Hashtag activism and flash mobs on Twitter</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Previously, a protest consisted of people gathering in physical, public places. But when this became an impossibility in the time of coronavirus, the flash mobs assembled instead on online platforms.</p>
<p><a href="https://www.bangkokpost.com/thailand/politics/1817299/from-tweet-to-street-new-thai-generation-joins-protest">Twitter</a> has become the space for freedom of expression in Thailand. It has become a platform for blooming political awareness while other spaces are restricted. On Twitter, a user can have many accounts and is afforded a sense of “anonymity” as compared to other social media platforms. Twitter responds to the needs of new Thai generation who want to discuss <a href="https://www.reuters.com/article/us-health-coronavirus-thailand-monarchy/coronavirus-pandemic-prompts-rare-questioning-of-thai-monarchy-idUSKBN21918F">sensitive political issues</a> and has opened up a space for political disparagement of issues that have been rare to be discussed and have never publicly manifested in any public space in Thailand before.</p>
<p>The use of hashtags (#) is a meaningful function used to rally together people because it allows users to gather and exchange issues on their interests. Over the past ten years of <a href="https://www.reuters.com/article/us-thailand-election-timeline/timeline-thailands-turbulent-politics-over-two-decades-idUSKCN1R30HR">Thailand’s political conflict,</a> the exchange of political opinions – especially online – has only increased. The youth consider political expression as the norm, and in the past year, <a href="https://www.khaosodenglish.com/politics/2020/02/25/mobilized-by-hashtags-more-verdict-protests-planned-at-universities/">many hashtags</a> on politics and injustice issues were among the top trending topics on Twitter in Thailand.</p>
<p>One of the viral hashtags during COVID-19 is the hashtag <a href="https://thediplomat.com/2020/04/in-milk-tea-we-trust-how-a-thai-chinese-meme-war-led-to-a-new-online-pan-asia-alliance/">#nnevy</a>, when Thai Twitter users <a href="https://www.vice.com/en_asia/article/xgqjkw/twitter-war-thailand-china-nationalism-trolls-memes?utm_campaign=sharebutton">sparked a war</a> against Chinese nationalist trolls and created “a new pan-Asian solidarity”. This happened after Chinese fans of Thai actor, Vachirawit Chivaaree, or “Bright” from the 2gether the Series, retweeted a tweet that called Hong Kong a “country.” Thai Twitter users retaliated against the online attacks on Chivaaree. Soon after, Twitter users from Hong Kong and Taiwan also defended the actor and the tweet, which led to the popular hashtags <a href="https://www.telegraph.co.uk/news/2020/05/03/milkteaalliance-new-asian-youth-movement-battles-chinese-trolls/">#MilkTeaAlliance</a> and a Thai equivalent that translates to #MilkTeaIsThickerThanBlood. <a href="https://www.reuters.com/article/us-thailand-china-internet/insta-star-wars-china-tensions-in-southeast-asia-flare-online-idUSKCN21W11P">Reuters</a> called this hashtag incident as an alliance between the pro-democracy camps against the pro-China cyber fighters. Even <a href="https://twitter.com/joshuawongcf/status/1249254158538072064">Joshua Wong</a>, the Hong Kong pro-democracy activist, posted a photo of the actor with a message that Hong Kong was standing with the Thais who loved liberty and standing against the persecution by China. He even hoped for the building of an Asian alliance against dictatorship.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">“For the young generation, China has an image of a profit seeker with a large population as a weapon. It is a very economy-focused image, so it is not appealing to the young,” Netiwit said.<a href="https://twitter.com/hashtag/MilkTeaAlliance?src=hash&amp;ref_src=twsrc%5Etfw">#MilkTeaAlliance</a> <a href="https://t.co/32oXLzbXq8">https://t.co/32oXLzbXq8</a></p>&mdash; Netiwit Chotiphatphaisal (@NetiwitC) <a href="https://twitter.com/NetiwitC/status/1272107823237746688?ref_src=twsrc%5Etfw">June 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the pandemic, together with the authority of the emergency decree, activities are restricted, and the student protests are postponed. <a href="https://www.facebook.com/studentunion.thailand/">The Student Union of Thailand</a> then came up with an online campaign to “<a href="https://thaienews.blogspot.com/2020/04/workfromhome-mobfromhome-mobfromhome.html">protest from home</a>” by sharing photos or placards commenting on the government’s administration, with the hashtag <a href="https://twitter.com/hashtag/mobfromhome">#MobFromHome</a>. And the hashtag topped the Twitter trend in Thailand. Recent twitter hashtags have also been employed to express sensitive political opinions. As a result, sensitive political issues have become something publicly discussed on Twitter. Hashtags, therefore, have become a form of collective action.</p>
<p>Apart from using hashtags, pro-democracy activists online have also adapted a strategy called “bombardment”, or “<a href="https://twitter.com/hashtag/%E0%B8%97%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B9%8C%E0%B8%A5%E0%B8%87">ทัวร์ลง</a>”, in which a user asks other users to collectively criticise a problematic post. In Thailand, this kind of online public mobilisation has been used against <a href="https://www.tlhr2014.com/?p=16303&amp;lang=en">the government’s Information Operation (IO)</a> that continue to monitor dissidents and critics.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2560" height="1920" src="wp-content/uploads/2020/06/Thai-Protest-2-scaled.jpeg" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 2560px) 100vw, 2560px" /></div>
			<figcaption class="vc_figure-caption">Students gathered at a pro-democracy rally against at Srinakharinwirot University in Bangkok on February 26, 2020. Photo by Chonthicha Jangrew.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Achieving ‘critical mass’ on alternative online platforms</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Twitter, as previously mentioned, was the platform of choice for critics of the current regime to voice out their dissent. But on May 13, 2020, the official Thailand Twitter account<span lang="en-US"> <a href="https://twitter.com/TwitterThailand/status/1260382447386021888?s=20">@TwitterThailand</a> was created with tweeting its first message, “Sawasdee khrap, Thailand” (Hello, Thailand!). On May 19, Twitter announced <a href="https://privacy.twitter.com/en/blog/2020/update_terms_and_privacy_policy">the update of its privacy policy</a> to share users’ activities and IP addresses with “partners” to enhance its targeted advertisement.</span></p>
<p>Following these updates, <a href="https://twitter.com/search?q=%23NoTwitterThailand%20&amp;src=typed_query">#NoTwitterThailand</a> topped the country’s trending page because Thais saw this as part of the government’s surveillance and the restriction of freedom of expression online. More users also began to doubt the security and privacy of the platform after <a href="https://twitter.com/BeePunnakanta/status/1227457580299096064?s=20">Buddhipongse Punnakanta</a>, the Minister of Digital Economy and Society tweeted about his recent discussion with Singapore&#8217;s Twitter executive on fake and violent news.</p>
<p>Aside from the trending hashtag, Thai Twitter users also encouraged others to stop using Twitter and move to “<a href="https://www.thaienquirer.com/13354/thai-netizens-flock-to-alternative-social-media-platform-following-the-creation-of-twitters-official-thailand-account/">alternative platforms</a>” that are open-source and decentralised. One popular alternative platform is “Minds”, especially after a co-founder of Thai Netizen, <a href="https://twitter.com/Fringer/status/1263260715474808833?s=20">Sarinee Achavanuntakul</a> tweeted, “Say goodbye to Twitter and meet at Minds<span lang="en-US">.” <a href="https://www.minds.com/newsfeed/1111398298334855168">Minds</a> has also already installed the Thai language to accommodate Thai users.</span></p>
<p>This newer distrust of Twitter also poses open questions for the future and effectivity of online activism. Will enough Thai users flock to social media alternatives to reach critical mass, and therefore enact concrete social change? How do we continue to talk about diverse issues in online social movements? And, how do we transform awareness into the change we dream to see?</p>
<p>There are no easy answers to these questions. But in the case of Thailand, we have and continue to witness “youthquake” and increased political awareness among Thai students, seen as the new hope for political change. We also continue to witness how the open spaces online have led to more critical discourse against the government – and even more people who have changed their minds after seeing how the government has treated disinformation during the pandemic. What happens next, however, is up to us, the new generation, to determine.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Chonthicha Jangrew (Lookkate) is a co-founder of the Democracy Restoration Group (DRG), a Thai pro-democracy and human rights activist. She has been advocating for freedom of expression and freedom of public assembly in Thailand since the 2014 coup. </em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-student-online-activism-covid/">Thai student protesters in the time of COVID-19: New generation, new forms of resistance online</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-student-online-activism-covid/feed/</wfw:commentRss>
			<slash:comments>8</slash:comments>
		
		
			</item>
		<item>
		<title>The Myanmar government is hiding the truth of Arakan conflicts</title>
		<link>https://coconet.social/2020/myanmar-internet-media-censorship/</link>
					<comments>https://coconet.social/2020/myanmar-internet-media-censorship/#comments</comments>
		
		<dc:creator><![CDATA[Kyaw Lynn]]></dc:creator>
		<pubDate>Tue, 19 May 2020 09:36:23 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Disinformation]]></category>
		<category><![CDATA[Myanmar]]></category>
		<category><![CDATA[Press]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1387</guid>

					<description><![CDATA[<p>The military strategy to fight the AA and other rebel groups in the country can be summarized into cutting off four key areas: recruitment, food, budget, and information. The fourth part, information, means to censor news and media about the Arakan conflicts.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-internet-media-censorship/">The Myanmar government is hiding the truth of Arakan conflicts</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1280" height="800" src="wp-content/uploads/2020/05/95278020_1673689189438959_6368142275997859840_o.jpg" class="vc_single_image-img attachment-full" alt="Rakhine Myanmar World Food Programme" sizes="(max-width: 1280px) 100vw, 1280px" /></div>
			<figcaption class="vc_figure-caption">In conflict-stricken Arakan, Myanmar, news and information are often censored by the state, such as in the case of the April 29 shooting of a World Food Programme truck. Photo by Development Media Group, used with permission.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On May 3, 2020, the Myanmar government <a href="https://www.mmtimes.com/news/govt-eases-internet-black-out-rakhine.html">restored internet access in Maungdaw township</a>, one of Myanmar’s nine townships in Arakan (formally known as Rakhine State) and Chin State without internet access for almost a year. The reason, they reported, was due to more stability in the area. But in reality, the grounds for reinstalling the internet are different from the reported reason. In fact, the government and military are using the <a href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/">internet shutdown</a> to monopolize information, thereby robbing people of the truth on Arakan conflicts.</p>
<p class="western">For the government of Myanmar, there are two burning political issues in Arakan: the question of armed revolution by the <a href="https://www.arakanarmy.net/">Arakan Army</a> (AA), which the government has declared a <a href="https://www.mmtimes.com/news/myanmar-govt-declares-arakan-army-terrorist-group.html">terrorist group</a>, and the case of ethnic <a href="https://www.icj-cij.org/en/case/178">Rohingya Muslims</a>, who the <a href="https://www.hrw.org/news/2020/01/27/international-court-justice-orders-burmese-authorities-protect-rohingya-muslims">UN International Court of Justice</a> said should be protected from <a href="https://www.facebook.com/407570359384477/posts/1814273642047468/">genocide and military violence</a>. The two issues are related to each other – the self-determination of the Arakan region must consider the group rights of Rohingya Muslims, while the group rights of Rohingya Muslims must also be compatible with the autonomy of the Arakan community.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 class="western">Countering AA through information and media</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The military strategy to fight the AA and other rebel groups in the country can be summarised into cutting them off in four key areas: recruitment, food, budget, and information. The first three parts of this strategy have resulted in tens of thousands of innocent civilians displaced and moved to internal refugee camps. A number of villages have also been burned down in order to separate rebels and local supporters. From December 2019 to mid-April 2020, the nongovernment organization <a href="https://www.facebook.com/BurmaMonitor/posts/518519182162858">Burma Monitor</a> reported over 163,000 displacements, 366 deaths, 406 injuries, and 45 arrests in Arakan and Chin State alone.</p>
<p>The fourth part, information, means to censor news and media about the Arakan conflicts. To do this, the government <a href="https://www.aljazeera.com/news/2020/04/myanmar-military-steps-attacks-coronavirus-spreads-200416060255091.html">has sued</a> and continues to sue <a href="https://www.ifj.org/media-centre/news/detail/category/asia-pacific/article/myanmar-military-drops-irrawaddy-and-reuters-lawsuits.html">local and international media</a> under different laws such as counter-terrorism and unlawful association. Among the media outfits sued were national organisations <a href="https://www.ifj.org/media-centre/news/detail/category/press-releases/article/myanmar-editor-arrested-over-interview-with-ethnic-armed-group.html">Voice of Myanmar</a> and <a href="https://www.khitthitnews.com/">Khit-Thit Media</a>, as well as local media like <a href="https://www.irrawaddy.com/in-person/interview/myanmar-govts-crackdown-on-journalists-angers-media-and-legal-insiders.html">Narinjara</a> and <a href="https://www.facebook.com/dmgenglishversion/posts/2641845436053122">Development Media Group</a> (DMG). On top of this, websites by the AA and local media remain blocked in the country, meaning audiences cannot access information on them through locally operated telecommunication channels.</p>
<p>Due to the lawsuits, domestic media no longer interview the AA to get their side of the story, which in turn has led to one-sided or biased news, and even <a href="https://www.arakanarmy.net/post/two-staffs-of-the-who-shot-by-the-checkpoint-of-the-myanmar-army-at-the-front-of-ra-maung-bridge">government and military propaganda</a>. Here are four prominent examples of this, all within April 2020.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1438" height="795" src="wp-content/uploads/2020/05/Screen-Shot-2020-05-14-at-5.53.28-PM.png" class="vc_single_image-img attachment-full" alt="Myanmar Media DMG Paletwa" sizes="(max-width: 1438px) 100vw, 1438px" /></div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1439" height="792" src="wp-content/uploads/2020/05/Screen-Shot-2020-05-14-at-5.53.15-PM.png" class="vc_single_image-img attachment-full" alt="Myanmar Media Global Light of Myanmar Paletwa" sizes="(max-width: 1439px) 100vw, 1439px" /></div>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 15px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center; font-size: 75%;">The April 29 shooting of a World Food Programme truck in Paletwa Town, Chin State was reported differently by national media (left) and state media. Whatever the truth is, it is alarming that the Arakan Army is automatically blamed without prior investigation, and the people in the conflict-stricken area not consulted.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On the morning of April 13, 2020, artillery shelling from the military&#8217;s Battalion No. 550 hit the Yangon-Sittwe Highway near the village of Kyauk-Sike, Ponnagyun township. Eight innocent civilians were killed and seven more were injured. This story was covered by a number of regional and international media like <a href="https://www.reuters.com/article/us-myanmar-rakhine/officials-say-eight-killed-in-myanmars-rakhine-state-army-says-reports-fabricated-idUSKCN21V1LD">Reuters</a>, <a href="https://www.aljazeera.com/news/2020/04/killed-myanmar-troubled-western-state-rakhine-200414020254435.html">Aljazeera</a>, <a href="https://youtu.be/4T32teP6USs">Radio Free Asia</a> (RFA), and <a href="https://www.dmediag.com/news/1390-png-vcm-8d">The Irrawaddy</a>, which highlighted the event while also interviewing family members of the deceased. There was also evidence showing that the artillery and weapon marks were from Myanmar military products. However, the state media, especially military-owned ones like <a href="https://en.wikipedia.org/wiki/Myawaddy_TV">Myawaddy TV</a>, reported there was no such event that day and that all news and information on it were fake and fabricated.</p>
<p>The second most prominent example is the <a href="https://www.aljazeera.com/news/2020/04/attack-vehicle-killed-myanmar-driver-condemned-200422011858564.html">April 20 killing</a> of the World Health Organization (WHO) driver in Min-Bra Township, one of the conflict areas with no internet access, while carrying COVID-19 samples to be tested in Yangon. Both the government and the AA <a href="https://www.mmtimes.com/news/myanmar-govt-forms-panel-probe-who-vehicle-attack.html">denied being behind the attack</a>. Whatever the truth is, international media remained neutral in their coverage of the attack. But state media coverage and messaging to the local community concluded it was an AA attack, citing only statements from the government and military. The one-sided nature of the story has reportedly made the local people in Arakan angry and disappointed. Weeks later, the Myanmar government formed a committee to <a href="https://www.irrawaddy.com/specials/myanmar-covid-19/myanmar-begins-investigation-drivers-fatal-shooting.html">investigate the attack</a>. The investigation is <a href="https://www.aljazeera.com/news/2020/04/rapporteur-urges-probe-myanmar-war-crimes-200428072927948.html">still ongoing</a>, but based on previous statements, it is clear the commission will say it is an AA attack. In fact, presidential spokesperson U Zaw Htay already said even before the end of the investigation: “It (WHO car) was attacked by AA and we formed a committee to investigate it <a href="https://www.facebook.com/myanmarnownews/videos/265957091210266/?t=702">in order to fulfil the international demand</a>”.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The third striking incident of the government’s monopolization of the truth is the April 21 killing of Arakan youth Kyaw Min Chey in May Lwan village, Min-Bra township. Government media like Global New Light of Myanmar and Myawaddy reported that an AA member (not a civilian), while on his motorbike, was killed after being caught with a Chinese-made grenade and a knife in a toolbox. But reports from <a href="https://www.rfa.org/english/news/myanmar/villager-shot-04222020175624.html">RFA</a> told the truth: After coming back from fishing, Kyaw Min Chay was killed by military soldiers at the entrance of his village, his mother a witness. After his death, the soldiers gave his family 150,000 MMK (or USD 104) as compensation, saying, “We are so sorry, and it is just usual thing happened in the time of war.” The family accepted the money because they were afraid of the soldiers.</p>
<p>The final and newest occurrence happened on April 29, when <a href="https://www.wfp.org/news/wfp-food-reaches-communities-affected-conflict-and-hunger-remote-paletwa-chin-state">World Food Programme trucks were attacked</a> while transporting food to Paletwa Town in Chin State. As usual, <a href="https://www.globalnewlightofmyanmar.com/aa-attack-wfps-relief-aid-convoy-for-locals-in-paletwa/">the government accused the AA</a>, while the latter <a href="https://www.dmediag.com/news/1444-wfp-plw">denied the claims</a>. Paletwa is a mountainous and conflict-stricken area with no internet and media accessibility. Thus, only news by government media can reach it. As there remains a huge question of who to believe in this situation, it is all the more essential that non-government and international media be allowed to reach the area.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h5 class="qode-simple-quote-text-title"> The arrest of the Nay Myo Lin (from Voice of Myanmar) shows that the Myanmar government has failed to take into account calls from various media freedom groups to protect journalists’ safety andfreedom of the press. IFJ urges the authorities to drop the case against Nay Myo Lin as the VOM was conducting a legitimate interview in response to a recently introduced ruling.  </h5>
				</div>
				<div class="qode-simple-quote-author-holder">
					<h4 class="qode-simple-quote-author-title"> International Federation of Journalists  </h4>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 class="western">Monopolizing the news</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>These four examples have shown us how the government and military <a href="https://www.dmediag.com/news/1448-hr-athan">manipulate and monopolize news</a> and information on conflicts in Arakan. Continuing to do so, however, can potentially escalate this conflict in the future. After all, the real motive of restoring the internet is less about the armed conflict or stability, and more about addressing international pressure, such as <a href="https://www.dhakatribune.com/bangladesh/rohingya-crisis/2020/05/11/myanmar-unhcr-undp-extend-mou-on-rohingya-repatriation">allowing the Rohingya Muslims’ voluntary repatriation</a>. These efforts have since been suspended due to COVID-19 and the increasing number of cases in neighbouring Bangladesh. On top of that, the armed conflict in Arakan <a href="https://www.aljazeera.com/programmes/insidestory/2020/04/myanmar-stepping-attacks-ethnic-rebel-groups-200418180109734.html">shows no sign of ceasing or reducing</a> despite the AA’s declaration of a unilateral ceasefire till the end of May 2020 due to the pandemic. These recent decisions have led to <a href="https://www.irrawaddy.com/news/burma/suu-kyis-backing-myanmar-military-rakhine-state-conflict-draws-criticism.html">criticism of Myanmar State Counselor Aung San Suu Kyi</a>, thought by most democratic Burmese and non-Burmese ethnic people to be a moderator or mediator between the two sides of the armed conflict. It is also clear that these events have led to more identity-based politics, like Burmese vs non-Burmese people.</p>
<p>Let me highlight three sentences from the book 1984 by English novelist George Orwell: “War is Peace”, “Freedom is Slavery”, and “Ignorance is Strength”. The Myanmar government and military, like the book’s Ministry of Truth, are trying to rob the truth in Arakan conflicts, thus making people “more fearful” and “less knowing”. As the local people in Arakan become more fearful, they become mute. As the people in Myanmar become less knowing, they become blind and deaf.</p>
<p>Covering up these atrocities in Arakan makes “Wrong into Right” and “Right into Wrong”.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Kyaw Lynn is a postgraduate student majoring in Political Science at the University of Yangon in Myanmar. He is also the chairperson of his university&#8217;s Political Science Association and one of the founders of <a href="https://www.facebook.com/amnestyarakanteam/">Amnesty Arakan Team</a>.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-internet-media-censorship/">The Myanmar government is hiding the truth of Arakan conflicts</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-internet-media-censorship/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan</title>
		<link>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/</link>
					<comments>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/#comments</comments>
		
		<dc:creator><![CDATA[Kyaw Lynn]]></dc:creator>
		<pubDate>Wed, 22 Apr 2020 01:00:03 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1124</guid>

					<description><![CDATA[<p>The internet is a primary source of information on the global COVID-19 pandemic. But Arakan (formally known as Rakhine State) in western Myanmar is now experiencing the longest internet shutdown in the world. The internet blockage has also caused a lack of information and knowledge concerning COVID-19. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/">To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The internet is a primary source of information on the <a href="https://covid19.who.int/">global COVID-19 pandemic</a>. But Arakan (formally known as Rakhine State) in western Myanmar is now experiencing the <a href="https://www.digitalrightsmm.info/news.html">longest internet shutdown in the world</a>. Arakan is the second poorest area in Myanmar, with very weak health infrastructure in place. The internet blockage has also caused a lack of information and knowledge concerning COVID-19.</p>
<p>The first <a href="https://www.reuters.com/article/us-myanmar-rakhine-idUSKBN1ZZ0LC">internet shutdown</a> started in June 21, 2019, in four townships in northern Arakan. Another five townships (one in neighboring Chin State) followed in February 3, 2020. This coming April 21, it will be approximately 330 days since the first four areas have been without internet, while it will be nearly 100 days for the latter townships.</p>
<p>The government has given different reasons for the shutdown, such as the stopping of the hate speech, disinformation, and instability due to conflict in the area. <a href="https://www.digitalrightsmm.info/news.html">None of these are justifiable.</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>The situation in Rakhine</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Although the world is now fighting against COVID-19, over one million people in northern Arakan are still being neglected by the government action plan. As of April 19, Myanmar now has <a href="https://doph.maps.arcgis.com/apps/opsdashboard/index.html#/f8fb4ccc3d2d42c7ab0590dbb3fc26b8">107 positive cases and five deaths</a> attributed to the coronavirus. The Myanmar government has not announced any case from Arakan. But this number is in danger of ballooning. Arakan is very close to Bangladesh, where there are a reported <a href="https://covid19.who.int/region/searo/country/bd">2,456 positive cases and 91 deaths</a> as of the same date. But if not addressed, Arakan will remain very prone to local transmissions in the border area.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> The internet blockage has caused a lack of information and knowledge concerning COVID-19.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>But different from most other parts of the world, the armed conflict is still ongoing in the region between the government’s Myanmar Army and the Arakan Army, despite the latter’s announced unilateral ceasefire until the end of April upon the recommendation of a <a href="https://www.un.org/sg/en/content/sg/statement/2020-03-23/secretary-generals-appeal-for-global-ceasefire">global ceasefire</a> by the UN Secretary-General. Instead, according to most analysts, the Myanmar Army is trying to take military advantage in Arakan by imposing more offensive military operations and leading to more innocent civilian deaths. Since the beginning of January to April 15 of this year, the Arakan Information Center reports that 377 civilians have died, injured, and disappeared. Most of them are women and children.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The conflict has resulted in about 200,000 internally displaced persons (IDP) in the region are also living in camps without any well-built shelter and well-managed food distribution. The lack of social distancing in the IDP camps, the lack of water availability, and the lack of information on COVID-19 make it impossible to prevent a coronavirus outbreak in the area.</p>
<p>Unfortunately, what makes the people to be more fearful is the military attack on the civilian target rather than COVID-19. It seems the Myanmar government and military are more enthusiastic to fight against the Arakan Army than COVID-19 in the region. But under these three situations – internet shutdown, IDP camps, and ongoing armed conflict – it is unimaginable how the situation could be worse in the future if COVID-19 were to hit Arakan.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Stop war and internet shutdown</h3>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the global pandemic period, we need to stop the war and internet shutdown to fight COVID-19 in Arakan.</p>
<p>I am one of those people speaking out, even if I am currently now hiding from police search. On February 23, 2020, in Yangon, I led the Students’ Unions’ <a href="https://www.reuters.com/article/us-myanmar-internet-idUSKCN20I16X">protest and demonstration</a> against the internet shutdown and human rights violations in the conflict-affected areas of Arakan. I could be prisoned for one month with hard labor if I face the trial.</p>
<p>But it is just my case. The more important thing to focus on is to fight against the COVID-19. Over one million people in Arakan are vulnerable to the disease if we do not stop the war and internet shutdown.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2530" height="1619" src="wp-content/uploads/2020/04/Mrauk_U_Rakhine_State_01.jpg" class="vc_single_image-img attachment-full" alt="Mrauk_U,_Rakhine_State_01" sizes="(max-width: 2530px) 100vw, 2530px" /></div></a>
			<figcaption class="vc_figure-caption">Mrauk U township in Rakhine State (Arakan) is one of the nine townships in Myanmar that still do not have internet access to this day. This file is licensed under the Creative Commons Attribution-Share Alike 3.0 Unported license.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Thus, let us say: Stop the war and internet shutdown to fight against the COVID-19 in Arakan. Your participation is our power. Your concentration is our courage. Your word is our want.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Kyaw Lynn is currently a postgraduate student taking his master&#8217;s degree in political science at the University of Yangon, Myanmar. He is the chairperson of Political Science Association (University of Yangon) as well as the principal officer at Arakan Students Union (Universities-Rangoon). </em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/">To fight COVID-19 in Myanmar, stop the war and internet shutdown in Arakan</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-rakhine-arakan-internet-shutdown-covid/feed/</wfw:commentRss>
			<slash:comments>4</slash:comments>
		
		
			</item>
	</channel>
</rss>
