<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Privacy &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/privacy/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:13 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Privacy &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>An Indonesian Guide to Choosing a Privacy-oriented Messaging App</title>
		<link>https://coconet.social/2021/indonesia-privacy-conversation-app/</link>
					<comments>https://coconet.social/2021/indonesia-privacy-conversation-app/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Thu, 20 May 2021 10:52:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Messaging Apps]]></category>
		<category><![CDATA[Privacy]]></category>
		<category><![CDATA[WhatsApp]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5849</guid>

					<description><![CDATA[<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. To help Indonesians better understand which messaging apps protect their users the most, Coconet member Southeast Asia Freedom of Expression Network (SAFEnet) has published a “Guide to Choosing a Privacy-Protecting Conversation App”.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="mceTemp"></div>
<div id="attachment_5860" style="width: 761px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-5860" class="wp-image-5860 size-large" src="wp-content/uploads/2021/05/SAFEnet-751x1024.jpeg" alt="" width="751" height="1024" sizes="(max-width: 751px) 100vw, 751px" /><p id="caption-attachment-5860" class="wp-caption-text">Graphic from SAFEnet, reposted with permission.</p></div>
<p>&nbsp;</p>
<p>There are a growing number of messaging applications available to us, but many of these are not transparent in the amount of user data they collect and the lack of privacy measures in place to secure our conversations. Facebook, for example, is implementing changes that will force the users of WhatsApp, one of the most widely used messaging apps, to accept its new controversial privacy policy that will allow the harvesting of users&#8217; metadata for marketing purposes.</p>
<p>Speaking up against the implementation of this policy are 28 organisations from around the world, among them Coconet members Southeast Asia Freedom of Expression Network (<a href="https://safenet.or.id/">SAFEnet</a>), <a href="https://fma.ph/">Foundation for Media Alternatives</a>, and EngageMedia. The campaign also involves the urging of authorities to defend the rights of WhatsApp users. For additional reading, we also recommend checking out <a href="https://engagemedia.us1.list-manage.com/track/click?u=d9dee6898a6443ce6f94eb51a&amp;id=8515fb102b&amp;e=7e3eca7af8">this article from Session</a> discussing the app&#8217;s new privacy policy and why you should &#8220;steer clear&#8221; of the app if privacy is a concern for you.</p>
<p>Even before the start of the campaign, SAFEnet had already published a “<a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">Guide to Choosing a Privacy-Protecting Conversation App</a>” to help Indonesians better understand which messaging apps protect their users the most.</p>
<p>The guide ranks the apps, from WhatsApp to Signal, using seven ideal criteria a safe communication app should have. For an app to claim that it is secure, it must be:</p>
<ol>
<li>Freedom from dependence on large technology companies</li>
<li>Fully encrypted (E2EE)</li>
<li>Multi-platform support</li>
<li>Multi-mode communication (voice, text, video, and more)</li>
<li>Additional features that help users.</li>
</ol>
<p>Download the full guide in Bahasa Indonesia from <a href="https://coconet.social/wp-content/uploads/2021/05/Modul-SAFENet-versi-ebook-final.pdf">here</a>. Read the article in Bahasa Indonesia <a href="https://id.safenet.or.id/2021/01/panduan-memilih-aplikasi-percakapan-yang-melindungi-privasi/">here</a>.</p>
<p>&nbsp;</p>
<p><em>Ellen Kusuma is a member of SAFEnet’s Security and Safety Division.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-privacy-conversation-app/">An Indonesian Guide to Choosing a Privacy-oriented Messaging App</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/indonesia-privacy-conversation-app/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</title>
		<link>https://coconet.social/2020/bebaskan-ravio-patra-privacy/</link>
					<comments>https://coconet.social/2020/bebaskan-ravio-patra-privacy/#comments</comments>
		
		<dc:creator><![CDATA[Pitra Hutomo]]></dc:creator>
		<pubDate>Fri, 24 Apr 2020 05:12:04 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Campaign]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Privacy]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1184</guid>

					<description><![CDATA[<p>On the evening of April 22, 2020, researcher Ravio Patra was arrested in Jakarta, Indonesia, not long after an attempt to protect his safety due to a WhatsApp privacy breach. His work has captured the interest of many, notably his most recent critique on the sparse handling of COVID-19 by the Jokowi administration.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/bebaskan-ravio-patra-privacy/">#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>There’s nothing new with the fact that <a href="https://www.forbes.com/sites/zakdoffman/2019/10/03/new-whatsapp-warning-security-flaw-confirmed1-billion-users-told-update-apps-now/#4d36b9322582">WhatsApp is not a secure messaging platform</a>. What is increasingly alarming, however, is the number of people who are exposed to the threat both virtually and physically because of the app. Despite these risks, Indonesians are not able to remove themselves from WhatsApp due to direct endorsement from Chinese phone manufacturers, as well as having the app pre-installed in affordable Android phones. Asking people to move to more secure platforms can feel like converting people&#8217;s belief.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>But on the evening of April 22, 2020, researcher Ravio Patra was arrested in Jakarta, Indonesia, not long after an attempt to protect his safety due to a WhatsApp privacy breach. His work has captured the interest of many, notably his <a href="https://tirto.id/kenapa-penyajian-data-rasio-kematian-covid-19-dari-bnpb-menyesatkan-eP1k">most recent critique</a> on the sparse handling of COVID-19 by the Jokowi administration.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500" height="500" src="wp-content/uploads/2020/04/signal-attachment-2020-04-23-133345_001-500x500.jpeg" class="vc_single_image-img attachment-thumbnail" alt="Bebaskan Ravio Patra" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Following Ravio&#8217;s arrest, a <a href="https://www.change.org/p/presiden-joko-widodo-jokowi-kepolisian-ri-bebaskanravio-ungkap-pelaku-peretasan">petition</a> was launched by his colleagues urging for his immediate release. Also demanding his release was a coalition comprised of <a href="https://id.safenet.or.id/">SAFEnet</a> (Southeast Asia Freedom of Expression Network), <a href="https://ylbhi.or.id/">YLBHI</a> (Yayasan Lembaga Bantuan Hukum Indonesia), <a href="https://www.bantuanhukum.or.id/web/">LBH Jakarta</a> (Lembaga Bantuan Hukum Jakarta), <a href="http://lbhpers.org/">LBH Press</a>, <a href="https://kontras.org/">KontraS</a> (Komisi Untuk Orang Hilang dan Korban Tindak Kekerasan), AMAR law firm, <a href="https://antikorupsi.org/">ICW</a> (Indonesia Corruption Watch), <a href="https://lokataru.id/">Lokataru Law and Human Rights Office</a>, <a href="https://asia-ajar.org/">AJAR</a> (Asia Justice and Rights), <a href="https://www.amnesty.id/">Amnesty International Indonesia</a>, and <a href="http://icjr.or.id/">ICJR</a> (Institute of Criminal Justice Reform). Read the coalition&#8217;s full statement <a href="https://cloud.engagemedia.org/s/ZLyBxHNepp7Jyi9#pdfviewer">here</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Ravio was released the next day at 8 a.m. UTC+7. However, he still remains a suspect.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Sampai sekarang <a href="https://twitter.com/hashtag/RavioHilang?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#RavioHilang</a>, kita nggak tau Ravio ditahan dimana dan karena apa<br><br>Bantu saya desak Kapolri untuk segera <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#BebaskanRavio</a>, ungkap dan tahan peretas WhatsAppnya dengan tanda tangani petisi <a href="https://t.co/v1oaYOcYQw" data-width="300">https://t.co/v1oaYOcYQw</a><a href="https://twitter.com/hashtag/RavioHilang?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#RavioHilang</a> <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#BebaskanRavio</a> <a href="https://twitter.com/hashtag/AtasiVirusCabutOmnibus?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#AtasiVirusCabutOmnibus</a></p>&mdash; Atasi Virus Cabut Omnibus (@FraksiRakyat_ID) <a href="https://twitter.com/FraksiRakyat_ID/status/1253222310615543808?ref_src=twsrc%5Etfw" data-width="300">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Kami menduga motif penyebaran itu adalah untuk menempatkan Ravio sebagai salah satu pihak yang dijebak dengan seolah-olah akan membuat kerusuhan. <a href="https://twitter.com/safenetvoice?ref_src=twsrc%5Etfw">@safenetvoice</a> menyampaikan agar Ravio bisa mengumpulkan dan mendokumentasikan semua bukti. <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw">#BebaskanRavio</a></p>&mdash; Amnesty International Indonesia (@amnestyindo) <a href="https://twitter.com/amnestyindo/status/1253208095754317824?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">SEGERA LEPASKAN RAVIO PATRA, HENTIKAN KRIMINALISASI, UNGKAP PELAKU PERETASAN! <a href="https://t.co/ePATThJYdp">pic.twitter.com/ePATThJYdp</a></p>&mdash; KONTRAS (@KontraS) <a href="https://twitter.com/KontraS/status/1253200679960748032?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Kemarin siang Ravio beritahu saya, selain WA dihijack, dia juga menerima panggilan telpon dari nomor2 yang tidak ia kenal. <br>Kita lihat saja sebentar lagi, pertunjukan drama apa yang akan digelar aparat<a href="https://twitter.com/hashtag/bebaskanravio?src=hash&amp;ref_src=twsrc%5Etfw">#bebaskanravio</a> <a href="https://t.co/0RIezzK4IL">pic.twitter.com/0RIezzK4IL</a></p>&mdash; Tunggal Pawestri (@tunggalp) <a href="https://twitter.com/tunggalp/status/1253161937094901760?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Ravio Patra adalah seorang peneliti dan penggiat media sosial.<br><br>Kemarin (23/04), Ravio mengeluh akun WhatsApp-nya error dan kemungkinan diretas pihak lain. Ia juga dan meminta supaya dia tidak dihubungi dulu. <a href="https://t.co/AOqvkTDF6E">pic.twitter.com/AOqvkTDF6E</a></p>&mdash; Asumsi (@asumsico) <a href="https://twitter.com/asumsico/status/1253160793937330176?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Ravio&#8217;s arrest prompts us to once again recognise how well-developed state oppression has become. It implies that ordinary citizens should appraise the necessary safety and security measures, and this is not simply about COVID-19. The stakes of physical threats following a critical attitude, even if virtually, remain high, especially considering arrests and interrogations are not taking place in the virtual world (yet).</p>
<p>For now, the coalition is now concerned with updating the petition to expand the scope of the privacy breach. No matter how remote we are now from each other, fixing our digital security itself will not suffice to deflect from the mechanics of authoritarian regimes.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><i>Pitra Hutomo is EngageMedia&#8217;s Project Manager (Indonesia). </i></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/bebaskan-ravio-patra-privacy/">#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/bebaskan-ravio-patra-privacy/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
