<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: What are digital rights?	</title>
	<atom:link href="https://coconet.social/2020/digital-rights-exploring-definitions/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/digital-rights-exploring-definitions/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 12 Aug 2021 03:47:36 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Human Rights Day 2020: &#039;Recover Better&#039; in physical and digital spaces - Coconet		</title>
		<link>https://coconet.social/2020/digital-rights-exploring-definitions/#comment-54</link>

		<dc:creator><![CDATA[Human Rights Day 2020: &#039;Recover Better&#039; in physical and digital spaces - Coconet]]></dc:creator>
		<pubDate>Fri, 11 Dec 2020 06:53:09 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=2259#comment-54</guid>

					<description><![CDATA[[&#8230;] this year, EngageMedia Digital Rights Program Manager Kathleen Azali wrote a blog post exploring the definitions of digital rights according to members of the Coconet community and other regional and international [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] this year, EngageMedia Digital Rights Program Manager Kathleen Azali wrote a blog post exploring the definitions of digital rights according to members of the Coconet community and other regional and international [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
