<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Coconet News &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/coconet-news/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 12 Aug 2021 04:30:39 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Coconet News &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Myanmar Civil Society Statement on the draft Cyber Security Law</title>
		<link>https://coconet.social/2021/myanmar-statement-cyber-security-bill/</link>
					<comments>https://coconet.social/2021/myanmar-statement-cyber-security-bill/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 03 Mar 2021 04:17:29 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Cyber Security Bill]]></category>
		<category><![CDATA[Electronic Transactions Law]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4952</guid>

					<description><![CDATA[<p>This statement by civil society organisations in Myanmar was originally published in Free Expression Myanmar, a Coconet community member, on February 11, 2021. It has been republished here with permission. For more timely updates on #WhatsHappeningInMyanmar, check out and follow the Twitter accounts of Coconet members Free Expression Myanmar and Myanmar ICT for Development Organisation (MIDO).</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-statement-cyber-security-bill/">Myanmar Civil Society Statement on the draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4965" style="width: 1034px" class="wp-caption aligncenter"><a href="https://commons.wikimedia.org/wiki/File:Protesters_participate_in_an_anti-military_rally.jpg"><img aria-describedby="caption-attachment-4965" class="size-large wp-image-4965" src="wp-content/uploads/2021/02/Protesters_participate_in_an_anti-military_rally-1024x605.jpg" alt="Protesters participate in an anti-military rally in downtown Yangon" width="1024" height="605" sizes="(max-width: 1024px) 100vw, 1024px" /></a><p id="caption-attachment-4965" class="wp-caption-text">Protesters participate in an anti-military rally in downtown Yangon. Image by VOA Burmese via Wikimedia Commons. Public Domain.</p></div>
<p>&nbsp;</p>
<p><em>This <a href="http://freeexpressionmyanmar.org/civil-society-statement-on-the-so-called-cyber-security-bill/">statement</a> by civil society organisations in Myanmar was originally published in Free Expression Myanmar, a Coconet community member, on February 11, 2021. It has been republished here with permission.</em></p>
<p><em>For more timely updates on #WhatsHappeningInMyanmar, check out and follow the Twitter accounts of Coconet members <a href="https://twitter.com/FreeExpressMm/">Free Expression Myanmar</a> and <a href="https://twitter.com/myanmarido">Myanmar ICT for Development Organisation</a> (MIDO).</em></p>
<p>&nbsp;</p>
<p><strong>We, the undersigned civil society organizations, reject the so-called “Cyber Security Bill” drafted by the current military regime, which has not been entrusted by the people with legislative power. </strong></p>
<p>On 9 February 2021, the Ministry of Transport and Communications issued a directive enclosing the so-called “Cyber Security Bill” – which violates the principles of digital rights, privacy and other human rights – and circulated these documents to mobile operators and telecommunications license holders for comments.</p>
<p>Firstly, as this “bill” is not issued by an institution that has been entrusted with legislative power by the public to act accordingly, we do not accept this as a legitimate bill.</p>
<p>Secondly, the “bill” includes clauses that violate human rights including the rights to freedom of expression, data protection and privacy, and other democratic principles and human rights in the online space. As the “bill” is drafted by the current military regime to oppress those who are against its rule, and to restrict the mobilization and momentum of online resistance, we strongly condemn this action by the current military regime in accordance with our democratic principles.</p>
<p>The issuance of the “bill” is evidence that the military has not only attempted a coup d’état, but is also exercising undue legislative power unlawfully to oppress the public.</p>
<p>If this unlawful action by the current military regime is not denounced strongly in time, military oppression over the country will be long-lived and we, the undersigned civil society organizations, strongly condemn this action by the current military regime and issue the following statements –</p>
<p>1. We do not accept and strongly condemn the military coup d’état and demand the current military regime to return the power to the public immediately without any exceptions.</p>
<p>2. We do not accept, acknowledge or comply with this “bill” and directive as well as any other future “bills” that may be drafted by the current military regime in an attempt to oppress the people.</p>
<p>3. We strongly demand the current military regime to halt any undemocratic practices.</p>
<p><strong>Signed by:</strong></p>
<ol>
<li>Action Committee for Democratic Development (ACDD)</li>
<li>Action Group for Farmers Affair (AGFA – Mandalay)</li>
<li>Action Group for Farmers Affair (AGFA – Ayeyarwady)</li>
<li>Action Group for Farmers Affair (AGFA – Bago)</li>
<li>Action Group for Farmers Affair (AGFA – Magway)</li>
<li>Action Group for Farmers Affair (AGFA – Sagaing)</li>
<li>All Arakan Students’ and Youths’ Congress-AASYC</li>
<li>Arr Marn Thit Social Development Organization</li>
<li>Arakan CSO Network</li>
<li>Ananda Data</li>
<li>Ahlin Tagar Rural Development Organization</li>
<li>Athan – Freedom of Expression Activist Organisation</li>
<li>Ayyar Pyo May Women Development Organization</li>
<li>AYY Famar Union</li>
<li>Ayeyawady West Development Organization- AWDO (Magway Region)</li>
<li>Bandugavlar Civil Call(BCC)</li>
<li>Bee House</li>
<li>Chin Agency</li>
<li>Child Prevention Network</li>
<li>Citizen Action for Transparency (ပွင့်လင်းမြင်သာလူထုလှုပ်ရှားမှုအဖွဲ့)</li>
<li>Civic Engagement Development Network</li>
<li>Civic Engagement Network for M2</li>
<li>Community Association Development</li>
<li>Community Partners Myanmar (Nae Thit Foundation)</li>
<li>COMREG Community Response Group</li>
<li>Digital Rights Collective</li>
<li>Diversity and Public Truth</li>
<li>Doe Myae Civil Social Development Organization</li>
<li>Doe Myay Community Development Organization (Twantay)</li>
<li>Empower Youth Enlightenment (EYE)</li>
<li>Empowerment Society</li>
<li>Equality Myanmar</li>
<li>Famar Agricultural Network</li>
<li>Farmers Network (ဝမ်းတွင်း)</li>
<li>Farmers and Land Rights Action Group</li>
<li>Farmers Development and Environmental Watch Group</li>
<li>Free Expression Myanmar (FEM)</li>
<li>Free Education Service Organization</li>
<li>Freedom and labor Action Group</li>
<li>FREELAND Organization Lashio</li>
<li>Future Star (မတ္တရာ)</li>
<li>Future Star Youth Organization</li>
<li>Future Light Social Development Organization</li>
<li>Gender Equality Network</li>
<li>Genuine People’s Servants – GPS</li>
<li>GOAL Organization</li>
<li>Golden Future Social Development Organization</li>
<li>Golden Heart Organization</li>
<li>Green Justice Institute (GJI)</li>
<li>Helping Hands (Local Development Organization</li>
<li>Hkumzup Development Committee</li>
<li>Hope For Children  Development Organization</li>
<li>Htum Thit Sa Rural  Development Organization</li>
<li>Htoi Gender and Development Foundation</li>
<li>Human Rights Defenders &amp; Promoters (HRDP)</li>
<li>Human Rights Educators Network</li>
<li>Human Rights Foundation of Monland (HRFOM)</li>
<li>International Bridges to Justice (Myanmar)</li>
<li>Justice For All (လူ့အခွင့်အရေး ကာကွယ်စောင့်ရှောက်ခြင်းနှင့် တရားမျှတမှု့ )</li>
<li>Justice Movement for Community Inlay</li>
<li>Kaung Myat Hnalonethar Health Care Organization</li>
<li>Kan Chay Arr Man Fishery Development Organization</li>
<li>Kaung Rwai</li>
<li>Karenni State Farmer Union</li>
<li>Kayah Earthrights Action Network (KEAN)</li>
<li>Kachin State Women Network</li>
<li>Kachin Women Union</li>
<li>Kachin Women’s Association of Thailand (KWAT)</li>
<li>Kanaung Institute</li>
<li>Kanpetlet Land Development Organization</li>
<li>Karen Peace Support Network</li>
<li>Keng Tung Youth</li>
<li>KESAN Karen Environment and Social Action Network</li>
<li>Kings N Queens</li>
<li>Kyaukse Youth Network</li>
<li>Lamyan Farmers Network</li>
<li>LatButta Famar Union</li>
<li>Legal Knowledge Sharing Group</li>
<li>Let’s Help Each Other</li>
<li>LGBT rights Network</li>
<li>LAIN Technical Support Group</li>
<li>Light Social Development Organization</li>
<li>Lin lake Kyal Social Development Organization</li>
<li>Mandalay Affairs Team</li>
<li>Mandalay Community Center</li>
<li>Mandalay Regional Youth Association (MRYA)</li>
<li>Mandalay Regional Youth Network</li>
<li> Mandalay Women Political Federation (MWPF – မန္တလေး)</li>
<li>Mann Thingaha (Gender GBV Team)</li>
<li>Maramagri Youth Network</li>
<li>MATA(Sagaing)</li>
<li>Matupi Women Association</li>
<li>Meiktila Youth Network</li>
<li>Minhla Youth Center</li>
<li>Muditar Organization</li>
<li>Myanmar Media Lawyers’ Network</li>
<li>Myan ICT for Development Organisation (MIDO)</li>
<li>Myanmar Cultural Research Society (MCRS)</li>
<li>Myanmar Deaf Society</li>
<li>Myanmar Fifth Estate</li>
<li>Myanmar Independent Living Initiative</li>
<li>Myanmar Muslim Youth Association (Kachin State)</li>
<li>Myanmar People Alliance (Shan State)</li>
<li>National Network for Education Reform</li>
<li>Natural Green Alliance (သဘာဝစိမ်း သဘာဝပါတ်ဝန်းကျင်ထိန်းသိမ်းရေး မိတ်ဖက် အင်အားစု)</li>
<li>Never End Tomorrow(NeT)</li>
<li>Network for Human Rights Documentation Burma (ND-Burma)</li>
<li>Ninggawn Institute (NI)</li>
<li>Northern Spectrum Youth Association</li>
<li>Nyan Lynn Thit Analytica</li>
<li>Open Development Foundation</li>
<li>Our Home</li>
<li>Our Lovely World</li>
<li>Olive Organization</li>
<li>P.D.C.E (Peace, Development &amp; Civic Engagement)</li>
<li>Paung Ku</li>
<li>Pa-O Women’s Union</li>
<li>Pan Thi Kyo LGBT Organization</li>
<li>Paungsee Myittar Organization</li>
<li>Peace &amp; Development Center (Meikhtila)</li>
<li>Peace Development Committee (မိတ္ထီလာ)</li>
<li>PEN Myanmar (ပဲန်မြန်မာ)</li>
<li>Phyu Sin Myittar Social Development Organization</li>
<li>Pluralistic Society</li>
<li>Pone Yate Sit Regional Development Organization</li>
<li>Progressive Voice</li>
<li>Pwint Phyu Development Organisation</li>
<li>Pyi Gyi Khin</li>
<li>Rule of law watch group</li>
<li>Rural Social Development Organization</li>
<li>SarPhyu Famar Network</li>
<li>Sarnar Kyi Phyu Social Development Organization</li>
<li>Sandhi Governance Institute</li>
<li>Saytana Shaesaung Youth Organization</li>
<li>Second Tap Root (ဒုတိယရေသောက်မြစ်)</li>
<li>Shan MATA</li>
<li>Shan State Ethnic Youth Federation</li>
<li>Shan State Peace Task Force (သျှမ်းပြည်နယ်ငြိမ်းချမ်းရေးအလုပ်အဖွဲ့)</li>
<li>Shan Women Development Network</li>
<li>Shan Youth Yangon</li>
<li>Shwechinthae Social Service Group (Shwebo)</li>
<li>Shwe Nathar Famar Development Organization</li>
<li>Smile Myanmar</li>
<li>Socio- Economic &amp; Gender Resource Institute</li>
<li>Social Care Volunteer Group (SCVG)</li>
<li>Southern Youth Development Organisation</li>
<li>SPACE</li>
<li>Spectrum Organization</li>
<li>Student Voice</li>
<li>Summer Shelter Library</li>
<li>Swam Su Ti Rural Development Organization</li>
<li>Ta’ang Women’s Organisation</li>
<li>Tai Youth Organization – TYO</li>
<li>TEN, Taunggyi Education Network</li>
<li>Thazi Youth Network</li>
<li>The Seagull: Human Rights, Peace &amp; Development Pluralistic Society</li>
<li>The Khumi Institute (TKI)</li>
<li>TRI STAR</li>
<li>Triangle Women Support Group</li>
<li>TRY Organization</li>
<li>Uakthon Local Social Development Organization</li>
<li>Unity Arch Bridge Organization</li>
<li>Waingmaw CSO Network</li>
<li>White Marker Group</li>
<li>Win Peace</li>
<li>Women &amp; Youth’s Development Organization (WYDO)</li>
<li>Worker Development Organization</li>
<li>Women Development Organization</li>
<li>Women organization Network ( WON )</li>
<li>Yatanar Youngyi Social Development Organization</li>
<li>Yai Ywal Yar Youth Development Organization</li>
<li>Yi Ywal Yar Community Development</li>
<li>Youth Champion Network</li>
<li>Youth/29 Creative Society</li>
<li>Young Ni Oo Women Social Development Organization</li>
<li>Young Ni Oo Social Development Organization</li>
<li>၈၈ငြိမ်းပွင့် စဉ့်ကူး</li>
<li>၈၈ငြိမ်းပွင့် မြစ်သား</li>
<li>၈၈ငြိမ်းပွင့် မိထ္တီလာ</li>
<li>၈၈ငြိမ်းပွင့် သပိတ်ကျင်း</li>
<li>၈၈ငြိမ်းပွင့် သာစည်</li>
<li>ကျောက်ပန်းတောင်း လူငယ်ကွန်ယက်</li>
<li>ခြေလှမ်းသစ်လူမှုဖွံ့ဖြိုးရေးအဖွဲ့</li>
<li>စိမ်းရောင်စို (တံတားဦး)</li>
<li>စိမ်းရောင်စို Activities</li>
<li>တမာရိပ်</li>
<li>တောင်သမန်ကွန်ယက်</li>
<li>ဒို့တိုးတက်ရာ အစည်းအရုံး</li>
<li>ဒို့တောင်သူလယ်သမားအဖွဲ့</li>
<li>ဒို့မြေကွန်ရက်</li>
<li>“ဒို့”တောင်သူလယ်သမားအဖွဲ့အစည်း(ဝမ်းတွင်း)</li>
<li>ပျော်ဘွယ် လူငယ်ကွန်ယက်</li>
<li>ပွင့်ဖြူလယ်ယာမြေကွန်ရက် (မကွေးတိုင်း)</li>
<li>မဇ္စျိမမေတ္တာ ရေလှူအသင်း (မိတ္ထီလာ)</li>
<li>မကွေးတိုင်းဒေသကြီးအရပ်ဘက်လူမှုအဖွဲ့အစည်းများ မဟာမိတ်အဖွဲ့</li>
<li>မင်းလတောင်သူအစုအဖွဲ့။</li>
<li>မတ္တရာ လူငယ်ကွန်ယက်</li>
<li>မန္တလေးတိုင်းဒေသကြီး လူငယ်ရေးရာကော်မတီ ကိုယ်စားလှယ်များ</li>
<li>မကွေးတိုင်းဒေသကြီးလူငယ်ကွန်ယက်</li>
<li>မြစ်ကွေ့ဧရာလူမှုကွန်ရက်(မကွေးမြို့)</li>
<li>မြေလတ်မျိုးဆက်အင်စတီကျု</li>
<li>မြင်းခြံ နိုင်ကျဉ်းအဖွဲ့</li>
<li>မြင့်မြတ်ဧရာဝတီ လူငယ်လူမှု့ကွန်ယက်</li>
<li>မြေလတ်မျိုးဆက်အင်စတီကျု</li>
<li>မေမြို့ တောင်သူကွန်ယက်</li>
<li>ယုံကြည်ရာ အသိပညာပြန့်ပွားရေးအသင့်</li>
<li>ရွှေခြင်္သေ့တောင်သူကွန်ရက်(ရွှေဘိုခရိုင်)</li>
<li>ရွှေခြံအားမာန်အဖွဲ့ မြင်းခြံ</li>
<li>ရွှေမင်းသားဖောင်ဒေးရှင်း</li>
<li>ရွှေမင်းသား မသန်စွမ်း ဖောင်ဒေးရှင်း ( မြန်မာ )</li>
<li>ရှစ်လေးလုံးသွေးသစ် (မိုးညှင်း)</li>
<li>လက်လှမ်းမှီရေးအဖွဲ့</li>
<li>လွတ်လပ်သောအရှိုချင်အမျိုးသားများအင်အားစု</li>
<li>ဝိုင်းမော်မြို့နယ်လုံးဆိုင်ရာ သျှမ်းလူငယ်များစည်းလုံးညီညွတ်ရေးအဖွဲ့</li>
<li>ဝါးစိမ်းတောင်ကာကွယ်စောင့်ကြည့်ရေးကော်မတီ (WPWC)</li>
<li>သင့်မြတ်လိုသူများ ငြိမ်းချမ်းရေးပရဟိတအဖွဲ့</li>
<li>သုခမိန်အင်စတီကျု</li>
<li>သုခုမခရီးသည်အဖွဲ့</li>
<li>အမျိုးသမီးနိုင်ငံရေး အင်အားစု</li>
<li>အိမ်ယာမဲ့ပြည်သူများ အစည်းအရုံး</li>
<li>အောင်သာစည်အဖွဲ့</li>
<li>Gender and Development Institute</li>
<li>Good Shepherd Myanmar Foundation (GSMF)</li>
<li>Kachin Women Peace Network</li>
<li>Muditar Foundation</li>
<li>Myanmar Positive Women Network</li>
<li>Mandalar Yaung Sin</li>
<li>Myanmar Independent Living Initiative- MILI</li>
<li>National Network of Rural Women- May Doe Kabar</li>
<li>Phan Tee Eain (Creative Home)</li>
<li>POINT</li>
<li>Progetto Continenti</li>
<li>Ratana Metta Organization</li>
<li>Sex Worker in Myanmar Network</li>
<li>Spectrum (SDKN)</li>
<li>Socio-Economic &amp; Gender Resource Institute Myanmar</li>
<li>Student Christian Movement Myanmar</li>
<li>Women’s Federation for Peace</li>
<li>Generation Wave</li>
</ol>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-statement-cyber-security-bill/">Myanmar Civil Society Statement on the draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-statement-cyber-security-bill/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</title>
		<link>https://coconet.social/2021/myanmar-cyber-security-law/</link>
					<comments>https://coconet.social/2021/myanmar-cyber-security-law/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 24 Feb 2021 07:15:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Cyber Security Law]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4943</guid>

					<description><![CDATA[<p>Free Expression Myanmar analyses how and why the military's draft Cyber Security Law poses risks to human and digital rights to the people of Myanmar.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><em>This article on Myanmar&#8217;s proposed Cyber Security Law was originally written by and published in <a href="http://freeexpressionmyanmar.org/six-risks-from-myanmars-draft-cyber-security-law/">Free Expression Myanmar</a> (FEM), a Coconet community member, on February 14, 2021. It has been republished here with permission.</em></p>
<p><em>Days after this article&#8217;s original publication, the 2021 Electronic Transactions Law Amendment was enacted. The new amendment &#8220;<a href="http://freeexpressionmyanmar.org/myanmars-new-electronic-transactions-law-amendment/">includes several of the problematic criminal provisions</a>&#8221; proposed in the Cyber Security Law.</em></p>
<p>&nbsp;</p>
<div id="attachment_4955" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4955" class="wp-image-4955 size-large" src="wp-content/uploads/2021/02/Myanmar-Protest-1024x576.jpg" alt="" width="1024" height="576" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4955" class="wp-caption-text">Photo by Htin Linn Aye, taken from Wikimedia Commons and used under the Creative Commons Attribution-Share Alike 4.0 International license</p></div>
<p>&nbsp;</p>
<p>This analysis outlines six serious risks posed by the Myanmar military government’s <a href="https://rsf.org/en/news/myanmars-junta-plans-draconian-cyber-security-law">draft “Cyber Security Law”</a>. It is based upon international standards relating to the right to freedom of expression. It builds upon a statement issued on February 11, 2021, by 250 civil society organisations in Myanmar, and other international statements.</p>
<p>The draft Cyber Security Law was circulated to stakeholders for feedback by February 15. The draft law has been under development for several years, and the circulated version is similar to the version from mid-2020 under the previous government.</p>
<h3>1. The military will have absolute control over Myanmar’s internet</h3>
<p>The draft law establishes a hierarchy of bodies overseen by and formed of representatives chosen by the military under the military’s governing State Administration Council (Arts. 5.a, 7, and 9). These oversight bodies are given absolute control over making internet and communications-related rules (Art. 6.a), implementing those rules (Art. 6.b), and investigating rule-breakers (Art. 12). Furthermore, the draft law also enables the Ministry of Defence to issue rules (Art. 88).</p>
<h3>2. Regulates people, communications, and companies internationally</h3>
<p>The draft law is unusual because it has a wide, extraterritorial reach, giving the military government an international jurisdiction as well as a normal domestic one. It creates international offences (Art. 2.a), applies to Myanmar citizens outside of Myanmar (Art. 1.a) and international organisations (Art. 6.h), and covers any form of international communications (Art. 1.c). This significantly extends the oppressive effect of Myanmar’s already restrictive domestic legal framework.</p>
<h3>3. Increase in criminalisation and long prison terms</h3>
<p>The draft law includes a variety of vague and overlapping crimes with three-year prison terms and fines, many of which do not have legitimate democratic aims. Three-year prison terms for misinformation or “fake” websites that cause “public panic, loss of trust or social division” are likely to be used to punish criticism (Arts. 64 and 65). Sharing “sexually explicit speech” – such as that currently being used by many Generation Z protesters – is also punished with a three-year prison term (Art. 68). Using false names or pseudonyms on Facebook will result in a three-year prison sentence (Art. 65). Several provisions include three-year prison terms for actions commonly done by whistleblowers (Arts. 57, 59, and 60). In addition to these disproportionate three-year prison terms, those convicted may also be charged under the Counter-Terrorism Law (Arts. 70 and 71).</p>
<h3>4. Internet intermediaries criminally liable for the content</h3>
<p>The draft law places both administrative and criminal liability on internet intermediaries such as Facebook, Google, and Telenor, while easing the military’s potential to ban them altogether. It includes a vague list of content that all “online service providers”, defined as “any person or business providing online services used in Myanmar”, must remove when ordered (Art. 29). The vague list includes for example, “verbal statements against any existing law” and is clearly intended to punish criticism. All “online service providers” must prepare in advance to receive orders (Art. 48), which may come from any person or organisation authorised by the military government (Art. 47).</p>
<p>If an intermediary does not comply with an order, the military government can issue a warning, fine, or temporary or permanent ban (Art. 72). Representatives of the intermediary will also face a criminal punishment of up to three years of imprisonment plus a fine (Art. 61).</p>
<h3>5. Eases network control and internet shutdown</h3>
<p>The draft law enables the military government to take direct control over network infrastructure and eases their ability to shut down the internet. It includes provisions for both temporary and permanent bans on any online service such as Facebook (Arts. 51.a and 51.c), and provisions for allowing the military government temporary control of any network devices (Art. 51.b). Bans must be in accordance with a vague “public interest”, presumably as defined by the military (Art. 51). The only so-called “safeguard” is that the military’s governing State Administration Council must approve the military-controlled ministry’s decision (Art. 51).</p>
<h3>6. Private data put under military control</h3>
<p>The draft law gives the military unfettered access to private data. It requires all “online service providers” such as Facebook, Google, and Telenor, to store vast quantities of personal private data including Citizenship Card numbers for at least three years (Art. 30). This data must be stored on servers designated by the military-controlled government (Art. 28.a), and be accessible for “national security” checks (Art. 59). There are no privacy safeguards (Art. 15) and data must be provided when requested (Art. 31). Any computer owned by anybody can be inspected on vague grounds (Art. 45).</p>
<h3>Recommendations</h3>
<p>The only institution in Myanmar with the constitutional mandate to adopt laws is the Union Parliament. Therefore, FEM rejects the draft Cyber Crime Law in its entirety. Nevertheless, FEM calls on all national and international stakeholders to remind the military government of their obligations under international law and Myanmar’s Constitution and to significantly revise any such “law” to address the six serious risks highlighted above.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-cyber-security-law/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</title>
		<link>https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/</link>
					<comments>https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Tue, 18 Aug 2020 09:04:39 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[บล็อก]]></category>
		<category><![CDATA[ไฮไลท์]]></category>
		<category><![CDATA[Southeast Asia]]></category>
		<category><![CDATA[Thailand]]></category>
		<category><![CDATA[ปัญญาประดิษฐ์]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2803</guid>

					<description><![CDATA[<p>ด้วยประโยชน์ของการแปลงานในประเด็นที่เกี่ยวข้องกับเทคโนโลยีเช่นนี้ย่อมช่วยเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเรา ซึ่งมีความหลากหลายทั้งทางภาษาและวัฒนธรรม จึงได้เลือกแปลบทความทั้งสามชิ้นของ Jun-E Tan ที่เกี่ยวกับสถานการณ์ของปัญญาประดิษฐ์ (Artificial Intelligence: AI) ในภูมิภาคเอเชียตะวันออกเฉียงใต้เป็นภาษาไทย โดยธีรดา ณ จัตุรัส ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Read this article in <a href="https://coconet.social/2020/artificial-intelligence-thai-translation/">English</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>บ่อยครั้งการแปลภาษาอังกฤษจากแหล่งความรู้ต่างๆ มักไม่ง่ายนักและไม่สามารถแปลได้แบบตรงๆ โดยเฉพาะเมื่อศัพท์เทคนิคเหล่านั้นเกี่ยวกับทางด้านเทคโนโลยีดิจิทัล ความหมายของศัพท์นั้นๆ จึงแปลแบบตรงตัวตามที่ปรากฏในภาษาอื่นๆ ไม่ได้ อย่างไรก็ดี ได้ปรากฏว่ามีความต้องการงานแปลงานทางเทคนิคเช่นนี้เพื่อเป็นประโยชน์ในการเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเราซึ่งมีความหลากหลายทั้งภาษาและวัฒนธรรม</p>
<p>จากที่ได้มีการแปลบทความ <a href="/?page_id=1191">“วิธีรักษาความปลอดภัยในโลกออนไลน์ 101”</a> ใน<a href="/?page_id=1296">หลายๆ ภาษา</a> รวมทั้ง<a href="https://lab.ocf.tw/2020/05/22/digitalhygiene101-zh/">การแปลเป็นภาษาจีน</a>มาแล้วในอดีต ซึ่งจริงๆแล้วการแปลบทความนี้เป็นผลงานของมูลนิธิ Open Culture Foundation (OCF) ในประเทศไต้หวันซึ่งเป็นส่วนหนี่งของชุมชน Coconet ของเรา</p>
<p>หลังจากนั้นเราได้เลือกแปลบทความทั้งสามชิ้นที่เกี่ยวกับ<a href="/?page_id=847">สถานการณ์ของ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้</a>ที่เขียนโดย Jun-E Tan และแปลเป็นภาษาไทย โดย <a href="https://www.ukfiet.org/author/teerada-na-jatturas/">ธีรดา ณ จัตุรัส</a> ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>ข้อความด้านล่างนี้เป็นความเห็นจากธีรดา เกี่ยวกับประสบการณ์ในการแปลจากไทยเป็นอังกฤษของบทความ AI ชุดนี้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8220;จากประสบการณ์ในการทำวิจัยทางด้านเศรษฐศาสตร์การเมืองในการสื่อสาร ทำให้ได้เห็นถึงความคล้ายคลึงหลายประการที่ปรากฏในบทความ AI และในงานวิทยานิพนธ์ของตนเอง ด้วยเหตุนี้ตนเองจึงมีความคุ้นเคยกับคำศัพท์เทคนิคเหล่านี้อยู่แล้วจึงทำให้แปลบทความได้เร็วขึ้น แถมยังช่วยให้ตนเองได้เรียนรู้ศัพท์เทคนิคใหม่ๆอีกด้วย ทั้งนี้บทความ AI ชุดนี้ยังได้สะท้อนถึงผลการวิจัยของงานวิทยานิพนธ์ของตนเองในหลายๆ ด้านที่เกี่ยวกับการเพิ่มการควบคุมอินเตอร์เน็ตที่มาจากความร่วมมือของรัฐเผด็จการและบริษัททางเทคโนโลยีต่างๆ ซึ่งตนเห็นว่ามีความจำเป็นในการให้ความสำคัญเรื่องความปลอดภัยทางไซเบอร์และความเป็นส่วนตัวบนโลกออนไลน์ผ่านทางหลักสูตรของโรงเรียน สถาบันการศึกษา และการสร้างทางเลือกอื่นๆ ในการสื่อสารที่ไม่ใช่แค่จากแพลตฟอร์มโซเชียลมีเดียกระแสหลัก เพื่อการรักษาความเป็นนิรนามในการปกปิดอัตลักษณ์ของคนใช้อินเตอร์เน็ตเอง พร้อมทั้งยังช่วยปกป้องข้อมูลส่วนตัวของผู้ใช้เอง&#8221;</p>
<p>&#8220;ซึ่งการที่ได้อาสาแปลบทความครั้งนี้ช่วยให้ตนเองได้ทำความเข้าใจประเด็นใหม่ๆเกี่ยวกับ AI ที่มีผลต่อการพัฒนาทางสังคม และยังทำให้ตนเองได้รับรู้เกี่ยวกับการพัฒนาใหม่ๆที่เกี่ยวกับการประยุกต์ใช้ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้ ซึ่งมีผลกระทบต่อสิทธิทางพลเมือง สิทธิทางการเมือง และสิทธิทางสังคมและวัฒนธรรมต่างๆของผู้คน โดยเฉพาะผู้ที่เห็นต่างจากรัฐ ผู้หญิง และเยาวชน นั่นทำให้ได้ไอเดียใหม่ๆที่ช่วยพัฒนาทั้งทางวิชาการและการทำงานของตนเองในอนาคต&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1080" height="720" src="wp-content/uploads/2020/02/artificial-intelligence-4111582_1920.jpg" class="vc_single_image-img attachment-full" alt="Artificial Intelligence. Image by Gerd Altmann from Pixabay" sizes="(max-width: 1080px) 100vw, 1080px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>สามารถอ่านซีรีย์บทความเกี่ยวกับ AI เป็นภาษาไทยได้ที่</p>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Part 1: <a href="https://coconet.social/th/2020/%e0%b8%9b%e0%b8%b1%e0%b8%8d%e0%b8%8d%e0%b8%b2%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%94%e0%b8%b4%e0%b8%a9%e0%b8%90%e0%b9%8c-artificial-intelligence-ai-%e0%b8%81%e0%b8%b1%e0%b8%9a%e0%b8%82%e0%b9%89/">ปัญญาประดิษฐ์ (Artificial Intelligence: AI) กับข้อกังวลด้านสิทธิมนุษยชนในสังคมเอเชียตะวันออกเฉียงใต้: ภาพรวม</a></li>
<li>Part 2: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%ad%e0%b8%a2%e0%b8%b9%e0%b9%88%e0%b8%a3%e0%b9%88%e0%b8%a7%e0%b8%a1%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b9%84%e0%b8%94%e0%b9%89%e0%b8%ab%e0%b8%a3/">เราจะอยู่ร่วมกับ AI ได้หรือไม่: ปัญญาประดิษฐ์ (Artificial Intelligence) กับผลกระทบต่อสิทธิทางเศรษฐกิจ สังคม และวัฒนธรรม</a></li>
<li>Part 3: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a1%e0%b8%b7%e0%b9%88%e0%b8%ad-ai-%e0%b8%81%e0%b8%a5%e0%b8%b2%e0%b8%a2%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%ad%e0%b8%b2%e0%b8%a7%e0%b8%b8%e0%b8%98%e0%b8%97%e0%b8%b5%e0%b9%88/">เมื่อ AI กลายเป็นอาวุธที่มีผลกระทบต่อสิทธิพลเมืองและสิทธิทางการเมือง</a></li>
</ol>
</li>
</ol>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ธีรดา ยังได้อธิบายเพิ่มเติมถึงความจำเป็นในการเพิ่มแหล่งความรู้ที่เกี่ยวกับ AI และ Machine Learning ในภาษาอื่นๆ ที่นอกเหนือไปจากภาษาอังกฤษเพื่อการเผยแพร่ความรู้ในภูมิภาคนี้ &#8220;ไม่ว่าจะเป็นผู้ที่คิดต่างทางการเมือง ผู้ลี้ภัย บุคคลที่มีความต้องการช่วยเหลืออย่างเป็นพิเศษ เด็กผู้หญิง ผู้หญิง และชนกลุ่มน้อยต่างๆ ที่ขาดความชำนาญทางภาษาอังกฤษควรที่จะได้เข้าถึงข้อมูลที่เกี่ยวกับความสำคัญในการรักษาความเป็นส่วนตัวบนโลกออนไลน์ และสิทธิทางดิจิทัล (digital rights) ในภาษาของตน ซึ่งการรู้สิทธิต่างๆ เหล่านี้ก็จะช่วยให้พวกเราสามารถลุกขึ้นปกป้องสิทธิของตนเองจากการละเมิดสิทธิโดยรัฐ และบริษัทเทคโนโลยีทั้งหลาย&#8221;</p>
<p>ขอบคุณธีรดาที่อาสาช่วยแปลงานเป็นภาษาไทย และสำหรับผู้ที่สนใจเป็นอาสาสมัครแปลบทความเป็นภาษาต่างๆ สามารถ<a href="/?page_id=248">ติดต่อทีมงานเรา</a> เพื่อสอบถามข้อมูลเพิ่มเติมได้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</title>
		<link>https://coconet.social/2020/artificial-intelligence-thai-translation-th/</link>
					<comments>https://coconet.social/2020/artificial-intelligence-thai-translation-th/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Tue, 18 Aug 2020 09:04:22 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Southeast Asia]]></category>
		<category><![CDATA[Thailand]]></category>
		<category><![CDATA[ปัญญาประดิษฐ์]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5533</guid>

					<description><![CDATA[<p>ด้วยประโยชน์ของการแปลงานในประเด็นที่เกี่ยวข้องกับเทคโนโลยีเช่นนี้ย่อมช่วยเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเรา ซึ่งมีความหลากหลายทั้งทางภาษาและวัฒนธรรม จึงได้เลือกแปลบทความทั้งสามชิ้นของ Jun-E Tan ที่เกี่ยวกับสถานการณ์ของปัญญาประดิษฐ์ (Artificial Intelligence: AI) ในภูมิภาคเอเชียตะวันออกเฉียงใต้เป็นภาษาไทย โดยธีรดา ณ จัตุรัส ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><em>Read this article in</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation/">English</a> /<em> อ่านบทความนี้ใน</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation/">ภาษาอังกฤษ</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>บ่อยครั้งการแปลภาษาอังกฤษจากแหล่งความรู้ต่างๆ มักไม่ง่ายนักและไม่สามารถแปลได้แบบตรงๆ โดยเฉพาะเมื่อศัพท์เทคนิคเหล่านั้นเกี่ยวกับทางด้านเทคโนโลยีดิจิทัล ความหมายของศัพท์นั้นๆ จึงแปลแบบตรงตัวตามที่ปรากฏในภาษาอื่นๆ ไม่ได้ อย่างไรก็ดี ได้ปรากฏว่ามีความต้องการงานแปลงานทางเทคนิคเช่นนี้เพื่อเป็นประโยชน์ในการเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเราซึ่งมีความหลากหลายทั้งภาษาและวัฒนธรรม</p>
<p>จากที่ได้มีการแปลบทความ <a href="/?page_id=1191">“วิธีรักษาความปลอดภัยในโลกออนไลน์ 101”</a> ใน<a href="/?page_id=1296">หลายๆ ภาษา</a> รวมทั้ง<a href="https://lab.ocf.tw/2020/05/22/digitalhygiene101-zh/">การแปลเป็นภาษาจีน</a>มาแล้วในอดีต ซึ่งจริงๆแล้วการแปลบทความนี้เป็นผลงานของมูลนิธิ Open Culture Foundation (OCF) ในประเทศไต้หวันซึ่งเป็นส่วนหนี่งของชุมชน Coconet ของเรา</p>
<p>หลังจากนั้นเราได้เลือกแปลบทความทั้งสามชิ้นที่เกี่ยวกับ<a href="/?page_id=847">สถานการณ์ของ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้</a>ที่เขียนโดย Jun-E Tan และแปลเป็นภาษาไทย โดย <a href="https://www.ukfiet.org/author/teerada-na-jatturas/">ธีรดา ณ จัตุรัส</a> ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>ข้อความด้านล่างนี้เป็นความเห็นจากธีรดา เกี่ยวกับประสบการณ์ในการแปลจากไทยเป็นอังกฤษของบทความ AI ชุดนี้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8220;จากประสบการณ์ในการทำวิจัยทางด้านเศรษฐศาสตร์การเมืองในการสื่อสาร ทำให้ได้เห็นถึงความคล้ายคลึงหลายประการที่ปรากฏในบทความ AI และในงานวิทยานิพนธ์ของตนเอง ด้วยเหตุนี้ตนเองจึงมีความคุ้นเคยกับคำศัพท์เทคนิคเหล่านี้อยู่แล้วจึงทำให้แปลบทความได้เร็วขึ้น แถมยังช่วยให้ตนเองได้เรียนรู้ศัพท์เทคนิคใหม่ๆอีกด้วย ทั้งนี้บทความ AI ชุดนี้ยังได้สะท้อนถึงผลการวิจัยของงานวิทยานิพนธ์ของตนเองในหลายๆ ด้านที่เกี่ยวกับการเพิ่มการควบคุมอินเตอร์เน็ตที่มาจากความร่วมมือของรัฐเผด็จการและบริษัททางเทคโนโลยีต่างๆ ซึ่งตนเห็นว่ามีความจำเป็นในการให้ความสำคัญเรื่องความปลอดภัยทางไซเบอร์และความเป็นส่วนตัวบนโลกออนไลน์ผ่านทางหลักสูตรของโรงเรียน สถาบันการศึกษา และการสร้างทางเลือกอื่นๆ ในการสื่อสารที่ไม่ใช่แค่จากแพลตฟอร์มโซเชียลมีเดียกระแสหลัก เพื่อการรักษาความเป็นนิรนามในการปกปิดอัตลักษณ์ของคนใช้อินเตอร์เน็ตเอง พร้อมทั้งยังช่วยปกป้องข้อมูลส่วนตัวของผู้ใช้เอง&#8221;</p>
<p>&#8220;ซึ่งการที่ได้อาสาแปลบทความครั้งนี้ช่วยให้ตนเองได้ทำความเข้าใจประเด็นใหม่ๆเกี่ยวกับ AI ที่มีผลต่อการพัฒนาทางสังคม และยังทำให้ตนเองได้รับรู้เกี่ยวกับการพัฒนาใหม่ๆที่เกี่ยวกับการประยุกต์ใช้ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้ ซึ่งมีผลกระทบต่อสิทธิทางพลเมือง สิทธิทางการเมือง และสิทธิทางสังคมและวัฒนธรรมต่างๆของผู้คน โดยเฉพาะผู้ที่เห็นต่างจากรัฐ ผู้หญิง และเยาวชน นั่นทำให้ได้ไอเดียใหม่ๆที่ช่วยพัฒนาทั้งทางวิชาการและการทำงานของตนเองในอนาคต&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1080" height="720" src="wp-content/uploads/2020/02/artificial-intelligence-4111582_1920.jpg" class="vc_single_image-img attachment-full" alt="Artificial Intelligence. Image by Gerd Altmann from Pixabay" sizes="(max-width: 1080px) 100vw, 1080px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>สามารถอ่านซีรีย์บทความเกี่ยวกับ AI เป็นภาษาไทยได้ที่</p>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Part 1: <a href="https://coconet.social/th/2020/%e0%b8%9b%e0%b8%b1%e0%b8%8d%e0%b8%8d%e0%b8%b2%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%94%e0%b8%b4%e0%b8%a9%e0%b8%90%e0%b9%8c-artificial-intelligence-ai-%e0%b8%81%e0%b8%b1%e0%b8%9a%e0%b8%82%e0%b9%89/">ปัญญาประดิษฐ์ (Artificial Intelligence: AI) กับข้อกังวลด้านสิทธิมนุษยชนในสังคมเอเชียตะวันออกเฉียงใต้: ภาพรวม</a></li>
<li>Part 2: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%ad%e0%b8%a2%e0%b8%b9%e0%b9%88%e0%b8%a3%e0%b9%88%e0%b8%a7%e0%b8%a1%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b9%84%e0%b8%94%e0%b9%89%e0%b8%ab%e0%b8%a3/">เราจะอยู่ร่วมกับ AI ได้หรือไม่: ปัญญาประดิษฐ์ (Artificial Intelligence) กับผลกระทบต่อสิทธิทางเศรษฐกิจ สังคม และวัฒนธรรม</a></li>
<li>Part 3: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a1%e0%b8%b7%e0%b9%88%e0%b8%ad-ai-%e0%b8%81%e0%b8%a5%e0%b8%b2%e0%b8%a2%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%ad%e0%b8%b2%e0%b8%a7%e0%b8%b8%e0%b8%98%e0%b8%97%e0%b8%b5%e0%b9%88/">เมื่อ AI กลายเป็นอาวุธที่มีผลกระทบต่อสิทธิพลเมืองและสิทธิทางการเมือง</a></li>
</ol>
</li>
</ol>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ธีรดา ยังได้อธิบายเพิ่มเติมถึงความจำเป็นในการเพิ่มแหล่งความรู้ที่เกี่ยวกับ AI และ Machine Learning ในภาษาอื่นๆ ที่นอกเหนือไปจากภาษาอังกฤษเพื่อการเผยแพร่ความรู้ในภูมิภาคนี้ &#8220;ไม่ว่าจะเป็นผู้ที่คิดต่างทางการเมือง ผู้ลี้ภัย บุคคลที่มีความต้องการช่วยเหลืออย่างเป็นพิเศษ เด็กผู้หญิง ผู้หญิง และชนกลุ่มน้อยต่างๆ ที่ขาดความชำนาญทางภาษาอังกฤษควรที่จะได้เข้าถึงข้อมูลที่เกี่ยวกับความสำคัญในการรักษาความเป็นส่วนตัวบนโลกออนไลน์ และสิทธิทางดิจิทัล (digital rights) ในภาษาของตน ซึ่งการรู้สิทธิต่างๆ เหล่านี้ก็จะช่วยให้พวกเราสามารถลุกขึ้นปกป้องสิทธิของตนเองจากการละเมิดสิทธิโดยรัฐ และบริษัทเทคโนโลยีทั้งหลาย&#8221;</p>
<p>ขอบคุณธีรดาที่อาสาช่วยแปลงานเป็นภาษาไทย และสำหรับผู้ที่สนใจเป็นอาสาสมัครแปลบทความเป็นภาษาต่างๆ สามารถ<a href="/?page_id=248">ติดต่อทีมงานเรา</a> เพื่อสอบถามข้อมูลเพิ่มเติมได้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/artificial-intelligence-thai-translation-th/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Series on AI and Southeast Asia now available in Thai</title>
		<link>https://coconet.social/2020/artificial-intelligence-thai-translation/</link>
					<comments>https://coconet.social/2020/artificial-intelligence-thai-translation/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Thu, 13 Aug 2020 04:15:34 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Artificial Intelligence]]></category>
		<category><![CDATA[Southeast Asia]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2476</guid>

					<description><![CDATA[<p>The need for accurate translations for English resources on technology continues to be necessary in order to reach a wider audience in our diverse region. In line with that thrust, the three-part series on artificial intelligence (AI) in the context of Southeast Asia by Jun-E Tan is now available in Thai. This AI series was voluntarily translated by Teerada Na Jatturas, a consultant with UNESCO with a postgraduate degree in Digital Communications from the University of Westminster.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation/">Series on AI and Southeast Asia now available in Thai</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><em>Read this Article in</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">Thai</a> / <em>อ่านบทความนี้ใน</em> <a href="https://coconet.social/2020/artificial-intelligence-thai-translation-th/">ภาษาไทย</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Providing accurate translations for English resources is often difficult and tricky, most especially when many technical terms in the field of technology and the digital do not necessarily have corresponding or literal translations in other languages. The need for such translations, however, continues to be necessary in order to reach a wider audience in our diverse region.</p>
<p>Our <a href="https://coconet.social/digital-hygiene-safety-security/">resource on practicing digital hygiene</a>, for example, is available in <a href="https://coconet.social/resources/">multiple languages</a>. The <a href="https://lab.ocf.tw/2020/05/22/digitalhygiene101-zh/">Chinese translation</a>, in fact, was worked on by the OCF Lab in Taiwan, which is part of the Coconet community.</p>
<p>In line with that thrust, the three-part series on <a href="https://coconet.social/AI">artificial intelligence (AI)</a> in the context of Southeast Asia by Jun-E Tan is now available in Thai. This AI series was voluntarily translated by <a href="https://www.ukfiet.org/author/teerada-na-jatturas/">Teerada Na Jatturas</a>, a consultant with UNESCO with a postgraduate degree in Digital Communications from the University of Westminster.</p>
<p>Here&#8217;s what she had to say about her experience in translating the series from English to Thai:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8220;Trained as a social scientist in the political economy of communication, I see several similar points in the AI series and my thesis. This helps speed up the translation, as I&#8217;ve already learned many technical terms while expanding my ICT vocabularies at the same time. The AI series echoes my thesis&#8217;s findings on the increased control of the internet orchestrated by authoritarian states (in Asia in particular) and neoliberal media and technology companies. There is a need to lay out the foundation of cybersecurity and online privacy in scholarly curricula and create alternatives to mainstream platforms to maintain anonymity and the ownership of end-user data.</p>
<p>&#8220;This project was a great way for me to delve into a new topic such as AI and society. I know that working on the project provided me with an insight into the current development of AI uses in the Southeast Asian region, which has affected cultural, political and civil rights of the people (particularly dissidents, girls, and women). It also gives me new ideas on potential projects either in my academic and professional endeavors in the future.&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1080" height="720" src="wp-content/uploads/2020/02/artificial-intelligence-4111582_1920.jpg" class="vc_single_image-img attachment-full" alt="Artificial Intelligence. Image by Gerd Altmann from Pixabay" sizes="(max-width: 1080px) 100vw, 1080px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Check out the Thai translation of the AI series below:</p>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Part 1: <a href="https://coconet.social/th/2020/%e0%b8%9b%e0%b8%b1%e0%b8%8d%e0%b8%8d%e0%b8%b2%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%94%e0%b8%b4%e0%b8%a9%e0%b8%90%e0%b9%8c-artificial-intelligence-ai-%e0%b8%81%e0%b8%b1%e0%b8%9a%e0%b8%82%e0%b9%89/">ปัญญาประดิษฐ์ (Artificial Intelligence: AI) กับข้อกังวลด้านสิทธิมนุษยชนในสังคมเอเชียตะวันออกเฉียงใต้: ภาพรวม</a></li>
<li>Part 2: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%ad%e0%b8%a2%e0%b8%b9%e0%b9%88%e0%b8%a3%e0%b9%88%e0%b8%a7%e0%b8%a1%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b9%84%e0%b8%94%e0%b9%89%e0%b8%ab%e0%b8%a3/">เราจะอยู่ร่วมกับ AI ได้หรือไม่: ปัญญาประดิษฐ์ (Artificial Intelligence) กับผลกระทบต่อสิทธิทางเศรษฐกิจ สังคม และวัฒนธรรม</a></li>
<li>Part 3: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a1%e0%b8%b7%e0%b9%88%e0%b8%ad-ai-%e0%b8%81%e0%b8%a5%e0%b8%b2%e0%b8%a2%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%ad%e0%b8%b2%e0%b8%a7%e0%b8%b8%e0%b8%98%e0%b8%97%e0%b8%b5%e0%b9%88/">เมื่อ AI กลายเป็นอาวุธที่มีผลกระทบต่อสิทธิพลเมืองและสิทธิทางการเมือง</a></li>
</ol>
</li>
</ol>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Teerada elaborates further on the need for resources to be available in more languages other than English in order to educate more in the region about AI and machine learning. &#8220;Dissidents, refugees, people with special needs, girls, women and other minorities, who unfortunately still lack English language skills, should learn about online privacy and digital rights in their own languages, so that we and they can defend their rights from being exploited by states and corporations,&#8221; she said.</p>
<p>Thank you to Teerada for your work! If you are also interested in helping to translate our resources from English to a regional language, please don&#8217;t hesitate to <a href="https://coconet.social/contact">contact us</a> for more information.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/artificial-intelligence-thai-translation/">Series on AI and Southeast Asia now available in Thai</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/artificial-intelligence-thai-translation/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>#SaveRome: Call for Solidarity from Thailand</title>
		<link>https://coconet.social/2020/solidarity-thailand-save-rome/</link>
					<comments>https://coconet.social/2020/solidarity-thailand-save-rome/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Sun, 21 Jun 2020 02:58:16 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Call for Solidarity]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1589</guid>

					<description><![CDATA[<p>Note from the editor: After recent news related to human rights and freedom of expression in their country, Coconet members from Thailand shared the following call for solidarity addressed to the international community. We would like to share it here in full, with some links...</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/solidarity-thailand-save-rome/">#SaveRome: Call for Solidarity from Thailand</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><em>Note from the editor: After recent news related to human rights and freedom of expression in their country, Coconet members from Thailand shared the following call for solidarity addressed to the international community. We would like to share it here in full, with some links related to the issue.</em></strong></p>
<p>After the <a href="https://www.hrw.org/news/2020/06/05/cambodia-thai-activist-abducted-phnom-penh">abduction of Thai activist Wanchalearm Satsaksit</a> in <a href="https://www.bangkokpost.com/thailand/general/1929988/exiled-thai-activist-abducted-in-cambodia">Cambodia on 4 June 2020</a>, Rangsiman Rome, a member of the House of Representatives from the Move Forward Party, <a href="https://www.khaosodenglish.com/politics/2020/06/10/opposition-grills-govt-over-dissidents-abduction/">raised the issue of enforced disappearance to the parliamentary session</a>. Rome <a href="https://www.bangkokpost.com/thailand/politics/1933272/house-set-to-quiz-mfa-over-wanchalearm">questioned the investigation and the legal processes</a> in the disappearance of Wanchalearm, as well as various activists who have been missing since the 2014 military regime. He questioned the government&#8217;s responsibility in ensuring the safety of its people. The party is also proposing a bill to <a href="https://www.bangkokpost.com/thailand/general/1937148/move-forward-seeks-changes-to-emergency-law">amend the 2005 state of emergency decree</a>, requiring that government actions during emergency be checked by the legislative and judicial branches.</p>
<p>Through the Law, Justice and Human Rights Commission, Rome is also pushing for the ratification of the bill on the Prevention and Suppression of Torture and Enforced Disappearances. Although this is a risky move, the parliament has the responsibility to represent the public interest and protect the people from human rights violations.</p>
<div id="fb-root"></div>
<p><script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&amp;version=v7.0" nonce="gI1dNlRe"></script></p>
<div class="fb-post" data-href="https://www.facebook.com/rangsimanrome/posts/499733670783285" data-width="750">
<blockquote cite="https://www.facebook.com/rangsimanrome/posts/499733670783285" class="fb-xfbml-parse-ignore">
<p>[ผลการประชุม พิจารณาเรื่องร้องเรียนกรณีอุ้มหาย &quot;วันเฉลิม&quot;].ช่วงเช้าวันนี้ (17 มิถุนายน 2563) คณะกรรมาธิการการกฎหมาย&#8230;</p>
<p>Geplaatst door <a href="https://www.facebook.com/rangsimanrome/">Rangsiman Rome &#8211; รังสิมันต์ โรม</a> op&nbsp;<a href="https://www.facebook.com/rangsimanrome/posts/499733670783285">Woensdag 17 juni 2020</a></p></blockquote>
</div>
<p>&nbsp;</p>
<p>On Friday, June 19, 2020, rumors began to circulate on <a href="https://www.thaienquirer.com/14662/saverome-trends-on-thai-twitter-after-rumours-spread-online-of-campaign-against-move-forward-mp/?fbclid=IwAR2h7TcB_os_sb2Zf501-M9YmWNkDsT9oct2Q9jux3ExfF16t7s2bBxKSa0">Thai social media</a> that Rome was under serious threat from the authorities who were not happy with his move in the parliament.</p>
<p>Let&#8217;s build international solidarity to fight intimidation and suppression to the freedom of expression, demand justice for victims of forced disappearance, and say: enough is enough, no more cases of human rights violations!</p>
<p>You can find out more about this campaign through the following hashtags: #EnoughisEnough #SaveRome #SaveWanchalearm #ไม่ถอยไม่ทน. You can also read more about <a href="https://coconet.social/2020/thailand-student-online-activism-covid/">the recent waves of protest in Thailand on Coconet.social</a>.</p>
<p>&nbsp;</p>
<pre class="prettyprint _3t10 prettyprinted"><span class="tag"> </span></pre>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/solidarity-thailand-save-rome/">#SaveRome: Call for Solidarity from Thailand</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/solidarity-thailand-save-rome/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Coconet II Public Report: Growing the digital rights movement</title>
		<link>https://coconet.social/2020/coconet-report-digital-rights-movement/</link>
					<comments>https://coconet.social/2020/coconet-report-digital-rights-movement/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Fri, 10 Apr 2020 05:55:49 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1320</guid>

					<description><![CDATA[<p>Coconet is an Asia-Pacific regional initiative supporting changemakers to build the digital rights movement. In October 2019, Coconet II expanded the space for new changemakers: activists, journalists, artists, technologists, filmmakers, lawyers, and researchers, who represent a wide variety of social and environmental movements. Over 120 changemakers from 22 countries converged in Antipolo, Philippines, to discuss and share their knowledge on digital rights, exchange tactics and skills, and plan joint campaigns and collaborations to strengthen their respective movements as well as support broader ones.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/coconet-report-digital-rights-movement/">Coconet II Public Report: Growing the digital rights movement</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe width="720" height="460" src="https://video.engagemedia.org/embed?m=FXBs5OXwr" frameborder="0" allowfullscreen></iframe></center>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>For civil society in the Asia-Pacific, the internet has increasingly become a crucial space for human rights, democracy, and dissent. But this space is now under pressure – in many places, shrinking – due to government intervention and corporate misconduct. Globally, the COVID-19 pandemic has deepened concerns regarding government surveillance and <a href="https://coconet.social/2020/covid-health-security-privacy-thailand/">the price of digital privacy</a>. It has also unleashed a disturbing rise in <a href="https://coconet.social/2020/covid-infodemic-asia-pacific/">disinformation</a>.</p>
<p>Coconet is an Asia-Pacific regional initiative supporting changemakers to build the digital rights movement. In October 2019, Coconet II expanded the space for new changemakers: activists, journalists, artists, technologists, filmmakers, lawyers, and researchers, who represent a wide variety of social and environmental movements. Over 120 changemakers from 22 countries converged in Antipolo, Philippines, to discuss and share their knowledge on digital rights, exchange tactics and skills, and plan joint campaigns and collaborations to strengthen their respective movements as well as support broader ones.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/06/Coconet-II_-Digital-Rights-Camp-Public-Outcomes-Report.pdf" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="495" height="700" src="wp-content/uploads/2020/04/Coconet-II-Report-Public-Cover-495x700.jpg" class="vc_single_image-img attachment-medium" alt="Coconet Digital Rights Camp" sizes="(max-width: 495px) 100vw, 495px" /></div></a>
			<figcaption class="vc_figure-caption">Click the image to download the Coconet II Public Report.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We&#8217;re now releasing our official report documenting the five-day digital rights camp. In it, we describe how we ran the camp using an open-space format, detail ten collaborations spearheaded by participants, and outline our plans for the Coconet community, including Coconet.social and Coconet III.</p>
<p>Click on the image to the left to view and download the full document. You can also click <a href="https://coconet.social/wp-content/uploads/2020/06/Coconet-II_-Digital-Rights-Camp-Public-Outcomes-Report.pdf" target="_blank" rel="noopener noreferrer">here</a>.</p>
<p>Aside from this report, we&#8217;ve also published over the past months a number of short videos and blog posts featuring select participants and their views on a wide array of digital rights issues.</p>

		</div> 
	</div> <div class='q_list circle'></p>
<ul>
<li><a href="https://coconet.social/2019/coconet-collaborations-asia/">Coconet II: Firing up digital rights collaborations across asia (and beyond)</a></li>
<li><a href="https://coconet.social/2019/dhyta-solidarity-movement/">Solidarity is what makes the movement go on</a></li>
<li><a href="https://coconet.social/2019/why-digital-rights-southeast-asia/">Why do we need a digital rights movement in Southeast Asia?</a></li>
<li><a href="https://coconet.social/2019/community-collaboration-coconet/">Community and collaboration at Coconet II</a></li>
<li><a href="https://coconet.social/2019/security-and-well-being-of-activists/">Security and well-being of activists</a></li>
<li><a href="https://coconet.social/2019/coconet-ii-hija/">Stories of resistance and resilience at Coconet II</a></li>
<li><a href="https://coconet.social/2019/artificial-intelligence-human-rights-coconet/">Artificial intelligence and human rights: Notes from Coconet II</a></li>
</ul>
<p></div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The year 2020 is also set to bring new projects by and for the growing Coconet community. Among them are an upcoming podcast with interviews with key digital rights actors, a regional digital rights events calendar, and live online events where the community can share progress about collaborations, encourage new ones, and participate in activities that build solidarity.</p>
<p>In 2021, EngageMedia, APC, and our partners are planning to host Coconet III, a city-based festival that aims to take the regional digital rights movement to the next level. This is of course very dependent on how the world responds to the COVID-19 pandemic.</p>
<p>We hope to see you, along with more changemakers, at Coconet III!</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/coconet-report-digital-rights-movement/">Coconet II Public Report: Growing the digital rights movement</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/coconet-report-digital-rights-movement/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Security and Well-Being of Activists</title>
		<link>https://coconet.social/2019/security-and-well-being-of-activists/</link>
					<comments>https://coconet.social/2019/security-and-well-being-of-activists/#comments</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 18 Dec 2019 04:05:03 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Coconet]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=742</guid>

					<description><![CDATA[<p>"The security and well-being of activists need to be addressed both online and offline," says Zack Lee, the Asia grant officer of Voice.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/security-and-well-being-of-activists/">Security and Well-Being of Activists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coconet-II-zack/embed_view' frameborder='0' width='630' height='460' allowfullscreen></iframe></center>
		</div>
	</div>
<blockquote class='' style=''><h5 class='blockquote-text' style=''>``The security and well-being of activists need to be addressed both online and offline,`` says Zack Lee, the Asia grant officer of Voice.<br />
</h5></blockquote>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>120 activists, campaigners, journalists, artists, technologists, each supporting various movements from across Southeast Asia, gathered in the Philippines in October 2019 to learn, share, and co-create solutions to the burning issues in the region.</p>
<p>Read more <a class="external-link" href="https://coconet.social/2019/coconet-collaborations-asia/">here</a>.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/security-and-well-being-of-activists/">Security and Well-Being of Activists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/security-and-well-being-of-activists/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Stories of Resistance and Resilience at Coconet II</title>
		<link>https://coconet.social/2019/coconet-ii-hija/</link>
					<comments>https://coconet.social/2019/coconet-ii-hija/#comments</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Tue, 26 Nov 2019 03:16:01 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Coconet]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=708</guid>

					<description><![CDATA[<p>Hija Kamran from Media Matters For Democracy, Pakistan, contemplates about the stories she heard from other activists at Coconet II</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/coconet-ii-hija/">Stories of Resistance and Resilience at Coconet II</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/Coconet-ii-Hija/embed_view' frameborder='0' width='630' height='460' allowfullscreen></iframe></center>
		</div>
	</div>
<blockquote class='' style=''><h5 class='blockquote-text' style=''>Hija Kamran from Media Matters For Democracy, Pakistan, contemplates about the stories she heard from other activists at Coconet II: ``Despite everything that is going wrong, there are things that are going right.``</h5></blockquote>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>120 activists, campaigners, journalists, artists, technologists, each supporting various movements from across Southeast Asia, gathered in the Philippines in October 2019 to learn, share, and co-create solutions to the burning issues in the region.</p>
<p>Read more <a class="external-link" href="https://coconet.social/2019/coconet-collaborations-asia/">here</a>.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/coconet-ii-hija/">Stories of Resistance and Resilience at Coconet II</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/coconet-ii-hija/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Community and Collaboration at Coconet II</title>
		<link>https://coconet.social/2019/community-collaboration-coconet/</link>
					<comments>https://coconet.social/2019/community-collaboration-coconet/#comments</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Thu, 21 Nov 2019 08:10:49 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=693</guid>

					<description><![CDATA[<p>Arthit Suryawongkul from Thai Netizen Network articulates the importance of community and collaboration, and the importance of cross-movement spaces like Coconet in Southeast Asia.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/community-collaboration-coconet/">Community and Collaboration at Coconet II</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/community-collaboration-coconet/embed_view' frameborder='0' width='630' height='460' allowfullscreen></iframe></center>
		</div>
	</div>
<blockquote class='' style=''><h5 class='blockquote-text' style=''>Arthit Suryawongkul from Thai Netizen Network, a partner organisation of both Coconet I &amp; II, articulates the importance of community and collaboration, and the importance of cross-movement spaces like Coconet in the region.</h5></blockquote>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>120 activists, campaigners, journalists, artists, technologists, each supporting various movements from across Southeast Asia, gathered in the Philippines in October 2019 to learn, share, and co-create solutions to the burning issues in the region.</p>
<p>Read more <a class="external-link" href="https://coconet.social/2019/coconet-collaborations-asia/">here</a>.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/community-collaboration-coconet/">Community and Collaboration at Coconet II</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/community-collaboration-coconet/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
