<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Democracy &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/democracy/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 09 Mar 2021 02:40:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Democracy &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</title>
		<link>https://coconet.social/2021/myanmar-cyber-security-law/</link>
					<comments>https://coconet.social/2021/myanmar-cyber-security-law/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 24 Feb 2021 07:15:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Cyber Security Law]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4943</guid>

					<description><![CDATA[<p>Free Expression Myanmar analyses how and why the military's draft Cyber Security Law poses risks to human and digital rights to the people of Myanmar.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><em>This article on Myanmar&#8217;s proposed Cyber Security Law was originally written by and published in <a href="http://freeexpressionmyanmar.org/six-risks-from-myanmars-draft-cyber-security-law/">Free Expression Myanmar</a> (FEM), a Coconet community member, on February 14, 2021. It has been republished here with permission.</em></p>
<p><em>Days after this article&#8217;s original publication, the 2021 Electronic Transactions Law Amendment was enacted. The new amendment &#8220;<a href="http://freeexpressionmyanmar.org/myanmars-new-electronic-transactions-law-amendment/">includes several of the problematic criminal provisions</a>&#8221; proposed in the Cyber Security Law.</em></p>
<p>&nbsp;</p>
<div id="attachment_4955" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4955" class="wp-image-4955 size-large" src="wp-content/uploads/2021/02/Myanmar-Protest-1024x576.jpg" alt="" width="1024" height="576" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4955" class="wp-caption-text">Photo by Htin Linn Aye, taken from Wikimedia Commons and used under the Creative Commons Attribution-Share Alike 4.0 International license</p></div>
<p>&nbsp;</p>
<p>This analysis outlines six serious risks posed by the Myanmar military government’s <a href="https://rsf.org/en/news/myanmars-junta-plans-draconian-cyber-security-law">draft “Cyber Security Law”</a>. It is based upon international standards relating to the right to freedom of expression. It builds upon a statement issued on February 11, 2021, by 250 civil society organisations in Myanmar, and other international statements.</p>
<p>The draft Cyber Security Law was circulated to stakeholders for feedback by February 15. The draft law has been under development for several years, and the circulated version is similar to the version from mid-2020 under the previous government.</p>
<h3>1. The military will have absolute control over Myanmar’s internet</h3>
<p>The draft law establishes a hierarchy of bodies overseen by and formed of representatives chosen by the military under the military’s governing State Administration Council (Arts. 5.a, 7, and 9). These oversight bodies are given absolute control over making internet and communications-related rules (Art. 6.a), implementing those rules (Art. 6.b), and investigating rule-breakers (Art. 12). Furthermore, the draft law also enables the Ministry of Defence to issue rules (Art. 88).</p>
<h3>2. Regulates people, communications, and companies internationally</h3>
<p>The draft law is unusual because it has a wide, extraterritorial reach, giving the military government an international jurisdiction as well as a normal domestic one. It creates international offences (Art. 2.a), applies to Myanmar citizens outside of Myanmar (Art. 1.a) and international organisations (Art. 6.h), and covers any form of international communications (Art. 1.c). This significantly extends the oppressive effect of Myanmar’s already restrictive domestic legal framework.</p>
<h3>3. Increase in criminalisation and long prison terms</h3>
<p>The draft law includes a variety of vague and overlapping crimes with three-year prison terms and fines, many of which do not have legitimate democratic aims. Three-year prison terms for misinformation or “fake” websites that cause “public panic, loss of trust or social division” are likely to be used to punish criticism (Arts. 64 and 65). Sharing “sexually explicit speech” – such as that currently being used by many Generation Z protesters – is also punished with a three-year prison term (Art. 68). Using false names or pseudonyms on Facebook will result in a three-year prison sentence (Art. 65). Several provisions include three-year prison terms for actions commonly done by whistleblowers (Arts. 57, 59, and 60). In addition to these disproportionate three-year prison terms, those convicted may also be charged under the Counter-Terrorism Law (Arts. 70 and 71).</p>
<h3>4. Internet intermediaries criminally liable for the content</h3>
<p>The draft law places both administrative and criminal liability on internet intermediaries such as Facebook, Google, and Telenor, while easing the military’s potential to ban them altogether. It includes a vague list of content that all “online service providers”, defined as “any person or business providing online services used in Myanmar”, must remove when ordered (Art. 29). The vague list includes for example, “verbal statements against any existing law” and is clearly intended to punish criticism. All “online service providers” must prepare in advance to receive orders (Art. 48), which may come from any person or organisation authorised by the military government (Art. 47).</p>
<p>If an intermediary does not comply with an order, the military government can issue a warning, fine, or temporary or permanent ban (Art. 72). Representatives of the intermediary will also face a criminal punishment of up to three years of imprisonment plus a fine (Art. 61).</p>
<h3>5. Eases network control and internet shutdown</h3>
<p>The draft law enables the military government to take direct control over network infrastructure and eases their ability to shut down the internet. It includes provisions for both temporary and permanent bans on any online service such as Facebook (Arts. 51.a and 51.c), and provisions for allowing the military government temporary control of any network devices (Art. 51.b). Bans must be in accordance with a vague “public interest”, presumably as defined by the military (Art. 51). The only so-called “safeguard” is that the military’s governing State Administration Council must approve the military-controlled ministry’s decision (Art. 51).</p>
<h3>6. Private data put under military control</h3>
<p>The draft law gives the military unfettered access to private data. It requires all “online service providers” such as Facebook, Google, and Telenor, to store vast quantities of personal private data including Citizenship Card numbers for at least three years (Art. 30). This data must be stored on servers designated by the military-controlled government (Art. 28.a), and be accessible for “national security” checks (Art. 59). There are no privacy safeguards (Art. 15) and data must be provided when requested (Art. 31). Any computer owned by anybody can be inspected on vague grounds (Art. 45).</p>
<h3>Recommendations</h3>
<p>The only institution in Myanmar with the constitutional mandate to adopt laws is the Union Parliament. Therefore, FEM rejects the draft Cyber Crime Law in its entirety. Nevertheless, FEM calls on all national and international stakeholders to remind the military government of their obligations under international law and Myanmar’s Constitution and to significantly revise any such “law” to address the six serious risks highlighted above.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-cyber-security-law/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Silencing the Media Won&#8217;t Stop the Thailand Protests</title>
		<link>https://coconet.social/2020/thailand-protests-media-ban/</link>
					<comments>https://coconet.social/2020/thailand-protests-media-ban/#comments</comments>
		
		<dc:creator><![CDATA[Sek Sophal]]></dc:creator>
		<pubDate>Thu, 22 Oct 2020 06:47:55 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Media Freedom]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3824</guid>

					<description><![CDATA[<p>The Thai government has banned four independent media outlets and a Facebook page from generating and broadcasting any news content under the premise that these organisations pose a major threat to national security. The government’s decision to ban these groups, however, is both misleading and counterproductive.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protests-media-ban/">Silencing the Media Won&#8217;t Stop the Thailand Protests</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3824" class="elementor elementor-3824" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-15bc21f4 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="15bc21f4" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7f9391eb" data-id="7f9391eb" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-d845a5f elementor-widget elementor-widget-image" data-id="d845a5f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="1024" height="681" src="wp-content/uploads/2020/10/Thailand-Prachatai.jpg" class="attachment-large size-large" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />											<figcaption class="widget-image-caption wp-caption-text">Photo by Prachatai, used under the The Foundation for Community Educational Media 2006 (cc) BY-NC license.</figcaption>
										</figure>
								</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-b079a51 elementor-widget elementor-widget-spacer" data-id="b079a51" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-18ae7e9e elementor-widget elementor-widget-text-editor" data-id="18ae7e9e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>In Thailand, the <a href="https://coconet.social/2020/thailand-student-online-activism-covid/">youth-led pro-democracy movement</a> is showing no signs of retreat despite the latest <a href="http://web.krisdika.go.th/data/document/ext810/810259_0001.pdf">state of emergency decree</a> banning public gatherings of more than four people. The Thai government, however, also issued on October 16, 2020 an order to ban four independent media outlets and a Facebook page from generating and broadcasting any news content under the premise that these organisations pose a major threat to national security. The groups in question are <a href="https://voicetv.co.th/">Voice TV</a>, <a href="https://prachatai.com/">Prachathai</a>, <a href="https://www.thereporters.co/">The Reporters</a>, and <a href="https://thestandard.co/">The Standard</a>, as well as the Facebook page of the <a href="https://www.facebook.com/FreeYOUTHth">Free Youth</a> movement. The decree was signed by National Police Chief <a href="https://www.bangkokpost.com/thailand/politics/2004507/police-move-to-silence-news-facebook-platforms">Suwat Jangyodsuk</a> and at the request of the National Broadcasting and Telecommunications Commission and the Digital Economy and Society.</p><p><a style="font-family: var( --e-global-typography-text-font-family ); font-weight: var( --e-global-typography-text-font-weight );" href="https://prachatai.com/english/node/8863" target="_blank" rel="noopener">The ban on these groups, however, has since been lifted</a>, following an October 21 court order by the Criminal Court. The Court cited Section 35 (1) and (2) of the Constitution, which indicate that &#8220;a media professional shall enjoy the liberty to present news or express opinions in accordance with professional ethics&#8221;, and that &#8220;the closure of a newspaper or other mass media in deprivation of the liberty under paragraph one shall not be permitted&#8221;.</p><p>Despite the lifting of the ban, the government’s decision to even attempt it was both misleading and counterproductive. If the Thai government believed that banning the four media houses would have stopped or weakened the ongoing protests, it was sorely mistaken.</p><h3><strong>Protest communications go beyond media</strong></h3><p>Even before the current protests, Voice TV, Prachathai, The Reporters, and The Standard have long played a critical role in generating comprehensive and independent media content for the Thai public. And with their consistently high-quality content, professionalism, and code of ethics, the popularity of these media organisations has only increased. For instance, the <a href="https://www.youtube.com/user/VoiceTVHD">YouTube channel of Voice TV</a> surged to over 2 million subscribers during its coverage of the protests, currently making it one of the most popular news media outlets in the country.</p><p>If the intent of the Thai government with this decree is to stop news of the protests from spreading, it seems this is the wrong choice of strategy. Even though many Thai youths depend on these independent media outlets, several more online platforms are also producing the same kind of independent content. In addition, such content is also produced and shared on other channels of communication, such as on messaging applications Telegram, Line, and Signal.</p><p>Equally important as well is the fact that, while protesters rely mainly on media and other forms of communication to mobilise, these organisations have nothing to do with the students’ communication, coordination, and management of the protests. Due to the advantages of social media platforms, the young protesters have become tactical in terms of organisational structure, information dissemination, time management, and protest management. For example, the latest protests in the past week at <em>Ratchaprasong, </em>Pathum Wan, Lat Phrao, and Asok intersection in Bangkok and other provinces clearly indicate how efficiently the students organised, coordinated, managed and controlled the protests. To manoeuvre the security forces, for instance, no information related to time and place of the protest is available until the last hour. Moreover, the protests take place simultaneously in several places within a specific period of time. The protests on Sunday, October 18, for instance, took place in several different places in Bangkok and <a href="https://www.abc.net.au/news/2020-10-19/protesters-in-thailand-carry-on-despite-police-warning/12780838">12 provinces</a> nationwide. To avoid unnecessary clashes with the security forces, the protest leaders quickly adjourn the protests and demobilize people, while the security forces are on their way to the protest site.</p><h3><strong>Another sign of policy failure</strong></h3><p>Sweeping to power by the military coup in May 2014, Thai Prime Minister Prayut Chan-o-cha is known in Thailand for not being friendly to any independent media. As the protests against his government keep growing across the country,  the decision to ban the four independent media houses is nothing but another sign of policy failure to handle the situation, where the legitimate power to rule is being questioned.</p><p>In fact, this move could fuel the protests even further. Since October 13, there have been daily protests in Bangkok, largely due to ongoing arrests of some protest leaders and daily intimidation and harassment by the Thai authorities against people. That day, the police had arrested <a href="https://www.hrw.org/news/2020/10/13/thailand-over-20-democracy-activists-arrested">21 people</a>, including Jatuphat “Pai Dao Din” Boonpattararaksa. The following day, thousands of students mobilised and marched to the Government House to protest against the government and demanded the government release their detained friends.</p><p>There have been <a href="https://www.tlhr2014.com/?p=22039">246 protests in 62 provinces</a> over the last three months. As the protests continue, the number of people jailed by the government has skyrocketed, such as the arrest of <a href="https://www.hrw.org/news/2020/10/15/thailand-emergency-decree-pretext-crackdown">22 people</a> – among them protest leaders – right after the October 15 announcement of the emergency decree. According to the Thai Lawyer for Human Rights (TLHR), the government arrested no less than <a href="https://www.tlhr2014.com/?p=22156">81 people</a> from October 13 to 18. TLHR also reports that at least <a href="https://www.tlhr2014.com/?p=22039">65 people</a> are facing legal charges for their roles in the protests, on top of <a href="https://www.tlhr2014.com/?p=22039">145 cases of harassment</a> committed by the Thai security forces. It seems that the more the government arrests the protesters, the more the protests expand in size.</p><p>General Prayut, who rose to power after the 2014 military coup, is very powerful to even attempt to cut off a flowering tree. He can even order his tank brigade to destroy the entire garden. But, he might not be powerful enough to stop spring from coming. The end of Prayut’s government is no longer remotely far.</p><div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div><p><em><strong> </strong></em></p><p><em><strong>Sek Sophal</strong></em> <em>holds a Masters degree in Asia Pacific Studies from Ritsumeikan Asia Pacific University. He is a researcher for the Center for Democracy Promotion, <a href="http://en.apu.ac.jp/rcaps/">Ritsumeikan Center for Asia Pacific Studies</a>, at Ritsumeikan Asia Pacific University. He is also a project officer at the <a href="https://ccimcambodia.org/">Cambodian Center for Independent Media</a> (CCIM) in Cambodia. </em><em> The opinion expressed in the article is his personal opinion and does not necessarily represent the institution he is working for.</em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protests-media-ban/">Silencing the Media Won&#8217;t Stop the Thailand Protests</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-protests-media-ban/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Call for solidarity: How the international community can show support for Thai protesters</title>
		<link>https://coconet.social/2020/thailand-protest-resources-international/</link>
					<comments>https://coconet.social/2020/thailand-protest-resources-international/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Sat, 19 Sep 2020 00:00:45 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3339</guid>

					<description><![CDATA[<p>Today, on the anniversary of the 2006 Thai coup, protesters will once again gather at Thammasat University in Bangkok, Thailand, to call for political changes and democratic reforms. Students as young as 14 years old have been at the forefront of the protests, with some groups demanding ten key reforms, among them the revocation of the lese-majeste law and the pardoning of all those jailed due to this law.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protest-resources-international/">Call for solidarity: How the international community can show support for Thai protesters</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3339" class="elementor elementor-3339" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-9fb1e11 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="9fb1e11" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0c7a1b3" data-id="0c7a1b3" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-093179b elementor-widget elementor-widget-image" data-id="093179b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="1024" height="724" src="wp-content/uploads/2020/09/Thai-Protests-Graphics-1-1024x724.jpeg" class="attachment-large size-large" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-d45c84c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="d45c84c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b3c0d22" data-id="b3c0d22" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-51f1ce6 elementor-widget elementor-widget-text-editor" data-id="51f1ce6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Today, on the anniversary of the <a href="https://thediplomat.com/2020/09/thailands-protests-between-the-old-and-the-new/" data-cke-saved-href="https://thediplomat.com/2020/09/thailands-protests-between-the-old-and-the-new/">2006 Thai coup</a>, protesters will once again gather at Thammasat University in Bangkok, Thailand, to <a href="https://engagemedia.org/2020/thailand-youth-democracy-freedom-speech/" data-cke-saved-href="https://engagemedia.org/2020/thailand-youth-democracy-freedom-speech/">call for political changes and democratic reforms</a>. Students as young as 14 years old have been at the forefront of the protests, with some groups demanding <a href="https://www.newmandala.org/the-ten-demands-that-shook-thailand/" data-cke-saved-href="https://www.newmandala.org/the-ten-demands-that-shook-thailand/">ten key reforms</a>, among them the revocation of the lese-majeste law and the pardoning of all those jailed due to this law.</p><p>With rampant arrests and state harassment, Thai protesters are calling for support from the international community in order to raise awareness of the current situation in Thailand. Members of the Coconet community have compiled a list of ways to show solidarity with Thai protesters online, as well as safety and security guides for those partaking in the protests.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-f5e0fbe elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="f5e0fbe" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c06d125" data-id="c06d125" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3914b9b elementor-widget elementor-widget-spacer" data-id="3914b9b" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e9f9f9e elementor-widget elementor-widget-text-editor" data-id="e9f9f9e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3>ON SOCIAL MEDIA</h3><p>To show your solidarity with Thai protesters, here are things you and your community can post and share on social media platforms.</p><ul><li><strong>Hashtags</strong><ul><li><a href="https://twitter.com/hashtag/whatshappeninginthailand" data-cke-saved-href="https://twitter.com/hashtag/whatshappeninginthailand">#WhatsHappeningInThailand</a></li><li><a href="https://twitter.com/hashtag/%E0%B8%AB%E0%B8%A2%E0%B8%B8%E0%B8%94%E0%B8%84%E0%B8%B8%E0%B8%81%E0%B8%84%E0%B8%B2%E0%B8%A1%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B2%E0%B8%8A%E0%B8%99" data-cke-saved-href="https://twitter.com/hashtag/%E0%B8%AB%E0%B8%A2%E0%B8%B8%E0%B8%94%E0%B8%84%E0%B8%B8%E0%B8%81%E0%B8%84%E0%B8%B2%E0%B8%A1%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B2%E0%B8%8A%E0%B8%99">#หยุดคุกคามประชาชน</a> (which translates to #StopHarassingPeople)</li><li><a href="https://twitter.com/hashtag/19%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B8%A2%E0%B8%B2%E0%B8%97%E0%B8%A7%E0%B8%87%E0%B8%AD%E0%B8%B3%E0%B8%99%E0%B8%B2%E0%B8%88%E0%B8%84%E0%B8%B7%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%8E%E0%B8%A3" data-cke-saved-href="https://twitter.com/hashtag/19%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B8%A2%E0%B8%B2%E0%B8%97%E0%B8%A7%E0%B8%87%E0%B8%AD%E0%B8%B3%E0%B8%99%E0%B8%B2%E0%B8%88%E0%B8%84%E0%B8%B7%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%8E%E0%B8%A3">#19กันยาทวงอำนาจคืนราษฎร</a> (which translates to September 19: Return power to civilians)</li><li><a href="https://twitter.com/search?q=%E0%B9%81%E0%B8%99%E0%B8%A7%E0%B8%A3%E0%B9%88%E0%B8%A7%E0%B8%A1%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%8A%E0%B8%B8%E0%B8%A1%E0%B8%99%E0%B8%B8%E0%B8%A1" data-cke-saved-href="https://twitter.com/search?q=%E0%B9%81%E0%B8%99%E0%B8%A7%E0%B8%A3%E0%B9%88%E0%B8%A7%E0%B8%A1%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%8A%E0%B8%B8%E0%B8%A1%E0%B8%99%E0%B8%B8%E0%B8%A1">#แนวร่วมธรรมศาสตร์และการชุมนุม</a> (which translates to the United Front of Thammasat and Demonstration Group, the main organiser of the September 19 protest)</li><li><a href="https://twitter.com/hashtag/%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B8%AB%E0%B8%8D%E0%B8%B4%E0%B8%87%E0%B8%9B%E0%B8%A5%E0%B8%94%E0%B9%81%E0%B8%AD%E0%B8%81" target="_blank" rel="noopener">#ผู้หญิงปลดแอก</a> <a href="https://twitter.com/search?q=%23%E0%B8%9B%E0%B8%A5%E0%B8%AD%E0%B8%94%E0%B8%A0%E0%B8%B1%E0%B8%A2%E0%B9%83%E0%B8%99%E0%B8%A1%E0%B9%87%E0%B8%AD%E0%B8%9A">#ปลอดภัยในม็อบ</a> (which translates to #womenforfreedomanddemocracy and #protestsafely)</li></ul></li><li><span style="font-weight: bold;">Graphics and social media cards<br /></span><ul style="margin-left: 27.0486px;"><li>These <a href="https://coconet.social/wp-content/uploads/2020/09/Thai-Protests-Graphics-2-scaled.jpeg">graphics</a> <a href="https://coconet.social/wp-content/uploads/2020/09/Thai-Protests-Graphics-3-scaled.jpeg">against dictatorship</a> and on the <a href="https://coconet.social/wp-content/uploads/2020/09/Thai-Protests-Graphics-4-scaled.jpeg">disappearance of Thai human rights activist </a><br />Wanchalearm Satsaksit</li><li>More <a href="https://freedomforthai-en.carrd.co/" data-cke-saved-href="https://freedomforthai-en.carrd.co/">social media cards</a> by Freedom for Thai, available in multiple languages</li></ul></li><li><span style="font-weight: bold;">Articles and statements</span><br /><ul style="margin-left: 27.0486px;"><li>An <a href="https://prachatai.com/aggregator/sources/1" data-cke-saved-href="https://prachatai.com/aggregator/sources/1">English RSS feed by Prachatai</a> that aggregates the latest articles on the Thai protests</li><li>An <a href="https://www.newmandala.org/author/hathairat-phaholtap-and-david-streckfuss/" data-cke-saved-href="https://www.newmandala.org/author/hathairat-phaholtap-and-david-streckfuss/">in-depth article</a> by journalist and Coconet community member Hathairat Phaholtap on the ten key demands by United Front of Thammasat and Demonstration Group, the main organiser of the September 19 protest</li><li>A <a href="http://www.forum-asia.org/?p=32503" data-cke-saved-href="http://www.forum-asia.org/?p=32503">statement</a> by Forum Asia, dated August 13, urging the Thai government to respect free speech and the right to peaceful assembly</li></ul></li></ul><p>You can also post <a href="https://coconet.social/wp-content/uploads/2020/09/SupportFreedomofexpression.pdf">these stickers</a> to show solidarity—and even print them out and distribute to your networks.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3f1a47d elementor-widget elementor-widget-spacer" data-id="3f1a47d" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-02aa1a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="02aa1a0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7859cde" data-id="7859cde" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-926c9af elementor-widget elementor-widget-text-editor" data-id="926c9af" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h3><strong>ON THE GROUND</strong></h3><p>Arul Prakkash, WITNESS Senior Manager of Programs for Asia and Pacific as well as a Coconet community member, has written and compiled the following resources for those in Thailand who will be participating in the protests.</p><ul><li>Infographic: <a href="http://bit.ly/2pZEzjS" data-cke-saved-href="http://bit.ly/2pZEzjS">Filming protests and demonstrations</a></li><li>Infographic: <a href="https://wit.to/3hI2Ntm" data-cke-saved-href="https://wit.to/3hI2Ntm">Covering protests in teams</a></li><li><a href="https://wit.to/2JtrCc9" data-cke-saved-href="https://wit.to/2JtrCc9">Filming in teams: Protests, demonstrations, and rallies</a></li><li><a href="https://wit.to/2Di4yMx" data-cke-saved-href="https://wit.to/2Di4yMx">Filming protests, demonstrations, and police conduct</a></li><li><a href="https://blog.witness.org/2020/02/documenting-during-internet-shutdowns/" data-cke-saved-href="https://blog.witness.org/2020/02/documenting-during-internet-shutdowns/">Documenting during Internet shutdowns</a></li></ul><p>Other resources on staying safe while protesting include:</p><ul><li>&#8220;<a href="https://ssd.eff.org/en/module/attending-protest">Attending a Protest</a>&#8221; by Surveillance Self-Defense</li><li>&#8220;<a href="https://www.amnestyusa.org/pdfs/SafeyDuringProtest_F.pdf">Safety During Protest</a>&#8221; by Amnesty International</li><li>&#8220;<a href="https://www.eff.org/deeplinks/2020/06/surveillance-self-defense-attending-protests-age-covid-19">Surveillance Self-Defense: Attending Protests in the Age of COVID-19</a>&#8221; by Electronic Frontier Foundation</li></ul><p>Aside from these tips, you can also read about <a href="https://www.cnvc.org/learn-nvc/articles" data-cke-saved-href="https://www.cnvc.org/learn-nvc/articles">non-violent communications</a> to diffuse potentially violent situations. </p><p>If you have other resources and more that you&#8217;d like to share with Thai protesters and the Coconet community, please don&#8217;t hesitate to <a href="https://coconet.social/contact/" data-cke-saved-href="https://coconet.social/contact/">contact us</a>.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-39b2ec9" data-id="39b2ec9" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-9e36e11 elementor-widget elementor-widget-image" data-id="9e36e11" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="495" height="700" src="wp-content/uploads/2020/09/Thai-Protests-Graphics-4-495x700.jpeg" class="attachment-medium size-medium" alt="" sizes="(max-width: 495px) 100vw, 495px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ef6b3a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="ef6b3a0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6c7495f" data-id="6c7495f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-dbecbc4 elementor-widget elementor-widget-spacer" data-id="dbecbc4" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-8ce7f7a elementor-widget elementor-widget-text-editor" data-id="8ce7f7a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div><p><em>Sara Pacia is the Communications and Engagement Coordinator of EngageMedia. A journalist by training and multimedia storyteller at heart, she is passionate about utilising and appropriating today’s digital technologies for the empowerment of the public and the improvement of media and data literacy.</em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protest-resources-international/">Call for solidarity: How the international community can show support for Thai protesters</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-protest-resources-international/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
