<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Human Rights Concerns on Artificial Intelligence in Southeast Asia: An Overview	</title>
	<atom:link href="https://coconet.social/2019/human-rights-artificial-intelligence-southeast-asia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2019/human-rights-artificial-intelligence-southeast-asia/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 12 Aug 2021 04:00:58 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview		</title>
		<link>https://coconet.social/2019/human-rights-artificial-intelligence-southeast-asia/#comment-18</link>

		<dc:creator><![CDATA[Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview]]></dc:creator>
		<pubDate>Thu, 16 Apr 2020 03:19:20 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=782#comment-18</guid>

					<description><![CDATA[[&#8230;] can check the first part of the series published in the Coconet social website here. The article was picked up for syndication by a Philippine news website and network sharing by [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] can check the first part of the series published in the Coconet social website here. The article was picked up for syndication by a Philippine news website and network sharing by [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Can’t live with it, can’t live without it? AI impacts on economic, social, and cultural rights		</title>
		<link>https://coconet.social/2019/human-rights-artificial-intelligence-southeast-asia/#comment-9</link>

		<dc:creator><![CDATA[Coconet &#124; Can’t live with it, can’t live without it? AI impacts on economic, social, and cultural rights]]></dc:creator>
		<pubDate>Thu, 13 Feb 2020 02:31:43 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=782#comment-9</guid>

					<description><![CDATA[[&#8230;] is the second in a series of articles on the human rights implications of artificial intelligence (AI) in the context of Southeast Asia, [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] is the second in a series of articles on the human rights implications of artificial intelligence (AI) in the context of Southeast Asia, [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
