<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Maryam Lee &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/maryam/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 03 Aug 2020 03:13:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Maryam Lee &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Excerpt: The Case for Technological Solutions to Digital Rights</title>
		<link>https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/</link>
					<comments>https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/#respond</comments>
		
		<dc:creator><![CDATA[Maryam Lee]]></dc:creator>
		<pubDate>Mon, 29 Jun 2020 01:00:18 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet Voices]]></category>
		<category><![CDATA[Human Rights]]></category>
		<category><![CDATA[Internet Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1612</guid>

					<description><![CDATA[<p>What does it mean when technologists say “you can code anything”? In her inaugural article for The IO Foundation, Maryam Lee shares her thoughts on why human rights perspectives have the potential to move technological innovation to greater heights. She also argues that people do not need to choose between enjoying the latest technologies and human rights, and how they both could co-exist in our lives.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/">Excerpt: The Case for Technological Solutions to Digital Rights</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>What does it mean when technologists say &#8220;you can code anything&#8221;? In her inaugural article for <a href="https://www.theiofoundation.org/">The IO Foundation</a>, <a href="http://linkedin.com/in/maryamlee">Maryam Lee</a> shares her thoughts on why human rights perspectives have the potential to move technological innovation to greater heights. She also argues that people do not need to choose between enjoying the latest technologies and human rights, and how they both could co-exist in our lives.</p>
<p>Maryam writes:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>&#8220;Principles of human rights as the ones stipulated in the <a href="https://www.un.org/en/universal-declaration-human-rights/">Universal Declaration of Human Rights</a> may be misunderstood as limiters to technological innovation. In reality, we do not have to give up our fundamental rights to enjoy advances in tech. It is more than possible to imagine a world where human rights and technological innovations co-exist, it is in fact already happening.&#8221;</em></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Read the full article <a href="https://docs.google.com/document/d/1ZVFcoeDvjO6eJDHVSxyH5FbvER02sCrQF7TW7O8Q_6U/edit#heading=h.s8nq2fjc6bdc">here</a>. For more articles on data-centric digital rights, you may also visit <a href="https://www.theiofoundation.org/publications/">TheIOFoundation.org/publications</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>(Note: The preview thumbnail of this article is an image by WOC in Tech Chat, used under the <a href="https://www.flickr.com/photos/wocintechchat/25926572291/in/photolist-Fv3sF6-GtB2c7-265qwzw-d1uCHu-uegRLR-KYWBHJ-29pkXpt-EFQzxR-2gLMjAm-HCGERb-2cQJrKK-33JykW-21mTczP-irVU66-8mYKQ2-a7XzWj-Fv3TbP-EFvQgs-AapZzD-qAqQUv-2bCLWXH-EFREKx-EFQvHX-QVqAGd-ac78vG-Fv4LyD-EFvNyQ-FbT2X3-EFvCK1-NE6KTU-2hmmcG7-GBtzjx-FbRZU7-2hp8gt8-dgLNXi-2c6makB-8rXf2N-2bWHddS-QPCuA7-2fn4ZHj-uK3V3b-Fv3zVg-EFQz3n-EFvSN1-FsLfCy-ch8t4W-brB5Qr-2epgcvw-2goWnzL-RvQEN7">Flickr Attribution 2.0 Generic (CC BY 2.0) license</a>.)</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="574" height="818" src="wp-content/uploads/2020/06/TIOF-Maryam.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 574px) 100vw, 574px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Maryam Lee is Strategic Program Manager at The IO Foundation. She oversees projects and activities designed to prepare technologists in the next step of technological innovation, which inevitably means building technologies that protect and respect human rights by design. With over a decade of experience in human rights work and advocacy, she brings in the perspectives of a human rights worker to the technology sector, applied thoughtfully by considering the multifaceted aspects of digital realities. Her work is evidence that the future is indeed multidisciplinary.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/">Excerpt: The Case for Technological Solutions to Digital Rights</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/excerpt-the-case-for-technological-solutions-to-digital-rights/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
