<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Activism &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/activism/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Activism &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</title>
		<link>https://coconet.social/2021/statement-indonesia-mr5/</link>
					<comments>https://coconet.social/2021/statement-indonesia-mr5/#respond</comments>
		
		<dc:creator><![CDATA[Rezwan Islam]]></dc:creator>
		<pubDate>Fri, 11 Jun 2021 07:00:15 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Internet Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=6136</guid>

					<description><![CDATA[<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a statement calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<figure><a href="https://pixabay.com/photos/map-atlas-land-geography-3798132/"><br />
<img src="http://coconet.social/wp-content/uploads/2021/06/image1-1024x683.jpg" sizes="(max-width: 1024px) 100vw, 1024px" alt="" width="1024" height="683" /> </a><figcaption>Image by Michael Gaida from Pixabay. Used under a Pixabay License.</figcaption></figure>
<p>&nbsp;</p>
<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a <a href="https://www.accessnow.org/indonesia-intermediary-liabilities/">statement</a> calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The <a href="https://www.hrw.org/news/2021/05/21/indonesia-suspend-revise-new-internet-regulation">law</a> requires private electronic systems operators (ESOs), which include social media platforms like Facebook, Twitter, and TikTok, to monitor and remove “prohibited content”, as flagged by the Indonesian government. ESOs must also be registered in Indonesia. Failure to <a href="https://www.ifj.org/media-centre/news/detail/category/press-releases/article/indonesia-global-media-organisations-condemn-government-internet-regulation.html">acquire a license</a> from the ministry by December 2021 will lead to the platform being blocked in the country.</p>
<p>“This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship”, the statement reads. The law, which came into effect on December 2 last year with little consultation, is also not clear about what constitutes prohibited content.</p>
<p>Read the full statement below:</p>
<p>&nbsp;</p>
<blockquote><p>May 28, 2021</p>
<p><strong>Dear H.E. Johnny G. Plate,<br />
</strong><strong>Minister of Communication and Information Technology<br />
</strong><strong>Ministry of Communication and Information Technology, Indonesia</strong></p>
<p>We, the undersigned, urge you to repeal Ministerial Regulation 5/2020 (MR5) that is deeply problematic, granting government authorities overly broad powers to regulate online content, access user data, and penalize companies that fail to comply.</p>
<p>MR5 governs all private “electronic systems operators” that are accessible in Indonesia, broadly defined to include social media and other content-sharing platforms, digital marketplaces, search engines, financial services, data processing services, and communications services providing messaging, video calls, or games. This new regulation will affect national and regional digital services and platforms, as well as multinational companies like Google, Facebook, Twitter, and TikTok.</p>
<p>These companies are required to “ensure” that their platform does not contain or facilitate the distribution of “prohibited content”, which implies that they have an obligation to monitor content. Failure to do so can lead to blocking of the entire platform. This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship.</p>
<p>The regulation’s definition of prohibited content is extremely broad, including not only content in violation of Indonesia’s already overly broad laws restricting speech, but also any material “causing public unrest or public disorder” or information on how to provide access to, or actually providing access to, prohibited material. The latter includes Virtual Private Networks (VPNs), which allow a user to access blocked content and are routinely used by businesses and individuals to ensure privacy for lawful activities.</p>
<p>For “urgent” requests, MR5 requires the company to take down content within four hours. For all other prohibited content, they must do so within 24 hours of being notified by the Ministry. If they fail to do so, regulators can block the service or, in the case of service providers that facilitate user-generated content, impose substantial fines.</p>
<p>MR5 obliges every “Private Electronic System Operator” (Private ESO) to register and obtain an ID certificate issued by the Ministry before people in Indonesia start accessing its services or content.</p>
<p>Previously, registration must take place by May 24th, 2021, but later was postponed, based on a press conference held by Samuel Pangerapan as General Director APTIKA (Directorate of Application and Informatics) of Indonesia MICT, to 6 months until the Single Sign-On (SSO) is ready to be implemented.</p>
<p>Under MR5, Kominfo will sanction non-registrants by blocking their services. Those Private ESOs who decide to register must provide information granting access to their “system” and data to ensure effectiveness in the “monitoring and law enforcement process”. If a registered Private ESO disobeyed the MR5 requirements, for example, by failing to provide “direct access” to their systems (Article 7 (c)), it can be punished in various ways, ranging from a first warning, to temporary blocking, to full blocking and a final revocation of its registration.</p>
<p>Based on our analysis, MR5 does not comply with standards, legal theory or principles, but also does not uphold freedom of expression and other human rights.</p>
<p>The substance of MR5 includes the regulation of digital rights, including restrictions. Considering the right to privacy, it is clear that MR5 exceeds the limits given in Law 12/2011, because it is limited to the framework of “administering certain functions in the government”.  MR5 therefore has the potential to violate freedom of expression and other human rights.</p>
<p>The provisions in MR5 are potentially contrary to Article 12 of the Universal Declaration of Human Rights (UDHR) and Article 17 of the International Covenant on Civil and Political Rights (ICCPR), especially the provisions enabling authorities to obtain personal data from Private ESOs. These concerns are compounded by the absence of independent supervision in obtaining access to personal data, and the fact that in practice, personal data is often misused, especially by law enforcement officials.</p>
<p>The three-part test has not been strictly regulated in the legal mechanism in MR5, so practically, this arrangement opens up space for violations of human rights, particularly the right to privacy.</p>
<p>In MR5, the term “Access Termination”, interpreted as meaning both blocking access to the internet and takedown of an account or a social media post, is used 65 times. This has the potential to limit rights and freedoms, and is very likely to interfere with the interests of Private ESOs. Further, the standard of limitation for the termination of access to the internet is not clearly stipulated within MR5, leaving the powers to terminate access open to abuse and disproportionate application. The failure to include an adequate complaints mechanism further compounds concerns that termination of access will be utilised by authorities arbitrarily and excessively.</p>
<p>The phrase “prohibited” in Article 9 paragraphs (3) and (4) actually has a very wide range and its interpretation opens up space for debate, especially if there is a conflict of interest of State Institutions or law enforcement officials. For example, what is meant by “public disturbance”, what is the standard or measure, who has the authority to determine it, and what if the public feels that it is not part of what is called “disturbing the society”?</p>
<p>With regard to Chapter IV, Article 14, regarding requests for termination of access, it is necessary to consider the restriction standards stipulated in Article 19 paragraph (3) of the ICCPR, including considerations of the Human Rights Committee’s General Comment No. 34.</p>
<p>MR5 requires Private ESOs, including social media platforms and other online-based service providers to comply with domestic jurisdiction, both for content and the use of content in daily practice. The legal framework for such obligations weakens the protection of all social media platforms, applications, and other online service providers, especially to accept domestic jurisdiction over user data content and policies and practices. Such a legal framework becomes a repressive instrument that would contradict or even violate human rights.</p>
<p>We call on you to immediately repeal MR5.</p>
<p>Regards,</p>
<p>Access Now (International)</p>
<p>Amnesty International Indonesia (Indonesia)</p>
<p>Alliance of Independent Journalists (Indonesia)</p>
<p>ARTICLE 19</p>
<p>Digital Reach (Thailand)</p>
<p>Electronic Frontier Foundation (International)</p>
<p>EngageMedia (Australia)</p>
<p>ELSAM (Indonesia)</p>
<p>Free Expression Myanmar (Myanmar)</p>
<p>Foundation for Media Alternatives (Philippines)</p>
<p>Greenpeace Indonesia (Indonesia)</p>
<p>Human Rights Watch (International)</p>
<p>Indonesia Corruption Watch (Indonesia)</p>
<p>Indonesia Legal Aid Foundation (Indonesia)</p>
<p>Institute for Criminal Justice Reform (Indonesia)</p>
<p>Komite Perlindungan Jurnalis dan Kebebasan Berekspresi (Indonesia)</p>
<p>LBH Jakarta (Indonesia)</p>
<p>LBH Pers Jakarta (Indonesia)</p>
<p>Manushya Foundation (Thailand)</p>
<p>Open Net Association (South Korea)</p>
<p>Oxen Privacy Tech Foundation (OPTF) (Australia)</p>
<p>Perkumpulan Lintas Feminis Jakarta (Indonesia)</p>
<p>Southeast Asia Freedom of Expression Network (SAFEnet) (Indonesia)</p>
<p>TAPOL (United Kingdom)</p>
<p>Unit Kajian Gender dan Seksualitas LPPSP FISIP UI (Indonesia)</p></blockquote>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/statement-indonesia-mr5/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Statement: Condemning the arrests of the students for protesting against the civil war in Rakhine state</title>
		<link>https://coconet.social/2020/myanmar-statement-student-arrests/</link>
					<comments>https://coconet.social/2020/myanmar-statement-student-arrests/#respond</comments>
		
		<dc:creator><![CDATA[Maung Saungkha]]></dc:creator>
		<pubDate>Tue, 03 Nov 2020 07:41:46 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Human Rights]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3881</guid>

					<description><![CDATA[<p>Civil society organisations in Myanmar condemn the unjust arrests of the students, and we demand to immediately release them and urgently drop all the charges made against them.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-student-arrests/">Statement: Condemning the arrests of the students for protesting against the civil war in Rakhine state</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3881" class="elementor elementor-3881" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-db340a3 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="db340a3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6fce4f" data-id="e6fce4f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a6bcb81 elementor-widget elementor-widget-text-editor" data-id="a6bcb81" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em>Coconet.social is republishing this statement signed by over 180 civil society organisations from Myanmar. The statement is available in English and Burmese. If you would like to sign, whether as an individual or on behalf of an organisation, please fill out the form at the end of this post. </em><em><em>Signatures are updated in real-time in the table below.</em>  You can also access the form via <a href="https://airtable.com/shrE6ewO5mIsCKiNp" target="_blank" rel="noopener">this link</a>.</em></p><p><em>Aside from signing this statement, you can also read up on <a href="https://coconet.social/tag/myanmar/">previous statements and articles</a> on Myanmar and Rakhine state, also known as Arakan.</em></p><p><em>(Featured photo from the <a href="https://twitter.com/athan_info/">Athan Twitter account</a>.)</em></p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-71d51fa elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="71d51fa" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-7788e23 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="7788e23" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ef7c69b" data-id="ef7c69b" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-351eeb5 elementor-widget elementor-widget-text-editor" data-id="351eeb5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>From early 2019, civil war has been raging in Northern Rakhine state and Chin state in Myanmar. Based on Radio Free Asia (RFA) records, between December 2018 to 2<sup>nd</sup> October 2020, a total of 292 civilian deaths and 654 casualties due to war have been reported in those areas.</p><p>Over 200,000 local civilians have to abandon their homes and villages due to the ongoing armed conflicts in Rakhine state. Myanmar military has continued to attack the civilian villages with heavy artillery and arrest local civilians for interrogation even during the COVID-19 pandemic.</p><p>The Government has shut down the internet in Rakhine State for over a year and even at this time has only allowed 2G internet connection. As a result, the public has been facing challenges to obtain essential information and health education during the pandemic.</p><p>On 10<sup>th</sup> September 2020, Rakhine Student Union led a protest against the human rights violations and prolonged humanitarian crisis suffered by the Rakhine people in Sittwe. To show solidarity with the Rakhine students, the All Burma Federation of Student Unions (ABFSU) started to mobilize in Yangon, Meikhtila, Mandalay, Monywa, Hsiphaw, Loikaw, and Pyay through similar demonstrations and poster campaigns. In response, the Government started to arrest the student activists under different charges to clamp down on the widely spreading student mobilizations.</p><p>The charges made against the students were based on the Peaceful Assembly Law as well as article 505 (a) (b) of the Penal Code and the Natural Disaster Management Law. Students were arrested in their homes and at their present locations (university compounds and monasteries) by a large contingent of police and plainclothes people, as if the latter were raiding organized criminal activities, without any warrant nor any regard to the law. Moreover, Kyaw Thiha Ye Kyaw and Soe Hla Naing, who are ABFSU Central Working Committee members, were arrested on 25<sup>th</sup> September. They were sentenced to a two-year prison sentence by the Maha Aung Myay township court, a one-year sentence by the Aung Myay Thar Zan township court, and a two-year sentence by the Chan Aye Thar Zan township court. In total, they were sentenced to five years in prison, according to Athan’s record. They still have to face charges prosecuted under the Natural Disaster Management Law and the Peaceful Assembly Law.</p><p>On the other hand, although there have been election campaigns and massive mobilizations involving over a thousand people organized by supporters of the current ruling party, military-backed political parties, and other political parties, the Government has not prosecuted any of these actions and even publicly stated that it would be difficult to make charges against the supporters, which is extremely disappointing.</p><p>It is an outright basic human rights violation by the Government to unjustly arrest and detain the students and to raid their homes and universities even though all they did was carry out peaceful demonstrations to stop the ongoing civil wars, which have caused immense suffering to the public.</p><ol><li>We civil society organizations condemn the unjust arrests of the students and we demand that they be immediately released and that all charges made against them be dropped urgently.</li><li>We urge the Government and the military to announce a nation-wide ceasefire, including Rakhine state, without any exception, and we strongly urge to solve political conflicts only through political dialogues.</li></ol><h5> </h5><h5><strong>To contact &#8211; </strong></h5><p>Maung Saungkha (Athan) – 09773937273</p><p>Mon Yee Kyaw (Nyan Lynn Thit Analytica) – 09784043478</p><p>Moe Thway (Generation Wave) – 09979238220</p><p>Thinzar Shunlei Yi (ACDD) – 09795574775</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-68cf4ce elementor-widget elementor-widget-spacer" data-id="68cf4ce" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-c0e9e07 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="c0e9e07" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ba526c9" data-id="ba526c9" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-485a006 elementor-widget elementor-widget-text-editor" data-id="485a006" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<iframe src="wp-content/uploads/2020/11/Statement-on-arrests-of-students-and-civil-war-in-rakkhine-1.pdf" height="500"></iframe>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-fad42d3 elementor-widget elementor-widget-spacer" data-id="fad42d3" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-b6bd787 elementor-widget elementor-widget-html" data-id="b6bd787" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<iframe class="airtable-embed" src="https://airtable.com/embed/shrD6DGiKbcDHov2Z?backgroundColor=cyan&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>		</div>
				</div>
				<div class="elementor-element elementor-element-3c1e0ee elementor-widget elementor-widget-text-editor" data-id="3c1e0ee" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
									</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-111dce1 elementor-widget elementor-widget-html" data-id="111dce1" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<iframe class="airtable-embed" src="https://airtable.com/embed/shrE6ewO5mIsCKiNp?backgroundColor=cyan" frameborder="0" onmousewheel="" width="100%" height="1050" style="background: transparent; border: 1px solid #ccc;"></iframe>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6a2d392 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="6a2d392" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-142699f" data-id="142699f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-894089e elementor-widget-divider--view-line_text elementor-widget-divider--element-align-center elementor-widget elementor-widget-divider" data-id="894089e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
							<span class="elementor-divider__text elementor-divider__element">
				ABOUT THE AUTHOR				</span>
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5c6c3a9 elementor-widget elementor-widget-text-editor" data-id="5c6c3a9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em>Maung Saungkha is a poet, activist, and the Executive Director of <a href="https://www.athanmyanmar.org/about/">Athan</a>.</em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-b17c589 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="b17c589" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9cf25ad" data-id="9cf25ad" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-5f7b3ae elementor-widget elementor-widget-text-editor" data-id="5f7b3ae" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
									</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-statement-student-arrests/">Statement: Condemning the arrests of the students for protesting against the civil war in Rakhine state</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-statement-student-arrests/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Use of Memes In Activism</title>
		<link>https://coconet.social/2020/memes-activism/</link>
					<comments>https://coconet.social/2020/memes-activism/#respond</comments>
		
		<dc:creator><![CDATA[coconetadmin]]></dc:creator>
		<pubDate>Mon, 02 Mar 2020 09:21:17 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=851</guid>

					<description><![CDATA[<p>By utilising humour and the shareability of memes, it becomes clear that memes can be used for the diffusion of information across the Internet because of their speed and capillarity on social media.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/memes-activism/">Use of Memes In Activism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://en.wikipedia.org/wiki/Meme">Memes</a> have become a fundamental aspect of Internet culture and the native language of social media. With their ability to easily convey a message and to be easily shared, they have been adopted by many movements, especially in the Asia-Pacific. Meme creation is driven by remixing and recontextualizing popular images to create interesting ways of distributing messages. Memes within the context of movements tend to be inherently political. Using political humour on the Internet can contribute to the creation and consolidation of a network of shared meanings which then reframes content from mainstream culture. Humour is a means for politics to be explored and understood. </p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Memes incorporate elements of mainstream popular culture  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Memes incorporate elements of mainstream popular culture, which encourages the ordinary citizen to participate in movements. The Internet provides a space for image and language play that is absurd and full of juxtaposition and insider jokes. By utilizing humour and the shareability of memes, it becomes clear that memes can be used for the diffusion of information across the Internet because of their speed and capillarity on social media.</p>

		</div> 
	</div> </div></div></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Memes are a cultural product based on social relations, memories, historic, geographic and economic references as well as specific conjectural aspects. Memes that Internet users post, share, and like best are what they find interesting and humorous, reflect their impression of a topic and affect or sensitize them to a topic. Memes can allow non-elite Internet users to yield influence and make their voices heard. Through this, memes can become a tool for grassroots action in human rights movements as memes can be utilized to spread messages quickly.</p>
<p>To demonstrate this, eight political memes from Southeast Asia will be reflected on.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme1.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme1-600x450.jpg" width="600" height="450" alt="Duterte meme" title="Duterte meme" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The meme above utilizes the popular Drake meme format known is <a href="https://knowyourmeme.com/memes/drakeposting">Drakeposting</a>. This meme typically has two images of the rapper Drake with one representing that he doesn’t approve of something and the other representing that he does approve. The Drakeposting meme is utilized here to criticize Philippine President <a href="https://en.wikipedia.org/wiki/Rodrigo_Duterte">Rodrigo Roa Duterte</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme2.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme2-600x450.jpg" width="600" height="450" alt="meme2" title="meme2" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme has remixed the Drakeposting format by removing the second image of Drake. This was done to convey a particular message. The absence of the second image of Drake is meant to imply that when one was critical of Indonesian brutal military dictator <a href="https://en.wikipedia.org/wiki/Suharto">General Suharto</a>, who was in power from 1967 until 1998, they would disappear in some manner. </p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme3.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme3-600x550.jpg" width="600" height="550" alt="Cat Drake meme" title="meme3" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This is an example of the <a href="https://knowyourmeme.com/memes/drakeposting">Cat Drake</a> meme format which has become a popular remixing of the original Drake meme. This meme is criticizing Indonesians for the ongoing conflict in West Papua where the people of West Papua are fighting for their independence from Indonesia. This meme is conveying that though Indonesians are against colonization such as the Dutch colonization of Indonesia, they reject the idea of the Indonesian colonization of West Papua.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme4.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme4-600x450.jpg" width="600" height="450" alt="(English: &quot;Respect your elders, even when they&#039;re your competitor&quot;)" title="meme4" /></div></a>
			<figcaption class="vc_figure-caption">(English: &quot;Respect your elders, even when they&#039;re your competitor&quot;)</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme takes on a popular format of utilizing a topical cultural image with an overlaid humorous text to make a political statement. This image is of former vice presidential candidate Sandiaga Uno with the current vice president, <a href="https://en.wikipedia.org/wiki/Ma%27ruf_Amin">Ma&#8217;ruf Amin,</a> before a national debate showing him paying respect to his elder as culturally dictated by kissing his hand even though he is his competitor.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme5.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme5-600x450.jpg" width="600" height="450" alt="English: Will your shoes fit for the night shift? - Bong Go" title="meme5" /></div></a>
			<figcaption class="vc_figure-caption">English: Will your shoes fit for the night shift? - Bong Go</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme also uses a culturally relevant image overlaid with text to make a political point. This image, however, has been photoshopped to add different shoes and a communist bandana utilizing the ‘ugly aesthetic’ often used in memes. This meme is commenting on <a href="https://en.wikipedia.org/wiki/Bong_Go">Bong Go</a> – a Filipino politician – stating that students go up into the mountains in the night to work for the communist party.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme6.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme6-600x450.jpg" width="600" height="450" alt="meme6" title="meme6" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme is less focused on criticizing Duterte and more focused on making fun of him. Using humour this way is a common aspect of political meme culture. This meme was posted in a meme Facebook group soon after a report was released that Duterte had fallen from his motorcycle. Though some might see this meme and think it is supporting Duterte, this meme, in fact, does nothing of the sort.  A reading of or direct knowledge of <a href="https://en.wikipedia.org/wiki/Psalm_109#Verse_8">Psalm 109:8</a> &#8211; &#8220;May his days be few; may another take his place of leadership&#8221; &#8211; is required to fully understand the humour within the multiple layers of context used in this meme.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme7.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme7-600x550.jpg" width="600" height="550" alt="Prayut: I am the senate" title="meme7" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This is a remixed version of the popular <a href="https://knowyourmeme.com/memes/i-am-the-senate">I Am The Senate</a> meme. This meme was remixed to criticize Thailand Prime Minister <a href="https://en.wikipedia.org/wiki/Prayut_Chan-o-cha">Prayut Chan-o-cha</a>. Prayut is not only the Prime Minister but he also serves as Thailand&#8217;s Defence Minister and head of the Royal Thai Police. Therefore, by repurposing this meme, it is able to criticize Prayut’s overarching control of the government that goes against the will of the people.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/meme8.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="wp-content/uploads/2020/03/meme8-600x450.jpg" width="600" height="450" alt="(English: us citizens)" title="meme8" /></div></a>
			<figcaption class="vc_figure-caption">(English: us citizens)</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This meme comments on the Thai election and a secret parliament vote that resulted in the former Prime Minister Abhisit Vejjajiva quitting parliament after his party – the Democrat Party – voted to join the junta-aligned coalition backing Prayuth Chan-o-cha’s bid to become Prime Minister. The <a href="https://knowyourmeme.com/memes/distracted-boyfriend">Distracted Boyfriend</a> meme was remixed with photoshopped images to represent the feelings of the citizens. Here, the distracted boyfriend has the Democrat party logo photoshopped on him. He is looking back at another girl with the photoshopped face of Prayuth Chan-o-cha while his upset girlfriend has text over her that reads ‘us citizens’. Through this, a message of feeling ignored by the Democrat party is conveyed.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://www.apc.org/en/users/carmen"><span style="font-weight: 400;">Carmen Ferri</span></a><span style="font-weight: 400;"> is the Asia policy and countering hate speech intern at the Association For Progressive Communications (APC) and is currently based in the Philippines. </span><span style="font-weight: 400;">Carmen holds an MA in New Media and Digital Culture from the University of Amsterdam and an undergraduate in Liberal Arts: Cultural Studies and Sociology from Maastricht University. Her areas of interest include subculture construction in online spaces, online community building, issue mapping, and online political movements.</span></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/memes-activism/">Use of Memes In Activism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/memes-activism/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Security and Well-Being of Activists</title>
		<link>https://coconet.social/2019/security-and-well-being-of-activists/</link>
					<comments>https://coconet.social/2019/security-and-well-being-of-activists/#comments</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 18 Dec 2019 04:05:03 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Coconet]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=742</guid>

					<description><![CDATA[<p>"The security and well-being of activists need to be addressed both online and offline," says Zack Lee, the Asia grant officer of Voice.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/security-and-well-being-of-activists/">Security and Well-Being of Activists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/coconet-II-zack/embed_view' frameborder='0' width='630' height='460' allowfullscreen></iframe></center>
		</div>
	</div>
<blockquote class='' style=''><h5 class='blockquote-text' style=''>``The security and well-being of activists need to be addressed both online and offline,`` says Zack Lee, the Asia grant officer of Voice.<br />
</h5></blockquote>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>120 activists, campaigners, journalists, artists, technologists, each supporting various movements from across Southeast Asia, gathered in the Philippines in October 2019 to learn, share, and co-create solutions to the burning issues in the region.</p>
<p>Read more <a class="external-link" href="https://coconet.social/2019/coconet-collaborations-asia/">here</a>.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/security-and-well-being-of-activists/">Security and Well-Being of Activists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/security-and-well-being-of-activists/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Stories of Resistance and Resilience at Coconet II</title>
		<link>https://coconet.social/2019/coconet-ii-hija/</link>
					<comments>https://coconet.social/2019/coconet-ii-hija/#comments</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Tue, 26 Nov 2019 03:16:01 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Coconet]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=708</guid>

					<description><![CDATA[<p>Hija Kamran from Media Matters For Democracy, Pakistan, contemplates about the stories she heard from other activists at Coconet II</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/coconet-ii-hija/">Stories of Resistance and Resilience at Coconet II</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/emnews/videos/Coconet-ii-Hija/embed_view' frameborder='0' width='630' height='460' allowfullscreen></iframe></center>
		</div>
	</div>
<blockquote class='' style=''><h5 class='blockquote-text' style=''>Hija Kamran from Media Matters For Democracy, Pakistan, contemplates about the stories she heard from other activists at Coconet II: ``Despite everything that is going wrong, there are things that are going right.``</h5></blockquote>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>120 activists, campaigners, journalists, artists, technologists, each supporting various movements from across Southeast Asia, gathered in the Philippines in October 2019 to learn, share, and co-create solutions to the burning issues in the region.</p>
<p>Read more <a class="external-link" href="https://coconet.social/2019/coconet-collaborations-asia/">here</a>.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/coconet-ii-hija/">Stories of Resistance and Resilience at Coconet II</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/coconet-ii-hija/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Solidarity is what makes the movement go on</title>
		<link>https://coconet.social/2019/dhyta-solidarity-movement/</link>
					<comments>https://coconet.social/2019/dhyta-solidarity-movement/#comments</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Mon, 18 Nov 2019 05:52:17 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=619</guid>

					<description><![CDATA[<p>Solidarity works. Solidarity crosses borders, solidarity crosses differences. Indonesian activist Dhyta Caturani urges everyone to grow and nurture the solidarity for successful movements across Southeast Asia.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/dhyta-solidarity-movement/">Solidarity is what makes the movement go on</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/2019/coconet-collaborations-asia/" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="1097" src="wp-content/uploads/2019/11/coconet-dhyta-1.jpg" class="vc_single_image-img attachment-full" alt="Dhyta Caturani at Coconet II Camp" sizes="(max-width: 1500px) 100vw, 1500px" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Indonesian activist <a href="http://dhyta-solidarity-movement">Dhyta Caturani</a> told her story about the recent student protests in Indonesia during the recently concluded <a href="https://coconet.social/2019/coconet-collaborations-asia/">Coconet II</a> in the Philippines.</p>
<p>Here is her speech:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>I know many of you here. We have met in spaces like this many many times. But most of those who know me don’t know that this year, 2019, marks 20 years of me being shot to a comatose state in 1999. I was beaten up and shot by the police during a protest. I was in a coma for 4 days. And I suffered from a brain injury for years.</p>
<p>But I am still in the movement till today and was still on the street just two weeks ago. Because we had one people’s uprising recently.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>I have been in the movement for more than 25 years. A lot of younger friends ask me what makes me stay in the movement for that long.</p>
<p>No, I am here not because I&#8217;m a brave person. I am not brave. I am afraid if I have to face the police or the military.</p>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>I’m here not because I am brave, but because I am an angry person. I have this anger inside me. I am always angry when I see anything wrong around me. That’s what makes me stay in the movement.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> I have been in the movement for more than 25 years.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>But there is also another fact–what keeps me present in the movements. It’s hope. I am angry when I see injustice. But I know that there is also hope if you want to fight for everything good in our life. That&#8217;s why I’m in the movement.</p>
<p>Every one of us has a different reason they are in the movement or become an activist. I know that there is one thing that makes the movement keep going. I want to tell you a story about the <a href="https://b.engagemedia.org/2019/7-desakan-the-7-demands-of-protesters-in-indonesia/">people&#8217;s uprising that is happening in Indonesia</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="https://b.engagemedia.org/2019/7-desakan-the-7-demands-of-protesters-in-indonesia/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1980" height="1320" src="wp-content/uploads/2019/11/Jakarta-Protest.jpeg" class="vc_single_image-img attachment-full" alt="Jakarta Protest" sizes="(max-width: 1980px) 100vw, 1980px" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Many of my friends are here. They were also the organisers of many protests that happened in Jakarta, Yogyakarta, and many other cities in Indonesia.</p>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>After <a href="https://en.wikipedia.org/wiki/Suharto">Soeharto</a>, the dictator fell in 1998 by a people’s uprising, the movement basically died down. After that, it was only the workers who could mobilise a lot of people, not the students, or the activists. But recently, a lot of bad things happened that was done by our government. That forced people to come out on the street again.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> What is different this time was that the high school students also came on the streets.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Activists like us, like the people here, and the university students, and a lot of other people were on the streets. But that’s very normal. Those are always the actors when you talk about any movement.</p>
<p>We had a protest on the 24th of September. The <a href="https://www.bbc.com/news/world-asia-49835084">protest</a> started at 1 pm. And the police started to charge teargas around 4 pm. But we stayed, and we fought back.</p>

		</div> 
	</div> </div></div></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A lot of victims fell on the ground. Some fell because of the teargas and a number of others were seen with bleeding heads and bleeding faces.</p>
<p>We were still on the ground at around 7 pm when the high school students came &#8212; still wearing their uniforms.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>They were shouting, “Brothers and sisters, we are sorry that we were late. Because we had to go to school first. But we are here now. It’s our turn now. You can retreat and we can move forward.” That’s what the high school students said.</p>
<p>So it was big in the media the next day. The media and other people said that they (the high school students) don’t know anything about the protest, the issues. But it doesn’t matter. It does not matter whether they knew about all the laws we were protesting against. What matters is that they know something is wrong.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Brothers and sisters, we are sorry that we were late because of school. But we are here now.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Because the police did a lot of bad things to the protesters, and they could not take it anymore. They did not want their fellow Indonesian brothers and sisters beaten up, teargassed. That’s why they <a href="https://www.vice.com/en_au/article/zmjyya/570-high-school-students-were-detained-for-protesting-in-indonesia">had come down on the streets</a> and fought with us.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<a href="https://coconet.social/2019/coconet-collaborations-asia/" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1479" height="975" src="wp-content/uploads/2019/11/coconet-harun-45.jpg" class="vc_single_image-img attachment-full" alt="#Reformasi #Dikorupsi" sizes="(max-width: 1479px) 100vw, 1479px" /></div></a>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>So, that is what is very important. And since the 24th of September, they organised protests themselves, thousands of high school students were on the streets. And they also joined us in the protests on the 30th of September. On that day there were way more high school students than other activists. </p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Solidarity works. Solidarity crosses borders, solidarity crosses boundaries, solidarity crosses differences.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>So what works here? For me what makes the movement going is solidarity. That’s what the motivation was for the high school students to come on the streets, to fight with us. They might not know the issues, but they knew they didn’t want to see their fellow Indonesians get beaten up by the police. That’s why they came down to the streets.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>So, friends, solidarity works. Solidarity crosses borders, solidarity crosses boundaries, solidarity crosses differences. If we want to keep this movement going in Southeast Asia, let’s keep the solidarity. Let’s grow and nurture solidarity. All of us. Thank you.</p>

		</div> 
	</div> </div></div></div></div></div></div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/dhyta-solidarity-movement/">Solidarity is what makes the movement go on</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/dhyta-solidarity-movement/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Southeast Asian Advocates Call for Release of Dinh Thao, Vietnamese Activist</title>
		<link>https://coconet.social/2019/release-dinh-thao-vietnam-activist/</link>
					<comments>https://coconet.social/2019/release-dinh-thao-vietnam-activist/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Fri, 15 Nov 2019 07:46:39 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Activism]]></category>
		<category><![CDATA[Campaign]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=642</guid>

					<description><![CDATA[<p>Her allies on the ground reported that when Dinh Thao arrived at the airport, more than 10 security officials surrounded her and took her into an interrogation room. They have lost contact with her from that point onwards. Advocates from across Southeast Asia have are calling for her immediate release.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/release-dinh-thao-vietnam-activist/">Southeast Asian Advocates Call for Release of Dinh Thao, Vietnamese Activist</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>UPDATE: Dinh Thao is now safe at home, according to reports from close family. However, her passport was confiscated. We will update this post with further developments.</strong></p>

		</div> 
	</div> <div class="separator  normal   " style=""></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This morning, at 8:50 AM, activist Dinh Thao took a flight from Bangkok to Hanoi (Noi Bai). She had decided to return to her homeland after nearly 4 years of capacity building and human rights advocacy for Vietnam across many countries around the world.</p>
<p>Her allies on the ground reported that when Dinh Thao arrived at the airport, more than 10 security officials surrounded her and took her into an interrogation room. They have lost contact with her from that point onwards.</p>
<p>Advocates from across Southeast Asia are calling for her immediate release. &#8220;Vietnam has an obligation under international law to refrain from intimidating and obstructing the work of human rights defenders (HRDs),&#8221; said Gayatri Khandhadai, Asia Policy Regional Coordinator of the <a href="https://www.apc.org/">Association for Progressive Communications</a> (APC).</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500" height="500" src="wp-content/uploads/2019/11/Dinh-Thao-in-Voice-office-500x500.jpg" class="vc_single_image-img attachment-thumbnail" alt="" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500" height="500" src="wp-content/uploads/2019/11/Dinh-Thao-from-Facebook-500x500.jpg" class="vc_single_image-img attachment-thumbnail" alt="" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8220;We call on the government of Vietnam to immediately stop the ongoing harassment of Thao and ensure that her rights are guaranteed at all times. We are deeply concerned about the deteriorating environment in which HRDs are operating in the country.&#8221;</p>
<p>&#8220;We worked with Thao in a digital rights initiative we just concluded,&#8221; said Nica Dumlao, Digital Rights manager of <a href="http://b.engagemedia.org/">EngageMedia</a>. &#8220;She has inspired a lot of activists in Southeast Asia. She should not be detained against her will.&#8221;</p>
<p>The International Federation for Human Rights has posted an <a href="https://www.fidh.org/en/issues/human-rights-defenders/vietnam-arbitrary-detention-of-woman-human-rights-defender-dinh-thi">urgent appeal</a> condemning her arbitrary detention and calling &#8220;for an immediate end to all acts of harassment against her.&#8221;</p>
<p>BBC Vietnam has <a href="https://www.bbc.com/vietnamese/vietnam-50429803">reported</a> on the issue, and in the post Thao says that her ultimate goal is &#8220;to campaign for Vietnam to become a nation with respect for human rights and democracy.&#8221;</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Below is more information about Dinh Thao from her allies in Vietnam:</p>
<p>Thao graduated from Hanoi Medical University as a general practitioner in 2015 but decided to forgo her profession and become a human rights activist. The turning point came in the summer of 2015, after she and other protesters were arrested for taking part in a series of <a href="http://vietnamrightnow.com/2015/08/battered-and-bruised-green-campaigners-vow-to-fight-on/">demonstrations</a> against the Hanoi authorities for cutting down 6,700 trees around the city. Dinh Thao coordinated the efforts of the environmental protection group “Green Trees” (formerly known as “For a Green Hanoi”) and also co-organized a campaign in 2016 to help independent nominees become elected to the National Assembly.</p>
<p>She left Vietnam in March of 2016 to attend a 6-month, civil society capacity-building program with <a href="http://www.vietnamvoice.org/">VOICE</a>. After completing the program, she continued to work at VOICE as a global advocate for human rights in Vietnam, achieving an international profile when she was chosen to speak in front of the UN Commission on Human Rights in Geneva, Switzerland.</p>
<p>As a young person who strongly supports human rights, Dinh Thao chose to return to Vietnam to fight on her own turf, regardless of the dangers that she will inevitably face. And indeed, they have already manifested themselves—in this very moment, she&#8217;s being sequestered and interrogated by tens of security officials, simply for fighting for human rights.</p>

		</div> 
	</div> <div class="separator  normal   " style=""></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Featured image by Indonesian artist <a href="https://www.instagram.com/ivana_kurniawati/">Ivana Kurniawati</a></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/release-dinh-thao-vietnam-activist/">Southeast Asian Advocates Call for Release of Dinh Thao, Vietnamese Activist</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/release-dinh-thao-vietnam-activist/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
