<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Digital Security &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/digital-security/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 24 Feb 2021 07:19:54 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Digital Security &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Digital security and safety resources in Burmese now available in one database</title>
		<link>https://coconet.social/2021/myanmar-digital-security-safety-resources/</link>
					<comments>https://coconet.social/2021/myanmar-digital-security-safety-resources/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Thu, 18 Feb 2021 03:20:55 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital Safety]]></category>
		<category><![CDATA[Digital Security]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4884</guid>

					<description><![CDATA[<p>In support of the people of Myanmar protesting against the human and digital rights violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a list of digital security and safety resources in the Burmese language.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4886" style="width: 710px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4886" class="size-medium wp-image-4886" src="wp-content/uploads/2021/02/Digital-Tea-House-700x311.png" alt="" width="700" height="311" sizes="(max-width: 700px) 100vw, 700px" /><p id="caption-attachment-4886" class="wp-caption-text">A screenshot from the Digital Tea House campaign by MIDO</p></div>
<p>&nbsp;</p>
<p>In support of the people of Myanmar protesting against the <a href="https://globalvoices.org/2021/02/01/what-happened-in-myanmar-on-the-first-day-of-the-coup/">human</a> and <a href="https://engagemedia.org/2021/myanmar-digital-rights-democracy/">digital rights</a> violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a <em><strong><a href="https://gitlab.com/digisea/myanmar-burmese">list of digital security resources in Burmese</a></strong></em>. Localising digital safety resources are more important than ever, as Myanmar is on the brink of passing a controversial <a href="https://www.article19.org/resources/myanmar-scrap-cyber-security-draft-law-and-restore-full-internet-connectivity/">Cyber Security Bill</a> that will further restrict internet access and freedom of expression online.</p>
<p>Among the contributors to this living Gitlab repository are the following Coconet community members: <a href="https://myanmarido.org/">Myanmar ICT Development Organisation</a> (MIDO), <a href="http://freeexpressionmyanmar.org/">Free Expression Myanmar</a>, and <a href="https://www.facebook.com/witnessasia/">WITNESS Asia</a>.</p>
<p>As of posting, you can access the following resources in the Burmese language.</p>
<ol>
<li><a href="https://digitalteahouse.info/">Digital Tea House</a>, a campaign by MIDO to promote digital safety awareness in Myanmar</li>
<li>A <a href="http://freeexpressionmyanmar.org/wp-content/uploads/2021/02/myanmar-protesters-toolkit.pdf">Myanmar Protesters Toolkit</a> by Free Expression Myanmar</li>
<li>Mini guides by WITNESS on <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/VIDEO%20AS%20EVIDENCE-MINI%20GUIDES%20in%20Burmese.pdf">using video as evidence of human and digital rights abuses</a></li>
<li>A <a href="https://drive.google.com/file/d/1sTuOjE-HUCHEQlcNHMdWicbD0yu9Nzbb/view">risk mitigation and management guide</a> promoted by MIDO that details communication strategies for frontline journalists and others in Myanmar in case of internet disruption</li>
</ol>
<p>Aside from these guides, you can also access another <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/">list of guides and readings from other organisations that have been localised in Burmese</a>. Protestos.org has also translated some of its <a href="https://protestos.org/my.html">guides on protesting</a> to Burmese.</p>
<p>If you would like to contribute a resource to this space, please contact us at <a href="mailto:contribute@coconet.social">contribute@coconet.social</a>. The Gitlab will be updated as more resources are curated and verified.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-digital-security-safety-resources/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>How Health Security and Individual Privacy Can Go Hand in Hand</title>
		<link>https://coconet.social/2020/covid-health-security-privacy-thailand/</link>
					<comments>https://coconet.social/2020/covid-health-security-privacy-thailand/#comments</comments>
		
		<dc:creator><![CDATA[Darika Bamrungchok]]></dc:creator>
		<pubDate>Mon, 30 Mar 2020 04:10:47 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Security]]></category>
		<category><![CDATA[Public Health]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=958</guid>

					<description><![CDATA[<p>COVID-19 has raised some serious questions: Can privacy and public health security go hand in hand? Is it enough to use safeguards such as transparency and the use of intrusive technology only when absolutely necessary?</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/covid-health-security-privacy-thailand/">How Health Security and Individual Privacy Can Go Hand in Hand</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style="text-align: center;"><a href="#thai-translation">ไปที่การแปลภาษาไทย</a></h2>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1440" height="781" src="wp-content/uploads/2020/03/Covid-map_in-Thailand_https_covid19.ddc_.moph_.go_.th_en.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 1440px) 100vw, 1440px" /></div></a>
			<figcaption class="vc_figure-caption">In Thailand, a government website updates citizens on the number of cases in the country. </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>It has been two months since the <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">World Health Organization</a> (WHO) declared the COVID-19 pandemic a global health emergency. Many governments have resorted to digital measures to supplement response efforts. <a href="https://privacyinternational.org/examples/tracking-global-response-covid-19">Privacy International</a> has been tracking such digital surveillance, which have so far included the following measures:</p>
<ul>
<li>Using <a href="https://www.nytimes.com/2020/03/23/technology/coronavirus-surveillance-tracking-privacy.html">cellphone and geolocation data</a> to track and stop the movement of suspected carriers</li>
<li>Collecting <a href="https://www.technologynetworks.com/immunology/articles/using-the-internet-of-things-to-fight-virus-outbreaks-331992">Internet of Things</a> (IoT) devices, <a href="https://www.bbc.com/news/world-asia-51866102">CCTV</a> footage, and <a href="https://www.forbes.com/sites/zakdoffman/2020/03/05/meet-the-coronavirus-spy-drones-that-make-sure-you-stay-home/#ef44c2816695">drone</a> data for additional tracking</li>
<li>Using <a href="https://www.aljazeera.com/news/2020/03/china-ai-big-data-combat-coronavirus-outbreak-200301063901951.html">artificial intelligence and facial recognition technology</a> to locate suspected cases</li>
<li>Mandating potential carriers to prove they are undergoing quarantine by taking photos through a <a href="https://www.privateinternetaccess.com/blog/polands-covid-19-selfie-app-raises-privacy-questions-will-everyone-eventually-be-tracked/">selfie app</a></li>
</ul>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>More importantly, COVID-19 has raised some serious questions: Can privacy and public health security go hand in hand? Is it enough to use safeguards such as transparency and the use of intrusive technology only when absolutely necessary?</p>
<p>We’ll look at how some countries are answering these questions and see if Thailand can do the same.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>What digital solutions have other countries done?</h3>
<p>Technology has become a crucial part of the COVID-19 response. We are also seeing a collaboration between the public and private sectors to develop digital solutions to the public health emergency.</p>
<p>In South Korea, Taiwan, and Singapore, efficient government responses to COVID-19 all depended on technology, supporting other well-planned measures, to deliver swift assistance to their citizens. On top of providing adequate COVID-19 testing kits, these measures succeeded because their citizens cooperated. But to reach that point, the government must cultivate trust with their citizenry.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> We will balance the value of protecting individual human rights and privacy and the value of upholding public interest in preventing mass infections  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> Jung Eun-kyeong, director of the Korea Center for Disease Control and Prevention  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Here, transparency in communication is vital.</p>
<p>South Korea, in particular, had to learn that lesson the hard way. In January 2020, the government began posting the <a href="https://www.wsj.com/articles/south-korea-tracks-virus-patients-travelsand-publishes-them-online-11581858000">detailed location histories</a>, including even personal information, of each person who tested positive for COVID-19. But internet users quickly exploited the disclosed patient data, publicly identifying and hounding these patients. The social stigma attached to the virus prompted the government to acknowledge that this measure, even if well-meaning, was an <a href="https://www.theguardian.com/world/2020/mar/06/more-scary-than-coronavirus-south-koreas-health-alerts-expose-private-lives">invasion of privacy</a> that could also discourage citizens from getting tested.</p>
<p>To remedy this, health officials announced this month that they would refine their data-sharing guidelines to minimize patient risk. “We will balance the value of protecting individual human rights and privacy and the value of upholding public interest in preventing mass infections,” said <a href="https://www.nytimes.com/2020/03/23/technology/coronavirus-surveillance-tracking-privacy.html">Jung Eun-kyeong</a>, director of the Korea Center for Disease Control and Prevention.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Privacy and health security: Can’t we have both?</h3>
<p>Regardless of whether you trust your government with your data, there still remains the challenge of protecting public interest while protecting individual privacy during a public health crisis. Whether it’s collecting or publishing, personal health information is sensitive data. But in a crisis, ensuring public health is also essential.</p>
<p>But this in no way means that the government or the press have to reveal detailed personal data that’s irrelevant to stopping the virus’ spread. Governments should uphold the principle of data minimisation, identifying clear time-frames for data collection, and ensuring that collection is only to control the spread of the coronavirus. Insensitive collection and publishing of personal data might lead to stigma against those with COVID-19, and even patients under investigation.</p>
<p>One good recommendation to follow comes from the <a href="https://www.eff.org/deeplinks/2020/03/protecting-civil-liberties-during-public-health-crisis">Electronic Frontier Foundation</a>. In Thailand, WHO has come out with <a href="https://www.who.int/docs/default-source/searo/thailand/covid19-stigma-guide-th-final.pdf">guidelines to prevent and deal with social stigmatization</a>.</p>
<p>The bottom line is this: If the government cannot create trust and safety for the people, some citizens might conceal their infection to avoid discrimination and stigmatisation. This could lead to people avoiding screenings and testings, which will then lead to more, not less, infections.</p>
<p><strong>Under certain circumstances, rights to privacy may be compromised for the public good. But protecting individual privacy, too, is essential to public interest.</strong></p>
<p>Public health surveillance can be done for the planning, implementation, and evaluation of public health practice. In 2017, WHO published its <a href="https://www.who.int/ethics/publications/public-health-surveillance/en/">guidelines on ethical issues in public health surveillance</a>. The guidelines notably do not mention much on digital monitoring and collection of data, or even the use of individual digital data for purposes other than public health.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Security or privacy: What do the Thais have?</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In various situations, one problem with privacy in the digital era is that we are not aware of being tracked in the first place. We do not know how much our data has been and is being collected.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This is currently the case in Thailand. After the government passed a decree on March 26, 2020 declaring a <a href="https://www.bangkokpost.com/thailand/general/1885475/emergency-decree-coming-thursday">state of emergency</a> to combat COVID-19, applications and platforms are now being used to track coronavirus carriers and suspected patients under investigation.</p>
<p>The Thai government announced that they will be using three main platforms to track down the infection:</p>
<ul>
<li><a href="https://www.bangkokpost.com/tech/1876684/arrivals-to-provide-data-via-aot-app">AOT Airports</a> is an application that has been used before, but is now being modified to <a href="https://www.airportthai.co.th/en/%E0%B9%81%E0%B8%99%E0%B8%B0%E0%B8%99%E0%B8%B3%E0%B8%84%E0%B8%B9%E0%B9%88%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B8%87%E0%B8%B2%E0%B8%99-aot-airports-appl-2/">screen and monitor all travellers from at-risk countries</a> who arrive in Thailand, to track whether they are following the 14-day self-quarantine measure.</li>
<li><a href="https://covid19.ddc.moph.go.th/en">covid19.ddc.moph.go.th</a> is a government website that regularly reports important information about the pandemic, such as the number of infected individuals.</li>
<li>@sabaideebot on LINE Official is a government chatbot for people who have taken a COVID-19 test. Once users have received their test result and filled in their health status, they will be connected to the platform.</li>
</ul>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="700" height="701" src="wp-content/uploads/2020/03/AOT-app.jpg" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 700px) 100vw, 700px" /></div>
			<figcaption class="vc_figure-caption">The AOT Airport app, while handy for travellers, can also be used to track their whereabouts.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>With these three platforms, there is a risk that too much personal data is being collected. <a href="https://www.airportthai.co.th/en/aot-airports-privacy-policy/">AOT Airports</a>, for example, asks for information that may be irrelevant to tracking COVID-19 cases, such as all third-party accounts from Google to Line. This data is also at risk of being <a href="https://www.facebook.com/thainetizen/posts/10158274183298130?__xts__%5B0%5D=68.ARC6hb_qLM8_BpjVm2ddm240ShTchTsmPOoUWW_eqqscM7_IJTFBje_ALgg3WYGF1rkSq2eow07Debo2pt62HVp89ktEhTcSxhan0DjH_ZfG4DpXFMOOjwAgR4agnJSUqy5SQgi0hvLSVWctGUgQVr1mWKhNQ9y5GPnuBV0wgGyhmHv98VJKg2NOjFBro3HrYqQsLVE_tCOyS-QQJilR_eQ1oOs9xcHanQvjxtx9nHAcbIc76EMSEnizyoh6b_BL6zdLaCxXgO1eGZVCpToaDOokmio_9B3CHsXnxAFFDbnyiGQwVL6uAkttdtdX9fKT6ozGpw7UrtaC1d94hNBV&amp;__tn__=K-R">shared with third parties outside the government</a>, such as private tourism and trading agencies.</p>
<p>We must therefore pay very close attention: What personal data is being collected? Is it relevant to public health interest? Who has access to the data? Where do we draw the line, especially between what’s public and what’s private?</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>What will the world after coronavirus look like?</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Under certain circumstances, rights to privacy may be compromised for the public good. But protecting individual privacy, too, is essential to public interest.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Once this pandemic ends, we will need to review the technology used by the Thai government under the emergency decree. We also need to monitor how other countries will review the technology they used during this crisis. also We need only look to the United States as an example, which continues to use <a href="https://www.wired.com/2011/09/911-surveillance/">highly secretive mass surveillance systems</a> after the 9/11 terrorist attacks.</p>
<p>Yuval Noah Harari, author of the book “Sapiens: A Brief History of Humankind”, asks us to think about <a href="https://www.ft.com/content/19d90308-6858-11ea-a3c9-1fe6fedcca75">the world after the COVID-19 crisis</a>. If we are not careful, the technology used to monitor citizen health will give legitimacy to a terrifying new surveillance system in the long run.</p>
<p><strong>Even though we agree on the necessity of emergency measures to respond to the ongoing health crisis, such emergency measures must be truly necessary and stay only temporarily. It must not outlive the health crisis.</strong></p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>It is important to note that enforcement of severe measures is not the only way to make citizens follow the government’s instructions. Instead, creating trust and communicating transparently are the true keys to crisis management.</p>
<p>In the time of COVID-19, we have to change the question. Instead of asking whether health security and privacy can go hand in hand, we must ask: <strong>How can we prioritise both without sacrifice one for the other?</strong></p>
<p>Otherwise, privacy and other human rights – both online and offline – will suffer in the long run.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style=""></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 id="thai-translation" style="text-align: center;">“ความมั่นคง(ทางสุขภาพ)” และ “ความเป็นส่วนตัว” ไปด้วยกันได้ ?</h2>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1440" height="787" src="wp-content/uploads/2020/03/Covid-TH-network_https_covid19.ddc_.moph_.go_.th_th_network.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 1440px) 100vw, 1440px" /></div>
			<figcaption class="vc_figure-caption">covid19.ddc.moph.go.th</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เป็นเวลาครบสองเดือนที่ทางองค์การอนามัยโลก (WHO) ประกาศให้การแพร่ระบาดของไวรัสโควิด-19เป็น<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">ภาวะฉุกเฉินระดับโลก</a> วิกฤติครั้งนี้สะท้อนให้เห็นหลายแง่มุมของการรับมือของแต่ละรัฐบาลและการเลือกนำเทคโนโลยีดิจิทัลมาใช้ โดยองค์กร <a href="https://privacyinternational.org/examples/tracking-global-response-covid-19">Privacy International</a> ได้เก็บรวบรวมข้อมูลการใช้เทคโนโลยีติดตามสอดส่องของรัฐบาลทั่วโลกในช่วงการระบาดของไวรัสโควิด-19 ตัวอย่างเช่น</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>การติดตั้งระบบติดตามกลุ่มบุคคลที่อาจติดเชื้อโควิด-19 <a href="https://www.businessinsider.com/countries-tracking-citizens-phones-coronavirus-2020-3#italy-has-created-movement-maps-10">ผ่านข้อมูลตำแหน่งที่อยู่จากโทรศัพท์</a>แบบเรียลไทม์ที่หลายประเทศกำลังใช้อยู่ ตั้งแต่กลุ่มประเทศในเอเชียไปจนถึงหลายประเทศในยุโรป</li>
<li>การเก็บข้อมูลการใช้งานอุปกรณ์ที่เชื่อมต่ออินเตอร์เน็ต หรือ <a href="https://www.technologynetworks.com/immunology/articles/using-the-internet-of-things-to-fight-virus-outbreaks-331992">Internet of Things</a> (IoT), <a href="https://www.bbc.com/news/world-asia-51866102">CCTV</a>, <a href="https://www.dailygizmo.tv/2020/03/27/dragonfly-pandemic-drones/">โดรน</a></li>
<li>การใช้ <a href="https://www.biometricupdate.com/202003/governments-looking-into-advanced-surveillance-biometric-tech-to-contain-coronavirus">AI และเทคโนโลยีการจดจำใบหน้า</a>เพื่อวิเคราะห์และระบุกลุ่มผู้ติดเชื้อได้อย่างรวดเร็ว</li>
<li>การติดตั้งแอปพลิเคชันรายงานตัวบนสมาร์ทโฟน รวมไปถึงการบังคับให้ถ่ายรูปเซลฟี่รายงานตัวเป็นประจำในช่วงกักตัว เช่น <a href="https://www.privateinternetaccess.com/blog/polands-covid-19-selfie-app-raises-privacy-questions-will-everyone-eventually-be-tracked/">ประเทศโปแลนด์</a></li>
</ul>
</li>
</ul>
<p>ข้อถกเถียงสำคัญของการใช้เทคโนโลยีสอดส่องเพื่อควบคุมการแพร่ระบาดของไวรัสในโลกยุคดิจิทัล นำมาสู่คำถามที่ตอบยาก ถ้าต้องเลือกระหว่าง “ความเป็นส่วนตัว” หรือ “ความมั่นคงทางสุขภาพ” แต่เป็นไปได้แค่ไหนถ้าทั้งคู่จะอยู่ร่วมกันในภาวะวิกฤตินี้ หลักการและเหตุผลใดเพียงพอที่จะทำให้เรารักษาทั้งประโยชน์สาธารณสุขส่วนรวม และสิทธิความเป็นส่วนตัว บทเรียนจากประเทศไหนพอจะทำให้ไทยเรียนรู้ได้บ้างในวิกฤติฉุกเฉินครั้งนี้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ทางออกวิกฤติที่สำเร็จของประเทศฝั่งเอเชีย</h3>
<p>บทบาทของเทคโนโลยีกลายเป็นหนึ่งใน “ทางออกสำคัญ” เพื่อรับมือโรคระบาดครั้งนี้ของหลายรัฐบาลทั่วโลก และเรายังเห็นความร่วมมือระหว่าง “ภาครัฐ” และ “ภาคเอกชน” ที่ช่วยกันพัฒนาเครื่องมือและแพลตฟอร์มทางดิจิทัล “เฉพาะกิจ” เพื่อรับมือวิกฤติเฉพาะหน้าอย่างเร่งด่วน</p>
<p>เกาหลีใต้ ไต้หวัน และสิงคโปร์ กลายเป็นบทเรียนความสำเร็จที่ควบคุมการแพร่ระบาดไวรัสโควิด-19 ได้ดีและมีประสิทธิภาพกว่าหลายประเทศในขณะนี้ ต่างมีปัจจัยเทคโนโลยีอยู่เบื้องหลัง แต่หลายประเทศที่รับมือวิกฤติได้ดีนั้นยังมีการวางแผนรับมืออย่างรอบด้านและการบริหารจัดการช่วยเหลือประชาชนที่รวดเร็วและเด็ดขาด ทั้งความพร้อมของจำนวนชุดเครื่องตรวจหาเชื้อโควิด-19 การสื่อสารต่อสาธารณะด้วยข้อมูลอย่าง “โปร่งใส” และชี้แจงมาตรการอย่าง “ชัดเจน” ถือเป็นปัจจัยหลักช่วยให้ประชาชน “มีความไว้ใจ” และปฏิบัติตามมาตรการของรัฐบาล</p>
<p>บทเรียนของ “เกาหลีใต้” สะท้อนให้เห็นความสำคัญของทั้งการปกป้อง “ความเป็นส่วนตัว” และ “มาตรการควบคุมการแพร่ระบาดของไวรัส”</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> เราจะรักษาสมดุลระหว่างการรักษาสิทธิความเป็นส่วนตัวและการรักษาประโยชน์ส่วนรวมในการป้องกันการแพร่ระบาดของไวรัส  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> Jung Eun-kyeong, ผู้อำนวยการศูนย์ควบคุมและปกป้องโรคติดต่อของเกาหลีใต้กล่า  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ในเดือนมกราคมที่ผ่านมา หลังจากมีการใช้เทคโนโลยีติดตามกลุ่มผู้ติดเชื้อโควิด-19 และหน่วยงานทางการของเกาหลีใต้ได้เริ่ม<a href="https://www.wsj.com/articles/south-korea-tracks-virus-patients-travelsand-publishes-them-online-11581858000">เปิดเผยข้อมูลของผู้ติดเชื้อไวรัสอย่างละเอียด</a> ทั้งประวัติการเดินทาง เวลาออกจากที่ทำงาน ใส่หน้ากากป้องกันตอนขึ้นรถไฟหรือไม่ เปลี่ยนสถานีรถไฟที่ไหน ชื่อคาราโอเกะที่ไปและชื่อคลินิคที่ไปตรวจเชื้อไวรัส และเพียงไม่นานที่รัฐบาลออกข้อมูลรายละเอียดของผู้ติดเชื้อ สังคมออนไลน์เกาหลีใต้ก็ช่วยกันทำงานอย่างเร่งด่วน เพื่อระบุตัวตนและชื่อของผู้นั้น นำไปสู่การไล่ล่าหาตัวพวกเขาจากข้อมูลที่ถูกเปิดเผยในอินเตอร์เน็ต ด้วย<a href="https://www.theguardian.com/world/2020/mar/06/more-scary-than-coronavirus-south-koreas-health-alerts-expose-private-lives">ความกังวลเรื่องความเป็นส่วนตัว</a> นี้จึงทำให้ประชาชนบางส่วนไม่อยากเข้ารับการตรวจเชื้อไวรัส</p>
<p>เหตุการณ์ครั้งนี้ทำให้รัฐบาลเกาหลีใต้ประกาศแนวทางปฏิบัติในการแชร์ข้อมูลส่วนบุคคลและความโปร่งใสของการเก็บข้อมูลดิจิทัล เพื่อลดความเสี่ยงต่อผู้ติดเชื้อไวรัสและกลุ่มผู้เฝ้าระวัง “เราจะรักษาสมดุลระหว่างการรักษาสิทธิความเป็นส่วนตัวและการรักษาประโยชน์ส่วนรวมในการป้องกันการแพร่ระบาดของไวรัส” <a href="https://www.nytimes.com/2020/03/23/technology/coronavirus-surveillance-tracking-privacy.html">Jung Eun-kyeong</a> ผู้อำนวยการศูนย์ควบคุมและปกป้องโรคติดต่อของเกาหลีใต้กล่าว เพราะการประกาศใช้มาตรการของรัฐบาลจะเกิดผลสำเร็จเมื่อประชาชนส่วนใหญ่ให้ความร่วมมือด้วย</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ทั้ง “ความเป็นส่วนตัว” กับ “ความมั่นคงทางสุขภาพ” จะอยู่ร่วมกันได้ไหม</h3>
<p>อีกหนึ่งความท้าทายในสถานการณ์เช่นนี้ ที่ต้องรักษาประโยชน์สาธารณสุขส่วนรวม ขณะเดียวกันต้องปกป้องความเป็นส่วนตัวของประชาชน เพราะข้อมูลของประชาชนเกี่ยวกับเรื่องสาธารณสุขเป็นข้อมูลที่มีความอ่อนไหวสูง ทั้งในการเก็บรักษาและการเปิดเผยต่อสาธารณะ แต่ในภาวะวิกฤติเช่นนี้ ทางเลือกเพื่อรักษาชีวิตและสุขภาพของประชาชนย่อมเป็นสิ่งสำคัญ การติดตามและบันทึกประวัติของบุคคลผู้ติดเชื้อจึงมีเหตุผลสมควรต่อมาตรการควบคุมโรคของหน่วยงานสาธารณสุข</p>
<p>แต่นั่นก็ไม่ได้หมายความว่า เจ้าหน้าที่รัฐหรือสื่อมวลชนจำเป็นต้องเปิดเผยข้อมูลส่วนบุคคลของผู้ติดเชื้อโควิด-19 อย่างละเอียดต่อสาธารณะหรือข้อมูลที่ไม่เกี่ยวกับการควบคุมไวรัส และไม่ควรเก็บข้อมูลแบบหว่านแห แต่รัฐควรยึดหลักการจัดเก็บเฉพาะข้อมูลที่จำเป็น (Data Minimization) กำหนดกรอบระยะเวลาชัดเจน มีความโปร่งใสในขั้นตอนและวัตถุประสงค์ที่จัดเก็บต้องเป็นไปเพื่อควบคุมแพร่ระบาดของไวรัสโควิดเท่านั้น เพราะความสะเพร่าในการเก็บข้อมูลส่วนบุคคลและการเปิดเผยต่อสาธารณะอาจนำไปสู่ปัญหาการตีตราทางสังคม (social stigma) ของผู้ติดเชื้อโควิดและกลุ่มเฝ้าระวัง</p>
<p>โดยทาง WHO ออก<a href="https://www.who.int/docs/default-source/searo/thailand/covid19-stigma-guide-th-final.pdf">แนวทางปฏิบัติเพื่อป้องกันและแก้ปัญหาการตีตราทางสังคม</a> และ The Electronic Frontier Foundation มีคำแนะนำสำหรับผู้กำหนดนโยบายในเรื่องการเก็บข้อมูลและติดตามทางดิจิทัลไว้ใน <a href="https://www.eff.org/deeplinks/2020/03/protecting-civil-liberties-during-public-health-crisis">Protecting Civil Liberties During a Public Health Crisis</a></p>
<p>เพราะหากรัฐบาลไม่สามารถสร้างความเชื่อใจและความรู้สึกปลอดภัยให้ประชาชนได้ อาจทำให้ประชาชนเลือกปกปิดอาการเจ็บป่วยเพื่อหลีกเลี่ยงการเลือกปฏิบัติ หรือถูกรังเกียจ หรือถูกตีตราทางสังคม สภาพเช่นนี้จะบีบคั้นให้ประชาชนหลีกเลี่ยงการคัดกรอง การตรวจ และการกักตัว นั่นอาจทำให้การแพร่ระบาดของไวรัสมากขึ้น ไม่ใช่น้อยลง</p>
<p><strong>แม้ว่าบางสถานการณ์ สิทธิความเป็นส่วนตัวจะถูกจำกัดเพื่อผลประโยชน์สาธารณะได้ แต่ขณะเดียวกันการรักษาความเป็นส่วนตัวของบุคคลก็ยังมีความสำคัญต่อปกป้องผลประโยชน์สาธารณะเช่นกัน</strong></p>
<p>การเฝ้าระวังทางสาธารณสุขและโรคระบาดเป็นเรื่องกระทำได้ เพื่อช่วยในการวางแผนควบคุมทางสาธารณสุข โดยเมื่อปี 2017 ทางองค์การ WHO ได้ออก <a href="https://www.who.int/ethics/publications/public-health-surveillance/en/">Guidelines on Ethical Issues in Public Health Surveillance</a> เพื่อเป็นกรอบจริยธรรมในการปฏิบัติงาน แต่ในรายงานฉบับนี้ยังไม่ได้กล่าวมากนักถึงการเก็บข้อมูลทางดิจิทัลและความกังวลเรื่องการใช้ข้อมูลดิจิทัลของประชาชนเพื่อวัตถุประสงค์อื่นนอกเหนือจากเฝ้าระวังทางสาธารณสุข</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>คนไทยมีอะไร: ความมั่นคง(ทางสุขภาพ) และ ความเป็นส่วนตัว</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>หลายครั้งปัญหาความเป็นส่วนตัวในยุคดิจิทัลคือ เรามักไม่รู้ตัวว่า กำลังถูกติดตามสอดส่อง และอุปกรณ์ดิจิทัลที่เราใช้อยู่ได้เก็บข้อมูลอะไรเกี่ยวกับเราบ้าง นี่มักนำไปสู่การเก็บข้อมูลส่วนตัวเกินจำเป็น และผู้ใช้งานเองก็ไม่ทันระวัง</p>
<p>ย้อนกลับมาดูกรณีประเทศไทย หลังจากรัฐบาลประกาศใช้ พ.ร.ก.ฉุกเฉินฯ เมื่อวันที่ 26 มีนาคม 2563 และเริ่มมีมาตรการบังคับใช้ออกมาเรื่อยๆ หนึ่งในนั้นคือการประกาศใช้แอปพลิเคชันติดตามตัวสำหรับกลุ่มผู้ติดเชื้อ กลุ่มเสี่ยงที่ต้องเฝ้าระวัง และกลุ่มผู้เข้าข่ายต้องสงสัยในการติดเชื้อ ผ่านการใช้ 3 แพลตฟอร์มหลักเพื่อติดตามการแพร่ระบาดของโควิด-19</p>
<p>โดยแอปพลิเคชันแรก คือ <a href="https://www.airportthai.co.th/en/แนะนำคู่มือการใช้งาน-aot-airports-appl-2/">AOT Airports</a> เป็นแอปฯที่มีการใช้งานมาก่อนแล้วของการท่าอากาศยาน แต่มีนำมาปรับใช้เพื่อติดตามคนที่เดินทางมาจากประเทศกลุ่มเสี่ยงว่าอยู่ในที่พักอาศัยและกักตัว 14 วันตามข้อตกลงหรือไม่ โดยผู้ใช้ต้องกรอกข้อมูลส่วนตัว และแอปฯนี้สามารถติดตามประวัติการเดินทางของผู้ใช้ได้</p>
<p>ต่อมาเป็นแพลตฟอร์มที่ชื่อว่า <a href="https://covid19.ddc.moph.go.th">covid19.ddc.moph.go.th</a> เพื่อรายงานสถานการณ์ผู้ติดเชื้อและข้อมูลสำคัญที่ออกโดยทางการ มีการทำแผนผังการพบผู้ติดเชื้อและตรวจสอบพื้นที่เตือนระวังในประเทศไทย มีข้อมูลทั้งภาษาไทยและภาษาอังกฤษ</p>
<p>สุดท้ายคือการพัฒนาแชตบอต (Chatbot) ที่ชื่อว่า “สบายดีบอต” @sabaideebot ใน LINE Official สำหรับกลุ่มเสี่ยงและเข้าข่ายติดเชื้อเมื่อได้รับผลตรวจและเก็บบันทึกอาการสุขภาพ โดยเชื่อมต่อกับแพลตฟอร์มรายงานสถานการณ์</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="828" height="1242" src="wp-content/uploads/2020/03/SabaideeBOT-2.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 828px) 100vw, 828px" /></div>
			<figcaption class="vc_figure-caption">@sabaideebot LINE Official Chatbot</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ทั้งสามแพลตฟอร์มจำเป็นต้องจัดเก็บข้อมูลส่วนตัวของผู้ใช้มหาศาลในช่วงเวลานี้ และต้องระมัดระวังในการดูแลความเสี่ยงเรื่องความเป็นส่วนตัว เช่น เมื่อ<a href="https://www.facebook.com/thainetizen/posts/10158274183298130?__xts__&#091;0&#093;=68.ARC6hb_qLM8_BpjVm2ddm240ShTchTsmPOoUWW_eqqscM7_IJTFBje_ALgg3WYGF1rkSq2eow07Debo2pt62HVp89ktEhTcSxhan0DjH_ZfG4DpXFMOOjwAgR4agnJSUqy5SQgi0hvLSVWctGUgQVr1mWKhNQ9y5GPnuBV0wgGyhmHv98VJKg2NOjFBro3HrYqQsLVE_tCOyS-QQJilR_eQ1oOs9xcHanQvjxtx9nHAcbIc76EMSEnizyoh6b_BL6zdLaCxXgO1eGZVCpToaDOokmio_9B3CHsXnxAFFDbnyiGQwVL6uAkttdtdX9fKT6ozGpw7UrtaC1d94hNBV&amp;__tn__=K-R">ดูรายละเอียด</a>ของแอปฯ AOT Airports อาจเสี่ยงที่จะเก็บข้อมูลส่วนบุคคลของผู้ใช้งานมากเกินความจำเป็น ข้อมูลบางประเภทที่ให้กรอกไม่เกี่ยวกับการติดตามโรคระบาด และมีความกังวลว่าข้อมูลส่วนตัวของผู้ใช้งานจะถูกนำไปแชร์กับบุคคลที่สาม เพราะผู้ใช้งานต้องให้ยอมรับเงื่อนไขใน “<a href="https://www.airportthai.co.th/en/aot-airports-privacy-policy/">ข้อกำหนดการใช้งานและนโยบายความเป็นส่วนตัว</a>” ของแอปฯ</p>
<p>หลังจากนี้เรายังคงต้องคอยติดตามว่า รัฐบาลจะเพิ่มการมาตรการบังคับใช้แอปพลิเคชันหรือเทคโนโลยีติดตามตัวภายใต้ พ.ร.ก.ฉุกเฉินฯ อย่างไร และช่วยกันตรวจสอบว่าเราถูกเก็บข้อมูลส่วนตัวใดบ้างที่ไม่เกี่ยวข้องกับผลประโยชน์ทางสาธารณสุขของประชาชน ใครบ้างที่เข้าถึงข้อมูลเหล่านั้น รวมไปถึงขอบเขตอำนาจและความสัมพันธ์ของรัฐกับภาคเอกชนหลังจากนี้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>โลกหลังวิกฤติโควิด-19 จะเป็นเช่นไร</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> แม้ว่าบางสถานการณ์ สิทธิความเป็นส่วนตัวจะถูกจำกัดเพื่อผลประโยชน์สาธารณะได้ แต่ขณะเดียวกันการรักษาความเป็นส่วนตัวของบุคคลก็ยังมีความสำคัญต่อปกป้องผลประโยชน์สาธารณะเช่นกัน  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ถ้าเมื่อเราผ่านพ้นวิกฤติโรคระบาดไปแล้ว เรายังจำเป็นต้องกลับมาทบทวนมาตรการทางเทคโนโลยีสอดส่องและการเก็บข้อมูลส่วนบุคคลที่เคยใช้ภายใต้สถานการณ์ฉุกเฉิน ทั้งของประเทศไทยและประเทศอื่นๆ เพราะบทเรียนจากเหตุการณ์ก่อการร้าย 9/11 ในสหรัฐฯได้ยกระดับมาตรการการสอดแนมโดยรัฐไปอย่างถาวร</p>
<p><strong>ยูวาล โนอา ฮารารี</strong> ผู้เขียนหนังสือ &#8220;Sapiens: A Brief History of Humankind” ตีพิมพ์บทความที่ชื่อว่า “<a href="https://www.ft.com/content/19d90308-6858-11ea-a3c9-1fe6fedcca75?segmentid=acee4131-99c2-09d3-a635-873e61754ec6&amp;fbclid=IwAR3Va25hQqYieLymdXI9pfP9bwHg5ECyElQWHSirqjE3BBpNAA7MJ-j8nzY#comments-anchor">The world after coronavirus</a>” ชวนให้คิดต่อว่าโลกหลังผ่านพ้นวิกฤติโควิด-19 ไปแล้วจะเป็นอย่างไร แนวทางการใช้เทคโนโลยีเพื่อสอดส่องสุขภาพของประชาชนในช่วงวิกฤติโควิด-19 หากไม่ระวังให้ดีอาจทำให้รัฐสร้างมาตรฐานความชอบธรรมต่อระบอบสอดส่องอย่างเบ็ดเสร็จของรัฐในระยะยาว</p>
<p><strong>แม้จะเห็นด้วยถึงความจำเป็นของการใช้มาตรการเร่งด่วนเพื่อตอบสนองวิกฤติสุขภาพที่กำลังเกิดขึ้น แต่มาตรการฉุกเฉินต้องใช้อย่าง “มีขอบเขต” และอยู่แค่ “ชั่วคราว” ต้องไม่มีอยู่หลังผ่านพ้นวิกฤติโรคระบาดแล้ว</strong></p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>การบังคับใช้มาตรการที่มีบทลงโทษที่รุนแรงไม่ได้เป็นทางเดียวที่ทำให้ประชาชนปฏิบัติตามแนวทางของรัฐ แต่การสร้างความเชื่อมั่นในมาตรการที่โปร่งใส และสื่อสารข้อเท็จจริงกับประชาชนอย่างชัดเจนต่างหากที่ถือเป็นกุญแจสำคัญในการจัดการภาวะวิกฤติเช่นนี้</p>
<p>ในสถานการณ์วิกฤติทางสาธารณสุขที่ยังไม่ผ่านพ้นไป เราอาจต้องเปลี่ยนจากคำถามที่ว่า ถ้าต้องเลือกระหว่าง “ความมั่นคงทางสุขภาพ” หรือ “ความเป็นส่วนตัว” มาเป็นคำถามว่า เราจะทำอย่างไรให้ทั้งสองความสำคัญอยู่ร่วมกันได้</p>
<p>เพราะไม่เช่นนั้น ความเป็นส่วนตัว สิทธิ เสรีภาพของเรา ทั้งออนไลน์ และออฟไลน์ จะไม่คืนกลับมา แม้สถานการณ์จะคืนสู่ภาวะปกติแล้วก็ตาม</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Darika Bamrungchok is a Digital Rights Manager (Mekong) at EngageMedia, based in Bangkok. She leads a digital rights and digital safety program in Thailand, and is interested in technology and human rights under modern authoritarian regimes.</em></p>
<p><em>ดาริกา บำรุงโชค ปัจจุบันทำงานในตำแหน่งผู้จัดการโครงการสิทธิดิจิทัลขององค์กร EngageMedia ประจำประเทศไทย เธอดูแลโครงการเกี่ยวกับสิทธิดิจิทัลและความปลอดภัยทางดิจิทัลในประเทศไทยและกลุ่มประเทศลุ่มแม่น้ำโขง มีความสนใจเป็นพิเศษในประเด็นเกี่ยวกับเทคโนโลยีกับสิทธิมนุษยชน</em></p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/covid-health-security-privacy-thailand/">How Health Security and Individual Privacy Can Go Hand in Hand</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/covid-health-security-privacy-thailand/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
