<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Artificial Intelligence and Human Rights: Notes from Coconet II	</title>
	<atom:link href="https://coconet.social/2019/artificial-intelligence-human-rights-coconet/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2019/artificial-intelligence-human-rights-coconet/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 23 Apr 2020 06:03:29 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Coconet Digital Rights		</title>
		<link>https://coconet.social/2019/artificial-intelligence-human-rights-coconet/#comment-25</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet Digital Rights]]></dc:creator>
		<pubDate>Thu, 23 Apr 2020 06:03:29 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=750#comment-25</guid>

					<description><![CDATA[[&#8230;] Artificial intelligence and human rights: Notes from Coconet II [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Artificial intelligence and human rights: Notes from Coconet II [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview		</title>
		<link>https://coconet.social/2019/artificial-intelligence-human-rights-coconet/#comment-13</link>

		<dc:creator><![CDATA[Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview]]></dc:creator>
		<pubDate>Wed, 25 Mar 2020 12:35:48 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=750#comment-13</guid>

					<description><![CDATA[[&#8230;] collaboration resulted in several outputs: a blog post about how AI is tackled during Coconet II: Southeast Asia Digital Rights Camp, a three-part series [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] collaboration resulted in several outputs: a blog post about how AI is tackled during Coconet II: Southeast Asia Digital Rights Camp, a three-part series [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
