<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Nica Dumlao &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/nica/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 20 Apr 2020 01:57:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Nica Dumlao &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Coconet II: Firing Up Digital Rights Collaborations Across Asia (and Beyond)</title>
		<link>https://coconet.social/2019/coconet-collaborations-asia/</link>
					<comments>https://coconet.social/2019/coconet-collaborations-asia/#comments</comments>
		
		<dc:creator><![CDATA[Nica Dumlao]]></dc:creator>
		<pubDate>Fri, 08 Nov 2019 12:57:26 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=575</guid>

					<description><![CDATA[<p>While movements for various human rights issues are thriving in Asia -- in Indonesia, Hong Kong, Philippines, West Papua, etc.-- sustained movement-building remains crucial in the region.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/coconet-collaborations-asia/">Coconet II: Firing Up Digital Rights Collaborations Across Asia (and Beyond)</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>While movements for various human rights issues are thriving in Asia &#8212; in Indonesia, Hong Kong, Philippines, West Papua, etc.&#8211; sustained movement-building remains crucial in the region. Actors working with and in movements face a lot of threats &#8212; repressive legislation and policies, state violence and surveillance, and emerging technologies like artificial intelligence and machine learning that could make such challenges even harder to face.</p>
<p>Coconet II comes at a crucial time. 120 activists, campaigners, journalists, artists, technologists, each supporting various movements from across Southeast Asia, gathered to learn, share, and co-create solutions to the aforementioned issues.</p>
<p>They deepened discussions around issues that impact digital rights, exchanged tactics and skills to strengthen each other’s movements, and explored collaborative campaigns (some of which already started at the camp).</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500" height="500" src="wp-content/uploads/2019/11/coconet-hall-in-action-500x500.jpg" class="vc_single_image-img attachment-thumbnail" alt="" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="700" height="529" src="wp-content/uploads/2019/11/coconet-bree-5-700x529.jpg" class="vc_single_image-img attachment-medium" alt="" sizes="(max-width: 700px) 100vw, 700px" /></div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Coconet II ran for 5 days at a secluded nature reserve in the Philippines, at the foothills of the Sierra Madre Mountain Range. The camp followed an open space methodology that ensured participants could share their expertise, the issues they’re working on (such as online gender-based violence, artificial intelligence, digital safety, problematic corporate platforms) and essential skills to address such challenges (such as effective communication, storytelling, campaigning and protest tactics, addressing activist burn-out and trauma, and so on).</p>
<p>During the day, sessions happened in gazebos, cottages, on the grass, and other such spaces, while at night, film screenings, bonfire discussions, and other activities helped participants rest and unwind.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Cross-movement conversations and collaboration discussions happened throughout the camp. Activists from West Papua, Hong Kong, and Indonesia shared stories about the recent surge of protests from their parts. Some participants collaborated on a <a href="https://www.apc.org/en/pubs/statement-regional-solidarity-against-attacks-digital-rights-activists-southeast-asia" target="_blank" rel="noopener noreferrer">campaign to #StopTheAttacks</a> and halt the harassment of digital rights activists in the region, and to release those who are in jail.</p>
<p>Other collaboration plans include making drone documentary videos on land rights and environmental issues, having regular podcasts that cover digital rights and civic tech in the region, creating a regional rapid response network on digital threats, and forming a network of artists and cultural workers.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="700" height="430" src="wp-content/uploads/2019/11/coconet-campaigns-5-700x430.jpg" class="vc_single_image-img attachment-medium" alt="" sizes="(max-width: 700px) 100vw, 700px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="700" height="582" src="wp-content/uploads/2019/11/campfire-solidarity-700x582.jpg" class="vc_single_image-img attachment-medium" alt="" sizes="(max-width: 700px) 100vw, 700px" /></div>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A platform was created to facilitate these and other potential collaborations among participants.</p>
<p>Coconet II ended with everyone sharing a spirit of solidarity and a commitment to continue fighting for digital rights in the region. And there was a shared sentiment that although many challenges still remain, we had a much better chance if we were in this together.</p>
<p>Indeed, Coconet is more than just a camp. By connecting communities and networks, we hope that Coconet catalyzes individual campaigns, collective collaborations &#8212; even regional movements &#8212; and we&#8217;re confident Coconet&#8217;s growing community is fired up to make all of this happen.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style=""></div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<center><iframe src='https://www.engagemedia.org/Members/rezwan/videos/welcome-coconet/embed_view' frameborder='0' width='630' height='460' allowfullscreen></iframe></center>
		</div>
	</div>
</div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2019/coconet-collaborations-asia/">Coconet II: Firing Up Digital Rights Collaborations Across Asia (and Beyond)</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2019/coconet-collaborations-asia/feed/</wfw:commentRss>
			<slash:comments>8</slash:comments>
		
		
			</item>
	</channel>
</rss>
