<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Remote Work &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/remote-work/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 23 Apr 2020 06:01:45 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Remote Work &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>How a youth group organised a fully online conference</title>
		<link>https://coconet.social/2020/online-youth-conference-remote/</link>
					<comments>https://coconet.social/2020/online-youth-conference-remote/#respond</comments>
		
		<dc:creator><![CDATA[Vino Lucero]]></dc:creator>
		<pubDate>Thu, 23 Apr 2020 05:40:10 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Remote Work]]></category>
		<category><![CDATA[Online Conferencing]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1142</guid>

					<description><![CDATA[<p>The pandemic has impacted how civil society organisations do advocacy work, derailing weeks (or months, in our case) of planning. However, we knew we had to adapt and innovate. Instead of a physical conference, we decided to execute a fully online youth conference for April 4, 2020. And, despite less than a month of planning, we did it.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/online-youth-conference-remote/">How a youth group organised a fully online conference</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2048" height="1536" src="wp-content/uploads/2020/04/93665876_243363000403837_972176984299798528_n.jpg" class="vc_single_image-img attachment-full" alt="Screenshot of an online Youth Conference" sizes="(max-width: 2048px) 100vw, 2048px" /></div></a>
			<figcaption class="vc_figure-caption">A peek at the Virtual Room used for the Digital Youth Conference 2020 held on April 4. Screenshot from the International Youth United.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The new normal under the COVID-19 pandemic came in extremely unexpected forms for most of us in the Philippines. This time last month, people in Metro Manila and neighbouring provinces were adjusting to life under the enhanced community quarantine by the government. <a href="https://coconuts.co/singapore/news/covid19-anxious-southeast-asia-reels-from-fresh-quarantines-lockdowns-infections/">Lockdowns in neighboring Southeast Asia countries </a> also soon followed after. </p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Lucky for me, I did not have much trouble adjusting at work. EngageMedia <a href="https://b.engagemedia.org/2020/a-day-in-engagemedia-remote-work-how-to-not-be-socially-distant-online/">has been working</a> remotely since it was founded, making my transition smoother compared to most. But for nonprofit and civil society organisations in the Philippines, some were more prepared for remote work than others.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>However, the new normal hit my youth advocacy organisation <a href="https://www.facebook.com/IntlYouthUnited/">International Youth United</a> really hard, as we had a planned youth conference lined up for the end of March. I believe I speak for most of the Philippine youth empowerment and advocacy organisations when I say that the pandemic has impacted how we do advocacy work, derailing weeks (or months, in our case) of planning. The Luzon-wide lockdowns mean many are now playing catch-up in terms of how to implement campaigns and execute events originally planned before the pandemic started.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On March 12, 2020, unofficial reports were coming in about a possible Metro Manila-wide lockdown. I abruptly left Metro Manila for my province in case the reports turned out to be true. While on the way there, I thought deeply about the youth conference we spent weeks planning and preparing for. Before the end of the two-hour ride and after a few calls with the core team behind the conference, we knew we had to adapt and innovate. </p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Instead of a physical conference, we decided to execute a fully online youth conference for April 4, 2020. And, despite less than a month of planning, we did it.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Conceptualising a fully online youth conference</h3>
<p>Three days later, the lockdown was already in full swing in the whole Luzon island. Because of this, the core team and volunteers could not meet in person anymore to quickly come up with full concepts for the online youth conference. So when we say that we were executing a fully online youth conference, we mean from the start of conceptualisation to the end of post-event documentation. We did not have an existing model on how to actually execute this, so we needed to craft processes and systems for the event preparations as we go.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Changing the angle of the conference theme was also deemed appropriate. From having a theme focused on peace and international relations, we decided to execute a conference on peace, public health, and digital rights to cover the current health crisis and the reality that most of us are spending more time online.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The first conversation we had as a team was on which platform we should use to plan, communicate, and co-work for the event. The leadership of the organisation, by default, proposed more secure platforms like Jitsi for video meetings, Protonmail for emails, and Redmine for file storage and project management. I personally voiced out my preference for using <a href="https://www.techopedia.com/definition/24181/free-and-open-source-software--foss">free and open-source software (FOSS)</a>, as advocated by EngageMedia. However, most of the volunteers had never heard of these platforms at the time of planning.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Tip: When planning an online conference, opt for a messaging app with end-to-end encryption like Signal to ensure sensitive conversations are secure.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>That meant using Facebook Messenger (and, later on, Zoom, which we learned as the platform of choice for online classes by some university professors) for team meetings, Google Drive for file sharing and real-time file co-working and editing, and Signal for extremely sensitive discussions with key people in the core team. I introduced <a href="https://www.signal.org/">Signal</a> to the organisation back when I was a full-time investigative reporter due to its state-of-the-art end-to-end encryption and top-notch data security. That paid off big time for this instance.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>That reality spelled out that launching a fully online youth conference meant we needed to use communication and collaboration platforms most of our volunteers were already familiar with. With all the changes happening at all fronts due to the public health crisis, we did not want to subject them to additional change by introducing new alternatives to the ones they currently use, even if these were safer. I just added a mental note that in the future, I should introduce FOSS alternatives to the youth organisation members.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1640" height="859" src="wp-content/uploads/2020/04/digital-youth-conference.jpg" class="vc_single_image-img attachment-full" alt="Banner of digital youth conference" sizes="(max-width: 1640px) 100vw, 1640px" /></div></a>
			<figcaption class="vc_figure-caption">Photo from International Youth United</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Logistical challenges</h3>
<p>Early into planning, we learned that some of our volunteers did not have stable Internet connections. Not only was it hard for them to attend the online classes set by their universities, it was also hard for them to attend the online meetings we have to prepare for the conference. I acknowledge it is a privilege to have a stable and fast Internet connection, and had to accept the reality that we would be relying on fewer people now that we are doing the conference online.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We sorted our volunteers into committees, just like when executing in-person conferences – secretariat, publicity, logistics, programs, and marketing. Some of these committees proved to have more work for an online conference compared to when executing actual conferences. For example, the publicity committee needed to produce more content, as we do not have the luxury of doing on-ground promotions, while the work of logistics mostly centered on scoping for the most cost-efficient online meeting platforms that can host 500 participants at once.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This capacity requirement meant my preferred meeting platforms of choice were no longer in the running. We were left with few choices, and eventually, put more focus on capacity than security. Despite <a href="https://citizenlab.ca/2020/04/move-fast-roll-your-own-crypto-a-quick-look-at-the-confidentiality-of-zoom-meetings/">possible security risks</a>, we ended up using Zoom, the most cost-efficient option given that we had limited funds for the event. To compensate, we set up additional security for the virtual room we were going to use. We spent USD 65 in total for a premium subscription and the large meeting add-on that can accommodate 500 participants.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The conference quickly gathered interest from youth leaders across the country and worldwide. We started receiving applications from neighbouring countries – we ended up having participants from 15 countries. The conference addressed a specific information gap – youth from across the world wanted an outlet to sort out the COVID-19 infodemic and have clear action points on what they can do to help address current issues.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Tip: Adjust the number of people you will assign to committees. In our experience, the distribution of work for online conferences is different than in-person events.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Despite limited publicity run and short preparation time, we ended up getting 450 viable applications, higher than our expected attendees for the original in-person conference of 350 to 400 people. Making the event online encouraged more participants in general, but only the privileged ones who had a stable Internet connection at home could attend using this format.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Executing the conference</h3>
<p>The early hours of April 4 were crucial for the smooth execution of the three-hour conference. We spent the whole morning doing technical dry-runs with our resource speakers, and building response teams in case unforeseen events happened during the conference.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Some resource speakers had a bit more difficulty in using the platform compared to others, probably because not all are digital natives. We could just imagine how much adjusting some professors needed to do when they were instructed to do online classes. The team spent time with each of the resource speakers to orient them with all the functionalities that they could use for the conference.</p>
<p>We created a virtual waiting room on Zoom as part of our additional security measures on Zoom. All participants were screened before gaining access to the actual conference room. We also sent a password only hours before the meeting.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Tip: Create a virtual waiting room where you can screen all participants before allowing them access to the main room.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title">   </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We wish there were more security measures we could do, but at that point, we were just hoping for the best. Thankfully, the conference went on quite smoothly. While several participants needed to reconnect themselves to the virtual conference room from time to time, most stayed on consistently throughout the programme.</p>
<p>Discussions on peace and international relations under the current global health crisis, unpacking the COVID-19 pandemic and infodemic, and observing digital rights during political and public health crises were successfully done. Participants were able to submit their questions to resource speakers via <a href="https://www.sli.do/">Slido</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Based on participants’ feedback from the conference, the goal of the online conference was fully satisfied, and offshoot events were requested to supplement new learnings of the participants. One of the most requested follow-up events is on free, open-source, and more secure alternatives to mainstream communications platforms, as discussed in the digital rights session by Dr. Jun-E Tan, an independent researcher based in Malaysia, and Red Tani, EngageMedia’s advocacy and communications senior manager.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1440" height="960" src="wp-content/uploads/2020/04/freedom-of-youth.jpg" class="vc_single_image-img attachment-full" alt="freedom of youth" sizes="(max-width: 1440px) 100vw, 1440px" /></div></a>
			<figcaption class="vc_figure-caption">Our organisation&#039;s last in-person event was in December 2019. Our fully online youth conference was definitely different, but not any less successful. Photo from International Youth United.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Learnings, moving forward</h3>
<p>This attempt at executing a fully online conference seemed to be a success, but not one without extensive adjustments. The new normal under COVID-19 pushed us to be much more creative in rolling out youth empowerment campaigns and programs. This resonates with participants from other sectors of civil society, which had to make complex but necessary changes to continue with their work and advocacy.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The challenge for civil society now is to continue working on their advocacy under the new realities for a much longer period than the initial length of declared lockdowns. In the Philippines, for example, the lockdown has extended at least once since it was initially announced.</p>
<p>The challenge now seems more of a marathon than a sprint, and civil society needs to gear up for that to keep the advocacy work continuous until we reach the end of the pandemic. I list here my recommended tools for executing online conferences.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1587620227551">
		<div class="wpb_wrapper">
			<h4>Recommended tools for organising online conferences and webinars:</h4>
<ul>
<li><a href="https://www.signal.org/">Signal</a> for one-on-one calls and private messaging</li>
<li><a href="https://app.wire.com/">Wire</a> for small group voice calls and private messaging</li>
<li><a href="https://meet.jit.si/">Jitsi</a> for video meetings</li>
<li><a href="https://www.redmine.org/">Redmine</a> for project management</li>
<li><a href="https://airtable.com/">Airtable</a> for data sharing, document co-working, communication logs, and process monitoring</li>
</ul>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Now that the fully online youth conference is done, we hope that we can continue our advocacy work while making the conscious choice of using safer and more secure platforms to co-work and communicate with people. The ideal setup for civil society organisations is to explore FOSS alternatives to the ones they are currently using and making it the standard for advocacy work. In this new normal, why not throw in some good change in the mix and opt to be more secure and choose open-source by default? I know my youth organisation definitely will.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Vino Lucero is a Project and Communications Officer at EngageMedia. He is a journalist based in Manila. He is also the Chief Global Executive Director of International Youth United, a youth organisation aiming to improve youth participation in issues related to freedom of information, digital rights, peace, justice, and human rights.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/online-youth-conference-remote/">How a youth group organised a fully online conference</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/online-youth-conference-remote/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
