<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Singapore &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/singapore/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 31 Mar 2021 15:55:05 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Singapore &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>#JournalismIsNotACrime: Stand with New Naratif against harassment of independent journalists</title>
		<link>https://coconet.social/2021/singapore-new-naratif/</link>
					<comments>https://coconet.social/2021/singapore-new-naratif/#respond</comments>
		
		<dc:creator><![CDATA[New Naratif]]></dc:creator>
		<pubDate>Tue, 09 Mar 2021 02:38:38 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Press Freedom]]></category>
		<category><![CDATA[Singapore]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5091</guid>

					<description><![CDATA[<p>Since July 2020, the independent news organisation New Naratif has been under attack by the Singaporean government in for allegedly breaking the Parliamentary Elections Act by boosting elections-related Facebook posts containing during the previous Singaporean election. New Naratif has stated that, "the Prime Minister’s Office is abusing the law to attack us as part of a long-standing campaign of intimidation and harassment".</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/singapore-new-naratif/">#JournalismIsNotACrime: Stand with New Naratif against harassment of independent journalists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_5142" style="width: 570px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-5142" class="size-medium wp-image-5142" src="wp-content/uploads/2021/03/NewNaratif_ImWithPJThum_Poster-560x700.jpg" alt="New Naratif" width="560" height="700" sizes="(max-width: 560px) 100vw, 560px" /><p id="caption-attachment-5142" class="wp-caption-text">Poster and featured image by New Naratif.</p></div>
<p>&nbsp;</p>
<p><em>Since July 2020, the independent news organisation <a href="https://newnaratif.com/new-naratif-under-attack/">New Naratif</a> has been under attack by the Singaporean government in for allegedly breaking the Parliamentary Elections Act by boosting elections-related Facebook posts containing during the previous Singaporean election. New Naratif has stated that, &#8220;the Prime Minister’s Office is abusing the law to attack us as part of a long-standing campaign of intimidation and harassment&#8221;.<br />
</em></p>
<p><em>Dr. Thum Ping Tjin, New Naratif founder and managing director, has been detained twice by the police related to this case: the first time on September 21 last year and the second just this March 5. His laptop was confiscated after the first round of questioning, and the government has yet to return it.</em></p>
<p><em>For more information on the case against New Naratif, you can check out their <a href="https://newnaratif.com/new-naratif-under-attack/">website page</a> detailing the timeline of events and its defence against the Singapore government&#8217;s claims. You can also follow New Naratif on their <a href="https://twitter.com/NewNaratif/status/1367661940072325122">social media accounts</a> for more timely updates.</em></p>
<p><em>Additionally, Coconet.social is republishing the statement by international civil society organisations demanding that the government drop the charges against New Naratif. The statement was first published on October 2, 2020. (<a href="https://www.forum-asia.org/?p=33070">Access the original statement here</a>.)</em></p>
<p>&nbsp;</p>
<p style="text-align: center;"><img class="alignnone size-medium wp-image-5089" src="wp-content/uploads/2021/03/New-Naratif-Joint-Statement-logos-750x372-1-700x347.png" alt="" width="700" height="347" sizes="(max-width: 700px) 100vw, 700px" /></p>
<h3 style="text-align: center;"><strong>[Joint Statement] </strong>Singapore: Drop police report against independent media outlet New Naratif</h3>
<p>We, the undersigned civil society organizations, urge the government of Singapore to order the Elections Department (ELD) to immediately withdraw its police report against <em>New Naratif,</em> and to cease abusing the law to harass critical voices and independent journalists.</p>
<p>On 18 September 2020, Singapore’s Elections Department released a <u><a href="https://www.eld.gov.sg/press/2020/Press_Release_-_Police_reports_filed_against_New_Naratif_for_breach_of_Parliamentary_Elections_Act.pdf">press statement</a></u> in which it stated that it had filed a police report against the independent online media outlet <em>New Naratif</em> for “<em>illegal conduct of election activity</em>” for alleged publication of five paid advertisements on the social media platform Facebook, without the written authorization of a candidate or his election agent during the General Election of July 2020.</p>
<p>On 18 September, PJ Thum, <em>New Naratif’s </em>Founder and Managing Director, was notified that he would need to report to the police for questioning, and on 21 September he reported to Clementi Police Station, where he was subjected to questioning for four and a half hours. The police also accompanied him to his home and seized his laptop.</p>
<p>While the Elections Department’s statement does not specify which Facebook posts were allegedly illegally advertised, on 3 July it issued a <u><a href="https://www.eld.gov.sg/press/2020/Press_Release_-_Notice_to_Facebook_to_remove_unauthorised_paid_Internet_Election_Advertising_on_New_Naratif.pdf">statement</a></u> in which it directed Facebook to “<em>remove unauthorised paid Internet Election Advertising</em>.” Following the statement, <em>New Naratif</em> received pro-forma emails from Facebook stating that the following posts did not comply with their advertising policy:</p>
<ul>
<li>a <u><a href="https://www.facebook.com/newnaratif/posts/944255919336359%5C">satirical video</a></u> advertizing a perfume called “<em>Discretion</em>” to denounce the abuse of broadly-worded laws by Singapore’s Prime Minister;</li>
<li>a post <u><a href="https://www.facebook.com/newnaratif/photos/a.351508441944446/943937976034820/">compiling articles</a></u> critical of the ruling People’s Action Party;</li>
<li><u><a href="https://www.facebook.com/newnaratif/photos/a.351508441944446/943156669446284/">a post compiling articles</a></u> about the lack of transparency and accountability in Singapore’s government;</li>
<li>a <u><a href="https://www.facebook.com/watch/?v=272197617442745">video</a></u> explaining how the use of the Protection from Online Falsehoods and Manipulation Act (POFMA) can “<em>have devastating consequences</em>” in times of elections; and</li>
<li>a <u><a href="https://www.facebook.com/newnaratif/photos/a.351508441944446/945943609167590/?type=1&amp;theater">post</a></u> compiling articles about racial discrimination in Singapore.</li>
</ul>
<p>The posts remain online but according to <em>New Naratif</em> they did not re-boost them.</p>
<p>Under Section 83(2) of Singapore’s <u><a href="https://sso.agc.gov.sg/Act/PEA1954">Parliamentary Elections Act</a></u> (PEA), the conduct of any election activity requires prior written authority signed by a candidate or his election agent. Section 83(8) stipulates that “<em>election activity</em>” includes any activity “<em>which is done for the purpose of promoting or procuring the electoral success at any election for one or more identifiable political parties, candidates or groups of candidates; or prejudicing the electoral prospects of other political parties, candidates or groups of candidates at the election</em>.” Any person convicted of such offence may be liable to a fine of up to $2,000 and/or imprisonment for up to 12 months.</p>
<p>Under this provision the scope of what can amount to election activity is extremely broad. Virtually any act of information dissemination or awareness-raising relating to key issues of public interest conducted in the lead-up to or during an election can fall under the overbroad scope of “<em>promoting electoral success</em>” or “<em>prejudicing electoral prospects,</em>” and must therefore receive prior written authorization. The provision is so vague that it does not allow for individuals to be able to adequately predict what activity could fall foul of the law, while allowing the Elections Department to control, censor and potentially criminalize any political speech and discussion during the election period.</p>
<p>According to international human rights law, all restrictions on freedom of expression should be provided for by clear, detailed and well-defined laws; be imposed to serve a legitimate aim, namely to protect the rights and reputation of others, national security, public order, public health or public morals; and restrictions must be both necessary and proportionate to achieve the defined legitimate aim. The PEA does not meet these requirements.</p>
<p>The right to freedom of expression is crucial during elections, which should be guaranteed including through free media, freedom to discuss and debate public affairs, the right to hold peaceful assemblies and freedom of association, and to promulgate, receive and engage in a plurality of  political ideas and viewpoints through free, balanced and fair election campaigning and advertising.</p>
<p>Particularly within the context of Singapore, where the election campaign period often lasts only for days or a couple of weeks this provision allows for censuring of independent media outlets crucial to facilitate information and dialogue on key issues of public interest within a narrow period during which it is most pertinent to people in Singapore prior to the casting of their votes</p>
<p>Furthermore, the law is particularly problematic as the <u><a href="https://aseanmp.org/wp-content/uploads/2020/06/APHR_Briefer_SingaporeElections_2020-06-16-1.pdf">Elections Department is not an independent body </a></u>but is part of the Prime Minister’s Office. This allows for discriminate advantage to be given by the ELD, which answers to the Prime Minister, to information, expression and opinions expressed in line with or favourable to the ruling party, rather than politically opposing viewpoints.</p>
<p>Our organizations are further concerned that the latest police report and police summons received by <em>New Naratif</em> follow a <u><a href="https://www.hrw.org/report/2017/12/12/kill-chicken-scare-monkeys/suppression-free-expression-and-assembly-singapore">well-documented</a></u> pattern of Singaporean authorities using vague and broadly-worded laws to unduly restrict the right to freedom of expression, and harass <u><a href="https://www.hrw.org/news/2020/08/26/singapore-quash-prominent-activists-conviction">human rights defenders</a></u>, independent journalists, members of the political opposition and ordinary individuals with a view towards deterring critical dissent of the government.</p>
<p>We therefore call on the Singapore authorities to:</p>
<ul>
<li>Order the Elections Department to withdraw the police report against <em>New Naratif</em>;</li>
<li>Repeal or substantially amend all repressive laws that curtail the rights to freedom of expression, association and peaceful assembly, and put in place adequate legal mechanisms and procedures to ensure that these rights are enjoyed by all without discrimination and not subject to unlawful restrictions; and</li>
<li>End the intimidation and harassment of human rights defenders, including through the abuse of the legal system, and ensure they can pursue their human rights work without fear of reprisals in accordance with international human rights law.</li>
</ul>
<p>&nbsp;</p>
<p><strong> </strong><strong>Signatories</strong>:</p>
<ol>
<li>Amnesty International</li>
<li>Article 19</li>
<li>ASEAN Parliamentarians for Human Rights</li>
<li>CIVICUS</li>
<li>FORUM-ASIA</li>
<li>Human Rights Watch</li>
<li>Scholars at Risk</li>
</ol>
<p>&nbsp;</p>
<p><em>New Naratif: A movement for democracy, freedom of expression, and freedom of information in Southeast Asia. Learn more at <a href="https://newnaratif.com/hello/">newnaratif.com/hello</a>.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/singapore-new-naratif/">#JournalismIsNotACrime: Stand with New Naratif against harassment of independent journalists</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/singapore-new-naratif/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</title>
		<link>https://coconet.social/2021/digital-identity-asia/</link>
					<comments>https://coconet.social/2021/digital-identity-asia/#respond</comments>
		
		<dc:creator><![CDATA[Open Culture Foundation]]></dc:creator>
		<pubDate>Tue, 12 Jan 2021 01:00:15 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital ID]]></category>
		<category><![CDATA[Digital Identity]]></category>
		<category><![CDATA[Japan]]></category>
		<category><![CDATA[Malaysia]]></category>
		<category><![CDATA[Singapore]]></category>
		<category><![CDATA[South Korea]]></category>
		<category><![CDATA[Taiwan]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4534</guid>

					<description><![CDATA[<p>Digital identification, or digital IDs, have become more common in Asia, with some countries even mandating its use for their citizens. Ho Ming-hsuan writes about the digital ID experiences of Taiwan, Japan, Malaysia, Singapore, and South Korea – and lists various issues that need to be tackled before digital IDs can be adopted more thoroughly in the region.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/digital-identity-asia/">Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="4534" class="elementor elementor-4534" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-5b68734f elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="5b68734f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-76a8c65" data-id="76a8c65" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4f657b6d elementor-widget elementor-widget-text-editor" data-id="4f657b6d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div id="attachment_4535" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4535" class="wp-image-4535 size-large" src="wp-content/uploads/2021/01/Coconet-OCF-Lab-Digital-ID-1024x536.png" alt="" width="1024" height="536" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4535" class="wp-caption-text">Photo from OCF, credited to 內政部釋出圖片</p></div>
<p>&nbsp;</p>
<p>Digital identification, or digital IDs, have become more common in Asia, with some countries even mandating its use for their citizens. Coconet community member&nbsp;<a href="https://ocf.tw/en/">Open Culture Foundation</a> (OCF) has published a series of articles on the digital ID experiences of five countries in Asia – Taiwan, Japan, Malaysia, Singapore, and South Korea – and listed various issues that need to be tackled before digital IDs can be adopted more thoroughly in the region.</p>
<p>The three-part series&nbsp;is available in <a href="https://lab.ocf.tw/2020/12/23/dititalid-taiwan-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-1/">Chinese</a>. Below are excerpts from each of the three articles.</p>
<h3>Part 1: Digital ID in Taiwan</h3>
<p>&#8220;Taiwan once again launched its comprehensive digital ID project in 2015, which made the third attempt to officially launch a project related to digital ID by the government, preceded by its previous efforts in 1998 and 2005 respectively.</p>
<p>This policy of producing digital ID has undergone numerous revisions since its launch in 2015. The latest version is the government to combine the existing National ID Card and the Citizen Digital Certificate into a new digital ID card with a chip (i.e. New eID), which is expected to go for a trial run in certain municipalities in January 2021 before a total rollout in July 2021.</p>
<p>In Taiwan, all citizens are required to have an ID card. The cards at present are paper-based in hardcopy. Yet, should citizens want to be digitally authenticated with their IDs, they can &#8216;voluntarily&#8217; apply for a &#8216;Citizen Digital Certificate&#8217; from the Ministry of the Interior. It is a system that has been operated for years prior to this rollout of New eID.&#8221;</p>
<p><strong><em>Read Part 1 in <a href="https://lab.ocf.tw/2020/12/23/dititalid-taiwan-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-1/">Chinese</a>.</em></strong></p>
<h3>Part 2: Digital ID in Taiwan</h3>
<p>&#8220;Malaysia’s National Digital ID Study Task Force organised a study from November 2019 to July 2020, to gauge public opinion through a survey posted on the Malaysian Communications and Multimedia Commission’s website.</p>
<p>Data security remains a real concern for some Malaysians, however, as the Personal Data Protection Act 2010 (PDPA) is seemingly inadequate in providing well-rounded data security. While the PDPA is able to regulate the use of personal data in the private sector, it cannot be enforced in the public sector. In other words, the use of personal data by the Malaysian government or by government organizations is not regulated by the PDPA, which might pose a data security risk.</p>
<p>Lawyer Louis Liaw from the Rosli Dahlan Saravana Partnership agrees that the National Digital Identity Initiative will bring more convenience to the lives of Malaysians, especially since internet and smartphone penetration rates in Malaysia are already rather high. However, he also believes that there should be legislation in place to regulate and legalise the National Digital Identity framework, so as to strengthen the people’s confidence in the government’s ability to protect their personal data. &#8216;Something is needed to regulate the government,&#8217; the lawyer quipped while maintaining a positive outlook on the benefits the National Digital Identity Initiative would bring to Malaysia.&#8221;</p>
<p><em><strong>Read Part 2 in <a href="https://lab.ocf.tw/2020/12/23/dititalid-jp-my-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/29/eid-series-2/">Chinese</a>.&nbsp;</strong></em></p>
<h3>Part 3: Digital Identity in Singapore &amp; South Korea</h3>
<p>&#8220;The digital ID experiences of these five countries reveal that many people still have reservations regarding the use of digital ID as they lack confidence in the law and the government’s ability to protect their personal data. Data breach still poses a very real threat despite the severe punishment meted out in Singapore, the existence of a law protecting personal data in Malaysia and the change in legislation in South Korea.&#8221;</p>
<p><em><strong>Read Part 3 in <a href="https://lab.ocf.tw/2020/12/23/digitalid-sg-kr-eng/">English</a> and <a href="https://lab.ocf.tw/2020/12/30/eid-series-3/">Chinese</a>.</strong></em></p>
<p>&nbsp;</p>
<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>The Open Culture Foundation is a nonpartisan, nonprofit organization, founded in 2014 by several members of Taiwan&#8217;s open source community.</em></p>

		</div> 
	</div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2021/digital-identity-asia/">Excerpt: &#8220;On the Use of Digital Identity in Asia&#8221;, a three-part series on digital IDs</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/digital-identity-asia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
