<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: วิถีการต่อต้านโดยคนรุ่นใหม่ในโลกออนไลน์: ขบวนการนักศึกษาไทยกับการเคลื่อนไหวทางการเมืองในยุคโควิด	</title>
	<atom:link href="https://coconet.social/2020/thailand-student-online-activism-mobfromhome/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 06 Jan 2021 21:14:47 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: คู่มือความปลอดภัยทางดิจิทัลในการชุมนุม - EngageMedia		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/#comment-60</link>

		<dc:creator><![CDATA[คู่มือความปลอดภัยทางดิจิทัลในการชุมนุม - EngageMedia]]></dc:creator>
		<pubDate>Wed, 06 Jan 2021 21:14:47 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1524#comment-60</guid>

					<description><![CDATA[[&#8230;] นับตั้งแต่ช่วงต้นปี 2563 เป็นต้นมา ปรากฏการณ์ของนักเรียน นิสิต นักศึกษาและประชาชนที่ได้ออกมารวมตัวกันชุมนุม เพื่อแสดงออกถึงความไม่พอใจต่อการบริหารประเทศของรัฐบาลได้ขยายกลายเป็นกระแสการชุมนุมขับไล่รัฐบาลที่กระจายไปในหลายพื้นที่ทั่วประเทศไทยอย่างที่ไม่เคยมีมาก่อน กลุ่มคนรุ่นใหม่ที่ส่วนใหญ่เป็นนักเรียนนักศึกษาได้เข้ามามีบทบาทในฐานะแกนนำจัดการชุมนุมมากขึ้น หนึ่งในข้อสังเกตต่อการชุมนุมของประชาชนในครั้งนี้ คือบทบาทของโซเชียลมีเดียในการช่วยขับเคลื่อนขบวนการทางสังคม (mobilisation) ให้เกิดการชุมนุมขนาดใหญ่ รวมไปถึงการใช้แฮชแท็ก (#) ในทวิตเตอร์ได้กลายเป็นตัวช่วยสำคัญในการกระจายข้อมูลข่าวสาร และเครื่องมือทางดิจิทัลได้ช่วยให้การจัดชุมนุมเกิดขึ้นง่ายขึ้น แต่นักกิจกรรมยังคงเผชิญหน้ากับอุปสรรคหลายประการ เช่น การถูกดำเนินคดี การถูกปิดกั้นและขัดขวางการจัดกิจกรรม การดำเนินคดีต่อแอดมินเพจเช่นเดียวกับนักกิจกรรมที่เชียงใหม่ การล่าแม่มดที่มุ่งโจมตีนักกิจกรรม (Online harassment) รวมถึงการทิ้งรอยเท้าดิจิทัล (Digital footprints) นั่นทำให้การติดตามตัวจากพื้นที่ดิจิทัลสู่ความปลอดภัยในโลกออฟไลน์ก็ไม่ใช่เรื่องยาก  [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] นับตั้งแต่ช่วงต้นปี 2563 เป็นต้นมา ปรากฏการณ์ของนักเรียน นิสิต นักศึกษาและประชาชนที่ได้ออกมารวมตัวกันชุมนุม เพื่อแสดงออกถึงความไม่พอใจต่อการบริหารประเทศของรัฐบาลได้ขยายกลายเป็นกระแสการชุมนุมขับไล่รัฐบาลที่กระจายไปในหลายพื้นที่ทั่วประเทศไทยอย่างที่ไม่เคยมีมาก่อน กลุ่มคนรุ่นใหม่ที่ส่วนใหญ่เป็นนักเรียนนักศึกษาได้เข้ามามีบทบาทในฐานะแกนนำจัดการชุมนุมมากขึ้น หนึ่งในข้อสังเกตต่อการชุมนุมของประชาชนในครั้งนี้ คือบทบาทของโซเชียลมีเดียในการช่วยขับเคลื่อนขบวนการทางสังคม (mobilisation) ให้เกิดการชุมนุมขนาดใหญ่ รวมไปถึงการใช้แฮชแท็ก (#) ในทวิตเตอร์ได้กลายเป็นตัวช่วยสำคัญในการกระจายข้อมูลข่าวสาร และเครื่องมือทางดิจิทัลได้ช่วยให้การจัดชุมนุมเกิดขึ้นง่ายขึ้น แต่นักกิจกรรมยังคงเผชิญหน้ากับอุปสรรคหลายประการ เช่น การถูกดำเนินคดี การถูกปิดกั้นและขัดขวางการจัดกิจกรรม การดำเนินคดีต่อแอดมินเพจเช่นเดียวกับนักกิจกรรมที่เชียงใหม่ การล่าแม่มดที่มุ่งโจมตีนักกิจกรรม (Online harassment) รวมถึงการทิ้งรอยเท้าดิจิทัล (Digital footprints) นั่นทำให้การติดตามตัวจากพื้นที่ดิจิทัลสู่ความปลอดภัยในโลกออฟไลน์ก็ไม่ใช่เรื่องยาก  [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Thai student protesters in the time of COVID-19: New generation, new forms of resistance online		</title>
		<link>https://coconet.social/2020/thailand-student-online-activism-mobfromhome/#comment-38</link>

		<dc:creator><![CDATA[Coconet &#124; Thai student protesters in the time of COVID-19: New generation, new forms of resistance online]]></dc:creator>
		<pubDate>Thu, 18 Jun 2020 02:03:40 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1524#comment-38</guid>

					<description><![CDATA[[&#8230;] this article in Thai &#124; อ่านบทความนี้ใน [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] this article in Thai | อ่านบทความนี้ใน [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
