<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Solidarity is what makes the movement go on	</title>
	<atom:link href="https://coconet.social/2019/dhyta-solidarity-movement/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2019/dhyta-solidarity-movement/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 24 Apr 2020 05:16:44 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Coconet Digital Rights		</title>
		<link>https://coconet.social/2019/dhyta-solidarity-movement/#comment-26</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet Digital Rights]]></dc:creator>
		<pubDate>Fri, 24 Apr 2020 05:16:44 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=619#comment-26</guid>

					<description><![CDATA[[&#8230;] Solidarity is what makes the movement go on [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Solidarity is what makes the movement go on [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
