<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Indonesia &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/indonesia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Jun 2021 07:02:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Indonesia &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</title>
		<link>https://coconet.social/2021/statement-indonesia-mr5/</link>
					<comments>https://coconet.social/2021/statement-indonesia-mr5/#respond</comments>
		
		<dc:creator><![CDATA[Rezwan Islam]]></dc:creator>
		<pubDate>Fri, 11 Jun 2021 07:00:15 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Internet Freedom]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=6136</guid>

					<description><![CDATA[<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a statement calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<figure><a href="https://pixabay.com/photos/map-atlas-land-geography-3798132/"><br />
<img src="http://coconet.social/wp-content/uploads/2021/06/image1-1024x683.jpg" sizes="(max-width: 1024px) 100vw, 1024px" alt="" width="1024" height="683" /> </a><figcaption>Image by Michael Gaida from Pixabay. Used under a Pixabay License.</figcaption></figure>
<p>&nbsp;</p>
<p>On May 28, 2021, members of the Coconet community were among 25 organisations that signed a <a href="https://www.accessnow.org/indonesia-intermediary-liabilities/">statement</a> calling on the Indonesian Ministry of Communication and Information Technology (Kominfo) to repeal Ministerial Regulation 5 (MR5), which can lead to “prepublication censorship” in its current state.</p>
<p>The <a href="https://www.hrw.org/news/2021/05/21/indonesia-suspend-revise-new-internet-regulation">law</a> requires private electronic systems operators (ESOs), which include social media platforms like Facebook, Twitter, and TikTok, to monitor and remove “prohibited content”, as flagged by the Indonesian government. ESOs must also be registered in Indonesia. Failure to <a href="https://www.ifj.org/media-centre/news/detail/category/press-releases/article/indonesia-global-media-organisations-condemn-government-internet-regulation.html">acquire a license</a> from the ministry by December 2021 will lead to the platform being blocked in the country.</p>
<p>“This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship”, the statement reads. The law, which came into effect on December 2 last year with little consultation, is also not clear about what constitutes prohibited content.</p>
<p>Read the full statement below:</p>
<p>&nbsp;</p>
<blockquote><p>May 28, 2021</p>
<p><strong>Dear H.E. Johnny G. Plate,<br />
</strong><strong>Minister of Communication and Information Technology<br />
</strong><strong>Ministry of Communication and Information Technology, Indonesia</strong></p>
<p>We, the undersigned, urge you to repeal Ministerial Regulation 5/2020 (MR5) that is deeply problematic, granting government authorities overly broad powers to regulate online content, access user data, and penalize companies that fail to comply.</p>
<p>MR5 governs all private “electronic systems operators” that are accessible in Indonesia, broadly defined to include social media and other content-sharing platforms, digital marketplaces, search engines, financial services, data processing services, and communications services providing messaging, video calls, or games. This new regulation will affect national and regional digital services and platforms, as well as multinational companies like Google, Facebook, Twitter, and TikTok.</p>
<p>These companies are required to “ensure” that their platform does not contain or facilitate the distribution of “prohibited content”, which implies that they have an obligation to monitor content. Failure to do so can lead to blocking of the entire platform. This requirement for companies to proactively monitor or filter content is both inconsistent with the right to privacy and likely to amount to prepublication censorship.</p>
<p>The regulation’s definition of prohibited content is extremely broad, including not only content in violation of Indonesia’s already overly broad laws restricting speech, but also any material “causing public unrest or public disorder” or information on how to provide access to, or actually providing access to, prohibited material. The latter includes Virtual Private Networks (VPNs), which allow a user to access blocked content and are routinely used by businesses and individuals to ensure privacy for lawful activities.</p>
<p>For “urgent” requests, MR5 requires the company to take down content within four hours. For all other prohibited content, they must do so within 24 hours of being notified by the Ministry. If they fail to do so, regulators can block the service or, in the case of service providers that facilitate user-generated content, impose substantial fines.</p>
<p>MR5 obliges every “Private Electronic System Operator” (Private ESO) to register and obtain an ID certificate issued by the Ministry before people in Indonesia start accessing its services or content.</p>
<p>Previously, registration must take place by May 24th, 2021, but later was postponed, based on a press conference held by Samuel Pangerapan as General Director APTIKA (Directorate of Application and Informatics) of Indonesia MICT, to 6 months until the Single Sign-On (SSO) is ready to be implemented.</p>
<p>Under MR5, Kominfo will sanction non-registrants by blocking their services. Those Private ESOs who decide to register must provide information granting access to their “system” and data to ensure effectiveness in the “monitoring and law enforcement process”. If a registered Private ESO disobeyed the MR5 requirements, for example, by failing to provide “direct access” to their systems (Article 7 (c)), it can be punished in various ways, ranging from a first warning, to temporary blocking, to full blocking and a final revocation of its registration.</p>
<p>Based on our analysis, MR5 does not comply with standards, legal theory or principles, but also does not uphold freedom of expression and other human rights.</p>
<p>The substance of MR5 includes the regulation of digital rights, including restrictions. Considering the right to privacy, it is clear that MR5 exceeds the limits given in Law 12/2011, because it is limited to the framework of “administering certain functions in the government”.  MR5 therefore has the potential to violate freedom of expression and other human rights.</p>
<p>The provisions in MR5 are potentially contrary to Article 12 of the Universal Declaration of Human Rights (UDHR) and Article 17 of the International Covenant on Civil and Political Rights (ICCPR), especially the provisions enabling authorities to obtain personal data from Private ESOs. These concerns are compounded by the absence of independent supervision in obtaining access to personal data, and the fact that in practice, personal data is often misused, especially by law enforcement officials.</p>
<p>The three-part test has not been strictly regulated in the legal mechanism in MR5, so practically, this arrangement opens up space for violations of human rights, particularly the right to privacy.</p>
<p>In MR5, the term “Access Termination”, interpreted as meaning both blocking access to the internet and takedown of an account or a social media post, is used 65 times. This has the potential to limit rights and freedoms, and is very likely to interfere with the interests of Private ESOs. Further, the standard of limitation for the termination of access to the internet is not clearly stipulated within MR5, leaving the powers to terminate access open to abuse and disproportionate application. The failure to include an adequate complaints mechanism further compounds concerns that termination of access will be utilised by authorities arbitrarily and excessively.</p>
<p>The phrase “prohibited” in Article 9 paragraphs (3) and (4) actually has a very wide range and its interpretation opens up space for debate, especially if there is a conflict of interest of State Institutions or law enforcement officials. For example, what is meant by “public disturbance”, what is the standard or measure, who has the authority to determine it, and what if the public feels that it is not part of what is called “disturbing the society”?</p>
<p>With regard to Chapter IV, Article 14, regarding requests for termination of access, it is necessary to consider the restriction standards stipulated in Article 19 paragraph (3) of the ICCPR, including considerations of the Human Rights Committee’s General Comment No. 34.</p>
<p>MR5 requires Private ESOs, including social media platforms and other online-based service providers to comply with domestic jurisdiction, both for content and the use of content in daily practice. The legal framework for such obligations weakens the protection of all social media platforms, applications, and other online service providers, especially to accept domestic jurisdiction over user data content and policies and practices. Such a legal framework becomes a repressive instrument that would contradict or even violate human rights.</p>
<p>We call on you to immediately repeal MR5.</p>
<p>Regards,</p>
<p>Access Now (International)</p>
<p>Amnesty International Indonesia (Indonesia)</p>
<p>Alliance of Independent Journalists (Indonesia)</p>
<p>ARTICLE 19</p>
<p>Digital Reach (Thailand)</p>
<p>Electronic Frontier Foundation (International)</p>
<p>EngageMedia (Australia)</p>
<p>ELSAM (Indonesia)</p>
<p>Free Expression Myanmar (Myanmar)</p>
<p>Foundation for Media Alternatives (Philippines)</p>
<p>Greenpeace Indonesia (Indonesia)</p>
<p>Human Rights Watch (International)</p>
<p>Indonesia Corruption Watch (Indonesia)</p>
<p>Indonesia Legal Aid Foundation (Indonesia)</p>
<p>Institute for Criminal Justice Reform (Indonesia)</p>
<p>Komite Perlindungan Jurnalis dan Kebebasan Berekspresi (Indonesia)</p>
<p>LBH Jakarta (Indonesia)</p>
<p>LBH Pers Jakarta (Indonesia)</p>
<p>Manushya Foundation (Thailand)</p>
<p>Open Net Association (South Korea)</p>
<p>Oxen Privacy Tech Foundation (OPTF) (Australia)</p>
<p>Perkumpulan Lintas Feminis Jakarta (Indonesia)</p>
<p>Southeast Asia Freedom of Expression Network (SAFEnet) (Indonesia)</p>
<p>TAPOL (United Kingdom)</p>
<p>Unit Kajian Gender dan Seksualitas LPPSP FISIP UI (Indonesia)</p></blockquote>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/statement-indonesia-mr5/">Statement: Repeal Indonesia law that imposes harsh intermediary liabilities, risks curtailing expression</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/statement-indonesia-mr5/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Resources: Indonesian Guides to Combat Online Gender-based Violence</title>
		<link>https://coconet.social/2021/indonesia-online-gender-violence-resource/</link>
					<comments>https://coconet.social/2021/indonesia-online-gender-violence-resource/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Wed, 31 Mar 2021 15:54:18 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Online Gender-based Violence]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=5373</guid>

					<description><![CDATA[<p>While the 2021 celebrations for International Women's Month are ending, it's important that digital rights advocates continue to share and amplify efforts surrounding online gender-based violence (OGBV). In Indonesia, Coconet community member SAFEnet recently published "Aspek Hukum untuk Jerat Pelaku" (Legal Aspects for Perpetrator's Snare), a guide that deals with the legal implications and actions for individuals whose intimate content are disseminated online and without their consent.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-online-gender-violence-resource/">Resources: Indonesian Guides to Combat Online Gender-based Violence</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>While the 2021 celebrations for International Women&#8217;s Month are ending, it&#8217;s important that digital rights advocates continue to share and amplify efforts surrounding online gender-based violence (OGBV). In Indonesia, the term is also referred to as KBGO, short for &#8220;kekerasan berbasis gender online&#8221;.</p>
<p>Coconet community member SAFEnet recently published &#8220;<a href="https://awaskbgo.id/ncii2">Aspek Hukum untuk Jerat Pelaku</a>&#8221; (Legal Aspects for Perpetrator&#8217;s Snare), a guide that deals with the legal implications and actions for individuals whose intimate content are disseminated online and without their consent. The guide follows an <a href="https://awaskbgo.id/ncii">earlier publication</a> that enumerates immediate actions to take even before legal action can happen.</p>
<div id="attachment_5376" style="width: 595px" class="wp-caption aligncenter"><a href="https://awaskbgo.id/ncii2"><img aria-describedby="caption-attachment-5376" class="wp-image-5376 size-full" src="wp-content/uploads/2021/03/Layout-Buku-Safenet-2_page-0001-585x830-1.jpg" alt="" width="585" height="830" sizes="(max-width: 585px) 100vw, 585px" /></a><p id="caption-attachment-5376" class="wp-caption-text">Click the image to read the report.</p></div>
<p>SAFEnet will also be publishing more guides in the coming months. Stay updated on their releases by following their <a href="https://awaskbgo.id/publikasi/">publications page</a> and social media.</p>
<p>&nbsp;</p>
<p><em>Ellen Kusuma is a member of SAFEnet’s Security and Safety Division.</em></p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/indonesia-online-gender-violence-resource/">Resources: Indonesian Guides to Combat Online Gender-based Violence</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/indonesia-online-gender-violence-resource/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism</title>
		<link>https://coconet.social/2020/indonesia-digital-rights-safenet/</link>
					<comments>https://coconet.social/2020/indonesia-digital-rights-safenet/#respond</comments>
		
		<dc:creator><![CDATA[Ellen Kusuma]]></dc:creator>
		<pubDate>Thu, 12 Nov 2020 02:00:55 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital Authoritarianism]]></category>
		<category><![CDATA[Indonesia]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3907</guid>

					<description><![CDATA[<p>In the Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism, SAFEnet documents the digital rights violations in the country and how these tie to the local, regional, and global contexts. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-digital-rights-safenet/">Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3907" class="elementor elementor-3907" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-3d5920c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="3d5920c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1802464" data-id="1802464" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3f77583 elementor-widget elementor-widget-text-editor" data-id="3f77583" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Disputes during the 2019 presidential elections have become one of the important records of the digital rights situation in Indonesia over the past year. Nevertheless, violation of digital rights in Indonesia also happened because of other reasons, like social environment conflict, especially in the regional area. Citizens are either criminalised or their right to security is violated because of their vigilance over public services.</p><p>The increasing of criminalisation of citizens due to their activities on the Internet in 2019 has become one of the situations that continue to repeat every year. It is the same with the silencing of critical voices of citizens who express their thoughts and argue over the Internet, especially on social media. Most of the victims are activists and journalists, but new victims have emerged, particularly academics.</p><p>The <a href="https://safenet.or.id/" target="_blank" rel="noopener">Southeast Asia Freedom of Expression Network</a> (SAFEnet) has been paying attention to the issue of digital rights since 2018, five years after the network was founded, which initially only advocated for freedom of expression online. In general, these digital rights include the right to access the Internet, the right to express using digital media, and the right to feel secure in digital media.</p><p>This report is an attempt to not only record the various violations of digital rights that happened during 2019, but also place them in a bigger context as to how they impact democracy. As new terminology, digital rights have not received serious attention, including how these rights are closely related to more fundamental rights, human rights.</p><p>Aside from being a tool to introduce digital rights issues, we hope this digital rights situation report can be our advocacy in pushing the country to create fulfilment and protection of digital rights. Happy reading.</p><p>The 2019 Indonesian Digital Rights Situation Report can be downloaded <a href="https://s.id/reportsafenet2019">here</a> or by clicking the image below.</p><p>The report by SAFEnet will be formally launched during a webinar on November 13, 2020, 14:00 Jakarta time (UTC+7). <a href="https://t.co/oGbscl8HCQ?amp=1" target="_blank" rel="noopener">Click here to register to the webinar</a>, and follow SAFEnet on Twitter for more details on the event.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4c27dea elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="4c27dea" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-80f520c" data-id="80f520c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-84ef5cd elementor-widget elementor-widget-spacer" data-id="84ef5cd" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6f99ad4 elementor-widget elementor-widget-image" data-id="6f99ad4" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
											<a href="https://s.id/reportsafenet2019">
							<img width="495" height="700" src="wp-content/uploads/2020/10/Indonesia-Digital-Right-Situation-2019-495x700.jpg" class="attachment-medium size-medium" alt="" sizes="(max-width: 495px) 100vw, 495px" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Click the image above to access the report.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-a30cb79 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="a30cb79" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-195bc19" data-id="195bc19" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2f13f07 elementor-widget elementor-widget-spacer" data-id="2f13f07" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1e92903 elementor-widget-divider--view-line_text elementor-widget-divider--element-align-center elementor-widget elementor-widget-divider" data-id="1e92903" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
							<span class="elementor-divider__text elementor-divider__element">
				ABOUT THE AUTHOR				</span>
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1f076f4 elementor-widget elementor-widget-text-editor" data-id="1f076f4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><em>Ellen Kusuma is a member of SAFEnet&#8217;s Security and Safety Division. </em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-digital-rights-safenet/">Indonesia Digital Rights Situation Report 2019: The Rise of Digital Authoritarianism</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/indonesia-digital-rights-safenet/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta</title>
		<link>https://coconet.social/2020/papua-pemblokiran-internet-indonesia/</link>
					<comments>https://coconet.social/2020/papua-pemblokiran-internet-indonesia/#respond</comments>
		
		<dc:creator><![CDATA[Fendi Widianto]]></dc:creator>
		<pubDate>Fri, 12 Jun 2020 07:25:29 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Papua]]></category>
		<category><![CDATA[West Papua]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1487</guid>

					<description><![CDATA[<p>Awal bulan Juni 2020, Pengadilan Tata Usaha Negara (PTUN) menyatakan Pemerintah Indonesia, dalam hal ini Presiden RI dan Kementerian Komunikasi dan Informasi (Menkominfo), telah melanggar hukum atas tindakan pelambatan (throttling) dan pemblokiran internet di beberapa wilayah di Papua dan Papua Barat pada tahun 2019. Kasus yang terjadi selama kurang lebih satu bulan dari tanggal 19 Agustus hingga 28 September 2019 ini diajukan ke PTUN oleh koalisi kelompok masyarakat sipil yang ada di Asia Tenggara. Kemenangan Tim Pembela Kebebasan Pers atas gugatan pada Menkominfo dan Presiden RI, menjadi contoh baik menyikapi cara pemerintah menerapkan otoritasnya dalam pengelolaan Internet.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-pemblokiran-internet-indonesia/">Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1366" height="768" src="wp-content/uploads/2020/06/papuanvoices1.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 1366px) 100vw, 1366px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em><strong>“Kenapa Jaringan Internet Di Putus? (red)”</strong></em> Ditangkap dari video Pemutusan Jaringan Internet di Papua dari West Papua Updates (WPU), digunakan dengan izin WPU.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Read this article in <a href="https://coconet.social/2020/papua-internet-shutdown-indonesia">English</a></em></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Awal bulan Juni 2020, Pengadilan Tata Usaha Negara (PTUN) menyatakan Pemerintah Indonesia, dalam hal ini Presiden RI dan Kementerian Komunikasi dan Informasi (Menkominfo), <a href="https://aji.or.id/read/press-release/1078/jakarta-state-administrative-court-rules-government-internet-shutdown-in-papua-unlawful.html">telah melanggar hukum atas tindakan pelambatan (throttling) dan pemblokiran internet di beberapa wilayah di Papua dan Papua Barat pada tahun 2019</a>. Kasus yang terjadi selama kurang lebih satu bulan dari tanggal 19 Agustus hingga 28 September 2019 ini diajukan ke PTUN oleh koalisi kelompok masyarakat sipil yang ada di Asia Tenggara.</p>
<p>Kemenangan Tim Pembela Kebebasan Pers atas gugatan pada Menkominfo dan Presiden RI, menjadi contoh baik menyikapi cara pemerintah menerapkan otoritasnya dalam pengelolaan Internet. Proses yang panjang, mulai dari pertemuan tatap muka dengan Kemkominfo, memenangkan <a href="https://www.change.org/p/jokowi-rudiantara-id-wiranto1947-nyalakan-lagi-internet-di-papua-dan-papua-barat">petisi daring</a>, rupanya masih harus dibawa ke jalur hukum.</p>
<p>Putusan ini menjadi sangat penting mengingat selama ini, kebebasan pers dan kebebasan berekspresi di dalam maupun tentang Papua berada dalam status quo <a href="https://theconversation.com/ketegangan-di-papua-dan-hiper-nasionalisme-di-indonesia-123179">narasi hiper nasionalisme</a>. Narasi ini memaksa Papua untuk tunduk pada Indonesia dan menuduh semua upaya untuk membela hak-hak warga Papua, serta protes terhadap rasisme dan diskriminasi yang mereka alami, sebagai &#8220;separatis&#8221;.  Pada akhirnya, pemblokiran internet ini adalah upaya untuk <a href="https://ifex.org/indonesia-court-finds-internet-ban-in-papua-and-west-papua-violates-the-law/">membungkam protes melawan rasisme dan diskriminasi terhadap warga Papua</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Pemblokiran Internet pada 2019</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Pemblokiran internet di Papua dan Papua Barat bukanlah kali pertama bagi pemerintah Indonesia. Sepanjang 2019, Indonesia telah mengalami beberapa kali situasi pelambatan Internet, khususnya untuk mengakses layanan media sosial seperti Facebook, WhatsApp, Twitter, dan Instagram.</p>
<p>Setidaknya ada dua kejadian yang melatari diputusnya akses komunikasi melalui Internet di Papua dan Papua Barat dalam kurun waktu tersebut, yakni <a href="https://b.engagemedia.org/2019/internet-blocking-throttling-west-papua/">pengepungan Asrama Mahasiswa Papua di Surabaya dan tindakan rasis lain di Malang</a>, dan meningkatnya ketegangan dalam <a href="https://www.channelnewsasia.com/news/asia/papua-protests-5-things-know-indonesia-unrest-11858328">aksi-aksi anti rasisme di Papua dan Papua Barat</a> karena reaksi aparat keamanan.</p>
<p>Namun, dalam siaran persnya Kemkominfo maupun Sekretariat Kabinet [Setkab] RI, beralasan, <a href="https://setkab.go.id/kondisi-sudah-kondusif-menko-polhukam-beri-peluang-buka-blokir-akses-internet-di-papua/">blokir akses Internet</a> adalah langkah menekan “<a href="https://setkab.go.id/tekan-hoaks-menkominfo-pemulihan-jaringan-internet-di-papua-dilakukan-bertahap/">penyebaran hoaks dan provokasi</a>”.</p>
<p>Melalui <a href="https://www.kominfo.go.id/content/detail/18868/siaran-pers-no-106hmkominfo052019-tentang-pembatasan-sebagian-fitur-platform-media-sosial-dan-pesan-instan/0/siaran_pers">Siaran Pers No. 106HM</a>, Rudiantara yang menjabat Menteri Komunikasi dan Informatika/Menkominfo RI saat itu menyatakan, pembatasan didasarkan pada UU ITE, yakni mengenai manajemen konten.</p>
<p>Kejadian ini <a href="https://uk.reuters.com/article/uk-indonesia-election-socialmedia/indonesia-curbs-social-media-blaming-hoaxes-for-inflaming-unrest-idUKKCN1SS1MM">dilatari pengumuman hasil Pemilihan Presiden 2019</a>. <a href="https://datareportal.com/reports/digital-2019-indonesia">Pengguna media sosial aktif</a> Indonesia turut menyemarakkan protes warganet terhadap keputusan pemerintah.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Menkominfo, Rudiantara umumkan keputusan pemerintah membatasi akses media sosial dan messaging system pasca kericuhan Rabu dini hari (22/05) di Jakarta. Tujuannya: meredam situasi dan cegah viralnya hoaks yang bisa menyulut emosi publik. <a href="https://twitter.com/kemkominfo?ref_src=twsrc%5Etfw">@kemkominfo</a> <a href="https://twitter.com/hashtag/WhatsAppDown?src=hash&amp;ref_src=twsrc%5Etfw">#WhatsAppDown</a> <a href="https://twitter.com/hashtag/instagramdown?src=hash&amp;ref_src=twsrc%5Etfw">#instagramdown</a> <a href="https://t.co/pp0otqnRu3">pic.twitter.com/pp0otqnRu3</a></p>&mdash; DW Indonesia (@dw_indonesia) <a href="https://twitter.com/dw_indonesia/status/1131144748163653633?ref_src=twsrc%5Etfw">May 22, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Selanjutnya, dalam siaran pers <a href="https://www.kominfo.go.id/content/detail/18967/siaran-pers-no-108hmkominfo052019-tentang-tiga-langkah-pemerintah-agar-dunia-maya-indonesia-tetap-damai/0/siaran_pers">27 Mei 2019</a>, Rudiantara menyebutkan tiga langkah yang dilakukan pemerintah, antara lain:</p>
<ol>
<li>Menutup akses tautan konten atau akun yang terindikasi menyebarkan hoaks</li>
<li>Bekerja sama dengan penyedia platform digital untuk menutup akun</li>
<li>Membatasi akses terhadap sebagian fitur platform digital atau berbagi file</li>
</ol>
<p>Tak hanya melalui Kemenkominfo, Menteri Koordinator Bidang Politik, Hukum, dan Keamanan Wiranto pun menyatakan telah <a href="https://tekno.kompas.com/read/2019/05/22/14291067/wiranto-pemerintah-sengaja-batasi-media-sosial-hari-ini">membatasi akses media sosial untuk pengguna internet di Indonesia.</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Perjuangan menulis Papua bukan hanya soal pembaca yang terjebak di bubble NKRI, wartawan juga masih banyak bias, karena sudah terbiasa hanya menerbitkan rilis dari sisi pemerintah saja. Begitulah. Perjalanan pers Indonesia masih panjang. Masih perlu banyak pengalaman.</p>&mdash; Febriana Firdaus (@febrofirdaus) <a href="https://twitter.com/febrofirdaus/status/1268182331711295488?ref_src=twsrc%5Etfw">June 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Setelah Putusan, Lalu Apa?</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Seiring dukungan yang menguat terhadap penegakan HAM di Indonesia, ancaman terhadap pers dan pembela HAM meningkat.</p>
<p>Tindakan pelambatan dan pemblokiran internet di Papua dan Papua Barat ini selain mengancam salah satu pilar demokrasi, masih ditambah dengan tingginya nilai kerugian akibat pembatasan dan pemblokiran Internet di Papua dan Papua Barat, yakni sekitar <a href="https://katadata.co.id/berita/2020/06/09/kerugian-blokir-internet-capai-triliunan-rupiah">Rp 2,6 Triliun</a>.</p>
<p>Kemenangan Tim Pembela Kebebasan Pers adalah bukti konsistensi masyarakat sipil dan pers memperjuangkan hak-hak digital warga negara, khususnya dalam mengakses informasi dan hak atas rasa aman.</p>
<p>Menanggapi putusan ini, pemerintah Indonesia menyatakan bahwa mereka akan <a href="https://www.thejakartapost.com/news/2020/06/03/internet-ban-during-antiracism-unrest-in-papua-deemed-illegal.html">berkonsultasi terlebih dahulu dengan kuasa hukum dari pemerintah</a>. Oleh karena itu, mari kita kawal putusan majelis hakim PTUN Jakarta, Rabu, 3 Juni 2020, yang menyatakan <a href="https://id.safenet.or.id/2020/06/rilis-pers-ptun-jakarta-menyatakan-pemutusan-akses-internet-di-papua-melanggar-hukum/">Menkominfo dan Presiden RI telah melakukan perbuatan melanggar hukum dengan memperlambat dan memutus akses Internet di Papua dan Papua Barat pada Agustus dan September 2019</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Artikel ini ditulis dan diedit oleh Fendi Widianto, Nikholas Borang, Pitra Hutomo, dan Kathleen Azali dari EngageMedia. Untuk mengetahui lebaih banyak cerita tentang Papua dan Papua Barat, silahkan kunjungi <a href="https://papuanvoices.net">PapuanVoices.net</a>.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-pemblokiran-internet-indonesia/">Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/papua-pemblokiran-internet-indonesia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Monitoring the ruling vs 2019 internet shutdowns in Papua and West Papua</title>
		<link>https://coconet.social/2020/papua-internet-shutdown-indonesia/</link>
					<comments>https://coconet.social/2020/papua-internet-shutdown-indonesia/#comments</comments>
		
		<dc:creator><![CDATA[Fendi Widianto]]></dc:creator>
		<pubDate>Fri, 12 Jun 2020 06:01:03 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Papua]]></category>
		<category><![CDATA[West Papua]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1475</guid>

					<description><![CDATA[<p>Earlier this month, the Jakarta State Administrative Court declared as illegal the internet shutdowns in Papua and West Papua enforced by the Indonesian government in 2019. The case on the month-long shutdown, from August 19 to September 28 last year, was filed by a coalition of civil society groups working in Southeast Asia. The victory of the Press Freedom Defender Team over the lawsuit against the Minister of Communication and Information and the President of the Republic of Indonesia, is a good example of how citizens can respond to government’s unlawful management of public communication infrastructure like the Internet. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-internet-shutdown-indonesia/">Monitoring the ruling vs 2019 internet shutdowns in Papua and West Papua</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1366" height="768" src="wp-content/uploads/2020/06/papuanvoices1.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 1366px) 100vw, 1366px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em><strong>&#8220;Why was our Internet connection shut down? (edited)&#8221;</strong></em> Screengrab from the video &#8220;The Internet Shutdown in Papua&#8221;  by West Papuan Updates, used with permission.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Baca artikel ini dalam <a href="https://coconet.social/papua-pemblokiran-internet-indonesia">Bahasa Indonesia</a></em></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Earlier this month, the Jakarta State Administrative Court <a href="https://aji.or.id/read/press-release/1078/jakarta-state-administrative-court-rules-government-internet-shutdown-in-papua-unlawful.html">declared as illegal the internet shutdowns in Papua and West Papua</a> enforced by the Indonesian government in 2019. The case on the month-long shutdown, from August 19 to September 28 last year, was filed by a coalition of civil society groups working in Southeast Asia. Part of the coalition is <a href="https://id.safenet.or.id/">SAFEnet</a>, which was present at the <a href="https://coconet.social/camps">Coconet digital rights camp</a>.</p>
<p>The victory of the <a href="https://safenet.or.id/2019/11/the-press-freedom-defender-team-sues-internet-shutdown-in-papua/">Press Freedom Defender Team</a> over the lawsuit against the Minister of Communication and Information and the President of the Republic of Indonesia, is a good example of how citizens can respond to government’s unlawful management of public communication infrastructure like the Internet. The long process, starting from the face-to-face meeting with the Ministry of Communication and Information, to creating an <a href="https://www.change.org/p/jokowi-rudiantara-id-wiranto1947-nyalakan-lagi-internet-di-papua-dan-papua-barat">online petition</a>, eventually had to be brought to a legal route. The Press Freedom Defenders Team includes <a href="https://id.safenet.or.id/">SAFEnet</a>, which was present at the <a href="https://coconet.social/camps">second Coconet digital rights camp</a>.</p>
<p>The ruling is also even more important in the context of debates in freedom of the press and freedom of expression in and about <a href="https://papuanvoices.net">Papua</a> are framed within the <a href="https://theconversation.com/ketegangan-di-papua-dan-hiper-nasionalisme-di-indonesia-123179">hyper-nationalism narrative of the status quo</a>. After all, the shutdown was implemented to quell the <a href="https://ifex.org/indonesia-court-finds-internet-ban-in-papua-and-west-papua-violates-the-law/">protests against racism and discriminations of Papuans</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Internet bans in 2019</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The internet shutdown in Papua and West Papua was not the only time the Indonesian government banned access to the internet. Throughout 2019, the Indonesian government implemented a number of internet throttling and blocking in the country – particularly in accessing social media services such as Facebook, WhatsApp, Twitter, and Instagram.</p>
<p>In the case of Papua and West Papua, there were at least two incidents that laid the ground for Internet access restriction during this period. One is <a href="https://b.engagemedia.org/2019/internet-blocking-throttling-west-papua/">the siege of the Papuan Student in a dormitory in Surabaya</a> and other racist acts in Malang, and the second is the increased tension in <a href="https://www.channelnewsasia.com/news/asia/papua-protests-5-things-know-indonesia-unrest-11858328">anti-racism demonstrations in Papua and West Papua</a>, which was met with excessive force carried out by the security apparatus.</p>
<p>The Indonesian Ministry of Communication and Informatics and the Cabinet Secretary, in eleven press releases, stated that the <a href="https://setkab.go.id/kondisi-sudah-kondusif-menko-polhukam-beri-peluang-buka-blokir-akses-internet-di-papua/">Internet access blocking</a> was a way to quell “<a href="https://setkab.go.id/tekan-hoaks-menkominfo-pemulihan-jaringan-internet-di-papua-dilakukan-bertahap/">the spread of hoax and provocations</a>”.</p>
<p>This internet throttling was also preceded by a previous incident: On May 22, 2019, the Ministry of Communication and Informatics came out with <a href="https://www.kominfo.go.id/content/detail/18868/siaran-pers-no-106hmkominfo052019-tentang-pembatasan-sebagian-fitur-platform-media-sosial-dan-pesan-instan/0/siaran_pers">a press release</a> titled the “Throttling of Some Social Media and Instant Messaing Platforms”. The head of the ministry, Rudiantara, stated that the throttling was done based on the ITE (electronic information transaction) Law, specifically on content management.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Indonesia&#39;s IT Minister Rudiantara says the government is limiting social media activity to control the spread of misinformation and hoaxes during the election protests. Explains the trending <a href="https://twitter.com/hashtag/instagramdown?src=hash&amp;ref_src=twsrc%5Etfw">#instagramdown</a> and <a href="https://twitter.com/hashtag/WhatsAppDown?src=hash&amp;ref_src=twsrc%5Etfw">#WhatsAppDown</a> topics</p>&mdash; Coconuts Jakarta (@CoconutsJakarta) <a href="https://twitter.com/CoconutsJakarta/status/1131097409746903041?ref_src=twsrc%5Etfw">May 22, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This internet throttling was triggered by the <a href="https://uk.reuters.com/article/uk-indonesia-election-socialmedia/indonesia-curbs-social-media-blaming-hoaxes-for-inflaming-unrest-idUKKCN1SS1MM">announcement of the 2019 Presidential Election results in April 2019</a>.</p>
<p>In another <a href="https://www.kominfo.go.id/content/detail/18967/siaran-pers-no-108hmkominfo052019-tentang-tiga-langkah-pemerintah-agar-dunia-maya-indonesia-tetap-damai/0/siaran_pers">press release</a>, Rudiantara outlined the three steps in which the Indonesian government implemented the throttling:</p>
<ol>
<li>Block access to content links or accounts that had been indicated to spread hoaxes</li>
<li>Work closely with digital platform providers to close accounts</li>
<li>Limit access to some digital platform features or file sharing</li>
</ol>
<p>Aside from the Ministry of Communication &amp; Informatics, the Coodinating Minister of Politics, Law and Security, Wiranto, also stated that the government had <a href="https://tekno.kompas.com/read/2019/05/22/14291067/wiranto-pemerintah-sengaja-batasi-media-sosial-hari-ini">limited the access to social media to internet users in Indonesia</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Perjuangan menulis Papua bukan hanya soal pembaca yang terjebak di bubble NKRI, wartawan juga masih banyak bias, karena sudah terbiasa hanya menerbitkan rilis dari sisi pemerintah saja. Begitulah. Perjalanan pers Indonesia masih panjang. Masih perlu banyak pengalaman.</p>&mdash; Febriana Firdaus (@febrofirdaus) <a href="https://twitter.com/febrofirdaus/status/1268182331711295488?ref_src=twsrc%5Etfw">June 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A number of <a href="https://datareportal.com/reports/digital-2019-indonesia">active social media users in the archipelago</a>, reportedly reaching up to 150 million or 3/4 of the total population, expressed their protests against government decisions.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>What&#8217;s next after the ruling?</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>As more support for human rights gains traction, threats towards the press and human rights defenders have also spiked.</p>
<p>The internet throttling in Papua and West Papua, which threatens one of the main pillars of democracy, is compounded by the high value of losses estimated to be around <a href="https://katadata.co.id/berita/2020/06/09/kerugian-blokir-internet-capai-triliunan-rupiah">IDR 2.6 trillion</a> (USD 184 million).</p>
<p>The ruling, a definite victory for the Press Freedom Defenders Team, demonstrates the persistence of civil society and the press in fighting for citizens’ digital rights, especially in accessing information and the right to security.</p>
<p>In response to the ruling, the Indonesian government stated that <a href="https://www.thejakartapost.com/news/2020/06/03/internet-ban-during-antiracism-unrest-in-papua-deemed-illegal.html">they will consult with the state legal team to decide the next step</a>. But while the ruling has been made, let’s still monitor the Indonesian government’s response to their <a href="https://www.accessnow.org/court-rules-the-internet-shutdowns-in-papua-and-west-papua-are-illegal/">violation of the law</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>This article was written and edited by EngageMedia&#8217;s Fendi Widianto, Nikholas Borang, Pitra Hutomo, and Kathleen Azali. For more stories on Papua and West Papua, visit <a href="https://papuanvoices.net">PapuanVoices.net</a>.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-internet-shutdown-indonesia/">Monitoring the ruling vs 2019 internet shutdowns in Papua and West Papua</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/papua-internet-shutdown-indonesia/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Singing about global issues – and COVID-19 – with the Marapu community</title>
		<link>https://coconet.social/2020/indonesia-marapu-song/</link>
					<comments>https://coconet.social/2020/indonesia-marapu-song/#comments</comments>
		
		<dc:creator><![CDATA[Fendi Widianto]]></dc:creator>
		<pubDate>Thu, 21 May 2020 08:18:06 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[#VOICE]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Indonesia Inklusi]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1417</guid>

					<description><![CDATA[<p>Songs in the local language of the Marapu community in East Sumba, Indonesia, have become a bridge for the Marapu community to directly communicate and receive information and relevant health recommendations from the World Health Organisation and national and local governments in a culturally familiar and appropriate context.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-marapu-song/">Singing about global issues – and COVID-19 – with the Marapu community</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><a href="https://indonesiainklusi.id/komunitas/bernyanyi-bersama-marapu"><em><strong>Baca artikel ini dalam bahasa Indonesia</strong></em></a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Amid the current COVID-19 pandemic, health recommendations need to be conveyed to communities in remote areas that are separated both by distance and by the minority languages they speak. One medium that can be used to convey public messages is through <a href="http://www.p2ptm.kemkes.go.id/video-p2ptm/jingle-cerdik-germas">song</a>. If dissemination takes into account local culture, language and context, it is more likely the message will reach the target audience.</p>
<p>Using songs as a communication platform to raise people’s awareness about issues has been a method often employed by the Indonesian government. For instance, songs about <a href="http://promkes.kemkes.go.id/video-animasi---ayo-cuci-tangan-pakai-sabun">the importance of personal hygiene and health</a>, songs about the importance of vaccinations and the danger of illegal drugs have been effectively disseminated to the public in the past.</p>
<p>Indonesia is one of the most multi-lingual nations in the world, with over 700 languages (almost half of which are now considered endangered). Songs sung in the national Indonesian language (Bahasa Indonesia) are not effective in reaching communities where it is not the first language or commonly spoken or understood by the community<em>.</em> Songs that convey a message from the government need to be able to speak to each community in their own local language with consideration to their own local cultural context, using a bottom-up culturally appropriate approach, rather than a top-down blanket nationalistic approach.</p>
<p>This bottom-up strategy can have other positive effects, such as finding contemporary contexts for existing traditional local cultural forms of expression. If this method is supported by central governments it can encourage, facilitate and empower local traditional cultures to be adaptive and rapidly respond to current national/global issues according to their own language and unique cultural context.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-70 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="Jekshon &quot;Rimanya na wiki nda&quot; English subtitles" width="1060" height="596" src="https://www.youtube.com/embed/JusotChD5BU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the COVID-19 pandemic, it has been challenging to widely disseminate health recommendations, particularly to very remote areas. However, this has become an opportunity for Jekshon, a young Marapu man, to meet the challenge by using Sumbanese traditional songs in the Kambera language. Jekshon is not only a singer-songwriter, but also a ritual speaker (<em>wunang</em>), a crafter of traditional musical instruments, and a builder and farmer from Kamanggih in East Sumba, East Nusa Tenggara, Indonesia.</p>
<p>Jekshon thus created a song called <a href="https://www.youtube.com/watch?v=JusotChD5BU"><em>“Rimanya na wiki nda”</em></a> to encourage people, especially in East Sumba, to fight against COVID-19 collectively, by avoiding large crowds, staying home, and practicing personal hygiene. As a result, Jekshon has been invited by local government leaders to perform the song at several official government events and also at local health clinics/hospitals.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: left;">Here are some lyrics from Jekshon&#8217;s song:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style="background-color: #a2d67e;"></div>
<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>Ai kupanawa yia kata ana mbawa mangganya ni na ana nduma lurinda a ai</em></p>
<p style="text-align: center;"><em>E ngiara ningu angu nama wandata lamambabu angu dedi dangunggu a ai</em></p>
<p style="text-align: center;"><em>A ai ambu eti nu katundu njarangu angu ta ana mangganya na nduma luri kinda angu kana rehi napa hangganda a ai</em></p>
<p style="text-align: center;"><em>Kata nguduwa la umakinda angu</em></p>
<p style="text-align: center;"><em>Kata maranawa lapa baha lima kinda angu kata mangganya ni na anna nduma luri a ai</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;">I sing to this song so we all will take care, to protect our lives</p>
<p style="text-align: center;">If someone invites us to an event with a large gathering of people, my brothers and sisters</p>
<p style="text-align: center;">It is a mistake to attend, because we need to protect each other’s lives during this time</p>
<p style="text-align: center;">Let’s just stay at home</p>
<p style="text-align: center;">Let’s diligently wash our hands to protect our health and lives</p>

		</div> 
	</div> </div></div></div></div></div><div class="separator  normal   " style="background-color: #a2d67e;"></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Cultural sustainability through songs</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Supporting and sustaining local cultures in a country as diverse as Indonesia is vital for many reasons including, but not limited to, the following examples: It can renew confidence in marginalised minority communities, it can create opportunities for culturally responsible and sustainable tourism, and it can be readily integrated into educational programs to encourage the inter-generational transmission of cultural knowledge.</p>
<p><a href="https://www.sid-sumba.org/">Sumba Integrated Development (SIDe)</a> is one of the organisations in the <a href="https://indonesiainklusi.id/">Indonesia Inklusi Learning Network</a>, which has initiated a <a href="https://voice.global/grantees/revitalising-traditional-marapu-cultural-assets/">VOICE Empowerment</a> project for the Marapu community in East Sumba. Their project aims to work in collaboration with the Marapu community to organise workshops and local performance events. Their aim is to:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class='q_list circle'></p>
<ul>
<li>Showcase and celebrate the talents and cultural richness of East Sumba</li>
<li>Create initiatives to revitalise endangered forms of music</li>
<li>Facilitate the inter-generational transmission of cultural knowledge</li>
<li>Commission performances for film/audio documentation of songs now only known by the oldest generation</li>
<li>Publish songbooks</li>
<li>Build community-run archives</li>
<li>Commission and distribute traditional music instruments</li>
</ul>
<p></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="661" height="441" src="wp-content/uploads/2020/05/b3b8e084c92bc37c-ATARATUMAINWEBFOTO.jpg" class="vc_single_image-img attachment-full" alt="Indonesia Rimanya na widi nda song" /></div>
			<figcaption class="vc_figure-caption">Jungga, a traditional Sumbanese musical instrument. Photo by Joseph Lamont for SIDe.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Women’s representation is one of the priorities of SIDe’s Marapu community project. This project requires equal participation from women, in a field of traditional music which is generally male-dominated, under the guidance of <a href="https://www.youtube.com/channel/UChO6q6ZANyGT7j6P6RyU6aw">Ata Ratu</a>. Ata Ratu is one of East Sumba’s most beloved female role models and most talented singer-songwriters, and as such, has been appointed by VOICE as a community facilitator for the areas in East Sumba supported by the program.</p>
<p>Younger Marapu girls are supported and guided by Ata Ratu and the female Marapu elders to transfer knowledge about song and dance in order to sustain Marapu traditions. Women’s participation, as an embodiment of gender equity, and inclusivity is critical to the community</p>
<p>Aligning with the vision of Indonesia Inklusi network, SIDe holds the ethical principle of “first voice” to ensure the cultural bearers are empowered and actively collaborate or guide the activities of the program. All the Marapu songs recorded are published using the local language (Kambera) along with Indonesia and English language translations. This is to help to amplify the voices, stories, songs, and the rich culture of the East Sumbanese Marapu community to many other places in the Indonesian and English speaking world.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Like Jekshon, Ata Ratu has also written a song about another important aspect of this pandemic: the inability of stranded populations of migrant workers to return to their home villages because of the travel restrictions due to COVID-19. Ata Ratu directs her song <a href="https://www.youtube.com/watch?v=R38A09-mm8c"><em>“Mbawa Rimangu na annanduma luri mu</em>”</a> to the diaspora of Sumbanese people who have left Sumba to look for work or study opportunities in Bali, Jakarta and Jogjakarta, but can no longer return to Sumba because of the travel restrictions. Many of these Sumbanese people have lost their jobs and are experiencing economic hardship and psychological stress from this situation.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-70 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="Mbawa Rimangu na annanduma luri mu_Ata Ratu_English translation" width="1060" height="596" src="https://www.youtube.com/embed/R38A09-mm8c?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Here are some lyrics from Ata Ratu&#8217;s song:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style="background-color: #a2d67e;"></div>
<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>Aiha dama ni dunjaka angu la kota bali a ai.e angu la jakarta angu ni</em></p>
<p style="text-align: center;"><em>Ai hali nggunya nu mi ana mbawa rimangu nu ha ba ninggai ha la tana tau ma aka nu</em></p>
<p style="text-align: center;"><em>Ai ninda la hidu eti biaka nu bata pamalirungu nu ha rimanya na nduma luri amu ka</em></p>
<p style="text-align: center;"><em>Ai ambu mbawa luangga mai dupa nu ha jiaka ningu nu lambabu ndapngu</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;">My friends who are in Bali and in Jakarta</p>
<p style="text-align: center;">I remember you all and urge that you be careful when travelling, as you are in the land of another people where there is a dangerous situation my friends</p>
<p style="text-align: center;">We are in a state of heartache because we are far apart, please take care of yourself</p>
<p style="text-align: center;">Don&#8217;t go back and forth in a place where there is a large crowd</p>

		</div> 
	</div> </div></div></div></div></div><div class="separator  normal   " style="background-color: #a2d67e;"></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Songs as bridges in the time of COVID-19</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In the East Sumbanese Marapu community, songs are written in traditional poetic couplets called <em>Lawiti.</em> <em>Lawiti </em>comes from the fast-paced ritual speech spoken by priests and ritual speakers (<em>wunang</em>) that accompany all Marapu ritual in Sumba. Sumbanese songwriters, like Jekshon and Ata Ratu, improvise by stringing together appropriate successions of <em>Lawiti</em> spontaneously in line with the specific purpose of a song.</p>
<p>Songs are a common and appropriate medium to disseminate information in the Marapu community. By presenting the current COVID-19 issue to the local community through the medium of the traditional folk song, both Ata Ratu and Jekshon have created a new contemporary context for the traditional songs that is relevant to protecting the health and wellbeing of the East Sumbanese Marapu community and diaspora during this pandemic.</p>
<p>Jekshon’s song was released through his <a href="https://www.youtube.com/channel/UCjpI6JkX01raNuXqxSKA1lg">YouTube channel</a> with help from SIDe. Since then, his video has been viewed more than 700 times in both English and Indonesian translations. Ata Ratu’s song has been viewed over 400 times in 24 hours on her YouTube Channel. These songs have both been distributed from handphone to handphone via Bluetooth sharing, or ‘share it’  (a filesharing application). The audio has been downloaded from YouTube and is being played on the public address systems of local markets around East Sumba. SIDe are also distributing the song via mini SD cards (for handphones)  and flash disks at local market hubs.</p>
<p><a href="https://www.youtube.com/watch?v=JusotChD5BU"><em>“Rimanya na widi nda</em></a><em>” </em>and “<a href="https://www.youtube.com/watch?v=R38A09-mm8c"><em>Mbawa Rimangu na annanduma luri mu</em></a>” have both become a bridge for the Marapu community to directly communicate and receive information and relevant health recommendations from the World Health Organisation and national and local governments in a culturally familiar and appropriate context. These songs show that traditional local culture is an effective medium to communicate current global and domestic issues to minority language communities or any marginalised groups.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Authors</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Fendi Widianto of EngageMedia is a communication enthusiast who is motivated and dedicated to community development, creative participatory development for vulnerable groups (including disability groups and disadvantage children), and youth empowerment.</em></p>
<p><em>Joseph Lamont is an Australian producer, composer and film documenter. Joseph has recently assisted projects supported by the Ciptamedia/Ford Foundation and Voice concerned with supporting female traditional musicians and documenting and sustaining Marapu traditional music in East Sumba, Indonesia.</em></p>
<p><em>This article is inspired by stories and knowledge from Jekshon and Kahi Ata Ratu.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-marapu-song/">Singing about global issues – and COVID-19 – with the Marapu community</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/indonesia-marapu-song/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
		<item>
		<title>#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</title>
		<link>https://coconet.social/2020/bebaskan-ravio-patra-privacy/</link>
					<comments>https://coconet.social/2020/bebaskan-ravio-patra-privacy/#comments</comments>
		
		<dc:creator><![CDATA[Pitra Hutomo]]></dc:creator>
		<pubDate>Fri, 24 Apr 2020 05:12:04 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Campaign]]></category>
		<category><![CDATA[Censorship]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Privacy]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1184</guid>

					<description><![CDATA[<p>On the evening of April 22, 2020, researcher Ravio Patra was arrested in Jakarta, Indonesia, not long after an attempt to protect his safety due to a WhatsApp privacy breach. His work has captured the interest of many, notably his most recent critique on the sparse handling of COVID-19 by the Jokowi administration.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/bebaskan-ravio-patra-privacy/">#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>There’s nothing new with the fact that <a href="https://www.forbes.com/sites/zakdoffman/2019/10/03/new-whatsapp-warning-security-flaw-confirmed1-billion-users-told-update-apps-now/#4d36b9322582">WhatsApp is not a secure messaging platform</a>. What is increasingly alarming, however, is the number of people who are exposed to the threat both virtually and physically because of the app. Despite these risks, Indonesians are not able to remove themselves from WhatsApp due to direct endorsement from Chinese phone manufacturers, as well as having the app pre-installed in affordable Android phones. Asking people to move to more secure platforms can feel like converting people&#8217;s belief.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>But on the evening of April 22, 2020, researcher Ravio Patra was arrested in Jakarta, Indonesia, not long after an attempt to protect his safety due to a WhatsApp privacy breach. His work has captured the interest of many, notably his <a href="https://tirto.id/kenapa-penyajian-data-rasio-kematian-covid-19-dari-bnpb-menyesatkan-eP1k">most recent critique</a> on the sparse handling of COVID-19 by the Jokowi administration.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500" height="500" src="wp-content/uploads/2020/04/signal-attachment-2020-04-23-133345_001-500x500.jpeg" class="vc_single_image-img attachment-thumbnail" alt="Bebaskan Ravio Patra" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</div>
	</div>
</div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Following Ravio&#8217;s arrest, a <a href="https://www.change.org/p/presiden-joko-widodo-jokowi-kepolisian-ri-bebaskanravio-ungkap-pelaku-peretasan">petition</a> was launched by his colleagues urging for his immediate release. Also demanding his release was a coalition comprised of <a href="https://id.safenet.or.id/">SAFEnet</a> (Southeast Asia Freedom of Expression Network), <a href="https://ylbhi.or.id/">YLBHI</a> (Yayasan Lembaga Bantuan Hukum Indonesia), <a href="https://www.bantuanhukum.or.id/web/">LBH Jakarta</a> (Lembaga Bantuan Hukum Jakarta), <a href="http://lbhpers.org/">LBH Press</a>, <a href="https://kontras.org/">KontraS</a> (Komisi Untuk Orang Hilang dan Korban Tindak Kekerasan), AMAR law firm, <a href="https://antikorupsi.org/">ICW</a> (Indonesia Corruption Watch), <a href="https://lokataru.id/">Lokataru Law and Human Rights Office</a>, <a href="https://asia-ajar.org/">AJAR</a> (Asia Justice and Rights), <a href="https://www.amnesty.id/">Amnesty International Indonesia</a>, and <a href="http://icjr.or.id/">ICJR</a> (Institute of Criminal Justice Reform). Read the coalition&#8217;s full statement <a href="https://cloud.engagemedia.org/s/ZLyBxHNepp7Jyi9#pdfviewer">here</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Ravio was released the next day at 8 a.m. UTC+7. However, he still remains a suspect.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Sampai sekarang <a href="https://twitter.com/hashtag/RavioHilang?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#RavioHilang</a>, kita nggak tau Ravio ditahan dimana dan karena apa<br><br>Bantu saya desak Kapolri untuk segera <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#BebaskanRavio</a>, ungkap dan tahan peretas WhatsAppnya dengan tanda tangani petisi <a href="https://t.co/v1oaYOcYQw" data-width="300">https://t.co/v1oaYOcYQw</a><a href="https://twitter.com/hashtag/RavioHilang?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#RavioHilang</a> <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#BebaskanRavio</a> <a href="https://twitter.com/hashtag/AtasiVirusCabutOmnibus?src=hash&amp;ref_src=twsrc%5Etfw" data-width="300">#AtasiVirusCabutOmnibus</a></p>&mdash; Atasi Virus Cabut Omnibus (@FraksiRakyat_ID) <a href="https://twitter.com/FraksiRakyat_ID/status/1253222310615543808?ref_src=twsrc%5Etfw" data-width="300">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Kami menduga motif penyebaran itu adalah untuk menempatkan Ravio sebagai salah satu pihak yang dijebak dengan seolah-olah akan membuat kerusuhan. <a href="https://twitter.com/safenetvoice?ref_src=twsrc%5Etfw">@safenetvoice</a> menyampaikan agar Ravio bisa mengumpulkan dan mendokumentasikan semua bukti. <a href="https://twitter.com/hashtag/BebaskanRavio?src=hash&amp;ref_src=twsrc%5Etfw">#BebaskanRavio</a></p>&mdash; Amnesty International Indonesia (@amnestyindo) <a href="https://twitter.com/amnestyindo/status/1253208095754317824?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">SEGERA LEPASKAN RAVIO PATRA, HENTIKAN KRIMINALISASI, UNGKAP PELAKU PERETASAN! <a href="https://t.co/ePATThJYdp">pic.twitter.com/ePATThJYdp</a></p>&mdash; KONTRAS (@KontraS) <a href="https://twitter.com/KontraS/status/1253200679960748032?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Kemarin siang Ravio beritahu saya, selain WA dihijack, dia juga menerima panggilan telpon dari nomor2 yang tidak ia kenal. <br>Kita lihat saja sebentar lagi, pertunjukan drama apa yang akan digelar aparat<a href="https://twitter.com/hashtag/bebaskanravio?src=hash&amp;ref_src=twsrc%5Etfw">#bebaskanravio</a> <a href="https://t.co/0RIezzK4IL">pic.twitter.com/0RIezzK4IL</a></p>&mdash; Tunggal Pawestri (@tunggalp) <a href="https://twitter.com/tunggalp/status/1253161937094901760?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Ravio Patra adalah seorang peneliti dan penggiat media sosial.<br><br>Kemarin (23/04), Ravio mengeluh akun WhatsApp-nya error dan kemungkinan diretas pihak lain. Ia juga dan meminta supaya dia tidak dihubungi dulu. <a href="https://t.co/AOqvkTDF6E">pic.twitter.com/AOqvkTDF6E</a></p>&mdash; Asumsi (@asumsico) <a href="https://twitter.com/asumsico/status/1253160793937330176?ref_src=twsrc%5Etfw">April 23, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Ravio&#8217;s arrest prompts us to once again recognise how well-developed state oppression has become. It implies that ordinary citizens should appraise the necessary safety and security measures, and this is not simply about COVID-19. The stakes of physical threats following a critical attitude, even if virtually, remain high, especially considering arrests and interrogations are not taking place in the virtual world (yet).</p>
<p>For now, the coalition is now concerned with updating the petition to expand the scope of the privacy breach. No matter how remote we are now from each other, fixing our digital security itself will not suffice to deflect from the mechanics of authoritarian regimes.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><i>Pitra Hutomo is EngageMedia&#8217;s Project Manager (Indonesia). </i></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/bebaskan-ravio-patra-privacy/">#BebaskanRavio: Free Ravio Patra and reveal the WhatsApp hackers</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/bebaskan-ravio-patra-privacy/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
