<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Fendi Widianto &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/fendi/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 18 Jun 2020 02:04:46 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Fendi Widianto &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta</title>
		<link>https://coconet.social/2020/papua-pemblokiran-internet-indonesia/</link>
					<comments>https://coconet.social/2020/papua-pemblokiran-internet-indonesia/#respond</comments>
		
		<dc:creator><![CDATA[Fendi Widianto]]></dc:creator>
		<pubDate>Fri, 12 Jun 2020 07:25:29 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Papua]]></category>
		<category><![CDATA[West Papua]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1487</guid>

					<description><![CDATA[<p>Awal bulan Juni 2020, Pengadilan Tata Usaha Negara (PTUN) menyatakan Pemerintah Indonesia, dalam hal ini Presiden RI dan Kementerian Komunikasi dan Informasi (Menkominfo), telah melanggar hukum atas tindakan pelambatan (throttling) dan pemblokiran internet di beberapa wilayah di Papua dan Papua Barat pada tahun 2019. Kasus yang terjadi selama kurang lebih satu bulan dari tanggal 19 Agustus hingga 28 September 2019 ini diajukan ke PTUN oleh koalisi kelompok masyarakat sipil yang ada di Asia Tenggara. Kemenangan Tim Pembela Kebebasan Pers atas gugatan pada Menkominfo dan Presiden RI, menjadi contoh baik menyikapi cara pemerintah menerapkan otoritasnya dalam pengelolaan Internet.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-pemblokiran-internet-indonesia/">Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1366" height="768" src="wp-content/uploads/2020/06/papuanvoices1.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 1366px) 100vw, 1366px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em><strong>“Kenapa Jaringan Internet Di Putus? (red)”</strong></em> Ditangkap dari video Pemutusan Jaringan Internet di Papua dari West Papua Updates (WPU), digunakan dengan izin WPU.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Read this article in <a href="https://coconet.social/2020/papua-internet-shutdown-indonesia">English</a></em></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Awal bulan Juni 2020, Pengadilan Tata Usaha Negara (PTUN) menyatakan Pemerintah Indonesia, dalam hal ini Presiden RI dan Kementerian Komunikasi dan Informasi (Menkominfo), <a href="https://aji.or.id/read/press-release/1078/jakarta-state-administrative-court-rules-government-internet-shutdown-in-papua-unlawful.html">telah melanggar hukum atas tindakan pelambatan (throttling) dan pemblokiran internet di beberapa wilayah di Papua dan Papua Barat pada tahun 2019</a>. Kasus yang terjadi selama kurang lebih satu bulan dari tanggal 19 Agustus hingga 28 September 2019 ini diajukan ke PTUN oleh koalisi kelompok masyarakat sipil yang ada di Asia Tenggara.</p>
<p>Kemenangan Tim Pembela Kebebasan Pers atas gugatan pada Menkominfo dan Presiden RI, menjadi contoh baik menyikapi cara pemerintah menerapkan otoritasnya dalam pengelolaan Internet. Proses yang panjang, mulai dari pertemuan tatap muka dengan Kemkominfo, memenangkan <a href="https://www.change.org/p/jokowi-rudiantara-id-wiranto1947-nyalakan-lagi-internet-di-papua-dan-papua-barat">petisi daring</a>, rupanya masih harus dibawa ke jalur hukum.</p>
<p>Putusan ini menjadi sangat penting mengingat selama ini, kebebasan pers dan kebebasan berekspresi di dalam maupun tentang Papua berada dalam status quo <a href="https://theconversation.com/ketegangan-di-papua-dan-hiper-nasionalisme-di-indonesia-123179">narasi hiper nasionalisme</a>. Narasi ini memaksa Papua untuk tunduk pada Indonesia dan menuduh semua upaya untuk membela hak-hak warga Papua, serta protes terhadap rasisme dan diskriminasi yang mereka alami, sebagai &#8220;separatis&#8221;.  Pada akhirnya, pemblokiran internet ini adalah upaya untuk <a href="https://ifex.org/indonesia-court-finds-internet-ban-in-papua-and-west-papua-violates-the-law/">membungkam protes melawan rasisme dan diskriminasi terhadap warga Papua</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Pemblokiran Internet pada 2019</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Pemblokiran internet di Papua dan Papua Barat bukanlah kali pertama bagi pemerintah Indonesia. Sepanjang 2019, Indonesia telah mengalami beberapa kali situasi pelambatan Internet, khususnya untuk mengakses layanan media sosial seperti Facebook, WhatsApp, Twitter, dan Instagram.</p>
<p>Setidaknya ada dua kejadian yang melatari diputusnya akses komunikasi melalui Internet di Papua dan Papua Barat dalam kurun waktu tersebut, yakni <a href="https://b.engagemedia.org/2019/internet-blocking-throttling-west-papua/">pengepungan Asrama Mahasiswa Papua di Surabaya dan tindakan rasis lain di Malang</a>, dan meningkatnya ketegangan dalam <a href="https://www.channelnewsasia.com/news/asia/papua-protests-5-things-know-indonesia-unrest-11858328">aksi-aksi anti rasisme di Papua dan Papua Barat</a> karena reaksi aparat keamanan.</p>
<p>Namun, dalam siaran persnya Kemkominfo maupun Sekretariat Kabinet [Setkab] RI, beralasan, <a href="https://setkab.go.id/kondisi-sudah-kondusif-menko-polhukam-beri-peluang-buka-blokir-akses-internet-di-papua/">blokir akses Internet</a> adalah langkah menekan “<a href="https://setkab.go.id/tekan-hoaks-menkominfo-pemulihan-jaringan-internet-di-papua-dilakukan-bertahap/">penyebaran hoaks dan provokasi</a>”.</p>
<p>Melalui <a href="https://www.kominfo.go.id/content/detail/18868/siaran-pers-no-106hmkominfo052019-tentang-pembatasan-sebagian-fitur-platform-media-sosial-dan-pesan-instan/0/siaran_pers">Siaran Pers No. 106HM</a>, Rudiantara yang menjabat Menteri Komunikasi dan Informatika/Menkominfo RI saat itu menyatakan, pembatasan didasarkan pada UU ITE, yakni mengenai manajemen konten.</p>
<p>Kejadian ini <a href="https://uk.reuters.com/article/uk-indonesia-election-socialmedia/indonesia-curbs-social-media-blaming-hoaxes-for-inflaming-unrest-idUKKCN1SS1MM">dilatari pengumuman hasil Pemilihan Presiden 2019</a>. <a href="https://datareportal.com/reports/digital-2019-indonesia">Pengguna media sosial aktif</a> Indonesia turut menyemarakkan protes warganet terhadap keputusan pemerintah.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Menkominfo, Rudiantara umumkan keputusan pemerintah membatasi akses media sosial dan messaging system pasca kericuhan Rabu dini hari (22/05) di Jakarta. Tujuannya: meredam situasi dan cegah viralnya hoaks yang bisa menyulut emosi publik. <a href="https://twitter.com/kemkominfo?ref_src=twsrc%5Etfw">@kemkominfo</a> <a href="https://twitter.com/hashtag/WhatsAppDown?src=hash&amp;ref_src=twsrc%5Etfw">#WhatsAppDown</a> <a href="https://twitter.com/hashtag/instagramdown?src=hash&amp;ref_src=twsrc%5Etfw">#instagramdown</a> <a href="https://t.co/pp0otqnRu3">pic.twitter.com/pp0otqnRu3</a></p>&mdash; DW Indonesia (@dw_indonesia) <a href="https://twitter.com/dw_indonesia/status/1131144748163653633?ref_src=twsrc%5Etfw">May 22, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Selanjutnya, dalam siaran pers <a href="https://www.kominfo.go.id/content/detail/18967/siaran-pers-no-108hmkominfo052019-tentang-tiga-langkah-pemerintah-agar-dunia-maya-indonesia-tetap-damai/0/siaran_pers">27 Mei 2019</a>, Rudiantara menyebutkan tiga langkah yang dilakukan pemerintah, antara lain:</p>
<ol>
<li>Menutup akses tautan konten atau akun yang terindikasi menyebarkan hoaks</li>
<li>Bekerja sama dengan penyedia platform digital untuk menutup akun</li>
<li>Membatasi akses terhadap sebagian fitur platform digital atau berbagi file</li>
</ol>
<p>Tak hanya melalui Kemenkominfo, Menteri Koordinator Bidang Politik, Hukum, dan Keamanan Wiranto pun menyatakan telah <a href="https://tekno.kompas.com/read/2019/05/22/14291067/wiranto-pemerintah-sengaja-batasi-media-sosial-hari-ini">membatasi akses media sosial untuk pengguna internet di Indonesia.</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Perjuangan menulis Papua bukan hanya soal pembaca yang terjebak di bubble NKRI, wartawan juga masih banyak bias, karena sudah terbiasa hanya menerbitkan rilis dari sisi pemerintah saja. Begitulah. Perjalanan pers Indonesia masih panjang. Masih perlu banyak pengalaman.</p>&mdash; Febriana Firdaus (@febrofirdaus) <a href="https://twitter.com/febrofirdaus/status/1268182331711295488?ref_src=twsrc%5Etfw">June 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Setelah Putusan, Lalu Apa?</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Seiring dukungan yang menguat terhadap penegakan HAM di Indonesia, ancaman terhadap pers dan pembela HAM meningkat.</p>
<p>Tindakan pelambatan dan pemblokiran internet di Papua dan Papua Barat ini selain mengancam salah satu pilar demokrasi, masih ditambah dengan tingginya nilai kerugian akibat pembatasan dan pemblokiran Internet di Papua dan Papua Barat, yakni sekitar <a href="https://katadata.co.id/berita/2020/06/09/kerugian-blokir-internet-capai-triliunan-rupiah">Rp 2,6 Triliun</a>.</p>
<p>Kemenangan Tim Pembela Kebebasan Pers adalah bukti konsistensi masyarakat sipil dan pers memperjuangkan hak-hak digital warga negara, khususnya dalam mengakses informasi dan hak atas rasa aman.</p>
<p>Menanggapi putusan ini, pemerintah Indonesia menyatakan bahwa mereka akan <a href="https://www.thejakartapost.com/news/2020/06/03/internet-ban-during-antiracism-unrest-in-papua-deemed-illegal.html">berkonsultasi terlebih dahulu dengan kuasa hukum dari pemerintah</a>. Oleh karena itu, mari kita kawal putusan majelis hakim PTUN Jakarta, Rabu, 3 Juni 2020, yang menyatakan <a href="https://id.safenet.or.id/2020/06/rilis-pers-ptun-jakarta-menyatakan-pemutusan-akses-internet-di-papua-melanggar-hukum/">Menkominfo dan Presiden RI telah melakukan perbuatan melanggar hukum dengan memperlambat dan memutus akses Internet di Papua dan Papua Barat pada Agustus dan September 2019</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Artikel ini ditulis dan diedit oleh Fendi Widianto, Nikholas Borang, Pitra Hutomo, dan Kathleen Azali dari EngageMedia. Untuk mengetahui lebaih banyak cerita tentang Papua dan Papua Barat, silahkan kunjungi <a href="https://papuanvoices.net">PapuanVoices.net</a>.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-pemblokiran-internet-indonesia/">Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/papua-pemblokiran-internet-indonesia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Monitoring the ruling vs 2019 internet shutdowns in Papua and West Papua</title>
		<link>https://coconet.social/2020/papua-internet-shutdown-indonesia/</link>
					<comments>https://coconet.social/2020/papua-internet-shutdown-indonesia/#comments</comments>
		
		<dc:creator><![CDATA[Fendi Widianto]]></dc:creator>
		<pubDate>Fri, 12 Jun 2020 06:01:03 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Internet Shutdown]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Papua]]></category>
		<category><![CDATA[West Papua]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1475</guid>

					<description><![CDATA[<p>Earlier this month, the Jakarta State Administrative Court declared as illegal the internet shutdowns in Papua and West Papua enforced by the Indonesian government in 2019. The case on the month-long shutdown, from August 19 to September 28 last year, was filed by a coalition of civil society groups working in Southeast Asia. The victory of the Press Freedom Defender Team over the lawsuit against the Minister of Communication and Information and the President of the Republic of Indonesia, is a good example of how citizens can respond to government’s unlawful management of public communication infrastructure like the Internet. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-internet-shutdown-indonesia/">Monitoring the ruling vs 2019 internet shutdowns in Papua and West Papua</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1366" height="768" src="wp-content/uploads/2020/06/papuanvoices1.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 1366px) 100vw, 1366px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em><strong>&#8220;Why was our Internet connection shut down? (edited)&#8221;</strong></em> Screengrab from the video &#8220;The Internet Shutdown in Papua&#8221;  by West Papuan Updates, used with permission.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><em>Baca artikel ini dalam <a href="https://coconet.social/papua-pemblokiran-internet-indonesia">Bahasa Indonesia</a></em></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Earlier this month, the Jakarta State Administrative Court <a href="https://aji.or.id/read/press-release/1078/jakarta-state-administrative-court-rules-government-internet-shutdown-in-papua-unlawful.html">declared as illegal the internet shutdowns in Papua and West Papua</a> enforced by the Indonesian government in 2019. The case on the month-long shutdown, from August 19 to September 28 last year, was filed by a coalition of civil society groups working in Southeast Asia. Part of the coalition is <a href="https://id.safenet.or.id/">SAFEnet</a>, which was present at the <a href="https://coconet.social/camps">Coconet digital rights camp</a>.</p>
<p>The victory of the <a href="https://safenet.or.id/2019/11/the-press-freedom-defender-team-sues-internet-shutdown-in-papua/">Press Freedom Defender Team</a> over the lawsuit against the Minister of Communication and Information and the President of the Republic of Indonesia, is a good example of how citizens can respond to government’s unlawful management of public communication infrastructure like the Internet. The long process, starting from the face-to-face meeting with the Ministry of Communication and Information, to creating an <a href="https://www.change.org/p/jokowi-rudiantara-id-wiranto1947-nyalakan-lagi-internet-di-papua-dan-papua-barat">online petition</a>, eventually had to be brought to a legal route. The Press Freedom Defenders Team includes <a href="https://id.safenet.or.id/">SAFEnet</a>, which was present at the <a href="https://coconet.social/camps">second Coconet digital rights camp</a>.</p>
<p>The ruling is also even more important in the context of debates in freedom of the press and freedom of expression in and about <a href="https://papuanvoices.net">Papua</a> are framed within the <a href="https://theconversation.com/ketegangan-di-papua-dan-hiper-nasionalisme-di-indonesia-123179">hyper-nationalism narrative of the status quo</a>. After all, the shutdown was implemented to quell the <a href="https://ifex.org/indonesia-court-finds-internet-ban-in-papua-and-west-papua-violates-the-law/">protests against racism and discriminations of Papuans</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Internet bans in 2019</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>The internet shutdown in Papua and West Papua was not the only time the Indonesian government banned access to the internet. Throughout 2019, the Indonesian government implemented a number of internet throttling and blocking in the country – particularly in accessing social media services such as Facebook, WhatsApp, Twitter, and Instagram.</p>
<p>In the case of Papua and West Papua, there were at least two incidents that laid the ground for Internet access restriction during this period. One is <a href="https://b.engagemedia.org/2019/internet-blocking-throttling-west-papua/">the siege of the Papuan Student in a dormitory in Surabaya</a> and other racist acts in Malang, and the second is the increased tension in <a href="https://www.channelnewsasia.com/news/asia/papua-protests-5-things-know-indonesia-unrest-11858328">anti-racism demonstrations in Papua and West Papua</a>, which was met with excessive force carried out by the security apparatus.</p>
<p>The Indonesian Ministry of Communication and Informatics and the Cabinet Secretary, in eleven press releases, stated that the <a href="https://setkab.go.id/kondisi-sudah-kondusif-menko-polhukam-beri-peluang-buka-blokir-akses-internet-di-papua/">Internet access blocking</a> was a way to quell “<a href="https://setkab.go.id/tekan-hoaks-menkominfo-pemulihan-jaringan-internet-di-papua-dilakukan-bertahap/">the spread of hoax and provocations</a>”.</p>
<p>This internet throttling was also preceded by a previous incident: On May 22, 2019, the Ministry of Communication and Informatics came out with <a href="https://www.kominfo.go.id/content/detail/18868/siaran-pers-no-106hmkominfo052019-tentang-pembatasan-sebagian-fitur-platform-media-sosial-dan-pesan-instan/0/siaran_pers">a press release</a> titled the “Throttling of Some Social Media and Instant Messaing Platforms”. The head of the ministry, Rudiantara, stated that the throttling was done based on the ITE (electronic information transaction) Law, specifically on content management.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Indonesia&#39;s IT Minister Rudiantara says the government is limiting social media activity to control the spread of misinformation and hoaxes during the election protests. Explains the trending <a href="https://twitter.com/hashtag/instagramdown?src=hash&amp;ref_src=twsrc%5Etfw">#instagramdown</a> and <a href="https://twitter.com/hashtag/WhatsAppDown?src=hash&amp;ref_src=twsrc%5Etfw">#WhatsAppDown</a> topics</p>&mdash; Coconuts Jakarta (@CoconutsJakarta) <a href="https://twitter.com/CoconutsJakarta/status/1131097409746903041?ref_src=twsrc%5Etfw">May 22, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This internet throttling was triggered by the <a href="https://uk.reuters.com/article/uk-indonesia-election-socialmedia/indonesia-curbs-social-media-blaming-hoaxes-for-inflaming-unrest-idUKKCN1SS1MM">announcement of the 2019 Presidential Election results in April 2019</a>.</p>
<p>In another <a href="https://www.kominfo.go.id/content/detail/18967/siaran-pers-no-108hmkominfo052019-tentang-tiga-langkah-pemerintah-agar-dunia-maya-indonesia-tetap-damai/0/siaran_pers">press release</a>, Rudiantara outlined the three steps in which the Indonesian government implemented the throttling:</p>
<ol>
<li>Block access to content links or accounts that had been indicated to spread hoaxes</li>
<li>Work closely with digital platform providers to close accounts</li>
<li>Limit access to some digital platform features or file sharing</li>
</ol>
<p>Aside from the Ministry of Communication &amp; Informatics, the Coodinating Minister of Politics, Law and Security, Wiranto, also stated that the government had <a href="https://tekno.kompas.com/read/2019/05/22/14291067/wiranto-pemerintah-sengaja-batasi-media-sosial-hari-ini">limited the access to social media to internet users in Indonesia</a>.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Perjuangan menulis Papua bukan hanya soal pembaca yang terjebak di bubble NKRI, wartawan juga masih banyak bias, karena sudah terbiasa hanya menerbitkan rilis dari sisi pemerintah saja. Begitulah. Perjalanan pers Indonesia masih panjang. Masih perlu banyak pengalaman.</p>&mdash; Febriana Firdaus (@febrofirdaus) <a href="https://twitter.com/febrofirdaus/status/1268182331711295488?ref_src=twsrc%5Etfw">June 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A number of <a href="https://datareportal.com/reports/digital-2019-indonesia">active social media users in the archipelago</a>, reportedly reaching up to 150 million or 3/4 of the total population, expressed their protests against government decisions.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>What&#8217;s next after the ruling?</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>As more support for human rights gains traction, threats towards the press and human rights defenders have also spiked.</p>
<p>The internet throttling in Papua and West Papua, which threatens one of the main pillars of democracy, is compounded by the high value of losses estimated to be around <a href="https://katadata.co.id/berita/2020/06/09/kerugian-blokir-internet-capai-triliunan-rupiah">IDR 2.6 trillion</a> (USD 184 million).</p>
<p>The ruling, a definite victory for the Press Freedom Defenders Team, demonstrates the persistence of civil society and the press in fighting for citizens’ digital rights, especially in accessing information and the right to security.</p>
<p>In response to the ruling, the Indonesian government stated that <a href="https://www.thejakartapost.com/news/2020/06/03/internet-ban-during-antiracism-unrest-in-papua-deemed-illegal.html">they will consult with the state legal team to decide the next step</a>. But while the ruling has been made, let’s still monitor the Indonesian government’s response to their <a href="https://www.accessnow.org/court-rules-the-internet-shutdowns-in-papua-and-west-papua-are-illegal/">violation of the law</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>This article was written and edited by EngageMedia&#8217;s Fendi Widianto, Nikholas Borang, Pitra Hutomo, and Kathleen Azali. For more stories on Papua and West Papua, visit <a href="https://papuanvoices.net">PapuanVoices.net</a>.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/papua-internet-shutdown-indonesia/">Monitoring the ruling vs 2019 internet shutdowns in Papua and West Papua</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/papua-internet-shutdown-indonesia/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Singing about global issues – and COVID-19 – with the Marapu community</title>
		<link>https://coconet.social/2020/indonesia-marapu-song/</link>
					<comments>https://coconet.social/2020/indonesia-marapu-song/#comments</comments>
		
		<dc:creator><![CDATA[Fendi Widianto]]></dc:creator>
		<pubDate>Thu, 21 May 2020 08:18:06 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[#VOICE]]></category>
		<category><![CDATA[Indonesia]]></category>
		<category><![CDATA[Indonesia Inklusi]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=1417</guid>

					<description><![CDATA[<p>Songs in the local language of the Marapu community in East Sumba, Indonesia, have become a bridge for the Marapu community to directly communicate and receive information and relevant health recommendations from the World Health Organisation and national and local governments in a culturally familiar and appropriate context.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-marapu-song/">Singing about global issues – and COVID-19 – with the Marapu community</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><a href="https://indonesiainklusi.id/komunitas/bernyanyi-bersama-marapu"><em><strong>Baca artikel ini dalam bahasa Indonesia</strong></em></a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Amid the current COVID-19 pandemic, health recommendations need to be conveyed to communities in remote areas that are separated both by distance and by the minority languages they speak. One medium that can be used to convey public messages is through <a href="http://www.p2ptm.kemkes.go.id/video-p2ptm/jingle-cerdik-germas">song</a>. If dissemination takes into account local culture, language and context, it is more likely the message will reach the target audience.</p>
<p>Using songs as a communication platform to raise people’s awareness about issues has been a method often employed by the Indonesian government. For instance, songs about <a href="http://promkes.kemkes.go.id/video-animasi---ayo-cuci-tangan-pakai-sabun">the importance of personal hygiene and health</a>, songs about the importance of vaccinations and the danger of illegal drugs have been effectively disseminated to the public in the past.</p>
<p>Indonesia is one of the most multi-lingual nations in the world, with over 700 languages (almost half of which are now considered endangered). Songs sung in the national Indonesian language (Bahasa Indonesia) are not effective in reaching communities where it is not the first language or commonly spoken or understood by the community<em>.</em> Songs that convey a message from the government need to be able to speak to each community in their own local language with consideration to their own local cultural context, using a bottom-up culturally appropriate approach, rather than a top-down blanket nationalistic approach.</p>
<p>This bottom-up strategy can have other positive effects, such as finding contemporary contexts for existing traditional local cultural forms of expression. If this method is supported by central governments it can encourage, facilitate and empower local traditional cultures to be adaptive and rapidly respond to current national/global issues according to their own language and unique cultural context.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-70 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="Jekshon &quot;Rimanya na wiki nda&quot; English subtitles" width="1060" height="596" src="https://www.youtube.com/embed/JusotChD5BU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>During the COVID-19 pandemic, it has been challenging to widely disseminate health recommendations, particularly to very remote areas. However, this has become an opportunity for Jekshon, a young Marapu man, to meet the challenge by using Sumbanese traditional songs in the Kambera language. Jekshon is not only a singer-songwriter, but also a ritual speaker (<em>wunang</em>), a crafter of traditional musical instruments, and a builder and farmer from Kamanggih in East Sumba, East Nusa Tenggara, Indonesia.</p>
<p>Jekshon thus created a song called <a href="https://www.youtube.com/watch?v=JusotChD5BU"><em>“Rimanya na wiki nda”</em></a> to encourage people, especially in East Sumba, to fight against COVID-19 collectively, by avoiding large crowds, staying home, and practicing personal hygiene. As a result, Jekshon has been invited by local government leaders to perform the song at several official government events and also at local health clinics/hospitals.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: left;">Here are some lyrics from Jekshon&#8217;s song:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style="background-color: #a2d67e;"></div>
<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>Ai kupanawa yia kata ana mbawa mangganya ni na ana nduma lurinda a ai</em></p>
<p style="text-align: center;"><em>E ngiara ningu angu nama wandata lamambabu angu dedi dangunggu a ai</em></p>
<p style="text-align: center;"><em>A ai ambu eti nu katundu njarangu angu ta ana mangganya na nduma luri kinda angu kana rehi napa hangganda a ai</em></p>
<p style="text-align: center;"><em>Kata nguduwa la umakinda angu</em></p>
<p style="text-align: center;"><em>Kata maranawa lapa baha lima kinda angu kata mangganya ni na anna nduma luri a ai</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;">I sing to this song so we all will take care, to protect our lives</p>
<p style="text-align: center;">If someone invites us to an event with a large gathering of people, my brothers and sisters</p>
<p style="text-align: center;">It is a mistake to attend, because we need to protect each other’s lives during this time</p>
<p style="text-align: center;">Let’s just stay at home</p>
<p style="text-align: center;">Let’s diligently wash our hands to protect our health and lives</p>

		</div> 
	</div> </div></div></div></div></div><div class="separator  normal   " style="background-color: #a2d67e;"></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Cultural sustainability through songs</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Supporting and sustaining local cultures in a country as diverse as Indonesia is vital for many reasons including, but not limited to, the following examples: It can renew confidence in marginalised minority communities, it can create opportunities for culturally responsible and sustainable tourism, and it can be readily integrated into educational programs to encourage the inter-generational transmission of cultural knowledge.</p>
<p><a href="https://www.sid-sumba.org/">Sumba Integrated Development (SIDe)</a> is one of the organisations in the <a href="https://indonesiainklusi.id/">Indonesia Inklusi Learning Network</a>, which has initiated a <a href="https://voice.global/grantees/revitalising-traditional-marapu-cultural-assets/">VOICE Empowerment</a> project for the Marapu community in East Sumba. Their project aims to work in collaboration with the Marapu community to organise workshops and local performance events. Their aim is to:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class='q_list circle'></p>
<ul>
<li>Showcase and celebrate the talents and cultural richness of East Sumba</li>
<li>Create initiatives to revitalise endangered forms of music</li>
<li>Facilitate the inter-generational transmission of cultural knowledge</li>
<li>Commission performances for film/audio documentation of songs now only known by the oldest generation</li>
<li>Publish songbooks</li>
<li>Build community-run archives</li>
<li>Commission and distribute traditional music instruments</li>
</ul>
<p></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="661" height="441" src="wp-content/uploads/2020/05/b3b8e084c92bc37c-ATARATUMAINWEBFOTO.jpg" class="vc_single_image-img attachment-full" alt="Indonesia Rimanya na widi nda song" /></div>
			<figcaption class="vc_figure-caption">Jungga, a traditional Sumbanese musical instrument. Photo by Joseph Lamont for SIDe.</figcaption>
		</figure>
	
		</div>
	</div>
</div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Women’s representation is one of the priorities of SIDe’s Marapu community project. This project requires equal participation from women, in a field of traditional music which is generally male-dominated, under the guidance of <a href="https://www.youtube.com/channel/UChO6q6ZANyGT7j6P6RyU6aw">Ata Ratu</a>. Ata Ratu is one of East Sumba’s most beloved female role models and most talented singer-songwriters, and as such, has been appointed by VOICE as a community facilitator for the areas in East Sumba supported by the program.</p>
<p>Younger Marapu girls are supported and guided by Ata Ratu and the female Marapu elders to transfer knowledge about song and dance in order to sustain Marapu traditions. Women’s participation, as an embodiment of gender equity, and inclusivity is critical to the community</p>
<p>Aligning with the vision of Indonesia Inklusi network, SIDe holds the ethical principle of “first voice” to ensure the cultural bearers are empowered and actively collaborate or guide the activities of the program. All the Marapu songs recorded are published using the local language (Kambera) along with Indonesia and English language translations. This is to help to amplify the voices, stories, songs, and the rich culture of the East Sumbanese Marapu community to many other places in the Indonesian and English speaking world.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Like Jekshon, Ata Ratu has also written a song about another important aspect of this pandemic: the inability of stranded populations of migrant workers to return to their home villages because of the travel restrictions due to COVID-19. Ata Ratu directs her song <a href="https://www.youtube.com/watch?v=R38A09-mm8c"><em>“Mbawa Rimangu na annanduma luri mu</em>”</a> to the diaspora of Sumbanese people who have left Sumba to look for work or study opportunities in Bali, Jakarta and Jogjakarta, but can no longer return to Sumba because of the travel restrictions. Many of these Sumbanese people have lost their jobs and are experiencing economic hardship and psychological stress from this situation.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-70 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="Mbawa Rimangu na annanduma luri mu_Ata Ratu_English translation" width="1060" height="596" src="https://www.youtube.com/embed/R38A09-mm8c?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Here are some lyrics from Ata Ratu&#8217;s song:</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="separator  normal   " style="background-color: #a2d67e;"></div>
<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>Aiha dama ni dunjaka angu la kota bali a ai.e angu la jakarta angu ni</em></p>
<p style="text-align: center;"><em>Ai hali nggunya nu mi ana mbawa rimangu nu ha ba ninggai ha la tana tau ma aka nu</em></p>
<p style="text-align: center;"><em>Ai ninda la hidu eti biaka nu bata pamalirungu nu ha rimanya na nduma luri amu ka</em></p>
<p style="text-align: center;"><em>Ai ambu mbawa luangga mai dupa nu ha jiaka ningu nu lambabu ndapngu</em></p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;">My friends who are in Bali and in Jakarta</p>
<p style="text-align: center;">I remember you all and urge that you be careful when travelling, as you are in the land of another people where there is a dangerous situation my friends</p>
<p style="text-align: center;">We are in a state of heartache because we are far apart, please take care of yourself</p>
<p style="text-align: center;">Don&#8217;t go back and forth in a place where there is a large crowd</p>

		</div> 
	</div> </div></div></div></div></div><div class="separator  normal   " style="background-color: #a2d67e;"></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Songs as bridges in the time of COVID-19</h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>In the East Sumbanese Marapu community, songs are written in traditional poetic couplets called <em>Lawiti.</em> <em>Lawiti </em>comes from the fast-paced ritual speech spoken by priests and ritual speakers (<em>wunang</em>) that accompany all Marapu ritual in Sumba. Sumbanese songwriters, like Jekshon and Ata Ratu, improvise by stringing together appropriate successions of <em>Lawiti</em> spontaneously in line with the specific purpose of a song.</p>
<p>Songs are a common and appropriate medium to disseminate information in the Marapu community. By presenting the current COVID-19 issue to the local community through the medium of the traditional folk song, both Ata Ratu and Jekshon have created a new contemporary context for the traditional songs that is relevant to protecting the health and wellbeing of the East Sumbanese Marapu community and diaspora during this pandemic.</p>
<p>Jekshon’s song was released through his <a href="https://www.youtube.com/channel/UCjpI6JkX01raNuXqxSKA1lg">YouTube channel</a> with help from SIDe. Since then, his video has been viewed more than 700 times in both English and Indonesian translations. Ata Ratu’s song has been viewed over 400 times in 24 hours on her YouTube Channel. These songs have both been distributed from handphone to handphone via Bluetooth sharing, or ‘share it’  (a filesharing application). The audio has been downloaded from YouTube and is being played on the public address systems of local markets around East Sumba. SIDe are also distributing the song via mini SD cards (for handphones)  and flash disks at local market hubs.</p>
<p><a href="https://www.youtube.com/watch?v=JusotChD5BU"><em>“Rimanya na widi nda</em></a><em>” </em>and “<a href="https://www.youtube.com/watch?v=R38A09-mm8c"><em>Mbawa Rimangu na annanduma luri mu</em></a>” have both become a bridge for the Marapu community to directly communicate and receive information and relevant health recommendations from the World Health Organisation and national and local governments in a culturally familiar and appropriate context. These songs show that traditional local culture is an effective medium to communicate current global and domestic issues to minority language communities or any marginalised groups.</p>

		</div> 
	</div> </div></div></div></div></div><div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Authors</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em>Fendi Widianto of EngageMedia is a communication enthusiast who is motivated and dedicated to community development, creative participatory development for vulnerable groups (including disability groups and disadvantage children), and youth empowerment.</em></p>
<p><em>Joseph Lamont is an Australian producer, composer and film documenter. Joseph has recently assisted projects supported by the Ciptamedia/Ford Foundation and Voice concerned with supporting female traditional musicians and documenting and sustaining Marapu traditional music in East Sumba, Indonesia.</em></p>
<p><em>This article is inspired by stories and knowledge from Jekshon and Kahi Ata Ratu.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/indonesia-marapu-song/">Singing about global issues – and COVID-19 – with the Marapu community</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/indonesia-marapu-song/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
	</channel>
</rss>
