<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: How Health Security and Individual Privacy Can Go Hand in Hand	</title>
	<atom:link href="https://coconet.social/2020/covid-health-security-privacy-thailand/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/covid-health-security-privacy-thailand/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 16 Jul 2020 09:19:06 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: EngageMedia &#124; Pretty Good Podcast Episode 3: AI and its role in COVID-19 responses		</title>
		<link>https://coconet.social/2020/covid-health-security-privacy-thailand/#comment-43</link>

		<dc:creator><![CDATA[EngageMedia &#124; Pretty Good Podcast Episode 3: AI and its role in COVID-19 responses]]></dc:creator>
		<pubDate>Thu, 16 Jul 2020 09:19:06 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=958#comment-43</guid>

					<description><![CDATA[[&#8230;] How Health Security and Individual Privacy Can Go Hand in Hand: Pitting privacy and health against each other is a false dichotomy. Back in March, we wrote about how Thailand is dealing with this dynamic. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] How Health Security and Individual Privacy Can Go Hand in Hand: Pitting privacy and health against each other is a false dichotomy. Back in March, we wrote about how Thailand is dealing with this dynamic. [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Coconet Digital Rights		</title>
		<link>https://coconet.social/2020/covid-health-security-privacy-thailand/#comment-24</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet Digital Rights]]></dc:creator>
		<pubDate>Thu, 23 Apr 2020 06:03:14 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=958#comment-24</guid>

					<description><![CDATA[[&#8230;] Globally, the COVID-19 pandemic has deepened concerns regarding government surveillance and the price of digital privacy. It has also unleashed a disturbing rise in [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Globally, the COVID-19 pandemic has deepened concerns regarding government surveillance and the price of digital privacy. It has also unleashed a disturbing rise in [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
