<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>EngageMedia &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/engagemedia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 16 Apr 2020 03:09:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>EngageMedia &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>In Myanmar, Digital Rights Are Integral to Policy and Advocacy</title>
		<link>https://coconet.social/2020/myanmar-digital-rights-forum-2020/</link>
					<comments>https://coconet.social/2020/myanmar-digital-rights-forum-2020/#comments</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Thu, 05 Mar 2020 06:00:09 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Featured]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[EngageMedia]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=882</guid>

					<description><![CDATA[<p>Members of the Coconet community took part in the fourth Myanmar Digital Rights Forum (MDRF), which focused on the importance of digital rights in the face of disinformation, internet shutdowns, and emerging technologies.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-digital-rights-forum-2020/">In Myanmar, Digital Rights Are Integral to Policy and Advocacy</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/20200304-MDRF_Keynote-1024x576.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1841" height="1036" src="wp-content/uploads/2020/03/20200304-MDRF_Keynote.jpg" class="vc_single_image-img attachment-full" alt="Ambassador of Sweden to Thailand, Myanmar, and Laos PDR Staffan Herrstrom shares in his keynote speech that he is excited to listen and learn more about digital rights in the region at the fourth Myanmar Digital Rights Forum in Yangon." sizes="(max-width: 1841px) 100vw, 1841px" /></div></a>
			<figcaption class="vc_figure-caption">Ambassador of Sweden to Thailand, Myanmar, and Laos PDR Staffan Herrstrom shares in his keynote speech that he is excited to listen and learn more about digital rights in the region at the fourth Myanmar Digital Rights Forum in Yangon.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Members of the Coconet community took part in the fourth <a href="https://www.digitalrightsmm.info/">Myanmar Digital Rights Forum (MDRF)</a>, which focused on the importance of digital rights in the face of disinformation, internet shutdowns, and emerging technologies.</p>
<p>Held on Feb. 28 and 29, 2020, at the Rose Garden Hotel in Yangon, the MDRF was organised by Phandeeyar, Myanmar ICT for Democracy Organisation (a partner during<a href="https://coconet.social/2019/coconet-collaborations-asia/"> Coconet II)</a>, Myanmar Centre for Responsible Business (MCRB), and Free Expression Myanmar. This year&#8217;s conference hosted over 350 attendees and speakers from government, businesses, and civil society, making it the largest digital rights forum in Southeast Asia.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> We cannot afford to assume that digital rights will evolve at the same rate that the internet has.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> - Jes Kaliebe Petersen, CEO of Phandeeyar  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Two important events in Myanmar framed many of the discussions over the two-day forum: the upcoming elections in late 2020 and the internet shutdown in Rakhine and Chin states, which is going on its eighth month and has led to <a href="https://www.reuters.com/article/us-myanmar-internet-idUSKCN20I16X">charges against nine students</a> who organised protests against it.</p>
<p>Sessions that directly tackled these issues attracted the most attendees. Facebook representatives shared what it was doing to curb disinformation in the region.</p>
<p>Digital rights activist and Coconet I participant Daw Ei Myat Noe Khin, in her keynote speech, reiterated the calls to <a href="https://twitter.com/malkhin/status/1233239305411104772">end the government shutdown</a>.</p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>On the first day of MDRF, the Coconet community also joined <a href="https://twitter.com/hashtag/StopInternetShutdownMM">a worldwide social media campaign</a> calling for the lifting of the internet shutdown.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/MDRF_Coconutz-1024x642.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2048" height="1283" src="wp-content/uploads/2020/03/MDRF_Coconutz.jpg" class="vc_single_image-img attachment-full" alt="Coconut I participant Htaike Htaike Aung from the Myanmar ICT for Development Organisation is among the &quot;coconutz&quot; who were at the digital rights forum." sizes="(max-width: 2048px) 100vw, 2048px" /></div></a>
			<figcaption class="vc_figure-caption">Coconut I participant Htaike Htaike Aung from the Myanmar ICT for Development Organisation is among the &quot;coconutz&quot; who were at the digital rights forum.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Other important issues surrounding digital rights that were discussed during the event were:</p>

		</div> 
	</div> <div class=ordered></p>
<ol>
<li>Myanmar&#8217;s digital culture</li>
<li>Threats to freedom of expression online</li>
<li>Claiming ownership over your own data</li>
<li>National security vs right to information</li>
<li>Surveillance and the smart city</li>
<li>Creating a digitally accessible Myanmar</li>
<li>Artificial intelligence (AI)</li>
<li>Deepfakes</li>
<li>Women&#8217;s rights online</li>
<li>Data protection and cybersecurity</li>
<li>Digital content restrictions in Myanmar</li>
<li>Bridging the legal gap in digital rights</li>
</ol>
<p></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/MDRF_Red-1024x683.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2048" height="1365" src="wp-content/uploads/2020/03/MDRF_Red.jpg" class="vc_single_image-img attachment-full" alt="Red Tani of EngageMedia facilitates discussions on the benefits and consequences of using AI to further advocacies such as mental health and women&#039;s rights." sizes="(max-width: 2048px) 100vw, 2048px" /></div></a>
			<figcaption class="vc_figure-caption">Red Tani of EngageMedia facilitates discussions on the benefits and consequences of using AI to further advocacies such as mental health and women&#039;s rights.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Members of the Coconet community who attended either or both Coconet camps also served as speakers and panellists at the conference, sharing personal experiences on topics related to digital rights. Wu Min Hsuan shared examples from Taiwan on the digital risks during elections. Gaya Khandhadai of the Association for Progressive Communications shared how she was targeted online based on her gender and religion. Witness.org, also a Coconet partner, talked about deepfakes and how this affects Southeast Asia.</p>

		</div> 
	</div> <div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 20px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>EngageMedia&#8217;s Darika Bamrungchok and Red Tani were also among the forum&#8217;s speakers and panellists. On Day One, Red facilitated an open session titled, &#8220;Artificial Intelligence and Digital Rights in Southeast Asia&#8221;. The session began with a short video summarising the research of Dr. Jun-E Tan on <a href="https://coconet.social/2019/human-rights-artificial-intelligence-southeast-asia/">AI and its uses, implications, and consequences in the region</a>. It ended with attendees breaking out into smaller groups to identify how AI can both empower but detract from digital rights and other advocacies. There was also a consensus among participants that whether AI is good in the present and for the future, we need to first understand what exactly AI is in the first place.</p>
<p>Day Two had Darika as a panellist in the session titled, &#8220;Staying Safe: What does Myanmar need to do to put data protection and cybersecurity at the core of the digital revolution?&#8221;. Here she talked about Thailand&#8217;s <a href="https://thainetizen.org/wp-content/uploads/2019/11/thailand-personal-data-protection-act-2019-en.pdf">Personal Data Protection Act</a> and how its implementation can relate to and affect the Myanmar context. She was joined by other panellists from Microsoft, Privacy International, and MCRB, as well as the Ambassador to the Kingdom of Netherlands in Myanmar.</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qode-simple-quote-holder ">
	<div class="qode-simple-quote-triangle-shadow">
		
	</div>
	<div class="qode-simple-quote-triangle" >
		
	</div>
	<div class="qode-simple-quote-holder-inner" >
		<div class="qode-simple-quote-icon-holder" ">
			<svg x="0px" y="0px" width="118px" height="97px" viewBox="0 0 118 97" enable-background="new 0 0 118 97" xml:space="preserve">
				<g>
					<path d="M31.1,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978c-4.332,3.34-9.031,5.009-14.102,5.009
						c-6.929,0-12.71-2.194-17.349-6.586c-4.639-4.389-6.958-10.298-6.958-17.72c0-6.926,2.348-12.71,7.051-17.349
						c4.7-4.639,10.452-6.958,17.256-6.958c9.77,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049
						c0,12.742-3.247,24.154-9.741,34.234C37.13,82.227,27.325,90.357,14.215,96.541l-3.525-6.865
						C18.604,86.336,25.409,81.113,31.1,73.998z M95.67,73.998c5.688-7.111,8.535-14.316,8.535-21.617c0-3.09-0.371-5.751-1.113-7.978
						c-4.206,3.34-8.906,5.009-14.102,5.009c-6.804,0-12.556-2.194-17.256-6.586c-4.702-4.389-7.051-10.298-7.051-17.72
						c0-4.575,1.113-8.721,3.34-12.432s5.195-6.616,8.906-8.721c3.711-2.102,7.729-3.154,12.061-3.154
						c9.771,0,17.256,4.021,22.451,12.061c4.329,6.68,6.494,15.029,6.494,25.049c0,12.742-3.247,24.154-9.741,34.234
						C101.7,82.227,91.896,90.357,78.785,96.541l-3.525-6.865C83.175,86.336,89.979,81.113,95.67,73.998z"/>
				</g>
			</svg>
		</div>
		<div class="qode-simple-quote-content-holder">
			<div class="qode-simple-quote-content-holder-inner">
				<div class="qode-simple-quote-text-holder" >
					<h2 class="qode-simple-quote-text-title"> Regulation is not always the solution. When it comes to disinformation, criminalising speech won’t address the issue. We need a rights-respecting way forward.  </h2>
				</div>
				<div class="qode-simple-quote-author-holder">
					<p class="qode-simple-quote-author-title"> - Daw Ei Myat Noe Khin, digital rights activist and Coconet I participant  </p>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://coconet.social/wp-content/uploads/2020/03/20200304-MDRF_Darika-1024x768.jpg" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1821" height="1366" src="wp-content/uploads/2020/03/20200304-MDRF_Darika.jpg" class="vc_single_image-img attachment-full" alt="Darika Bamrungchok of EngageMedia likens Thailand&#039;s Personal Data Protection Bill to the General Data Protection Regulation (GDPR) in the European Union." sizes="(max-width: 1821px) 100vw, 1821px" /></div></a>
			<figcaption class="vc_figure-caption">Darika Bamrungchok of EngageMedia likens Thailand&#039;s Personal Data Protection Bill to the General Data Protection Regulation (GDPR) in the European Union.</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Find out more about what transpired at MDRF by following the hashtags #digitalrightsMM and #MDRF2020.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Sara Pacia is the Communications and Engagement Coordinator of EngageMedia. A journalist by training and multimedia storyteller at heart, she is passionate about utilising and appropriating today’s digital technologies for the empowerment of the public and the improvement of media and data literacy.</p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/myanmar-digital-rights-forum-2020/">In Myanmar, Digital Rights Are Integral to Policy and Advocacy</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/myanmar-digital-rights-forum-2020/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
