<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Dianne Olivan &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/ijolivan/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Fri, 11 Dec 2020 06:54:49 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Dianne Olivan &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Coconet Virtual Reunion: Reaffirming solidarity amid COVID-19</title>
		<link>https://coconet.social/2020/coconet-reunion/</link>
					<comments>https://coconet.social/2020/coconet-reunion/#respond</comments>
		
		<dc:creator><![CDATA[Dianne Olivan]]></dc:creator>
		<pubDate>Thu, 03 Dec 2020 09:01:06 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[COVID-19]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4283</guid>

					<description><![CDATA[<p>Coconet community members reunited online on November 5, 2020, to collectively reflect on the pandemic's challenges not only to digital rights in the region but to civil society as a whole.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/coconet-reunion/">Coconet Virtual Reunion: Reaffirming solidarity amid COVID-19</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4285" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4285" class="wp-image-4285 size-large" src="wp-content/uploads/2020/12/Coco-Anniv-blog-photo-1024x534.png" alt="" width="1024" height="534" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4285" class="wp-caption-text">Screenshot shared with permission from reunion attendees</p></div>
<p>&nbsp;</p>
<p>Before the COVID-19 pandemic, it was never a surprise to see a fellow member of the Coconet community in a conference or project meeting anywhere around the globe. Community members, all former attendees of either the first or second <a href="https://coconet.social/camps/">Coconet digital rights camps</a>, often had to travel, as networking is an integral part of mainstreaming digital rights and strengthening solidarity among civil society actors in the region.</p>
<p>The pandemic, however, has put a halt to that. And not only that — soliciting and showing solidarity has been challenging in light of webinar and virtual meeting fatigue, the abrupt migration to virtual systems, and prolonged confinement in our respective homes, among other reasons.</p>
<p>In spite of all this, Coconet members reunited online on November 5, 2020, to collectively reflect on the pandemic&#8217;s challenges to the community. The online reunion was an anniversary celebration for participants from both camps, as these were held in the last week of October in 2017 and 2019, respectively. It was also a chance for members to share updates on our countries and local movements.</p>
<h3></h3>
<h3>Looking forward to the future</h3>
<p>The two-hour virtual gathering was attended by members from Cambodia, Indonesia, Myanmar, Nepal, Netherlands, Philippines, Taiwan, and Vietnam.</p>
<p>We jump-started the reunion by asking everyone to give one thing they were looking forward to in the future. Members’ responses were varied, from wishing for less cold winters to continuing to fight against companies with surveillance-based business models.</p>
<p>Still, the strongest hope for all was to see and bond with each other again in person. As activists, this hope is with the recognition that while we wait for physical interactions to happen again, we need to adapt and respond to the whole new set of challenges emphasised and unearthed by the pandemic. We also need to be ready to respond to how governments are taking advantage of the pandemic to increase state surveillance and stifle freedom of expression.</p>
<h3></h3>
<h3>Members’ concerns amid the pandemic</h3>
<p>Below are specific themes that were apparent over the course of the gathering:</p>
<h4>Difficulty in migrating to virtual systems</h4>
<p>While the members primarily belong to organisations working on digital rights, digital security, and internet freedom, some members still faced difficulties migrating to fully virtual systems due to the costs and inadequate time for orientation. Others also expressed concern about organisations opting for corporate tech products due to convenience, forgoing privacy concerns.</p>
<h4>Privacy and security concerns over digital ID systems</h4>
<p>In <a href="https://www.zdnet.com/article/academics-sign-petition-against-rollout-of-taiwanese-electronic-id-card/">Taiwan</a>, <a href="https://kathmandupost.com/national/2019/03/03/data-security-concerns-over-national-identity-card-project">Nepal</a>, and Indonesia, there is a stronger call for digitising national ID systems, but drafted implementing rules and regulations have had little to no provisions on data protection, privacy, and storage.</p>
<h4>Elections and digital rights</h4>
<p>In <a href="https://engagemedia.org/2020/pretty-good-podcast-08-myanmar">Myanmar</a>, <a href="https://www.aljazeera.com/news/2020/11/8/polls-open-in-myanmars-general-election">voting during the November 8 elections was cancelled in ethnic minority areas</a> due to the pandemic. Polls were also closed in Rakhine and Chin states, where the <a href="https://coconet.social/2020/anniversary-myanmar-internet-shutdown/">longest internet shutdown in the world</a> is ongoing and where the highest number of COVID-19 cases in the country have been recorded. These states are also in the middle of a civil war that has killed hundreds of civilians over the past two years. Protests against the shutdown and the civil war have led to activists being arrested and sentenced to jail. (<a href="https://coconet.social/2020/myanmar-statement-student-arrests/">Sign a joint statement here against the arrests.</a>)</p>
<p>Vietnam and Malaysia will also be having their elections soon. Members said they will be sure to be on the lookout for digital rights violations, especially with the increase of hate speech and disinformation online during this time.</p>
<h4>State attacks on media freedom and freedom of speech</h4>
<p>In Cambodia, there is a crackdown of dissenters <a href="https://asia.nikkei.com/Spotlight/Asia-Insight/Hun-Sen-cracks-down-on-Cambodia-s-slow-boiling-pot-of-dissent">criticising the government’s relationship with China</a>. There were reports of officials personally approaching journalists to take down articles that tackle China’s increasing role in Cambodia’s economy.</p>
<p>In the Philippines, the controversial <a href="https://www.theguardian.com/world/2020/jul/09/dutertes-anti-terror-law-a-dark-new-chapter-for-philippines-experts-warn">Anti-Terrorism Law</a> was passed in July 2020. The new law allows the state to tag any individual and group as alleged terrorists, and detain suspects for a maximum of 24 days,</p>
<p>In Thailand, the government had also attempted to <a href="https://coconet.social/2020/thailand-protests-media-ban/">ban four independent media outlets and a Facebook page</a> from broadcasting, claiming that they “threaten national security”. The ban has since been lifted, but <a href="https://twitter.com/hashtag/whatshappeninginthailand/">protests continue</a>.</p>
<p>In Vietnam, <a href="https://www.latimes.com/world-nation/story/2020-10-22/facebook-censorship-suppress-dissent-vietnam">Facebook is aiding the government to censor dissent</a>. Users who post any sentiment against the state can also be <a href="https://www.bangkokpost.com/world/1947372/vietnam-jails-facebook-user-for-8-years-over-anti-state-posts">jailed for a minimum of six years</a>.</p>
<h4>Attacks and surveillance during protests</h4>
<p>In Indonesia, protests against the Omnibus Law, <a href="https://engagemedia.org/2020/indonesia-omnibus-law/">which weakens labour rights and environmental protection laws</a>, erupted last month. Police were reported to have confiscated the phones and laptops of protesters, and have deployed upgraded surveillance planes in demonstration areas. Digital attacks, such as doxxing and <a href="https://www.forum-asia.org/?p=33140">an increase in anti-protest narratives</a>, have also been on the rise.</p>
<p>In Thailand, activists and protesters are subjected to sexual harassment and hate speech online to invalidate their campaigns.</p>
<h3></h3>
<h3>Together, we are never alone</h3>
<p>At the end of the reunion, members left with a keen sense of commitment to continue working together despite the challenges in organising movements in the time of the pandemic. Threats to digital rights may have increased, but that only makes the need to strengthen the movement in the region all the more urgent and necessary.</p>
<p>Most importantly, we left the call with a renewed belief that we are never alone in this fight for digital rights because we are all part of this movement together.</p>
<p>&nbsp;</p>
<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><i>Dianne Olivan is the EngageMedia Program Officer and point person for the <a href="https://engagemedia.org/projects/coconet/">Coconet</a> community.</i></p>
<p><em>If you or your organisation is a member of the Coconet community and need support, please do not hesitate to reach out to everyone via the community Mattermost. If you do not have access to it, please email at <a href="mailto:dianne@engagemedia.org">dianne@engagemedia.org</a>.</em></p>

		</div> 
	</div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/coconet-reunion/">Coconet Virtual Reunion: Reaffirming solidarity amid COVID-19</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/coconet-reunion/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
