<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Cyber Security Law &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/cyber-security-law/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 09 Mar 2021 02:40:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Cyber Security Law &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</title>
		<link>https://coconet.social/2021/myanmar-cyber-security-law/</link>
					<comments>https://coconet.social/2021/myanmar-cyber-security-law/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 24 Feb 2021 07:15:07 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Cyber Security Law]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4943</guid>

					<description><![CDATA[<p>Free Expression Myanmar analyses how and why the military's draft Cyber Security Law poses risks to human and digital rights to the people of Myanmar.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><em>This article on Myanmar&#8217;s proposed Cyber Security Law was originally written by and published in <a href="http://freeexpressionmyanmar.org/six-risks-from-myanmars-draft-cyber-security-law/">Free Expression Myanmar</a> (FEM), a Coconet community member, on February 14, 2021. It has been republished here with permission.</em></p>
<p><em>Days after this article&#8217;s original publication, the 2021 Electronic Transactions Law Amendment was enacted. The new amendment &#8220;<a href="http://freeexpressionmyanmar.org/myanmars-new-electronic-transactions-law-amendment/">includes several of the problematic criminal provisions</a>&#8221; proposed in the Cyber Security Law.</em></p>
<p>&nbsp;</p>
<div id="attachment_4955" style="width: 1034px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4955" class="wp-image-4955 size-large" src="wp-content/uploads/2021/02/Myanmar-Protest-1024x576.jpg" alt="" width="1024" height="576" sizes="(max-width: 1024px) 100vw, 1024px" /><p id="caption-attachment-4955" class="wp-caption-text">Photo by Htin Linn Aye, taken from Wikimedia Commons and used under the Creative Commons Attribution-Share Alike 4.0 International license</p></div>
<p>&nbsp;</p>
<p>This analysis outlines six serious risks posed by the Myanmar military government’s <a href="https://rsf.org/en/news/myanmars-junta-plans-draconian-cyber-security-law">draft “Cyber Security Law”</a>. It is based upon international standards relating to the right to freedom of expression. It builds upon a statement issued on February 11, 2021, by 250 civil society organisations in Myanmar, and other international statements.</p>
<p>The draft Cyber Security Law was circulated to stakeholders for feedback by February 15. The draft law has been under development for several years, and the circulated version is similar to the version from mid-2020 under the previous government.</p>
<h3>1. The military will have absolute control over Myanmar’s internet</h3>
<p>The draft law establishes a hierarchy of bodies overseen by and formed of representatives chosen by the military under the military’s governing State Administration Council (Arts. 5.a, 7, and 9). These oversight bodies are given absolute control over making internet and communications-related rules (Art. 6.a), implementing those rules (Art. 6.b), and investigating rule-breakers (Art. 12). Furthermore, the draft law also enables the Ministry of Defence to issue rules (Art. 88).</p>
<h3>2. Regulates people, communications, and companies internationally</h3>
<p>The draft law is unusual because it has a wide, extraterritorial reach, giving the military government an international jurisdiction as well as a normal domestic one. It creates international offences (Art. 2.a), applies to Myanmar citizens outside of Myanmar (Art. 1.a) and international organisations (Art. 6.h), and covers any form of international communications (Art. 1.c). This significantly extends the oppressive effect of Myanmar’s already restrictive domestic legal framework.</p>
<h3>3. Increase in criminalisation and long prison terms</h3>
<p>The draft law includes a variety of vague and overlapping crimes with three-year prison terms and fines, many of which do not have legitimate democratic aims. Three-year prison terms for misinformation or “fake” websites that cause “public panic, loss of trust or social division” are likely to be used to punish criticism (Arts. 64 and 65). Sharing “sexually explicit speech” – such as that currently being used by many Generation Z protesters – is also punished with a three-year prison term (Art. 68). Using false names or pseudonyms on Facebook will result in a three-year prison sentence (Art. 65). Several provisions include three-year prison terms for actions commonly done by whistleblowers (Arts. 57, 59, and 60). In addition to these disproportionate three-year prison terms, those convicted may also be charged under the Counter-Terrorism Law (Arts. 70 and 71).</p>
<h3>4. Internet intermediaries criminally liable for the content</h3>
<p>The draft law places both administrative and criminal liability on internet intermediaries such as Facebook, Google, and Telenor, while easing the military’s potential to ban them altogether. It includes a vague list of content that all “online service providers”, defined as “any person or business providing online services used in Myanmar”, must remove when ordered (Art. 29). The vague list includes for example, “verbal statements against any existing law” and is clearly intended to punish criticism. All “online service providers” must prepare in advance to receive orders (Art. 48), which may come from any person or organisation authorised by the military government (Art. 47).</p>
<p>If an intermediary does not comply with an order, the military government can issue a warning, fine, or temporary or permanent ban (Art. 72). Representatives of the intermediary will also face a criminal punishment of up to three years of imprisonment plus a fine (Art. 61).</p>
<h3>5. Eases network control and internet shutdown</h3>
<p>The draft law enables the military government to take direct control over network infrastructure and eases their ability to shut down the internet. It includes provisions for both temporary and permanent bans on any online service such as Facebook (Arts. 51.a and 51.c), and provisions for allowing the military government temporary control of any network devices (Art. 51.b). Bans must be in accordance with a vague “public interest”, presumably as defined by the military (Art. 51). The only so-called “safeguard” is that the military’s governing State Administration Council must approve the military-controlled ministry’s decision (Art. 51).</p>
<h3>6. Private data put under military control</h3>
<p>The draft law gives the military unfettered access to private data. It requires all “online service providers” such as Facebook, Google, and Telenor, to store vast quantities of personal private data including Citizenship Card numbers for at least three years (Art. 30). This data must be stored on servers designated by the military-controlled government (Art. 28.a), and be accessible for “national security” checks (Art. 59). There are no privacy safeguards (Art. 15) and data must be provided when requested (Art. 31). Any computer owned by anybody can be inspected on vague grounds (Art. 45).</p>
<h3>Recommendations</h3>
<p>The only institution in Myanmar with the constitutional mandate to adopt laws is the Union Parliament. Therefore, FEM rejects the draft Cyber Crime Law in its entirety. Nevertheless, FEM calls on all national and international stakeholders to remind the military government of their obligations under international law and Myanmar’s Constitution and to significantly revise any such “law” to address the six serious risks highlighted above.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-cyber-security-law/">#WhatsHappeningInMyamnmar: Six risks from Myanmar’s draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-cyber-security-law/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
