<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Films &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/films/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 12 Jan 2021 02:32:52 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Films &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</title>
		<link>https://coconet.social/2020/tech-tales-digital-rights-films/</link>
					<comments>https://coconet.social/2020/tech-tales-digital-rights-films/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Tue, 22 Dec 2020 08:03:49 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Films]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4445</guid>

					<description><![CDATA[<p>EngageMedia invites filmmakers, video journalists, and animators across the Asia-Pacific to produce short films on important digital rights issues happening in our region, as told with our voices and from our perspectives.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/tech-tales-digital-rights-films/">Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><img class="aligncenter wp-image-4447 size-large" src="wp-content/uploads/2020/12/Call-for-Applications_-Tech-Tales_1920x1080-1024x576.jpg" alt="" width="1024" height="576" sizes="(max-width: 1024px) 100vw, 1024px" /></p>
<p>EngageMedia invites filmmakers, video journalists, and animators across the Asia-Pacific to produce short films on important digital rights issues happening in our region, as told with our voices and from our perspectives. The produced works will be included in <a href="https://engagemedia.org/2020/tech-tales-application/">Tech Tales</a>, a film collection that will be used to further digital rights advocacy and campaigns.</p>
<p>Up to eight filmmakers will each be awarded between USD 3,000 and 5,000 to produce their respective films. Tech Tales accepts documentaries, fiction, animation, and other short narrative video productions.</p>
<p>Apply to Tech Tales by filling out the form at <a href="https://engagemedia.org/2020/tech-tales-application/">EngageMedia.org</a>. The deadline for applications has been extended to <em><strong>20 January 2021, 23:59 Bangkok time (UTC+7)</strong></em>.</p>
<p>If you encounter any errors in the application form, or have any questions about the <a href="https://engagemedia.org/projects/tech-tales/">Tech Tales project</a>, please feel free to <a href="https://engagemedia.org/contact/">reach out</a> via the EngageMedia contact page.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/tech-tales-digital-rights-films/">Funding Opportunity: Applications now open to produce &#8216;Tech Tales&#8217; digital rights films</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/tech-tales-digital-rights-films/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
