<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Monitoring the ruling vs 2019 internet shutdowns in Papua and West Papua	</title>
	<atom:link href="https://coconet.social/2020/papua-internet-shutdown-indonesia/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/papua-internet-shutdown-indonesia/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 13 Jul 2020 01:31:57 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: The case of Assa Asso: Filming protests is not treason &#124; Video4Change		</title>
		<link>https://coconet.social/2020/papua-internet-shutdown-indonesia/#comment-42</link>

		<dc:creator><![CDATA[The case of Assa Asso: Filming protests is not treason &#124; Video4Change]]></dc:creator>
		<pubDate>Mon, 13 Jul 2020 01:31:57 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1475#comment-42</guid>

					<description><![CDATA[[&#8230;] accused of restricting freedom of expression in Indonesia, Papua, and West Papua, such as when it slowed and shut down the internet in Papua and West Papua in 2019 following anti-racism protests in these areas and various regions in [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] accused of restricting freedom of expression in Indonesia, Papua, and West Papua, such as when it slowed and shut down the internet in Papua and West Papua in 2019 following anti-racism protests in these areas and various regions in [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Coconet &#124; Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta		</title>
		<link>https://coconet.social/2020/papua-internet-shutdown-indonesia/#comment-35</link>

		<dc:creator><![CDATA[Coconet &#124; Pemblokiran Internet di Papua dan Papua Barat vs Kelanjutan Putusan Majelis Hakim PTUN Jakarta]]></dc:creator>
		<pubDate>Mon, 15 Jun 2020 01:57:49 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=1475#comment-35</guid>

					<description><![CDATA[[&#8230;] Read this article in English [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Read this article in English [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
