<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Digital Safety &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/digital-safety/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 24 Feb 2021 07:19:54 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Digital Safety &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Digital security and safety resources in Burmese now available in one database</title>
		<link>https://coconet.social/2021/myanmar-digital-security-safety-resources/</link>
					<comments>https://coconet.social/2021/myanmar-digital-security-safety-resources/#respond</comments>
		
		<dc:creator><![CDATA[Sara Pacia]]></dc:creator>
		<pubDate>Thu, 18 Feb 2021 03:20:55 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Digital Safety]]></category>
		<category><![CDATA[Digital Security]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4884</guid>

					<description><![CDATA[<p>In support of the people of Myanmar protesting against the human and digital rights violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a list of digital security and safety resources in the Burmese language.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4886" style="width: 710px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-4886" class="size-medium wp-image-4886" src="wp-content/uploads/2021/02/Digital-Tea-House-700x311.png" alt="" width="700" height="311" sizes="(max-width: 700px) 100vw, 700px" /><p id="caption-attachment-4886" class="wp-caption-text">A screenshot from the Digital Tea House campaign by MIDO</p></div>
<p>&nbsp;</p>
<p>In support of the people of Myanmar protesting against the <a href="https://globalvoices.org/2021/02/01/what-happened-in-myanmar-on-the-first-day-of-the-coup/">human</a> and <a href="https://engagemedia.org/2021/myanmar-digital-rights-democracy/">digital rights</a> violations by the military, civil society organisations working in Myanmar or on Myanmar issues have published on Gitlab a <em><strong><a href="https://gitlab.com/digisea/myanmar-burmese">list of digital security resources in Burmese</a></strong></em>. Localising digital safety resources are more important than ever, as Myanmar is on the brink of passing a controversial <a href="https://www.article19.org/resources/myanmar-scrap-cyber-security-draft-law-and-restore-full-internet-connectivity/">Cyber Security Bill</a> that will further restrict internet access and freedom of expression online.</p>
<p>Among the contributors to this living Gitlab repository are the following Coconet community members: <a href="https://myanmarido.org/">Myanmar ICT Development Organisation</a> (MIDO), <a href="http://freeexpressionmyanmar.org/">Free Expression Myanmar</a>, and <a href="https://www.facebook.com/witnessasia/">WITNESS Asia</a>.</p>
<p>As of posting, you can access the following resources in the Burmese language.</p>
<ol>
<li><a href="https://digitalteahouse.info/">Digital Tea House</a>, a campaign by MIDO to promote digital safety awareness in Myanmar</li>
<li>A <a href="http://freeexpressionmyanmar.org/wp-content/uploads/2021/02/myanmar-protesters-toolkit.pdf">Myanmar Protesters Toolkit</a> by Free Expression Myanmar</li>
<li>Mini guides by WITNESS on <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/VIDEO%20AS%20EVIDENCE-MINI%20GUIDES%20in%20Burmese.pdf">using video as evidence of human and digital rights abuses</a></li>
<li>A <a href="https://drive.google.com/file/d/1sTuOjE-HUCHEQlcNHMdWicbD0yu9Nzbb/view">risk mitigation and management guide</a> promoted by MIDO that details communication strategies for frontline journalists and others in Myanmar in case of internet disruption</li>
</ol>
<p>Aside from these guides, you can also access another <a href="https://bubbles.sevensnails.com/Guides_Tips_Readings/">list of guides and readings from other organisations that have been localised in Burmese</a>. Protestos.org has also translated some of its <a href="https://protestos.org/my.html">guides on protesting</a> to Burmese.</p>
<p>If you would like to contribute a resource to this space, please contact us at <a href="mailto:contribute@coconet.social">contribute@coconet.social</a>. The Gitlab will be updated as more resources are curated and verified.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-digital-security-safety-resources/">Digital security and safety resources in Burmese now available in one database</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-digital-security-safety-resources/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
