<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Electronic Transactions Law &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/electronic-transactions-law/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 09 Mar 2021 02:36:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Electronic Transactions Law &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Myanmar Civil Society Statement on the draft Cyber Security Law</title>
		<link>https://coconet.social/2021/myanmar-statement-cyber-security-bill/</link>
					<comments>https://coconet.social/2021/myanmar-statement-cyber-security-bill/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Wed, 03 Mar 2021 04:17:29 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Cyber Security Bill]]></category>
		<category><![CDATA[Electronic Transactions Law]]></category>
		<category><![CDATA[Myanmar]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=4952</guid>

					<description><![CDATA[<p>This statement by civil society organisations in Myanmar was originally published in Free Expression Myanmar, a Coconet community member, on February 11, 2021. It has been republished here with permission. For more timely updates on #WhatsHappeningInMyanmar, check out and follow the Twitter accounts of Coconet members Free Expression Myanmar and Myanmar ICT for Development Organisation (MIDO).</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-statement-cyber-security-bill/">Myanmar Civil Society Statement on the draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div id="attachment_4965" style="width: 1034px" class="wp-caption aligncenter"><a href="https://commons.wikimedia.org/wiki/File:Protesters_participate_in_an_anti-military_rally.jpg"><img aria-describedby="caption-attachment-4965" class="size-large wp-image-4965" src="wp-content/uploads/2021/02/Protesters_participate_in_an_anti-military_rally-1024x605.jpg" alt="Protesters participate in an anti-military rally in downtown Yangon" width="1024" height="605" sizes="(max-width: 1024px) 100vw, 1024px" /></a><p id="caption-attachment-4965" class="wp-caption-text">Protesters participate in an anti-military rally in downtown Yangon. Image by VOA Burmese via Wikimedia Commons. Public Domain.</p></div>
<p>&nbsp;</p>
<p><em>This <a href="http://freeexpressionmyanmar.org/civil-society-statement-on-the-so-called-cyber-security-bill/">statement</a> by civil society organisations in Myanmar was originally published in Free Expression Myanmar, a Coconet community member, on February 11, 2021. It has been republished here with permission.</em></p>
<p><em>For more timely updates on #WhatsHappeningInMyanmar, check out and follow the Twitter accounts of Coconet members <a href="https://twitter.com/FreeExpressMm/">Free Expression Myanmar</a> and <a href="https://twitter.com/myanmarido">Myanmar ICT for Development Organisation</a> (MIDO).</em></p>
<p>&nbsp;</p>
<p><strong>We, the undersigned civil society organizations, reject the so-called “Cyber Security Bill” drafted by the current military regime, which has not been entrusted by the people with legislative power. </strong></p>
<p>On 9 February 2021, the Ministry of Transport and Communications issued a directive enclosing the so-called “Cyber Security Bill” – which violates the principles of digital rights, privacy and other human rights – and circulated these documents to mobile operators and telecommunications license holders for comments.</p>
<p>Firstly, as this “bill” is not issued by an institution that has been entrusted with legislative power by the public to act accordingly, we do not accept this as a legitimate bill.</p>
<p>Secondly, the “bill” includes clauses that violate human rights including the rights to freedom of expression, data protection and privacy, and other democratic principles and human rights in the online space. As the “bill” is drafted by the current military regime to oppress those who are against its rule, and to restrict the mobilization and momentum of online resistance, we strongly condemn this action by the current military regime in accordance with our democratic principles.</p>
<p>The issuance of the “bill” is evidence that the military has not only attempted a coup d’état, but is also exercising undue legislative power unlawfully to oppress the public.</p>
<p>If this unlawful action by the current military regime is not denounced strongly in time, military oppression over the country will be long-lived and we, the undersigned civil society organizations, strongly condemn this action by the current military regime and issue the following statements –</p>
<p>1. We do not accept and strongly condemn the military coup d’état and demand the current military regime to return the power to the public immediately without any exceptions.</p>
<p>2. We do not accept, acknowledge or comply with this “bill” and directive as well as any other future “bills” that may be drafted by the current military regime in an attempt to oppress the people.</p>
<p>3. We strongly demand the current military regime to halt any undemocratic practices.</p>
<p><strong>Signed by:</strong></p>
<ol>
<li>Action Committee for Democratic Development (ACDD)</li>
<li>Action Group for Farmers Affair (AGFA – Mandalay)</li>
<li>Action Group for Farmers Affair (AGFA – Ayeyarwady)</li>
<li>Action Group for Farmers Affair (AGFA – Bago)</li>
<li>Action Group for Farmers Affair (AGFA – Magway)</li>
<li>Action Group for Farmers Affair (AGFA – Sagaing)</li>
<li>All Arakan Students’ and Youths’ Congress-AASYC</li>
<li>Arr Marn Thit Social Development Organization</li>
<li>Arakan CSO Network</li>
<li>Ananda Data</li>
<li>Ahlin Tagar Rural Development Organization</li>
<li>Athan – Freedom of Expression Activist Organisation</li>
<li>Ayyar Pyo May Women Development Organization</li>
<li>AYY Famar Union</li>
<li>Ayeyawady West Development Organization- AWDO (Magway Region)</li>
<li>Bandugavlar Civil Call(BCC)</li>
<li>Bee House</li>
<li>Chin Agency</li>
<li>Child Prevention Network</li>
<li>Citizen Action for Transparency (ပွင့်လင်းမြင်သာလူထုလှုပ်ရှားမှုအဖွဲ့)</li>
<li>Civic Engagement Development Network</li>
<li>Civic Engagement Network for M2</li>
<li>Community Association Development</li>
<li>Community Partners Myanmar (Nae Thit Foundation)</li>
<li>COMREG Community Response Group</li>
<li>Digital Rights Collective</li>
<li>Diversity and Public Truth</li>
<li>Doe Myae Civil Social Development Organization</li>
<li>Doe Myay Community Development Organization (Twantay)</li>
<li>Empower Youth Enlightenment (EYE)</li>
<li>Empowerment Society</li>
<li>Equality Myanmar</li>
<li>Famar Agricultural Network</li>
<li>Farmers Network (ဝမ်းတွင်း)</li>
<li>Farmers and Land Rights Action Group</li>
<li>Farmers Development and Environmental Watch Group</li>
<li>Free Expression Myanmar (FEM)</li>
<li>Free Education Service Organization</li>
<li>Freedom and labor Action Group</li>
<li>FREELAND Organization Lashio</li>
<li>Future Star (မတ္တရာ)</li>
<li>Future Star Youth Organization</li>
<li>Future Light Social Development Organization</li>
<li>Gender Equality Network</li>
<li>Genuine People’s Servants – GPS</li>
<li>GOAL Organization</li>
<li>Golden Future Social Development Organization</li>
<li>Golden Heart Organization</li>
<li>Green Justice Institute (GJI)</li>
<li>Helping Hands (Local Development Organization</li>
<li>Hkumzup Development Committee</li>
<li>Hope For Children  Development Organization</li>
<li>Htum Thit Sa Rural  Development Organization</li>
<li>Htoi Gender and Development Foundation</li>
<li>Human Rights Defenders &amp; Promoters (HRDP)</li>
<li>Human Rights Educators Network</li>
<li>Human Rights Foundation of Monland (HRFOM)</li>
<li>International Bridges to Justice (Myanmar)</li>
<li>Justice For All (လူ့အခွင့်အရေး ကာကွယ်စောင့်ရှောက်ခြင်းနှင့် တရားမျှတမှု့ )</li>
<li>Justice Movement for Community Inlay</li>
<li>Kaung Myat Hnalonethar Health Care Organization</li>
<li>Kan Chay Arr Man Fishery Development Organization</li>
<li>Kaung Rwai</li>
<li>Karenni State Farmer Union</li>
<li>Kayah Earthrights Action Network (KEAN)</li>
<li>Kachin State Women Network</li>
<li>Kachin Women Union</li>
<li>Kachin Women’s Association of Thailand (KWAT)</li>
<li>Kanaung Institute</li>
<li>Kanpetlet Land Development Organization</li>
<li>Karen Peace Support Network</li>
<li>Keng Tung Youth</li>
<li>KESAN Karen Environment and Social Action Network</li>
<li>Kings N Queens</li>
<li>Kyaukse Youth Network</li>
<li>Lamyan Farmers Network</li>
<li>LatButta Famar Union</li>
<li>Legal Knowledge Sharing Group</li>
<li>Let’s Help Each Other</li>
<li>LGBT rights Network</li>
<li>LAIN Technical Support Group</li>
<li>Light Social Development Organization</li>
<li>Lin lake Kyal Social Development Organization</li>
<li>Mandalay Affairs Team</li>
<li>Mandalay Community Center</li>
<li>Mandalay Regional Youth Association (MRYA)</li>
<li>Mandalay Regional Youth Network</li>
<li> Mandalay Women Political Federation (MWPF – မန္တလေး)</li>
<li>Mann Thingaha (Gender GBV Team)</li>
<li>Maramagri Youth Network</li>
<li>MATA(Sagaing)</li>
<li>Matupi Women Association</li>
<li>Meiktila Youth Network</li>
<li>Minhla Youth Center</li>
<li>Muditar Organization</li>
<li>Myanmar Media Lawyers’ Network</li>
<li>Myan ICT for Development Organisation (MIDO)</li>
<li>Myanmar Cultural Research Society (MCRS)</li>
<li>Myanmar Deaf Society</li>
<li>Myanmar Fifth Estate</li>
<li>Myanmar Independent Living Initiative</li>
<li>Myanmar Muslim Youth Association (Kachin State)</li>
<li>Myanmar People Alliance (Shan State)</li>
<li>National Network for Education Reform</li>
<li>Natural Green Alliance (သဘာဝစိမ်း သဘာဝပါတ်ဝန်းကျင်ထိန်းသိမ်းရေး မိတ်ဖက် အင်အားစု)</li>
<li>Never End Tomorrow(NeT)</li>
<li>Network for Human Rights Documentation Burma (ND-Burma)</li>
<li>Ninggawn Institute (NI)</li>
<li>Northern Spectrum Youth Association</li>
<li>Nyan Lynn Thit Analytica</li>
<li>Open Development Foundation</li>
<li>Our Home</li>
<li>Our Lovely World</li>
<li>Olive Organization</li>
<li>P.D.C.E (Peace, Development &amp; Civic Engagement)</li>
<li>Paung Ku</li>
<li>Pa-O Women’s Union</li>
<li>Pan Thi Kyo LGBT Organization</li>
<li>Paungsee Myittar Organization</li>
<li>Peace &amp; Development Center (Meikhtila)</li>
<li>Peace Development Committee (မိတ္ထီလာ)</li>
<li>PEN Myanmar (ပဲန်မြန်မာ)</li>
<li>Phyu Sin Myittar Social Development Organization</li>
<li>Pluralistic Society</li>
<li>Pone Yate Sit Regional Development Organization</li>
<li>Progressive Voice</li>
<li>Pwint Phyu Development Organisation</li>
<li>Pyi Gyi Khin</li>
<li>Rule of law watch group</li>
<li>Rural Social Development Organization</li>
<li>SarPhyu Famar Network</li>
<li>Sarnar Kyi Phyu Social Development Organization</li>
<li>Sandhi Governance Institute</li>
<li>Saytana Shaesaung Youth Organization</li>
<li>Second Tap Root (ဒုတိယရေသောက်မြစ်)</li>
<li>Shan MATA</li>
<li>Shan State Ethnic Youth Federation</li>
<li>Shan State Peace Task Force (သျှမ်းပြည်နယ်ငြိမ်းချမ်းရေးအလုပ်အဖွဲ့)</li>
<li>Shan Women Development Network</li>
<li>Shan Youth Yangon</li>
<li>Shwechinthae Social Service Group (Shwebo)</li>
<li>Shwe Nathar Famar Development Organization</li>
<li>Smile Myanmar</li>
<li>Socio- Economic &amp; Gender Resource Institute</li>
<li>Social Care Volunteer Group (SCVG)</li>
<li>Southern Youth Development Organisation</li>
<li>SPACE</li>
<li>Spectrum Organization</li>
<li>Student Voice</li>
<li>Summer Shelter Library</li>
<li>Swam Su Ti Rural Development Organization</li>
<li>Ta’ang Women’s Organisation</li>
<li>Tai Youth Organization – TYO</li>
<li>TEN, Taunggyi Education Network</li>
<li>Thazi Youth Network</li>
<li>The Seagull: Human Rights, Peace &amp; Development Pluralistic Society</li>
<li>The Khumi Institute (TKI)</li>
<li>TRI STAR</li>
<li>Triangle Women Support Group</li>
<li>TRY Organization</li>
<li>Uakthon Local Social Development Organization</li>
<li>Unity Arch Bridge Organization</li>
<li>Waingmaw CSO Network</li>
<li>White Marker Group</li>
<li>Win Peace</li>
<li>Women &amp; Youth’s Development Organization (WYDO)</li>
<li>Worker Development Organization</li>
<li>Women Development Organization</li>
<li>Women organization Network ( WON )</li>
<li>Yatanar Youngyi Social Development Organization</li>
<li>Yai Ywal Yar Youth Development Organization</li>
<li>Yi Ywal Yar Community Development</li>
<li>Youth Champion Network</li>
<li>Youth/29 Creative Society</li>
<li>Young Ni Oo Women Social Development Organization</li>
<li>Young Ni Oo Social Development Organization</li>
<li>၈၈ငြိမ်းပွင့် စဉ့်ကူး</li>
<li>၈၈ငြိမ်းပွင့် မြစ်သား</li>
<li>၈၈ငြိမ်းပွင့် မိထ္တီလာ</li>
<li>၈၈ငြိမ်းပွင့် သပိတ်ကျင်း</li>
<li>၈၈ငြိမ်းပွင့် သာစည်</li>
<li>ကျောက်ပန်းတောင်း လူငယ်ကွန်ယက်</li>
<li>ခြေလှမ်းသစ်လူမှုဖွံ့ဖြိုးရေးအဖွဲ့</li>
<li>စိမ်းရောင်စို (တံတားဦး)</li>
<li>စိမ်းရောင်စို Activities</li>
<li>တမာရိပ်</li>
<li>တောင်သမန်ကွန်ယက်</li>
<li>ဒို့တိုးတက်ရာ အစည်းအရုံး</li>
<li>ဒို့တောင်သူလယ်သမားအဖွဲ့</li>
<li>ဒို့မြေကွန်ရက်</li>
<li>“ဒို့”တောင်သူလယ်သမားအဖွဲ့အစည်း(ဝမ်းတွင်း)</li>
<li>ပျော်ဘွယ် လူငယ်ကွန်ယက်</li>
<li>ပွင့်ဖြူလယ်ယာမြေကွန်ရက် (မကွေးတိုင်း)</li>
<li>မဇ္စျိမမေတ္တာ ရေလှူအသင်း (မိတ္ထီလာ)</li>
<li>မကွေးတိုင်းဒေသကြီးအရပ်ဘက်လူမှုအဖွဲ့အစည်းများ မဟာမိတ်အဖွဲ့</li>
<li>မင်းလတောင်သူအစုအဖွဲ့။</li>
<li>မတ္တရာ လူငယ်ကွန်ယက်</li>
<li>မန္တလေးတိုင်းဒေသကြီး လူငယ်ရေးရာကော်မတီ ကိုယ်စားလှယ်များ</li>
<li>မကွေးတိုင်းဒေသကြီးလူငယ်ကွန်ယက်</li>
<li>မြစ်ကွေ့ဧရာလူမှုကွန်ရက်(မကွေးမြို့)</li>
<li>မြေလတ်မျိုးဆက်အင်စတီကျု</li>
<li>မြင်းခြံ နိုင်ကျဉ်းအဖွဲ့</li>
<li>မြင့်မြတ်ဧရာဝတီ လူငယ်လူမှု့ကွန်ယက်</li>
<li>မြေလတ်မျိုးဆက်အင်စတီကျု</li>
<li>မေမြို့ တောင်သူကွန်ယက်</li>
<li>ယုံကြည်ရာ အသိပညာပြန့်ပွားရေးအသင့်</li>
<li>ရွှေခြင်္သေ့တောင်သူကွန်ရက်(ရွှေဘိုခရိုင်)</li>
<li>ရွှေခြံအားမာန်အဖွဲ့ မြင်းခြံ</li>
<li>ရွှေမင်းသားဖောင်ဒေးရှင်း</li>
<li>ရွှေမင်းသား မသန်စွမ်း ဖောင်ဒေးရှင်း ( မြန်မာ )</li>
<li>ရှစ်လေးလုံးသွေးသစ် (မိုးညှင်း)</li>
<li>လက်လှမ်းမှီရေးအဖွဲ့</li>
<li>လွတ်လပ်သောအရှိုချင်အမျိုးသားများအင်အားစု</li>
<li>ဝိုင်းမော်မြို့နယ်လုံးဆိုင်ရာ သျှမ်းလူငယ်များစည်းလုံးညီညွတ်ရေးအဖွဲ့</li>
<li>ဝါးစိမ်းတောင်ကာကွယ်စောင့်ကြည့်ရေးကော်မတီ (WPWC)</li>
<li>သင့်မြတ်လိုသူများ ငြိမ်းချမ်းရေးပရဟိတအဖွဲ့</li>
<li>သုခမိန်အင်စတီကျု</li>
<li>သုခုမခရီးသည်အဖွဲ့</li>
<li>အမျိုးသမီးနိုင်ငံရေး အင်အားစု</li>
<li>အိမ်ယာမဲ့ပြည်သူများ အစည်းအရုံး</li>
<li>အောင်သာစည်အဖွဲ့</li>
<li>Gender and Development Institute</li>
<li>Good Shepherd Myanmar Foundation (GSMF)</li>
<li>Kachin Women Peace Network</li>
<li>Muditar Foundation</li>
<li>Myanmar Positive Women Network</li>
<li>Mandalar Yaung Sin</li>
<li>Myanmar Independent Living Initiative- MILI</li>
<li>National Network of Rural Women- May Doe Kabar</li>
<li>Phan Tee Eain (Creative Home)</li>
<li>POINT</li>
<li>Progetto Continenti</li>
<li>Ratana Metta Organization</li>
<li>Sex Worker in Myanmar Network</li>
<li>Spectrum (SDKN)</li>
<li>Socio-Economic &amp; Gender Resource Institute Myanmar</li>
<li>Student Christian Movement Myanmar</li>
<li>Women’s Federation for Peace</li>
<li>Generation Wave</li>
</ol>
<p>The post <a rel="nofollow" href="https://coconet.social/2021/myanmar-statement-cyber-security-bill/">Myanmar Civil Society Statement on the draft Cyber Security Law</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2021/myanmar-statement-cyber-security-bill/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
