<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Media Freedom &#8211; Coconet</title>
	<atom:link href="https://coconet.social/tag/media-freedom/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 03 Nov 2020 09:59:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Media Freedom &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Silencing the Media Won&#8217;t Stop the Thailand Protests</title>
		<link>https://coconet.social/2020/thailand-protests-media-ban/</link>
					<comments>https://coconet.social/2020/thailand-protests-media-ban/#comments</comments>
		
		<dc:creator><![CDATA[Sek Sophal]]></dc:creator>
		<pubDate>Thu, 22 Oct 2020 06:47:55 +0000</pubDate>
				<category><![CDATA[Activism]]></category>
		<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Democracy]]></category>
		<category><![CDATA[Media Freedom]]></category>
		<category><![CDATA[Thailand]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3824</guid>

					<description><![CDATA[<p>The Thai government has banned four independent media outlets and a Facebook page from generating and broadcasting any news content under the premise that these organisations pose a major threat to national security. The government’s decision to ban these groups, however, is both misleading and counterproductive.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protests-media-ban/">Silencing the Media Won&#8217;t Stop the Thailand Protests</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3824" class="elementor elementor-3824" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-15bc21f4 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="15bc21f4" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7f9391eb" data-id="7f9391eb" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-d845a5f elementor-widget elementor-widget-image" data-id="d845a5f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="1024" height="681" src="wp-content/uploads/2020/10/Thailand-Prachatai.jpg" class="attachment-large size-large" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />											<figcaption class="widget-image-caption wp-caption-text">Photo by Prachatai, used under the The Foundation for Community Educational Media 2006 (cc) BY-NC license.</figcaption>
										</figure>
								</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-b079a51 elementor-widget elementor-widget-spacer" data-id="b079a51" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-18ae7e9e elementor-widget elementor-widget-text-editor" data-id="18ae7e9e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>In Thailand, the <a href="https://coconet.social/2020/thailand-student-online-activism-covid/">youth-led pro-democracy movement</a> is showing no signs of retreat despite the latest <a href="http://web.krisdika.go.th/data/document/ext810/810259_0001.pdf">state of emergency decree</a> banning public gatherings of more than four people. The Thai government, however, also issued on October 16, 2020 an order to ban four independent media outlets and a Facebook page from generating and broadcasting any news content under the premise that these organisations pose a major threat to national security. The groups in question are <a href="https://voicetv.co.th/">Voice TV</a>, <a href="https://prachatai.com/">Prachathai</a>, <a href="https://www.thereporters.co/">The Reporters</a>, and <a href="https://thestandard.co/">The Standard</a>, as well as the Facebook page of the <a href="https://www.facebook.com/FreeYOUTHth">Free Youth</a> movement. The decree was signed by National Police Chief <a href="https://www.bangkokpost.com/thailand/politics/2004507/police-move-to-silence-news-facebook-platforms">Suwat Jangyodsuk</a> and at the request of the National Broadcasting and Telecommunications Commission and the Digital Economy and Society.</p><p><a style="font-family: var( --e-global-typography-text-font-family ); font-weight: var( --e-global-typography-text-font-weight );" href="https://prachatai.com/english/node/8863" target="_blank" rel="noopener">The ban on these groups, however, has since been lifted</a>, following an October 21 court order by the Criminal Court. The Court cited Section 35 (1) and (2) of the Constitution, which indicate that &#8220;a media professional shall enjoy the liberty to present news or express opinions in accordance with professional ethics&#8221;, and that &#8220;the closure of a newspaper or other mass media in deprivation of the liberty under paragraph one shall not be permitted&#8221;.</p><p>Despite the lifting of the ban, the government’s decision to even attempt it was both misleading and counterproductive. If the Thai government believed that banning the four media houses would have stopped or weakened the ongoing protests, it was sorely mistaken.</p><h3><strong>Protest communications go beyond media</strong></h3><p>Even before the current protests, Voice TV, Prachathai, The Reporters, and The Standard have long played a critical role in generating comprehensive and independent media content for the Thai public. And with their consistently high-quality content, professionalism, and code of ethics, the popularity of these media organisations has only increased. For instance, the <a href="https://www.youtube.com/user/VoiceTVHD">YouTube channel of Voice TV</a> surged to over 2 million subscribers during its coverage of the protests, currently making it one of the most popular news media outlets in the country.</p><p>If the intent of the Thai government with this decree is to stop news of the protests from spreading, it seems this is the wrong choice of strategy. Even though many Thai youths depend on these independent media outlets, several more online platforms are also producing the same kind of independent content. In addition, such content is also produced and shared on other channels of communication, such as on messaging applications Telegram, Line, and Signal.</p><p>Equally important as well is the fact that, while protesters rely mainly on media and other forms of communication to mobilise, these organisations have nothing to do with the students’ communication, coordination, and management of the protests. Due to the advantages of social media platforms, the young protesters have become tactical in terms of organisational structure, information dissemination, time management, and protest management. For example, the latest protests in the past week at <em>Ratchaprasong, </em>Pathum Wan, Lat Phrao, and Asok intersection in Bangkok and other provinces clearly indicate how efficiently the students organised, coordinated, managed and controlled the protests. To manoeuvre the security forces, for instance, no information related to time and place of the protest is available until the last hour. Moreover, the protests take place simultaneously in several places within a specific period of time. The protests on Sunday, October 18, for instance, took place in several different places in Bangkok and <a href="https://www.abc.net.au/news/2020-10-19/protesters-in-thailand-carry-on-despite-police-warning/12780838">12 provinces</a> nationwide. To avoid unnecessary clashes with the security forces, the protest leaders quickly adjourn the protests and demobilize people, while the security forces are on their way to the protest site.</p><h3><strong>Another sign of policy failure</strong></h3><p>Sweeping to power by the military coup in May 2014, Thai Prime Minister Prayut Chan-o-cha is known in Thailand for not being friendly to any independent media. As the protests against his government keep growing across the country,  the decision to ban the four independent media houses is nothing but another sign of policy failure to handle the situation, where the legitimate power to rule is being questioned.</p><p>In fact, this move could fuel the protests even further. Since October 13, there have been daily protests in Bangkok, largely due to ongoing arrests of some protest leaders and daily intimidation and harassment by the Thai authorities against people. That day, the police had arrested <a href="https://www.hrw.org/news/2020/10/13/thailand-over-20-democracy-activists-arrested">21 people</a>, including Jatuphat “Pai Dao Din” Boonpattararaksa. The following day, thousands of students mobilised and marched to the Government House to protest against the government and demanded the government release their detained friends.</p><p>There have been <a href="https://www.tlhr2014.com/?p=22039">246 protests in 62 provinces</a> over the last three months. As the protests continue, the number of people jailed by the government has skyrocketed, such as the arrest of <a href="https://www.hrw.org/news/2020/10/15/thailand-emergency-decree-pretext-crackdown">22 people</a> – among them protest leaders – right after the October 15 announcement of the emergency decree. According to the Thai Lawyer for Human Rights (TLHR), the government arrested no less than <a href="https://www.tlhr2014.com/?p=22156">81 people</a> from October 13 to 18. TLHR also reports that at least <a href="https://www.tlhr2014.com/?p=22039">65 people</a> are facing legal charges for their roles in the protests, on top of <a href="https://www.tlhr2014.com/?p=22039">145 cases of harassment</a> committed by the Thai security forces. It seems that the more the government arrests the protesters, the more the protests expand in size.</p><p>General Prayut, who rose to power after the 2014 military coup, is very powerful to even attempt to cut off a flowering tree. He can even order his tank brigade to destroy the entire garden. But, he might not be powerful enough to stop spring from coming. The end of Prayut’s government is no longer remotely far.</p><div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div><p><em><strong> </strong></em></p><p><em><strong>Sek Sophal</strong></em> <em>holds a Masters degree in Asia Pacific Studies from Ritsumeikan Asia Pacific University. He is a researcher for the Center for Democracy Promotion, <a href="http://en.apu.ac.jp/rcaps/">Ritsumeikan Center for Asia Pacific Studies</a>, at Ritsumeikan Asia Pacific University. He is also a project officer at the <a href="https://ccimcambodia.org/">Cambodian Center for Independent Media</a> (CCIM) in Cambodia. </em><em> The opinion expressed in the article is his personal opinion and does not necessarily represent the institution he is working for.</em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/thailand-protests-media-ban/">Silencing the Media Won&#8217;t Stop the Thailand Protests</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/thailand-protests-media-ban/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
