<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Shih-Shiuan Kao &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/wilson-kao/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Sat, 19 Sep 2020 01:36:50 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Shih-Shiuan Kao &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Assessing the Hong Kong National Security Law: What does it mean for civil society?</title>
		<link>https://coconet.social/2020/hong-kong-national-security-law/</link>
					<comments>https://coconet.social/2020/hong-kong-national-security-law/#respond</comments>
		
		<dc:creator><![CDATA[Shih-Shiuan Kao]]></dc:creator>
		<pubDate>Thu, 10 Sep 2020 05:00:41 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Hong Kong]]></category>
		<category><![CDATA[Hong Kong National Security Law]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2954</guid>

					<description><![CDATA[<p>Doublethink Lab summarises the Hong Kong National Security Law and details from a legal perspective how the law affects not only Hong Kong nationals but also individuals and civil society organisations in the region.</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/hong-kong-national-security-law/">Assessing the Hong Kong National Security Law: What does it mean for civil society?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_raw_code wpb_content_element wpb_raw_html" >
		<div class="wpb_wrapper">
			<iframe src="https://archive.org/embed/hong-kong-national-security-law-doublethinklab" width="100%" height="384" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Since its passing in June 30 this year, the controversial <a href="https://www.gld.gov.hk/egazette/pdf/20202444e/es220202444136.pdf">Hong Kong National Security Law</a> has been criticised for its weaponisation against critics of the state and curtailment of freedom of speech. Amnesty International writes that the law is &#8220;<a href="https://www.amnesty.org/en/latest/news/2020/07/hong-kong-national-security-law-10-things-you-need-to-know/">dangerously vague and broad</a>&#8220;, and has been abused since Day One. Critics have also denounced the law as an attack on freedom of expression, particularly in light of the arrests of Apple Daily founder <a href="https://edition.cnn.com/2020/08/14/media/jimmy-lai-interview-hnk-intl/index.html">Jimmy Lai</a> – whose trial began on August 20 – and pro-democracy activist <a href="https://www.bbc.com/news/world-asia-china-53746867">Agnes Chow</a>.</p>
<p>The law has also been likened to the <a href="https://lausan.hk/2020/against-emergency-hong-kong-and-philippines/">Philippine Anti-Terrorism Law</a>, as both laws &#8220;are not protecting the people from &#8216;separatists or &#8216;terrorists&#8217; but merely the state’s power to be judge, jury, and executioner over those who pose a danger to financial and political stability&#8221;.</p>
<p>For more information on the National Security Law, Shih-Shiuan Kao and Min Hsuan Wu from <strong><a href="https://doublethinklab.org/">Doublethink Lab</a></strong> have created a presentation that summarises the law and details from a legal perspective how the law affects not only Hong Kong nationals but also individuals and civil society organisations in the region who may work with or travel to Hong Kong in the foreseeable future.</p>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>This presentation is licensed under the <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="nofollow">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>. Please attribute the authors when sharing this presentation.</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><a href="mailto:wilsonkao@doublethinklab.org">Shih-Shiuan Kao</a> is the Legal Researcher of <a href="https://doublethinklab.org/">Doublethink Lab</a> (DTL), focusing on mapping the legal tools for the prevention of foreign interference around the world. Mr. Kao received his LL.M degree in Interdisciplinary Legal Studies at College of Law, National Taiwan University; and he’d worked for legislator Mei-Nu Yu, a senior lawyer and a well-respected human right advocate in Taiwan, as her legislative assistant, focusing on criminal policy, judicial reform and digital privacy.</em></p>
<p><em><a href="mailto:ttcat@doublethinklab.org">Min Hsuan Wu</a>, also known as “Ttcat,” is the co-founder and CEO of Doublethink Lab (DTL), a new organization that operates at the intersection of the Internet, public discourse, civil society, and democratic governance, researching modern threats to democracy and devising strategies to counter them. DTL is focused on mapping China’s online information operation mechanisms and facilitating the global CSO network to combat digital authoritarianism.</em></p>
<p><em>Mr. Wu is an activist and campaigner with a developer background. Since 2004, he has committed to LGBT+, human rights, green politics, opposition to nuclear power, and the Sunflower Movement in Taiwan. Mr. Wu has expertise in networking, creative strategy planning, as well as communication design and organisational managing. He has provided the civic tech community with perspectives from civil society and has focused on open government and digital rights over the past three years.</em></p>

		</div> 
	</div> </div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/hong-kong-national-security-law/">Assessing the Hong Kong National Security Law: What does it mean for civil society?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/hong-kong-national-security-law/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
