<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Can’t live with it, can’t live without it? AI impacts on economic, social, and cultural rights	</title>
	<atom:link href="https://coconet.social/2020/ai-impacts-economic-social-cultural-rights/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/ai-impacts-economic-social-cultural-rights/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 12 Aug 2021 04:09:13 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview		</title>
		<link>https://coconet.social/2020/ai-impacts-economic-social-cultural-rights/#comment-14</link>

		<dc:creator><![CDATA[Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview]]></dc:creator>
		<pubDate>Wed, 25 Mar 2020 12:36:06 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=815#comment-14</guid>

					<description><![CDATA[[&#8230;] the second article in full via the Coconet social website here, and feel free to check out the republished article via Daily Guardian Philippines as [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] the second article in full via the Coconet social website here, and feel free to check out the republished article via Daily Guardian Philippines as [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
