<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Human Rights Day 2020: &#8216;Recover Better&#8217; in Physical and Digital Spaces	</title>
	<atom:link href="https://coconet.social/2020/human-rights-day-digital/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/human-rights-day-digital/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Tue, 22 Dec 2020 08:04:36 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
</channel>
</rss>
