<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: In Myanmar, Digital Rights Are Integral to Policy and Advocacy	</title>
	<atom:link href="https://coconet.social/2020/myanmar-digital-rights-forum-2020/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/myanmar-digital-rights-forum-2020/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 16 Apr 2020 03:09:17 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview		</title>
		<link>https://coconet.social/2020/myanmar-digital-rights-forum-2020/#comment-15</link>

		<dc:creator><![CDATA[Coconet &#124; Artificial Intelligence and Human Rights in Southeast Asia: An Overview]]></dc:creator>
		<pubDate>Fri, 27 Mar 2020 03:53:42 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=882#comment-15</guid>

					<description><![CDATA[[&#8230;] Featuring interviews from Dr. Jun-E Tan and Red Tani of EngageMedia, it was shown during the Myanmar Digital Rights Forum on Feb. 28 and 29, 2020, an event attended by more than 350 participants from government, business, and civil society. You can read our blog about the forum here. [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Featuring interviews from Dr. Jun-E Tan and Red Tani of EngageMedia, it was shown during the Myanmar Digital Rights Forum on Feb. 28 and 29, 2020, an event attended by more than 350 participants from government, business, and civil society. You can read our blog about the forum here. [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
