<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Community and Collaboration at Coconet II	</title>
	<atom:link href="https://coconet.social/2019/community-collaboration-coconet/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2019/community-collaboration-coconet/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Mon, 11 May 2020 12:52:42 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet &#124; Coconet II Public Report: Growing the digital rights movement		</title>
		<link>https://coconet.social/2019/community-collaboration-coconet/#comment-30</link>

		<dc:creator><![CDATA[Coconet &#124; Coconet II Public Report: Growing the digital rights movement]]></dc:creator>
		<pubDate>Mon, 11 May 2020 12:52:42 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=693#comment-30</guid>

					<description><![CDATA[[&#8230;] Community and collaboration at Coconet II [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Community and collaboration at Coconet II [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
