<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Silencing the Media Won&#8217;t Stop the Thailand Protests	</title>
	<atom:link href="https://coconet.social/2020/thailand-protests-media-ban/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social/2020/thailand-protests-media-ban/</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 03 Dec 2020 09:01:34 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>
	<item>
		<title>
		By: Coconet Virtual Reunion: Reaffirming solidarity amid COVID-19 - Coconet		</title>
		<link>https://coconet.social/2020/thailand-protests-media-ban/#comment-52</link>

		<dc:creator><![CDATA[Coconet Virtual Reunion: Reaffirming solidarity amid COVID-19 - Coconet]]></dc:creator>
		<pubDate>Thu, 03 Dec 2020 09:01:34 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=3824#comment-52</guid>

					<description><![CDATA[[&#8230;] Thailand, the government had also attempted to ban four independent media outlets and a Facebook page from broadcasting, claiming that they “threaten national security”. The ban has since been [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Thailand, the government had also attempted to ban four independent media outlets and a Facebook page from broadcasting, claiming that they “threaten national security”. The ban has since been [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Silenciar a los medios no detendrá las protestas estudiantiles en Tailandia		</title>
		<link>https://coconet.social/2020/thailand-protests-media-ban/#comment-49</link>

		<dc:creator><![CDATA[Silenciar a los medios no detendrá las protestas estudiantiles en Tailandia]]></dc:creator>
		<pubDate>Tue, 17 Nov 2020 20:59:39 +0000</pubDate>
		<guid isPermaLink="false">https://coconet.social/?p=3824#comment-49</guid>

					<description><![CDATA[[&#8230;] artículo de Sek Sophal se publicó originalmente en Coconet, plataforma para el desarrollo de movimiento de [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] artículo de Sek Sophal se publicó originalmente en Coconet, plataforma para el desarrollo de movimiento de [&#8230;]</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
