<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Body and Data &#8211; Coconet</title>
	<atom:link href="https://coconet.social/author/body-and-data/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Thu, 22 Oct 2020 06:49:07 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Body and Data &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>#SupportForNikisha: Join Nepali netizens to condemn online harassment against women, gender-diverse people</title>
		<link>https://coconet.social/2020/nepal-statement-nikisha/</link>
					<comments>https://coconet.social/2020/nepal-statement-nikisha/#respond</comments>
		
		<dc:creator><![CDATA[Body and Data]]></dc:creator>
		<pubDate>Fri, 25 Sep 2020 10:47:02 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Highlights]]></category>
		<category><![CDATA[Feminism]]></category>
		<category><![CDATA[Nepal]]></category>
		<category><![CDATA[Online Harassment]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=3454</guid>

					<description><![CDATA[<p>Nepali organisation Body and Data is calling on netizens to condemn online harassment against TikTok and Instagram user Nikisha and women and gender and sexual diverse individuals. </p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/nepal-statement-nikisha/">#SupportForNikisha: Join Nepali netizens to condemn online harassment against women, gender-diverse people</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3454" class="elementor elementor-3454" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-650ddd9 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="650ddd9" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-da96b16" data-id="da96b16" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3a6a9f0 elementor-widget elementor-widget-image" data-id="3a6a9f0" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
									<figure class="wp-caption">
										<img width="768" height="644" src="wp-content/uploads/2020/09/SupportForNikisha-768x644.png" class="attachment-medium_large size-medium_large" alt="" sizes="(max-width: 768px) 100vw, 768px" />											<figcaption class="widget-image-caption wp-caption-text">Image taken from the Body and Data public statement.</figcaption>
										</figure>
								</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1dae520 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="1dae520" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-265761f" data-id="265761f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-641f396 elementor-widget elementor-widget-spacer" data-id="641f396" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-b5c86a6 elementor-widget elementor-widget-text-editor" data-id="b5c86a6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>With the ongoing targeted hatred and discrimination towards queer Nepali YouTuber Nikisha, and people of sexual and gender diversity, we want to stand stronger and louder with queer folks in solidarity. <a href="https://bodyanddata.org/" data-cke-saved-href="https://bodyanddata.org/">Body and Data</a> condemns online harassment against women and gender and sexual diverse individuals.</p><p>To stand in solidarity with Nikisha, please sign the statement below. Since the call for signatures began on September 19, 2020, over 400 individuals and organisations have signed and showed support as of writing.</p><p>Find out more about the campaign by following the hashtag <a href="https://www.facebook.com/hashtag/supportfornikisha?__eep__=6&amp;source=feed_text&amp;epa=HASHTAG&amp;__xts__%5B0%5D=68.ARC3vVAOVcDfSyxATCoUDJ6LL2cCD6wH2UJiMyziDBEe00QYJafKnLmGqF07gozUTzzPpYSttfLJ9z_Vm_Z6chLV3908GYe8trXVx0-hzxJjs1XC3YMp_pg30H8dim2K_7XbJvQztA7gojI10Z4AuhSZtD2_p7xG1V1IozpMVrTHo2SMt40XM19d-0m233b6ATx_s7NzukYkZkOMflSXrQjGMTAiJXUvF4sfHY6et9A96rvi5uFBiHyv3BfSfZKcU5gJCEor41HM7Mui-MJmnhMO5I1METQZSXm01hH8n680DqMJYQl8r7SkZQaVoLfiE36Bwc0UT8uBgP0_wZ0mrRs&amp;__tn__=%2ANK-R" data-cke-saved-href="https://www.facebook.com/hashtag/supportfornikisha?__eep__=6&amp;source=feed_text&amp;epa=HASHTAG&amp;__xts__%5B0%5D=68.ARC3vVAOVcDfSyxATCoUDJ6LL2cCD6wH2UJiMyziDBEe00QYJafKnLmGqF07gozUTzzPpYSttfLJ9z_Vm_Z6chLV3908GYe8trXVx0-hzxJjs1XC3YMp_pg30H8dim2K_7XbJvQztA7gojI10Z4AuhSZtD2_p7xG1V1IozpMVrTHo2SMt40XM19d-0m233b6ATx_s7NzukYkZkOMflSXrQjGMTAiJXUvF4sfHY6et9A96rvi5uFBiHyv3BfSfZKcU5gJCEor41HM7Mui-MJmnhMO5I1METQZSXm01hH8n680DqMJYQl8r7SkZQaVoLfiE36Bwc0UT8uBgP0_wZ0mrRs&amp;__tn__=%2ANK-R">#SupportForNikisha</a> on social media.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5f79c0b elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="5f79c0b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a2b1deb" data-id="a2b1deb" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-69f9c28 elementor-widget elementor-widget-spacer" data-id="69f9c28" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5615721 elementor-widget elementor-widget-text-editor" data-id="5615721" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<h4 style="text-align: center;"><strong>19th September 2020</strong></h4><h2 style="text-align: center;"><strong>Statement for Solidarity and Signature Campaign</strong></h2>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-0467881 elementor-widget elementor-widget-spacer" data-id="0467881" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-dcef1e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="dcef1e9" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b3aa766" data-id="b3aa766" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2f1e03a elementor-widget elementor-widget-text-editor" data-id="2f1e03a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><b>#SupportForNikisha</b><span style="font-weight: 400;"> has been trending in Nepali twitter as a response to a video by a YouTuber where he is seen reacting to Nikisha&#8217;s personal social media accounts including Tiktok videos taken and used out of context, neglecting Nikisha&#8217;s narrative to the stories. This spewed a conversation online about the persistence of abundant hatred towards gender and sexual diverse people.  </span></p><p><span style="font-weight: 400;">One can find many videos of Nikisha online, mostly shared by YouTubers asking Nikisha personal questions around Nikisha&#8217;s life and sexuality, often in a demeaning way. Nikisha&#8217;s presence over Tiktok and other social media platforms is filled with such targeted hate speech and harassment towards Nikisha and other gender and sexually diverse people. The blatantly queerophobic comments re kolated to Nikisha&#8217;s online expression, only further showcases that when people of sexual and gender diversity try to take space on the internet, they are faced with discrimination and violence. </span></p><p><span style="font-weight: 400;">Mind you, that Nikisha is still a minor and having been subjected to this level of online hatred and violence might be detrimental to their mental health. The video in question is dismissive and invalidates Nikisha&#8217;s sexuality and gender expression by constantly using their dead name, and the wrong pronoun. This not only shows a lack of professionalism, but is also a form of rampant transphobia.</span></p><p><span style="font-weight: 400;">Disguising these attacks as &#8216;reaction videos,&#8217; policing the self expression of people from sexual and gender diverse communities, further normalizes homophobia/transphobia and creates as well as perpetuates all forms of negative stereotypes. Entertainers with strong followings should be mindful of the content they are putting on the Internet and how they can influence the general public to aid  marginalizing minority groups. Furthermore these contents are never &#8216;harmless&#8217; and have deleterious consequences on the lives of those who are  targeted and also  for those who do not fit into the gender norms predominant in our society. </span></p><p><span style="font-weight: 400;">Individuals who try to step outside the performance of binary gender norms are attacked, harassed and ridiculed in our society. In online spaces when faced with such violence, many leave the space altogether or self-censor themselves. The internet, like our offline spaces, is controlled and the power thereof is concentrated in the hands of cis-het men from higher castes who are predominantly from upper class. This has been a reason why women and gender diverse individuals are mostly attacked on their bodies and sexuality.  This not only curtails their freedom of expression and sexual expression , but also prohibits their participation in civic spaces by infringing on their right to privacy.</span></p><p><span style="font-weight: 400;">Body and Data condemns online harassment against women and gender and sexual diverse individuals and calls the perpetrators and bystanders to hold themselves and their actions accountable.</span></p><p><b><i>To stand in solidarity with #SupportForNikisha, please sign this statement with your name/pseudonym and your organization/group name (if applicable). Link to the original statement: </i></b><a href="https://files.bodyanddata.org/nextcloud/index.php/s/Ta5LEKXkzgmc6R5"><b><i>Click Here </i></b></a></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4aa5b64" data-id="4aa5b64" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a7b66a4 elementor-widget elementor-widget-text-editor" data-id="a7b66a4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p><span style="font-weight: 400;">एक चर्चित युटुबरले निकिशा श्रेष्ठको टिकटक लगायत व्यक्तिगत सोसल मिडिया अकाउन्टमा भएको भिडियोहरुलाई लिएर निकिशाको व्यक्तिगत अनुभव र कथालाई भने उपेक्षा गरी असार्दर्भिक र भद्धा मजाक गरिएको भिडियो आफ्नो युट्युब च्यानलमा प्रकाशन गरेसँगै नेपाली ट्वीटरमा अहिले </span><b>#SupportForNikisha</b><span style="font-weight: 400;"> अभियानको थालनी भएको छ । यसले अनलाईनमा लैंगिक तथा यौनिक विविधता भएका व्यक्तिहरुमाथि हुने घनिभूत अपमान र घृणासम्बन्धी बहस अघि बढाएको छ । </span></p><p><span style="font-weight: 400;">केही अघि देखि नै निकिशाका विभिन्न प्रस्तुति भएका भिडियोहरु अनलाइनमा प्रशस्त भेट्न सकिन्छ । जसमा विभिन्न युट्युबरहरुले निकिशाको व्यक्तिगत जीवन त्यसमा पनि विशेष उनको यौनिकतामाथि अपमानजनक तरिकाले प्रश्नहरु सोधिएका भिडियोहरु धेरै भेटिन्छन् । निकिशा प्रस्तुत भएको त्यस्ता भिडियोहरुमा ऊ र समग्र लैंगिक तथा यौनिक विविधता भएका समुदायमाथि नै घृणायुक्त शब्द, गाली गलौजले भरिएका कमेन्टहरुको थुप्रो हुने गर्दछन् । लैंगिक तथा यौनिक विविधता भएका व्यक्तिहरुले अनलाइनमा आफ्नो उपस्थिती जनाउदै आफूलाई अभिव्यक्त गर्ने प्रयास गरिरहदा यस्ता विक्षिप्त र घृणापूर्ण कमेन्टहरु आउनुले उनीहरुमाथि हुने अनलाईन हिंसा र विभेद कति बलियो र कहालीलाग्दो छ भन्ने स्पष्ट पारेको छ । </span></p><p><span style="font-weight: 400;">यहाँनिर बिर्सन नमिल्ने कुरा भनेको निकिशा एक नाबालिग हुन् र यो हदसम्मको अनलाइन हिंसा र घृणा भोगिरहदा उनको मानसिक स्वास्थ्यमा असर पर्ने पनि उत्तिकै खतरा छ । उल्लिखित भिडियोमा निकिशाको पुरानो (मृत) नाम र गलत संम्बोधनको बारम्बार प्रयोग गरी उनको यौनिकता र लैंगिक अभिव्यक्तिलाई सिधै नकारिएको देखिन्छ । जसले युट्युवरको पेशागत जिम्मेवारीको अभाव त देखाएको छ नै सँगसँगै यस्तो कार्य क्वेयर फोवियाकै एउटा नमुना भएको प्रष्ट बताउन सकिन्छ ।   </span></p><p><span style="font-weight: 400;">निश्चित समूदायमाथि आक्रामक त्यस्ता भिडियोहरुलाई &#8216;प्रतिकृत्यात्मक भिडियो&#8217; को नाम दिदैमा त्यसले हुने हानी कम गर्दैन । यसले त अझ विविध लैंगिक तथा यौनिक समुदायबाट आएका व्यक्तिको स्वः अभिव्यक्तिलाई पुलिसिंग गर्ने र होमोफोबिया तथा ट्रान्सफोबियालाई सामान्यीकरण गर्दै सबै प्रकारका नकारात्मक स्टिरियोटाइपहरू स्थापित गर्दछ । अधिकतम् फलोअर्स भएका यस्ता मनोरंजनकर्मीहरु आफूले इन्टरनेटमा राखेको सामग्रीले अल्पसंख्यक समुहहरुलाई झनै सीमान्तीकरण गर्नको सट्टा उनीहरुलाई सहयोग पुग्ने गरी सामान्य जनसमुदायमा कस्तो सन्देश लैजाने भन्ने विषयमा बढी सजक हुनुपर्छ। साथै, यस्ता सामग्रीहरू पूर्णतः ’हानी रहित’ भने हुँदैनन् र आक्रमित समूदाय तथा समाजमा हावी रहेको लैंगिक मापदण्डहरूमा नपर्ने व्यक्तिको जीवनमा यसले थुप्रै हानिकारक परिणामहरू ल्याउछ भन्ने कुरा पनि मनन गरिनुपर्छ ।</span></p><p><span style="font-weight: 400;">समाजमा रहेको कि महिला कि पुरुष भन्ने द्वयसांखिक लैङ्गिक मापदण्ड भन्दा भिन्न लैंगिक प्रस्तुतीकरण गर्ने व्यक्तिहरुमाथि सामाजिक आक्रमण, उत्पीडन र उपहासपूर्ण व्यबहार गरिन्छ। अनलाइन र इन्टरनेटमा यस्ता खालका हिंसाहरु सामना गर्नु पर्दा, कत्तिले त्यो स्थानै छाड्छन वा आफैलाई प्रतिबन्धित गर्छन। इन्टरनेट या अनलाई स्पेस पनि हाम्रो वास्तविक दुनियाँ (अफलाईन स्पेस )जस्तै माथिल्लो बर्ग अनि उच्च जातका सिस हेट पुरुषहरू मै केन्द्रित र उनीहरुद्वारा नै नियन्त्रित छ । जसका कारण महिला र विविध लैंगीकता भएका व्यक्तिहरुको शरीर र यौनिकतामाथि अधिकतम् आक्रमण हुने गर्छ । यसले उनीहरुको यौनिक तथा समग्र अभिव्यक्ति स्वतन्त्रतालाई मात्र नभई गोपनियताको अधिकारलाई समेत हनन गरी सार्वजनिक स्थानहरुमा उनीहरुको सहभागितालाई निषेध गर्दछ ।</span></p><p><span style="font-weight: 400;">त्यसैले बडी एण्ड डाटा, समग्र महिला र लैंगिक तथा यौनिक विविधता भएका व्यक्तिहरू बिरूद्ध हुने अनलाइन हिंसा तथा उत्पीडनको निन्दा गर्दछ र दोषी तथा दोषीलाई मुकदर्शक भएर साथ दिने समुहलाई आफू र आफ्ना कार्यप्रति उत्तरदायी हुन आहृान् गर्दछ।  </span></p><p><b><i>अन्तमा हामी यस #SupportForNikisha अभियानका लागि यस ऐक्यबद्धता पत्रमा आफ्नो नाम या छद्यम् नाम सहितको हस्ताक्षर र ( उपयुक्त लागेमा) आफू आबद्ध संस्था या समुहको नाम सहित ऐक्यबद्दताका लागि आमन्त्रण गर्दछौं ।</i></b><span style="font-weight: 400;"> </span></p><p><i><span style="font-weight: 400;">मुख्य पत्रको लागि लिंक:  </span></i><a href="https://files.bodyanddata.org/nextcloud/index.php/s/Ta5LEKXkzgmc6R5"><i><span style="font-weight: 400;">यता क्लिक गर्नुहोस् </span></i></a></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1c6e79b elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="1c6e79b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-da2a297" data-id="da2a297" data-element_type="column">
			<div class="elementor-column-wrap">
							<div class="elementor-widget-wrap">
								</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-c1da3dd elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="c1da3dd" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8309f01" data-id="8309f01" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-cf31ef1 elementor-widget elementor-widget-text-editor" data-id="cf31ef1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>About the Author</span></div></div><p><em><a href="https://bodyanddata.org/" data-cke-saved-href="https://bodyanddata.org/">Body and Data</a> is a movement based in Nepal that integrates feminism, technology and Internet rights, gender, and sexuality. They envision creating a free, open, and just Internet that respects the autonomy of the individual and upholds their dignity. A representative of Body and Data previously attended the <a href="https://coconet.social/camps" data-cke-saved-href="https://coconet.social/camps">Coconet camps</a>. </em></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/nepal-statement-nikisha/">#SupportForNikisha: Join Nepali netizens to condemn online harassment against women, gender-diverse people</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/nepal-statement-nikisha/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
