<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Digital Rights &#8211; Coconet</title>
	<atom:link href="https://coconet.social/category/digital-rights-th/feed/" rel="self" type="application/rss+xml" />
	<link>https://coconet.social</link>
	<description>A Platform for Digital Rights Movement Building in the Asia-Pacific</description>
	<lastBuildDate>Wed, 11 Aug 2021 03:38:28 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.1</generator>

<image>
	<url>https://coconet.social/wp-content/uploads/2019/07/favicon-150x150.png</url>
	<title>Digital Rights &#8211; Coconet</title>
	<link>https://coconet.social</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>“สิทธิดิจิทัล” คืออะไร?</title>
		<link>https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/</link>
					<comments>https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/#comments</comments>
		
		<dc:creator><![CDATA[kathleen azali]]></dc:creator>
		<pubDate>Thu, 01 Oct 2020 05:24:30 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[Uncategorized @th]]></category>
		<category><![CDATA[บล็อก]]></category>
		<category><![CDATA[ไฮไลท์]]></category>
		<category><![CDATA[Coconet]]></category>
		<category><![CDATA[สิทธิทางดิจิทัล]]></category>
		<category><![CDATA[สิทธิมนุษยชน]]></category>
		<guid isPermaLink="false">https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/</guid>

					<description><![CDATA[<p>“สิทธิดิจิทัล” คืออะไร? คำว่า “สิทธิมนุษยชน” มีนิยามที่ชัดเจนตามปฏิญญาสากลว่าด้วยสิทธิมนุษยชน (UDHR) และถูกนำไปประยุกต์ใช้จริงกับกฎหมายจำนวนมาก ขณะที่คำว่า “ดิจิทัล” “เทคโนโลยี” หรือ “อินเทอร์เน็ต” ยังคงเป็นที่ถกเถียง ถูกตีความอย่างกว้างขวางและหลากหลายกว่า</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/">“สิทธิดิจิทัล” คืออะไร?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3536" class="elementor elementor-3536" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-1854fa8c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="1854fa8c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56a5389f" data-id="56a5389f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2cbdb012 elementor-widget elementor-widget-text-editor" data-id="2cbdb012" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="844" src="wp-content/uploads/2020/07/coconet-digital-rights.jpg" class="vc_single_image-img attachment-full" alt="Coconet II Camp Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div>
			<figcaption class="vc_figure-caption">At Coconet II, 120 film-makers, researchers, human rights advocates, technologists, lawyers, academics, and journalists across the region working on issues such as disinformation, fake news, digital security among others. </figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>เมื่อมีคนถามว่า “อะไรคือสิทธิดิจิทัล?” บ่อยครั้งคำตอบที่ง่ายที่สุดก็คือ “สิทธิมนุษยชนในโลกดิจิทัล” หรือ “<a href="https://eyeondesign.aiga.org/what-is-designs-role-in-violating-or-upholding-digital-rights/">สิทธิมนุษยชนที่เกิดขึ้นผ่านเทคโนโลยีและอินเทอร์เน็ต</a>”</p>
<p>คำว่า “สิทธิมนุษยชน” มีนิยามที่ชัดเจนตาม<a href="https://www.un.org/en/universal-declaration-human-rights/">ปฏิญญาสากลว่าด้วยสิทธิมนุษยชน (UDHR)</a> และถูกนำไปประยุกต์ใช้จริงกับกฎหมายจำนวนมาก ขณะที่คำว่า “ดิจิทัล” “เทคโนโลยี” หรือ “อินเทอร์เน็ต” ยังคงเป็นที่ถกเถียง ถูกตีความอย่างกว้างขวางและหลากหลายกว่า</p>
<p>“ <i>หนังสือ</i>” มักจะใช้ปนกับคำว่า“<i>ออนไลน์</i>” หรือ“ <i>อินเทอร์เน็ต</i>” ทั้งที่จริงๆ ดิจิทัลไม่จำเป็นต้องเชื่อมต่อกับอินเทอร์เน็ตเสมอไป ข้อมูลไบโอเมทริกอย่างการจดจำใบหน้าหรือลายนิ้วมือเป็นหนึ่งในตัวอย่างว่าดิจิทัลไม่ใช่แค่เรื่องที่อยู่บนโลกออนไลน์เท่านั้น</p>
<p>ส่วนคำว่า “<i>เทคโนโลยี</i>” หรือที่เรียกกันสั้นๆ ว่า “เทค” (<i>tech</i>) ในช่วงหลายทศวรรษที่ผ่านมามักหมายถึงเทคโนโลยี<i>ดิจิทัล</i>โดยเฉพาะ ซึ่งดูจะเป็นการมองข้ามคุณค่าและความสำคัญของเทคโนโลย<i>ีอนาล็อก</i>ไป หากคุณลองพิมพ์ค้นหาคำว่า “เทค” ดู ก็จะพบว่าผล การค้นหาเป็นเรื่องดิจิทัลเป็นส่วนใหญ่ แต่ขณะเดียวกัน การถาโถมเข้ามาของเทคโนโลยีดิจิทัลตลอด<a href="https://www.vox.com/2017/5/2/15518900/digital-analog-rediscover-tactile-physical-experiences-vinyl-print">หลายสิบปีที่ผ่านมาก็เริ่มทำให้ใครหลายคนเริ่มโหยหาอดีต</a> เห็นได้จากเทรนด์การกลับมาของสิ่งของตกยุคอย่างแผ่นเสียงและหรือหนังสือกระดาษที่ถูกมองว่าทรงคุณค่า</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>สำรวจนิยาม ความท้าทาย และสมมติฐาน</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ในระหว่าง<a href="/?page_id=1154">ค่ายสิทธิดิจิทัลที่มีชื่อว่า “Coconet II”</a> เมื่อเดือนตุลาคมปี 2562 เราได้ให้ผู้เข้าร่วมทั้ง 120 คนช่วยกันนิยามสิทธิดิจิทัลในบริบทของภูมิภาคเอเชีย-แปซิฟิก แน่นอนว่าคำตอบที่ได้นั้นหลากหลายมาก ดังต่อไปนี้</p>

		</div> 
	</div> <div class='q_list circle'>
<ul>
 	<li>สิทธิดิจิทัลคือการใช้สิทธิมนุษยชนสากลในพื้นที่ดิจิทัล</li>
 	<li>สิทธิดิจิทัลคือสิทธิในการแสดงออกในพื้นที่ดิจิทัลที่เน้นเรื่องความปลอดภัย ความเป็นส่วนตัว มั่นคง และยั่งยืน</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานที่ติดตัวมาตั้งแต่เกิด ซึ่งส่งเสริมการเปิดกว้าง การเข้าถึงสาธารณูปโภคและข้อมูลอย่างเท่าเทียมกัน สิทธิดิจิทัลรับประกันการควบคุม อำนาจเหนือตนเอง ตัวแทนของมนุษย์ และป้องกันการทำให้มนุษยชาติถูกนำมาแปลงเป็นเงินตราหรือถูกผูกขาด</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนขั้นพื้นฐานในสภาพแวดล้อมแบบดิจิทัล มักเกี่ยวข้องกับทั้งเสรีภาพในการพูด เสรีภาพในการแสดงออก การรวมกลุ่ม การรวมตัว การเข้าถึงอุปกรณ์อินเทอร์เน็ต สิทธิในการเข้าถึงข้อมูลและแพลตฟอร์ม (เช่น เฟซบุ๊ก ทวิตเตอร์ และอื่นๆ) ไปจนถึงการเข้าถึงพื้นที่ปลอดภัยบนสังคมออนไลน์ ความมั่นคง ความปลอดภัย และความเท่าเทียม</li>
 	<li>สิทธิดิจิทัลคือส่วนหนึ่งของสิทธิมนุษยชนที่รับรองว่าทุกคนจะสามารถเข้าถึงอินเทอร์เน็ตที่ถูกจัดการแบบเปิดกว้าง รับผิดชอบ และโปร่งใส เพื่อรับประกันสิทธิเสรีภาพของประชาชน โดยไม่คำนึงถึงเพศ รสนิยมทางเพศ อายุ เชื้อชาติ และอื่นๆ</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนแบบออนไลน์ซึ่งเอื้อให้เกิดการเข้าถึงข้อมูลและเสรีภาพในการแสดงออกในพื้นที่ปลอดภัย เคารพความเป็นส่วนตัวและความปลอดภัย</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนที่มีตามธรรมชาติ ทั้งสำหรับผู้ใช้เทคโนโลยีสารสนเทศ (ICT) และผู้ที่ไม่ได้ใช้ รวมไปถึงการรับรองการเข้าถึงสิทธิที่เท่าเทียมกันในการเข้าถึงข้อมูล เทคโนโลยี และองค์ความรู้ ปราศจากความรุนแรง การสอดแนม และการเลือกปฏิบัติ ตลอดจนเคารพความเป็นส่วนตัว อำนาจเหนือตนเอง และการตัดสินใจด้วยตนเอง</li>
 	<li>สิทธิดิจิทัลคือสิทธิมนุษยชนออนไลน์ที่เกี่ยวข้องกับการเข้าถึง การมีส่วนร่วม ความปลอดภัยของข้อมูล และความเป็นส่วนตัว ด้วยค่านิยมที่ยึดมนุษย์เป็นศูนย์กลางทั้งเรื่องศักดิ์ศรี ความเคารพ ความเท่าเทียม ความยุติธรรม ความรับผิดชอบ ความยินยอม และความยั่งยืนทางสิ่งแวดล้อม</li>
 	<li>สิทธิดิจิทัลให้ความสำคัญกับมนุษย์มากกว่าบริษัทเอกชน และควรกระตุ้นการมีส่วนร่วมอย่างยุติธรรมและเท่าเทียม</li>
</ul>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>หลากหลายคำตอบจาก Coconet II เหล่านี้ตอกย้ำใจความสำคัญที่เราอ้างไว้ตั้งแต่ต้นว่าสิทธิดิจิทัลคือสิทธิมนุษยชนในโลกดิจิทัล <i>อินเทอร์เน็ต</i> <i>เทคโนโลยี</i> มีความหลากหลายอย่างมากเมื่อเทียบกับการตีความสิทธิมนุษยชน โดย<i>ดิจิทัล</i>ถูกตีความร่วมกับโลกออนไลน์และการเชื่อมต่ออินเทอร์เน็ตอยู่บ่อยครั้ง</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ศัพท์อีกสองคำที่มักถูกใช้ปะปนกันคือ “จริง” และ “เสมือนจริง” ซึ่งมีนัยยะว่า<a href="https://www.journals.uchicago.edu/doi/pdfplus/10.1086/687362">การปฏิสัมพันธ์ทางกายภาพนั้น “จริง” กว่าการปฏิสัมพันธ์แบบ “เสมือนจริง” บนโลกดิจิทัล</a> แต่ถ้าใช้สมมติฐานนี้ แสดงว่าการปฏิสัมพันธ์ดิจิทัลทุกอย่างไม่เป็นเรื่องจริงหรือไม่? นัยยะสำคัญของสมมติฐานนี้คืออะไร? มันจะหมายความว่าการคุกคามออนไลน์ไม่ถือเป็นการคุกคามจริงๆ ได้หรือเปล่า? แล้วถ้าเป็นแบบนั้น การปฏิสัมพันธ์ทางกายภาพถือว่าเป็นจริงทั้งหมดทุกกรณีหรือไม่? โลกออนไลน์และออฟไลน์มีเส้นแบ่งที่ชัดเจนเสมอหรือว่ามันเกี่ยวโยงและมีอิทธิพลต่อกัน?</p>
<p>ยิ่งไปกว่านั้น ยังต้องคำถามอื่นๆ อีกมากมายที่ฟังดูอาจเหมือนง่ายแต่ไม่ง่ายรอให้เราตอบอีกมากมาย มาถึงตรงนี้คุณอาจระบุคำตรงข้ามทางดิจิทัลได้บ้างแล้ว เช่น ออนไลน์-ออฟไลน์ ดิจิทัล-อนาล็อก จริง-เสมือนจริง เป็นต้น แต่ผู้เขียนมองว่าโลกดิจิทัลมีความหลากหลายมากกว่าการตีความแบบขั้วตรงข้ามที่มีแค่สองด้าน</p>
<p>คำนิยามและสมมติฐานเหล่านี้เปิดกว้างต่อการอภิปรายถกเถียง บทความนี้ไม่ได้มีเป้าหมายเพื่อให้คำตอบที่สมบูรณ์ แต่เพื่อท้าทายความคิดของเรา และเพื่อพิจารณาความยุ่งเหยิงซับซ้อนในการตีความด้านสิทธิดิจิทัล ผู้เขียนตระหนักเป็นอย่างดีว่าการให้คำนิยามเรื่องนี้มีความหลากหลายแตกต่างกันออกไปอย่างมาก</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="http://coconet.social/camps" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="1307" src="wp-content/uploads/2019/11/coconet-harun-42.jpg" class="vc_single_image-img attachment-full" alt="Defend Digital Rights" sizes="(max-width: 1500px) 100vw, 1500px" /></div></a>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><em>ศึกษาข้อมูลเพิ่มเติมเกี่ยวกับการต่อสู้ด้านสิทธิดิจิทัลของผู้นำการเปลี่ยนแปลงในเอเชีย-แปซิฟิกได้ที่ <a href="/?page_id=1154">Coconet.social/Camps</a></em></p>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ระบุขอบเขตและสร้างกรอบคิด</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่ามีความพยายามมากมายทั้งในระดับโลก ภูมิภาค และท้องถิ่นในการแจกแจงองค์ประกอบต่างๆ ของสิทธิดิจิทัล ยกตัวอย่างเช่น กฎบัตรสิทธิทางอินเทอร์เน็ตของ <a href="https://www.apc.org/en/pubs/about-apc/apc-internet-rights-charter">APC (APC Internet Rights Charter)</a> และกฎบัตรสิทธิมนุษยชนและหลักการอินเทอร์เน็ต (<a href="http://internetrightsandprinciples.org/site/charter/">Charter of Human Rights and Principles for the Internet</a>) โดยภาคีพลวัตสิทธิและหลักการอินเทอร์เน็ต ณ การประชุมธรรมาภิบาลอินเทอร์เน็ตของสหประชาชาติ the UN Internet Governance Forum (IGF) กฎบัตรทั้งสองได้วางโครงสร้างว่ามาตรฐานด้านสิทธิมนุษยชนจะถูกนำมาตีความและประยุกต์ใช้กับโลกออนไลน์อย่างไรบ้าง</p>
<p>ขณะที่ปฏิญญาแอฟริกาว่าด้วยสิทธิและเสรีภาพอินเทอร์เน็ต (<a href="https://africaninternetrights.org/articles/">The African Declaration on Internet Rights and Freedoms</a>) เป็นข้อตกลงระดับภูมิภาคที่อธิบายหลักการที่จำเป็นในการปกป้องเสรีภาพบนอินเทอร์เน็ต ตลอดจนการสร้างสภาพแวดล้อมออนไลน์ที่จะเป็นประโยชน์ต่อการพัฒนาทางสังคมและเศรษฐกิจของทวีปแอฟริกาโดยเฉพาะ ส่วนภาคประชาสังคมในฟิลิปปินส์ก็เคยประกาศ<a href="https://www.fma.ph/ph-declaration-internet-rights-principles/">ปฏิญญาฟิลิปปินส์ว่าด้วยเสรีภาพและหลักการอินเทอร์เน็ต (the Philippine Declaration on Internet Rights and Principles)</a> เมื่อปี 2558 ซึ่งเป็นการระดมกำลังเพื่อสะท้อนความฝันและความหวังถึงอินเทอร์เน็ตที่พวกเขาอยากเห็น</p>
<p>การศึกษาขององค์การการศึกษา วิทยาศาสตร์ และวัฒนธรรมแห่งสหประชาชาติ (UNESCO) เมื่อปี 2015 พบว่า<a href="https://unesdoc.unesco.org/ark:/48223/pf0000234435">มีปฏิญญาและเอกสารแนวทางที่เกี่ยวข้องกับอินเทอร์เน็ตมากกว่า 50 ฉบับด้วยกัน</a> และในปีเดียวกันนั้น <a href="https://dash.harvard.edu/handle/1/28552582">ศูนย์เบิร์กแมนไคลน์เพื่อการวิจัยอินเทอร์เน็ตและสังคม (Berkman Klein Center for Internet and Society Research)</a> ได้วิเคราะห์เอกสารลักษณะนี้รวม 30 ฉบับด้วยกัน โดยพบว่ามีสิทธิที่เกี่ยวข้องในเรื่องนี้อยู่ 42 ประการด้วยกัน สามารถแบ่งออกได้เป็น 7 กลุ่มหลัก ได้แก่ เสรีภาพในการแสดงออก สิทธิความเป็นส่วนตัว และสิทธิการเข้าถึงอินเทอร์เน็ต ซึ่งเป็นสามกลุ่มที่ถูกพูดถึงมากที่สุด นอกจากนี้ ยังมีเรื่องเสรีภาพในการเข้าถึงข้อมูล ความโปร่งใส การเปิดกว้างของระบบธรรมาภิบาลและเครือข่ายอินเทอร์เน็ต</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>ข้อเสนอ: สิทธิดิจิทัลสี่ขอบเขต</h3>

		</div> 
	</div> 
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><a href="https://jun-etan.com/">Jun-E Tan</a>ผู้เข้าร่วม Coconet II จากประเทศมาเลเซีย ซึ่งมีประสบการณ์วิจัยด้านสิทธิดิจิทัลในอาเซียน ระบุว่าการศึกษาและงานวิจัยต่างๆ เกี่ยวกับสิทธิดิจิทัลมักจะเลือกหยิบสิทธิแค่ 2-3 ประการที่เป็นประโยชน์มาศึกษา เพื่อประโยชน์ในการวิเคราะห์และงานรณรงค์ของพวกเขาเท่านั้น โดยเธอระบุว่าถ้าปราศจากขอบเขตกรอบคิดเรื่องสิทธิดิจิทัลแล้ว เราอาจจะหลงลืมหรือมองข้ามสิทธิประการอื่นๆ ที่ก็อาจมีความสำคัญไม่แพ้กันไปได้</p>
<p>ใน<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf">งานวิจัยเกี่ยวกับสิทธิดิจิทัลในอาเซียนเมื่อปี 2019</a> Jun-E เสนอให้มีการขยายกรอบคิดเรื่องสิทธิดิจิทัลเป็น 4 ขอบเขตด้วยกัน คือ</p>

		</div> 
	</div> <div class='q_list circle'>
<ol>
 	<li>การมองว่าดิจิทัลเป็นพื้นที่ๆ หนึ่ง ดังนั้น สิทธิดิจิทัลก็คือสิทธิมนุษยชนในพื้นที่ดิจิทัล</li>
 	<li>การมองว่าดิจิทัลเป็นข้อมูลตัวแทนของตัวตนทางกายภาพ ดังนั้น สิทธิดิจิทัลจึงพุ่งเป้าไปที่ความปลอดภัยทางข้อมูลและความเป็นส่วนตัว</li>
 	<li>การเข้าถึงพื้นที่ดิจิทัลและการมีส่วนร่วมอย่างมีความหมาย</li>
 	<li>การมีส่วนร่วมในระบบธรรมาภิบาลดิจิทัลและอินเทอร์เน็ต</li>
</ol>
</div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			
		<figure class="vc_figure">
			<a href="https://jun-etan.com/documents/Digital-Rights-in-Southeast-Asia-Conceptual-Framework-and-Movement-Building.pdf" target="_blank"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="602" height="662" src="wp-content/uploads/2020/07/4spheresdigitalrights.png" class="vc_single_image-img attachment-full" alt="" /></div></a>
			<figcaption class="vc_figure-caption">ตารางจากวิจัยของ Jun-E ที่ชื่อว่า &quot;Exploring the Nexus Between Technologies and Human Rights: Opportunities and Challenges in Southeast Asia&quot;</figcaption>
		</figure>
	
		</div>
	</div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>แน่นอนว่าข้อเสนอของ Jun-E ไม่อาจสรุปเป็นกรอบความคิดที่ครอบคลุมทุกประเด็นได้ เพราะต้องคำนึงว่ากรอบคิดของเธอสร้างมาจากการศึกษาวิจัยจากประเทศมาเลเซีย ไทย และฟิลิปปินส์เท่านั้น (คุณสามารถอ่านงานวิจัยของเธอเพื่อศึกษาเพิ่มเติมเกี่ยวกับความซับซ้อนและความท้าทายในการสร้างกรอบคิดเรื่องสิทธิดิจิทัลในบริบทอาเซียนได้)</p>
<p>อย่างที่ผู้เขียนได้กล่าวมาแล้วหลายครั้งข้างต้นว่ามีความพยายามที่จะระบุนิยามและสร้างกรอบคิดเรื่องสิทธิดิจิทัลที่หลากหลายในแต่ละมุมโลก ซึ่งรวมถึงบริบทของภูมิภาคเอเชีย-แปซิฟิกด้วย เราจึงหวังเป็นอย่างยิ่งว่าการแลกเปลี่ยนและร่วมแบ่งปันความคิดเห็นจากผู้เข้าร่วม Coconet จะช่วยกันสร้างกลยุทธ์และขบวนการขับเคลื่อนประเด็นเรื่องสิทธิดิจิทัล ตลอดจนยังได้ทบทวนความคิดเกี่ยวกับขอบเขตของสิทธิดิจิทัลได้มากขึ้นในอนาคต ซึ่งถ้าคุณมีข้อเสนอหรือไอเดียใดที่น่าสนใจ <a href="/?page_id=248">สามารถบอกเราได้เลย</a></p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div class="vc_text_separator wpb_content_element full separator_align_center"><div style=''><span>เกี่ยวกับผู้เขียน</span></div></div>
	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Kathleen Azali ปัจจุบันทำงานในตำแหน่ง Digital Rights Program Manager ที่องค์กร EngageMedia เธอเป็นนักวิจัยสายนักกิจกรรมที่ทำงานในประเด็นเกี่ยวข้องกับเทคโนโลยี การออกแบบ และเศรษฐศาสตร์การเมือง</p>

		</div> 
	</div> </div></div></div></div></div>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/">“สิทธิดิจิทัล” คืออะไร?</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/%e0%b8%aa%e0%b8%b4%e0%b8%97%e0%b8%98%e0%b8%b4%e0%b8%94%e0%b8%b4%e0%b8%88%e0%b8%b4%e0%b8%97%e0%b8%b1%e0%b8%a5-%e0%b8%84%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</title>
		<link>https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/</link>
					<comments>https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/#respond</comments>
		
		<dc:creator><![CDATA[Coconet News]]></dc:creator>
		<pubDate>Tue, 18 Aug 2020 09:04:39 +0000</pubDate>
				<category><![CDATA[Digital Rights]]></category>
		<category><![CDATA[บล็อก]]></category>
		<category><![CDATA[ไฮไลท์]]></category>
		<category><![CDATA[Southeast Asia]]></category>
		<category><![CDATA[Thailand]]></category>
		<category><![CDATA[ปัญญาประดิษฐ์]]></category>
		<guid isPermaLink="false">https://coconet.social/?p=2803</guid>

					<description><![CDATA[<p>ด้วยประโยชน์ของการแปลงานในประเด็นที่เกี่ยวข้องกับเทคโนโลยีเช่นนี้ย่อมช่วยเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเรา ซึ่งมีความหลากหลายทั้งทางภาษาและวัฒนธรรม จึงได้เลือกแปลบทความทั้งสามชิ้นของ Jun-E Tan ที่เกี่ยวกับสถานการณ์ของปัญญาประดิษฐ์ (Artificial Intelligence: AI) ในภูมิภาคเอเชียตะวันออกเฉียงใต้เป็นภาษาไทย โดยธีรดา ณ จัตุรัส ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div      class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Read this article in <a href="https://coconet.social/2020/artificial-intelligence-thai-translation/">English</a></h3>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>บ่อยครั้งการแปลภาษาอังกฤษจากแหล่งความรู้ต่างๆ มักไม่ง่ายนักและไม่สามารถแปลได้แบบตรงๆ โดยเฉพาะเมื่อศัพท์เทคนิคเหล่านั้นเกี่ยวกับทางด้านเทคโนโลยีดิจิทัล ความหมายของศัพท์นั้นๆ จึงแปลแบบตรงตัวตามที่ปรากฏในภาษาอื่นๆ ไม่ได้ อย่างไรก็ดี ได้ปรากฏว่ามีความต้องการงานแปลงานทางเทคนิคเช่นนี้เพื่อเป็นประโยชน์ในการเผยแพร่ความรู้แก่ผู้ที่สนใจในภูมิภาคของเราซึ่งมีความหลากหลายทั้งภาษาและวัฒนธรรม</p>
<p>จากที่ได้มีการแปลบทความ <a href="/?page_id=1191">“วิธีรักษาความปลอดภัยในโลกออนไลน์ 101”</a> ใน<a href="/?page_id=1296">หลายๆ ภาษา</a> รวมทั้ง<a href="https://lab.ocf.tw/2020/05/22/digitalhygiene101-zh/">การแปลเป็นภาษาจีน</a>มาแล้วในอดีต ซึ่งจริงๆแล้วการแปลบทความนี้เป็นผลงานของมูลนิธิ Open Culture Foundation (OCF) ในประเทศไต้หวันซึ่งเป็นส่วนหนี่งของชุมชน Coconet ของเรา</p>
<p>หลังจากนั้นเราได้เลือกแปลบทความทั้งสามชิ้นที่เกี่ยวกับ<a href="/?page_id=847">สถานการณ์ของ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้</a>ที่เขียนโดย Jun-E Tan และแปลเป็นภาษาไทย โดย <a href="https://www.ukfiet.org/author/teerada-na-jatturas/">ธีรดา ณ จัตุรัส</a> ผู้ที่ยินดีอาสาสมัครมาช่วยแปลบทความในซีรี่ย์ที่เกี่ยวกับ AI ซึ่งปัจจุบันธีรดาทำงานเป็นที่ปรึกษาทางด้านการวางแผนนโยบายทางด้านการศึกษาของ UNESCO Paris หลังจากจบการศึกษาทางด้านการสื่อสารดิจิทัล ด้วยปริญญาปรัชญา (MPhil in Digital Communications) จากมหาวิทยาลัย University of Westminster ในลอนดอน</p>
<p>ข้อความด้านล่างนี้เป็นความเห็นจากธีรดา เกี่ยวกับประสบการณ์ในการแปลจากไทยเป็นอังกฤษของบทความ AI ชุดนี้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

<div      class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'><div class=" full_section_inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8220;จากประสบการณ์ในการทำวิจัยทางด้านเศรษฐศาสตร์การเมืองในการสื่อสาร ทำให้ได้เห็นถึงความคล้ายคลึงหลายประการที่ปรากฏในบทความ AI และในงานวิทยานิพนธ์ของตนเอง ด้วยเหตุนี้ตนเองจึงมีความคุ้นเคยกับคำศัพท์เทคนิคเหล่านี้อยู่แล้วจึงทำให้แปลบทความได้เร็วขึ้น แถมยังช่วยให้ตนเองได้เรียนรู้ศัพท์เทคนิคใหม่ๆอีกด้วย ทั้งนี้บทความ AI ชุดนี้ยังได้สะท้อนถึงผลการวิจัยของงานวิทยานิพนธ์ของตนเองในหลายๆ ด้านที่เกี่ยวกับการเพิ่มการควบคุมอินเตอร์เน็ตที่มาจากความร่วมมือของรัฐเผด็จการและบริษัททางเทคโนโลยีต่างๆ ซึ่งตนเห็นว่ามีความจำเป็นในการให้ความสำคัญเรื่องความปลอดภัยทางไซเบอร์และความเป็นส่วนตัวบนโลกออนไลน์ผ่านทางหลักสูตรของโรงเรียน สถาบันการศึกษา และการสร้างทางเลือกอื่นๆ ในการสื่อสารที่ไม่ใช่แค่จากแพลตฟอร์มโซเชียลมีเดียกระแสหลัก เพื่อการรักษาความเป็นนิรนามในการปกปิดอัตลักษณ์ของคนใช้อินเตอร์เน็ตเอง พร้อมทั้งยังช่วยปกป้องข้อมูลส่วนตัวของผู้ใช้เอง&#8221;</p>
<p>&#8220;ซึ่งการที่ได้อาสาแปลบทความครั้งนี้ช่วยให้ตนเองได้ทำความเข้าใจประเด็นใหม่ๆเกี่ยวกับ AI ที่มีผลต่อการพัฒนาทางสังคม และยังทำให้ตนเองได้รับรู้เกี่ยวกับการพัฒนาใหม่ๆที่เกี่ยวกับการประยุกต์ใช้ AI ในภูมิภาคเอเชียตะวันออกเฉียงใต้ ซึ่งมีผลกระทบต่อสิทธิทางพลเมือง สิทธิทางการเมือง และสิทธิทางสังคมและวัฒนธรรมต่างๆของผู้คน โดยเฉพาะผู้ที่เห็นต่างจากรัฐ ผู้หญิง และเยาวชน นั่นทำให้ได้ไอเดียใหม่ๆที่ช่วยพัฒนาทั้งทางวิชาการและการทำงานของตนเองในอนาคต&#8221;</p>

		</div> 
	</div> </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1080" height="720" src="wp-content/uploads/2020/02/artificial-intelligence-4111582_1920.jpg" class="vc_single_image-img attachment-full" alt="Artificial Intelligence. Image by Gerd Altmann from Pixabay" sizes="(max-width: 1080px) 100vw, 1080px" /></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>สามารถอ่านซีรีย์บทความเกี่ยวกับ AI เป็นภาษาไทยได้ที่</p>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Part 1: <a href="https://coconet.social/th/2020/%e0%b8%9b%e0%b8%b1%e0%b8%8d%e0%b8%8d%e0%b8%b2%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%94%e0%b8%b4%e0%b8%a9%e0%b8%90%e0%b9%8c-artificial-intelligence-ai-%e0%b8%81%e0%b8%b1%e0%b8%9a%e0%b8%82%e0%b9%89/">ปัญญาประดิษฐ์ (Artificial Intelligence: AI) กับข้อกังวลด้านสิทธิมนุษยชนในสังคมเอเชียตะวันออกเฉียงใต้: ภาพรวม</a></li>
<li>Part 2: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%ad%e0%b8%a2%e0%b8%b9%e0%b9%88%e0%b8%a3%e0%b9%88%e0%b8%a7%e0%b8%a1%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b9%84%e0%b8%94%e0%b9%89%e0%b8%ab%e0%b8%a3/">เราจะอยู่ร่วมกับ AI ได้หรือไม่: ปัญญาประดิษฐ์ (Artificial Intelligence) กับผลกระทบต่อสิทธิทางเศรษฐกิจ สังคม และวัฒนธรรม</a></li>
<li>Part 3: <a href="https://coconet.social/th/2020/%e0%b9%80%e0%b8%a1%e0%b8%b7%e0%b9%88%e0%b8%ad-ai-%e0%b8%81%e0%b8%a5%e0%b8%b2%e0%b8%a2%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%ad%e0%b8%b2%e0%b8%a7%e0%b8%b8%e0%b8%98%e0%b8%97%e0%b8%b5%e0%b9%88/">เมื่อ AI กลายเป็นอาวุธที่มีผลกระทบต่อสิทธิพลเมืองและสิทธิทางการเมือง</a></li>
</ol>
</li>
</ol>

		</div> 
	</div> </div></div></div></div></div>	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>


	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>ธีรดา ยังได้อธิบายเพิ่มเติมถึงความจำเป็นในการเพิ่มแหล่งความรู้ที่เกี่ยวกับ AI และ Machine Learning ในภาษาอื่นๆ ที่นอกเหนือไปจากภาษาอังกฤษเพื่อการเผยแพร่ความรู้ในภูมิภาคนี้ &#8220;ไม่ว่าจะเป็นผู้ที่คิดต่างทางการเมือง ผู้ลี้ภัย บุคคลที่มีความต้องการช่วยเหลืออย่างเป็นพิเศษ เด็กผู้หญิง ผู้หญิง และชนกลุ่มน้อยต่างๆ ที่ขาดความชำนาญทางภาษาอังกฤษควรที่จะได้เข้าถึงข้อมูลที่เกี่ยวกับความสำคัญในการรักษาความเป็นส่วนตัวบนโลกออนไลน์ และสิทธิทางดิจิทัล (digital rights) ในภาษาของตน ซึ่งการรู้สิทธิต่างๆ เหล่านี้ก็จะช่วยให้พวกเราสามารถลุกขึ้นปกป้องสิทธิของตนเองจากการละเมิดสิทธิโดยรัฐ และบริษัทเทคโนโลยีทั้งหลาย&#8221;</p>
<p>ขอบคุณธีรดาที่อาสาช่วยแปลงานเป็นภาษาไทย และสำหรับผู้ที่สนใจเป็นอาสาสมัครแปลบทความเป็นภาษาต่างๆ สามารถ<a href="/?page_id=248">ติดต่อทีมงานเรา</a> เพื่อสอบถามข้อมูลเพิ่มเติมได้</p>

		</div> 
	</div> 	<div class="vc_empty_space"  style="height: 32px" ><span
			class="vc_empty_space_inner">
			<span class="empty_space_image"  ></span>
		</span></div>

</div></div></div></div></div>
<p>The post <a rel="nofollow" href="https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/">บทความที่เกี่ยวกับ AI ที่มีผลต่อประเด็นสิทธิมนุษยชนในภูมิภาคเอเชียตะวันออกเฉียงใต้ แปลเป็นภาษาไทยแล้ว</a> appeared first on <a rel="nofollow" href="https://coconet.social">Coconet</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://coconet.social/2020/%e0%b8%9a%e0%b8%97%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%81%e0%b8%b1%e0%b8%9a-ai-%e0%b8%97%e0%b8%b5%e0%b9%88/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
